[2015-03-09 09:59] darko-mijic commented on #379
@ilanbiala, in my opinion complexity that Browserify will introduce is a price I am willing to pay. :)
I also agree that AMD is not a good idea.

I think that isomorphic JavaScript and the ability to share modules between frontend and backend goes very well with the idea of full-stack JS framework. And it definitely goes well with DRY principle.

I am currently working on a port of MeanJS to suppo

[2015-03-09 10:08] darko-mijic commented on #366
:+1:

One of the thing that should be changed in my opinion is returning only first validation error in errors.server.controller.js:

[code]

In order to display all server-side validation errors this must be changed and I have changed it in my project.

[2015-03-09 10:37] ilanbiala commented on #447
It looks like you may be using a library. If you are, see if any options there have any effect. Buttons can't really get called by themselves in Angular so it must be some extra code that is doing it.

[2015-03-09 10:39] ilanbiala commented on #379
If you would like to submit a PR to have it in the generator, we can work with that.

[2015-03-09 13:58] garimaaswal opened #461 "Server not loading pages"
Our application has about 7-8 modules now, running on master 0.3 version of MEAN.js. Offlate, since the number of client js assets has increased alot, and all the assets are loaded the first time the user hits the page, the application has become very very slow. The GET requests in the log mostly show neither the 200 nor the 304 status code.

Is anyone else having issue with slow load times in the

[2015-03-09 16:30] ilanbiala commented on #461
@garimaaswal you can concatenate the scripts into each module file to save on requests or even concatenate into 1 file if you have no naming conflicts.

[2015-03-09 16:31] #461 closed

[2015-03-09 16:39] ilanbiala commented on #153
@igorauad has this been resolved?

[2015-03-09 16:40] ilanbiala commented on #293
@sielay is this still an issue?

[2015-03-09 16:41] ilanbiala commented on #299
@simison if you have a short script that you use, then we can integrate it under scripts/.

[2015-03-09 16:41] #299 closed

[2015-03-09 16:45] igorauad commented on #153
@ilanbiala this discussion was not continued, so I guess you could close. Perhaps this could be further considered in #343

[2015-03-09 16:45] ilanbiala commented on #369
@denzelwamburu I think we should start with porting over meanjs/mean to ngMaterial, and then moving the generator over. However, I think that's more appropriate for the next major version after 0.4, which hopefully will come along much quicker than 0.4 is.

[2015-03-09 16:46] #379 closed

[2015-03-09 16:50] #450 closed

[2015-03-09 16:50] ilanbiala commented on #450
Just merged #453 in, so this should be fixed.

[2015-03-09 16:53] ilanbiala commented on #446
Please format your code in GFM code blocks and clarify what you would like it to look like.

[2015-03-09 16:53] #153 closed

[2015-03-09 16:55] ilanbiala commented on #390
The PR for this issue was merged in, should be resolved.

[2015-03-09 16:56] ilanbiala commented on #393
Please post questions like this on Stackoverflow and the forums before coming here. If this is still an issue after exploring those solutions, then feel free to comment with your progress.

[2015-03-09 16:56] #393 closed

[2015-03-09 17:01] karan-kapoor90 commented on #461
Hi ilan, is that good practise? Should that be done at runtime or should we
just do that at development time? Because then it makes so sense to have
this granular a folder structure of that's what we have to do in the end.

On Monday, March 9, 2015, Ilan Biala <notifications@github.com> wrote:

[2015-03-09 17:07] ilanbiala commented on #385
Custom modifications shouldn't be in MEAN.js.

[2015-03-09 17:07] #385 closed

[2015-03-09 17:07] ilanbiala commented on #400
@denzelwamburu take a look at #343. We'll do all the refactoring in 1 PR.

[2015-03-09 17:07] #400 closed

[2015-03-09 17:08] ilanbiala commented on #461
Depends on your app's performance, in many cases it may be necessary to speed up initial page load time.

[2015-03-09 20:48] lirantal commented on #369
agree with @ilanbiala, and @denzelwamburu if you're up for the challenge we'll be more than happy if you want to take a look into it.

[2015-03-09 20:53] davestacey commented on #360
Thanks FREEZX, that's what I thought. I created with yo meanjs, I used the default gruntfile.js and also tried the gruntfile.js from "14- Fixing 'mean' build issue". When I deploy to Heroku, or run NODE_ENV=production grunt, it doesn't seem to be generating public/dist/application.js. Not a show stopper since I have a work around. To recreate the issue, I followed the process http://meanjs.org/gen

[2015-03-09 21:00] FREEZX commented on #360
@davestacey the generator generates with 0.0.1, because it's the initial state of your own application.
That happens here:
https://github.com/meanjs/generator-meanjs/blob/master/app/templates/_package.json#L4
From what i see, the github repository is pretty much up to date, so you should not be worried.

[2015-03-09 21:02] davestacey commented on #360
Just to clarify, should I be able to run "NODE_ENV=production grunt" and have public/dist/application.js generated?

[2015-03-09 21:05] FREEZX commented on #360
@davestacey Nope, only `grunt build` should create `public/dist/application.js` as well as `public/dist/application.min.js`

[2015-03-09 21:23] davestacey commented on #360
ok I found what I was missing, I need to run "NODE_EVN=production grunt build", Edo78 also mentioned that earlier and I missed it, thanks for all the help!!

[2015-03-09 22:32] mbukosky commented on #360
@davestacey I normally test my local production build using

[code]

Hope that helps

[2015-03-09 23:21] amirmo commented on #369
Going with ngMaterial = big time community exposure for meanjs
+1

[2015-03-10 00:20] ilanbiala commented on #369
I've already worked with ngMaterial, so I can definitely help guide you, but it should definitely be off the 0.4 branch.

[2015-03-10 00:40] hawmen commented on #446
a bit like this:
https://github.com/hawmen/mean/commit/1fc9179ab36ce257e384f2cb99ca9a5813c1fbcd

[2015-03-10 00:43] ilanbiala commented on #448
@wang3g when doesn't it work?

[2015-03-10 00:44] ilanbiala commented on #432
Please repost this on the generator repo. Just a start, it looks like running `npm install` again may fix it. Try cleaning the cache as well with `npm cache clean`.

[2015-03-10 00:44] #432 closed

[2015-03-10 00:44] ilanbiala commented on #430
@radjivC has this been resolved?

[2015-03-10 00:46] ilanbiala commented on #431
@chelsh seems like it should work now. Feel free to comment if you still have any issues.

[2015-03-10 00:46] #431 closed

[2015-03-10 00:46] ilanbiala commented on #435
@chelsh this issue hasn't come up with anyone else. Your code must be modified in some way. Please post to Stackoverflow or the forums before coming here.

[2015-03-10 00:46] #435 closed

[2015-03-10 00:48] ilanbiala commented on #383
@nhhockeyplayer it seems that the package.json for another package is malformed, try to post their with the issue. This doesn't seem to be related to MEAN.js, so I'm going to close it unless you comment with more info that shows that it is.

[2015-03-10 00:48] #383 closed

[2015-03-10 00:50] ilanbiala commented on #174
@Rykka this seems to be a bug in that browser's implementation, because all commonly used browsers handle MEAN.js fine. In the future, please post on Stackoverflow or the forums before coming here.

[2015-03-10 00:50] #174 closed

[2015-03-10 00:51] ilanbiala commented on #357
@xxorax this may be more suited for the generator. It seems that not many people use it, so feel free to just add it in yourself.

[2015-03-10 00:51] #357 closed

[2015-03-10 00:52] ilanbiala commented on #356
@xxorax this seems specific to your application design, so we'll leave this out of MEAN.js for now.

[2015-03-10 00:52] #356 closed

[2015-03-10 00:53] ilanbiala commented on #352
If anyone wants to create a PR for Swagger documentation, I can get it merged in.

[2015-03-10 00:54] ilanbiala commented on #202
@jcaspian has this been fixed? We've done a lot of OAuth restructuring, so I think some things may have been taken care of.

[2015-03-10 00:55] ilanbiala commented on #241
It seems that Heroku deploys just fine with MEAN.js. As for issues regarding minified files in Git, you can open another issue for that if you still think it's an issue.

[2015-03-10 00:55] #241 closed

[2015-03-10 00:56] ilanbiala commented on #360
If anyone wants to submit a PR that fixes this, that would be much appreciated.

[2015-03-10 00:59] ilanbiala commented on #351
LoopBack is somewhat different in its implementation and will cause issues when other people want to just use Express. It probably makes more sense in the generator if anything.

[2015-03-10 00:59] #351 closed

[2015-03-10 01:03] FREEZX commented on #360
Here
https://github.com/meanjs/mean/pull/464

[2015-03-10 01:03] ilanbiala commented on #361
As of now, our flow is pretty well-defined and people haven't complained about it. That said, if you want to create a PR, we can gauge interest for it. In the mean time, I'm going to close this issue.

[2015-03-10 01:03] #361 closed

[2015-03-10 01:09] ilanbiala commented on #389
This is something that isn't necessary in MEAN.js, so I'm going to close this issue unless anyone has a compelling argument.

[2015-03-10 01:09] ilanbiala commented on #430
I'm going to close this issue. If this still comes up, please repost on the generator repo.

[2015-03-10 01:09] #430 closed

[2015-03-10 01:10] #424 closed

[2015-03-10 01:11] ilanbiala commented on #387
Please post questions like this on Stackoverflow or on the forums before coming here. If you still have this issue, then comment again with your progress and we'll try to help.

[2015-03-10 01:11] #387 closed

[2015-03-10 02:15] wang3g commented on #448
99% of time, it does not work in IE. I did not change even one line of code. I also tried the IE in another laptop. Same result.

[2015-03-10 02:50] ilanbiala commented on #448
@wang3g https://www.modern.ie/en-us/screenshots#http%3A%2F%2Fmeanjs.herokuapp.com%2F%23!%2F shows that IE11 renders it properly. What do you see?

[2015-03-10 03:32] wang3g commented on #448
Most of UIs can be rendered properly in IE. The problem only occurs in the following scenario:
Step 1) Sign in;
Step 2) Click  'Articles->New Article', then input some text, then submit.
Step 3) Click  'Articles->List Articles', the newly added article in Step 2 is supposed to be displayed on the screen, but it is not.
Step 4) Click 'Signout', then 'Sign in', then click  'Articles->List Articles',

[2015-03-10 04:08] davestacey commented on #360
@mbukosky - That helped, sorry if I missed it in the documentation. Running "NODE_ENV=production grunt heroku:production" did the trick and everything is pushing to Heroku as expected. Thanks again.

[2015-03-10 06:40] mukulsngl opened #465 "meanjs with official yo generator is showing error"
meanjs with official yo generator is showing error :error getting collection:session
Please resolve that issue
Later I retried through cloning github repository and it worked smoothly :)

[2015-03-10 09:07] ym-cron-eu commented on #398
@superandrew I just had that problem - it's because of how paths in mean.js are defined, so that it depends on the process.pwd(). since I'm running stagecoach, I had to add a --workingDir to the forever start params. hope that helps!

[2015-03-10 09:54] radjivC commented on #430
@ilanbiala it's still here, I will post the post on the generator repo, thanks for you help

[2015-03-10 10:43] ilanbiala commented on #465
Please post this on the generator repo.

[2015-03-10 10:43] #465 closed

[2015-03-10 10:54] neilhanekom opened #466 "Getting a "Uncaught Reference" error to Angular Js when launched in production mode"
I needed to test whether I can run meanjs app in Production mode on a ubuntu machine before I attempt to continue to create anything further in the scaffolded project.

So Constructed the Meanjs app through Yo and literally done nothing further and went on to grunt build.

So I performed a Grunt Build on  and set NODE_ENV=Production node server.(BTW whenever I set NODE_ENV=Production grunt I get a

[2015-03-10 11:50] karan-kapoor90 commented on #447
I'm using the same uploader thats used in the mean 0.4 branch to upload user profile images. This is the same scenario depicted in #461 where the pages are not loading.

for all GET / POST requests to server, the console gets stuck in as

    GET /api/doSomething -- -- ms -- --

is it normal to not get a status code when initial loading?

Also the duplicate calls happen when the page has loaded an

[2015-03-10 12:01] mbukosky commented on #466
I think I got this same issue before and I solved it by making sure that my config/env/production.js had the same references as the config/env/all.js . For some reason I needed to mirror my assest:lib:js changes from all.js to production.js

[2015-03-10 13:54] neilhanekom opened #467 "Error: error:unpr Unknown Provider after minification happens in grunt build"
When I run Meanjs in Production mode, after I did a grunt build the authentication service when used/ Injected in any controller throughs up a "Unknown Provider Error" in the Console:

Error: [$injector:unpr] http://errors.angularjs.org/1.3.14/$injector/unpr?p0=AuthenticationProvider%20%3C-%20Authentication%20%3C-%20HomeController

This is most definetly an issue with the grunt build and minificat

[2015-03-10 13:55] NavneetNile opened #468 "Cordova app with angularjs"
I am trying to make android mobile app using cordova. I have created an application in MEAN.js framework and it is working properly and now i am trying to convert this application into an android mobile application so i tried a lot but could not find a proper solution. Please help me to find the way for creating android mobile app using cordova. Thankyou.

[2015-03-10 14:04] mbukosky commented on #467
Did you try looking at #360 ?

[2015-03-10 14:21] neilhanekom commented on #467
been looking at it all day. Am I to use NODE_ENV=production grunt build..?
I see there is a fix but where to Get this.......?

On Tue, Mar 10, 2015 at 4:04 PM, Mike Bukosky <notifications@github.com>
wrote:

--

Neil Hanekom
082 098 1180 (C)
neilhanekom1@gmail.com

[2015-03-10 14:34] mbukosky commented on #467
I believe the fix is pending a [PR](https://github.com/FREEZX/mean/commit/a10805bfae19548e40e675517d62c7b0a558b2fe)

If you make these changes locally does it work for you?

[2015-03-10 14:40] neilhanekom commented on #467
Oaky so I changed the gruntfile according to fix in #464. Now there is no
minification happening at all. Console throws : Warning: Task "loadConfig"
not found. Used --force, continuing...

On Tue, Mar 10, 2015 at 4:35 PM, Mike Bukosky <notifications@github.com>
wrote:

--

Neil Hanekom
082 098 1180 (C)
neilhanekom1@gmail.com

[2015-03-10 14:47] karan-kapoor90 commented on #461
Alright, I did as you suggested. Seems to have helped ALOT!! Thanks.

[2015-03-10 15:45] mbukosky commented on #467
Odd, do you have a repo I can clone? I can try looking at it later tonight.

[2015-03-10 16:23] dotch commented on #468
take a look at [ionic](http://ionicframework.com/), which is based on angular and takes care of the native wrapping with cordova for you. however, it does not allow you will have to do a lot of manual work to extract your angular client side logic from your meanjs application first.
Otherwise look at the [cordova docs](http://cordova.apache.org/docs/en/4.0.0/), google some tutorials and ask on sta

[2015-03-10 16:39] neilhanekom commented on #467
Sure Thanks very much. I am going to send you a repo shortly.

On Tue, Mar 10, 2015 at 5:45 PM, Mike Bukosky <notifications@github.com>
wrote:

--

Neil Hanekom
082 098 1180 (C)
neilhanekom1@gmail.com

[2015-03-10 16:47] neilhanekom commented on #467
https://github.com/neilhanekom/avuxeni.git

On Tue, Mar 10, 2015 at 5:45 PM, Mike Bukosky <notifications@github.com>
wrote:

--

Neil Hanekom
082 098 1180 (C)
neilhanekom1@gmail.com

[2015-03-10 16:48] mbukosky commented on #467
Thanks, will clone later tonight.

[2015-03-10 20:04] adamwalz commented on #466
@mbukosky This is due to extending default and environment assets using `_.extend(object, sources)`. If a change is made to production client js assets then extend wipes out everything else in the default client assets object. I think a better alternative to this structure would be to flatten the assets structure instead of having nested objects so that extending can work as expected without havin

[2015-03-10 20:59] ckapop commented on #41
I noticed user roles were added to the User model: http://meanjs.org/changelog.html
Is there any documentation on the best way to use this feature? I do not think the generator supports it yet.

[2015-03-10 22:24] ilanbiala commented on #468
@dotch is correct. Please direct these questions to a more appropriate forum such as stackoverflow.

[2015-03-10 22:24] #468 closed

[2015-03-10 23:07] ilanbiala commented on #447
Check with console.log to see where the route handlers stop.

[2015-03-11 01:16] v4l3r10 commented on #41
in 0.3 i have found  a user.hasAuthorization module that helped me  to make an ACL system for REST:

[code]
and in user.roles model i have added different roles

and in  angularjs app added a new module called "admin" and filter it on menu with:
[code]
addMenuItem accept a param that as an array of ROLES

[2015-03-11 02:40] mbukosky commented on #467
I think I figured out the issue of why you are getting the 'loadConfig' issue. It is because you are missing the custom task in your gruntfile.js

[code]

After adding this, I was able to get rid of the warning. But please note I was still not able to get the landing page to load. You will need to point the correct assets for your js and css. Your project has a different layout then MEAN so I coul

[2015-03-11 05:12] jcaspian commented on #202
@ilanbiala I can see that currently FacebookStrategy is using the user's registered Facebook email address for the profile.username field. E.g. jeff_wong@example.com, "jeff_wong" will be used.

As for the second issue mentioned regarding Facebook permission, the problem seems to still there.

To reproduce:
1. Open MeanJS app.
2. Sign up an account via Facebook Login
3. During Facebook permission p

[2015-03-11 08:35] denzelwamburu commented on #369
Sure,i agree with all the suggestion.But it should not replace the bootstrap,it should be an option during installation in the generator.
I don't have that experience in ngMaterial but am ready to give it a try

[2015-03-11 10:25] ilanbiala commented on #202
@jcaspian is this only for Facebook or for the others as well?

[2015-03-11 10:52] karan-kapoor90 opened #469 "Use express-socket.io-session to better connect express-session to socket"
I ported the socket implementation from the 0.4 branch to my code based on the 0.3 branch, but I noticed that the io.use middlware loading does not get called the first time a user logs in.

It runs when the user refreshes his page!

Would it be better to use express-socket.io-session to get express session and socket to work in harmony? Has anyone seen this issue before?

    var io = socketio.li

[2015-03-11 10:58] neilhanekom commented on #369
I also using ngMaterial with the 0.4.0 branch. Obviously upgrading to
Angular 1.3 is required. This off course works great in Development mode. I
have picked up a few issues when minification is done through "grunt
build". Seems like $injector cannot pickup certain dependencies that being
injected. Dunno whether is due to ngAnnotate that is causing this.... If
any of you can help resolved this.. i

[2015-03-11 11:13] jcaspian commented on #202
@ilanbiala I'm sorry I have only tested with FacebookStrategy but not the other passport providers but I believe if the other providers have the permission features then this issue may exists in them as well.

I have done some research earlier today and I found that we can pass a parameter to Facebook while making Login request to re-request permissions that are previously denied.

The parameter i

[2015-03-11 12:02] mbukosky commented on #466
That makes sense, thanks for explaining

[2015-03-11 14:08] trevis-baker commented on #94
What is the status on this?  Is it implemented?

[2015-03-11 21:00] lirantal commented on #369
Let's leave this thread open and get back to it once we release 0.4, until then all efforts should focus on 0.4 getting out.

[2015-03-11 21:13] lirantal commented on #389
@ilanbiala I actually find this PR very interesting. Tokens are very popular around mobile apps and provide the benefits of a stateless app. We can take a look at it once 0.4 is out, but of course it's not a requirement for 0.4 itself.

[2015-03-11 22:32] ilanbiala commented on #466
@neilhanekom problem solved?

[2015-03-11 22:33] ilanbiala commented on #94
This hasn't been implemented. If you'd like to contribute this feature, that would be great. The only thing is that we should merge #343 first because that will affect the user model. Take a look at #343 and see if you can suggest any changes first, and then we can add in user verification.

[2015-03-11 22:35] ilanbiala commented on #389
It makes lots of sense for mobile apps, but it does add some extra complexity to the Angular code I think. Since we have no mobile app setup in MEAN.js, aren't we just adding complexity for most users?

[2015-03-12 01:27] britztopher commented on #389
@ilanbiala i use mean.js for a mobile app with ionic and cardova and using a token based auth would be much easier to work with.  I think just because there is no mobile app setup doesnt mean people arent using mean.js for mobile.  Especially, with mobile first using html5 like bootstrap or whatever.

[2015-03-12 01:34] britztopher opened #470 "UI-Bootstrap/ Modal window Getting Layout Page as a Response"
So it appears that when you try to use $modal or even angular material's $mdDialog Im getting some weird behavior.  First this works fine:

[code]

however when I use something like this:
[code]
I get the following errors:

[code]
anyone getting this too?

[2015-03-12 01:41] britztopher opened #471 "UI-Bootstrap/Angular-Material Modal/Dialog window Getting Layout Page as a Response"
So it appears that when you try to use $modal or even angular material's $mdDialog Im getting some weird behavior.  First this works fine:

[code]

however when I use something like this:
[code]
I get the following errors:

[code]
Also, the response for fetching the `mytemplate.tmpl.html` ends up being just the layout page with some funny entries where css files should be.  For example,

[code]
an

[2015-03-12 01:47] britztopher commented on #471
ok, weird thing was. I thought I could use a relative path for my view, but apparently it was just that.  I had to use a path from root directory, so `modules`

[2015-03-12 01:47] #471 closed

[2015-03-12 02:00] ilanbiala commented on #470
The post is unfinished. Please review the code because another very similar issue was posted a little bit ago.

[2015-03-12 02:01] ilanbiala commented on #389
@britztopher how much did you change to get a mobile app with MEAN.js working?

[2015-03-12 02:11] #470 closed

[2015-03-12 02:19] britztopher commented on #389
Well i have a desktop and mobile app that use the same backend.  For example, the mean.js application angular side runs on desktop and on mobile web.  I then have another application that runs with the ionic framework, (just angular directives built for mobile application), this uses cordova to build and package up my mobile application into a android and ios runnable application.  So if you are a

[2015-03-12 03:16] ilanbiala commented on #389
So what I'm saying is that having MEAN.js support a mobile app packaging setup like Cordova means adding more code that for most users will just bloat the library. I think the best thing is if users like you write blog posts and create videos about modifying MEAN.js for these scenarios. MEAN.js was designed to be flexible, so we can incorporate these changes, but are 95% of users going to make use

[2015-03-12 04:37] wesleyfsmith commented on #389
@ilanbiala I agree with what you are saying. I'm actually building an iconic app that will talk with meanjs, but I don't think this should go in the main framework.

It sounds to me more like it should be added as a module, similar to mean-seo. I thought features that are common requests, but not so common that they should be part of core meanjs should be added as additional modules (such as file

[2015-03-12 04:56] wesleyfsmith opened #472 "Why do we have all.js if we have development.js"
So currently, if I specify a 3rd party library to be included under all.js, it only gets included when NODE_ENV is set to 'development'. This confused me for a while when I was starting with mean.js and it was a bitch of a 'gotcha' before I realized I needed to include the minified files under production.js

What I'm getting at is, why do we even have an all.js file if it only getting loaded durin

[2015-03-12 06:22] karan-kapoor90 opened #473 "Mean 0.4 io.use called on clicking 'Chat'"
I was going through the mean 0.4 code and I noticed that the io.use middleware loading is called when the user clicks on the Chat item on the top menu, and not on first time page loading/ user login. Can't find the code that actually does that. Can anybody help?

[2015-03-12 06:36] karan-kapoor90 commented on #468
@wesleyfsmith and @britztopher I believe you've done something like this. Could you please point me in the right direction? Haven't got anything on it from the ionic team or SO yet. Any resources that you could care to share please?

[2015-03-12 12:33] jloveland commented on #389
I am also interested in this feature. I would like to leverage the backend services API and allow authentication from a mobile app.

There seem to be a lot of benefits using token auth such as not needing to keep authentication state, serving front end via CDN, no CSRF, and persistent token store.

Is there interest in adding this to the generator project?

here's a nice blog that discusses token

[2015-03-12 13:09] britztopher commented on #389
Also, can this just replace the session based authentication/authorization model?  I dont know if passport has a way to pass back a token rather than store a session object, but this might be a good feature to replace the currently existing pattern.

[2015-03-12 16:12] SOSANA commented on #389
Count me as apart of 95% that want this option. There are benefits mentioned above. In fact was hoping to do a PR request on generator for iconic integration in future along with material design :)

[2015-03-12 16:28] ilanbiala commented on #389
@SOSANA adding in lots of design frameworks as options requires maintaining them, and right now that's somewhat because each one requires different templates, logic, and changes to keep up with the versions.

[2015-03-12 16:51] lirantal commented on #389
@ilanbiala I can think of scenarios where users will choose MEAN.JS for it's server-side only due to it's simple, and good structure and will implement their own UI (whether it's another service like a mobile app or whatever). In this use-case it makes sense for MEAN.JS to support tokens.

I see there's enough interest and a lot of activity on this item so let's keep it open and get back to it aft

[2015-03-12 16:57] lirantal commented on #94
Let's make sure we're doing it on 0.4 if possible

[2015-03-12 17:02] ilanbiala commented on #94
@lirantal As part of 0.4.0 or in 0.4.x? I'm assuming you mean 0.4.0 since it would probably be a breaking change.

[2015-03-12 17:20] lirantal commented on #472
this is on 0.4 or master? sounds like a bug

[2015-03-12 18:51] wesleyfsmith commented on #472
This is on master. I've been doing it for a while, I only realized that it didn't seem like intended behavior.

[2015-03-12 20:27] dk253 commented on #295
Not sure if anyone is listening here anymore... but I ran into the same issue.  Fixed it with a hack in the UserSchema.pre function.  Not perfect, but works for now.
Changed the if statement to read:
if (this.password && this.password.length > 6 && this.password.length < 60) {

[2015-03-12 20:53] ckapop commented on #41
Thank you v4l3r10!

[2015-03-13 00:30] SOSANA commented on #389
@ilanbiala  @lirantal Thanks for having an open mind and considering our arguments for these new features. I was wondering if you're still using trello for or road map? If so can we open it to the public to speed up the 4.0 transition.

[2015-03-13 12:44] mbukosky commented on #472
I ran into this "issue" before. I never really understood the purpose of the all.js.

[2015-03-13 16:22] tcwd opened #474 "jshint:all failing in fresh install"
I just started trying out the mean.js boilerplate and had no issues with the master branch. When I got a fresh install of 0.4.0, however, I noticed that it has some errors in the jshint:

      Running "jshint:all" (jshint) task

         modules/core/client/services/socket.io.client.service.js
            8 |            this.socket = io();
                                         ^ 'io' is not de

[2015-03-13 16:28] tcwd commented on #474
Ah, okay -- I realized that I omitted the .jshintrc file. Issue closed.

[2015-03-13 16:28] #474 closed

[2015-03-13 17:35] avilaton opened #475 "Unable to use 0.4.0 version of the generator"
This might just be related to my ignorance, but I'm unable to get it running with yeoman to test it. I use nvm and cloned the repo then I checked out the branch and ran `npm link .`
[code]
but no luck, yeoman cannot see it. Any ideas of what I might have to do?

[2015-03-13 19:49] #475 closed

[2015-03-13 19:49] avilaton commented on #475
my bad... sorry

[2015-03-14 00:40] spyhole opened #476 "the CURD of the generator for 0.4.0version does not work right"
whan i call "yo meanjs:curd-module customer", it call works as "yo meanjs".

[2015-03-14 00:46] Shrizzy commented on #476
To create a vertical (crud) module in 0.4.0, please use this syntax:
yo meanjs:vertical-module <entity>
so for your example, it would be: yo meanjs:vertical-module customer

Closing this issue - please have a look at this issue in the generator-meanjs repo: https://github.com/meanjs/generator-meanjs/issues/79

[2015-03-14 00:46] #476 closed

[2015-03-14 00:49] spyhole commented on #476
thx @Shrizzy !

[2015-03-14 18:42] mpescarmona opened #477 "Deploy to openshift"
My question is about the feasibility to add support for deployment of mean boilerplate into openshift.

[2015-03-14 20:50] ilanbiala commented on #477
@mpescarmona you should first try cloning this repository and having MongoDB accessible and adding in the environment variables. It should work at that point, but if you have any other questions, feel free to come back with more info so we can help more.

[2015-03-14 22:24] guillermo85 commented on #389
Tokens auth +1 :+1: good work @ricardodovalle !

[2015-03-15 21:33] mpescarmona commented on #477
@ilanbiala thanks a lot for your help, but I couldn't get deployed the meanjs demo application on OpenShift.
I did the follow things:
* Clone a fresh copy of this repository
* Update the config files to take in consideration the OpenShift environment vars, as this link says: https://developers.openshift.com/en/node-js-getting-started.html
* Update the mongoDb database connection, and commit to my

[2015-03-16 01:38] ilanbiala commented on #477
Can you put these in code blocks? It's much easier to read code and errors that way.

[2015-03-16 03:18] mpescarmona commented on #477
Sorry, I have updated my comment with the code blocks.

[2015-03-16 03:21] ilanbiala commented on #477
Maybe it timed out? I would submit a support issue to Openshift. It would be great if you could post the solution here so others will know and we can add it to the docs.

[2015-03-16 03:31] puttyman commented on #477
Here is my production.js file. Hope it helps

[code]

[2015-03-16 03:33] mpescarmona commented on #477
Seems as not a timeout issue. Did you see the --timeout 600 (seconds) on the executed command ?.
So I will ask for support to Openshift, but, do you have any idea about the cause ?

[2015-03-16 03:55] ilanbiala commented on #477
@mpescarmona When I asked Openshift about it, they said that cloning from a Git repo has a timeout of 2 minutes, but that could have changed.

[2015-03-16 06:57] karan-kapoor90 commented on #477
I'm also looking to do the same thing. Any success yet ?

On Mon, Mar 16, 2015 at 9:25 AM, Ilan Biala <notifications@github.com>
wrote:

[2015-03-16 06:58] karan-kapoor90 commented on #389
+1

On Sun, Mar 15, 2015 at 3:55 AM, Guillermo Rodríguez <
notifications@github.com> wrote:

[2015-03-16 07:03] lirantal commented on #389
Not using trello @SOSANA so let's just keep this thread open and get back to it later on when time allows.

BTW, is there a PR against 0.4 to enable the token authentication or no work on that has started yet?

[2015-03-16 16:33] britztopher commented on #389
I was going to start here shortly, as I need to have this in place for my use case.  I plan to use passport's documented way, and then add an http request interceptor on angular side to attach token to header.  Also, use a response interceptor to stash the token in a SessionStorage object.  What do you all think?

[2015-03-16 17:07] dotch commented on #389
sounds good!
you can also take a look at [generator-angular-fullstack](https://github.com/DaftMonk/generator-angular-fullstack) which relies on token-auth.

[2015-03-16 20:53] lirantal commented on #472
looking at the code in config/config.js it shows as follows:
[code]
which means that it will extends all.js with any configuration of NODE_ENV.
can you explain what exactly do you mean include a 3rd party?

[2015-03-16 20:55] lirantal commented on #467
looks like its resolved?

[2015-03-16 20:55] #467 closed

[2015-03-16 20:56] lirantal commented on #389
+1 for generator-angular-fullstack - could be a good reference

[2015-03-17 03:06] wcmetz0 commented on #335
Hello.  Has there been additional progress on the timeline to upgrade to Angular 1.3?    Thank you to all of the contributors, this is a great framework.

[2015-03-17 03:10] SOSANA commented on #335
Someone working on the PR for this? There would be two seperate PR's right? one for meanjs-generator and one for core project?

[2015-03-17 08:48] spaceghostu opened #479 "How to disable livereload for secure server?"
I am getting this error when trying to run `grunt secure`

`Mixed Content: The page at 'https://192.172.1.67/' was loaded over HTTPS, but requested an insecure script 'http://127.0.0.1:35729/livereload.js?ext=Chrome&extver=2.0.9'. This request has been blocked; the content must be served over HTTPS.`

and my content does not load, i am not sure if this is related

[2015-03-17 09:47] #479 closed

[2015-03-17 09:47] spaceghostu commented on #479
issue was not with grunt live reload, but a live reload browser extension

[2015-03-17 12:08] darko-mijic commented on #369
I suggest using Lumix (http://ui.lumapps.com/) instead of Angular Material. Lumix is also AngularJS implementation of material design.

My suggestion is also migrating forms to angular-formify (https://github.com/formly-js/angular-formly) with Lumix templates (https://github.com/formly-js/angular-formly-templates-lumx).

[2015-03-17 14:50] JuanCaicedo commented on #335
I think I remember someone on the core team saying that the main project is just supposed to be a reflection of the generator-meanjs, so in theory it only needs to get added there. That being said, I'm not sure how they keep them in sync, so you might want to make a PR to generator-means and then reference it in a PR to meanjs.

And last I checked, there was no work on moving to 1.3, so I'm sure t

[2015-03-17 20:15] anderskristo opened #481 "Add class to body depending on where i am"
How do i manage to add class to body tag depending which route I'm on?

ex, If on "/" add class 'home" to body, if on "/users" add class 'users' to body.

[2015-03-18 01:35] ilanbiala commented on #481
https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-sref-active, not MEAN.js specific by the way.

[2015-03-18 01:35] #481 closed

[2015-03-18 20:59] britztopher commented on #389
@lirantal is there a reason why you labeled this ticket as a generator ticket?  I was under the impression that the token based approach would replace the session based one using the 0.4.0 branch.  My process was going to start by cloning the repo checkout out the 0.4.0 branch then working on replacing it there.

[2015-03-18 21:04] lirantal commented on #389
I did? probably by mistake

[2015-03-18 23:03] britztopher commented on #389
Ok, so I have decided to forgo the passport way and dive into using [express-jwt](https://github.com/auth0/express-jwt) with [jsonwebtoken](https://github.com/auth0/node-jsonwebtoken).  I was just reading this [article](https://auth0.com/blog/2014/01/07/angularjs-authentication-with-cookies-vs-token/), and found very straightforward and beneficial.  Also, I wont need to create an Oauth2orize serve

[2015-03-18 23:30] dotch commented on #389
You might also look into using [satellizer](https://github.com/sahat/satellizer/) on the client and as meantioned before, check out their [node.js example](https://github.com/sahat/satellizer/tree/master/examples/server/node)

[2015-03-19 06:28] lirantal commented on #94
in 0.4.x I think, because we don't want to add anymore work on the 0.4 branch - we just want to get it out already.

[2015-03-19 06:41] lirantal commented on #295
@dk253 if we're unable to reproduce the problem we won't be able to fix it.
can you explain exactly how is it reproducing for you?

[2015-03-19 08:18] Dollab commented on #295
The 'pre' middleware in the user model is hashing the password every time the user is saved. It is not a problem when the password field must be re-posted y the user to enable modification of the user object (as in the mean.js boilerplate) but if it is not the case the password field  is taken from the db via _extend in the update method and is already hashed. To prevent this, the hash method shou

[2015-03-19 11:51] lirantal commented on #295
@Dollab thanks for explaining. Is there a clear way to reproduce this problem on the mean.js boilerplate?

[2015-03-19 12:08] dk253 commented on #295
Ooops... sorry I missed your request.  I agree with Dollab.  I have not tried to reproduce on the boilerplate.  But I can tell you that when the user saves their profile it does not hash the password.  But when I saved the user object it did.  Not sure if this novice explanation helps or not.

[2015-03-19 12:40] karan-kapoor90 commented on #469
@ilanbiala this s

[2015-03-19 12:40] #469 closed

[2015-03-19 13:09] karan-kapoor90 opened #482 "First login socket messages not going through"
I copied the socket implementation from the 0.4 branch to 0.3 and it works fine. However instead of calling the `this.Socket=io()` in the chatController like it is, in the 0.4 app, I call it in the AuthenticationController, as follows

    app.controller('AuthenticationController', ['$scope', '$http', '$location', '$state', 'Authentication','Socket','socketFactory',
    function($scope, $http, $lo

[2015-03-19 14:46] karan-kapoor90 commented on #447
that helped. Thanks

[2015-03-19 14:46] #447 closed

[2015-03-19 17:05] Rykka commented on #174
Ok, This Thing maybe I should post to Tencent's browser team.

[2015-03-20 11:12] spyhole opened #483 "what's the different between _header.client.view.html and header.client.view.html?"
it's seem that someone forget to delete one in meanjs generator.
the same _header.client.view.html and header.client.view.html generated by meanjs generator with default behaver in v0.4.0

[2015-03-20 13:18] ricardodovalle commented on #389
Another alternative to [satellizer](https://github.com/sahat/satellizer/) is [ng-token-auth](https://github.com/lynndylanhurley/ng-token-auth).

[2015-03-20 13:49] dotch commented on #389
With satellizer we could do the oauth2 flow on the client side and get rid of passport on the server.
This would make the interoperability with native applications, which do their oauth2 flow clientside instead of in a webview, easier.

[2015-03-20 14:08] britztopher commented on #389
So as an update: after looking at satallizer all yesterday and seeing how it would fit within our application's front and backend. I started yesterday to try to do with @dotch  was saying.  So far I've removed the authentication pieces for passport on the backend and now trying to wire up the frontend to make all the auth calls via satallizer.  I will continue to evolve this, and will post updates

[2015-03-20 17:29] ilanbiala commented on #389
@lirantal are you planning on having this ready for 0.4.0 or 0.4.x? I think having it for 0.4.0 would delay the release even more and we should add it in later and switch to it completely in 0.5.0 if we decide it is a better solution to authentication.

[2015-03-20 17:43] britztopher commented on #389
@ilanbiala  I am doing this off the 0.4.0 branch knowing that it will not go into the 0.4.0 release.  I am just using the 0.4.0 branch, so I dont have to migrate my stuff from 0.3.x later.  Hopefully this will make it in the release after 0.4.0.

[2015-03-20 18:02] ilanbiala commented on #389
@lirantal has anything been merged into 0.3.0 (master) that should be in 0.4.0 and we need to copy over? Is there any way to check. Also, shouldn't we just merge the branches and finish 0.4.0 as master in the next few weeks and then release it very shortly after?

[2015-03-20 19:58] dotch opened #484 "icket flour ditschland"

[2015-03-20 19:58] #484 closed

[2015-03-20 23:47] mpescarmona commented on #477
Sorry @karan-kapoor90, I couldn't test and apply the suggestion made by @puttyman, but I will apply soon and share here my findings.

[2015-03-21 01:14] mpescarmona commented on #477
Hi guys, I'm tested the production environment suggested by @puttyman but without success.
Seems as the application clones the sources from bitbucket, builds the application using the production env and then, but something gose wrong since the deployment says that the meanjsorg application already exists.

Below is the command executed and its stacktrace:
´´´$ sudo rhc app create meanjsorg nodejs-

[2015-03-21 01:23] mpescarmona commented on #477
@karan-kapoor90 did you get success for your side ?
Probably @ilanbiala could have any suggestion about this issue.

[2015-03-21 02:10] karan-kapoor90 commented on #477
Haven't had the opportunity to look into it yet . Been busy making a
notification system using socket for mean js. Would you guys be interested
in a PR for that? I've done it in 0.3 though.

On Saturday, March 21, 2015, mpescarmona <notifications@github.com> wrote:

[2015-03-21 02:45] ilanbiala commented on #477
@karan-kapoor90 you can open a PR and we'll get some feedback going if you already have something just to start looking at. Some feedback and reflection on the implementation would be good, too.

[2015-03-21 02:47] karan-kapoor90 commented on #477
Cool. It's integration interface is an angular service naked by some server
code, so come to think of it, not going to be difficult at all to merge
onto 0.4 either. Would you like a PR for 0.4 or 0.3?

On Saturday, March 21, 2015, Ilan Biala <notifications@github.com> wrote:

[2015-03-21 02:58] ilanbiala commented on #477
0.4 would be better, but we'll probably have to update/rebase it later if we decide to merge it in.

[2015-03-21 03:27] deepakbhattarai opened #486 "server side route tests not working in 0.4.0 branch"
the `app`  is not exported in the server.js file. Message
``
timeout of 2000ms exceeded
``
I think the problem is because the variable `server` is not exported in the `server.js` file. So there is no server running in the test.

[2015-03-21 16:48] ilanbiala commented on #486
@deepakbhattarai more details please.

[2015-03-22 03:02] #483 closed

[2015-03-22 04:47] deepakbhattarai commented on #486
The error is in this code. This hook gives a timeout
``
	before(function(done) {
        var app = express.init(mongoose);
        agent = request.agent(app);
        done();
	});
``

The error
``

  1) Article CRUD tests "before all" hook:
     Error: timeout of 2000ms exceeded
      at done (D:\webdocuments\china-volunteers\node_modules\mocha\lib\runnable.
js:205:67)
      at D:\webdocuments\chi

[2015-03-22 12:41] ilanbiala commented on #486
Put in console.log throughout the functions to see where it stops. Then see what's wrong with the isolated statements.

[2015-03-23 00:28] gsavoie opened #488 "Path problems in gulp tasks on Windows"
So I've been trying to use Sass with .scss files and I noticed that when the gulp task runs it should be replacing '/scss' by '/css' but on Windows at this point we have something that looks like 'module\\client\\scss'.
Note: The less task also has the same problem. Perhaps the grunt config is also problematic.

For now I changed path.dirname.replace('/scss', '/css') to path.dirname.replace('scss'

[2015-03-23 00:39] ilanbiala commented on #488
Why not just do `path.dirname.replace(/(\/|\\)scss/, '$1css')`? This will handle both Windows and *nix.

[2015-03-23 00:52] gsavoie commented on #488
For some reason I kept thinking with two steps! That does indeed work perfectly.
I also checked for grunt and the way it's done is different, we do not encounter this issue.

Should I make a PR ?

[2015-03-23 00:56] ilanbiala commented on #488
A PR for 0.4.0 would be great!

[2015-03-23 00:58] gsavoie commented on #488
Good, I'll work on that for 0.4.0, I don't think we have gulp on master anyway!

[2015-03-23 01:42] gsavoie commented on #488
Alright @ilanbiala, I just created the PR #489 with those changes, simple changes but let me know if there's any issue :)

[2015-03-23 19:40] mhenke commented on #4
Key for me was running comment 4 steps, then the ticket description steps

[2015-03-23 19:56] trevis-baker commented on #402
I do agree.  What else needs to be done, so the 0.4 branch can be merged to master?  My fear is the activity in this community slowdown as we delay.  I can help.

[2015-03-23 20:10] mhenke commented on #4
Key for me was comment 4 steps, then step 3 & 4 in the ticket. Also not using grunt to start the server but a run task using server.js

[2015-03-23 22:45] ilanbiala commented on #402
0.4 now has a milestone with some issues in it. It would be great to get feedback on any of the issues that are marked for discussion, and then we can decide on a good solution.

[2015-03-23 22:46] ilanbiala commented on #353
@jloveland I like the idea, but I think `tags/0.4.0` would be better, no?

[2015-03-24 00:54] britztopher opened #490 "Mean JS Angular App to Use Style Guide"
I am wondering if we could start following the john papa style guide for the angular application.  It proves to serve a lot of great ideas and fundamentals.

https://github.com/johnpapa/angular-styleguide

[2015-03-24 01:58] ilanbiala commented on #490
@britztopher Any initial changes that you think should be made?

[2015-03-24 02:12] SOSANA commented on #490
Maybe I am miss understanding but we are doing this already for v4.0 we changed the file structure similar to what he recommends...

around 4:49
![image](https://cloud.githubusercontent.com/assets/2634185/6794567/f807e876-d198-11e4-8121-4fa49bb1bfac.png)

John Papa - 10 AngularJS Patterns - Code on the Beach 2014
https://www.youtube.com/watch?v=UlvCbnKAH3g

[2015-03-24 02:17] ilanbiala commented on #490
I'm sure there are other things that could be changed, but I don't think everyone will necessarily agree with everything he recommends.

[2015-03-24 02:17] britztopher commented on #490
@ilanbiala I would say these would be a good start:
1. Use IIFE's - https://github.com/johnpapa/angular-styleguide#iife
2. Controllers - https://github.com/johnpapa/angular-styleguide#controllers
  a.  the whole section is really good and would be that hard to change some files
3. services - https://github.com/johnpapa/angular-styleguide#services

I mean I seem to follow the whole guide with a lit

[2015-03-24 02:48] jloveland commented on #353
Convention in the git wiki shows v

http://git-scm.com/book/en/v2/Git-Basics-Tagging

[2015-03-24 05:28] Shrizzy commented on #490
Great idea @britztopher
One of the first things I do with a new meanjs app is split up the controllers into smaller components, remove the ng-init's and change the controllers to 'Controller as'.
I'd really like to see the Controller As syntax, and removed references to $scope as we edge closer to Angular 2.0.

[2015-03-24 05:35] aarosil commented on #490
This not entirely related but I think an awesome feature would be to be
able to provide your own templates to the generator.  Then one can follow
whatever style one likes or needs.

I often scaffold an app, then customize one module for specific needs of
that app, and after that I use `yo` to generate a new vertical module, and
replace the autogenerated files with what I customized and do a global

[2015-03-24 16:10] denzelwamburu opened #491 "Email Integration"
I just thought is it possible to add email feature in the boilerplate?
Maybe add custom codes or apis from email clients.

[2015-03-24 16:14] SOSANA commented on #491
@denzelwamburu Refer to the docs to implement email , SendGrid has cool tutorial.

[2015-03-24 19:00] kbowerma commented on #449
Yes but you can just change 'fig' to 'docker-compose' and it will even look for the fig.yml file.

However in the yml file you set the NODE_ENV to development which is looking at development.js which has localhost hardcoded to the uri. ( ```		uri: 'mongodb://localhost/mean-dev',```  I think you either need to make a new docker.js config  file that use ```uri: 'mongodb://db_1/mean-dev',``` or ```me

[2015-03-24 19:03] SOSANA commented on #449
Once we fix this, can we update docs for others as well to get started with docker

[2015-03-25 00:47] ilanbiala commented on #491
Specifically what? We already set up Nodemailer, what else are you looking for?

[2015-03-25 08:58] denzelwamburu commented on #491
Is this feature on both of the versions

[2015-03-25 10:47] ilanbiala commented on #491
It is already in master and will be in 0.4.0 in a better way.

[2015-03-25 11:45] deepakbhattarai commented on #486
`before` is never completed. It gives a timeout. It stops in 'done()' line.

[2015-03-25 12:35] britztopher commented on #389
So I got local login working and storing the token in local storage.  Im looking how authorization is taken care of because we will need to query the user on each request to get the roles for each token.  Also, do we want to store the jwt token in the user model or create a `token` model that will store the user_id and roles associated with that token?  I see we are using the `acl` library for acc

[2015-03-25 15:10] c1moore opened #493 "Authentication service is reset to an empty string when redirected"
I noticed in my application, which has different levels of access for users (admin, user, ect.), that when a user is redirected from a page to which they should not have access (e.g.: an admin page when they are a normal user) that Authentication.user is reset to an empty string.

In my application, only registered users should see a page other than the sign in/sign up page.  So when a logged in u

[2015-03-25 16:09] ilanbiala commented on #486
Where is the last console.log that you see? You have something hanging when you call express.init most likely.

[2015-03-25 16:15] ilanbiala commented on #389
We need to finish up most of the documentation as some of the stuff like user authorization is still being refactored in #343.

[2015-03-25 20:03] denzelwamburu commented on #491
Great i can't wait to try it further, in the mean time i will keep this issue closed.

[2015-03-25 20:04] #491 closed

[2015-03-26 06:37] christopherdro opened #495 "Need to add data-toggle="dropwdown" to Menu generator after upgrading angular-ui bootstrap"
After resolving this issue https://github.com/angular-ui/bootstrap/issues/2868, I had to manually add data-toggle="dropdown" to the bootstrap nav element so that the dropdown would show properly.

Maybe the fact that it was missing is what was causing the error in the first place?
Looks like it's already in place for the profile dropdown, just not in the data-ng-repeat that generates the Menus.

H

[2015-03-26 07:38] neilhanekom opened #496 "minifying meanjs(0.4) project with grunt/uglify breaks my app when in Production with $injector err"
Hi Guys,

I am sitting with this issue with app when ran in production mode. I think the best approach now is to describe what is in my project so whoever sees this might have an Idea of what I am trying to accomplish an if someone has dealt with before.

What is in my Project/app:
- Meanjs 0.4 branch
- Angular ~1.3
- Angular-material

Check out my repository to see what is in there: https://githu

[2015-03-26 10:30] ilanbiala commented on #495
Sounds like this is a dupe of https://github.com/meanjs/mean/issues/365, no?

[2015-03-26 10:31] ilanbiala commented on #496
This is using angular-material, which is not what MEAN.JS uses and therefore can't really be fixed here. You should post on Stackoverflow or on Angular-material's repository.

[2015-03-26 10:31] #496 closed

[2015-03-26 14:11] christopherdro commented on #495
Yup. Thanks

[2015-03-26 17:32] britztopher commented on #389
@ilanbiala it looks like its just going to be a change to user schema structure.  Do you know if #343 is going to be added to the 0.4.0 branch soon?  That ticket just ended with you guys asking him to put it in there

[2015-03-27 02:37] ilanbiala commented on #389
Yes, we are waiting on a PR from @sielay for the 0.4.0 branch and pending a final review it should be merged in for 0.4.0.

[2015-03-27 02:38] #495 closed

[2015-03-27 14:51] ilanbiala commented on #365
@britztopher, because we are looking at angular-material and also upgrading AngularJS, we'll need to wait for ui-bootstrap to catch up and support >=1.3. For now, I'm going to put this in the backlog for issues we'll look at at a later time.

[2015-03-27 15:12] britztopher commented on #365
@ilanbiala  ok, btw, i am using 0.4.0 with 1.3.x and it's working now fine, so I am guessing whenever you guys merge in 0.4.0 into master this ticket can be closed

[2015-03-27 20:29] HappyTreesDev commented on #366
I would also like to agree with this. I have had to change how things are handled so that I get a proper 404 response instead of a 500 when a model is not found. I feel that the default behavior of error handling is too generic.

[2015-03-27 21:09] ilanbiala commented on #366
@HappyTreesDev we're open to any suggestions. If you want to even make small PRs, that would be very helpful and very easy to merge in. If you do, please send them for the 0.4.0 branch.

[2015-03-28 11:51] ilanbiala commented on #294
@JuanCaicedo any docs that you make for 0.4.0 would be extremely helpful, as we are planning to finalize 0.4.0 very soon and formally release it.

[2015-03-28 15:22] JuanCaicedo commented on #294
@ilanbiala For sure, I can put something out for that. For clarification, should I send PRs here to generator-mean-js?

[2015-03-28 15:35] ilanbiala commented on #294
Here would be better.

[2015-03-28 22:54] ilanbiala commented on #360
already fixed in 0.4.0.

[2015-03-28 22:54] #360 closed

[2015-03-28 23:49] SOSANA commented on #118
Any updates?

[2015-03-28 23:58] ilanbiala commented on #118
@SOSANA the plan is to handle that through #343, which needs to be merged into 0.4.0 rather than master. @sielay needs to create a new PR for 0.4.0 to avoid having lots of merge issues later on.

[2015-03-29 00:30] SOSANA opened #499 "Meanjs.org, roadmap and the path going forward"
Hi guy's,

Haven't seen a blog post in a while on meanjs.org and we abondon using trello https://trello.com/b/5FAPcode/mean-js or https://trello.com/b/auT2l1Ff/mean-js-0-4-x

I know @ilanbiala is contrbuting like a madman trying to push v4.0 obviously he needs our help. But from watching the repo have an idea where were going, but we should have a roadmap,a blog post and change log update, some wh

[2015-03-29 01:09] mshirlaw commented on #372
I also see this behaviour on Safari. I need to make two GET requests to /auth/signout before I am logged out correctly.

[2015-03-29 03:59] britztopher commented on #452
@cliffeby Do you have your function defined in your array like so:

```angular.module('articles').controller('ArticlesController', ['$scope', function($scope){...}]);```

[2015-03-29 04:23] britztopher commented on #369
+1 for Angular Material.  I also use this with the 0.4.0 branch.  Lumix looks nice, however, there arent as many directives yet out of the box like AM has.  Also, Google is pushing AM hard, and they are doing monthly milestones.

[2015-03-29 04:34] max-mog commented on #369
Lumix is pretty neat but nowhere close to maturity of Angular Material design.
Yes. AM is well supported and will be pushed even more by Google. Mean.js is based upon stable and supported libraries and going with AM supprts this idea also.

[2015-03-29 11:26] spyhole commented on #369
+1 for Angular Material. we can modify this ( http://daemonite.github.io/material/ ) into Angular version.

[2015-03-29 11:34] dotch commented on #499
Some public discussion on the road map would be really nice.

Things like switching to the new router with angular 1.4 and completely moving to gulp for easier maintenance should be discussed after the 0.4.0 release.

[2015-03-29 12:22] britztopher commented on #369
@spyhole i was thinking use the one backed by google found here:

https://material.angularjs.org/#/

[2015-04-01 01:06] SOSANA commented on #499
(crickets) - @roieki @amoshaviv @ilanbiala @lirantal

[2015-04-01 01:52] ilanbiala commented on #499
@SOSANA I can tell you what I'd like to see and what's going on, but ultimately I need some input from the rest of the team and some of the PRs are waiting on the user for a rebase or a new PR against 0.4.0 instead of master.

[2015-04-01 15:40] debrouxl opened #501 "Page not found handler not working in 0.4.0"
Steps to reproduce:
* clone the repository;
* run `npm install`;
* run `grunt`;
* load an URL for which there's no route, e.g. http://localhost:3000/abcdefghijklmnopqrstuvwxyz (why not ;) )

Expected result:
* a 404 status code and a redirection to http://localhost:3000/not-found , displaying an error message.

Actual result:
* a 200 status code and a redirection to http://localhost:3000 , effecti

[2015-04-02 00:44] dotch commented on #501
in case we want to keep the redirect to `/` where it might make sense we could just add this to `core.server.routes.js`:

[code]

in case we want a 404 for every undefined route we should define the root rout explicitly, by removing the `*` and our error routes kick in and do the rest for us:
[code]

[2015-04-02 01:07] dotch commented on #501
Since we are using html5-mode routes, anguler is responsible for showing 404 pages for most routes, right?
so guess we should handle the server side 404s like this:
[code]
and either keep the redirect for everything else or implement angular based 404 logic as well.

[2015-04-02 07:39] nidhin001 opened #504 "Socket with meanjs"
Hi, I'm new to meanjs. Can some one help me how to use socket with meanjs to get real time updation.

[2015-04-02 15:33] blueflagbj opened #505 "0.4.0 not work on node 0.12.2"
0.4.0 not work on node 0.12.2！

When I installed it by generator-meanjs 0.4 ，I got this：
-----
npm WARN engine karma@0.12.31: wanted: {"node":"~0.8 || ~0.10"} (current: {"node":"0.12.2","npm":"2.7.4"})
npm WARN peerDependencies The peer dependency grunt@~0.4.1 included from grunt-contrib-cssmin will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WA

[2015-04-02 18:21] gsavoie commented on #505
It can work if you use gulp-sass 1.3.3. This is actually fixed here from #445 but not yet in the generator.

[2015-04-03 01:45] blueflagbj commented on #505
think you,I got it!

[2015-04-03 03:59] SOSANA commented on #499
@ilanbiala thanks for responding back. Lets here what you would like to see. I just want some communication on the future of the project.

[2015-04-03 08:54] js26 opened #506 "Angoose in mean.js"
I'm trying to get angoose running in the mean.js
I following the guide for it
https://www.npmjs.com/package/angoose#1-npm-install-angoose

But I miss an app.js file in my mean.js application to add the require statement into:
Assuming you already have an express server/app file, you just need to add following line to the app.js, after the app.configure() block:

/** Angoose bootstraping */
require

[2015-04-03 12:26] gsavoie commented on #506
I don't know anything about Angoose, but if you're working with 0.4 you should be able to find the express configuration in config/lib/express.js.
I would personally add a new module.exports.configureAngoose to do this config and call it in the module.exports.init. A bit like module.exports.configureSocketIO.

[2015-04-03 15:15] ilanbiala commented on #506
@js26 this isn't something specific to MEAN.JS. Please use Stackoverflow or other forums before coming here. I'm closing this but if you do not get any answer from any other forum, feel free to come back here with your progress and we'll see what we can do. Also, in the future, please block your code using GFM to make it easier to read.

[2015-04-03 15:15] #506 closed

[2015-04-03 15:18] ilanbiala commented on #499
@SOSANA the things I would expect of 0.4.0 can be found in the milestone. Anything else I would think could be added after without breaking any of the code or requiring too much time now, so I left that in the 0.4.x milestone. It would also be great to get some more contributors because I'd really like to see pluggable systems for pubsub and other popular but secondary pieces to the puzzle. I thin

[2015-04-05 12:21] gsavoie commented on #369
+1 for using Angular Material (the one backed by Google). I already started integrating it to a Meanjs project and it's been great yet. Some features still seems missing but it's moving fast.

[2015-04-06 12:43] TsarS commented on #312
Same error in tests
         Article CRUD tests "before all" hook
          Error: timeout of 2000ms exceeded

[2015-04-06 13:14] TsarS commented on #486
Same issue
  timeout of 2000ms exceeded   in test

[2015-04-06 14:01] estvmachine opened #507 "Make executable version of Mean.js with Enclose.js or other"
Hello i try to make a executable version of my project Mean.JS with Enclose.js (http://enclosejs.com/), but i have a problem with the exports of MongoDB and Consolidate, i make a screenshot of this situation.

![image](https://cloud.githubusercontent.com/assets/2062668/7005150/75bf4552-dc43-11e4-9242-60944f0da40b.png)

So there are two issues i have to resolve.

1. I have refactorize the require i

[2015-04-06 16:36] ilanbiala commented on #507
Please use GFM to highlight your code properly.

[2015-04-08 05:21] munikumar604 opened #508 "Form validations are not working with angular amd"
Hi team,
My Form:
 <form class="reachUs" name="reachUs" role="form" novalidate ng-submit="testSubmit()">
                <div class="form-group">
                    <input name="rsfullname" class="form-control" type="text" placeholder="Your Name" required>
                    <p ng-show="(reachUs.rsfullname.$invalid )&& !reachUs.rsfullname.$pristine " class="help-block danger">Your first name is

[2015-04-08 05:23] ilanbiala commented on #508
More info please.

[2015-04-08 13:19] TsarS commented on #486
Same issue on fresh install
 timeout of 2000ms exceeded

[2015-04-08 15:24] junit38 opened #510 "Twitter callback URL"
[code]

Twitter launch an error when using callbackURL to pass the callback URL.
Work with:

[code]

[2015-04-08 15:28] junit38 opened #511 "The provider data are not refreshed when the user log again (so no new accesstoken)"

[2015-04-08 23:53] ilanbiala commented on #510
Please highlight your code using GFM.

[2015-04-08 23:53] ilanbiala commented on #511
Please highlight your code using GFM.

[2015-04-09 18:42] b-barry opened #512 "Create a versioning Api in top of Mean js 0.4.0"
Hello,

Great work for the new version of mean js.
I want to use it to create a app that will provide a api such as Twitter or Twitch. The Api will be versioned, with a oauth 2 authentification.

Is it possible to build this with mean js 0.4.0 ?
Or I have to use only Express js ? Do you have some recommendations ?

Thanks you for your help.

Kinds regards

[2015-04-09 20:30] ilanbiala commented on #512
Yes, it is possible, this question is better for Stackoverflow or another forum however. If you still do not get any information from there, then we can reopen this issue with whatever progress you have made.

[2015-04-09 20:30] #512 closed

[2015-04-10 10:35] YoannB commented on #504
Nice totu here : https://vexxhost.com/blog/mean-socket-io-integration-tutorial/

[2015-04-10 21:57] wormyy commented on #490
+1 for using John Papa's style guide.

[2015-04-11 08:33] shawn3a commented on #398
@superandrew I also encounter this issue and found mean js can only run in mean directory just like @ym-cron-eu said it's how paths in mean.js are defined. I use upstart to run node so the fix is just add "cd $yourMeanjsPath", then "exec $yourNodePath $yourMeanjsPath/server.js". All fine for me.

[2015-04-11 09:00] simison commented on #490
Sounds like we could finally get rid of pre written annotations as well:

write:
[code]
instead of:
[code]

...and let [ng-annotate](https://www.npmjs.com/package/ng-annotate) do the job.

[2015-04-11 14:59] couchguy opened #513 "Without logging in you can still access pages"
I'm not sure if I am missing a tag or something, but if a user is not logged in and they go the the articles page by typing it into the URL bar it does not boot them back to the home page. I have the understanding that the articles pages were secure and for logged in users only.

Thank you, This boilerplate has been great for learning more about the MEAN stack!

[2015-04-11 17:23] jloveland commented on #513
hey dan, you can see on this line that the `.get` is not protected by authentication:
https://github.com/meanjs/mean/blob/master/app/routes/articles.server.routes.js#L12
on the next line, you can also see that the `.post` is protected like so
`.post(users.requiresLogin, articles.create);`

so, if you wanted to protect the articles `.get` route, you can just add `users.requiresLogin` like so:
`.get

[2015-04-11 19:39] dancancro commented on #170
Adding [this](https://groups.google.com/forum/#!topic/meanjs/-ol3T11PbuU) related conversation I just saw in the Google group.

[2015-04-11 20:20] couchguy commented on #513
Hey Jason,

Thank you for that! Is the flicker where it loads the articles page for a split second normal? is there something that I can change to remove that?

[2015-04-11 21:42] danpantry opened #514 "grunt karma - "Invalid config file""
Hi,

I just created a new meanjs project using `yo`. Tried to run `karma:test` and I receive the following error:

[code]

Only modification I have made is altering both `env/config/test` and `env/config/development` to have my private network IP for MongoDB, rather than localhost. Neither are malformed or have syntax errors.

I'm on Windows 7 using Git Bash as my shell.

[2015-04-11 21:44] DanPantry commented on #514
This appears to be due to my `NODE_ENV` not being set, although I'm not entirely sure why that is.

[2015-04-11 21:54] simison commented on #514
If you run `karma:unit` task directly, `NODE_ENV` doesn't get set (it's normally set by task `env:test`, see `test` task from gruntfile.js).

You gotta run: `NODE_ENV=development grunt karma:test` and it should work.

[2015-04-11 21:55] DanPantry commented on #514
Yeah, I worked around it by doing `NODE_ENV=test grunt karma:unit`, however this seems fairly counter-intuitive :\ I was expecting to just be able to `yo meanjs` and then `grunt karma`.

[2015-04-11 21:56] simison commented on #514
Well, intuitively you'd just run `grunt test`. :-)

[2015-04-11 21:58] DanPantry commented on #514
True, I suppose. I however just wanted to run Angular tests, so..

[2015-04-12 06:13] lirantal commented on #514
FYI angular-fullstack generator isn't mean.js generator

[2015-04-12 10:00] lirantal commented on #170
You can use GFS (GridFS) to do that.

[2015-04-12 13:43] DanPantry commented on #514
I'm not entirely sure what point you are trying to make?

[2015-04-12 13:44] DanPantry commented on #514
My mistake. I definitely used MeanJS generator (can be evidenced by checking the Dockerfile), I don't know why I put angular-fullstack there.

[2015-04-12 14:04] lirantal commented on #514
ahh ok, just thought you may have mis-posted the question here.

[2015-04-12 16:17] adrivanrex commented on #120
This one is still on development?

[2015-04-13 09:21] ketysek opened #515 "How to implement user with "admin" role, which is able to edit another users?"
Hi, I've got this in my `user.server.routes.js`
[code]
Problem is with `app.param`, because method `userByID` is returning logged in user, so when I click on delete, it will delete my account...If I change `app.param` to find user from DB by userId, I'm getting authorization problems (403 forbidden) :( Could someone help me to solve this problem?
Thank you very much!

If I neglect safety ...
[code

[2015-04-13 09:51] ym-cron-eu commented on #398
just realized I haven't put in the exact line I used for forever, maybe it helps too :)
`PORT=8080 NODE_ENV=production forever -d -v --minUptime 1000 --spinSleepTime 5000 --workingDir `pwd` -o data/console.log -e data/error.log start `pwd`/server.js && echo "Site started"`

[2015-04-13 10:57] pgrodrigues commented on #513
@couchguy see if [ngCloak](https://docs.angularjs.org/api/ng/directive/ngCloak) helps.

[2015-04-13 12:39] ketysek commented on #515
If I neglect safety ...
[code]
Now I can delete users, but if I edit some user, I am logged in as the edited user :(

[2015-04-13 17:44] lirantal commented on #295
Ok, re-opening for when we're able to fix this with the 0.4 branch

[2015-04-14 00:45] #505 closed

[2015-04-14 03:33] codydaig opened #517 "Admin Panel"
I've heard talk about incorporating an admin panel into MEAN.js, but haven't seen much done towards it. This is the only reason I haven't switched to the MEAN stack. I'd love to help out on this project.

Has anybody started this process, or at least come up with how they want it done?

[2015-04-14 04:15] couchguy commented on #513
Not having the issue of seeing the the angular code on the html page, but I tried that anyway I still see the flicker of the articles page.

[2015-04-14 13:42] ilanbiala commented on #515
You need a middleware that uses `req.profile` and not `req.user`. [This is the line](https://github.com/meanjs/mean/blob/master/app/controllers/users/users.profile.server.controller.js#L17) that causes issues for you in this case.

[2015-04-14 13:44] ketysek commented on #515
Yeah, I got it few minutes ago too :D Thanks! :)

[2015-04-14 13:51] ilanbiala commented on #513
@couchguy that's pretty hard to cover up because you are making an HTTP request for the data. Either wait for the requests to finish before you render the page (with a z-index loading element on top or something similar) or embed some data in the page.

[2015-04-14 13:52] ilanbiala commented on #517
@codydaig As of now we're focusing on pushing 0.4.0, and you can see what our plans our by checking that milestone. Please search for open issues before just opening one by the way, because #41 is already open for discussion. If enough people still need an admin page, then we can look into that for 0.4.x or 0.5.0.

[2015-04-14 13:52] #517 closed

[2015-04-14 14:08] couchguy commented on #513
Thats a pretty decent work around need to add in page loading spinners anyway, Thanks for all of the help!

[2015-04-14 14:08] #513 closed

[2015-04-14 15:13] Dollab commented on #513
To avoid the flicker, I think you should move the query for the articles from the data-init in the view to the ui-router routes via the resolve property. This way the state only loads once the articles list has been resolved.

The way ng-init is used in the boilerplate is improper (cf. angularJs doc : https://docs.angularjs.org/api/ng/directive/ngInit )

For example something like :

[code]

[2015-04-14 15:53] hiteshvadlamudi commented on #64
I am new to MeanJS and started loving it. I still seem to have this issue.
1. I created a MeanJS Project. Added a module.
2. grunt lint and ran the application in development mode - Works Perfect.
3. grunt build and deploy to heroku or run locally in production mode (after setting NODE_ENV=production) the module doesnt seem to be recognized.

Can someone help ?

[2015-04-15 02:29] ilanbiala commented on #513
@couchguy what @Dollab is also a really good idea. The resolve property is a bunch of HTTP requests that have to finish before the page loads, but nothing will be shown until then if I remember correctly.

[2015-04-15 09:05] simison commented on #513
[My solution](https://github.com/Trustroots/trustroots/blob/master/public/modules/core/controllers/main.client.controller.js#L23-L54) is to not allow state change happen to login-required pages using `$stateChangeStart` (shoots before state change).

I'm listing login-required pages for it, although I'll probably switch it to work other way around (white list safe pages).

At the same time I colle

[2015-04-15 17:51] rmlopes opened #518 "Authorisation middleware"
Hi,

I'm using the version on the master branch, and while playing around with the authorisation middleware I noticed that my functions had to be negated. I searched for a similar issue (open or closed) but could not find anything.

The example:
[code]

the hasAuthorization works fine, but in the hasMembership function I had to negate the condition. I have this issue with every functions that I us

[2015-04-16 16:53] ericvader opened #519 "Github Login will fail upon undefined displayName"
To reproduce Bug:

1. Create a Github account without a Name.
2. Try to add GitHub user to the application.

The application will fail without any errors to logs.

On further investigation,
the code failed in `config/strategies/github.js` at the line:

[code]
Because profile.displayName is undefined.

Suggested fix:
[code]

[2015-04-17 16:51] jajourda commented on #327
@ywang1724 what was the solution you found? I am using v0.4 of meanjs myself.

[2015-04-20 03:34] ywang1724 commented on #327
@jajourda My solution was grunt prod.

[2015-04-20 08:54] mafcm opened #524 "Deploy on Amazon Web Services"
Hi,

Please I would like to deploy an application build by MEAN.JS on Amazon Web Services but I don't know how to start.

Please, could someone help me ?

[2015-04-20 13:10] estvmachine commented on #507
Sorry i fix it the comment, still unresolved the issue.

[2015-04-20 18:12] gilesbradshaw opened #525 "before and after on user module unit tests"
Wouldn't you be better with beforeEach and afterEach?

[2015-04-20 20:15] gilesbradshaw opened #526 "documentation wrong for addmenuitem?"
I think you have  menuItemType, menuItemURL swapped

Menus.addMenuItem(menuId, menuItemTitle, menuItemType, menuItemURL, [menuItemUIRoute], [isPublic], [roles], [position]);

here : http://meanjs.org/docs.html#menus

[2015-04-20 21:26] ilanbiala commented on #525
Which parts/files specifically?

[2015-04-20 21:28] ilanbiala commented on #507
Did you `npm install`? What is `require('./' + path)` coming out to be?

[2015-04-22 05:57] vko-online opened #527 "Typescript version?"
This stack is very cool, but is there any typescript version?

[2015-04-22 13:56] anderskristo commented on #527
@vko-online there is not a TypeScript version of this stack.

[2015-04-22 14:14] vko-online commented on #527
But i guess it's not so hard to do, all stuff can be easily converted to mean.js, what if i make PR with typescript?

[2015-04-22 20:05] Soufraz opened #528 "Use meanjs with remote public folder"
Hi folks,
I have a project that is finished with meanjs.
However, I wonder how I can separate the client and the server of this project.
I must publish the project (/ public) in an app with cord. And let the server (/ app) running somewhere on the net.
I know the process of compiling the cordova app and configure the server.
But, What I need to know to separate the layer client x server in meanjs?

[2015-04-22 23:16] ilanbiala commented on #527
@vko-online we're not going to merge that in simply because 99% of people don't need it and it won't be managed by core until many other things are taken care of first.

[2015-04-23 05:52] vko-online commented on #527
But we just need some `.d.ts` and grunt compiler, it's really useful in webstorm

[2015-04-23 10:47] ilanbiala commented on #527
Yes, but when it is actually released and tested.

[2015-04-23 14:42] Soufraz commented on #528
Well, I've managed to create a webApp based on meanjs. I'd now like to create an Mobile App using cordova/phonegap to also access this webApp database. My question is how could I use the front-end part already done as the basis for this Mobile App?

[2015-04-23 14:53] denzelwamburu commented on #389
@britztopher do you have the codes online so that we can see your progress with satellizer?

[2015-04-23 14:55] denzelwamburu commented on #389
Was figuring out maybe the sessions and tokens can be stored in Redis just cause of its security features.

[2015-04-23 15:47] britztopher commented on #389
@denzelwamburu I can push my changes to my branch, however, it is very minimal at this point and only issues tokens to people who have account locally.  Once @sielay's PR is merged for new authorization process then I will start to work on authorization with auth tokens.

[2015-04-23 16:35] britztopher opened #530 "Upgrade ui-router to new ng-route router"
Just want to put this in a ticket so we can push it to a milestone release and get some conversation,  but we should be looking into getting the Angular 2.0 router into the meanjs repo and removing ui-router.

[2015-04-25 22:33] AliceRossa opened #533 "Check If Articles Policy Allows"
Hello,

I am a beginner with AngularJS, I will wish that only admins can add, edit and delete articles.

I work on the branch 0.4.0 and I edited the articles.server.policy.js file like this:

[code]
User group can't post articles from api BUT can still see 'create article' view, how can I hide and redirect the user?

Something like this? But where do I put this code?

[code]
Thank you very much fo

[2015-04-26 17:59] ilanbiala commented on #533
Please highlight your code blocks properly to make it easier for others to help.

[2015-04-26 20:46] AliceRossa commented on #533
Sorry I am new here , I just change my code blocks.
Do you have any idea to help me?

[2015-04-26 23:09] ilanbiala commented on #533
You need to add that to somewhere in the article module on the client side to prevent the user from accessing any of those pages. Maybe do a resolve in the states or something like that.

[2015-04-27 11:38] anderskristo commented on #533
I would do like this:
In your controller, redirect to home if user isn't Admin.
[code]
In your view:
[code]
or something like that?

[2015-04-27 12:44] anderskristo commented on #530
I don't think we should do this for 0.4.0, probably for 0.5.x or something..

[2015-04-27 17:37] britztopher commented on #530
@anderskristo i definitely agree with you, but I just wanted to at least have a ticket we can get conversations flowing about upgrading the router.  By all means, if you have the power label this for 0.5 milestone feature

[2015-04-27 17:50] junit38 opened #535 "google authentication callback url bug"
Hi,
I get URL like localhost:3000/# when I use google authentication with passport.

I fixed the problem using the same way which has been used to fix the Facebook bug with redirect (public/modules/application.js):

[code]

I added this part:

[code]

Does you know something about it?

Thanks.

[2015-04-27 22:52] ilanbiala commented on #535
Are you missing some code there? Maybe an if and another closing brace?

[2015-04-27 22:53] ilanbiala commented on #530
@britztopher I don't think the new router is nearly as stable nor as flushed out in terms of features, but I haven't checked on it in a couple months. Are there still disparities?

[2015-04-27 23:04] dotch commented on #530
I have been using it in a small project a few days ago.
My only bigger issue was with injecting $scope into the controller constructor, which was fixed 5 days ago.
So all in all it mostly works, but it still lacks documentation and has a few bugs and is still subject to change. It was supposed to be released with angular 1.4, but I am not sure if that will happen.

[2015-04-28 11:17] junit38 commented on #535
I added this code into the first function, the whole become:

[code]

[2015-04-30 02:33] ppotoplyak commented on #535
ditto, started hitting the same issue recently.

Here is the workaround that I am running with:

[code]

I was not sure if this was a self imposed regression or something outside of our control.

[2015-04-30 03:18] ppotoplyak commented on #535
Just checked tip and the issue is still there but it seems browser dependent.

No problems using Firefox:
Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:37.0) Gecko/20100101 Firefox/37.0

Issue is there with Chrome:
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/41.0.2272.76 Chrome/41.0.2272.76 Safari/537.36

Chrome taking this error:
angular.js:78 Uncaught Erro

[2015-04-30 03:35] ppotoplyak opened #539 "No built-in way to return an error back to UI from exports.oauthCallback"
This issue is in reference to app/controllers/users/users.authentication.server.controller.js:exports.oauthCallback

I could not figure out how to return a custom error and have it be displayed to the client in the context of the current starter code.  My workaround was to redirect to a custom error page which is okay but not ideal.

Use case is checking if user's email is on an invite list and re

[2015-04-30 16:46] #518 closed

[2015-04-30 16:48] rmlopes commented on #518
I tried to replicate the issue in a vanilla installation by adding and testing against some user attributes but everything works as it should, so I must have other issue in the project.

[2015-04-30 19:19] rhansma opened #540 "Angular not working when serving over SSL"
I have some issues with serving MeanJS over SSL. I used the generate--ssl-certs.sh file for generating my SSL-certificates, the app itself is generated with yeoman. So I followed the recommended path, but when I try to run the app over SSL it shows me a blank screen. Example can be found here: https://104.155.79.171/ and here http://104.155.79.171/

I am sure nodejs is working, because the route:

[2015-04-30 22:25] ilanbiala commented on #540
Check the console of Chrome and of Terminal to see what is not working.

[2015-04-30 23:00] rmlopes commented on #372
Hey, is this on the 0.4.0 branch or master? What is the Safari build?  I cannot replicate using Safari Version 8.0.4 (10600.4.10.7)

[2015-05-01 08:23] rhansma commented on #540
As said, the console isn't showing anything. Only the angular and bootstrap files are loaded, after that it stops and just shows a blank screen. None of the configuration files, or controllers etc are loaded. I've developped AngularJS apps before, but never had a problem like this before. Normally if there is some issue with Angular it indeed shows an error message in the console. So I'm guessing

[2015-05-01 12:21] ppotoplyak commented on #540
Do you have a public/dist/application.min.js file ? If not, try 'grunt build' .

application.min.js is used to deliver the Angular code in the secure env:

[code]

Here is a working site followed by your site, notice how the file is present in the working site:

[code]

[2015-05-01 14:49] rhansma commented on #540
Thanks Pavel and Ilan for your help. You were right Pavel about the missing application.min.js, grunt build didn't fix my problems however. Commenting the assets part of the secure config file did the trick.

It turns out the grunt wasn't properly concatenating all of the angular files, I'm not sure what went wrong exactly, but I will look into it later on and let you know when I find out what is

[2015-05-01 14:49] #540 closed

[2015-05-01 14:58] rhansma commented on #540
It has to do with the following files:

'public/lib/angular-sanitize/angular-sanitize.min.js',
'public/lib/angular-touch/angular-touch.min.js',
'public/lib/angular-cookies/angular-cookies.min.js',

Those files are missing from the secure-configuration. If you add them it will work.

The full /config/env/secure.js file will be:

'use strict';

module.exports = {
	port: 443,
	db: process.env.MONGOHQ

[2015-05-01 16:09] mleanos commented on #518
I believe your condition in the hasMembership function should be checking that group.members does NOT contain the req.user.

!_.contains

[2015-05-01 16:25] mukulsngl opened #542 "issue in mongodb connectivity"
use this mongodb://127.0.0.1:27017/mean-dev in config.db.uri for proper functioning

[2015-05-01 16:26] #542 closed

[2015-05-01 21:31] ilanbiala commented on #540
@rhansma can you submit a PR with the fix?

[2015-05-04 03:41] ppotoplyak commented on #535
Wiresharking reveals that indeed a # is being appended to the callback URL but only when using Chrome.

This should probably be bumped up to a P1 priority as Chrome G+ auth is not functioning properly without a workaround.  junit38's workaround is probably the more elegant as it specifically addresses this issue.

@junit38 , let me know if you would like to submit a PR, otherwise I can put one tog

[2015-05-05 01:22] britztopher commented on #390
@ilanbiala @miguelcoba Any idea why this ticket has open closed so many times?  Anything I can help with?

[2015-05-05 01:24] britztopher commented on #353
@ilanbiala can we close this ticket because its more of an adoption of a methodology/practice for tagging releases?  I would like to also see tags on all major/minor/patches using the semver notation.  I am guessing we will start to do this starting with 0.4.0 branches

[2015-05-05 01:44] britztopher opened #544 "Agile Board for Stories?"
Anyway we can get a Trello board or something to track status on issues, so we can track tickets and who's working on what?  Just an idea, as I am always trying to figure out whether I can pick up a issue ticket, or if someone else if working on it.  Like I said, just an idea.

[2015-05-05 01:58] ilanbiala commented on #390
This issue has only been closed then reopened once, it references lots of other things though. I'd like to merge this in, but I think @miguelcoba had some issues with redoing this PR on 0.4.0 instead of master based on the latest comment in #392.

[2015-05-05 01:58] ilanbiala commented on #353
Yep, that's the plan.

[2015-05-05 01:58] #353 closed

[2015-05-05 02:00] ilanbiala commented on #544
For people on the team we use the assigned person to keep track of who is handling a specific issue or going to be the one who merges a PR. Tickets are grouped by milestone and labeled for the most part. I don't really want to add another management platform, as it seemed to just move discussion away from the actual code and to just ideas/thoughts. If others thinks it's a great idea, we can try it

[2015-05-05 02:14] britztopher commented on #390
@ilanbiala i see now, I saw 'closed' above on #391, thinking it was this ticket.  My B on not looking more closely.  Thanks, I wont make this mistake twice

[2015-05-05 14:59] junit38 commented on #535
@ppotoplyak I'm ok to submit a PR let me know how to proceed and when I can do it.

Thanks

[2015-05-05 15:18] ppotoplyak commented on #535
@junit38 lets get guidance from ilanbiala as he would be the approving authority.

@ilanbiala we would like to make sure that you agree that this is a real issue and a PR for a workaround is required?

thanks

[2015-05-05 18:50] rhansma commented on #540
@ilanbiala Sorry for my late response, I was a bit busy the last couple of days.

I tried to reproduce the same error on this repo, but I wasn't able to reproduce. It seems only to happen with the yeoman generated version. I will look into this later this week, when I have some more time. I will let you know.

[2015-05-06 04:31] rajaraodv opened #547 "Is the meanjs being actively worked on anymore?"
It's a great project but I don't see much activity these days. I know you released 0.4 several months back but I don't see the cli generator being fixed to work with that. So what's happening?

[2015-05-06 07:16] jloveland commented on #360
on the 0.4.0 branch, I got this working by running `grunt prod`

[2015-05-06 14:04] amrfaisal opened #550 "How to develop social features (Follow/Stream/..) using MEANJS?"
What's the best approach to develop social features like (Follow/Activity stream) using MEANJS stack?
If we can take current article sample for example, how can we achieve this?

[2015-05-06 14:32] garima803 opened #551 "Error: Cannot find module 'nodemon'"
Hi,

I am getting below issue while starting application.
![error](https://cloud.githubusercontent.com/assets/5198400/7495146/b65923e6-f429-11e4-88e1-f5d08d5d48cc.png)
Please help me to resolve this issue.

[2015-05-06 23:18] ilanbiala commented on #547
The CLI can't really be maintained as it is now because it depends on its own modified version of the files. Once we tidy up 0.4 we'll shift more focus to improving the CLI.

[2015-05-06 23:18] #547 closed

[2015-05-06 23:25] ilanbiala commented on #551
`npm install`. Please post to StackOverflow and other forums before coming here.

[2015-05-06 23:25] #551 closed

[2015-05-09 22:30] Microns commented on #347
I just made the exact same mistake. Maybe the wording in the generator prompt should be changed in the future?

[2015-05-10 16:24] RoryOSiochain commented on #335
Great work on Mean, just wondering if any decision has been made on this migration? Will Mean be migrating to 1.3 or directly to 1.4? Are there any timelines available? Happy to help out with migration tasks.

[2015-05-11 00:47] ilanbiala commented on #335
@RoryOSiochain once 0.4 tasks in that milestone are finished we'll work on moving directly to 1.4.

[2015-05-11 20:31] trainerbill opened #553 "Setting local environment variables"
I am switching over from angular-fullstack-generator.  They have nice process for setting local environment variables using local.env.js.  Basically you put all your api creds or secrets in there and it is gitignored.  It will merge the config into process.env.  This is nice when you have multiple applications using the same environment variables.  Does Mean.js have this type of functionality?

[2015-05-11 22:57] kwame2 opened #554 "phantomjs installation failing"
Trying to install meanjs; all is almost ok but at the end installation fails due to failing installation of phantomjs.
Here is a piece of error log it outputs:
npm ERR phantomjs@1.9.16 install: 'node install.js'
npm ERR  Exit status code 1
npm ERR
npm ERR  Failed at the phantomjs@1.9.16 install script.
npm ERR This is most likely a problem with phantomjs package,
npm ERR not with npm itself.
npm E

[2015-05-12 01:00] polinac opened #555 "Cannot install yo generator"
I am installing yo generator in order to configure sample mean application (https://github.com/meanjs/mean).
I have Windows 8.1. I am following these instructions: http://meanjs.org/generator.html.
My cli is running with administrative permissions.
I executed "npm install -g yo" successfully.
"npm install -g generator-meanjs" fails for me:
![image](https://cloud.githubusercontent.com/assets/121171

[2015-05-12 02:33] jloveland commented on #553
Does the envy folder meet your needs?
https://github.com/meanjs/mean/blob/0.4.0/config/env/development.js

[2015-05-12 04:36] maelvis opened #556 "Resetting password error"
Hi,

Please I have a problem when implementing "password reset" functionnality.
Here is the error
[code]

Tow new fields has been added by updating the user : ```resetPasswordExpires``` and ```resetPasswordToken```.

What does the error mean please ?
How and where to configure the email using a gmail account as sender ?
I just notice the presence of ```process.env.MAILER_*``` but I don't see where

[2015-05-12 08:23] pgrodrigues commented on #556
You can configure the mailer in `config/env/` directory. According to your needs edit the development, production or test js files (mailer property).

[2015-05-12 17:17] goodseller opened #558 "New module not working caused by module name"
I have yo a new route

    yo meanjs:express-model <module-name>

with a name like: "node", "node-info", "info" and found that is not loaded (tested with console.log).

Then I tried rename the default articles module as above and restart gulp, but still find err.

**Is there any restriction for the naming of the module?** Thanks.

Remarks:
- (name "express" works)
- OS: Windows 8 x64
- mean.js ver

[2015-05-13 04:56] maelvis commented on #556
Thank you. I dit it and it's working.

[2015-05-13 19:36] trainerbill commented on #41
@roieki I made a small admin module to handle some user CRUD functions:

https://github.com/trainerbill/mean/tree/AdminConsole

Was wondering if you or someone on the project wanted to take a look and provide feedback.

[2015-05-13 20:15] estvmachine opened #560 "Use of some dependencies"
Hi, i want to know why in the package.json appears these dependencies:

1.forever
2.async

 I cant find whats files use it.

[2015-05-14 02:46] randavidovitz commented on #560
Async - used in app/controllers/users/users.password.server.controller.js to sequence async operastion one after the other (personally i think CO is better).

forever - used in the procfile which related to integration in heroku (declarion of the execution)

[2015-05-14 02:53] randavidovitz commented on #555
Looks to me like your node-cache folder is located in a place that causes you to have permission issues (using process monitor you can gain more info)

Suggest you move the folder to different location as an example : npm config set cache C:\dev\nodejs\npm-cache --global

[2015-05-14 02:56] randavidovitz commented on #554
[This](https://github.com/Medium/phantomjs/issues/279) might give you the answer, which implies that temp directory is located on different device

[2015-05-14 03:23] randavidovitz commented on #550
[This](http://www.waistcode.net/blog/mongodb-newsfeed-schema-design-for-entexis) might give you more info

[2015-05-14 03:54] MangeshMp opened #561 "grunt-istanbul Test coverage"
is there a plan to use grunt-istanbul test coverage for the server side (mocha) coverage.
I recently used it in 0.3 version of my project and it work fine.

It will be a great addition.

[2015-05-14 07:44] superandrew opened #562 "Bower packages and inclusion"
Hi, there is something I can't figure out in mean.js. When I install bower packages, how can I embed the dependencies as I would in a normal web project handled by grunt by using `grunt wiredep`?

I've tried to add them manually following the flow, they work locally but once they get pushed to heroku the application doesn't load the modules.

[2015-05-14 09:07] amrfaisal commented on #550
I've checked that blog post couple of weeks ago, and here why I don't think it is relevant to MEAN stack:
1- As you may notice it's already 3 years old.
2- The writer also was using Java as their back-end. So he don't think Nodejs.
3- The architecture isn't simple. I think he would have saved all user's news-feed items as an embedded array in one user's related document.

I think there's a better

[2015-05-14 12:42] estvmachine commented on #560
I got it, the Async looks very useful!.

In my implementation i delete the modules of users so i dont know its still useful these dependencies.

The 'forever' maybe its useful because i use 'scribe-js', but i dont find the file where its use it..

[2015-05-14 13:03] bastianwegge commented on #41
+1

[2015-05-14 14:27] lirantal commented on #553
closing due to merged PR for this.

@trainerbill if you still think it is useful to have the same kind of app configuration that will apply environment variables you're welcome to open another issue and describe it.

[2015-05-14 14:27] #553 closed

[2015-05-14 14:42] alexsimkovich opened #563 "AngularJS v1.2 ??"
Hi there. Will you update an angularjs support for newest version? I have found in bower dependencies angularjs v1.2 and dont know what will happend if i change it to 1.4?

[2015-05-15 00:29] ilanbiala commented on #558
This should be posted on the generator repo.

[2015-05-15 00:29] #558 closed

[2015-05-15 00:29] #556 closed

[2015-05-15 00:29] ilanbiala commented on #555
Please repost this in the generator repo.

[2015-05-15 00:29] #555 closed

[2015-05-15 00:30] ilanbiala commented on #554
Please use StackOverflow or another forum for answers that aren't specific to MEAN.JS.

[2015-05-15 00:30] #554 closed

[2015-05-15 00:31] ilanbiala commented on #561
@MangeshMp if you'd like to create a PR for 0.4 once it is merged into master, that would be great.

[2015-05-15 00:32] ilanbiala commented on #562
@superandrew please use StackOverflow or another forum for questions regarding non MEAN.JS code before coming here.

[2015-05-15 00:32] #562 closed

[2015-05-15 00:34] ilanbiala commented on #560
@estvmachine it's a CLI tool. Please search through the code before posting questions.

[2015-05-15 00:34] #560 closed

[2015-05-15 00:34] ilanbiala commented on #563
@alexsimkovich yes, please search for Angular 1.4 in the issues before opening an new one.

[2015-05-15 00:34] #563 closed

[2015-05-15 06:27] aslamj opened #564 "Is there a plan to upgrade to angular versions: 1.3.x?"
I tried upgrading to 1.3.x but the menus for CRUD (which got generated by yo meanjs:crud-module), stopped working (these does not dropdown anymore).

[2015-05-15 12:36] estvmachine commented on #560
Ok i read the github of Forever and see the file Procfile. Sorry i really want optimize my dependencies and dont really know for what exists this dependencies.  In the page of MEAN.js dont appears.

Now im gonna use both! thanks!

[2015-05-15 18:10] ilanbiala commented on #560
Forever keeps MEAN running on Heroku even if it crashes.

[2015-05-15 18:11] ilanbiala commented on #564
Please search for existing issues (both open and closed) as this question was already asked.

[2015-05-15 18:11] #564 closed

[2015-05-18 12:33] estvmachine commented on #560
Ok thanks

[2015-05-18 15:34] syymza commented on #561
I have tried it in my project and, indeed,  it does work fine! @MangeshMp let me know if you are going to deal with the PR, otherwise I can do it :)

[2015-05-19 04:46] MangeshMp commented on #561
@syymza I created a PR for this issue and also committed the code.
The solution is for 0.4.0 branch done on Grunt .

[2015-05-20 00:01] emosher commented on #472
I encountered this problem recently and thought I would add what I learned in the hopes that this might help others.

As the [MEAN.JS docs say](http://meanjs.org/docs.html#configuration), `config/env/all.js` contains defaults that will be overwritten by the corresponding environment configuration (secure, prod, etc).  In my head, I thought that meant that you would only need to list a file once in

[2015-05-20 03:29] floydpink commented on #535
Thank you @junit38 and @ppotoplyak - have submitted a PR with the fix from @junit38

[2015-05-20 08:14] simison commented on #472
See discussion from https://github.com/meanjs/mean/pull/557

[2015-05-20 09:30] sielay commented on #560
Async has nice waterfall implementation.

[2015-05-21 11:01] marianoqueirel commented on #515
Hi, one query
How you add more than one user role ?

Thanks!

[2015-05-21 17:23] MangeshMp commented on #561
@syymza you can create a PR because I am having some indentation problems.

[2015-05-21 19:32] #507 closed

[2015-05-22 23:39] thanhthang20 opened #570 "Can't load third-party module"
I add [ngMaterial] (https://github.com/angular/material) module as below:

var applicationModuleVendorDependencies = ['ngResource', 'ngAnimate', 'ui.router', 'ui.bootstrap', 'ui.utils', 'ngMaterial'];

The error is shown in chrome inspector:

Uncaught Error: [$injector:modulerr] Failed to instantiate module mean due to:
Error: [$injector:modulerr] Failed to instantiate module ngMaterial due to:
Er

[2015-05-23 19:48] ilanbiala commented on #570
Did you forget to add one of the scripts or something like that?

[2015-05-24 01:23] thanhthang20 commented on #570
I found that MEAN doesn't add script tag for angular-material.js in html header like another angular modules. I don't know how to fix it

[2015-05-24 21:06] simison commented on #570
@thanhthang20 add it to
- `bower.json` and run `bower install`
- configs at `./config/assets/`

[2015-05-25 08:31] sridharrajs opened #571 "Broken link on http://meanjs.org/"
ExpressJS reference link on http://meanjs.org/ is broken.

![screenshot from 2015-05-25 10 58 39](https://cloud.githubusercontent.com/assets/1156953/7794293/5973c692-02e6-11e5-8679-e7fa4b8fd62e.png)

![screenshot from 2015-05-25 10 58 57](https://cloud.githubusercontent.com/assets/1156953/7794294/607a96b4-02e6-11e5-883d-6cfbc4b6921a.png)

[2015-05-26 04:42] lirantal commented on #571
@sridharrajs would you like to submit a PR to fix it?

[2015-05-26 08:50] maelvis opened #572 "Authentication from multiple devices"
Hi,

I'm building a web application using MEANJS. The application will be also accessible via smartphone and tablet. I use ionic framework to do it.
I don't know how to implement an authentication which will work for all those devices.
I read about Token and Session authentication but seriously I don't understand it at all and I don't know how it could help me.

Could some one help me, please ?

[2015-05-26 15:19] debrouxl commented on #515
Having > 1 role for an user can be achieved through direct MongoDB database manipulation, e.g. in the mongo shell.

[2015-05-26 16:14] ilanbiala commented on #572
@maelvis please post these questions in another forum before coming here, as this is mainly for issues and features. If you don't solve this after visiting another forum, then feel free to come back here with your progress.

[2015-05-26 16:14] #572 closed

[2015-05-26 16:36] floydpink commented on #571
@lirantal @sridharrajs - submitted a PR with the fix

[2015-05-26 21:33] #571 closed

[2015-05-27 08:41] maelvis commented on #572
Ok. Thanks.

[2015-05-28 02:10] estvmachine opened #574 "Using node-webkit"
Sorry, but for use this implementation with node-webkit, what i have to do?. The docs show a index.html (https://github.com/nwjs/nw.js/), but in the case of the mean.js we need to start the aplication first :(. Its posible?

[2015-05-28 16:54] estvmachine commented on #574
With something like this, work for me.

[code]

[code]

[2015-05-28 18:45] #574 closed

[2015-05-29 03:33] fsamir commented on #48
I can't see any references to protractor on master. Can you please point where should I look? thanks

[2015-05-29 09:06] simison commented on #48
@fsamir New branch: https://github.com/meanjs/mean/tree/0.4.0

[2015-05-29 10:11] GPnow commented on #347
made the exact same mistake

[2015-05-29 15:45] coryfklein commented on #347
@GPnow Maybe submit a pull request?

[2015-05-29 20:30] sielay opened #577 "Feature Request: Multisite single sign on"
Hi

I store it here as anyhow I will need to have it (or develop it) as continuation of [refactor user PR](https://github.com/meanjs/mean/pull/559). Anyhow, if anyone have time, ideas or opinion to shape it or do it before I'll be able to pick it up - feel free.

 * Assume main system is installed as `example.com`
 * System allow to spinoff other instances in subdomains like `subdomain.example.com

[2015-05-31 11:37] zaikin-andrew commented on #292
@wesleyfsmith Have you decided your problem? I have the same problem.
@ilanbiala Could you assist me please?

[2015-06-02 15:10] AlexisTM opened #583 "Make the topbar public by default"
Dear,

I think we should make the topbar public by default or call the constructor elsewhere than in the service.

Else, the isPublic option is useless for EVERY menuItems or subMenuItems

~/modules/core/services/menus.client.service.js, #L172-175

        this.addMenu('topbar', {
            isPublic: true
        });

[2015-06-03 05:43] loulin opened #585 "facebook, github, etc config is not a must"
[code]
If facebook is not configured, this error will throw. In fact, I don't think it's a must.

[2015-06-03 05:48] loulin commented on #585
and mailer either
[code]

[2015-06-03 23:42] ilanbiala commented on #583
@AlexisTM can you suggest what the code would look like and UX would be if it were public by default?

[2015-06-03 23:44] ilanbiala commented on #585
@loulin can you submit the fix via a PR and we'll merge it in?

[2015-06-04 08:14] AlexisTM commented on #583
Dear,

I did it on [Heroku](http://micd.herokuapp.com/) (free dyno to develop, so it can take 30 secs to come back from idle) and the [source is on Github](https://github.com/AlexisTM/MadeInWiki)

**THE PROBLEM :**

To show the default menu (topbar) we have to modify the service. Indeed, if the `isPublic` property of the menu is set to `false`, every subMenus will be ignored even if the subMenu's

[2015-06-04 15:16] loulin commented on #585
It's only own opinion. I copied the config.example.js to config.js, then the error was thrown.
In fact, we in ugly China can't access any of the strategy service providers, but we have others like wechat.
So if it's necessary to ignore these configs, I'd like to fix it.

[2015-06-05 01:58] andreafdaf commented on #524
when I was almost finished I realized that maybe you use windows... anyway the first steps are common to any OS you choose:

- launch an EC2 instance (the size depends on your needs, but since you're starting use the free tier)

- assign a keypair to connect to your instance, save this key in a secure location!

- configure the security group used by the instance to open ports 22 (ssh) 80 (http) 4

[2015-06-05 16:45] taninme opened #588 "when trying to create a new yo meanjs application I'm getting this error.."
Please help I'm trying to create a new 0.4 application using yo meanjs but giving me the following error. I'm on mac. I'm guessing I have installed everything because the regular meanjs is working for me and creating apps. Thanks

darwin-x64` exists; testing
module.js:355
  Module._extensions[extension](this, filename);
                               ^
Error: Module did not self-register.
    at E

[2015-06-06 12:45] golmic opened #589 "Deploy question?"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'start',
1 verbose cli   'server.js' ]
2 info using npm@2.9.1
3 info using node@v0.12.3
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart meanjs@0.3.3
6 info start meanjs@0.3.3
7 verbose unsafe-perm in lifecycle true
8 info meanjs@0.3.3 Failed to

[2015-06-06 14:08] cdriscol commented on #589
@golmic, it looks like you're trying to start the project with
[code]

try this instead
[code]
or
[code]

[2015-06-07 00:42] skoold2003 opened #590 "Core service sharing"
I just made a change in my code so that core services can be shared among new modules. Since the loading was alphabetical any module name starting with A or B wouldn't recognize core services. I changed my code from this:
config/env/all.js-
ORIGINAL-
js: [
			'public/config.js',
			'public/application.js',
			'public/modules/*/*.js',
			'public/modules/*/*[!tests]*/*.js'
		]

NEW-
js: [
			'public

[2015-06-07 12:28] lirantal commented on #585
@loulin do you mean local.example.js? there is no config.example.js and you're not supposed to 'copy' it anywhere... can you explain please?

[2015-06-07 21:17] cdriscol commented on #544
@britztopher - have you seen [waffle.io](https://waffle.io)?  it's a board for github issues..

[2015-06-08 02:51] loulin commented on #585
yes, there is `a copy:localConfig` task that copies local.example.js to local.js. To get meanjs run `NODE_ENV=local grunt`, I have to add facebook, github config ...

[2015-06-08 18:56] lirantal commented on #585
ok so local.example.js, not config.example.js, that's important :-)
you don't have to copy this config yourself, grunt will do it for you, and it's also not a must to create it/use it. By default, the local.js file is also commented entirely so none of the code there should be used.

can you explain the problem you are facing again?

[2015-06-09 07:40] vko-online commented on #389
Any update on this? +1 for token auth

[2015-06-09 07:56] loulin commented on #585
I create an env file `stage.js` like this:
[code]
It throws error when I run `NODE_ENV=stage grunt`. What I mean is that it should run even if I do not config facebook or mailer, etc. Because we never use facebook, so that facebook html tag is also not necessary:
[code]
However, I can add all the config with fake data to get it running. So it's not a bug, maybe it's designed.

[2015-06-09 14:39] hougie commented on #389
+1 Token Auth

[2015-06-09 15:51] julienbachmann commented on #295
I think you can fix it just by modifying the pre save function like this:
[code]

In fact we re hash the password only if it is modified (so if password field contains a clear password).

[2015-06-09 18:16] britztopher commented on #389
@vko-online still waiting on @sielay's PR from #343 into 0.4.0 branch.

[2015-06-10 11:05] marianoqueirel commented on #515
The solution is this: In users.server.controller.js
You should comment the line " delete req.body.roles; " , and in Angular create an array with roles you need. when you pass to server.
[code]

[2015-06-10 12:30] simison commented on #515
@marianoqueirel remember that then you'll also need a middleware to validate roles. Otherwise you might as well just leave all admin pages open...

[2015-06-10 12:37] marianoqueirel commented on #515
Ofcourse, in the route you can do this:
[code]
Or if you want, you could do this from the Angular.

[2015-06-11 04:41] nuwan98 opened #592 "how to remove #! from url"
http://localhost:3000/#!/home

i want to get
http://localhost:3000/home
as my home url
can somebody  please help....

[2015-06-11 08:34] pgrodrigues commented on #592
That happens because 0.3.0 is using angular with hashbang mode enabled and consequently html5mode disabled.

If you want to change just add  `$locationProvider.html5Mode(true);`. But be warned that the routing will most likely break since expressjs in mean 0.3.0 is configured in a way to support the fact that angular is running with hashbang mode enabled, and all links in html files have the hasba

[2015-06-11 17:49] danaronoff commented on #583
Thanks @AlexisTM, this helped me out.

[2015-06-11 22:41] andreafdaf commented on #592
it's pretty simple to make it work on 0.3:
- change all endpoints to /api/what-it-was-before
- if someone requests /some-route (with no api in front) simply redirect them to /#!/some-route and angular will take care of removing the #! (if you followed pgrodrigues steps) and everything is back to normal

wastes a quick roundtrip but works ok, maybe there is a better way

[2015-06-12 10:37] sielay commented on #389
Now you wait for #559 ;) I had to create new PR to align it to 0.4.0. So try maybe to rebase and test against it. I had bit hectic time and need to add last fixes, then guys will take a look. Will try to add path asap.

[2015-06-13 07:33] mleanos opened #593 "img/profile/uploads directory overwritten on Heroku deploy"
I'm having an issue with the img/profile/uploads directory, when deploying to Heroku. During deployment, Heroku will destroy this uploads directory. Thus, deleting any profile pictures that users have uploaded. Adding it to .gitignore won't help this issue. It has to do with Heroku using slug, which destroys the application and rebuilds it.

Has anyone had any success with this, when deploying to

[2015-06-13 07:41] simison commented on #593
Isn't this supposed to happen with Heroku? I've understood you should use Amazon S3 or similar to upload your files with Heroku...

[2015-06-13 07:42] simison commented on #593
Yeah: https://devcenter.heroku.com/articles/dynos#ephemeral-filesystem

[2015-06-13 07:43] mleanos commented on #593
Yea, this is definitely a desired feature of Heroku. However, was curious of what other's may be doing to combat this with the new uploads dir.

I'll check out your resource.. Thank you!

[2015-06-13 07:47] mleanos commented on #593
Thank you for responding. I'll look at using Amazon S3. My other option will be to store them in my database. I was hoping to avoid that for the purpose of a profile picture. I'm already using mongo to store other file uploads from user's.

[2015-06-13 07:48] simison commented on #593
Yeah, either way. S3 is neat.

You're welcome!

[2015-06-15 06:53] GPnow opened #594 "Adding Module dependencies,not working"
For my web-project i wanted to use  https://github.com/sebastianha/angular-bootstrap-checkbox , I did bower install angular-bootstrap-checkbox --save,and then in config.js i added 'ui.checkbox' after 'ui.utils' in applicationModuleVendorDependencies,everything just disappeared when i did grunt,however when i remove ui.checkbox,everything is fine

[2015-06-15 07:03] GPnow commented on #594
I forgot to add it in all.js assets

[2015-06-15 07:03] #594 closed

[2015-06-17 20:30] afhaque opened #597 "Cannot Set Property Host of <IncomingMessage> which has only a getter | App Crashes"
Hey guys,

I've got an initial application working having set things up via Yeoman. I'm able to add articles and list articles when using the initial template content.

But after adding my own CRUD-module using the crud generator my app is crashing whenever I attempt to select any entry I create.

In my case, for instance, I created "Hosts" list The below error occurs whenever I try to click on an

[2015-06-17 21:40] dillonlara115 commented on #41
+1

[2015-06-18 14:50] loulin commented on #295
prefer yesnault's [commit](https://github.com/docktor/docktor/commit/1f00332b4dfbdd8de992c8cd94156676171e869e), is there any other solution? or @yesnault can commit to 0.4.0

[2015-06-18 15:25] julienbachmann commented on #295
Yes, his solution is better in term of performance as it remove the pre save hook.

But you need to be careful that you won't forget to call the method preparePassword  everywhere you set password to a user. Because if a developer add code to set password of user somewhere else in the code, then it will be stored in clear in the DB and also user won't be able to log in again.

So I think the bette

[2015-06-19 02:47] loulin commented on #585
As it's a boilerplate, these configs are all good examples, so I can keep them and add new strategies.
Close for low priority.

[2015-06-19 02:47] #585 closed

[2015-06-19 04:23] loulin commented on #295
Good idea. I tested your changes and it worked fine.
I removed the password length check because its validation function is enough.
See copy from @julienbachmann [fork commit](https://github.com/loulin/mean/commit/f3687a4d7c3e0d3621024e737d1ccc961f329eea)

[2015-06-19 07:28] julienbachmann commented on #295
In fact as you hash pwd in setter, validation will be performed on hashed password, so your validation won't work as expected. By checking pwd in setter, you will raise validation as pwd will be empty.

You should also add a test that validate pwd setting works as expected. I don't have time right now otherwise I would have fork and propose a pull request.

[2015-06-20 02:43] nishant8BITS opened #598 "After updating outdated dependencies got issue to run mean app"
Very first issue I got when I updated outdated dependencies, for ref I have pasted the package.json file content. error :  **callback provided to sync glob** Ref: https://github.com/isaacs/node-glob/issues/167 , then I modified config code and init code https://gist.github.com/nishant8BITS/f4ce80ce3e976f7532b3 and fix the **callback provided to sync glob** issue, then I run **grunt** I got error :

[2015-06-22 10:27] dinu88 opened #600 "Can't install"
gyp_main.py: error: no such option: --no-parallel
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onCpExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/configure.js:355:16)
gyp ERR! stack     at ChildProcess.emit (events.js:98:17)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (child_process.js:1038:12)
gyp E

[2015-06-22 10:34] dinu88 commented on #600
node v0.11.15
node-gyp v1.0.2

[2015-06-22 12:18] isotnikov commented on #600
@dinu88 requirements:

[2015-06-22 12:22] isotnikov commented on #597
@afhaque show me your host mongoose model and hosts.server.controller.js:94

[2015-06-22 12:25] isotnikov commented on #588
Check requirements for mean.js. Your node is v0.12.4 but look here

[2015-06-22 12:27] isotnikov commented on #598
I guess the best way to solve this - fork project and let's see what did you change at first.

[2015-06-22 12:44] nishant8BITS commented on #598
@isotnikov  I did same.

[2015-06-22 12:50] isotnikov commented on #598
Ok, good. Give us the link.

[2015-06-22 13:03] nishant8BITS commented on #598
@isotnikov https://github.com/nishant8BITS/mean/tree/mean-dependency-update

[2015-06-22 13:06] dinu88 commented on #600
@isotnikov thank you

[2015-06-22 13:06] #600 closed

[2015-06-22 16:46] taninme commented on #588
Thanks :)

[2015-06-22 17:11] estvmachine opened #602 "Multiples views using ui-router"
Hi, im trying to use multiples views using ui-router, the second view is charged inside the first view, so this way i dont alter the native 'index.html' from mean.js, that is i want... Here is my controller

[code]

The index html:

[code]

I put 'data-ui-view" assuming unnamed, with this way in other aplications works, additionally i add the 'template" for angular, something like this:

[code]

B

[2015-06-22 17:22] zbjornson opened #603 "`mongoose.connect` is treated as if it's synchronous"
https://github.com/meanjs/mean/blob/master/server.js#L16 You're treating that call as if it's blocking, but it's not -- establishment of a connection(s) is async, and the rest of the initialization should only proceed after the callback is called without an error, right?

[2015-06-22 17:41] zbjornson opened #604 "What is the "secure" environment versus the "production" environment?"
The [config docs](http://meanjs.org/docs.html#configuration) list development, production, test and travis, but the [git repo](https://github.com/meanjs/mean/tree/master/config/env) contains development, production, test and secure. Initially I wondered if "production" was a non-SSL production environment, but there is [at least one](https://github.com/meanjs/mean/blob/master/config/express.js#L77

[2015-06-23 02:13] mhale650 opened #605 "yo generated controllers / services / etc. do not load"
Hi,

I am trying to refactor my code into different files but running into an issue.  Right now I have multiple controllers in my articles/controllers/articles.client.controller.js file.  I generate an additional controller using yo, it seems to work fine, I copy the controller into that file (here following a youtube video so pretty sure I got that right), but then the controller can't be found.

[2015-06-23 08:14] mleanos commented on #605
What does do the controller declarations look like in your articles.client.controller.js?

My guess is that you're not declaring it correctly in the new files, due to (perhaps) a reference to the module being a variable in your original file.

More details would be helpful... if just a mere code snippet. Either way, it's most likely with your controller declaration.

[2015-06-23 20:21] lirantal commented on #604
scroll down on your original link for express and you'll find the reference to 'secure' config: https://github.com/meanjs/mean/blob/master/config/express.js#L148

[2015-06-23 20:24] zbjornson commented on #604
Yeah, I saw that -- but my point was that "production" and "secure" do two different things. What if I want a secure (SSL) production (`app.locals.cache = 'memory';`) environment?

[2015-06-24 07:15] apitts opened #606 "MEAN Security"
Has anyone done a deep dive into security yet? I'm wondering whether issues like those detailed below exist or not:
http://blog.websecurify.com/2014/08/hacking-nodejs-and-mongodb.html

[2015-06-24 15:23] mhale650 commented on #605
The controller in the articles.client.controller.js are declared as follows:

[code]

Thanks for any help

[2015-06-25 15:41] dinu88 commented on #528
You have controllers, only you have to do is to move and adopt this controllers to your new cordova app.
Anyway, I'll not suggest you to use Angular in phonegap app if you want to make it fast and responsive.

[2015-06-25 18:10] lirantal commented on #604
The 'secure' config is not about adding security, it's simply about running the service in SSL mode (the name 'secure' might be confusing). If you want to run with the 'production' env settings and in SSL mode simply copy the production settings to the 'secure' env config.

[2015-06-25 18:30] zbjornson commented on #604
Yeah, I understand what they do, but that's still not my point. Currently in order to get a production environment with SSL, you would have to modify express.js because this line:
https://github.com/meanjs/mean/blob/master/config/express.js#L77
is dependent on "production"
and the SSL stuff here:
https://github.com/meanjs/mean/blob/master/config/express.js#L148
is dependent on "secure". Copying th

[2015-06-27 02:07] ikhos commented on #325
I find the proposed changes better than using ng-init, but kind of cumbersome. Couldn't this be delegated to a function that checks the current $state? Will this affect performance in any way?

Like so:

[code]

[2015-06-27 14:32] mg1075 opened #607 "folder convention for shared directives, services, etc."
Especially with regard to 0.4, I cannot tell what strategy is appropriate when creating a directive or a factory that is not specific to any one module but that might end up being used in multiple modules.

From the perspective of folder structure, if I made a custom directive potentially applicable to multiple modules, would I create a "directives" folder under modules/core/client/ ?

[2015-06-27 15:22] dancancro commented on #607
@mg1075 I don't have the answer for you, but I did a survey of approaches that might interest you.

[Click here](https://docs.google.com/spreadsheets/d/1tGPTpRGQNUsQ117wUI_r5K40FvQt1PFcMZTmfZ7zAPM/edit?usp=sharing)

Rows 76 and 77 answer the question for directives which I'm calling "client-side, app-scope html extensions" and "client-side, app-component-scope html extensions".

Of the approaches

[2015-06-27 16:31] mg1075 commented on #607
@dancancro - Thanks for sharing.
With the mean.js 0.4 branch, I don't know if this is acceptable, but adding a folder under "modules" called "_common" seems like a potential approach.
../modules/_common
../modules/_common/directives
../modules/_common/services
../modules/_common/filters

But this seems not quite right in the sense that "_common" is not a module like the real modules under the modu

[2015-06-29 07:30] lirantal commented on #295
@julienbachmann or @loulin would you like to create a PR vs 0.4 branch with @julienbachmann's proposed solution? please add/modify tests as required so we can be sure everything is working as expected.

[2015-06-29 16:23] mg1075 opened #608 "0.4 - favicon link in layout.server.view.html"
I believe the link for the favicon needs to be changed in the core module, because the link is missing a reference to the client folder.

current:
`<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">`

change to:
`<link href="/modules/core/client/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">`

[2015-06-29 17:57] mg1075 commented on #608
I guess the question really is: why should config/lib/express.js be taking out '/client'? What is the rationale for this?

[code]

[2015-06-29 23:03] mhale650 commented on #605
Turned out I needed to give it time to compile after adding a file...

Marking it as closed.  Dumb mistake!

[2015-06-29 23:03] #605 closed

[2015-06-30 02:29] ilanbiala commented on #603
@zbjornson take a look at 0.4.0 for the improved version.

[2015-06-30 02:31] ilanbiala commented on #606
@apitts would you like to address this issue?

[2015-06-30 02:32] #528 closed

[2015-06-30 02:34] apitts commented on #606
Thanks @ilanbiala. I'm investigating it at the moment. Just wanted to check if anyone had previously reviewed. I will certainly submit any PRs if I find issues...but I'm not certain that there are issues....

[2015-06-30 02:34] ilanbiala commented on #325
@ikhos I'm not really a fan of doing stuff in the event, because that makes more work for people who want to switch routing and if we decide to move to angular/router in the future.

[2015-06-30 16:33] zbjornson commented on #603
@ilanbiala yes, it's correct in 0.4.0.

(Your branches are a bit confusing -- the readme gives instructions for checking out the "latest" version of the repository, but the instructions will check out master, not 0.4.0. From the number of commits in each branch, I was not sure if 0.4.0 was historical or future.)

[2015-06-30 21:16] lirantal commented on #608
@mg1075 I'm not sure why is that.
What's else in /client? can you investigate and shed more light there?

[2015-06-30 22:07] lirantal commented on #402
@ilanbiala @mleanos and anyone else wanting to help merge 0.4 into master, lets take this discussion further.

with regards to 0.4.0 branch, it doesn't seem to make sense to merge 'master' into '0.4.0', which means we have to do the other way around and that is to merge '0.4.0' into 'master', resolve all conflicts and push to the repo.

Thing is, even if we do that today, then we have all those PR

[2015-07-01 10:24] mleanos commented on #402
I'm a bit torn on the best strategy to handle this. It's such a big "merge". I recently migrated my app to the 0.4.0. So I have a little bit of a sense, as to the complexity of merging master with 0.4.0.

How much of what is in master, is critical to merge with 0.4.0? I'm sure there are some bug fixes, dependency differences, and perhaps other features that have been merged into master lately.

Fo

[2015-07-01 11:02] pgrodrigues commented on #608
0.4.0 is using `serve-favicon` middleware in `config/lib/expressjs` which indeed has the correct path to the favicon:

    // Initialize favicon middleware
    app.use(favicon('./modules/core/client/img/brand/favicon.ico'));

and will intercept any `GET /favicon.ico`.

[2015-07-01 14:33] ilanbiala commented on #402
@lirantal didn't we set up PRs and other commits directly to 0.4.0 so we could just choose that as the copy to keep when merging?

[2015-07-01 16:52] lirantal commented on #402
@mleanos @ilanbiala glad to have you guys on-board here :)
@roieki @SOSANA @miguelcoba @wesleyfsmith we'll appreciate if you guys can please comment and refer here to the status of 0.4.0 in my following summary:

I jumped the gun and this is what I did:
1. created master_to_0.4.0 branch out of master (the name may sound confusing)
2. merged 0.4.0 into master
3. lots of conflicts that needs resolvi

[2015-07-01 22:09] mleanos commented on #402
This sounds like a good plan to me. Looking forward to helping out here.

@lirantal Thanks for getting this going. Still a long road ahead of us, but it will be worth the long nights.

[2015-07-02 09:59] lirantal commented on #402
already merged most of it, current status:
1. still need to commit some fixes from master branch
2. one test needs to be corrected

I'll push the branch when I'm done with it and it is in a stable/working state and you can comment on it from that point. I do however want to get this going pretty quickly now that we have the momentum going!

[2015-07-02 13:06] trainerbill opened #612 "Update to grunt-nodemon 0.4.0"
Can we update grunt-nodemon to 0.4.0 on the mean 0.4.0 branch?  It will fix the issue of watching too many files:

https://github.com/ChrisWren/grunt-nodemon/issues/46

Happens to us Ubuntu users.

[2015-07-02 16:54] nuwan98 commented on #592
thank you friends, it is very helpfull

[2015-07-02 18:18] roowerr opened #613 "removing #! not working"

[2015-07-02 18:20] #613 closed

[2015-07-02 21:31] #593 closed

[2015-07-02 22:23] michalmw opened #614 "Articles - How to add new field (rly is hard?)"
Hello,

i try add new field in articles.
e.x. 'data'
I try alone do this and working.. But rly is hard do this. You know how to fast add new field?

What i do?
1. add in public/controllers/articles.js:15
[code]
2. in views/create.html add:
[code]
3. in server/models/article.s:28 add:
[code]

and working..

really is so much work to add one field?

[2015-07-02 22:24] ilanbiala commented on #612
@trainerbill create a PR after 0.4 is officially released. This will probably have to wait about a week and it will be released as part of 0.4.1 or slightly after.

[2015-07-03 04:30] taninme commented on #310
Hi Can you please share the code for image upload ? this will be a big help. Thanks in advance ..

[2015-07-03 08:30] mleanos commented on #607
When I first started working with MEAN stack, I had the same design consideration. I ended up putting these types of directives/services inside the core/client folder structure.

However, I've built directives, and services, that mostly pertain to one module but needed to be used in a few places by other modules. I just put these in their respective "module"/client folder.

The good thing, is that

[2015-07-03 08:37] lirantal commented on #402
Updated 0.4.0 branch ready to be merged at: https://github.com/meanjs/mean/pull/616

[2015-07-03 16:22] soulgrasp commented on #310
dude you have to change the path thats all

On Fri, Jul 3, 2015 at 1:30 PM, taninme <notifications@github.com> wrote:

[2015-07-04 03:45] taninme opened #617 "Image Upload in meanjs"
Hi

I'm trying to use the image upload feature in 0.4 in the 0.3 version of meanjs, but I'm not sure did they use nay package for image upload ? or just the code ? please let me know. Thanks a lot

Ferdous

[2015-07-04 03:47] taninme commented on #310
I'm trying to use 0.4 code in 0.3 for generic image upload. is that a package ? thanks

[2015-07-04 08:49] HanrichPotgieter opened #618 "mailin"
Good day. I need to use a server to receive emails from mailin and then the emails get posted to the server. I am quite new to the MEAN.js as soon as I post the email to the server I receive error 401 not authorised.
How do I add an exception to the routes to allow this without making security issues?
http://mailin.io/doc

[2015-07-04 08:55] HanrichPotgieter commented on #618
I solved this issue by removing the
incomingEmails.hasAuthorization
object from the routes.

[2015-07-04 08:55] #618 closed

[2015-07-04 16:02] lirantal commented on #617
@taninme wait a couple of weeks, hopefully even sooner, when we'll be rolling out 0.4.0 branch.

[2015-07-04 16:03] #617 closed

[2015-07-04 17:31] AnilKumarSamal opened #619 "Regarding Invocation of authentication Service in mean js"
Hi,
I am implementing a sample application using mean js However when i refresh the page the nav bar loses the autheticated user data so i get the login page back.I think the authentication.user is getting refresh. Can someone guide me when the Authentication service in mean js gets invoked and how to resolve the issue?The refresh of page should keep the nav bar displaying the autheticated user.

[2015-07-04 23:26] sielay opened #620 "CleanMean"
Hi

As I said I do couple of projects basing on this awesome stack. I did many improvements that I needed for my project. I can't spend time creating PRs and sometimes I have to go in different direction. Anyhow I love this project and to enable you to pull best cherries of my work I created https://github.com/sielayltd/cleanmean . Feel free to pull form it, especially identity and testing. I will

[2015-07-06 07:39] babagimanoj opened #624 "How to remove #! from mean js urls?"

[2015-07-06 07:54] babagimanoj commented on #592
thanks pgrodrigues , that saves my time.

[2015-07-06 10:41] bmkmanoj opened #625 "Supprt for docker-compose"
As of today, fig is officially moved to docker-compose.

Can the documentation and source code change to reflect the same?

[2015-07-06 10:49] bmkmanoj commented on #625
I just realized there is another thread in the issues list for this: https://github.com/meanjs/mean/issues/449

So, closing it.!

[2015-07-06 10:49] #625 closed

[2015-07-06 11:13] pgrodrigues commented on #619
After logging in, refresh the page and do `console.log(Authentication.user);` in your home controller. If the value is `null` check wether or not you are injecting req.user when you serve your index view like this:

    exports.renderIndex = function(req, res) {
        res.render('modules/core/server/views/index', {
           user: req.user || null
        });
    };

If you are injecting req.us

[2015-07-06 12:27] rhutchison commented on #608
Close?

[2015-07-06 14:16] estvmachine opened #626 "initResize is not defined"
I got this error in the minified version of my project:

![image](https://cloud.githubusercontent.com/assets/2062668/8524241/f4be7be0-23c7-11e5-9ec7-48a7278aa725.png)

Why happen this?

[2015-07-06 17:56] lirantal commented on #626
@estvmachine
1. can you rebuild your assets? (css, js, etc)
2. which version of MEAN.JS is this on?

[2015-07-06 18:03] lirantal commented on #620
@sielay thanks, sounds interesting. I will definitely have a look there.

[2015-07-06 18:06] lirantal commented on #608
before we close we should still confirm if this is some bug or not.
@pgrodrigues @mg1075 can you confirm if it's working as expected?

[2015-07-06 19:16] mg1075 commented on #608
Fine to close.

The issue here that is kind of awkward from my perspective is how layout.server.view.html has its file paths altered. Another example is:
`<div ng-include="'/modules/core/views/header.client.view.html'"></div>`

The real folder path is `modules/core/client/views/header.client.view.html`, but again this path gets modified on the server. To people looking at the view the first time,

[2015-07-07 08:35] pgrodrigues commented on #608
Both the favicon and the ng-include work but maybe the paths weren't updated from `0.3.0` to `0.4.0`. `0.3.0` seems to have the same paths as `0.4.0` despite the directory structure being different.

[2015-07-07 10:27] simison opened #628 "Built with MeanJS"
I'd like to gather a list like this: https://github.com/linnovate/mean/wiki/Built-with-Mean

Feel free to drop links here!

Fine if start create a wiki page stub?

[2015-07-07 10:28] lirantal commented on #628
Of course, go ahead.

[2015-07-07 10:41] simison commented on #628
Volá! https://github.com/meanjs/mean/wiki/Built-with-Mean.js

[2015-07-07 10:56] simison commented on #628
Wait, meanjs.org isn't built with meanjs. Silly. :-)

[2015-07-07 11:24] benmarten commented on #372
+1

[2015-07-07 13:55] estvmachine commented on #626
1. Yes i can rebuild the assets, the server works and all, only gives me that error.

2. Sorry i delete the version in Package.json, exist other part where i can know that? :(

[2015-07-07 14:01] lirantal commented on #628
lol, nice

[2015-07-08 11:46] lirantal commented on #612
right, it's there and we can probably close this issue thanks to @rhutchison PR.

[2015-07-08 11:46] #612 closed

[2015-07-08 13:34] denzelwamburu commented on #369
There has been some major updates in the Material Design Framework by Google which were announced at the I/O 15, am totally sold out to the idea of using it. :+1:

There is another framework by google also - Details [here](https://medium.com/google-developers/introducing-material-design-lite-3ce67098c031) - Material Design Lite ([http://www.getmdl.io/](http://www.getmdl.io/)) build with polymer co

[2015-07-08 14:12] simison commented on #369
I'm using [material.angularjs.org](https://material.angularjs.org/) at one project and it's evolving quite fast. It's some extra work to keep up with the changes.

For Mean.js, I'd wait for little bit before moving to it. Perhaps when BS goes 4.0 and we'd anyway need to upgrade frontend framework, it would be good time to check this again?

[2015-07-09 18:54] zloyded commented on #624
+

[2015-07-09 19:43] ilanbiala opened #635 "CI testing should lint code"
Let's add linting to be part of our CI tests so that we have a more consistent style.

@lirantal @roieki @amoshaviv sounds good?

[2015-07-09 19:50] lirantal commented on #606
@apitts did you find anything new?
the specific method of attack wouldn't work on MEAN.JS 0.4.0 branch, mostly because we are using passport library which knows how to handle these security concerns.

[2015-07-09 20:31] rhutchison commented on #624
Use 0.4.0 branch

[2015-07-10 01:02] apitts commented on #606
@lirantal I haven't found any issues yet! Yep, I definitely thought that passportjs should prevent the kind of attacks detailed in the article.

[2015-07-11 09:26] lirantal commented on #295
no worries, I've created a PR to address this issue: https://github.com/meanjs/mean/pull/642 and also added tests for the problem

[2015-07-11 09:26] #295 closed

[2015-07-11 21:48] #619 closed

[2015-07-11 21:48] AnilKumarSamal commented on #619
Thanks.

[2015-07-12 00:15] jloveland commented on #490
+1

[2015-07-12 06:59] kohbongchoi opened #644 "PassportJS - Facebook issue"
Hi everyone,

We've used this stack for awhile now, and are familiar with the entire process of setting up social authentication, in this case, via facebook provider. Setup app on facebook, add keys to the env.config and setup domains / redirect uri etc on the facebook app settings.

However, I just did a fresh install npm install -g generator-meanjs then yo meanjs into a new app, and noticed that

[2015-07-12 10:47] simison commented on #644
Which branch you are using? Master is currently using old version of passport-facebook npm module and 0.4.0 branch (going to be merged soon to master) has the new 2.0 version.

Details #202

[2015-07-12 11:06] kohbongchoi commented on #644
I had attempted with both 0.4 and 0.3 generators, same issue. Could be the 0.4 generator hasn't been updated with the new passport-facebook?

Also, what is the status on the 0.4 generator? I noticed a few issues (for one, the routes are still referencing /auth/facebook/callback instead of the new api prefixed routes.

[2015-07-12 11:08] simison commented on #644
Can be. Could you check the package version you have? `npm ls passport-facebook`

[2015-07-12 11:11] kohbongchoi commented on #644
Hi again, thanks. Didn't expect someone to be up at this hour :)

I checked, didn't update npm. Now everything is good again :)

[2015-07-12 11:11] #644 closed

[2015-07-12 11:13] simison commented on #644
Man, it's 2pm here in Eastern Europe. ;-) Cheers.

[2015-07-12 23:17] jloveland opened #646 "node v0.12 doesn't prompt for a PEM password when running grunt prod"
I get this error running with ssl after generating a cert with a password:
`Error: error:0906A068:PEM routines:PEM_do_header:bad password read`

my suspicion is that node is not asking me for the password when running `grunt prod`. I am running with node v0.12.5

to resolve, I needed to remove the password from the pem like so:
[code]
not sure if anyone else has seen this, but I mentioned the a re

[2015-07-12 23:21] jloveland commented on #646
assignee: @lirantal

[2015-07-13 01:12] jloveland commented on #606
additionally, we should test mean.js with certsimple.com and follow some of the recommendations to get an A+ rating :smiley:
https://certsimple.com/blog/a-plus-node-js-ssl

[2015-07-13 14:00] ilanbiala commented on #606
@jloveland what's their accreditation? Is there any reason we should trust them?

[2015-07-14 02:10] jloveland commented on #606
@ilanbiala I heard about ssllabs from listening to Steve Gibson's "Security Now" Podcast a while ago:
https://www.grc.com/sn/sn-396.txt
https://www.grc.com/securitynow.htm

If you search for "test ssl certificate" you will ssllabs at the top and other wikis referencing them.

Either way, you can use other tools like digicert to validate the findings of ssllabs.
https://www.digicert.com/help/

We w

[2015-07-14 17:06] codydaig commented on #526
Fixed in Pull Request #648

[2015-07-14 20:04] lirantal commented on #606
I'm not sure that adding some default ssl cert which is ultra-secure is a requirement though.
Most people who would choose to work with the project in SSL mode will definitely create their own SSL cert.

[2015-07-14 21:28] jhkirkley commented on #646
I agree. I ran openssl rsa -in key.pem -out newkey.pem && mv newkey.pem key.pem inside sslcerts but it could be added to the script.

[2015-07-14 23:11] #526 closed

[2015-07-14 23:43] codydaig commented on #443
Has there been any work on the docs for 0.4.0 or shall I get started setting up a Jekyll solution and populating it with content that applies from the previous version?

[2015-07-14 23:55] codydaig commented on #443
Has anybody started on the 0.4.0 docs yet? Can I set-up a Jekyll solution and get rolling on moving the old documentation that still applies over?

[2015-07-15 01:57] jloveland commented on #606
@lirantal you are right, I did not mean to suggest committing a ssl cert. I mean't that we would need someone with a trusted cert from a certificate authority to test this for us.

I do think it would be beneficial to add some of the recommendations to the nodejs server if running in *secure* mode:
[code]

[code]

[2015-07-15 03:14] Shrizzy commented on #443
I haven't seen much happening with the docs. If you're able to kick things off, submit a PR and we'll go from there.
Similar to Issue #294

[2015-07-15 05:19] codydaig commented on #443
See Pull Request #649

[2015-07-15 05:57] lirantal commented on #443
@codydaig yes, looks good.
please keep up the 0.4.0 documentation there and we also need to get more reviewers on that PR.

[2015-07-15 06:16] codydaig commented on #589
@golmic Are you still having any issues?

[2015-07-15 06:57] codydaig commented on #443
Should the 0.4.0 documentation follow the same format and structure as the current documentation? Does anybody have any changes they would like to see happen?

[2015-07-15 07:22] lirantal commented on #443
specifically I don't have any objections

[2015-07-15 09:42] lirantal commented on #604
@zbjornson since we have 0.4.0 going pretty well and going to release that soon then I don't think it's worth doing any changes o the 'master' branch for now related to this.
WDYT?

[2015-07-15 10:35] bgobi1991 opened #650 "ReferenceError: Can't find variable: angular"
Hi,
when run this application through this error ReferenceError: Can't find variable: angular.

can anyone give the solution ?

[2015-07-15 11:27] lirantal commented on #646
I understand the issue but creating a the cert with a passphrase and then removing it doesn't make much sense. We should either have another script to remove the passphrase or somehow tell the user not to use a passphrase if that's even possible.

WDYT?

[2015-07-15 13:00] vaucouleur commented on #650
Hi,

Did you follow the full install procedure, including the  "npm install" step ?

Sebastien

[2015-07-15 14:38] codydaig commented on #646
@lirantal That's the way every server I worked on does it, where the server keys do not have a passphrase.

[2015-07-15 15:06] grantgeorge commented on #646
I believe if you do not use the -aes256 option it will not prompt you for a password. The script can be updated as in this PR:

https://github.com/meanjs/mean/pull/651

[2015-07-15 17:47] zbjornson commented on #604
Good with me. (I'd change your readme though to clarify that "master" is not "latest," but is instead the "latest stable" and that future development goes on in separate release branches.) Cheers!

[2015-07-15 17:47] #604 closed

[2015-07-15 17:58] lirantal commented on #604
@zbjornson hoping to see more from you on 0.4.0 items! :)

[2015-07-15 18:04] lirantal commented on #646
sounds great, thanks @grantgeorge
@jloveland I merged #651  do you want to test it out and let us know if this works for you?

[2015-07-15 18:43] jloveland commented on #646
Sure, looks like it will work! But I will test it tonight

[2015-07-15 18:44] codydaig commented on #294
@ilanbiala Can we close this Issue and move 0.4.0 documentation discussions to #443 ?

[2015-07-15 18:48] #294 closed

[2015-07-15 18:49] ilanbiala commented on #406
Moving to #443

[2015-07-15 18:49] #406 closed

[2015-07-15 18:50] ilanbiala commented on #402
This issue has fragmented. For docs info go to #443

[2015-07-15 18:50] #402 closed

[2015-07-15 18:54] ilanbiala commented on #443
Condensed a few issues about 0.4 into this issue. For anyone who would like to contribute documentation to 0.4.0 @codydaig has helped us set up a Jekyll gh-pages site, so help us tie up loose ends and contribute any documentation you can!

[2015-07-15 18:55] lirantal commented on #646
Great. For now I'm closing the issue.

[2015-07-15 18:55] #646 closed

[2015-07-15 21:22] codydaig commented on #443
I submitted a pull request #652 which demonstrates how documentation can be added. I also restructured the permalinks which I outlined and explained in the pull request.

My current question for discussion: I have not used the Yo Generator very much, so I would like some guidance. I'm assuming that the current version of the generator will still be accessible once 0.4.0 is released. With this assu

[2015-07-15 22:41] simison commented on #626
@estvmachine From [package.json](https://github.com/meanjs/mean/blob/0.4.0/package.json#L4)

Or checking which branch you're at by typing `git branch`

[2015-07-16 04:22] golmic commented on #589
no.thanks~

[2015-07-16 04:23] bgobi1991 commented on #650
Hi,
i followed steps to installation but through this error,

D:\Projects\Examples\mean-master>npm install
npm WARN package.json meanjs@0.3.3 No license field.

bower ENOGIT        git is not installed or not in the PATH

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\\\node.exe" "C:\\Program Files\\nodejs
\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v0.12.

[2015-07-16 04:31] codydaig commented on #650
Do you have bower installed correctly on Windows? It requires an extra step than mac/unix users
https://www.npmjs.com/package/bower#windows-users

[2015-07-16 04:33] karan-kapoor90 commented on #650
The error clearly states that either git is not installed or is not in the
path. Can you confirm if you installed git?

On Thursday, July 16, 2015, Cody B. Daig <notifications@github.com> wrote:

[2015-07-16 04:49] codydaig commented on #608
I'll make note to add this to the documentation. #443

[2015-07-16 04:54] codydaig commented on #589
Close?

[2015-07-16 05:34] bgobi1991 commented on #650
Hi,
Solved this issue, thank you very much..

[2015-07-16 05:34] #650 closed

[2015-07-16 06:05] codydaig opened #653 "Old and Combined Issues"
@ilanbiala @lirantal Since you guys seem to be the most active collaborators lately, do you mind if I go through the older issues and mark ones that are resolved or have a discussion open in a newer issue to be closed?

[2015-07-16 06:33] lirantal commented on #653
that would be very helpful, thanks!

[2015-07-16 06:33] #653 closed

[2015-07-16 06:34] codydaig commented on #118
Since this moved to #343, and #343 was closed, can we close this issue?

[2015-07-16 06:48] codydaig commented on #364
@Kulver I am unable to reproduce this in 0.4.0 and the current master branch does not have a gulpfile. Is this still an issue or has it been resolved?

[2015-07-16 06:52] codydaig commented on #592
@nuwan98 Did your question get resolved?

[2015-07-16 07:00] codydaig commented on #449
Has this been fixed with pull request #611 ?

[2015-07-16 07:20] lirantal commented on #118
@codydaig #343 is closed until we get that PR against 0.4.0 so maybe we leave this thread open still.

[2015-07-16 20:08] lirantal commented on #449
let's close, I think we're good here, otherwise @tejasmanohar can re-open.

[2015-07-16 20:08] #449 closed

[2015-07-16 20:08] lirantal commented on #592
let's close, otherwise @nuwan98 you're welcome to re-open if this issue is still happening on the 0.4.0 branch.

[2015-07-16 20:08] #592 closed

[2015-07-16 20:10] lirantal commented on #364
@codydaig @ilanbiala : this is an old one and I personally don't think we should be spending our effort trying to keep up with both gulp and grunt maintenance. I vote for closing this.

[2015-07-16 21:04] codydaig commented on #221
@shubhamVerma Any update on this?

[2015-07-16 21:29] ilanbiala commented on #364
No, let's just go with Gulp.

[2015-07-16 21:30] #589 closed

[2015-07-16 21:41] codydaig commented on #544
Is this still something that that the team wants to move too or should we just close it?

You can always view the issues, even through the team may not use it: https://waffle.io/meanjs/mean

[2015-07-16 21:44] ilanbiala commented on #544
I don't really feel it's necessary. We're doing fine with GH milestones and labels. Closing unless anyone has something earthshattering.

[2015-07-16 21:44] #544 closed

[2015-07-17 07:47] lirantal commented on #544
agree with @ilanbiala
there's enough maintenance as is on the project.

We'll get 0.4.0 out the door and then consider.

[2015-07-17 07:52] lirantal commented on #364
I don't know who worked on the gulp support for 0.4.0, maybe Amos. I think the gulp settings there are not 100% compatible with the grunt config we have so I suggest we don't invest time on the 0.4.0 release on gulp, and can consider moving to it after we release 0.4.0

Let's create a Roadmap page for 0.5.0 and start stuffing items there.

[2015-07-17 07:52] #364 closed

[2015-07-17 07:55] lirantal opened #657 "Roadmap planning for MEAN.JS 0.5.0"
Features
- ~~0.4.0 - refactor_user #559 (need PR work)~~ added to backlog (mleanos)
- ~~JWT (JSON Web Tokens) authentication method (#1163)~~ added to backlog (mleanos)
- [x] Deprecating Grunt in favor of Gulp (#1175)
- [x] Angular 1.4
- [x] Angular Styleguide - https://github.com/johnpapa/angular-styleguide
  - [X] Articles
  - [x] Core (#1202)
  - [x] Users (#1208)
- [x] #807 [Enhancement] Artic

[2015-07-17 08:22] simison commented on #657
https://github.com/johnpapa/angular-styleguide

[2015-07-17 10:37] lirantal commented on #606
@jloveland adding those cipher options when running in SSL mode means we will need to maintain this list in the future when updates will arrive (new/obsolete ciphers), doesn't it?

[2015-07-17 10:38] lirantal commented on #524
Closing issue

[2015-07-17 10:38] #524 closed

[2015-07-17 10:39] lirantal commented on #472
Closing issue.

[2015-07-17 10:39] #472 closed

[2015-07-17 10:40] lirantal commented on #312
@MangeshMp all tests run ok now on 0.4.0 branch so I'm closing.
If you are still having any issues there please re-open.

[2015-07-17 10:40] #312 closed

[2015-07-17 14:24] jloveland commented on #606
@lirantal , yes, ciphers could change as a result of updates to industry standards and security research. The fact is that node still This can be tested periodically by users running ssl and checking their website with https://www.ssllabs.com

There are certain ciphers that should be disabled for known vulnerabilities. This may be viewed by the community as opinionated, but the Nodejs documentatio

[2015-07-18 05:55] lukekhamilton commented on #657
+1

[2015-07-18 06:08] lukekhamilton opened #660 "description & keywords env var not display content in markup #0.4.0"
The app.description and app.keywords content from ./config/env/defaults.js is not being rendered in the markup.

Have tried to workout why this, however I cant seam to work it out.

[2015-07-18 19:48] kpennell opened #661 "Issues upon following instructions"
Still pretty beginnerish.  Tried cloning and running npm install.  Still not sure if it worked.
Seems like a lot of errors after running it as instructed.

`localhost:desktop Test$ git clone https://github.com/meanjs/mean.git meanjs
Cloning into meanjs...
remote: Counting objects: 6057, done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 6057 (delta 2), reused 0 (delta 0), pack-re

[2015-07-18 19:54] kpennell commented on #661
I ran `grunt` and get this:

localhost:meanjs Test$ grunt

Running "jshint:all" (jshint) task

Running "csslint:all" (csslint) task

Running "copy:localConfig" (copy) task
Copied 1 file

Running "concurrent:default" (concurrent) task

Running "nodemon:dev" (nodemon) task

Running "watch" task
Waiting...
[nodemon] v1.2.1
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: app/views/**/

[2015-07-18 20:15] vbabaria commented on #347
using "yo meanjs" version 1.4.7, creating crud module still doesn't show up on topbar - would appreciate any suggestion? - thanks

i tried "topbar" as suggested by earlier comments, regenerated all files, restarted grunt but doesn't seem to be working

bash-3.2# yo meanjs:crud-module superheroes
Which supplemental folders would you like to include in your angular module? css, img, directives, filt

[2015-07-18 22:32] mleanos commented on #661
@kpennell Have you tried running npm install again, after you installed grunt-cli?

Also, are you sure you're running the command window (I used cmd.exe since I'm on Windows) with the proper permissions; for me I run it as an Administrator.

[2015-07-18 22:35] kpennell commented on #661
yeah, I did that but no luck.  Running this in terminal.

On Sat, Jul 18, 2015 at 4:32 PM, Michael Leanos <notifications@github.com>
wrote:

[2015-07-18 22:57] codydaig commented on #661
What node and npm versions are you running?

[2015-07-18 23:14] codydaig commented on #603
0.4.0 is future, but getting much closer to be merged into master.

I think this issue is resolved then.

[2015-07-18 23:17] codydaig commented on #602
I don't quite understand what you're trying too do. However, at first glance I notice the syntax highlighting is off signifying an error.

You currently have:
<script type="text/ng-template" id="../public/modules/DTE/views/list-documentos.client.view.html</script>

It needs to be:
<script type="text/ng-template" id="../public/modules/DTE/views/list-documentos.client.view.html"></script>

Not sure

[2015-07-18 23:22] codydaig commented on #598
@nishant8BITS - Are you setting your NODE_ENV upon execution?

[2015-07-18 23:23] codydaig commented on #597
@afhaque - Is this still an issue?

[2015-07-18 23:26] codydaig commented on #561
#569

[2015-07-18 23:28] codydaig commented on #438
Is this still an issue or can this be closed?

[2015-07-18 23:53] codydaig commented on #452
@cliffeby Is this still an issue?

[2015-07-19 13:27] #603 closed

[2015-07-19 21:41] lirantal commented on #446
we can close this one

[2015-07-19 21:41] #446 closed

[2015-07-19 21:45] lirantal commented on #660
this seems very relevant and related to https://github.com/meanjs/mean/pull/536 so maybe we should close #536 and instead submit a new PR on the same topic for 0.4.0 branch

[2015-07-19 21:46] lirantal commented on #438
quite old and no update so let's close for now.

[2015-07-19 21:46] #438 closed

[2015-07-19 21:49] lirantal commented on #602
@estvmachine can you please explain?

[2015-07-19 21:52] lirantal commented on #598
@nishant8BITS can you explain what is not working exactly?I suspect @codydaig is on the right track there and would anyway suggest to clone 0.4.0 branch again

[2015-07-19 21:54] lirantal commented on #561
thanks @codydaig for cleaning this up, we can indeed close and continue discussing in PR #569

[2015-07-19 21:54] #561 closed

[2015-07-19 22:16] cdriscol opened #663 "Client side test coverage"
I'm working on client side test coverage in my own fork.  I'm happy to create PR's, but wasn't sure if the extra coverage would be useful or not to others.. any interest?

edit: this is on the 0.4.0 branch

[2015-07-19 22:31] codydaig commented on #660
@lukekhamilton @lirantal

I actually just got an email this morning about this and the correct solution from @jdalton. I will submit the pull request shortly.

[2015-07-19 22:40] codydaig commented on #663
+1

[2015-07-19 22:50] lukekhamilton commented on #660
Confirmed #665 fixes this can be closed once merged. :)

[2015-07-20 02:09] cdriscol opened #667 "adding more client tests causes $location:nobase error"
Hey guys -
Anyone know why I'm getting the following error:
[code]
when I add 2 more client tests?

Adding really simple tests (i.e. below) cause this error.  Doesn't seem to matter what test file I add extra tests to, it always seems to throw this error when I add 2 more tests.  Oddly, if I comment out one of the tests, the error is not thrown.

**chat.client.controller.tests.js**
[code]

I can g

[2015-07-20 03:40] kimgeorge83 commented on #608
I'm not sure I understand why the /client is removed from the paths. It's not very intuitive. Could someone explain the rationale? I spent a long time trying to figure out why my paths weren't being found, I asked the question on stack exchange (http://stackoverflow.com/questions/31491925/angular-js-directive-templateurl-not-found-on-mean-js-stack/31508318#31508318).

[2015-07-20 04:12] estvmachine commented on #602
Oh sorry. In the documentation of ui-router says you can use one state with multiples views (https://github.com/angular-ui/ui-router/wiki/Multiple-Named-Views). So my question is very nooby and its something like if i want to add this funcionality, the template or the structure of the app is still gonna working.  Well that is the question.

The code above i think is incorrect now i see it.

[2015-07-20 04:14] codydaig commented on #624
Can this be closed since it is solved by using 0.4.0?

[2015-07-20 04:20] codydaig commented on #667
I encountered this on another project while writing tests for it, however, I fixed it by adding the following to the HTML page. However, this is already in the main layout html page on the 0.4.0 branch so I'm not sure why that would be failing.
[code]

[2015-07-20 04:26] cdriscol commented on #667
Turns out this is caused by karma's default html file that is loaded without any base tag.

**node_modules\karma\static\context.html**
[code]

looks like Karma has an [upcoming fix to allow for custom context.html files](https://github.com/karma-runner/karma/pull/1360) so we can add our own custom context.html with a head tag when it's supported.

In the meantime, I decided to add a test file that

[2015-07-20 05:12] cdriscol commented on #663
[Here is the branch](https://github.com/cdriscol/mean/tree/client_test_coverage) I am working from.

Currently a work in progress, but open for any suggestions.

[2015-07-20 05:15] lirantal commented on #663
we're definitely pro-tests so please submit a PR for 0.4.0 when you're ready with some tests and we can review them for merge.
Thanks @cdriscol

[2015-07-20 05:16] #667 closed

[2015-07-20 05:17] lirantal commented on #660
great, thanks @codydaig and @lukekhamilton

[2015-07-20 05:17] #660 closed

[2015-07-20 05:24] lirantal commented on #602
ok, anything else to do here or you'll close this issue?

[2015-07-20 05:24] lirantal commented on #624
yes, thanks guys for cleaning this up.

[2015-07-20 05:24] #624 closed

[2015-07-20 05:29] lirantal commented on #663
@cdriscol I can't assign to you specifically but consider yourself assigned :-)
Can you estimate the work required here before you can provide a PR with good coverage and quality tests? I would like to see this for 0.4.0 so we can introduce testing on the angular side.

[2015-07-20 05:41] lirantal opened #669 "0.4.0 Release"
This is a list of all PRs and Issues that we want fixed and merged to 0.4.0 branch before we release.

# General Features
- [x] Admin module support #615 #676
- [x] [Nice to Have] add backend support for Article voting #552 (RESOLVED as not part of 0.4.0)
- [x] #501 Handle 404 errors at Express backend and at Angular frontend #566

# Minor Cleanups
- [x] Task Enhancements #666
- [x] Move Logo, Fav

[2015-07-20 05:51] codydaig commented on #614
@michalmw Are you having an issue or is your code working and just curious about the multiple places of adding a field?

[2015-07-20 05:52] codydaig commented on #588
Can this be closed?

[2015-07-20 05:53] codydaig commented on #626
@estvmachine Are you still having issues or can this be closed?

[2015-07-20 05:55] codydaig commented on #504
The 0.4.0 branch also integrates socket.io for the chat module.

@nidhin001 Did your question get solved / can this issue be closed?

[2015-07-20 05:58] lirantal commented on #614
I think this can be closed, looks like @michalmw answered his own question :)

[2015-07-20 05:58] lirantal commented on #588
Yes, and should be moved to the generator branch in the future

[2015-07-20 05:58] #588 closed

[2015-07-20 06:02] nidhin001 commented on #504
@codydaig  yeah. it is solved. thank you

[2015-07-20 06:05] #504 closed

[2015-07-20 06:28] codydaig commented on #669
#439 takes care of some of the changes from #587

[2015-07-20 06:32] codydaig commented on #608
This seems to be a common issue. I'm not sure why it removes the /client from the paths but you could change it in the config file if you want it back in on your project.

[2015-07-20 07:42] lirantal commented on #669
@codydaig are you sure? they look totally unrelated.

[2015-07-20 07:50] codydaig commented on #669
If you look on and around this line: @igorauad made some of those changes. But it does not cover all the places that #! needed to be removed that #587 points out.
https://github.com/meanjs/mean/pull/439/files#diff-6586a849345903e73352845be92306cfL87

[2015-07-20 12:35] estvmachine commented on #602
Its ok, im gonna close it. Thanks for the response.

[2015-07-20 12:49] #602 closed

[2015-07-20 12:55] lirantal opened #670 "0.5.0 Coding Conventions"
- [ ] JSHint configuration to enforce more restrictions
- [x] Replacing Tab indentations with 2 spaces indent ( @ilanbiala @simison @codydaig  )
- [ ] Code Documentation (jsdoc/ngdoc/whatever you suggest) + every PR will be accompanied with another gh-pages PR to update the project documentation when relevant. ( @codydaig @ilanbiala @simison )

[2015-07-20 13:25] cdriscol commented on #663
@lirantal - I should have angular 100% tested this week.

[2015-07-20 13:43] simison commented on #530
Upgrade — as of July:
- the API of the new router isn't yet stable and things are still changing.
- No docs yet.
- Estimated to be published with Angular 1.5, probably this autumn.

[2015-07-20 13:45] simison commented on #670
I'd love to see one massive tabs => spaces change right after 0.4.0. Would make it easier later to track 0.5.0 changes.

Tabs/spaces seems to be a very common issue with PLs.

[2015-07-20 13:47] simison commented on #657
Supposing 0.5.0 won't hit the master branch very soon, we could try to include new ng-router. https://github.com/meanjs/mean/issues/530 once its ready/documented.

Using Angular 1.5 would be a good step towards 2.0 some time in the future (0.6.0?)

[2015-07-20 13:54] estvmachine commented on #626
Im still having issues, i dont know my version, only i know i using node v.0.10.25

[2015-07-20 14:09] ilanbiala commented on #670
+1 on that. 2 spaces or the tab equivalent is best.

[2015-07-20 14:28] simison commented on #670
Otherwise this is total bikesheddig but I think [this](https://www.quora.com/Is-it-preferable-to-use-tabs-or-spaces-when-writing-code-Why/answer/Albert-Sheu) nails it:

[2015-07-20 14:38] simison commented on #670
By documentation do you mean documenting coding conventions or adding [jsdoc](http://usejsdoc.org/) (or even ngdoc)?

[2015-07-20 15:09] simison commented on #669
I'd leave ngBestPractices (#636) PL out and do it thoroughly for 0.5.0 (it's related to #490 style guide).

[2015-07-20 15:23] bluekrill opened #672 "Password required Validation error on user update"
Hi,
I am using a standard meanjs base for my app, when I try to update an user, it gives me a save failed error :
Saving error is :

      {
        [ValidationError: Validation failed]
        message: 'Validation failed',
        name: 'ValidationError',
        errors:
         { password:
           { [ValidatorError: Path `password` is required.]
               message: 'Path `password` is re

[2015-07-20 17:45] igorauad commented on #669
@codydaig, thanks for pointing. @lirantal #587 can be merged first, then I update #439 accordingly.

[2015-07-20 18:18] Valonix opened #674 "DIgital ocean Mean droplet"
Hello, i am new in MEAN.js, angular, node and angular :)) but i want learn that stack.
I install mean stack in digitalocean droplet after i wrote grunt command i see that
![image](https://cloud.githubusercontent.com/assets/8511169/8783427/6fec0afa-2f24-11e5-9aa1-dc64be372c8f.png)

it is normal errors?

and where i can find mongo config and storage data after registration and other? i want see that

[2015-07-20 18:32] ilanbiala commented on #669
Style should follow in 0.4.1 or even 0.5.0 depending on how big of a change it is, but since it doesn't change functionality we should be able to do it anytime.

[2015-07-20 18:33] lirantal commented on #663
@cdriscol  That would be an amazing accomplishment, looking forward.

[2015-07-20 19:18] lirantal commented on #626
@estvmachine
If you deleted the package.json that's a bit of an issue. How will you know MEAN.JS version? how will you re-install all of npm requirements?

If you manage to get it sorted maybe you should re-run `npm install` to make sure everything is up to date?

[2015-07-20 19:21] lirantal commented on #670
Seems like there's no discussion required on the indentation type (thank god!) - we'll go with 2 spaces indent like the rest of the world (I'll update the item there)

I mean both code documentation as well as general documentation. Code docblock is self-explained. General documentation means that if we merge a PR that makes some change to how things work then it should be accompanied by another g

[2015-07-20 19:27] lirantal commented on #672
Hi @bluekrill,

The changed password issue got resolved on branch 0.4.0 which will be soon released.
If you need to continue supporting the current version of MEAN.JS which you used then you can easily backport the fix (it's very focused) to your version and apply it.

[2015-07-20 19:30] lirantal commented on #674
@Valonix welcome to the gang.
My most significant recommendation for you is to clone and checkout the 0.4.0 branch for the MEAN.JS project because it is quite the re-write of the project (files structure, etc) and will be released soon. This will guarantee that what you learn won't be wasted away with the new 0.4.0 release.

The issue there seems to be related to a non-compatible executable, not s

[2015-07-20 19:31] #635 closed

[2015-07-20 19:40] ilanbiala commented on #670
+1 on docs required to merge a PR as well.

[2015-07-20 19:42] danaronoff commented on #674
@Valonix That js-bson error is in my DO image as well, but the app still runs. I imagine as @lirantal said the binaries for that module need to be updated or recompiled.

I see you are using port 80 directly -- did you change that? Are you running the program as root? There are security implications with that. See here for a workaround: http://stackoverflow.com/questions/16573668/best-practices-wh

[2015-07-20 20:11] codydaig commented on #670
+1 on changed requiring an updates docs PR

+1 on spaces instead of tabs!

[2015-07-20 20:34] Valonix commented on #674
@danaronoff yeah, i change port from 3000 to 80. fot see site without :3000 in url . is this mistake?

@lirantal you can tell me what i need to do in steps? i am really novice in all of this:)
I understand I need to wait for a while and set all over again only this new version?

[2015-07-20 20:38] codydaig commented on #674
@Valonix https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-ubuntu-14-04

It's generalized for any node.js application, but a great tutorial on running a node.js application in production.

[2015-07-20 20:40] simison commented on #670
+1 docs update requirement. A _CONTRIBUTING.md_ file would come handy. It would briefly explain all this and appear as a link on top the form when adding new issues/PL's. See [our page](https://github.com/Trustroots/trustroots/issues/new) for an example.

[2015-07-20 20:42] Valonix commented on #674
@codydaig ok, but  I just think that it is putting the stack where everything is already set up and including Mongo DB, I'll see what it looks like normally :)

[2015-07-20 20:45] Valonix commented on #674
i paste this code in console
sudo iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 3000
and my site work withour :3000 is this bad idea?

[2015-07-20 21:18] kimgeorge83 commented on #608
No worries, I'll try changing it on my project, I'm just a bit worried I might break something. I'd really like to understand the rationale why this was done.

[2015-07-20 21:30] danaronoff commented on #674
As far as I know there are two ways to do it. The first is with a reverse proxy like ngnix (described in the link from @codydaig) and the other is through firewall rules like the one you just implemented. For a small website or a development environment, I don't see any issue with the firewall solution. For bigger websites needing to scale horizontally, the ngnix method is probably preferable.

[2015-07-20 21:32] Valonix commented on #674
this is mt first step:) i think i didn`t need 100 firewalls and other security :)

[2015-07-20 21:34] Valonix commented on #674
@lirantal how i can install branch https://github.com/meanjs/mean/tree/0.4.0 by readme file?

[2015-07-20 22:35] codydaig commented on #674
To use grunt, you have to run
[code]

[2015-07-20 23:01] Valonix commented on #674
maybe i am stupid:) but i can`t understand how i must install 0,40 branch on new ubuntu server.
maybe i can some change after i install mean on digitalocean?
edit some file and write smth - file update and he download all needed file :)

http://188.166.108.124:3000/#!/ that is works , just install mean on 14.04 in digitalocean.

[2015-07-20 23:10] fatty1380 commented on #657
THIS!!!! Some key highlights that I've adopted in my project:
* "$scope must die!" -  use `controller as` in place of `$scope` [Y030:View Syntax](https://github.com/johnpapa/angular-styleguide#style-y030), [Y031:Controller Syntax](https://github.com/johnpapa/angular-styleguide#style-y031) and [Y032:with vm](https://github.com/johnpapa/angular-styleguide#style-y032]
* IIFE : Immediately Invoked Fun

[2015-07-20 23:43] mg1075 commented on #608
Doesn't the modification of the file path defeat the goal of quickly identifying files and destinations? I think it is better to have verbose path names rather than slightly less verbose path names that have their paths dynamically - and in a kind of sneaky way - altered. Again, it would be really helpful to know the thinking that went behind this design decision.

[2015-07-21 02:50] kimgeorge83 commented on #608
@amoshaviv, it looks like you originally added the module static routes section in express.js, are you able to comment on the rationale for removing /client form the static paths? We are just trying to determine if we'll break anything by removing it on our projects.

[2015-07-21 03:26] bluekrill commented on #672
Thanks @lirantal, I would like to backport the fix to my version. Just to be sure, I would have to perform a git cherry-pick master-0.4.0 to get this done right? If not, could you please tell me the right way to go about it, would really appreciate it.

[2015-07-21 03:48] lirantal commented on #672
Or you could just take a look at the actual change in this PR https://github.com/meanjs/mean/pull/642 and copy&paste it to your code.

[2015-07-21 04:27] bluekrill commented on #672
@lirantal Thanks, but I have already tried the isModified solution, in both cases -> without retrieving the password, in which case it still gives the Password validation error, and retrieving the password, and then trying to save, in which case it does not detect that the password is not modified and proceeds to rehash it.

I copied you code and tested it out again. No luck. Why would it not dete

[2015-07-21 16:09] ilanbiala commented on #669
@lirantal https://github.com/meanjs/mean/blob/0.4.0/modules/chat/tests/client/chat.client.controller.tests.js is a little bit of an issue, no?

[2015-07-21 18:21] ravisuhag commented on #669
We should also get rid for either Gulp or Grunt. I would say Grunt as no doubt Gulp is better choice for performance.

[2015-07-21 20:28] estvmachine commented on #626
I dont delete the packaje.json, only i delete the version of MEAN.JS that appears in that file.

[2015-07-22 02:55] kimgeorge83 commented on #608
I modified the /client removal behavior and it doesn't seem to affect the site behavior. I'll let you know if I run into any issues. I updated the post here with details of the fix (http://stackoverflow.com/questions/31491925/angular-js-directive-templateurl-not-found-on-mean-js-stack/31508318#31508318).

I can make the change to mean.js if people are interested but the yeoman module generator wil

[2015-07-22 10:42] C-YanHua opened #677 "Routing - Route error handling only at Angular (client-side)"
Hi meanjs developers,

I have been following 0.4.0 for quite awhile and I notice the latest commit includes route error handling at both server and client side as oppose to the previous version whereby route error handling is solely done on the server side and any invalid route at client side is simply redirected to the home page.

I was wondering would it be possible to solely rely on Angular to

[2015-07-22 12:26] simison commented on #677
Hey, thanks! I wrote that solution.

Server side handling makes sense for /api/* paths which are supposed to return json answer (or html if client requests so) and for /public/* paths so that browsers can catch missing asset files with appropriate error at console. Any other wrong routes are passed for Angular (i.e. server just pushes index.html and Angular ui-router then checks if the route exist

[2015-07-22 12:53] C-YanHua commented on #677
Hi simison, thanks for the explanation!

But i am facing a slight issue with this approach.
In my application, I am trying to utilize express parameters to search for a user profile by his/her username.

So in the server side "users.server.routes.js", i have the following route:

[code]

and in client side "users.client.routes.js", i have the following state:

[code]

and a service to handle the r

[2015-07-22 13:14] jkelleher opened #678 "Error with sslcerts/key.pem running production"
Running with 0.4.0 branch all is well for grunt (dev). When I set NODE_ENV to production and run I get:
[code]

Any ideas?

[2015-07-22 13:16] umasgn opened #679 "getGlobbedPaths"
could you please explain getGlobbedPaths functionality.

[2015-07-22 13:25] simison commented on #677
Maan, leaving prefixes (e.g. ./profile/) out of routes you're entering a famous router resolver hell. :-) I really like how Medium.com solved this with their "medium.com/@username" urls (that @).

In this case I'd try to build something with route resolvers, which is anyway a way to go and future Meanjs versions are moving to that direction as well. Check this: https://github.com/johnpapa/angular-

[2015-07-22 13:29] vaucouleur opened #680 "errorHandler.getErrorMessage(err) in the Article middleware 0.4 branch"
Hi,

I noticed something which looks suspicious, although it should probably have been discovered by now, so I might have missed something. It's on the current 0.4 branch, can someone double check this please ?

- At the following line, we're using the err variable:

https://github.com/meanjs/mean/blob/52fe4434290aebc152a561287966701ef9b61410/modules/articles/server/controllers/articles.server.con

[2015-07-22 13:34] C-YanHua commented on #677
Hi simison, thanks for the information!
Didn't know what i was getting myself into, haha! I just wanted to mimic what github was doing for viewing of user profile.

Thanks for the advice! Will look into applying route resolvers in my application.

[2015-07-22 14:15] ilanbiala commented on #679
@umasgn this question should be posted on Stack Overflow or another forum. GitHub should be for bugs and new features.

[2015-07-22 14:15] #679 closed

[2015-07-22 14:41] jloveland commented on #678
See "Running with TLS (SSL)" in README. You need to generate your keys.

sh ./scripts/generate-ssl-certs.sh

[2015-07-22 15:50] lirantal commented on #678
@jkelleher
1. can you update to the latest 0.4.0 version please? you are missing one of the features we added to detect this problem and let you know about it
2. secondly you should run dev and prod environments like this: `grunt dev` and `grunt prod`

@jloveland you've made a good point there without noticing :-) we can correct the behavior today to *tell the user* to do exactly that - to run the

[2015-07-22 16:20] lirantal commented on #626
Ok, please do some checks and ping back.

[2015-07-22 16:43] jkelleher commented on #678
Thanks @jloveland (duh) - worked fine - @lirantal also thanks - suggest docs mention need to create the **sslcerts** folder for shell script to work.
`grunt prod` now works with `MEAN.JS application started on port 8443` but I see nothing when I go to `https://localhost:8443' (ditto when I use http). I'll keep digging.

[2015-07-22 17:04] lirantal commented on #678
yep, go ahead and update us on how this goes.

[2015-07-22 17:10] lirantal commented on #677
@C-YanHua if you got all the help you need from @simison I guess we can close this issue?

[2015-07-22 17:20] lirantal commented on #608
@kimgeorge83  so I'm not sure if you are referring to an actual bug here or just question about convention.

@rhutchison @trainerbill do you have an idea how/if the /client affects anything?

[2015-07-22 17:24] kimgeorgesb commented on #608
It's not a bug it's just not a very intuitive convention to remove the /client from all the paths because it's not a real path, the designer has to know that's the convention. There doesn't appear to be any solid reason why that's the convention.

[2015-07-22 17:25] lirantal commented on #670
@simison I've been wanting to add that CONTIRBUTING.md page for the past 2 weeks but haven't yet gotten to it, so you're welcome to PR it. Generally we need it as a documentation page on gh-pages as well as an actual file.

Most importantly is what the contents of it will be and the guidelines there still need to be worked out. I have more than few already noted down but I'll close that list and w

[2015-07-22 17:34] danaronoff commented on #608
I think the reason this was done was to maintain backwards compatibility with the current paths in the master branch. This convention allowed the public/modules folder to be moved to the current 0.4.0 structure without having to update any static routes in the views.

I can see the benefit in keeping it the way it is to ease the migration to 0.4.0 as long as it is documented. Anyway, in the curren

[2015-07-22 17:50] lirantal commented on #672
I assume you are working on the latest 'master' code? if so can you give us step by step instruction how to reproduce the problem you are facing?

[2015-07-22 18:11] codydaig commented on #674
For a bare bone ubuntu server, Digital Ocean has some great tutorials on how to get a server-up for Node. At minimum, the server needs to have Node and MongoDB installed.

To Use MEAN on a server with Node and MongoDB installed:
1.) Download the 0.4.0 branch: https://github.com/meanjs/mean/archive/0.4.0.zip
2.) Extract the files
3.) npm install
4.) grunt
5.) You should be good to go. You may have

[2015-07-22 18:41] jkelleher commented on #678
@lirantal not much progress. All seems well with `grunt prod` but there's no reply from https://localhost:8443. Console shows:
[code]
I suspect it has to do with minification of the angular.module() call but struggling to unravel what exactly is broke.

[2015-07-22 19:21] trainerbill commented on #608
+1 for closing.

[2015-07-22 19:34] lirantal commented on #608
I personally did the merge of 0.4.0 with master and while it could be that some things on the UI are broken - I didn't have any kind of conflict to resolve related to the /client paths.

I tend to agree with @kimgeorgesb about this thing not being very intuitive and anyone trying to learn the framework will find it hard so I don't want to just "toss it away".

If removing /client doesn't break any

[2015-07-22 19:36] Valonix commented on #674
okay, thank, i try this later :)

[2015-07-22 19:51] danaronoff commented on #608
Would that mean that all client side views would need to be updated to include 'client'?

[2015-07-22 19:52] lirantal commented on #608
I don't know, you tell me :-)
@kimgeorgesb didn't say anything about that, just that the /client is anyway being removed on the server side.

[2015-07-22 20:01] kimgeorge83 commented on #608
I get the arguments for backwards compatibility. I had the luxury of starting my app with the 0.4 dev so I only had to correct the paths in the core. I imagine a production site would be a lot of work to update.

I don't think there's any impact to the server side routes its only the client side paths that need to be updated. I'm gonna post a patch for the Yeoman generator so if people want to sta

[2015-07-22 20:38] trainerbill commented on #608
@mg1075 If you remove the

[code]

You get errors on all the controller loading because it is not looking for the client.  So you would also need to update where the application is inserting the script src="modules/core/controllers" etc to include the client piece.  You would also need to update all the references to the views.  I would consider this a very massive undertaking.  But I do agree tha

[2015-07-22 20:42] codydaig commented on #378
I believe this change has been implemented.
https://github.com/meanjs/mean/blob/0.4.0/modules/core/server/routes/core.server.routes.js#L14

Can this issue be closed?

[2015-07-22 21:00] ilanbiala commented on #378
@promijn any issues

[2015-07-22 21:00] #378 closed

[2015-07-23 02:32] jloveland commented on #678
the script to generate the certs [creates](https://github.com/meanjs/mean/blob/0.4.0/scripts/generate-ssl-certs.sh#L12) the ./config/sslcerts directory. However, for people that want to generate their certs without the script, we can have that instruction in the docs.

@jkelleher I was not able to reproduce the error. maybe someone else can try?

[2015-07-23 02:54] #677 closed

[2015-07-23 06:37] C-YanHua commented on #677
Hi, for those who might be interested in my approach on performing route error handling at Angular only. The following is my solution to my problem (It is neither exactly perfect, nor elegant):

So at the server side, i modified/added the following:

In "core.server.routes.js":
[code]

In "core.server.controller.js":
[code]

In users.authorization.server.controller.js:
[code]

In users.client.conf

[2015-07-23 09:05] lirantal commented on #606
@ilanbiala I tend to lean towards adding those ciphers to indeed provide a secure environment. What do you think? is that too much for the framework or is aligned with providing a good and secure OOTB nodejs config?

[2015-07-23 09:59] lirantal commented on #606
@jloveland how did you compile that specific list of ciphers?
[code]

[2015-07-23 10:16] lirantal commented on #606
@jloveland also for helmet's hsts, `ONE_YEAR` is just as an example or do you have a reason for it being very long? seems like 18 weeks approved by Google, is good enough. WDYT?

[2015-07-23 11:07] jloveland commented on #606
I got this list from https://certsimple.com/blog/a-plus-node-js-ssl. Looking at the article update, you can see the mention that they updated the default ciphers in the next version of nodejs.

Looking at the new nodejs source, this is the default (***note*** they added GCM ciphers for Chrome's 'modern cryptography' setting):
[code]

Until we update to the latest version of Nodejs, this list seems

[2015-07-23 11:20] jloveland commented on #606
for helmet's hsts, I have read on a couple articles that we should set it to 6 months.
https://blog.cloudflare.com/enforce-web-policy-with-hypertext-strict-transport-security-hsts/

[2015-07-23 12:46] bluekrill commented on #672
@lirantal Hey, I am not using the latest master code. Will update and get back to you with the result. Hopefully that will fix it :). Thanks for the help.

[2015-07-23 14:01] jkelleher commented on #678
Okay, dl'd 0.4.0 (latest commit) and all works as should, even `grunt prod`. Dunno if the problem therefore lies with my code or the earlier 0.4.0 branch I cloned from. If only I could get more detail from the error message but best I have is that it's a fault with the dependency minification scrabbling those variables.

[2015-07-23 14:13] ilanbiala commented on #606
@lirantal I don't have an issue with adding more SSL support, I just want to make sure we have a reputable source for this information, because I haven't heard of SSL Labs and CertSimple.

[2015-07-23 16:07] trainerbill commented on #608
I think it makes a lot of sense to add the client back into the URLs, but I don't think we should attempt it for 0.4.0.  I say we close this PR or put it in a milestone for 0.5.0

[2015-07-23 17:42] bluekrill commented on #672
@lirantal I found the problem, apparently I had set the password field in my user model as required. This was causing any updates to check for the password and hence the error. Though, the error would disappear after a page reload was forced, so I never thought this could be the problem. It all works fine now, so I guess the issue can be closed. Still can't understand what the page reload did to c

[2015-07-23 18:05] bluekrill commented on #672
@lirantal I have now the updated master version, and now the earlier problem of a Password validation error no longer exists. The user profile is successfully updated, but unfortunately now it either deletes the password field if it does not exists, or rewrites it, if it does.

I am using the exact same server function to update as the master code, and retrieving the user from the exact same authe

[2015-07-23 18:31] codydaig commented on #661
@kpennell Are you still having issues?

[2015-07-23 18:51] kpennell commented on #661
I'm sorry. I just gave up on it when it didn't work.

On Thu, Jul 23, 2015 at 11:31 AM, Cody B. Daig <notifications@github.com>
wrote:

[2015-07-23 19:11] codydaig commented on #661
Can we close this issue then?

[2015-07-23 19:27] codydaig commented on #118
I believe this is taken care of now in #439

[2015-07-23 19:30] codydaig commented on #128
Duplicate of #41 ?

[2015-07-23 19:30] codydaig commented on #41
#676

[2015-07-23 19:36] codydaig commented on #183
Sounds like these issues have been resolved in the 0.4.0 branch.
Can anyone confirm?

[2015-07-23 19:41] #661 closed

[2015-07-23 19:43] codydaig commented on #614
@lirantal Marking this to be closed then! @michalmw Just reopen this is you have any specific questions!

[2015-07-23 19:46] codydaig commented on #590
I don't think this is an issue in 0.4.0.

Can anyone confirm?

[2015-07-23 19:48] codydaig commented on #533
@AliceRossa - We're you able to figure this out?

[2015-07-23 19:49] codydaig commented on #365
Since this is taken care of in 0.4.0, can this be closed?

[2015-07-23 19:55] codydaig commented on #525
I'm assuming @gilesbradshaw is taking about changing before and after ti beforeEach and afterEach. So instead of creating a two users as the beginning for all tests to share, it would create new users for each test to share. Then after each test it would reset the database before moving onto the next test.

https://github.com/meanjs/mean/blob/0.4.0/modules/users/tests/server/user.server.model.test

[2015-07-23 20:05] codydaig commented on #519
@ericvader Does #688 solve your issue?

[2015-07-23 21:54] #614 closed

[2015-07-23 22:00] mleanos commented on #590
@codydaig You're right. This doesn't seem to be an issue in 0.4.0.

I just tested this with a module that has A as the first letter in it's name. Everything loaded fine, including custom services I've added.

Furthermore, the Chat would fail to recognize the Socket service if this was an issue.

[2015-07-23 22:09] codydaig commented on #590
@mleanos Thanks!

@skoold2003 Can this issue be closed?

[2015-07-23 23:29] skoold2003 commented on #590
No problem..  Just wanted to share my experience in case anyone else ran into it. I'm not sure how to check what version I'm using otherwise I'd share it.

[2015-07-23 23:29] #590 closed

[2015-07-24 00:06] codydaig commented on #590
@skoold2003 - It should say in the package.json file, but unless you specifically went to the 0.4.0 branch to download it, your most likely on 0.3.x.

[2015-07-24 05:42] codydaig commented on #670
#690 i created an initial CONTRIBUTING.md file thats open for discussion!
@lirantal @simison @ilanbiala

[2015-07-24 06:15] lirantal commented on #670
Yep, thanks.
I need to review it first and wanted to add some items to it too, we'll take it in the PR.

[2015-07-24 06:49] lirantal commented on #519
Closing as we already have another PR to address this which will be merged.

[2015-07-24 06:49] #519 closed

[2015-07-24 06:52] lirantal commented on #525
I don't think it's an all or nothing. Some tests require other tests to run before them and are based on the previous test.

I do however suggest @gilesbradshaw that if you want to add more tests (and there are many places to add them, whether it's the backend, frontend, or e2e) then just go ahead and create a PR.

[2015-07-24 06:52] #525 closed

[2015-07-24 07:03] lirantal commented on #678
Ok, glad it's resolved, thanks for letting us know.

[2015-07-24 07:03] #678 closed

[2015-07-24 08:22] lirantal commented on #608
@trainerbill thanks for looking into it, I'll add it to the 0.5.0 items

[2015-07-24 08:22] #608 closed

[2015-07-24 08:28] lirantal opened #692 "0.5.0 General Roadmap (TBD)"
- Cleaning up the /client issue https://github.com/meanjs/mean/issues/608 ( @trainerbill )

[2015-07-24 09:08] vaucouleur opened #694 "Minor issue: Unused local variable passport in express.js branch 0.4.0"
Hi,

A minor issue: Unused local variable passport in express.js branch 0.4.0, probably left over after a recent refactoring.

https://github.com/meanjs/mean/blob/00a4c0603aa6a2c785361a37cff6e5ae153b5688/config/lib/express.js#L18

[2015-07-24 10:08] lirantal commented on #694
Thanks @vaucouleur , I have a PR for that.

[2015-07-24 10:12] lirantal commented on #661
@kpennell it's pretty clear from the error messages - express module couldn't be found so I assume you need to re-run `npm install`

[2015-07-24 10:17] lirantal commented on #692
accidental duplicate

[2015-07-24 10:17] #692 closed

[2015-07-24 10:20] lirantal commented on #669
@ravisuhag Gulp is maybe an option for 0.5.0, for 0.4.0 we'll stick with grunt.
@ilanbiala @rhutchison who volunteers to add some tests to https://github.com/meanjs/mean/blob/0.4.0/modules/chat/tests/client/chat.client.controller.tests.js ?

[2015-07-24 10:30] lirantal commented on #41
definitely @codydaig , thanks for looking into it, closing.

[2015-07-24 10:30] #41 closed

[2015-07-24 10:42] lirantal commented on #118
right, I'll close this @crewshin unless you spot any other problems with the fix in the latest 0.4.0 branch then you're welcome to re-open.

[2015-07-24 10:42] #118 closed

[2015-07-24 10:43] lirantal commented on #128
Indeed, let's close.

[2015-07-24 10:43] #128 closed

[2015-07-24 12:04] vaucouleur commented on #680
Following up on this, there is indeed, I believe a small issue. The issue was hidden by the test, that is mixing two (related but distinct) aspects:

* Use of an invalid Id (in the sense: "a badly formed Id", one that does not follow Mongodb conventions)

* Use of an non existent Id (in the sense: "a non existing document")

Separating those two issues in two distinct tests exposes the issue:

htt

[2015-07-24 13:35] mleanos opened #696 "Socket.io won't connect after redirect from Chat client controller 0.4.0"
I've been working with the Chat feature of the 0.4.0 branch, and I've identified an issue with the client Socket service instantiation. I think the current implementation of the Socket service, and Chat module can be refactored with minimal changes. I've done this within my own app, but the implementation is slightly different.

To reproduce the issue.. Try to access the /chat route when you're no

[2015-07-24 13:36] mleanos commented on #696
Perhaps, the issue that is causing #482?

[2015-07-24 13:56] benmarten opened #697 "Facebook Login is not Working"
The Facebook Login is not working and it does not throw any error in the console or web console.
The Facebook redirect works, but then in the application nothing is happening.
I have configured the App_id and secret. What's missing?

[2015-07-24 14:17] benmarten commented on #697
Ok, hunted it down to a missing e-mail: https://github.com/jaredhanson/passport-facebook/issues/129
And also this solution: https://github.com/meanjs/mean/issues/202

[2015-07-24 14:30] codydaig commented on #482
@karan-kapoor90 Are you still having issues?

[2015-07-24 18:28] lirantal commented on #365
Yes, closing.

[2015-07-24 18:28] #365 closed

[2015-07-24 21:41] lirantal commented on #694
closing this due to PR https://github.com/meanjs/mean/pull/699 to fix it

[2015-07-24 21:41] #694 closed

[2015-07-24 21:48] lirantal commented on #672
@bluekrill 2 things:
1. can you submit a PR for master branch which fixes this problem?
2. can I ask you to try out the 0.4.0 branch of meanjs where this issue has been resolved?

[2015-07-24 21:55] lirantal commented on #680
@vaucouleur I see your point, thanks, let's take it in the PR discussion.

[2015-07-24 22:02] vaucouleur commented on #657
The edit and delete buttons, as well as the "posted on and posted by" at the bottom of every view-x.client.view.html pages are, arguably, a form of code duplication across generated modules.

Custom directives could help factoring out those pieces of code.

- On the Pros side, it would be pushing forward the "angular way" (directives), and help people get a concrete example of one or two simple cu

[2015-07-24 22:02] lirantal commented on #696
Woah, that's quite a bug. Good catch @mleanos a PR for that would be blessed, thank you.

[2015-07-24 22:10] mleanos commented on #696
I submitted PR #701 for this.

[2015-07-24 22:31] lirantal commented on #697
@benmarten on which branch is this? master or 0.4.0, and are you updated to the latest version there?

[2015-07-24 22:34] lirantal commented on #482
I believe @mleanos #701 fixes this. @karan-kapoor90 can you confirm?

[2015-07-24 22:47] L1CH opened #702 "Minor issue in config/config.js"
I'm new to mean.js and I'm going through configs and codes.

I found in the config.js
https://github.com/meanjs/mean/blob/0.4.0/config/config.js#L82-83
Should it be "console.log(chalk.red(..."  instead of "chalk.red(console.log(..."?

Thanks

[2015-07-24 22:56] lirantal commented on #702
@L1CH good one, even though it works, we should change it even for consistency reasons across the project

[2015-07-25 02:16] rhutchison commented on #482
@karan-kapoor90 Can you share your full chat implementation?  I like what I see

[2015-07-25 08:34] lirantal commented on #482
@karan-kapoor90 I'm closing this one as we already provided a fix in PR #701 on the 0.4.0 branch.

[2015-07-25 08:34] #482 closed

[2015-07-25 11:38] benmarten commented on #697
Ok, tested this real quick by cloning 0.4.0 branch and just configuring my fb app id.
It does not work. Only works when adding this line to passport.use(...):
    profileFields: ['email']
to config/strategies/facebook.js:18

[2015-07-25 12:59] ilanbiala commented on #697
@benmarten is that found in the FB docs too?

[2015-07-25 13:04] #702 closed

[2015-07-25 13:05] #696 closed

[2015-07-25 13:13] ilanbiala commented on #657
@lirantal definitely a good idea to have many more directives implemented. Biggest thing is we should move to Angular 1.4 first.

[2015-07-25 15:18] trainerbill commented on #657
I created a pagination directive to do paginiation + search easily like in the admin module:

https://github.com/trainerbill/mean/tree/PaginationDirective

We could use it across the entire app.

[2015-07-25 16:00] trainerbill commented on #663
@cdriscol Dude this looks awesome.  We will also be merging in some admin functionality that will need tests.  Do you want to volunteer for these when the functionality is added? :)  https://github.com/meanjs/mean/pull/676

[2015-07-25 16:03] trainerbill commented on #515
We are adding an admin module in the very near future for the specific purpose of adding additional roles to users:

https://github.com/meanjs/mean/pull/676

Can prolly close this issue

[2015-07-25 16:19] trainerbill commented on #539
Can you be more specific?  Oauth requires redirecting off the application and when it redirects back the the return url it has to then authenticate and redirect somewhere.  If you look here:

https://github.com/meanjs/mean/blob/0.4.0/modules/users/server/controllers/users/users.authentication.server.controller.js

On line 87 if an error occurs it redirects to signin with the error on the URL.  Als

[2015-07-25 18:27] lirantal commented on #515
yep, thanks @trainerbill

[2015-07-25 18:27] #515 closed

[2015-07-25 18:57] cdriscol commented on #663
@trainerbill - I can throw in some tests for that!  I've been really busy this week with some other stuff - but will be jumping back into my test branch today and tomorrow.  I'll take a look at the admin module as well.

[2015-07-26 00:23] ppotoplyak commented on #539
Great, this issue appears to be fixed in 0.4.0 with the introduction of the URL err arg.

Closing the issue.

[2015-07-26 00:23] #539 closed

[2015-07-26 00:53] codydaig commented on #301
I think that has been taken care of.

[2015-07-26 00:56] codydaig commented on #499
Can this be closed now that we have a task list for 0.4.0 open and another issue open for the 0.5.0 roadmap?

[2015-07-26 02:49] #499 closed

[2015-07-26 02:49] #301 closed

[2015-07-26 03:07] cdriscol opened #711 "karma tests failing"
looks like karma tests started throwing errors from this commit: https://github.com/meanjs/mean/commit/9fc88e6e5b5bd05c1e532246356725a3fa16a223

i'm currently looking into fixing them

[2015-07-26 03:15] mleanos commented on #711
I can confirm that running `gulp karma` throws errors.

[2015-07-26 17:00] lirantal commented on #501
I assume we can close this now that we merged #566 ?

[2015-07-26 22:57] mleanos commented on #501
I've verified this is working after merging #566. The app is responding with the not-found route on the front-end, when a non existing route is requested.

[2015-07-27 04:03] codydaig commented on #501
Verified. Let's close.

[2015-07-27 09:11] debrouxl opened #715 "Route / request prefix support"
I need to make a MEANJS-based application accessible through an existing reverse proxy which acts as a front-end for multiple other applications. In such a case, all client requests, and all server routes, need to be prefixed.
Adding route prefix support requires a number of improvements and fixes, and for some of those, I'm not sure which the best course of action is. I think that the route prefi