[2016-02-04 16:59] trainerbill commented on #389
I think we can close this out.  Feature is done and awaiting feedback/merge:

https://github.com/meanjs/mean/pull/1163

Please comment to get it pushed through

[2016-02-04 17:23] codydaig commented on #389
@trainerbill If your commit message in line with the Contributing.md document, this issue will auto close when #1163 is merged.

[2016-02-04 17:29] trainerbill commented on #1068
@wansco Can you pull in the JWT PR and see if it fixes this?

[2016-02-04 17:31] codydaig commented on #1168
Sounds like the overall verdict is keeping bootstrap.

Thanks for the discussion everyone! :-D

[2016-02-04 17:31] #1168 closed

[2016-02-04 17:31] trendzetter commented on #389
I am installing this now. I browsed the code and saw that there is a default secret. Not a huge issue for now probably but maybe something to avoid? I don't know what is the best solution. It's easy to update but at some point lazy people will probably install it like that in production.

[2016-02-04 17:33] simison commented on #389
@trendzetter https://github.com/meanjs/mean/blob/43c7041aa574820e0854f095ec96e8ea3b535053/config/config.js#L90-L110 ;-)

[2016-02-04 17:43] trendzetter commented on #389
so it refuses to run in production unless you add your own secret. Nice!

[2016-02-04 18:35] wansco commented on #1068
I think this might still be an issue, although the forbidden part is gone. Basically it doesn't appear to be respecting the server policy. Steps to reproduce:

- Clean install
- Modify modules/articles/server/policies/articles.server.policy.js line 34 (change the role 'guest' to something else i.e. 'xguestx'. This should eliminate views from non-users or non-admins)
- Go to the List Articles page

[2016-02-04 18:42] trendzetter commented on #389
I am mistaken. It's merely warning but not refusing to run.
So far no further issues found.

[2016-02-04 19:14] mleanos commented on #1068
I'm seeing the correct behavior on the latest *master* branch; also, checked on the JWT PR branch & @wansco's steps reproduces the described behavior.

@trainerbill What changes in the JWT PR would be causing this?

[2016-02-04 20:53] trainerbill opened #1187 "(discussion) Gulp Strip Debug"
Thoughts on using:

https://www.npmjs.com/package/gulp-strip-debug

Would be nice to have some debug statements in the code base. Like on controller instatiation do

console.log('ArticlesController::Init', vm);

Then let gulp strip them on production/test build. Obviously we wouldn't allow all console.logs in PR's, but having strategic ones would save a bunch of time IMO

Thoughts?

[2016-02-04 20:54] trainerbill commented on #1187
@mleanos I know you are working a lot with gulp

[2016-02-04 21:49] marianoqueirel opened #1188 "Article with ArticleId Permissions error"
Hi!,

Sory for my English!
The user "user" can delete an article when it should not because this:

[code]
May be happend because first go to

[code]
Thanks! @

[2016-02-04 22:21] trainerbill commented on #1068
I really don't get it... why would you want to change the guest ACL there?  Just remove the get from the / route, or require the user role for it.  Why does this happen in JWT, because the isAllowed is gone as they are public routes...  I guess I can add it back, I just figured if they are public routes why even go through the ACL check... but now I see your point as someone may want to limit it.

[2016-02-04 22:30] wansco commented on #1068
Sorry, that was just a test for an unauthorized route. You wouldn't do that in practice, but that was the easiest way I came up with to simplify the "steps to repeat." Also, I wanted to test the user roles, rather than the route.

Good work on the JWT by the way.

[2016-02-04 23:32] mleanos commented on #1068
@trainerbill It's only public (server-side) because the ACL allow's it on the adhoc "guest" role. The steps demonstrate that the ACL policy isn't being applied correctly in that case.

[2016-02-04 23:33] trainerbill commented on #1068
@mleanos fixed it already

[2016-02-05 04:34] trainerbill commented on #1188
You sure it isn't because the user is the owner?

https://github.com/meanjs/mean/blob/master/modules/articles/server/policies/articles.server.policy.js#L52

[2016-02-05 10:36] marianoqueirel commented on #1188
ohh! sorry for that, I am a beginner and sometimes I forget to check some things.
I'll check that out!

Thanks!!!

[2016-02-05 14:01] #1188 closed

[2016-02-05 18:30] mleanos commented on #1187
I vote no for this...

I don't feel like there's a need for persistent `console.log`'s throughout the framework. We log certain things logging to the console, for important server status. For instance, when the server starts, seed is complete, certificate, and some others. I think those are sufficient for us and users can add whatever may fit their needs. I can see this type of thing getting out o

[2016-02-05 20:56] finid commented on #1151
Ok, the issue has been fixed. With Ruby and Sass installed, I edited `/etc/sudoers` and modified the line that reads:

[code]

To include `/usr/local/bin`, which is the directory path to the Ruby and Sass commands, so that it reads:

[code]

[2016-02-05 20:56] #1151 closed

[2016-02-06 08:10] mleanos commented on #1086
This was already fixed with https://github.com/meanjs/mean/commit/b12be5fca5dcbf71c6b285ec8d385dca83f6a57c, and can be closed.

[2016-02-06 14:36] #1086 closed

[2016-02-06 20:09] codydaig commented on #657
I updated the description above with some tasks that need to get accomplished. The biggest 2 are the refactor of core and users to match the new style guide. Anybody want to take on these refactors? These should be done before we get too deep in enhancements and new features.

[2016-02-06 20:11] codydaig commented on #1187
I would say no to this as well. I'd rather come up with a logging option that can be enabled/disabled depending on the env other than console.logs() that get stripped.

[2016-02-06 20:33] trainerbill commented on #1187
@codydaig Problem with that is you have to have if statements everywhere, even in production code.  This would be a much cleaner approach with zero performance impact IMO.

[2016-02-07 04:50] ilanbiala commented on #1187
Yeah, this seems a little pushy on logging when we can really handle that in a better way by using logs properly.

[2016-02-07 08:40] 0x24a537r9 opened #1192 "Inconsistent file naming convention for certain files in articles module"
If you look at the filenames for the project, they are for the most part very well organized and consistent. There are, however, a few minor exceptions that should probably be fixed in the `articles` module. In most cases, files are named like:

[code]

So the format seems to roughly follow the pattern: [hyphenated subject].[client/server].[type].[optional "tests"].js. But then there's:

[code]

T

[2016-02-07 20:07] ChrisMaher opened #1193 "How to access users view pages?"
I see the user admin --> edit, list and view pages but i have no idea how to access them.

Is there more to becoming an admin than editing the role in Mongodb to admin?

Thanks

[2016-02-07 20:36] mleanos commented on #1193
@ChrisMaher Merely adding `admin` to the User's `roles` array should do the trick; the actual collection in your database, not the mongdb instance.

If you have already tried adding the *role* and still can't access the Admin module..
Are you working off a fresh clone? Is it possible that the admin module client routes aren't setup with the `admin` role?

[2016-02-07 20:39] ChrisMaher commented on #1193
Im using MEAN 0.4 if that makes a difference. This is what im working on https://github.com/ChrisMaher/mean-dev-0.4

[2016-02-07 20:45] mleanos commented on #1193
that repo looks correct to me. Have you verified that the User you're logged in with has the `admin` Role? Try console logging `Authentication.user.roles` on the client-side.

[2016-02-07 20:56] ChrisMaher commented on #1193
Is this enough?

From Mongo

[code]

From Batarang

roles:
[ admin, user ]

[2016-02-07 21:03] mleanos commented on #1193
If that's what your User's data looks like, then it should allow access to the Admin module. What is the behavior you're seeing? Any console/server errors?

I don't have time right now, but I'll try to pull down your branch later & test locally.

[2016-02-07 21:08] ChrisMaher commented on #1193
It just says page not found with a warning if i visit http://localhost:3000/users.

Would this happen if i wasnt admin and visited the page as a regular user or does it indicate the route is messed up?

[2016-02-07 21:16] mleanos commented on #1193
Try `localhost:3000/admin/users`

[2016-02-07 21:18] mleanos commented on #1193
Also, `localhost:3000/api/users` should return a list of users in json format. That is the server-side route; it's only accessible to Admin's.

[2016-02-07 21:20] ChrisMaher commented on #1193
Im actually an idiot.

Yeah that brings up a list of users alright.

Thank you very much. Couldnt find anything about it anywhere and the routes seem to just say /users

[2016-02-07 21:22] mleanos commented on #1193
Is the Admin menu not showing up in the topbar?

[2016-02-07 21:28] ChrisMaher commented on #1193
Nope. probably something i changed with that to be honest. Ill manually add a link myself again.

Thanks for the help.

[2016-02-08 01:39] mdata2 commented on #476
@ejeremias having the same issues you have.. Have you found a fix for it?

[2016-02-09 02:10] mleanos commented on #1193
@ChrisMaher I think this can be closed.

[2016-02-09 02:11] mleanos commented on #1068
@0xNacho Can you verify that this issue has been resolved in the latest *master*?

[2016-02-09 02:23] ChrisMaher commented on #1193
Absolutely.

[2016-02-09 08:40] vaucouleur opened #1195 "Enhancement: Whitelist-xor-Blacklist the user object fields (do not do both)"
- Sometimes in the code, we **blacklist** some user's fields. Like password that get excluded:
https://github.com/meanjs/mean/blob/959d03c31edbf8a865eb73000f3cba58cbb89868/modules/users/server/config/users.server.config.js#L24

- Sometimes in the code, we **whitelist** some user's fields. Like in the renderIndex method:
https://github.com/meanjs/mean/blob/6658774569d5718411b0766a226f45fa13b5b7b6/m

[2016-02-09 17:24] #1193 closed

[2016-02-09 17:26] codydaig commented on #1195
Is your proposal to then remove additional fields that shouldn't be sent to the client instead of only including the ones that you want sent?

[2016-02-09 17:29] codydaig commented on #1187
Looks like the overall consensus is no on this, but in favor of a logging alternative.

[2016-02-09 17:29] #1187 closed

[2016-02-09 18:25] itelo commented on #1185
please check [#1186] (https://github.com/meanjs/mean/pull/1186)

[2016-02-09 19:20] vaucouleur commented on #1195
@codydaig Either blacklisting or blacklisting is fine by me. If I had to make a choice, it would be blacklisting. That's my first bullet point above: what we are already doing with password etc. The safeUserObject is whitelisting. Again, any option is fine, we just have to be consistent, I guess. If someone has a strong opinion about this, I'd love to read it.

[2016-02-09 23:10] etiennetatur commented on #1185
It worked perfectly and it is a really pretty way to handle it !
I re-used another directive to handle the SEO description in a similar way.

Thanks !

[2016-02-09 23:10] #1185 closed

[2016-02-09 23:36] itelo commented on #657
I checked #389, and i didn't understand if MEAN.js has some plan to be mobile platform too. I'd like this feature...

[2016-02-10 00:13] codydaig commented on #657
@itelo #1163 is on the list and in progress.

[2016-02-10 13:23] ejeremias commented on #476
Unfortunately not yet. This same complicated! Can anyone help us?

[2016-02-10 16:06] #1146 closed

[2016-02-10 16:07] ilanbiala commented on #476
Hey everyone, please make an issue on the generator repo for any lingering issues, as this repo is for the framework and we're trying to keep it more organized so everything is in one place.

[2016-02-11 02:37] 1nfinite opened #1201 "Disabling mongodb connection"
I am using meanjs 0.4.2 as a template for development. However, our site will not be accessing database directly. Is there any configuration to disable connection to mongodb?

[2016-02-11 05:26] rhutchison commented on #325
Resolved by #1126

Please close if this is no longer an issue.

[2016-02-11 05:34] rhutchison commented on #1192
I assume you mean list.articles.client.controller.js?

[2016-02-11 05:41] androidfred commented on #325
Closing as requested.

[2016-02-11 05:41] #325 closed

[2016-02-11 07:19] 0x24a537r9 commented on #1192
Whoops! Yes, sorry. I was looking at my own fork where I had already renamed the files.

There may be other filename inconsistencies the repo, but those were the only ones I saw.

[2016-02-11 15:50] sparshy opened #1204 "strict validations for username?"
A user can signup with username "mean mean & mean" , shouldnt there be strict rules for username?

[2016-02-11 17:13] ChrisMaher opened #1205 "0.4 Google Login not pulling photo."
Is there any reason why after a user signs up with Google their avatar still stays as the default?

`image:  {
url: https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50
isDefault: true
 } `

Where as Facebook changes to

picture:  {
data:  {
is_silhouette: false
url: https://scontent.xx.fbcdn.net/hprofile-xtl1/v/t1.0-1/p50x50/12705392_241793949485701_8

[2016-02-11 17:21] ChrisMaher commented on #1205
Actually there seems to be some inconsistency depending on whether a user signs up with Google or adds Google to their account.

[2016-02-11 18:29] ilanbiala commented on #1204
Suggestions?

[2016-02-11 18:33] sparshy commented on #1204
1. start with alphabet
2. no spaces
3. alphanumeric, _ and .
4. limit length 3-100

[2016-02-11 19:16] ilanbiala opened #1206 "Client-side coverage"
@lirantal @codydaig we don't have client-side test coverage. I think we should add that into Gulp. It would definitely help track PRs for client-side stuff.

[2016-02-11 19:18] ilanbiala commented on #1204
Is there any reason to limit it to that? What sorts of issues may we run into without these restrictions?

[2016-02-11 20:08] mleanos commented on #1204
From my perspective, I really wouldn't care what my User's use as a username. Just as long as my application can store it, and retrieve it.

Some of the apps that I've created, I actually forced my User's to use their email address as their username. This was more of a business rules consideration, and for ease of registration.

If you're not restricting to email addresses, then I say it's fair ga

[2016-02-11 20:14] #1205 closed

[2016-02-11 20:29] sparshy commented on #1204
@mleanos  i am using username to generate profile urls for users `xyz.com/username` for that I had to restrict username in my app.

[2016-02-11 22:44] lirantal commented on #1204
@sparshy why not use an id for referencing the username instead of the plain username field from the database?

[2016-02-11 22:49] lirantal commented on #1201
@1nfinite is it actually failing to run if mongodb is not present?
If so, you can try to hack the `app.js` file to ignore the mongodb connection attempt: https://github.com/meanjs/mean/blob/master/config/lib/app.js

I'm not sure this is a common case that would constitute an actual configuration field control over mongodb.

[2016-02-11 23:57] codydaig commented on #1204
You could also just Slugify the username for the url.

[2016-02-12 04:54] sparshy commented on #1204
@lirantal that wont be user friendly ,no user will remember his id
@codydaig a user expects his profile to open when he types `xyz.com/username` not the slugified version. look at any website twitter, fb, github all have strict rules for username.

also login feels bit weird with username with spaces. username : "mean mean"

[2016-02-13 01:12] microdr opened #1209 "Error with angular-bootstrap modals"
Injecting $uibModal into an angular controller gives the error:
`Error: [$injector:unpr] Unknown provider: $animateCssProvider <- $animateCss <- $uibModalStack <- $uibModal`

I believe this may be the result of a version conflict as seen here:
[https://github.com/angular-ui/bootstrap/issues/5139](https://github.com/angular-ui/bootstrap/issues/5139)

I apologize in advance if this is somehow a mist

[2016-02-13 05:28] microdr commented on #1209
Updating angular to 1.5, as in the pull request linked below, fixes the issue.
Because the version upgrade is imminent, I will close the issue.
[https://github.com/meanjs/mean/pull/1207](https://github.com/meanjs/mean/pull/1207)

[2016-02-13 05:28] #1209 closed

[2016-02-13 07:36] rohitkumarvinay opened #1210 "Edit articles on the list page"
How do i edit the articles on the list page.

[2016-02-13 10:06] dbelieves opened #1211 "Working with subdomains"
I want to create a subdomain in the meanjs app.
main : example.com
subdomain: team.example.com
subdomain: dashboard.example.com

where team and dashboards are modules in meanjs.
how do i do this ?

[2016-02-13 12:32] lirantal commented on #1211
this really ties down to your URL route handling (whether server-side or client-side).
some references to check are https://www.npmjs.com/package/express-subdomain and angular's ui-router setup

[2016-02-13 12:32] #1211 closed

[2016-02-13 12:43] lirantal commented on #1206
Let's leave this issue open for dealing with it.

[2016-02-13 13:01] #1192 closed

[2016-02-13 13:19] lirantal commented on #1068
I can't reproduce this either by manual steps in the client-side, I just get redirected to the login page.

[2016-02-13 13:50] lirantal commented on #1204
@sparshy if you're aiming for a website like about.me or twitter that really has your homepage and profile page use the username then I definitely agree, otherwise it doesn't make much sense. I don't remember my fb username nor do I use it ever.

I could argue that you could just move the `/username` part to be part of your logic and let users generate this based on nickname availability rather th

[2016-02-13 13:52] lirantal commented on #1210
@rohitkumarvinay you can only edit an article when you click it.
we don't wish to add more UI features but if this is rather small and you'd like to submit a PR we'll happily review it.

[2016-02-13 13:52] #1210 closed

[2016-02-13 14:02] lirantal commented on #1195
@vaucouleur why do you find it so confusing?

[2016-02-13 17:34] vaucouleur commented on #1195
@lirantal As far as I know, we have 3 occurrences where we remove the password and the salt fields (blacklisting), and one instance where we explicitly list fields (whitelisting). Those are two very different approaches being mixed (not consistent). A newcomer who is adding a field to the user object is likely to miss the fact that the renderIndex function must be amended.

[2016-02-13 18:39] trainerbill commented on #1195
The renderIndex portion can be completely removed if the JWT PR goes in.  It uses a blacklist on the passport-jwt kind of like the deserialize:

https://github.com/meanjs/mean/blob/959d03c31edbf8a865eb73000f3cba58cbb89868/modules/users/server/config/users.server.config.js#L24

The only other places you should ever work with user is when doing a populate, you have to remember to remove password and

[2016-02-13 19:18] vaucouleur commented on #1195
@trainerbill Good points. I just got an idea that might solve this elegantly (including the populate issue). I will prototype it to check whether it works.

[2016-02-13 19:43] codydaig commented on #1206
I was under the impression that coverage dealt with the entire project. Since it doesn't I agree that it should. What needs to be done to add that?

[2016-02-13 21:58] lirantal commented on #1195
@vaucouleur great, waiting for your PR :)

[2016-02-13 22:53] lirantal commented on #389
@trainerbill I'll close it when we get the JWT PR closed too :)

[2016-02-14 06:45] rohitkumarvinay opened #1212 "Ionic app gives 403 forbidden error with meanjs as server"
I created an ionic app with meanjs as backend. the data reaches server but gives 403 error. i realised `acl.areAnyRolesAllowed` is what is throwing the error. how do i overcome this.
Thank you

[2016-02-14 11:03] lirantal commented on #1206
@codydaig the coverage we have now is only for server-side (AFAIR but we can easily check by looking at the files on coveralls.io)

[2016-02-14 15:19] dbelieves commented on #1211
@lirantal , i have no idea how to manipulate the code from your given references.
can you elaborate more on this.
its really urgent for me.

[2016-02-14 16:07] ilanbiala commented on #1206
The other issue is that we can't see coverage for some of the files on Coveralls, which is weird and I messaged Coveralls but I haven't gotten a response and I'm not sure how to fix it.

[2016-02-15 07:21] lirantal commented on #1211
there's no built in support in MEAN.JS for subdomain routines but you can go ahead and check the code examples on https://github.com/bmullan91/express-subdomain

[2016-02-15 11:17] #1201 closed

[2016-02-15 11:26] 1nfinite opened #1217 "Where is Authentication being assigned in node js?"
I see in the code it has $scope.Authentication = Authentication. Where does the Authentication value came from in the meanjs?

[2016-02-15 15:50] 1nfinite opened #1218 "400 Bad Request if invalid username/password?"
I am refering to v0.4.2 of MeanJS. It seems that 400 bad request will appear as error in console log of browser if login credentials provided is incorrect during login. Not sure if this is a bug.

[2016-02-15 21:59] ilanbiala commented on #1217
It is probably injected in the controller.

[2016-02-15 21:59] #1217 closed

[2016-02-15 22:03] ilanbiala commented on #1218
Why would that be bad?

[2016-02-16 08:46] vaucouleur commented on #1218
Hi,

There is indeed a 400 in v0.4.2

[code]

https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.authentication.server.controller.js#L66

What http status code would you suggest ? a 403 ?

Also, authentication is currently being reworked by @trainerbill , currently the status code remains a 400:
https://github.com/meanjs/mean/pull/1163/files#diff-6586a849345903

[2016-02-16 09:00] vaucouleur commented on #1212
@rohitkumarvinay You are asking people to debug your own project, not MEAN.JS. That's not really the same.. If you need help with your own personal project, the Gitter forums, or the Google groups, etc. might be more appropriate.

[2016-02-16 09:45] rohitkumarvinay commented on #1212
Removing policies works fine for me, only when the policies are included such an error comes. that's why i asked is there a workaround where i can have policies and make the call work too.

[2016-02-16 10:44] vaucouleur commented on #1212
Is your acl code the original one ? If yes, in which exact version ?

[2016-02-16 11:15] rohitkumarvinay commented on #1212
Yes it is the original one, the version is 0.4.2

[2016-02-16 11:25] vaucouleur commented on #1212
If you are on the exact  v0.4.2 version, it might be that your article does not have a user.

Try to apply this patch:

[code]

[2016-02-16 12:42] rohitkumarvinay commented on #1212
I tried it still gave the 403 error

[2016-02-16 13:09] vaucouleur commented on #1212
You are 100% sure that this is the original code, and that the user has the access rights to the resource ? For example, your admin user ? Also, can you show your route code articles.server.routes.js ?

[2016-02-16 13:37] usta opened #1219 "0.5.x branch"
Hello, isn't it much better if project creates a 0.5.x branch so node 0.12 support can drop in this
branch and we can implement things in this branch.And whenever it is ready we can merge 0.5.x to master

[2016-02-16 16:41] 1nfinite commented on #1218
Well, I guess its of personal or company preference. Since you pointed out the location of changing the status code, I guess that it relies on the person to change the status code on its personal preference. Thanks.

[2016-02-16 16:41] #1218 closed

[2016-02-17 07:33] rohitkumarvinay commented on #1212
yes i am sure. orders.server.routes.js
'use strict';
var ordersPolicy = require('../policies/orders.server.policy'),
  orders = require('../controllers/orders.server.controller'),
  cors = require('cors');

module.exports = function (app) {
  app.use(cors());
  // Orders collection routes
  app.route('/api/orders').all(ordersPolicy.isAllowed)
    .get(orders.list)
    .post(orders.create);

  // S

[2016-02-17 09:06] usta commented on #1219
@ilanbiala @lirantal @codydaig Any comments ?

[2016-02-17 09:40] vaucouleur commented on #1212
What's the exact acl package version installed ? Please run: npm ls acl

[2016-02-17 10:11] 1nfinite opened #1220 "Default profile image link tampered after page refresh"
I am referring to MeanJs v0.4.2. The default user profile image in header and change profile picture seems to be broken after page refresh or opening in new tab.

Profile image link before page refresh. It appears that character entities conversion appears at somewhere.

Profile image link after page refresh or opening a new browser tab:

[2016-02-17 13:44] vaucouleur commented on #1220
https://github.com/meanjs/mean/commit/f88f28e0358060a4523fc5397f357f38171e8b0b#diff-faf81ce8496d16181a82eadc3e44bbf5

[2016-02-17 16:50] codydaig commented on #1219
If someone submits a PR to drop Node 0.12 support, that can be discussed. But the PR should only remove 0.12 support. Along with this, documentation on the website will need to be updated.

There's a 0.4.x branch that can accept bug fixes into 0.4, but the master branch is the work going on for 0.5.

[2016-02-17 18:35] dpranav007 opened #1222 "Production server - code security, binaries ?"
please correct me ,if i am missing out something.

while deploying the code on a server , what steps do i need to take if the attacker has physical access to the server (hard drive of the server)
are there any solutions that allow me to deploy binaries , and works full proof.

any help would be appretiated.thank you

[2016-02-17 21:26] vaucouleur commented on #1075
I gave a quick try today at the recommended approach in the ui-router faq, and it did not seem directly applicable. May be some interference with the html5 mode, or the abstract state, not quite sure at this point. I ended up with either double slashes, or the route with the slash working but not the one without the slash, etc. I suggest this should be tagged as a bug @codydaig

[2016-02-17 21:42] vaucouleur commented on #1222
@dpranav007 what about hiring ex-marines to move him out of the server room ?

[2016-02-18 07:49] 0x24a537r9 opened #1224 "<base href="/"> breaks SVG IRIs and element CSS URLs"
Unfortunately, the `<base href="/">` tag in `modules/core/server/views/layout.server.view.html` breaks SVG IRIs and element CSS URLs.

For those very reasonably unsure what I'm referring to:

- [SVG IRIs](https://www.w3.org/TR/SVG/linking.html#IRIandURI) are the formal name for SVG attribute values like `url(#myElement)`, used throughout SVGs for referencing other elements usually defined in `<def

[2016-02-18 09:27] simison opened #1225 "Add Pull Request Template"
Basically just move https://github.com/meanjs/mean/blob/master/CONTRIBUTING.md#commit-message-guidelines to a file called `PULL_REQUEST_TEMPLATE`.

https://github.com/blog/2111-issue-and-pull-request-templates
https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

(Sorry, no time here for a PR)

[2016-02-18 13:00] pgrodrigues commented on #1224
I had this same problem which unfortunately took me way more than 30 mins to realize where the problem was and ended up [answering my own question in SO](http://stackoverflow.com/questions/26626662/angularjs-not-rendering-svg-correctly). I changed the SVG marker paths to the absolute ones, but I have to agree that it is not a robust workaround.

[2016-02-18 14:32] #1220 closed

[2016-02-19 14:00] dpranav007 commented on #1222
can someone help out please?

[2016-02-19 16:11] simison commented on #1222
@dpranav007 Try [StackOverflow](https://stackoverflow.com/), this repository is for tech issues related to Meanjs.

[2016-02-19 16:59] #1222 closed

[2016-02-20 08:29] sparshy commented on #1212
You need JWT for apps, MEANJS uses session authentication

[2016-02-20 09:47] droooney opened #1227 "Remove BOM (byte-order mark)"
There is an ESLint rule ([no-irregular-whitespace](http://eslint.org/docs/rules/no-irregular-whitespace)), that checks if there are any irregular whitespaces in source files. It breaks on two files:
`/modules/users/client/directives/users.client.directive.js`
and
`/config/lib/logger.js`

[2016-02-20 11:16] #828 closed

[2016-02-20 13:06] maelfosso opened #1229 "Deployement on Cloud Foundry"
Hi everybody,

Please I am a new developper and I have a lot of question about PaaS. The only thing I know it's that it's good when you don't have much money.
My questions are :

- Is it free ? How much does it cost ?

- Where is my database (mongodb) ? Does Cloud Foundry take it in account when I deploy ?

- After deploying, on what must I be concentrated except the development of my application

[2016-02-20 19:13] lirantal commented on #1229
@maelfosso we have no idea what you're talking about.
Sounds like you really need to figure out from yourself what you want with Cloudfoundry.

1. What is free exactly? cloudfoundry? I don't know, go to their website support and ask.
2. Ask Cloudfoundry
3. You should care if your account hosting is able to deal with the traffic along with so many more requirements (security, monitoring, etc)

[2016-02-20 19:13] #1229 closed

[2016-02-20 19:52] lirantal commented on #1224
@0x24a537r9 and @pgrodrigues thanks for the feedback.
@0x24a537r9 if removing the base tag, what kind of absolute paths do we need to setup?
and would you like to consider submitting a PR

[2016-02-20 20:00] lirantal commented on #1225
I'll add this tomorrow, thanks for the info @simison
Looks like that open letter helped :)

[2016-02-20 20:38] simison commented on #1225
@lirantal What open letter? :-)

[2016-02-20 20:56] rohitkumarvinay commented on #1071
I Could do so on the angular side, how i save it in the backend?

[2016-02-20 21:38] lirantal commented on #1225
I can't believe you missed it!
https://github.com/dear-github/dear-github

You should start following me on LinkedIn/Twitter :)

[2016-02-20 22:31] simison commented on #1225
Ah ye this one! — I indeed did see (and sign) it, I just had forgotten the exact contents of it. Thanks for reminding!

[2016-02-21 06:14] lirantal commented on #1071
There isn't such API open by default so you either add your own route and
logic to handle it or you can send a batch of requests, one for each record
ID.
On Feb 20, 2016 22:56, "Rohit Kumar Vinay" <notifications@github.com> wrote:

[2016-02-21 07:19] 0x24a537r9 commented on #1224
I'm happy to start a PR with guidance from someone more familiar with the codebase. I suspect that I would only need to change the paths in `modules/core/server/views/layout.server.view.html` to be absolute (fairly easy I believe) but, while I'm quite proficient with HTML/CSS/JS, I've only just started using Angular and MEAN.JS two weeks ago, so I'm still getting a feel for the codebase.

Given ho

[2016-02-21 08:22] 0x24a537r9 commented on #1224
Slight complication... when I try removing the `<base>` tag, I receive this warning:

Some Googling lead me to [this Angular doc](https://docs.angularjs.org/error/$location/nobase), which recommends using relative URLs with a `<base>` tag to ease migrations from root contexts (e.g. `https://myapp.com/`) to sub-contexts (e.g. `https://myapp.com/subapp/`) when in HTML5 mode. It notes that one can:

[2016-02-21 10:19] 0x24a537r9 commented on #1224
Ok, I went ahead and started PR #1230, manually updating all references I found via:

[code]

This got me most of the way there, and a few more manual tweaks revealed in manual testing got me to the point where everything seems to work as before in a local demo. All the server and e2e tests work, but unfortunately I'm having trouble with the client tests, where a large number fail before even gett

[2016-02-21 13:54] ChrisMaher commented on #1212
Could you give me a bit more info on JWT. Im looking to do something similar and have no experience with JWT. Is there a tutorial i could follow to add it to 0.4?

[2016-02-21 15:17] jloveland commented on #1212
Chris, take a look at #1163 for our JWT work

[2016-02-21 18:54] #1227 closed

[2016-02-21 23:02] lirantal commented on #1212
indeed, no need to re-open issues on the same thing.

[2016-02-21 23:02] #1212 closed

[2016-02-21 23:31] codydaig commented on #1206
Is there another service that we can use other than coveralls?

[2016-02-22 01:57] ilanbiala commented on #1206
https://www.bithound.io/

[2016-02-22 21:49] lirantal commented on #1224
@codydaig what do you think?

[2016-02-22 22:16] lirantal commented on #1224
@0x24a537r9 seems that `karma.conf.js` needs to be modified so that the `ngHtml2JsPreprocessor` directive has the correct `stripPrefix` rule for the paths.

[2016-02-24 11:58] trendzetter commented on #1224
Can it be we need something similar to fix the tests for this pr #1207 ? Very same fail:
[code]

[2016-02-25 03:09] usta commented on #1224
@trendzetter i'm not sure if you read my comments. PhantomJS 1.x series DOESN'T SUPPORT Function.prototype.bind.apply  I have wrote this about 1 million times. If we want to see out tests doesn't fail.  We have to DO :  ( I will not write again these lines this will be my last writing about this Function.prototype.bind.apply )
1- on serverside we need to upgrade to phantomjs to "phantomjs-prebuilt

[2016-02-26 02:51] 0x24a537r9 commented on #1224
@trendzetter I don't believe your issue is in any way related to this one--the errors are completely different except that they both involve `undefined`, which is a fairly tenuous connection.

Update: unfortunately I haven't had time yet after work to try `stripPrefix`, but I hope to tonight and will post back with results.

[2016-02-26 06:16] 0x24a537r9 commented on #1224
Hm, unfortunately neither `stripPrefix` nor `prependPrefix` worked to solve the problem. @lirantal what led you to believe the failure might be related to `ngHtml2JsPreprocessor`? If I understand the error correctly, it seems that there something is causing an unexpected navigation (or possibly redirect), and I'm not sure how that might relate to `ngHtml2JsPreprocessor`.

I'll continue trying to d

[2016-02-26 11:58] lirantal commented on #1224
That's what I thought of but I hadn't done any work to investigate that path.
Thanks for trying to help out on this.

[2016-02-26 21:50] mg1075 opened #1233 "file name: /modules/core/client/directives/show-errors.client.directives.js"
**show-errors.client.directives.js**
vs.
**show-errors.client.directive.js**

Shouldn't the name of this file be **show-errors.client.directive.js** to keep consistent with convention?

https://github.com/meanjs/mean/blob/5105eb12fee789548f21eb08dd0f6242af51d601/modules/core/client/directives/show-errors.client.directives.js

[2016-02-26 22:11] Wuntenn commented on #1233
I had a similar question a few days ago:

[https://gitter.im/meanjs/mean?at=56c1df26d9c5a252408f8fc9]

Maybe because it's better to submit a pull request for these kinds of small changes. It would be good to know.

[2016-02-26 22:16] lirantal commented on #1233
definitely, just go ahead and submit a PR.

[2016-02-26 22:23] lirantal opened #1234 "protractor issues in latest version"
@ilanbiala your advise on the following?
after running `grunt test` everything passes except the protractor tests
I cloned a fresh meanjs repo and ran `npm install`

these are the errors:
[code]

[2016-02-27 02:55] ilanbiala commented on #1234
@lirantal I don't think I've ever seen that error. Can you try `npm cache clean`, delete `node_modules`, and run `npm install` again?

[2016-02-27 10:51] lirantal commented on #1234
@ilanbiala I'll try but like I said I started by cloning an entirely new fresh copy of the repo and doing `npm install`.

Any chance you could do the same and see if it happens? maybe it's related to how new packages get installed or whatever.

[2016-02-27 11:12] lirantal opened #1237 "Recommendation: Replacing grunt-contrib-sass with grunt-sass"
The `grunt-sass` module (https://github.com/sindresorhus/grunt-sass) doesn't require ruby installed to compile CSS files to SASS and as such we gain:
1. Faster compilation time due to a C++ extension
2. Lowering our dependencies/pre-requisites count and not requiring anyone to install ruby

What do you think?

[2016-02-27 17:37] codydaig commented on #1237
Is there a gulp equivalent?

[2016-02-27 17:41] ilanbiala commented on #1234
I haven't seen this issue with the last few testing PRs I've done, so I don't think this is a universal issue.

[2016-02-27 17:42] ilanbiala commented on #1237
gulp-sass already uses node-sass.

[2016-02-27 17:48] lirantal commented on #1237
Right, was about to say that :)
I'll work on a PR for that so we can align it and remove dependencies for ruby.

[2016-02-27 18:37] ilanbiala commented on #1237
Why are we doing grunt development though, we are deprecating grunt...

[2016-02-27 21:48] lirantal commented on #1237
I don't think deprecating grunt will happen tomorrow and there is obviously some target users of MEAN.JS using grunt still so why not?

[2016-02-27 23:49] mleanos commented on #1075
@vaucouleur @jloveland What do you think of this approach?

[code]

Or do you think we should reconcile trailing slashes at the application ($stateProvider) level?

With this approach, we'd have to implement this on any routes that could have this potential issue. Then we'd have similar code throughout the router configurations. This might not be the most elegant solution. However, one benefit (ot

[2016-02-28 00:55] mleanos commented on #1234
@lirantal I just cloned a fresh version of the repo (master), and didn't have any problems with running `grunt test`; The protractor tests passed.

I had weird issues with Protractor last week, but I ended up doing `npm cache clean` and deleting all the node_modules packages. Then did `npm install` again & everything worked fine. My guess would be the Cached version of grunt-protractor; they may h

[2016-02-28 05:27] codydaig commented on #1206
@ilanbiala I'm not opposed to giving that a shot. Could we set it up along side coveralls just too see how it does?

[2016-02-28 08:00] lirantal commented on #1234
@mleanos which versions of node, npm, and OS are you running?

[2016-02-28 09:50] mleanos commented on #1234
Windows 7
`node --version v0.12.7`
`npm --version 2.11.3`

[2016-02-28 18:11] mleanos commented on #1075
@jloveland @vaucouleur I'd like to continue the discussion here, to find a good solution to this bug. I'm not super impressed with the solution that I've proposed in the PR.

See these comments for insight into what I've tried, and the issues I'm having..
https://github.com/angular-ui/ui-router/issues/50#issuecomment-189817939

See this branch for a better solution, that I can't seem to get workin

[2016-02-28 19:03] lirantal commented on #1219
@ilanbiala @codydaig  FWIW on 0.12 - official support for that will be dropped by end of year 2016 but we're still not there and I don't see any rush for removing it.

It's not like we're using any special ES6 features or whatever (unless you had something going and I missed it)

[2016-02-28 19:43] ilanbiala commented on #1219
@lirantal some libraries have already dropped support for 0.12, and very few people who set up MEAN run it against 0.12, most issues I have seen ask about Node 5 support. Honestly, being able to use some ES6 features as well would be nice.

[2016-02-28 22:26] usta commented on #1219
I'm not an expert but i think we hit a bug about promises or consts support because of a module we try to upgrade.  I don't remember which one

[2016-02-29 02:08] mleanos commented on #1075
Before a lot more work is done on this, I guess we should decide if we want to keep the trailing slashes, or remove them.

[2016-02-29 03:53] mleanos commented on #1162
Closing this for now, since it's not really a question about this framework.

@rohitkumarvinay Feel free to re-open, if you run into any limitations in implementing this that is specific to MEAN.JS.

[2016-02-29 03:53] #1162 closed

[2016-02-29 04:00] mleanos commented on #1158
@markstock7 Did this discussion help you decide which option is best for you? Unless you still need clarification on how the Admin feature is implemented in the framework, I think this can be closed.

[2016-02-29 04:08] mleanos commented on #1114
Closing, since @jolacaleb reported back that the problem was solved.

[2016-02-29 04:08] #1114 closed

[2016-02-29 04:11] mleanos commented on #1092
Closing, since the OP hasn't responded for quite some time, and the issue seems pretty clear.

[2016-02-29 04:11] #1092 closed

[2016-02-29 04:22] mleanos commented on #1178
Closing, since the behavior could not be reproduced.

@ChrisMaher Feel free to re-open if you're still seeing this issue with a fresh clone.

[2016-02-29 04:22] #1178 closed

[2016-02-29 04:26] markstock7 commented on #1158
@mleanos sorry about that. i did help me to figure out a way to do it. thanks so much

[2016-02-29 04:27] #1158 closed

[2016-02-29 04:29] mleanos commented on #1003
@mikepc Feel free to re-open if you still have this issue, and would like to share more details on what you're experiencing.

[2016-02-29 04:29] #1003 closed

[2016-02-29 04:36] mleanos commented on #1158
Great, glad it helped :)

What was your solution?

[2016-02-29 05:50] ilanbiala commented on #1075
Usually trailing slashes aren't in the URL, so I think we should go that way.

[2016-02-29 15:21] #1225 closed

[2016-02-29 19:03] lirantal commented on #1219
I'm definitely fine if we have something concrete that we want to add and do and 0.12 would be a problem, then let's drop it. But otherwise, just to drop it for the sake of dropping it serves no purpose.
That's all I'm saying.

[2016-03-01 01:30] gztitan commented on #1067
I meeting same issue too, anyone can help? thanks.

[2016-03-01 03:40] ilanbiala commented on #1219
No it definitely benefits to upgrade as we can use newer dependencies. I think this issue can be closed as @codydaig already answered the question.

[2016-03-01 03:40] #1219 closed

[2016-03-01 07:36] simison commented on #1067
Sometimes if your network changes, Docker machine doesn't pick up new connection. `docker-machine restart default` (where default is the machine name) would help to that.

[2016-03-01 09:35] lirantal commented on #1067
Guys, I'm working on updating the Dockerfile appropriately and will need a week or so to wrap things up.

I've actually been working on setting up a docker MEAN.JS compatible setup as well here for the last few days.

@codydaig do you mind if I take this issue as I've already done major progress there?

[2016-03-01 10:01] simison commented on #1067
@lirantal Cool, I was also learning to use Docker with MEAN setup recently. Collected my studying so far here; https://github.com/simison/docker-nodejs-dev-boilerplate

[2016-03-01 19:31] codydaig commented on #1067
@lirantal All yours. I was unable to get it working.

[2016-03-01 22:55] LiveLikeLastDay commented on #527
+1 for typescript.

[2016-03-02 01:52] taobataoma opened #1243 "Dropdown menu of the navbar is not working on AngularJs 1.5?"
I create project with MEAN.js 0.4，all is OK
when is upgrade AngularJs to 1.5，the dropdown menu is can not open，need i change some code?

[2016-03-02 02:36] ilanbiala commented on #1243
@taobataoma are there any errors? @trendzetter @usta any ideas?

[2016-03-02 04:10] taobataoma commented on #1243
oh,sorry,this err is not on AngularJs1.5，It is on angular-bootstrap@1.2.*
today, I first upgrade AngularJs & resource & animate to v1.5 , all is ok,
when i upgrade the angular-bootstrap to v1.2, ok,this error is showing,
the dropdown menu can not open, tooltip can not show, popover can not show, etc.

[2016-03-02 04:37] ilanbiala commented on #1243
@taobataoma can the issue be closed?

[2016-03-02 06:59] usta commented on #1243
@ilanbiala we didn't used 1.2.1 in #1207  but it was working perfect. And until we merge #1207 we will get same false positive issue reports. i wrote @trendzetter about make a little test with 1.2.1 and if it won't have any other problems we need to merge that #1207 .

[2016-03-02 07:56] trendzetter commented on #1243
@taobataoma You need to clone the latest master, not 0.4. Or you can update the bootstrap directives yourself: dropdown-toggle -> **uib-**dropdown-toggle (the same for other angular bootstrap directives)
https://github.com/angular-ui/bootstrap/wiki/Migration-guide-for-prefixes

[2016-03-02 07:56] anterokarttunen opened #1244 "running the app does not work"
Yesterday "grunt" command was working ok. Today I moved the project sources into another folder.

Now it does not work anymore.

Using grunt --force works since tests are ignored..

What could be the issue?

`$ grunt
Running "env:dev" (env) task

Running "sass:dist" (sass) task

Running "less:dist" (less) task

Running "jshint:all" (jshint) task

      1 |'use strict';
         ^ Use the function

[2016-03-02 07:59] trendzetter commented on #1243
@usta will give 1.2.1 a try, I don't expact to find anything new. This issue is because in 0.4 the directives were not yet migrated to the new angular bootstrap directives.

[2016-03-02 08:00] lirantal commented on #1244
@anterokarttunen what exactly did you move?
what other updates have you made?
which version of MEAN.JS are you working with?

[2016-03-02 08:03] usta commented on #1243
@trendzetter i guess same but it will be nice to have at least the PR is be a little more uptodate whenever we merge it

[2016-03-02 08:04] trendzetter commented on #1243
It wasn't yet included as the release is now just 4 days old

[2016-03-02 10:09] trendzetter commented on #527
-1 for microsoft fanboys

[2016-03-02 12:21] taobataoma commented on #1243
ok, i already replace directives with prefix uib-*，it`s work fine,thanks.

[2016-03-02 12:21] #1243 closed

[2016-03-02 12:49] anterokarttunen commented on #1244
ex
`mv /users/antsa/meanproject /users/antsa/antsaproject`

Project was generated yesterday using MeanJS Yo Generator http://meanjs.org/generator.html
meanjs version: 0.5.0-Beta
I also generated some modules (took time to find correct ones since documentation is out of date)

Seems that grunt test execution gets corrupted somehow

[2016-03-02 12:54] trendzetter commented on #1244
does it work using gulp?
did you run npm install before grunt?

[2016-03-02 13:01] anterokarttunen commented on #1244
@trendzetter Haa, with gulp command I was able to find the root cause. It provided better message. Checked from history and had done silly mv command:
`mv /users/antsa/meanproject/* /users/antsa/some-cloned-repo`

of course it did not copy files that started with .

After copying rest of the .xxxx files - it was working ok. Daymn grunt didn't show good enough error message :D

Thanks peeps ^_^

[2016-03-02 13:01] #1244 closed

[2016-03-02 13:08] anterokarttunen commented on #1161
TLDR, but would be cool to be able to choose whether to use mongoose or sequelize (or both :dancer: ) - then just have some if clauses, if(mongooseEnabled) or if(sequelizeEnabled)

[2016-03-02 17:11] lirantal commented on #1161
@anterokarttunen this post is actually about supporting MySQL.

[2016-03-02 17:13] lirantal commented on #527
while I was never a Microsoft fan, Angular2 is all about TypeScript so I wouldn't rule it out just yet.

[2016-03-02 17:14] lirantal commented on #1244
@anterokarttunen what message did gulp tell at you when that happens?

[2016-03-02 17:32] trendzetter commented on #527
it appears to me everything gets compiled to es6, debugging is going to be es6. it's unclear to me why angular needs typescript. it appears to me another case of where microsoft somehow forces someone hand to do stuff benefiting microsoft but harming themselves. Like nokia's windows phone strategy.

[2016-03-02 18:30] trendzetter commented on #527
Their strategy might be to pollute as much open source projects as possible with their typescript sugar and thereby often making visual studio, running only on windows, their default development environment. Not that it will be impossible to develop on other platforms but possibly with all kind of catches. I am just thinking some things up, as it seems hard to get at clear decent technical justifi

[2016-03-02 19:09] ilanbiala commented on #1206
@codydaig https://www.bithound.io/github/meanjs/mean/master

[2016-03-02 19:40] trendzetter commented on #527
of course I carefully watch how this develops. It could also become more of an xml like thing.

[2016-03-02 19:44] #1124 closed

[2016-03-02 22:44] QiyuLi opened #1245 "Strange behavior of display different error message for signup if username/email already exists on Mongo 3.0/3.2"
@trendzetter @ilanbiala

I'm reading Mongoose doc. I did not find any info about configuring err msg for unique.
I'm running Ubuntu 14.04 with MongoDB 3.2.3. Nodejs is v4.3.2

I attached a screenshot. This is not good to display such a detailed error.
![image](https://cloud.githubusercontent.com/assets/5421502/13476128/5fab7546-e094-11e5-9e37-e4394f7653f8.png)
![image](https://cloud.githubusercont

[2016-03-02 23:51] QiyuLi commented on #1245
@trendzetter @ilanbiala

I figured out the problem.
If you upgrade mongodb from 3.0 to 3.2, there is no issue because you still use **MMAPv1** engine.
But if you install **new** mongodb 3.2, there is a problem because you use new **WiredTiger** engine.

The output of these  2 engine is slightly different.
**MMAPv1**
WriteResult({
        "nInserted" : 0,
        "writeError" : {
                "c

[2016-03-03 07:46] mleanos commented on #1245
@QiyuLi I don't quite follow your suggestion, but if you'd like to submit a PR we'd gladly review it. Thanks for getting to the bottom of this.

[2016-03-03 10:27] anterokarttunen commented on #1244
@lirantal I think it was saying that either .csslintrc or .eslintrc was missing

[2016-03-03 10:30] lirantal commented on #1244
Ok, thanks!

[2016-03-03 10:56] anterokarttunen commented on #1244
You can try it out by moving all hidden files & exexuting grunt / gulp command.

However I don't think this case happens very often since this is a human mistake :) Its like trying to run node without installing it :D

Lähetetty Samsung-laitteesta

-------- Alkuperäinen viesti --------
Lähettäjä: Liran Tal <notifications@github.com>
Päivämäärä: 3.3.2016 12.30 (GMT+02:00)
Saaja: meanjs/mean <mean@n

[2016-03-03 13:40] anterokarttunen commented on #1161
@lirantal Ok - would that mean also mariadb is supported? since its 100% drop in replacement for mysql.

Are you planning to introduce some kind of "node sql framework" or build sql support from scratch ?

[2016-03-03 17:16] trendzetter opened #1247 "Issue running tests, selenium-webdriver"
I am running ubuntu 15.10 but when doing a fresh clone and npm install I am getting:

The tests run fine on a recent fork I created:
https://github.com/trendzetter/mean

[2016-03-03 17:23] trendzetter commented on #1247
I suspect some dependency was upgraded providing selenium-driver during this commit:
https://github.com/meanjs/mean/commit/1c143ae24adb5a5e3e5576d1691935121ad9030f#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2016-03-03 17:37] trendzetter commented on #1247
chrome version 48.0.2564.116 (64-bit)

[2016-03-03 18:00] ilanbiala commented on #1247
@trendzetter try doing `npm cache clean`, removing `node_modules`, and doing `npm install`.

[2016-03-03 18:26] trendzetter commented on #1247
I just did a full cleanup. Still getting this:

[2016-03-03 19:32] ilanbiala commented on #1247
https://travis-ci.org/meanjs/mean/jobs/113216745#L1969 doesn't seem like Travis is having this issue. I'm not even sure why the server terminates early to be honest..

[2016-03-03 19:34] QiyuLi commented on #1247
Did you install java on your system?

[2016-03-03 19:34] trendzetter commented on #1247
https://github.com/meanjs/mean/pull/1213 There seem to be issues with some people but my guess is we might need a newer protractor with the latests of other dependencies.

[2016-03-03 19:35] trendzetter commented on #1247
java version "1.7.0_95"
OpenJDK Runtime Environment (IcedTea 2.6.4) (7u95-2.6.4-0ubuntu0.15.10.1)
OpenJDK 64-Bit Server VM (build 24.95-b01, mixed mode)

Do I need Java?

[2016-03-03 19:36] QiyuLi commented on #1247
Selenium is a java program.

[2016-03-03 19:40] trendzetter commented on #1247
https://github.com/angular/protractor/issues/2638
[code]

[2016-03-03 19:43] trendzetter commented on #1247
Adding   directConnect: true in protractor.conf.js resolves the issue.

[2016-03-03 22:59] joshlongerbeam commented on #369
I'd like to throw **[angular-toastr](https://github.com/Foxandxss/angular-toastr)** into the ring of notification-contenders. I've been using it extensively in my production projects, it's very versatile, and it has thorough documentation. And unlike `md-toast`, it allows multiple, simultaneous ~~and devastating defensive deep strikes~~ toasts.

Also, I'd like to renew interest in this topic since

[2016-03-04 12:17] lirantal commented on #1067
The plan is to setup the docker environment so that it's more suitable for a development workflow where you can share files with the host, and so on.
I'll push a new `Dockerfile` and `docker-compose.yml` soon enough to get some feedback.

[2016-03-05 00:12] #1032 closed

[2016-03-05 00:30] mleanos commented on #1048
@sparshy The mongoose-paginate looks promising. However, it only works with Node >= 4.2. We're not quite there yet. I'm planning on looking at some alternatives, and if there's a simple implementation without adding any dependencies.

Does anyone have any suggestions?

[2016-03-06 03:22] jloveland commented on #1247
I tried grunt and it runs e2e tests fine. Running with **gulp** gives me an error. To clarify @trendzetter, are you only seeing this issue with gulp?

[2016-03-06 18:18] lirantal opened #1251 "Replace gulp-cssmin"
Package `gulp-cssmin` at https://github.com/chilijung/gulp-cssmin seems un-maintained and old while other candidates are:
1. gulp-clean-css at https://www.npmjs.com/package/gulp-clean-css
2. gulp-csso at https://www.npmjs.com/package/gulp-csso/

[2016-03-06 22:16] trendzetter commented on #1247
I am no longer getting this error on a fresh clone today. Not sure what has changed.

[2016-03-06 22:16] #1247 closed

[2016-03-06 22:45] ecris87 commented on #1251
:+1:

Both good choices, the CSS minification engine used by gulp-clean-css is slightly better according to this benchmark test: http://goalsmashers.github.io/css-minification-benchmark/ but gulp-csso is more popular.

And both work nicely with [gulp-sourcemaps](https://github.com/floridoo/gulp-sourcemaps), while gulp-cssmin does not.

[2016-03-07 19:45] simison commented on #1251
Some interesting discussion regarding this stuff:
https://github.com/gulpjs/plugins/issues/210
https://github.com/plus3network/gulp-less/pull/221

[2016-03-07 19:47] scniro commented on #1251
@ecris87 @simison `gulp-clean-css` should (hopefully) be regaining popularity. Within the last month I took ownership of this project, which was previously [gulp-minify-css](https://www.npmjs.com/package/gulp-minify-css). The OP and repository have since vanished, but remains a very popular package on npm with a deprecation warning.

[2016-03-07 20:46] #1075 closed

[2016-03-07 21:54] lirantal commented on #1251
So it's definitely `gulp-csso` as it is much more popular and common through the ecosystem.
With regards to `gulp-postcss` I'm seeing that it is even higher in popularity but overall in the same area so doesn't seem like there's any clear winner there.

[2016-03-07 21:58] simison commented on #1251
@lirantal, although, `post-css` is already in meanjs via `gulp-autoprefixer`:
https://github.com/meanjs/mean/blob/master/package.json#L91
https://github.com/sindresorhus/gulp-autoprefixer/blob/master/package.json#L24

[2016-03-08 03:38] Gogs008 opened #1256 "Changes to Bootstrap LESS files are not taking effect"
Hi. I am a newbie with the MEAN.JS stack (www.Meanjs.org) and I have installed the latest version which at this time is 0.4.2. I have been trying to change the color of the header from black (the boilerplate default style) to white by making changes to the files theme.less for the main color of the header and navbar.less for the color of the header border. When I noticed that my changes were not t

[2016-03-09 18:30] timokd opened #1257 "AngularJS2"
Hello,
is it possible to create a meanja app with angularjs 2. If not can you tell me when this is planned?

Greetings

Timo

[2016-03-10 09:34] lirantal commented on #1257
Hi @timokd

There is no such plan in motion at the moment for the MEAN.JS project to add this support.
However, we have just pushed some updates for Angualr 1.5.

[2016-03-10 09:34] #1257 closed

[2016-03-10 10:27] lirantal commented on #1256
@Gogs008 which CSS files were you updating?

[2016-03-10 11:52] simison opened #1258 "Restructure: Use only npm commands"
What do you think about using only `npm` commands to operate the app? This came up at [Docker PR](https://github.com/meanjs/mean/pull/1249#issuecomment-194789888).

**Pros:**
- Being able to control Gulp, Grunt and Bower versions. NPM `scripts` section uses locally installed versions of packages, not globally. Running `gulp` command directly will require globally installed version. Gulp is soon ge

[2016-03-10 12:06] lirantal commented on #1258
Sounds good, and great summary @simison.
@meanjs/core ?

[2016-03-10 12:11] lirantal commented on #1251
not sure if that's something to follow on or not.

[2016-03-10 12:15] lirantal commented on #1161
MariaDB and MySQL are indeed very similar.
There's no plan though on adding any special SQL framework support yet.

@meanjs/contributors WDYT about MySQL support?

[2016-03-10 13:18] lirantal opened #1260 "TODOs on the Client side"
We have a few TODOs that were added, let's see if they make sense or clean them up:
* articles.client.controller.js#L34 - https://github.com/meanjs/mean/blob/master/modules/articles/client/controllers/articles.client.controller.js#L34
* users.client.service.js#L14 - https://github.com/meanjs/mean/blob/master/modules/users/client/services/users.client.service.js#L14

@mleanos would you like to take

[2016-03-10 15:39] mg1075 commented on #1161
To clarify, my original post concerned supporting SQL in a broader sense than just MySQL.

To date, the framework that most closely does this, forked off of MEAN, is PEAN, which makes use of sequelize as its orm.

https://github.com/StetSolutions/pean

On a related note, this article can at least help others appreciate why mongodb/mongoose is often not going to be the first choice of db's in a bus

[2016-03-10 16:42] codydaig commented on #1161
I'm not opposed to making the framework in a way that would support ANY database type really. My thoughts here would be to take the DB logic out of the controllers and into a 'models' (or whatever we want to call it) file.

ie. You would call Users.create() which would then take that data and interact with the database. Then all one would have to do to swap databases would be change the db connect

[2016-03-10 16:47] codydaig commented on #1258
Sounds good to me.

[2016-03-10 16:55] Gogs008 commented on #1256
Hi lirantal. Thanks for your response. I was modifying the LESS files. Both "theme.less" for the main color of the header and "navbar.less" for the color of the header border. When I right click on the navbar/header and select Inspect Element in Chrome, those are the files which when I modify within the browser successfully change the color of the navbar and the navbar border. The issue is that wh

[2016-03-10 19:21] lirantal commented on #1161
My concern is that I also don't want to tightly couple MEAN.JS with other libraries like sequelize too much. The best part I love about MEAN.JS is that it's very flexible and even if you do MySQL and not MongoDB it is very easy to replace that logic in the framework and do your stuff.

@mg1075 on another note, I heard that Waterfall for example is an amazing performance hog. Have you got any stati

[2016-03-10 19:56] Gogs008 commented on #1256
Thanks so much Liran! This really helped. Very much appreciated!

[2016-03-10 22:08] ilanbiala commented on #1161
I think the only logical way for us to support multiple databases in the frameworks would be to remove database support and write stubbed methods that users would have to fill in. That solution obviously have disadvantages for everyone, and honestly writing in more code to support 2 database types is also with its disadvantages.

[2016-03-10 22:11] lirantal commented on #1161
Agree.
I'm not yet sold as to which path to take and doesn't seem to be any traction on this topic from what I've been reading on the issue queue so far.

[2016-03-11 02:15] ilanbiala commented on #1258
SGTM.

[2016-03-11 05:36] vipul-jain commented on #365
What does NPE stands for ?

[2016-03-11 08:24] mleanos commented on #1258
This sounds like a good idea. I'm not sure I understand all the implications though.

I think I'm clear on the application/server tasks. However, what happens to the other Gulp tasks that we've added. For instance, `gulp wiredep`, the `gulp watch`'s, etc. Will we still have those integrated into the application? Will we have to add scripts like `npm run wiredep`?

Overall, this seems like a really

[2016-03-11 10:06] mleanos commented on #1260
I've been thinking about this. Both TODO's have the potential to be big changes.

1. Articles client-controller: May need a big refactor of the service. This could be a first phase of exploring client-side models.

2. Users Admin client-service: This could require some back-end router changes; similar to @trainerbill's suggestion of using `Express.router` in each route configuration.

I'll look in

[2016-03-11 12:07] lirantal commented on #365
https://en.wikibooks.org/wiki/Java_Programming/Preventing_NullPointerException

[2016-03-11 15:28] lirantal commented on #1260
Ok so it's either we decide to fullfill the TODOs or we remove them from the code.
@ilanbiala , @codydaig to review if the TODOs are really necessary or not.

[2016-03-11 15:30] lirantal commented on #1258
@simison would you like to propose the PR?

[2016-03-11 16:25] ilanbiala commented on #1260
Both seem valid, and I think they could just be a quick refactor. @mleanos for the first we could just move the code, right? For the second, it might be a bit more refactoring in other places where we use this, so I'm not sure how the dependencies would work out, but if they stay clean across modules then it shouldn't be an issue.

[2016-03-12 00:13] jaganttp commented on #1138
I am also faced the same issue couple of times. When i do re-build it is working fine.
I believe the problem happening because of the node & npm version.
**MEAN.js supported version is**
[code]
**By default, IBM Bluemix is taking v0.10.40**
Check your Logs too. It is taking
` node -v v0.10.40`

MEAN.js Team, Could u please update the 'manifest.yml' to forcefully use **node version 0.12.0**

[2016-03-12 03:08] jagadeeshthegeek opened #1262 "User Id Missing"
**user._id**  is not mapped. when you refresh the page.
It makes problem while checking, Article-Created-Owner-id and Logged-In-user-id is same. (Edit Article -Access)

**Solution:** (_id has to be added)

https://github.com/meanjs/mean/blob/master/modules/core/server/controllers/core.server.controller.js

[code]

[2016-03-12 13:15] lirantal commented on #1138
@jagadeeshthegeek can you submit a PR with the required modifications?

[2016-03-12 14:26] lirantal commented on #1262
@codydaig can you take a look?

[2016-03-12 17:06] mleanos commented on #1262
@jagadeeshthegeek what version of meanjs are you running? We fixed an issue with that. Can you check the most recent version in master?

[2016-03-12 19:45] jagadeeshthegeek commented on #1262
@mleanos I am referring the master code.

https://github.com/meanjs/mean/blob/master/modules/core/server/controllers/core.server.controller.js

[2016-03-12 20:10] jagadeeshthegeek commented on #1138
@lirantal  By changing the PATH variable.
For example, to use Node 0.12.7, enter this command: `export PATH=/opt/IBM/node-v0.12/bin:$PATH`
But i am not sure, How to configure that in manifest.yml

Please refer the below link for more details.
https://hub.jazz.net/docs/deploy_var/?cm_mc_uid=03251068348214568704586&cm_mc_sid_50200000=1457812749#tools

https://developer.ibm.com/answers/questions/2470

[2016-03-12 20:11] lirantal commented on #1138
Ok, thanks, I'll submit a fix for that tomorrow so you can test it.

[2016-03-12 20:43] mleanos commented on #1262
Can you explain what the exact issue is, and where it's occurring?

See this PR: https://github.com/meanjs/mean/pull/1149

In particular we added the logic to handle the missing `_id` field.

https://github.com/meanjs/mean/blob/master/modules/articles/client/views/view-article.client.view.html#L5
https://github.com/meanjs/mean/blob/master/modules/articles/server/controllers/articles.server.control

[2016-03-12 21:05] jagadeeshthegeek commented on #1262
@mleanos Actually I got it from Yeoman Generator and it was like this. I think the latest might work.

**view-article.client.view.html**  --My Code look like this
[code]

`article.isCurrentUserOwner`  --I feel this **work around is not required** if u follow the below line change. Otherwise we have to do handle that in each new module read/view page.

Just add this `_id` line in **core.server.cont

[2016-03-13 01:28] ryanjbaxter commented on #1138
@lirantal @jagadeeshthegeek see the pull request above for the fix

[2016-03-13 08:01] 0x24a537r9 opened #1267 "`bower install` yields "Unable to find a suitable version for angular""
On a fresh git pull of the current HEAD, running `bower install` fails to find a "suitable version for angular":

Unable to find a suitable version for angular, please choose one:
    1) angular#~1.2.11 which resolved to 1.2.29 and is required by angular-file-upload#1.1.5
    2) angular#^1.1.5 which resolved to 1.3.17 and is required by angular-file-upload#2.2.0
    3) angular#^1.0.8 which resolve

[2016-03-13 13:36] #1138 closed

[2016-03-13 13:36] lirantal commented on #1138
@ryanjbaxter I saw it, thanks for all the help!

[2016-03-13 14:11] ryanjbaxter commented on #1138
No problem

[2016-03-13 17:05] LadwaAditya commented on #1138
Also the build used to fail on au-syd (Sydney)  region. It used to work fine on US south region.

[2016-03-13 17:34] ilanbiala commented on #1267
@0x24a537r9 please try using the latest code from master, your dependency versions seem out of date.

[2016-03-13 17:53] ryanjbaxter commented on #1138
@LadwaAditya please open a separate issue for that

[2016-03-14 02:02] mleanos commented on #1048
@0xNacho Have a look at the PR referenced here. WDYT?

If others could also give feedback on this feature, that would be very helpful.

Key considerations with our server-side paging implementation:
- What we want out of this feature
- Capabilities
- Any special considerations as they pertain to the framework
- Potential pitfalls & possible solutions
- What aspects of the current PR do we like/don

[2016-03-14 09:32] lamiastella commented on #933
@mleanos not sure what to do now?
[code]

[2016-03-14 09:54] lamiastella opened #1268 "npm ERR! network connect ETIMEDOUT 23.235.40.162:443"
Someone help me please! Not sure what's going wrong!
[code]

[2016-03-14 11:28] aralroca commented on #1123
Check this: https://github.com/datatypevoid/ng2-mean-webpack

[2016-03-14 12:15] trendzetter commented on #1258
really cool!

[2016-03-14 14:08] ilanbiala commented on #933
Try updating npm as it says.

[2016-03-14 14:10] ilanbiala commented on #1268
Any generator issues should be posted on the generator repo.

[2016-03-14 14:10] #1268 closed

[2016-03-14 14:10] 0xNacho commented on #1048
Nice work @mleanos !

Two suggestions:
* What about indexing `createdAt` field on `articles` collection? This should increase read performance.
* Could we avoid the use of `populate` in this case? Avoiding joins in MongoDB we drastically increase performance. Since we only need the `displayName` property, this could be added to the `articles`collection too (and obviusly maintained with possible us

[2016-03-14 19:07] mleanos commented on #1048
@0xNacho Good feedback.

I'll look at adding an index for `created`.

As for the `displayName`. Yes, it's editable. Anytime a User updates their profile, the `displayName` field is set to their `firstName` & `lastName`. Avoiding the use of `populate()` in this case would require a bit of changes, and I'm not even sure there would be a viable alternate solution. It could be that we'd do something f

[2016-03-14 19:18] mleanos commented on #1148
This has been addressed with #1208. Closing this issue.

@farajfarook Let us know if have any more input/suggestions on this. Thanks.

[2016-03-14 19:18] #1148 closed

[2016-03-14 19:19] #1245 closed

[2016-03-14 19:25] ChrisMaher opened #1269 "Setting up Emails"
Hi

Just wondering what email provider works with MEAN.js deployed to Heroku.

Gmail blocks the sign in and says its unsecure.

I can find no documentation or suggestion on an email service that works anywhere.

Thanks.

[2016-03-14 19:30] mleanos commented on #1269
I use Amazon's SES with my MEAN.js app deployed on Heroku. I can't remember if I got Nodemailer working with Heroku.

[2016-03-14 19:32] mleanos commented on #1269
Actually brainfart.. Obviously, I got Nodemailer working :)

[2016-03-14 19:32] ChrisMaher commented on #1269
What provider works with it?

[2016-03-14 19:35] simison commented on #1269
For development [MailDev](https://djfarrelly.github.io/MailDev/) is great.

For production, a friend just collected a list: https://github.com/superlumen/knowledge/wiki/Transactional-Email

@ChrisMaher what's specific about Heroku? Gmail isn't meant for transactional emails so they (Gmail) block if they notice you doing any such activity.

[2016-03-14 19:40] ChrisMaher commented on #1269
Nothing specific about Heroku apart form that where my App is hosted.

Ill take a look through that list. Any suggestions or are they all straight forward?

[2016-03-14 19:40] mleanos commented on #1269
Great! Thanks for the list @simison

I didn't try any of the other providers out. I just went straight to using SES once my app was ready for emails.

[2016-03-14 19:41] simison commented on #1269
We at @Trustroots were for a year on Mandrill (5-7K emails/mo) but moved to SparkPost last month. All good and easy.

[2016-03-14 19:45] ChrisMaher commented on #1269
Is there a guide to setting one of these up with Meanjs?

Is it just a matter of getting an email and password from them and modifying this

`mailer: {
    from: process.env.MAILER_FROM || 'email@gmail.com',
    options: {
      service: process.env.MAILER_SERVICE_PROVIDER || 'email',
      auth: {
        user: process.env.MAILER_EMAIL_ID || 'email@gmail.com',
        pass: process.env.MAILER_PAS

[2016-03-14 19:54] mleanos commented on #1269
@ChrisMaher Yes. Merely adding your provider authentication settings to this configuration, will do the trick.

[2016-03-14 21:25] trendzetter commented on #1269
I had to manually swap service to host to use my own smtp server in config/env/development.js
[code]

[2016-03-14 21:47] simison commented on #1269
@trendzetter `service` is a key for [well known services](https://github.com/nodemailer/nodemailer#using-well-known-services)

List: https://github.com/nodemailer/nodemailer-wellknown#supported-services

https://github.com/meanjs/mean/blob/master/config/env/development.js#L71

Actually configuring Nodemailer at Meanjs would need some better documentation it seems.

[2016-03-14 21:49] trendzetter commented on #1269
I prefer to use my own server for this purpose.

[2016-03-15 16:15] klemensz commented on #1257
This will probably be a big change? I think Angular 2 is the future though.

[2016-03-15 19:08] trendzetter commented on #1257
For now that seems a bit uncertain how much adoption it will get in the short run. Maybe some projects will skip a version altogether?

[2016-03-15 20:06] #1072 closed

[2016-03-18 05:43] incNick opened #1270 "Bad example of file type valiator for multer.fileFilter"
Source in file modules/users/server/controllers/users/users.profile.server.controller.js, some content like:
[code]
I just create one other controller use for save upload files, and reference above code, just found the fileFilter always not work. Correct way should be:
[code]

[2016-03-18 07:36] lirantal commented on #1270
@incNick would you like to submit a PR to propose a fix and explain it?

[2016-03-18 07:47] incNick commented on #1270
aHa, in fact I'm first time use github and also one new player of Node & Express so I don't know how to submit a PR.
Bur after read the source of multer, looks like the filter option only can assign when construct instance, so run multerInstance.fileFilter = something nothing change.

I'm sorry of can't provide you more help :(

[2016-03-18 09:44] simison commented on #1270
@incNick, that's no problemo! This is a great change to get you started with Open Source contributions, Git and GitHub! :-) Up for a challenge? I'll spare some 5 minutes to write quick instructions. Probably easier if I write it for an app, since it's easier to get started with than command line (but lemme know if you'd like to try command line instead):

1. Click Fork button on top-right corner a

[2016-03-18 12:16] incNick commented on #1270
@simison sure, I think you are right, go further then need learn more :)
I just public my branch fix-multer-filetype-validator there, but I'm not sure you can [see it](https://github.com/incNick/mean/commits/fix-multer-filetype-valiator).
Hope you have one very nice weekend.

[2016-03-18 22:25] trendzetter commented on #1270
I have created the PR for you #1272

[2016-03-18 22:29] trendzetter commented on #1270
If only I could reproduce the problem. The filetype-validator seems to work here, anyone else seeing the issue?

[2016-03-18 22:52] trendzetter commented on #1270
I was able to reproduce the issue, see updates in pr #1272

[2016-03-19 13:10] marianoqueirel opened #1274 "Remove in Article -> Add callback"
[code]
I think it would be better to do as follow:

[code]
In Order to do so with a callback, and so it en the next digest.

[2016-03-19 15:36] generalgmt opened #1275 "On small screen devices (width less than 767px), the expanded navbar covers the main page content."
Steps:
1. Reduce the screen size to 767px orr .
2. click on the collapsible button to expand the nav bar.
 After this, you will see the expanded nav bar covering the content section as shown in the images bellow:
<img width="395" alt="screen shot 2016-03-19 at 3 21 26 pm" src="https://cloud.githubusercontent.com/assets/7859083/13899409/b4ca3240-eded-11e5-83e1-8a3308ac23be.png">

It will be great e

[2016-03-19 15:37] generalgmt commented on #1275
After adding a position attribute of "relative" here is how it will look like:
<img width="806" alt="screen shot 2016-03-19 at 4 16 54 pm" src="https://cloud.githubusercontent.com/assets/7859083/13899418/0c433ecc-edee-11e5-8c14-7091c8a7b910.png">

[2016-03-19 18:05] ilanbiala commented on #1274
@marianoqueirel there should actually be error handling as well. Can you make a PR so we can fix this code a bit?

[2016-03-19 18:06] ilanbiala commented on #1275
@mleanos have you noticed this? @generalgmt we aren't really building a UI framework so this isn't a top priority, but if this fix causes no other issues then I'm fine merging it in.

[2016-03-19 18:36] lirantal commented on #1275
Obviously if this fixes a UI issue we should go for it.

[2016-03-21 07:36] incNick opened #1277 "My think at backend"
Some pseudocode below, I think you can know what is my think.
[code]
so, for backend of article, we only need 2 files:
1- articles/server/models/articles.server.model.js
2- articles/server/policies/articles.server.policy.js
and may can move above 2 files to same directory, like
model.policy = require('./policy.js');

[2016-03-21 16:51] #1067 closed

[2016-03-21 22:00] freemind- commented on #657
Any plans for Agular 2.0?

[2016-03-22 00:27] ilanbiala commented on #657
Not for 0.5.0.

[2016-03-22 20:00] trendzetter opened #1278 "eslint is making annoying remarks when if and else declare same variable name"
I don't think this is needed. Nor for style nor because it is an error in javascript. It's just annoying having to rename your variables or look at the buzz on screen and use --force

[2016-03-22 20:02] trendzetter commented on #1278
example code:
[code]

[2016-03-23 00:59] rhutchison commented on #1278
[code]

[2016-03-23 09:56] timshiu opened #1279 "Obfuscation/Uglify on server side source code"
Since I will deploy an application written by using MEAN.JS framework to my customer soon, I don't want them modify/copy the source easily.

I would like to ask is there any library (paid/free) that can uglify / obfuscate the server side source for MEAN.JS project?

Thanks a lot.

[2016-03-23 10:48] lirantal commented on #1279
Not gonna get an answer on that here I guess.
Why would you want to do such a thing? I can only wonder.

[2016-03-23 10:48] #1279 closed

[2016-03-23 11:00] simison commented on #1279
This question is Stack Overflow material instead of this repository.

[2016-03-23 11:05] timshiu commented on #1279
Actually it is the same as the uglify of angular part while in production mode which only concern on client side.

However, I just want to know if there is any suggestion on server side code since the structure of MEAN.JS is different from simple node project. e.g. the module folder will include both server side code and client side code.

I found some ways on obfuscate/uglify node program in Stac

[2016-03-23 14:52] trendzetter commented on #1278
@rhutchison that is indeed suppressing the message but still, not needed according to best practices, I would even recommend against putting the variable in a higher scope.

[2016-03-23 15:20] Dollab commented on #1278
The variable is not being put in a higher scope. It is already in this
scope (
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for#Parameters).
This is precisely the reason why it is bad practice to declare it twice.
The better practice I think is to use different loop variable names when
using two loops in the same function.

On Wed, Mar 23, 2016 at 3:52 PM, trendzett

[2016-03-23 17:32] ilanbiala commented on #1278
@trendzetter which code (line numbers in files) specifically?

[2016-03-23 19:34] trendzetter commented on #1278
@Dollab I didn't know that about the for variables. Could it be specific to javascript?
It's also giving me the same warning on something like this:
if(form.vm.check){
  var car = form.vm.field2;
  ...
} else {
  var car = form.vm.field1;
  ...
}
Is this also already added to the higher scope?

@ilanbiala I encounter this using the meanjs framework to develop my own app.

[2016-03-23 22:02] Dollab commented on #1278
Yes. It is specific to js. There are no block scopes apart from try/catch
statements, only global and function scopes.

Le mercredi 23 mars 2016, trendzetter <notifications@github.com> a écrit :

[2016-03-23 22:44] lirantal commented on #1278
I think @Dollab provided the correct answers here, we can close this Ilan.

[2016-03-23 22:44] #1278 closed

[2016-03-24 02:45] #1275 closed

[2016-03-24 15:09] tmilar commented on #1018
Had this same problem, node version v4.4.0 , npm 3.8.2

Then installed g++
 `sudo apt-get install g++`

And worked like a charm! :)

[2016-03-25 01:00] truthstands opened #1280 "UNMET PEER DEPENDANCY"
When I run, `npm install --save yelp`. I get the following results:

`UNMET PEER DEPENDENCY eslint-plugin-react@^4.0.0 ├── generator-angular@0.15.1 extraneous └── UNMET PEER DEPENDENCY generator-karma@>=0.9.0`

What is the best way to resolve this? Is there another easy way to setup Yelp OAuth?

[2016-03-25 01:14] ilanbiala commented on #1280
`npm install yelp`? This doesn't seem related to our code.

[2016-03-25 01:14] #1280 closed

[2016-03-26 22:31] simison commented on #1258
Sooo.. as it turns out, I'm not sure if I trust the concept of NPM scripts after stumbling upon this:

https://blog.liftsecurity.io/2015/01/27/a-malicious-module-on-npm

While NPM scripts are convenient, I would totally understand someone doing this in their system:
[code]

More http://blog.npmjs.org/post/141702881055/package-install-scripts-vulnerability

That all said, I still think there should

[2016-03-27 21:11] #1251 closed

[2016-03-28 03:13] jolacaleb commented on #1262
validator shows an error when I use req.user._id as a parameter.
[code]

So I changed the code as below:
[code]

I think validator think '_id' field as a kind of object.

I'm using meanjs v.0.5.0 beta.
Any opinion?

[2016-03-28 06:53] t-jennings opened #1282 "Unable to edit profile details"
The service for users(UsersService) is being used by the edit profile controller but is named incorrectly.

[2016-03-28 17:52] lirantal commented on #1262
@codydaig could you take a look? and figure out also what is that deprecation notice from the module?

[2016-03-28 18:50] lirantal commented on #1258
Security concerns are understood but I'm not sure they are valid in this case as this is a framework and not just some library that you 'npm install'.

[2016-03-28 19:31] mleanos commented on #1262
I want to note that we've removed the `_id` field from the `safeUserObject`. Also, instead of using `_id`, you can use `id`; you wouldn't need to use `.toString()` in that case.

@jolacaleb Where do you see the deprecation message?

[2016-03-29 11:51] jorgeram opened #1284 "Twitter login doesnt' redirect properly because passport.authenticate"
Hi. I'm getting a "Page not found" (Error: /api/auth/twitter/[object%20Object] is not a valid path.) after twitter authenticate with default project created by MEAN.JS 0.4.2 Yeoman generator.

I'm pretty newbie but the problem seems to be that in users.authentication.server.controller.js -> oauthCallback -> line 122 we're redirecting to (redirectURL || sessionRedirectURL || '/') but passport.authe

[2016-03-29 17:19] lirantal opened #1285 "Replace 'file-stream-rotator' package with winston"
file-stream-rotator (https://github.com/holidayextras/file-stream-rotator) has been deprecated and also currently has a security vulnerability which has no fix in the package because no newer releases are available.

![image](https://cloud.githubusercontent.com/assets/316371/14117037/76af2d48-f5eb-11e5-8020-a28defb08a67.png)

I'm looking into winston and some meanjs wrapper for this issue, but I'm

[2016-03-29 17:22] lirantal opened #1286 "replace 'swig' package with a proper solution"
We use the 'swig' package (https://github.com/paularmstrong/swig) for server side templates rendering but this package has been abandoned by it's maintainer and also includes a vulnerability that must be fixed yet no releases area available for it.

![image](https://cloud.githubusercontent.com/assets/316371/14117090/ada89b22-f5eb-11e5-8c9b-cfac45a5abca.png)

I'm open to recommendations for a prope

[2016-03-29 18:24] simison commented on #1286
Author recommends https://mozilla.github.io/nunjucks/

[2016-03-30 21:15] mrbfrank commented on #1284
+1 same problem on a newly generated 0.4.2 project.

[2016-03-30 23:21] ilanbiala commented on #1284
@mrbfrank have you tried with master?

[2016-03-31 00:48] mrbfrank commented on #1284
@ilanbiala Hi yes master appears to work with Facebook.. & also a custom strategy that I've written for Twitch authentication.

[2016-03-31 02:47] mrbfrank commented on #1284
@ilanbiala Update: Actually I just cloned master, npm install && grunt, and encountered "/api/auth/facebook/[object%20Object] is not a valid path."

[2016-03-31 18:22] ilanbiala commented on #1284
@lirantal @mleanos @codydaig have any of you run into these issues?

[2016-03-31 18:23] lirantal commented on #1284
I didn't but I'll give it a try

[2016-04-01 02:46] jamviking commented on #1274
This patch actually fixes a bug in 0.5 where the list still displays the deleted record after deletion.

I have not observed the bug in 0.4.2.

[2016-04-01 03:12] jamviking commented on #1270
@simison  thanks for the lesson...am a very newbie myself.  Wish I had seen it before I attempted my first PR for the generator.

[2016-04-01 05:18] jolacaleb commented on #1262
Sorry for late response. I've been so busy to work on other stuff and I completely forgot this issue..

After the server starts running, the deprecation message shows up when I connect to localhost:3000 in development mode. I didn't test it in production mode, and it's a server-side message.

and as @lirantal mentioned, I changed '._id' to '.id,' and no deprecation message shows up and am able to

[2016-04-01 17:22] simison commented on #1286
Some reading:
- https://strongloop.com/strongblog/compare-javascript-templates-jade-mustache-dust/
- They seem to be using [Liquid](https://shopify.github.io/liquid/) for Express docs.

[2016-04-01 18:04] ilanbiala commented on #1274
@marianoqueirel can you make a PR with your code with @jamviking's typo fix?

[2016-04-01 18:40] mleanos commented on #1284
Yes. I've experienced this exact issue. The authentication seems to take place, but the callback URL isn't working. I can't quite remember if I saw what was causing the issue. I was working on a short list of issues I found with the Social Accounts authentication methods, but hadn't gotten to attempting to solve this issue. I'll revisit this over the weekend, and provide feedback.

[2016-04-01 18:42] marianoqueirel commented on #1274
sure! @ilanbiala, I'm going to do, and Make my first PR.

[2016-04-03 05:57] flik opened #1288 "socket.io was missing"
package was not in the dependencies list.

[2016-04-03 09:07] simison commented on #1288
Hmm? https://github.com/meanjs/mean/blob/master/package.json#L65

[2016-04-03 10:16] sameersanatkpatro opened #1289 "Using REST With meanjs"
Hi,
I have a backend implemented in Java and I want to use meanjs in Front end.I want to communicate with  Java backend using REST.Can someone please suggest is there a lib already that can be used using which I can make REST invocation?

Thanks in advance for help.

[2016-04-03 10:31] simison commented on #1289
MEAN = Mongo+Express+Angular+Node and from those only Angular is frontend.

This project has a very barebone frontend implementation, so I'm not really sure if you're at the right place, but let's see.

What is it that you're exactly looking for?
- Mobile implementation? Perhaps check react-native.
- Quick and modular way to produce good looking Angular UI? Have a look at [Angular-Material](https:

[2016-04-03 10:37] sameersanatkpatro commented on #1289
Thanks for the info.

[2016-04-03 10:37] #1289 closed

[2016-04-03 17:57] ChrisMaher opened #1290 "OAuth Login Issues Error: /api/auth/google/[object%20Object] is not a valid path."
Hi

Ive been working on a project for a while and this problem just popped up. Im not sure how far back the problem occured or on what commit.

When someone logs in with Facebook or Google it redirects to the server 404 page and shows

`Page not found  Error: /api/auth/google/[object%20Object] is not a valid path.`

However if i refresh the page the user is logged in.

[2016-04-04 05:27] avatarr opened #1291 "docker-compose error while building form Dockerfile"
Ubuntu image error shown at image below

![screen shot 2559-04-04 at 12 22 58](https://cloud.githubusercontent.com/assets/1640817/14238887/258ca2b4-fa60-11e5-9367-27ca959ccf84.png)

I move form mean.io and docker is work fine so I have a question about meanjs: Why not Dockefile use ubuntu image if it use nodejs stand alone like https://github.com/linnovate/mean/blob/master/Dockerfile it is better

[2016-04-04 05:46] lirantal commented on #1291
@avatarr looks like an ubuntu image related error, or possibly you're unable to resolve?
An Ubuntu image is more standard and close to how you would be developing locally or what you will be deploying to production, and also you can easily install whatever extra dev tools/libraries you will need so it makes more sense to me.

[2016-04-04 06:58] avatarr commented on #1291
Thank for reply so I will retry to use other version of ubuntu

[2016-04-04 08:01] lirantal commented on #1288
@flik ?

[2016-04-04 09:34] flik commented on #1288
@lirantal
When you install with npm, You will face an error because of socket.io It is not included in dependencies list and MEAN is using it.

[2016-04-04 09:36] flik opened #1292 "Documentation need improvment"
You are using some ruby gems and Now MEANJS is focusing on node.js.
So there must be some instructions for ruby and other external libraries.

[2016-04-04 09:52] simison commented on #1288
@flik which version you're running?

At least it's here at the latest tagged version: https://github.com/meanjs/mean/blob/e14088039748ba515e7de3f5a44ec20965337537/package.json#L63

...and at master as I pointed out earlier.

[2016-04-04 16:20] codydaig commented on #1292
We outline that you must install Ruby for one of the dependencies in the README prerequisites. Is this what you are reffering too?
https://github.com/meanjs/mean/blob/master/README.md#prerequisites

[2016-04-04 18:25] iamchriswick commented on #1290
I'm experiencing the same issue...

[2016-04-04 18:27] mrbfrank commented on #1290
This issue is related/duplicate of https://github.com/meanjs/mean/issues/1284

[2016-04-04 20:42] ChrisMaher commented on #1284
I was working on a 6 month old MEANjs 0.4 and got it all of a sudden on FB and Google Logins.

I changed a server function to redirect to homepage instead of going back to the last page you clicked login from and it seemed to solve it.

modules/users/server/controllers/users/users.authentication.server.controller.js

`/**
 * OAuth callback
 */
exports.oauthCallback = function (strategy) {
  return

[2016-04-04 22:22] simison opened #1294 "Running an AngularJS App in Production"
Two things from https://docs.angularjs.org/guide/production

- [ ] Disabling Debug Data
- [x] Strict DI Mode

Thoughts how to implement these?

[2016-04-04 23:16] codydaig commented on #1294
I think to disable debug data, we have to somehow load config into the client side. This is something that has come up a lot, but has not been implemented.

However, I think we can do the strict DI mode with the index.html template in swig.

[2016-04-05 01:27] ervine13 opened #1295 "fresh clone, then gulp and I get "SyntaxError: Use of const in strict mode.""
Just 15 minutes ago,

1. I cloned
2. ran NPM install
3. ran gulp

then I got the following error

/Users/ErvinEbalo/workspace/project_mealBuilder/mealBuilder/node_modules/connect-mongo/src/index.js:3
const Promise = require('bluebird');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._exten

[2016-04-05 09:12] pgrodrigues commented on #1294
I opened a [similar issue](https://github.com/meanjs/mean/issues/903) a few months ago.

[2016-04-05 09:47] simison commented on #1258
@lirantal True.

Pushed initial example for discussion: https://github.com/meanjs/mean/pull/1296

[2016-04-05 13:24] flik commented on #1288
0.11.1

and I am getting these messages.

/home/ashfaq/myA# gulp

Error: Cannot find module 'socket.io'
  at Function.Module._resolveFilename (module.js:338:15)
  at Function.Module._load (module.js:280:25)
  at Module.require (module.js:364:17)
  at require (module.js:380:17)
  at Object.<anonymous> (/home/ashfaq/myA/node_modules/karma/lib/server.js:1:78)
  at Module._compile (module.js:456:26)

[2016-04-06 00:08] AttilaSATAN commented on #1286
Nunjucks is a good and solid alternative

[2016-04-06 08:45] simison opened #1297 "Should gulp test:server:watch default to "onlyChanged"?"
This:
[code]
...should really be default when hitting that test-watch task (`gulp test:server:watch`).

Are there situations when you'd want to run all the tests when changing something at a single test file? Wouldn't it be enough to run all the tests only at the end of development manually?

Thoughts?

[2016-04-07 05:10] mleanos commented on #1297
I think defaulting to only running a changed test is a good idea. I don't really see a need to run all tests again, after changing a single test file.

[2016-04-07 07:57] lirantal commented on #1288
@flik
What is 0.11.1?
I don't even remember such version :)

[2016-04-07 08:20] #1291 closed

[2016-04-07 08:55] flik commented on #1288
root@ubuntu-512mb:~# mean -v
0.11.1
It is showing mean version

[2016-04-07 09:53] lirantal commented on #1294
Will you guys work on a PR for this, sounds like a good idea.

[2016-04-07 09:56] lirantal commented on #1288
@flik I don't know what project you are you using but MEAN.JS never had an 0.11.1 version.
Can you paste here your entire `package.json` file maybe?

[2016-04-07 09:56] #1288 closed

[2016-04-07 13:10] sreemohan003 commented on #68
i am getting error while cloning i have added

git clone git@github.com:MichaelJCole/mean.git
Cloning into 'mean'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2016-04-07 13:34] lirantal commented on #1295
You are probably running a version of nodejs which we don't support.
Which node version do you have installed?

[2016-04-07 18:18] ilanbiala commented on #1297
SGTM.

[2016-04-07 19:08] ervine13 commented on #1295
thanks, @lirantal. that was it. silly me.

[2016-04-07 19:08] #1295 closed

[2016-04-07 19:25] simison commented on #1295
@lirantal is https://github.com/meanjs/mean/blob/master/package.json#L14-L15 up to date?

[2016-04-07 19:28] lirantal commented on #1295
actually no, nodejs engine there should be v4, npm v2

[2016-04-08 05:59] mleanos commented on #1297
@simison I'll submit a PR for this change, since I introduced this task.

[2016-04-08 06:42] PierreBrisorgueil commented on #369
Hello, i'm agree too Angular Material have no place in a framework like MEANJS.

MeanJs is light today , it's perfect. On the other hand , a small css work to make the modules more sexy ... why not :), but it's just marketing ;). I would make a try, if I have time in the coming months.

On my side, i have a quick integration of http://krescruz.github.io/angular-materialize/ & http://materializecss

[2016-04-08 07:37] PierreBrisorgueil commented on #715
I'm not sure it's a specific case. But I see this case otherwise.

In many companies , you do not have an authentication service application, it would be crazy, but it's a global authentication service (play with header in general). So it is possible (and even in many cases) want to use meanjs , client and server , but not the management of authentication, or at least go through an intermediate st

[2016-04-09 18:53] codydaig commented on #1288
We don't have a mean command line interface. So running mean -v is not giving your the version of our project. Nor is using mean from the command line related to this project.

[2016-04-10 23:56] #1297 closed

[2016-04-11 07:49] nikitpatel24 opened #1301 "Proctecting routes"
Hi,

I started using meanjs recently, Its awesome.
But i can't find a way for protecting the routes.
If the user is logged in and is admin, then only a page should be accessible
-

[2016-04-11 08:50] nikitpatel24 commented on #1301
down vote
The routes does not seem to be protected, if i create a new route like $stateProvider
.state('dashboard', {
  url: '/d',
  templateUrl: 'modules/core/client/views/dashboard.client.view.html'
})

even though the user is not logged in, he can successfully navigate to the link localhost:3000/d,

how do i restrict this???any ideas?

[2016-04-11 09:19] mleanos commented on #1301
Look at the Articles client routes. There's `data` property that you can put `roles` into to restrict access. The default behavior (no roles config on your client route) is to have no restrictions.

[2016-04-11 11:53] nikitpatel24 commented on #1301
yes, i saw that , it works perfectly for roles but  when the user is not logged in, he can still navigate to the page by writing the url.

[2016-04-12 06:02] mleanos commented on #1301
The user should get redirected back to the signin page when they manually type in a route that is restricted to logged in users. In order to secure a route, you must have the `data.roles` defined in the client-side route configuration.

For example, look at the [Chat Routes](https://github.com/meanjs/mean/blob/master/modules/chat/client/config/chat.client.routes.js#L18). If this setting is not pre

[2016-04-12 08:37] nikitpatel24 commented on #1301
Thank you for your kind help....You are absolutely correct.

[2016-04-12 12:05] scfox opened #1304 "Menus should support params"
Use case is to dynamically generate sub-menu items where all would go to same state but have a parameter to identify target object, e.g. optionId.  Right now the only option I see would be to create a dynamic state name that would embed the params, but that doesn't seem like a good option.

[2016-04-12 14:14] rengas opened #1306 "Node-inspector can't break at breakpoint"
Hi I trying run the meanjs app inside vagrant box. This is related to this [question](http://stackoverflow.com/questions/36536753/how-to-setup-node-inspector-with-vagrant/36549626#36549626) . I understand from node-inspector module that I need to pass --debug-brk if I want to break immediately after the app starts. My configuration is as follows

`'node-inspector': {
      custom: {
        option

[2016-04-12 16:13] #1301 closed

[2016-04-12 16:30] Berkmann18 opened #1307 "[Question] Which framework should I use for the module management/system to use MEAN.js"
Hello I want to get into full stack web development so after making some research on frameworks (for web dev. obviously), I saw that the MEAN.JS (not the .io one) stack (MongoDB+Express.js+Angular 2+Node.js) was the way to go especially as I'm more oriented Front-End so DHTML (HTML+CSS+JS) over PHP&MySQL and that I'm not used to the LAMP stack (Linux+Apache+MySQL+PHP).

The ick is that there's sev

[2016-04-12 18:58] Berkmann18 commented on #1277
This issue lacks in information about what you're trying to do, what are/is the issue(s) you're facing, what have you tried to do to solve the problem.

[2016-04-12 23:23] #1306 closed

[2016-04-12 23:24] rengas commented on #1306
Update to chrome solved the issue. And debug-brk is not required

[2016-04-13 10:45] lirantal opened #1308 "HSTS security policy defined twice"
The HSTS security policy is being defined and set using 2 different methods:
1. Lusca's CSRF configuration at: https://github.com/meanjs/mean/blob/master/config/env/default.js#L37
2. Helmet's HSTS at https://github.com/meanjs/mean/blob/master/config/lib/express.js#L150

Lusca's HSTS protection should probably be removed in favor of hetlmet.

[2016-04-13 12:02] iakcaoglu opened #1310 "Installation Script has errors"
Hi,
I am looking for a good alternative to develop a nodejs app and MEAN.js seem to be a good starting point for me. But when I tried to intall in li,nuz and windows I get Errors and Deprecated packages. These should be updated somehow? The log file is attached.
Thanks,
[npm-debug.log.txt](https://github.com/meanjs/mean/files/217009/npm-debug.log.txt)

[2016-04-13 12:49] simison commented on #1310
Does running `bower install` directly work for you?

[2016-04-13 14:07] ChrisMaher opened #1311 "Should all js be bundled when deployed to Heroku?"
I have a problem with a site that loads slowly and after asking on Stackoverflow everyone said that there is far too many js files

There is 71.

What i noticed is that its loading all the non third party js files seperately. Is this wrong? i.e routes, views etc.

Heres the URL.

http://saveme.ie/

[2016-04-13 14:42] iakcaoglu commented on #1310
No it gives the following error.
"bower ENOGIT git is not installed or not in the PATH"

[2016-04-13 14:43] simison commented on #1310
There's your problem. :-)

Install `git` and try again https://git-scm.com/downloads

[2016-04-13 14:58] ilanbiala commented on #1310
@iakcaoglu fixed?

[2016-04-13 15:01] ilanbiala commented on #1311
You can concatenate those files and see if that helps.

[2016-04-13 15:11] ChrisMaher commented on #1311
Well then my question is how do i bundle them?

[2016-04-13 17:45] ignasg commented on #657
Anything about ECMAScript 6.x support?
http://es6-features.org/

[2016-04-14 12:30] iakcaoglu commented on #1310
Installed GIT, Then needed python 2.7. I also installed it.
After all steps it is fixed.

[2016-04-14 12:30] #1310 closed

[2016-04-14 17:54] ilanbiala commented on #1310
@iakcaoglu why did you need Python 2.7?

[2016-04-14 17:57] ilanbiala commented on #1311
Check out gulp-concat and see if concatenating into 1 script will load faster.

[2016-04-14 18:34] simison commented on #1311
@Ilanbala Gulpfile should actually have a `build` task that's suitable for production env.

[2016-04-14 18:59] simison commented on #1311
Confusing...

[Build task](https://github.com/meanjs/mean/blob/master/gulpfile.js#L365-L367):
[code]
Odd to see both `env:dev` and `wiredep:prod`?

[Wiredep task](https://github.com/meanjs/mean/blob/master/gulpfile.js#L200-L206)
...isn't used anywhere. Was this meant for development?

[2016-04-15 02:54] ChrisMaher commented on #1284
Just got this problem on another site that i did absolutely no changes on.

I added

 // return res.redirect(redirectURL || sessionRedirectURL || '/');
        return res.redirect('http://www.mysite.com');

And it worked fine again.

Problem with Redirect url it seems.

[2016-04-15 06:08] d3dc commented on #1275
How is this different from the bootstrap class _navbar-static-top_ ?

[2016-04-15 11:08] trendzetter commented on #1275
I think this is interesting, I am having some issues with navigation too and I want to return to as close as possible to the mainstream bootstrap way of things.

[2016-04-15 19:29] nikitpatel24 opened #1313 "browserSync support with gulp"
I am trying to add browser sync instead of livereload.
But i am getting a Cannot get error.
Can it be resolved.
It would be nice to integrate Browser-sync with the new update

`

`
[gulpfile.txt](https://github.com/meanjs/mean/files/221640/gulpfile.txt)

[2016-04-16 09:15] simison commented on #1313
What's the reasoning using BrowserSync instead of Livereload?

[2016-04-16 09:35] nikitpatel24 commented on #1313
BrowserSync uses connect under the hood.

It has support for all the 'live-reload' features (it was specifically built as a replacement).

It has greater browser support (right back to IE7)

The middleware for injecting scripts is all included, it 'just works'

It has port-resolution built in so there's no need for hard-harded ports in the gulpfile.

Supports streams for better file injecting/relo

[2016-04-18 01:30] ilanbiala commented on #1275
@trendzetter does navbar-fixed-top fix this issue?

[2016-04-18 01:31] ilanbiala commented on #1313
Is there anything that it specifically does better than Livereload?

[2016-04-18 01:32] ilanbiala commented on #1311
prod I think uses minified files.

[2016-04-18 08:52] trendzetter commented on #1277
Your suggestion is not clear. Are you suggesting meanjs should use less files? Why?

[2016-04-18 10:26] generalgmt commented on #1275
@d3dc, yeah that is exactly what navbar-static-top does. Thanks for pointing that out.

[2016-04-18 14:38] simison commented on #1311
@ilanbiala `prod` task also runs the app, so it's not really suitable for _building_ the prod version.

[2016-04-18 17:39] ilanbiala commented on #1311
Sorry, I meant wiredep:prod uses the minified files for wiredep.

[2016-04-18 18:15] trendzetter commented on #1275
@ilanbiala it does solve the issue in the title + I just checked if my application works with navbar-static-top and it is compatible. I suggest to remove the relative-header, probably I am not the only one having gui issues as a result.

[2016-04-18 19:17] ChrisMaher commented on #1311
On HEROKU you need to go to env vars in settings and add

NODE_ENV production

Then use grunt build before deploying to Heroku.

Cuts loading time to about 1/5th on my site.

[2016-04-19 15:50] Wuntenn commented on #1224
If you think about the components that cause the problem:

- SVG IRI's
- Angular's $location and it's need for <base> to support history push states in legacy browsers (IE9)
[https://docs.angularjs.org/error/$location/nobase](https://docs.angularjs.org/error/$location/nobase)
- <base> tag

none of these aren't meanjs specific and points more toward AngularJS itself.

Googling: "angular $location b

[2016-04-19 16:55] Wuntenn commented on #1161
When you look at the reasons for using PEAN they all seem valid. The argument that most apps aren't document based and that really they're relational and that all the big companies that have used MEAN have had to convert seems like a strong argument.

However, a lot of MEAN applications function as small side-projects and/or early startup code base where there is constant change. In the beginning

[2016-04-19 18:09] ilanbiala commented on #1275
@trendzetter can you make a PR for that?

[2016-04-20 06:54] Yaoyusina commented on #202
I find when I use my facebook account  "****.***@gmail.com" login, the terminal log is "/authentication/signin?err=Email%20already%20exists" and stay signin page;
and if I use my facebook account "******@gmail.com" (without "." in prefix), then the signin is working.
so oddly!

[2016-04-20 15:09] ilanbiala commented on #1224
@0x24a537r9 have you looked at a gulp task to do this?

[2016-04-20 15:11] ilanbiala commented on #1311
@ChrisMaher can you make a PR to add that to our documentation for Heroku?

[2016-04-21 16:39] sparshy opened #1319 "Errors due to some chages"
https://github.com/meanjs/mean/blob/master/modules/users/client/controllers/settings/edit-profile.client.controller.js#L8

the controller should inject `UsersService` instead of `Users`

https://github.com/meanjs/mean/blob/master/modules/users/client/controllers/settings/manage-social-accounts.client.controller.js#L20

user is on `vm` instead of $scope

[2016-04-22 00:44] snlacks commented on #1284
@ChrisMaher got me on the right path, it "worked" but I needed it to redirect to the place where we started from. When I ran the debugger, it seems that using redirectURL is what's messing it up. To get the redirect:

        // return res.redirect(redirectURL || sessionRedirectURL || '/');
        return res.redirect(sessionRedirectURL || '/');

in users.authentication.server.controller at \path\

[2016-04-22 01:45] ChrisMaher commented on #1284
Still no solution to what actually caused the problem in the first place?

I had one site that i literally haven't modified in any way in weeks and it just started happening. Another one i was in the middle of working on so i assumed it was me that made some mistake but it probably wasnt. Both sites where using ~6 month old version of Mean.js 0.4

[2016-04-22 03:02] thodinh commented on #1290
Refer to `users.authentication.server.controller.js   >>>   exports.oauthCallback`
Considering the return redirect

I debugged and found that `redirectURL `received is an object `{}` (it is not actually `null `or `undefined`). So `redirectURL `will be return in conditional expression `redirectURL || sessionRedirectURL || '/'`

My solution for this issue is: check type of redirectURL is string or n

[2016-04-22 05:44] #1308 closed

[2016-04-22 07:45] trendzetter commented on #1319
bug. would you be willing to create a PR?

[2016-04-22 10:23] pgrodrigues commented on #1319
The first one was already addressed via this [PR](https://github.com/meanjs/mean/pull/1283/commits).
The second I'm not sure.

[2016-04-22 12:42] pvencill opened #1320 "Trailing slash in older browsers"
When a browser (e.g. IE 9) does not support the History API, and therefore Angular falls back to using the #! in the URL.  However, the home page URL needs to therefore be `/#!/` for routing to work properly, and core.client.routes.js does this:

[code]

This means users can only navigate to the home page in those browsers if you add in the final / after the #!.  the trailingslash logic needs to b

[2016-04-24 17:55] suhailameen46 opened #1321 "Angular Version?"
which version of angular does it use?

and why does `$ yo meanjs:angular-module <module-name>` does not work?

[2016-04-24 19:05] Wuntenn opened #1322 "MeanJS"
Official

[2016-04-24 19:14] Wuntenn commented on #1322
I tried to bookmark this repo on my phone! 😎

[2016-04-24 19:14] #1322 closed

[2016-04-24 20:10] aralroca opened #1323 "Setting up HTTP/2"
Just I read this article and I thought that maybe setting up **HTTP/2** in Mean.JS is a good idea:

* **Article:** https://surma.link/things/h2setup/

What do you think?

[2016-04-24 21:41] simison commented on #1321
This should probably be under https://github.com/meanjs/generator-meanjs

[2016-04-25 14:01] aralroca commented on #1323
**What is HTTP/2?**: http://codeahoy.com/2016/04/23/what-is-http2/

[2016-04-25 16:56] Berkmann18 commented on #1323
Yeah, it's definitely a good idea.

[2016-04-25 17:01] lirantal commented on #1323
It is but HTTP/2 isn't yet supported as part of ExpressJS so I guess we'll wait with that.

[2016-04-25 21:37] aralroca commented on #1323
**http2** provides an API similar to Node’s standard HTTP server.

    var fs = require('fs');
    var http2 = require('http2');
    var options = {
      key: fs.readFileSync('/path/to/server.key'),
      cert: fs.readFileSync('/path/to/server.cert')
    };
    http2.createServer(options, function(request, response) {
      response.end('Hello world!');
    }).listen(8080);

[2016-04-26 14:02] prasad47 opened #1324 "App not showing up on localhost:3000 and the Requests Logs in "version": "0.3.3""
Hi Guys,

I have meanjs version 0.3.3 . When i used command **grunt** .Server started but finally it is not showing the message  "server started with **localhost:3030/** " and keep on showing **waiting .....** Please find the attachment for the clear view of my issue
Unfortunately we cannot able to upgrade to another meanjs versions currently .
Uploading Screen shot of problem .

![f293226e-0bd7-1

[2016-04-26 15:14] ilanbiala commented on #1324
We don't support Mean 0.3.3 anymore, we'll be releasing 0.5.0 in the near future if you would like to start looking at the code in the master branch.

[2016-04-26 15:15] ilanbiala commented on #1321
Angular 1.5 will be used for MEAN 0.5.0.

[2016-04-26 15:16] ilanbiala commented on #1320
@pvencill we aren't actively trying to support older browsers, ideally we only support evergreen browsers as that covers most of the user base.

[2016-04-26 15:37] prasad47 commented on #1324
node server.js worked like magic . Sure thanks for the help .

[2016-04-26 15:37] #1324 closed

[2016-04-26 21:33] younesherlock opened #1325 "Installation issue : error"
Hello,

I got the following error while installing meanjs :

Do you have any idea of how I may solve this ?

[2016-04-26 21:38] ilanbiala commented on #1325
You can't use Node 0.10, try using Node 4.

[2016-04-27 10:01] trendzetter commented on #1320
@pvencill Why should meanjs support browsers that are deprecated by the vendor?
https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support

[2016-04-27 14:39] pvencill commented on #1320
So, I get that line of thinking, but I was looking at it from the other direction.  Why should meanjs actively break something that AngularJS supports, without a good reason? Especially since it's such an easy fix.  Either test for the support of pushstate as part of the logic I posted above, or use a regex to detect that the URL is the root URL of the site.  Using something like:

[code]
Will tel

[2016-04-27 23:06] aquadestructor opened #1326 "0.5.0 Boiler plater throwing server error"
I tried cloning the beta version 0.5.0. However it's throwing a server error. The initial issue was in validator **TypeError: This library (validator.js) validates strings only**. I managed to fix it by adding the + ' ' in the assertString. It's still displaying the server error.

[2016-04-27 23:21] aquadestructor commented on #1326
Still showing the same error in the validator.js

[2016-04-28 11:48] trendzetter commented on #1320
I must admit that I am not fan of the trailing slash removing behavior. I don't need it and I had to remove it because I make use of the possibility to have a trailing slash in the application I build on meanjs. I never understood why meanjs wants to remove those slashes anyway. Because some has build an application that cannot handle it? it appears. I think it should not be in the framework, just

[2016-04-28 12:03] trendzetter commented on #1320
I am starting to think that this hack to remove the trailing slash has been adopted too lightly. Just another issue with it:
https://github.com/meanjs/mean/issues/1224#issuecomment-195133690

[2016-04-28 15:02] ilanbiala commented on #1326
@aquadestructor where is this exactly?

[2016-04-28 15:06] ilanbiala commented on #1320
@trendzetter most websites don't have trailing slashes in the URL, and we decided to configure MEAN.js like that as well. Is there a reason you think it's a bad idea? #1224 doesn't have anything to do with trailing slashes, that has to do with the base tag in the HTML. Did you mistype the issue number?

[2016-04-29 03:15] saintwilbur commented on #1114
In the same vein, what is the best practice to call functions belonging to the *.server.controllers on socket events?
The file module/*/server/sockets/*.server.sockets.js is a good place to define what to do on the various emit messages. Should I be referencing the controller here, to call it's functions?
This does not seem like the right place to define functions that should belong to the control

[2016-04-29 21:20] #1282 closed

[2016-05-03 12:58] trendzetter commented on #1320
@ilanbiala I linked to a comment, not the issue itself.
@ilanbiala

Might be true but there is no error or even convention against it. I am using the trailing slashes for optional parameters in the url and it works fine (if I leave the slash checks out, which I think are overhead that was adopted too lightly)

[2016-05-03 13:03] simison commented on #1320
@trendzetter well, suppose it's fine for a boilerplate to be opinionated and you can then modify it to your own needs, right?

[2016-05-03 13:07] trendzetter commented on #1320
@trendzetter True but I think it's a distraction that is limiting unneeded and has the potential to hinder a lot, not me, it's removed in my fork.
meanjs should just create conventional url's (without trailing slashes) but actively rewriting is a bit overprotective I think. Anyway, I am willing to leave it like that but it starting to appears already that this has it's own problems.

[2016-05-03 13:15] simison commented on #1320
@trendzetter

I like rewriting URLs as a straightforward way of handling trailing slashes (and I use it myself — although that shouldn't matter).

[2016-05-03 13:24] trendzetter commented on #1320
@simison

I can imagine that you have those lines in your fork but are you really _using _them? It seems to me you would only use the code if you do strange things in your application that produces weird url's for no good reason.

[2016-05-03 13:27] simison commented on #1320
@trendzetter our site is big enough to have all kinds of links pointing to it (broken links, outdated link formats, with and without trailing slashes, with and without `#!`). It's internet — better not to expect anything.

...so your app breaks if someone puts trailing slash on url? :-)

[2016-05-03 13:31] trendzetter commented on #1320
My app does not break, maybe I should check how I handle that exactly, but the idea is that it you have a trailing slash on some of the routes in the app it means the optional parameter was not given and it returns content just as well.

[2016-05-03 13:34] trendzetter commented on #1320
Just did some verification, and yes, some of the url's which are in fact invalid return a standard http error code 404 which is what I expect for an invalid url. I don't consider returning 404 for an invalid route "breaking"

[2016-05-03 13:35] simison commented on #1320
Sure! That's engineering point of view. I'm more interested in user experience.

[2016-05-03 13:36] trendzetter commented on #1320
Users do not get invalid routes by themselves.

[2016-05-03 13:37] trendzetter commented on #1320
404 is intended to help the user and you could put a sitemap on the 404 page.

[2016-05-03 14:28] trendzetter commented on #1320
I noticed a bit of frustration with my comments on this issue, I hope I didn't offend you, I am a bit surprised by your strong position on this. My only interest is having a respectful discussion that makes us all wiser.

[2016-05-03 15:25] coolshul opened #1330 "Issue with 'Application Generator'"
Hello,

Sorry if this is a duplicate issue. I am new to the MEAN arena. And have been scratching my head over the below errors with no success yet:

Steps I executed:
1. Installed node (v4.4.3) (success)
2. Installed mongodb (v3.0.2) (success)
3. Updated npm (to v3.8.8) (success)
4. Installed bower (v1.7.9) (success)
5. Installed grunt-cli (v1.2.0) (success)
6. Install yo (v1.7.0) (success)
7. Ins

[2016-05-03 15:30] csharpee commented on #1330
I am also new to MEAN - If this helps, try checking out

‪♯‎Light‬ ‪♯‎Love‬ ♯Unity‬ - Charles B <http://www.sharpetronics.com>.
Sharpe
-------------
 Prepare For Change Network:    Intel <http://2012portal.blogspot.com/> *|*
News <http://www.theeventchronicle.com/> *|* Reference
<http://www.eventreference.org/> *|* Collaborate
<http://www.prepareforchange.net/> *|* Connect <http://coeo.cc/>
    *T

[2016-05-03 15:30] csharpee commented on #1330
install Python 2.7.x
install Microsoft Visual Studio C++ 2012 Express
Run NPM update
$ npm update -g

‪♯‎Light‬ ‪♯‎Love‬ ♯Unity‬ - Charles B <http://www.sharpetronics.com>.
Sharpe
-------------
 Prepare For Change Network:    Intel <http://2012portal.blogspot.com/> *|*
News <http://www.theeventchronicle.com/> *|* Reference
<http://www.eventreference.org/> *|* Collaborate
<http://www.prepareforchan

[2016-05-03 15:37] coolshul commented on #1330
Thanks @csharpee for your quick reply.
I see that I am running the latest stable version of npm. Would installing Python & updating still make a difference?

Thanks,
Harshul

[2016-05-03 15:42] csharpee commented on #1330
If you are using node-gyp,, this uses python and could be causing the
errors for out of date.

See requirements here: hhttps://github.com/nodejs/node-gyp#installation

‪♯‎Light‬ ‪♯‎Love‬ ♯Unity‬ - Charles B <http://www.sharpetronics.com>.
Sharpe
-------------
 Prepare For Change Network:    Intel <http://2012portal.blogspot.com/> *|*
News <http://www.theeventchronicle.com/> *|* Reference
<http://w

[2016-05-03 15:59] csharpee commented on #1330
@coolshul, I just tested out your install and it worked for me, so it must
be something related to your environment / setup.

Let me know if the python was the issue.

‪♯‎Light‬ ‪♯‎Love‬ ♯Unity‬ - Charles B <http://www.sharpetronics.com>.
Sharpe
-------------
 Prepare For Change Network:    Intel <http://2012portal.blogspot.com/> *|*
News <http://www.theeventchronicle.com/> *|* Reference
<http://w

[2016-05-03 16:13] csharpee commented on #1330
Also, step 8 should have no spaces between the 'meanjs' - with a space,
this only installed node modules, rather than the application.

See this link: http://meanjs.org/generator.html#application

‪♯‎Light‬ ‪♯‎Love‬ ♯Unity‬ - Charles B <http://www.sharpetronics.com>.
Sharpe
-------------
 Prepare For Change Network:    Intel <http://2012portal.blogspot.com/> *|*
News <http://www.theeventchronicle.

[2016-05-03 16:25] coolshul commented on #1330
Thanks @csharpee. Tried installing Python 2.7. No luck yet! :(

[2016-05-03 16:39] simison commented on #1330
@coolshul everything else listed at https://github.com/nodejs/node-gyp#installation done?

[2016-05-03 16:53] coolshul commented on #1330
On it.

[2016-05-03 17:03] coolshul commented on #1330
Thanks a bunch @csharpee & @simison for your time.

I did:

1. npm install -g node-gyp

2. I have Python (v2.7)

3. I have 'gcc'
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 6.0 (clang-600.0.56) (based on LLVM 3.5svn)
Target: x86_64-apple-darwin14.1.0

4. I have 'make' (GNU Make 3.81)

Still same set of er

[2016-05-03 22:30] mleanos commented on #1320
If I can jump in here, the key point is that we're not re-writing the URL in this case to circumvent improperly architected links/routes.

We're doing this so the user's experience doesn't get interrupted when (as @simison already pointed out) know the intention of the user when they type in `/pagename/` vs `/pagename`; they **must** be treated the same. Again, to re-iterate what Mikael said, link

[2016-05-04 03:26] soupman99 opened #1331 "rename docker-compose containers"
Is there a way to rename my containers via docker-compose.yml?  I tried renaming my db but my meanjs isn't able to find the renamed container.

[2016-05-04 10:06] trendzetter commented on #1320
@mleanos I understand the motivations to rewrite the url but I think they are limiting and overprotective: the need to correct such typo's is better decided on a per application basis rather than in the framework.
I will attempt to explain my use case, it might well be that my implementation is not optimal and that I can work around the rewriting by structuring my application different.

I have a

[2016-05-04 15:55] lirantal commented on #1331
Check the code for the latest commit on master, you can rename/override it in docker-compose.yml

[2016-05-04 16:03] soupman99 commented on #1331
Yeah I tried that but still having issues.  Here's my db config.
[code]
Then I'm running `docker-compose up` but my meanjs container can't connect to the renamed db container.

[2016-05-04 19:51] soupman99 commented on #1331
Figured it out.  Incase anyone is having the same issue this link was helpful.

[https://programmaticponderings.wordpress.com/tag/mean-js/](https://programmaticponderings.wordpress.com/tag/mean-js/)

I needed to rename `DB_1_PORT_27017_TCP_ADDR`  within `/config/env/*your_environment*.js`

`DB_1_PORT_27017_TCP_ADDR` gets created by docker at startup so I just renamed DB_1 to whatever my new db con

[2016-05-04 20:51] lirantal commented on #1331
@soupman99 but that's exactly what I told you to do. Take a look here:
https://github.com/meanjs/mean/blob/master/docker-compose.yml#L21

If you rename it to anything else then it gets created in another name.

[2016-05-04 20:54] soupman99 commented on #1331
Right, but I didn't realize I needed to update my config file.  Obviously in hindsight it was obvious.  Just being a little more verbose so the next person can get to the solution quicker.

[2016-05-04 20:58] lirantal commented on #1331
Oh, got it. You're right you definitely need to make a change there to read the default variable name :)
Ok cool, thanks for updating the thread and goodluck!

[2016-05-04 20:58] #1331 closed

[2016-05-10 16:22] aanev opened #1332 "Typo in page-title.client.directives.js"
Line 11 in "mean/modules/core/client/directives/page-title.client.directives.js" is

retrict: 'A',

and should be

restrict: 'A',

[2016-05-10 19:41] ilanbiala commented on #1332
@aanev can you submit a PR?

[2016-05-11 07:55] patouche7519 opened #1333 "Safari Error : truncate angular.js"
Hi guys,
Not sure that the error is global or related to my development environment (OSX, Node 4.4.2) but the master meanjs doesn't work in Safari, it works in Chrome or Firefox

Safari truncate angular.js in the master release
Error message: SyntaxError: Unexpected End of script (angular.js)

**Safari**: Version 9.1 (11601.5.17.1)
**MEANJS**: master

**How to reproduce the error:**
- download the

[2016-05-11 22:35] patouche7519 commented on #1333
FYI, the bug is introduce by angularJS 1.5.5. It works nice with 1.5.4 and older 1.5.x versions

[2016-05-12 10:41] dbelieves commented on #577
i am going through the same problem.

what is meant by 'making the app stateless' ?

i have only one db of mongo which i want to be shared across all my subdomains.

can anyone help guide me do this ?

[2016-05-15 01:03] darktrge opened #1335 "meanjs 0.4.3 release?"
Are there any plans to make 0.4.3 release, or 0.4.2 is to stay as the last release for 0.4 branch?

[2016-05-16 06:06] lirantal commented on #1335
It seems that the next step is just 0.5.0 with crucial changes.

[2016-05-17 00:20] darktrge commented on #1335
Thanks for the info!
Closing this issue.

[2016-05-17 00:20] #1335 closed

[2016-05-18 09:23] fauria opened #1336 "ESLint console warnings"
When running ```grunt```, ```eslint:target``` warns ```warning  Unexpected console statement  no-console``` on the following files: ```gruntfile.js```, ```config/config.js```, ```config/lib/app.js```, ```config/lib/express.js```, ```config/lib/logger.js```, ```config/lib/mongoose.js```, and ```config/lib/seed.js```.

[code]

[2016-05-18 19:48] lirantal commented on #1332
@aanev you created a PR in your own repo (https://github.com/aanev/mean/pull/1) but you actually need to make the PR for the code change to the meanjs repo so that @ilanbiala can help you merge it.

[2016-05-18 21:04] masterwok opened #1338 "users.profile.server.controller.js security"
I came across this security bug while working on the user details update server-side controller.

When logged in and editing the current user's profile it is possible to submit another user's _id in the form. This causes the current user to be logged in as the other user.

[2016-05-18 21:09] masterwok commented on #1338
Deleting the request body _id property seems to prevent this from occuring.

[code]

[2016-05-18 21:41] lirantal commented on #1338
Thanks @masterwok! I'll review that more completely later on.
Will you submit a PR to fix it?

[2016-05-19 05:56] SrinivasNarayansetty commented on #198
Dear Potstickers ,
 I Have tried same  ode whatever u have mentioned in Karma Configuration file but i am not using any routing in my project .It is Showing an error Like this.Can You Help me in this

![screenshot from 2016-05-19 11-25-51](https://cloud.githubusercontent.com/assets/17430025/15383939/781011de-1db4-11e6-89e7-6a888059dbd4.png)

[2016-05-20 08:10] #1332 closed

[2016-05-21 22:03] #1285 closed

[2016-05-22 00:34] aquadestructor opened #1344 "Socket callback throwing error"
I am trying to pass a callback function as an acknowledgment through socket.emit but on the event trigger it throws me an error (callback is not a function)

`
 Socket.emit('highFive', 'tobi', function(data){
            console.log(data);
        });
`
`
socket.on('highFive', function (name, cb) {

    console.log(name);
    cb('Umair');
  });
`

Error:

Missing error handler on `socket`.
TypeErr

[2016-05-22 14:49] Wuntenn commented on #1277
It looks like @incNick wants to reduce the articles files to
- articles.server.policy.js; (which I assume is his pseudo code above which inlines the routes, controller and policy files into a file called... articles.server.policy.js)**
- articles/server/models/articles.server.model (which I assume remains as is)

@incNick: This might be a refactor that will work for you to create a simple app. You

[2016-05-23 07:12] useralive003 opened #1345 "How to solve MEAN stack User is not logged in error?"
I have installed MEAN.JS and i am using only server side code .i am not using front end angular code .

I am using different servers. for frontend(client side) i am maintaining one serve, for backend(server side) i am using MEAN.JS .

Signup and Signin is working fine but when i create article i am getting error

"User is not logged in" how can i solve this .please some one help me out.

Routes:

[2016-05-23 18:01] prasadh13 opened #1346 "Error while starting up from docker file"
Hello,

I am trying to setup docker and MEANJS. I installed docker and docker-compose and have the latest MEANJS commit.

When I run docer-compose build I get this error -

`npm info lifecycle ms@0.7.1~install: ms@0.7.1
npm info lifecycle debug@2.2.0~install: debug@2.2.0
npm info lifecycle vary@1.1.0~install: vary@1.1.0
npm info lifecycle methods@1.1.1~install: methods@1.1.1
npm info lifecycle mim

[2016-05-24 03:11] OneOfTheWorld opened #1347 "issues about use social account to login"
1. after executing passport.authenticate method,  the program will execute _"function (err, user, redirectURL) {}"_  callback function, I try to use github strategy to login, and found that the **redirectURL**  will become an object when we do not set any value, and it will cause the application redirect to a wrong url such as "/api/auth/github/%5Bobject%20Object%5D".

2. in SocialAccountsControll

[2016-05-24 10:07] yalishizhude opened #1348 "【mabye a bug】master branch create crud-module by yoeman, gulp eslint throws lots of errors."
windows 10

1. `yo meanjs`, I choose the master branch to create project.
2. `yo meanjs:crud-module`, I create a new module.
3. `gulp eslint`. I run the command,errors occurs~
maybe threre is something wrong with **.eslintrc.js**?
![Uploading Unnamed QQ Screenshot20160524180425.png…]()

[2016-05-24 10:34] pasket opened #1349 "MongoDB secure connection with certificates"
We have found some errors with the data types in mongodb connections using certificates. Finally, we have solved:

1. Updating mongoose to:
"mongoose": "^4.4.16",

2. We have configured our secure connection like this:

'use strict';
var fs = require('fs');
...
...
db: {
     uri: process.env.MONGOHQ_URL || process.env.MONGOLAB_URI ||
'mongodb://172.16.1.66/mycollection',
     options: {

[2016-05-25 01:45] Wuntenn commented on #1344
@aquadestructor It looks like you're combining the on() and the emit(). They work as a pair so what you should have is the on() which specifies the event handler in the case of a 'highFive' event:

```Socket.on('highFive', function(data){ console.log(data.name); });```

Above I an saying that I want to take the supplied object* and console log it's name property.

```Socket.emit('highFive, { name:

[2016-05-27 14:07] Wuntenn commented on #1307
If you look in the config directory, you will see that the files are required() using Node.js (CommonJS), however you should be able use what suits you.

You'll probably have to do your own research on which is better than what - it will be different for each dev.

In Meanjs there's already a system in place to require the modules that you want and it works automatically if you follow the folder c

[2016-05-27 19:52] aquadestructor commented on #1344
@Wuntenn Thank you for the reply. I understand what you specified and I understand how emit and on works. However, the example I posted is from the official docs it is to pass a callback to the emit function for simple acknowledgements.

[2016-05-28 02:12] mleanos commented on #1344
@aquadestructor The reason you're seeing this exception is because the client-side Socket service does not provide a parameter for a callback to be passed to the Socket.IO server `emit()` method.

Try adding a callback to [this method](https://github.com/meanjs/mean/blob/master/modules/core/client/services/socket.io.client.service.js#L33) of the client-side Socket service. You should end up with s

[2016-05-28 04:24] zoonoo opened #1350 "mean.js installed using generator. but cannot call sudo npm install"
I was going through the tutorial [here](http://www.bradoncode.com/tutorials/mean-stack-tutorial-part-1-setup/)

Using Mac OS X El Capitan (V 10.11.4)
npm WARN lifecycle v8-profiler@5.2.12~preinstall: cannot run in wd %s %s (wd=%s) v8-profiler@5.2.12   /Users/zoonoo/dramaMean/node_modules/.staging/v8-profiler-10be8171
npm WARN prefer global node-inspector@0.9.2 should be installed with -g

node-pre

[2016-05-28 04:28] zoonoo commented on #1350
![screen shot 2016-05-28 at 1 26 09 pm](https://cloud.githubusercontent.com/assets/5508584/15625186/f17db538-24d7-11e6-8e38-e4d72129f211.png)
![screen shot 2016-05-28 at 1 26 28 pm](https://cloud.githubusercontent.com/assets/5508584/15625187/f25b8192-24d7-11e6-81f5-0132b037ecd6.png)

[2016-05-28 10:57] aquadestructor commented on #1344
@mleanos Ah I see now. It was really simple. Thank you so very much for your response.

@mleanos Are there some good practices when it comes to socket.io? I have read a lot and almost everyone has tried his own implementation. Like for example I am currently using the socket rooms for the implementation in meanjs. Whenever a user signs in he joins a room with his user id and then I use the exact r

[2016-05-28 12:47] fauria commented on #1284
Same problem here:
```/api/auth/twitter/[object%20Object] is not a valid path.```
```/api/auth/facebook/[object%20Object] is not a valid path.```

meanjs-version: 0.5.0-beta

[2016-05-28 15:40] hoangphucvu opened #1351 "Server can't run"
When I type `grunt` everything seem perfect but I had waiting for 30 minute and still not see anything message show that I can access to port 3000.I'm using `MEAN.JS 0.3.3 `

[Here](http://prntscr.com/b9heb3) is what I get

[2016-05-28 21:52] Wuntenn commented on #1344
@mleanos I was wondering why it didn't work. I didn't know about acknowledgements until @aquadestructor said he didn't make a mistake. When I checked the official docs didn't say it was one sided. I didn't even think about the service that we use to wrap the socket.

Shouldn't this change be added to MeanJS? - quite useful

[2016-05-28 23:31] aquadestructor commented on #1344
@Wuntenn Interesting suggestion. Looking forward to what @mleanos says. I agree this change should be added as it is quite useful, at least in my opinion.

[2016-05-29 22:40] mleanos commented on #1344
@Wuntenn I don't see any problem adding the `callback` parameter to our client-side Socket service. It shouldn't affect current implementations, and if someone wants to use this functionality they would just need to modify their server-side Socket configuration. However, I am still wondering if it would be better to `emit` an event from the Socket configuration to the client, and have a listener a

[2016-05-30 07:05] avatarr opened #1352 "[test] Can't get connection with socket"
When I use "grunt test" I got this message "ChatController when user logged in should make sure socket is connected FAILED"

Any suggestion ??

[2016-05-30 10:24] Ripley511 commented on #1350
I ran in a similar problem, with node v4.4.5
Switched to node v0.12@latest, now it's working (using nvm).

I gathered on other threads that some dependencies were not updated to use node > 0.12, probably node-gyp and node-pre-gyp are part of these dependencies.

[2016-05-30 11:55] fauria commented on #1284
From ```passport.authenticate()``` doc: [*"An optional info argument will be passed, containing additional details provided by the strategy's verify callback."*](http://passportjs.org/docs).

This corresponds to the argument ```redirectURL``` in ```passport.authenticate()``` callback, file  ```users.authentication.server.controller.js``` function ```oauthCallback```.

An empty object is a truthy v

[2016-06-02 08:57] amanmavai opened #1354 "Typo in menu.client.service.js"
path is: mean/modules/core/client/services/menu.client.service.js
Line 183 : validateMenuExistance (spelling of Existance is incorrect)
it should be validateMenuExistence.

[2016-06-04 16:37] lirantal commented on #1354
@amanmavai would you like to submit a PR?

[2016-06-04 17:28] amanmavai commented on #1354
Yes I will submit the PR.

[2016-06-06 03:20] amyloula opened #1356 "grunt build not generating dist folder for production"
Hey guys, first of all thank you for the great scaffolding tool. I am trying to deploy a production version of the app I threw together onto an aws ec2 instance. The grunt build task was only generating an application.js and application.css file for me, so I followed the tutorial here: https://blog.dylants.com/2014/11/19/bundling-production-assets-for-mean-js/ to generate templates.js, vendor.js a

[2016-06-06 12:29] #1354 closed

[2016-06-07 19:01] Shailarun commented on #1268
did you get the answer to the above problem. If yes then please do share.

[2016-06-08 03:29] leafdropco commented on #389
I think it would be extremely useful to integrate mobile features. Maybe create a separate build specifically for mobile? I'm new to the mean stack and have been building my first big application. After reading the thread, I'm a little bummed that MEAN.js isn't as mobile friendly as I anticipated.

[2016-06-08 06:08] amanmavai opened #1357 "redirectURL not getting populated correctly in oauthCallback function"
I tried to run google authentication using meanjs but it's giving error.

On analysis found:(oauthCallback functin in the file "users.authentication.server.controller.js")
in this line
passport.authenticate(strategy, function (err, user, redirectURL) {

seems like redirectURL is not getting populated with any path but it has some object.
It seems there should be **info** in place of **redirectURL*

[2016-06-08 09:02] NavneetKaur9 opened #1358 "Making Topbar into sidebar"
How can i remove topbar and instead add the same menus into sidebar.
Also, if i want to introduce my own css style where should it be added?

[2016-06-08 14:56] denzelwamburu commented on #389
Can you elaborate more on mobile features?

On Wed, Jun 8, 2016, 06:30 Michael Graham <notifications@github.com> wrote:

[2016-06-08 19:06] leafdropco commented on #389
I was referring to some of the previous suggestions like JWT.
Maybe even adding Material Design instead of bootstrap, I think that would entice people to use meanjs over ionic or mean.io. Especially if you could integrate cordova.

[2016-06-09 00:57] javo01 commented on #1358
Hi, the css should go in the respective folder "/module/module_name/css"  and it will be automatically added.

and for the sidebar just change the html structure of the navbar for the one that you need to use for sidebar but keep the angular parts.

[2016-06-09 08:00] NavneetKaur9 commented on #1358
thanks Javo01

[2016-06-09 08:02] NavneetKaur9 commented on #1358
When i inspect Elements in the browser i cant see the html,how am i gonna do that?

[2016-06-09 09:38] xiandalisay commented on #1274
I'm also experiencing this issue. I deal with images associated with the article

[2016-06-09 10:20] fauria opened #1359 "Many eslint errors when using Yeoman generator"
Steps to reproduce:

1. Run ```yo meanjs:crud-module foo```
2. Run ```grunt``` or ```gulp```.
3. Outputs:
[code]

[2016-06-09 15:30] javo01 commented on #1358
what elements are you looking for?

the elements for the topbar are in the file --> "/modules/core/client/views/header.client.view.html"

[2016-06-09 16:01] vko-online commented on #389
So, for now, we don't have TokenAuth, ES2015, MaterialDesign, Swagger

Also would be nice to have promise based Mongoose api in generator

[code]
looks much nicer than
[code]

[2016-06-09 18:15] genru commented on #1330
same problem. I use Mac with Xcode7.3.1, python 2.7.10

node-pre-gyp ERR! node-pre-gyp -v v0.6.27
node-pre-gyp ERR! not ok

is my node version is incompatible?

[2016-06-10 08:34] OneOfTheWorld commented on #1348
yo meanjs still use the previous stable version to generate the template, but for this latest version something changed, such as "Menus" service changed to "menuService", you may be need to noticed that.

[2016-06-10 11:29] fauria opened #1360 "Lint error when building assets"
When running ```gulp build``` or ```grunt build```, trailing commas are added to ```config/assets/production.js``` resulting in:

[code]

Edit: Only ```gulp build``` adds those commas, ```grunt build```works fine.

[2016-06-10 17:33] lirantal commented on #1348
cc @codydaig

[2016-06-10 17:45] lirantal commented on #1274
@xiandalisay , @marianoqueirel will you open a PR please to fix this?

[2016-06-12 07:41] rohitkumarvinay opened #1361 "MEAN.JS socket integration for articles"
looking for any examples for integrating Socket-IO for articles module. thank you

[2016-06-15 16:37] lirantal commented on #1349
Hi @pasket,

Would you like to submit a PR for this enhancement?

[2016-06-16 07:27] lirantal commented on #1361
There is a socketio example in the Chat example. What else do you need?

[2016-06-16 07:27] #1361 closed

[2016-06-16 12:51] shanavas786 commented on #1360
Its because grunt build just use the default assets configurations and doesn't create one based on `bower.json` (No `wiredep` task. Porbably a bug :) ).

I have worked on removing trailing comma using [gulp-trailing-comma](https://github.com/friskfly/gulp-trailing-comma/). But the npm package is not up-to-date friskfly/gulp-trailing-comma#2. I will create a PR once it is updated.

[2016-06-16 21:14] bencmbrook opened #1364 "Documentation for Pivotal Web Services"
When deploying to Cloud Foundry, in the step for creating the Mongo service
`$ cf create-service mongolab sandbox mean-mongo`
should be
`*$ cf create-service mlab sandbox mean-mongo`

[2016-06-17 15:08] #1237 closed

[2016-06-18 15:12] #1338 closed

[2016-06-19 03:37] itelo opened #1365 "what about use redis with mongo?"

[2016-06-19 05:44] lirantal commented on #1365
What about it?
On Jun 19, 2016 06:37, "itelo" <notifications@github.com> wrote:

[2016-06-19 06:20] itelo commented on #1365
redis works better than mongo for frequently requests, so what about use redis to articles?

And acoording with this [article](https://www.sitepoint.com/caching-a-mongodb-database-with-redis/), we could put the cache with redis too.

[2016-06-19 18:24] batosai85 opened #1367 "CRUD"
Hey guys,
im having some major issue with updating data. Can create, display data, delete , but when im using update   only first property of any document is updated.

any suggestion?

tnx

[2016-06-20 03:20] avatarr opened #1369 "How to set default data before e2e tesing"
Hi, I am encounter with e2e test fail because no data contain in database after server test done. So how to mock-up data into database before e2e start

Thank in advance

[2016-06-20 18:27] water42 opened #1370 "Typo in PULL_REQUEST_TEMPLATE.md"
Line 38, reference is mispelled

[2016-06-21 00:51] whitef0x0 opened #1371 "Use node-email-verification for users"
I am the current maintainer of [node-email-verification](https://github.com/whitef0x0/node-email-verification) and would love to see it put to use in the meanjs library. Would the maintainers be open to using this library?

[2016-06-21 00:51] whitef0x0 commented on #1371
@uwolfer

[2016-06-21 06:02] pasket commented on #1349
Yes. Thank you.

[2016-06-21 08:35] #1370 closed

[2016-06-21 13:20] dylike opened #1373 "Mocha exploded! Error: Unsupported Node version: 6.2.0"
I'm using win10 to build my meanjs app, everything goes to be okay, and when i type `grunt`, i do see everything okay at `localhost:3000`, but when i run `grunt test`, there is somthing wrong.

`Running "mochaTest:src" (mochaTest) task`
`>> Mocha exploded!`
`>> Error: Unsupported Node version: 6.2.0`

so, is anybody see the same error, and appreciate a lot to help me fix it?

[2016-06-21 13:30] simison commented on #1373
It's not exactly supported yet: https://github.com/meanjs/mean/blob/master/.travis.yml#L15-L17

...but if you figure out how to fix that, pull requests are welcome. ;-)

[2016-06-21 13:34] water42 opened #1374 "IIFE (Immediately Invoked Function Expressions) bug"
https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#iife

The current way they are all done is:

[code]

But it should be:

[code]

[2016-06-21 14:08] water42 commented on #1374
Didn't know about the outside default option :)

[2016-06-21 14:08] #1374 closed

[2016-06-21 14:41] water42 commented on #1374
Side note, this bug was caused since the mean generator uses the inside format. This is fixed by PR https://github.com/meanjs/generator-meanjs/pull/219

[2016-06-21 20:04] #1373 closed

[2016-06-21 23:56] socialatm commented on #1346
Looks like a compiler error. Are you on Windows?

[2016-06-22 00:04] codydaig commented on #1346
@prasadh13 Can you provide more information about your dev environment?

[2016-06-22 00:07] socialatm commented on #1330
:( Windows just isn't worth the bother. Even with virtualbox it's a pain. I'm setting up a Ubuntu box now.

[2016-06-22 08:28] avatarr opened #1375 "e2e testing with protractor not waiting authentication finish"
I have modified authentication controller and client a bit, Then my code e2e2 test at below
`    it('Should report valid username and password', function() {
      browser.get('http://localhost:3001/authentication/signin');
      element(by.model('vm.credentials.username')).sendKeys(user2.username);
      element(by.model('vm.credentials.password')).sendKeys(user2.password);
      element(by.css('

[2016-06-22 16:31] bencmbrook commented on #1364
Also the production env file

[2016-06-22 22:19] lirantal commented on #1364
@bencmbrook would you like to open a PR for this?

[2016-06-22 22:35] #1364 closed

[2016-06-22 22:47] lirantal commented on #1364
FYI @bencmbrook  You don't need to close it manually, the PR will close it when it gets merged.

[2016-06-22 22:49] bencmbrook commented on #1364
@lirantal oh cool, didn't know that

[2016-06-23 20:13] water42 opened #1377 "Using "Format Code" in Visual Studio Code bug in IIFEs"
When I use this option, it adds a space in `}());` such that it becomes `} ());` which throws an ESLint error. Is this a VSCode quirk or something to do with the editor config?

Changing .editorconfig does change the "Format Code" (Alt shift f) results.

[2016-06-24 23:37] itelo commented on #1367
@batosai85 which data?

[2016-06-25 02:15] itelo opened #1378 "what about update all code to es6?"

[2016-06-26 15:17] soupman99 opened #1379 "custom network connection error"
I'm running [nginx-proxy](https://github.com/jwilder/nginx-proxy) to automatically config a reverse proxy.

One requirement is defining a network for each service.

[code]

The problem comes when my web container isn't able to connect to my db container.
`Could not connect to MongoDB!`
 What am I missing?

[2016-06-27 07:22] kevinbluer commented on #1359
Did you have resolve this one @fauria?

[2016-06-27 17:29] marianoqueirel opened #1380 "Stable Versión"
Hello Everybody,

First of all Thanks to everybody who made this great work. I'm from Argentina, sory for my poor english.

For me it is very useful, And I would ask:

1) Would You have idea when the stable version will be?
2? You Advise me start a new project with this version?
3? I need to start inmediately one project, what do you recommend? Angular Full Stack generator?

Many Thanks! ! !

[2016-06-28 05:28] lirantal commented on #1380
HI @marianoqueirel,

Thanks for your feedback.

You can definitely go with the current version. We are always improving and enhancing the project so there will always be changes.

[2016-06-28 05:33] lirantal commented on #1378
Hey @itelo

It's unlikely that we will get to that anytime soon, although if you were hoping to actually contribute to that effort then by all means this is welcome.

[2016-06-28 05:37] lirantal commented on #1371
Hey @whitef0x0,

Thanks for the ping.

Could you share more background on your package and what are the benefits in using that over the existing implementation we have? did you go through what we have today in the project?

[2016-06-28 07:05] whitef0x0 commented on #1371
@lirantal it makes it easier and a lot more modular. I'm already using in in my meanjs project.

In your current project you don't seem to have email verification (or double-opt-in as it is usually called). It would make it a lot easier as most modern apps nowadays use something similar to this.

[2016-06-28 08:24] fauria commented on #1359
No, not yet. I guess it should be PR to meanjs/generator-meanjs right?

[2016-06-28 08:27] lirantal commented on #1371
Sounds ok.
Would you be interested in working on a PR for this and write some tests to back it up?

[2016-06-28 20:51] whitef0x0 commented on #1371
@lirantal yep I'd be interested.

[2016-06-29 00:48] eliavmaman commented on #1345
Can u please post the code in layout.server.html the user binding part?

[2016-06-29 05:29] useralive003 commented on #1345
signuphtml

[2016-06-29 05:34] useralive003 commented on #1345
myApp.controller('ArticleCtrl', function ($scope,$http) {
$scope.create = function()
{
var credentials = {};
                    credentials = {
                        "title": $scope.title,
                       "content": $scope.content,
                    }
					console.log(credentials);
					$http.post('http://192.168.1.4:3000/articles', credentials).success(function(data, status, headers,

[2016-06-29 16:36] ntlzz93 opened #1381 "Can't run application with grunt after generating application from yo"
I installed global nodejs, npm , mongodb ,bower , grunt. I create an application from yo but I can't run application with grunt. I followed these step from offical meanjs website :

[code]

[2016-06-29 16:45] ntlzz93 commented on #1381
grunt --force can work !! but how to fix warning?

[2016-06-29 17:05] codydaig commented on #1381
@ntlzz93 Looks like you need Ruby installed!

[2016-06-29 17:06] codydaig commented on #1379
I'm assuming your referring to Docker containers?

[2016-06-29 17:08] codydaig commented on #1377
I'm not sure if there is an editorconfig setting to configure that, but I would say that is a Visual Studio quirk.

[2016-06-29 18:20] soupman99 commented on #1379
Yes

[2016-06-29 18:41] lirantal commented on #1371
@whitef0x0 then what stops you? :)

[2016-06-29 18:45] whitef0x0 commented on #1371
@lirantal I'm starting on it today

[2016-06-29 19:05] lirantal commented on #1371
Great. A few tips:
1. Once you're at it - please include tests so we know that things work as expected and don't need to suffer through manual flows.
2. I encourage you to create a branch and very quickly submit a PR that you will continue pushing commits to as you go along - it will be easier for us to spot any major changes that you might do along the way, instead of seeing it only when you're d

[2016-06-29 19:53] whitef0x0 commented on #1371
@lirantal I've started work here https://github.com/meanjs/mean/pull/1382

[2016-06-29 20:00] lirantal commented on #1371
Great, we'll follow up there.

[2016-06-30 04:18] kevinbluer commented on #1359
@fauria Yes I believe so 😄

[2016-06-30 17:08] water42 commented on #1378
@lirantal how you recommend going about this in terms of submitting pull requests, etc? personally I think meanjs would be an amazing resource if it had branches maintained using the current Angular 1 style, Angular 1 ES6 style, and Angular 2 style.

[2016-06-30 17:26] Wuntenn commented on #1258
I've heard good things about this approach.

https://medium.freecodecamp.com/why-i-left-gulp-and-grunt-for-npm-scripts-3d6853dd22b8#.vzzmwa9n4

I like having the mixed bag myself. Gives more options. Like grunt allows the `--force` to make sure that warnings don't stop the compile/build - This is good for when I don't want to spend time picking away at tabbing etc. I've not found a way to bypass w

[2016-06-30 17:39] codydaig commented on #1378
@water42 We don't have the development power to maintain that many branches. If this is soemthing that people want, I would recommend an initial PR that runs babel from a src folder into a build folder. Then submit PRs refactoring bits of code vs the entire project.

[2016-06-30 17:46] Wuntenn commented on #1351
Hi @hoangphucvu, I just looked at you linked image. It looks like you're not using MeanJS at all. You're probably best of re-tracing the book or looking at the book publishers site for published errata or forums.

[2016-06-30 18:11] codydaig commented on #1359
Yes. This should be handled over in the generator-meanjs repo. and PRs are very welcomes!!

[2016-06-30 18:21] lirantal commented on #1351
@Wuntenn how can you tell if he is using MEAN.JS or not?

Anyway, @hoangphucvu version 0.3.3 is quite old, you should really get up to date with the latest version in `master` branch, being a beta 0.5 version

[2016-06-30 18:21] #1351 closed

[2016-06-30 18:26] lirantal commented on #1378
As @codydaig said - we simply don't have the resources as maintainers to review everything and the PR queue is already quite full.

@water42 I definitely join you in your observation of going Angular2 + ES6 in MEAN.JS will be an amazing shift and a fun journey but we can't really distribute too much resource there. We can take it PR at a time, starting possibly with the Angular side maybe.

[2016-06-30 18:58] Wuntenn commented on #1351
On the screenshot If you look at the directory he's operating out of "AngularJS/Chap5". Looks like a tutorial or a book. I doubt that someone includes the whole meanjs project in their angular folder.

Also this project has usually reports 111-113-files lint free and his reported around 50.

[2016-06-30 19:51] lirantal commented on #1351
It could be snippets of code examples from @amoshaviv's MEAN Web Development book: https://www.packtpub.com/web-development/mean-web-development

[2016-06-30 21:36] Wuntenn commented on #1351
True - I'm not sure if Amos still supports the repo: https://github.com/amoshaviv/mean-web-development/tree/09e066bc63c50f136320707d1901558b9ab2c33d

[2016-06-30 23:22] Wuntenn commented on #1333
Why did you close this? (Maybe it's something we need to fix or warn against)

[2016-07-01 06:24] ankkuboss opened #1384 "flowplayer in undefined in angulare js directive"
am using meanjs to create audio streaming website.for this i want to use angular js flowplayer directive

view links for directives
http://www.chaosm.net/blog/2014/05/20/angularjs-directive-html5-video-with-flash-fallback/

https://github.com/firecentaur/ngFlowPlayer

but gettting the error

        modules/fronts/client/directives/ngFlowPlayerDirective.js
         23 |                flowplayer("

[2016-07-01 15:16] #1377 closed

[2016-07-03 11:22] Wuntenn opened #1385 "Is the ACL working correctly?"
https://github.com/meanjs/mean/blob/master/modules/articles/server/policies/articles.server.policy.js#L28
The ACL for articles creates a whitelist for `users` methods `GET` and `POST` on the route: `'/api/articles'` and a `GET` only on `'/api/articles/:articleId'`

https://github.com/meanjs/mean/blob/master/modules/articles/client/services/articles.client.service.js
The angular client-side service

[2016-07-03 11:57] Wuntenn commented on #1385
Just remembered - lower down in the policy is the line were we bypass all acl checks as long as the user is the same person that created of the article.

[2016-07-03 14:56] TAMMENY opened #1386 "jshint failed when move project to another folder"
system: Ubuntu 14.04 LTS
npm: v3.9.6
nodejs: v4.4.5
meanjs: v0.4.2
When move the project to another folder and run grunt the following errors were encountered:
`modules/users/tests/client/authentication.client.controller.tests.js
      1 |'use strict';
         ^ Use the function form of "use strict".
      5 |  describe('AuthenticationController', function () {
           ^ 'describe' is not defi

[2016-07-04 13:40] #1386 closed

[2016-07-04 13:42] TAMMENY commented on #1386
I'm sorry I missed the hidden files.

[2016-07-04 16:00] codydaig commented on #1386
No worries! Thanks for reporting back!! :-D

[2016-07-04 17:16] codydaig commented on #1384
The ngFlowPlayer repo that you linked to hasn't been updated in over 2 years and was a work in progress at the time. So it's probably something to do with that.

[2016-07-05 23:25] Wuntenn commented on #1288
sounds like mean.io

[2016-07-06 01:11] #1347 closed

[2016-07-06 02:47] mleanos commented on #1385
@Wuntenn Can you describe the steps to reproduce this issue?

[2016-07-06 07:50] aikorei opened #1387 "Google Analytics"
Hi. Hobby developer and first time poster here. I'm struggling to get Google Analytics to work on my recently deployed site (I got it working on an older deployment of MEANJS, but through custom implementation). I see, however, that we have the beginnings of getting this working:

**/config/env/default.js**
[code]

**/config/lib/express.js**
[code]

However, this app.local variable doesn't appear

[2016-07-06 22:24] #1284 closed

[2016-07-06 22:24] #1336 closed

[2016-07-07 16:11] aikorei commented on #1387
Well, apparently 2 days wasn't long enough. In the third day, data finally started showing up in my Google Analytics account from adding the GA script to the `layout.server.view.html` file as noted above.

[2016-07-07 16:20] lirantal commented on #1387
Great, thanks for updating @aikorei

[2016-07-07 16:29] lirantal commented on #1333
I don't have a Mac so I can't test this.
@Wuntenn can you test and follow up on this?

[2016-07-07 16:33] lirantal commented on #1349
@pasket we can't wait... :)
are you on it or do you need some help?

[2016-07-07 16:35] lirantal commented on #1346
@prasadh13 looks indeed like a generic issue when trying to install npm packages. Could be so many reasons: package not found, compiling issues (i.e related to node-gyp on windows), proxy/networking problem, and so on.

If you still have this problem please try to provide a more detailed problem description (such as running `npm install -d` when building the container)

[2016-07-07 16:35] #1346 closed

[2016-07-07 16:37] lirantal commented on #1330
@coolshul , @socialatm hopes this goes well on Ubuntu :)

[2016-07-07 16:37] #1330 closed

[2016-07-07 18:44] lirantal commented on #1379
@soupman99 I haven't tested the docker-compose file with a pre-configured network setup so I don't know how it affects the containers but you should check a few things to see where the problem is: In the meanjs web container - what environment variables do you have? you should have something like `DB_1_PORT_27017_TCP_ADDR1`  which will map to the network IP address of the db container

[2016-07-07 18:53] lirantal commented on #1381
Hi @ntlzz93 , as @codydaig pointed out you simply needed a few tools on your system as requirement to use mean.js.

We've actually removed this dependency just recently so you might not need this anymore if you will be using the latest `master` branch version of MEAN.JS. Otherwise, you can still use the 0.4.2 version with the generator but remember to install ruby and the required gem as follows:

[2016-07-07 18:53] #1381 closed

[2016-07-07 18:58] lirantal commented on #1345
@useralive003 StackOverflow is probably a better place for these questions so I'm closing this issue, but anyone who may have the answer is welcome to reply back on this thread regardless.

[2016-07-07 18:58] #1345 closed

[2016-07-07 20:00] lirantal commented on #1385
@Wuntenn that part of the code doesn't show any key caching.. can you be more descriptive where do you think the problem is?

[2016-07-08 11:23] aikorei commented on #1387
@lirantal I just realized - if I'm only loading the GA script on `layout.server.view.html`, it seems it's only going to capture the initial page loaded, but I'm guessing the GA script won't get trigger with Angular state changes. Is that assumption correct? If so, it seems we're going to need to integrate GA more deeply into the Angular files, right?

[2016-07-08 18:37] IdanCo commented on #1387
@aikorei you're right, loading the GA script in your index file will only trigger a single page view, and ignore all internal routing.

To solve this issue you can do one of two things -
1. Trigger a page view manually each time a successful routing occures.
2. Alternatively, and much easier, you can add the aglulartics module to your project and enjoy many other benefits it offers. You can get it

[2016-07-08 19:44] lirantal commented on #1387
Thanks @IdanCo.
@aikorei we're good?

[2016-07-08 21:08] aikorei commented on #1387
Thanks for the suggestion, @IdanCo. I just implemented angulartics. Will give it a few days to see if it works as expected. For now, though, I'll close the issue so no one loses any sleep over it. ;)

[2016-07-08 21:08] #1387 closed

[2016-07-09 06:24] patouche7519 commented on #1333
Hi
Understand, I reopen it. I resolved by downgrade my angularjs version in the npm file.
And I know magic doesn't exist but after a few days and works on my website, I modified the npm file to the angularJS 1.5.5 and did a npm update and It works. I have no idea why.

I'm actually in vacation but if you need more informations, ping me, I'll do my best to reply.

[2016-07-09 19:19] codydaig commented on #1258
@lirantal I merged the PR. Do you want this open as a reference still, or shall we close?

[2016-07-09 20:29] codydaig commented on #1333
I cloned the repo down, ran npm install, and went to the page in Safari and no issues. I am using node v5. However, your right in that it might be a bug with angular 1.5.5 because I'm pretty sure it installed 1.5.7 for me.

[2016-07-09 21:13] Wuntenn commented on #1333
Sorry guys, I've been a bit fried over the past few days. Not sure why I didn't just test it when I left the comment.

I just did the steps above and it ran first time for me

[2016-07-10 12:10] lirantal commented on #1333
Great thanks @codydaig and @Wuntenn

[2016-07-10 12:10] #1333 closed

[2016-07-10 12:38] lirantal commented on #1258
We can close it, I'll open another one to handle the remaining parts.
Thanks @codydaig !

[2016-07-10 12:38] #1258 closed

[2016-07-11 01:23] codydaig commented on #1333
@Wuntenn No worries!

[2016-07-11 01:44] codydaig commented on #1380
@marianoqueirel Did that help? If so, can we close this issue?

[2016-07-11 01:46] codydaig commented on #1348
@yalishizhude Sorry for the delay. This bug should be resolved here: https://github.com/meanjs/generator-meanjs/pull/219.

This PR is open to bump and release the next version, however, we're hitting a snag with the build system. Once I get travis working again, it will be released to npm. https://github.com/meanjs/generator-meanjs/pull/237

[2016-07-11 01:46] #1348 closed

[2016-07-11 01:47] codydaig commented on #1367
@batosai85 Any update here?

[2016-07-11 07:37] vko-online commented on #1017
This is not totally true, project needs gulpfile/gruntfile adjustments

[2016-07-11 09:07] costasT opened #1391 "Virtual Hosts"
I am trying to setup vhosts using express-vhost. However, there is a problem with the paths. This is mainly because paths are currently relative to the node app - when vhost is used there is a single 'parent' app which becomes the root directory of the app. One possible solution to this is to use __dirname instead of process.cwd() and use it throughout the config directory.

[2016-07-11 12:40] batosai85 commented on #1367
Not so far, same problem , can't update any data

[2016-07-11 15:17] codydaig commented on #1367
Can you elaborate on what you mean by can't update any data? Are you getting any error messages? What code are you using to try to update data? What version of meanjs are you running? Any steps you can give us to reproduce the issue?

[2016-07-11 19:41] batosai85 commented on #1367
It is latest version of MEAN. It is code similiar like one  in articles folder, with some more form fields. Everything is  working except that  i  can't update data via put verb(can create, delete, read). No error in console so far.  I will try to do it from scratch again , and will let you know what happend.

[2016-07-11 23:43] rohitkumarvinay opened #1393 "Socket Integration for articles"
I am looking for examples to  integrate socket for articles.

i tried a method, could not get complete solution. had an issue which i have posted on [stackoverflow](http://stackoverflow.com/questions/38217031/angularjs-meanjs-articles-update-blink-and-reloads-on-socket-emit). please follow that stack link for details.

[2016-07-11 23:54] codydaig commented on #1393
@rohitkumarvinay What do you want to use sockets for with articles?

[2016-07-12 00:03] rohitkumarvinay commented on #1393
@codydaig i want to update and create articles in realtime. i am able to create them seamlessly, but while updating, the data blinks, refreshes and the updated comes again, when the traffic is high, the entire data set keeps on blinking. i am using the repo by @mleanos. this is the [link to repo](https://github.com/mleanos/mean/tree/SocketIO-Config-CRUD)

[2016-07-12 00:10] codydaig commented on #1393
@mleanos Can you speak more to your specific implementation?

[2016-07-12 00:18] rohitkumarvinay commented on #1393
it is a food ordering solution which i am working on, everytime an order(from 'orders' module) has been created from any second computer, the new order created should be pushed to the first computer, which works fine now, but if i update the the same order, the data blinks and comes back up with the updated data on the first computer, when the traffic is high, i.e when the orders are being placed

[2016-07-12 00:27] codydaig commented on #1393
@rohitkumarvinay That makes sense. I was asking for @mleanos's input on how he did that implementation in the branch you referenced but your explanation also helps shed more light.

From the sounds of it though, it seems like the page is updating too frequently. So, I would pout checks in and only update the data on the page that needs updating versus updating all the data.

[2016-07-12 00:30] rohitkumarvinay commented on #1393
Thanks @codydaig, i am also trying on the same, still am unsuccessful.

[2016-07-12 14:12] lirantal opened #1394 "Bug: node-inspector does not start on `gulp debug`"
When running `gulp debug` the node-inspector tool is supposed to launch in the background in order to spawn a web service that the user can connect to for debugging the nodejs server.

The node-inspector doesn't start (on a Windows environment).

[2016-07-12 19:00] freemind- opened #1396 "Server logs/logger"
Hi guys,

Whats the recommended way to log errors in the backend? I'm using the 0.4.2 tag and I dont see any built-in mechanism to log such information. Thanks for your help!
Mathieu

[2016-07-12 21:15] codydaig commented on #1396
@freemind- The framework uses morgan, and morgan can be defined to log to a file. https://github.com/expressjs/morgan#write-logs-to-a-file

[2016-07-12 21:21] freemind- commented on #1396
Well I will cherry pick this commit,

feat(logs): replacing unmaintained and vulnerable file-stream-rotator package with winston log facility (#1334)

it will allow me to use logger with defined level in the same file :+1:

[2016-07-12 22:20] codydaig commented on #1396
There ya go!

[2016-07-12 22:20] #1396 closed

[2016-07-13 16:30] a-lucas commented on #283
Still got the same issue on linux

[2016-07-13 17:17] codydaig commented on #283
@a-lucas This ticket is VERY old. Please open a new issue and describe in detail with error messages what is going on and how we can replicate it.

[2016-07-13 20:54] lirantal commented on #1396
@freemind- very cool, glad to see you adopting it! :)

[2016-07-14 03:35] freemind- commented on #1396
@lirantal I embrace it! Thank you so much guys!!

[2016-07-14 12:16] WanderZ opened #1397 "noscript support"
I would like to clarify where would should the `<noscript>` tag/text/content be at?

e.g. `<noscript>Please enable javascript to use this application</noscript>`

Problem is that the entire body is of class `ng-cloak` and I didn't want users to be looking at a completely blank screen.

Sorry if this question is unrelated or irrelevant to the development

[2016-07-14 19:58] lirantal opened #1398 "Bug: Remove gulp-wiredep dependency"
`nsp` reports `gulp-wiredep` as problematic due to dependencies which are out of date and are subject to RegEx attacks. That plugin is anyway another `leftpad` so we really need to take it out of our build system in gulp.

![image](https://cloud.githubusercontent.com/assets/316371/16853712/3d764a32-4a16-11e6-8197-3f31aa310b67.png)

[2016-07-14 20:04] lirantal commented on #1398
A couple of suggestions for the upcoming PR:
1. Use the native `wiredep` library that is compatible with gulp's stream system
2. Use `gulp-inject`

[2016-07-14 20:08] lirantal opened #1399 "Bug: Insecure and old dependencies in the project"
`nsp` reports the following issues related to `mocha`, `grunt`, and `grunt-cli`:
![image](https://cloud.githubusercontent.com/assets/316371/16854014/da598854-4a17-11e6-889d-e2f0d50bfdee.png)

![image](https://cloud.githubusercontent.com/assets/316371/16854038/eb477310-4a17-11e6-9278-4890637c0d51.png)

[2016-07-15 08:26] ankkuboss commented on #1384
to solve this I have added below line to .jshingrc file

   "globals": {
"angular": true,
"io": true,
"ApplicationConfiguration": true,
"flowplayer": true,
"$f":true
},

the error in above post have solved but and flowplayer html rendered but getting black screen and mp3 file not played in Meanjs.not getting any error in browser console

[2016-07-15 08:50] lirantal commented on #1397
Just put it before or after the body?

[2016-07-15 16:25] ilanbiala commented on #1391
@costasT can you propose some code that would fix this in a PR?

[2016-07-15 16:26] ilanbiala commented on #1384
@ankkuboss we can't really help with Angular plugins that we aren't using, but check out Stack Overflow.

[2016-07-15 16:26] #1384 closed

[2016-07-15 16:41] ilanbiala commented on #1360
Is there still work that needs to be done here?

[2016-07-15 17:17] hyperreality opened #1401 "Adding an API route 404 error"
I'm trying to create a user profile page and I'm running into a weird problem setting up the API endpoint.

I add the following to /modules/users/server/routes/users.server.routes.js:

[code]

Then I add the middleware that gets user by username to users.authentication.server.controller.js. This appears to be working because when I visit say /api/profile/james I can log james's profile information

[2016-07-15 18:24] ilanbiala commented on #1358
This is more style and less about the framework itself, so I'm going to close this.

[2016-07-15 18:24] #1358 closed

[2016-07-15 18:26] ilanbiala commented on #1379
@soupman99 can this issue be closed?

[2016-07-15 18:26] ilanbiala commented on #1379
@soupman99 can this issue be closed?

[2016-07-15 18:26] #1379 closed

[2016-07-15 18:28] ilanbiala commented on #1365
@itelo redis is in memory, not disk, so if you restart the system and don't handle it properly then you will lose the data. Redis isn't the best solution, it's better for sessions and other caching things than storing important data.

[2016-07-15 18:28] #1365 closed

[2016-07-15 20:12] hyperreality commented on #1401
Doh, I just realized that all API requests go through the authentication middleware by default. I had to add an extra policy to admin.server.policy.js:

[code]
and the following to admin.server.routes.js:
[code]

[2016-07-15 20:12] #1401 closed

[2016-07-16 09:05] #1399 closed

[2016-07-16 13:25] shanavas786 commented on #1360
I have created a pr for it. since there is no update on friskfly/gulp-trailing-comma#2 , i have created a package and plugins for gulp and grunt for removing trailing commas.

[2016-07-16 22:29] ilanbiala commented on #1360
@lirantal can you take a look at the PR?

[2016-07-16 22:33] ilanbiala commented on #1349
@pasket if you open a PR, we'll review it and help tidy up any loose ends. Any work that you have would help us wrap this up.

[2016-07-16 22:34] ilanbiala commented on #1375
@avatarr do you still have this issue?

[2016-07-16 22:34] ilanbiala commented on #1369
@avatarr do you still have this issue? Can you provide more details if so.

[2016-07-16 22:38] ilanbiala commented on #1352
@avatarr did you manage to fix this?

[2016-07-16 22:38] #1357 closed

[2016-07-16 23:09] r-chandra-1 opened #1403 "No ES6 support?"
Fails to run right out of the box. Connect-mongo is a dependency this project has and it uses 'const' and 'let'. The grunt command throws exception. How to fix this issue?

[2016-07-16 23:28] r-chandra-1 commented on #1403
I used the fallback approach of switching to 'connect-mongo/es5'. But would like to know how to run the app with ES6 as well.

[2016-07-17 00:14] codydaig commented on #1403
@r-chandra-1 The mean.js repo does not currently support ES6. There's a lot of groundwork that must be laid for it to work. It's something we have plans for in the future, but not currently a top priority.

[2016-07-18 05:47] shanavas786 commented on #1398
`nsp` reports lot more.

            | Regular Expression Denial of Service
------------|-------------------------------------------------------
 Name       | minimatch
 Installed  | 2.0.10
 Vulnerable | <=3.0.1
 Patched    | >=3.0.2
 Path       | meanjs@0.5.0-beta > forever@0.15.2 > forever-monitor…
 More Info  | https://nodesecurity.io/advisories/118
            |

            | Regular Expressi

[2016-07-18 06:15] WanderZ commented on #1397
Sorry, neither worked.

i tried both
```<noscript>Message here</noscript>```

and

```<div id="noscript">Message here</div>```

[2016-07-18 10:02] #1403 closed

[2016-07-18 10:03] lirantal commented on #1403
@r-chandra-1 I'm closing this issue but if you'd like to offer help with adding some ES6 support do let us know and let's review together what it requires and how to approach it.

[2016-07-18 10:12] lirantal commented on #1398
Indeed. There are some issues I already opened in the past regarding `swig`, and `file-stream-rotator`.  Let's focus on the wiredep dependency in this PR.

[2016-07-19 07:58] shanavas786 commented on #1397
`ng-cloak` uses css property `display` to hide elements. https://github.com/angular/angular.js/blob/master/css/angular.css#L3-L7
Can't you override `display` property for id `noscript` with some thing like this ?
[code]

[2016-07-21 01:38] TylerL-uxai opened #1406 "I'm having trouble with authorization"
I've got ACL working but I can't seem to retrieve req.user. There's no user data in the request. How do I fix it?

[2016-07-21 13:42] WanderZ commented on #1397
Pardon for the delay, the CSS property did not help when JavaScript is disabled.

It will, however, create a flicker when JavaScript is not disabled. (on first page load)

[2016-07-22 01:29] hyperreality commented on #1406
Can you show the output of /api/users and /api/users/me when you are logged in?

[2016-07-22 01:43] hyperreality commented on #1397
Perhaps what is happening is that the text is appearing behind the blank navbar.

If I put the following at the end of layout.server.view.html, after the final </html> tag, I can see it just below the navbar:
   <noscript style="display: block !important;">Message here</noscript>

[2016-07-22 02:56] hyperreality commented on #1385
If @Wunteen means that it is possible to modify the window user object and use this to bypass the server authentication, I briefly tried this and of course it did not work.

[2016-07-22 04:59] mleanos commented on #1406
@TylerL-uxai Where are you trying to retrieve `req.user` from? The server policy script?

Can you verify that the findUserByID method is getting called?

[2016-07-22 08:22] TylerL-uxai commented on #1406
I'll show you my project, since you probably think it's cool to see what
people are making with your work!
https://blooming-plateau-98618.herokuapp.com/

 And yes, I created the policy script in the management module. I don't
understand how to add userId/articleId to it. Do I just add the app param
to my route and the middleware to the server controller? I feel like there
needs to be something to

[2016-07-22 10:53] Wuntenn commented on #1385
Sorry I didn't explain the steps well. In your Facebook Dev Account set up a test app and add details for OAuth to your app. Whilst in FB select the app you created, add a test user. Then follow these steps:

1 - Log into the app as your normal user with OAuth (from the above app) and create some articles.
2 - Don't log out.
3 - Goto Facebook switch to the test user
      (Click your app > Roles i

[2016-07-22 12:52] Sieryuu opened #1407 "How to debug backend code?"
I am using gulp to run the project, how can I debug the backend code?

[2016-07-22 14:04] hyperreality commented on #1406
Are you trying to get user data about the currently logged-in user, or about any given user by their ID?

In users.server.routes.js note the line
  `app.param('userId', users.userByID);`
which calls the userById function in admin.server.controller.js using the provided Id.

In admin.server.routes.js the following line gets users by their Id:
`  app.route('/api/profile/:userId')`

admin.server.poli

[2016-07-22 17:05] TylerL-uxai commented on #1406
Thank you! I'm trying to just restrict access to the logged in user. I
might need to use the userid param , but I can probably do that with
req.body using angular's rootscope.user or whatever mean.js has. What I
need is the logged in user's id. Just like people can't see "create
article" until they log on.

I'm still getting used to your framework but I love it!

On Fri, Jul 22, 2016 at 9:04 AM, h

[2016-07-23 15:14] lirantal commented on #1407
You can run the server in debug mode with `gulp debug`, there should be more information about it in our README.

[2016-07-23 15:25] #1398 closed

[2016-07-23 15:26] lirantal commented on #1360
Re-opening this issue as it is still relevant, waiting for @shanavas786 PR.

[2016-07-23 15:39] lirantal commented on #1224
@Wuntenn would you like to complete the work in this issue and relevant PR that is open (some tests fail there)?

[2016-07-23 18:27] #1394 closed

[2016-07-23 19:40] lirantal commented on #1021
Closing this one as I don't think we really need to do anything else here.
PM2 documentation just as anything else is beyond the scope of the project IMO.

[2016-07-23 19:40] #1021 closed

[2016-07-24 11:58] Wuntenn commented on #1224
Sure. Gimmie a sec - it's should be a one liner!

[2016-07-25 20:44] mleanos commented on #1385
@Wuntenn This seems like a very complex edge case. In most cases, when testing an app, the dev would just use their own FB account for testing. As you mentioned this is definitely behaving as designed.

IMO, we can't expect to know exactly how a user would want the MEAN application to behave. If the user doesn't explicitly take action, then how do we know that the user doesn't want to remain logge

[2016-07-25 20:59] mleanos commented on #1352
I just ran `grunt test` on the latest *master* branch and didn't encounter any issues. This could have been a bug/issue that has been fixed.

[2016-07-25 21:05] mleanos commented on #1369
I didn't encounter any issues with the E2E tests with the latest *master* branch version. Also, before the E2E tests are ran (using Gulp) the test database is dropped. So there should never be any data in the database when the E2E tests start.

Furthermore, E2E testing doesn't rely on the server-side functionality; the API requests/responses are mocked. Thus, no data is ever added when these test

[2016-07-25 21:05] #1369 closed

[2016-07-25 21:14] #1304 closed

[2016-07-25 21:16] ilanbiala commented on #1352
@mleanos can this be closed?

[2016-07-25 21:30] steventj commented on #515
@marianoqueirel
By commenting this line really help me sign up a user with some roles.
//delete req.body.roles;

[2016-07-26 01:14] rohitkumarvinay opened #1411 "Unable to deploy in Heroku"
I am trying to deploy my application in Heroku, but when i open the link it say application error.

Steps Followed
[code]

[2016-07-26 02:42] avatarr commented on #1352
So sorry for late reply I fixed

[2016-07-26 03:43] #1352 closed

[2016-07-26 03:43] ilanbiala commented on #1411
What does the heroku log file say?

[2016-07-26 04:54] rohitkumarvinay commented on #1411
it says could not connect to mongodb, i have created the said addon
[code]

[2016-07-26 06:06] shanavas786 commented on #1360
I have started #1412 .
@lirantal Please have a look.

[2016-07-26 09:59] WanderZ commented on #1397
Sorry, @hyperreality could you elaborate more on the final tag?

I'm also modifying layout.server.view.html, and I tried to include it within the `<head></head>`, within `<body></body>`.

I tried placing it after the final `</html>` as well, it didn't appear for me. I tried placing it after the final `</body>` as well.

[2016-07-26 10:13] hyperreality commented on #1397
Simply putting

`<noscript>Please enable Javascript to use this application</noscript>`

just before the final </body> tag in layout.server.view.html worked for me (using Firefox with Noscript plugin). It also shows up in console browsers like links.

Which browser are you using? Have you modified the navbar from the default app?

[2016-07-26 10:33] hyperreality commented on #1411
The mean app expects a MONGOLAB_URI environment variable, but according to https://devcenter.heroku.com/articles/mongolab , heroku uses MONGODB_URI as its Mongolab connection environment variable. Try using process.env.MONGODB_URI instead of MONGOLAB_URI in production.js

[2016-07-26 11:04] Wuntenn commented on #1385
It means that a **userA** can be logged into the app using any of the providers. That user may not explicitly log out.

If another person **userB** whilst also logged into any provider and visited the app, they will be actually be resuming action(s) as **userA**.

If I sit at an internet cafe and public machine and logged into Facebook then visit Trello or Slack or some service where I can use OAu

[2016-07-26 14:29] WanderZ commented on #1397
Sorry, I meant to ask if you could tell me which tag exactly do you mean, because I don't know which tag you are referring to via `final`.

Currently i'm using chrome, and using the no-script suite lite.

You can see my attempt here:
https://github.com/WanderZ/mean/blob/master/modules/core/server/views/layout.server.view.html

[2016-07-26 19:52] shanavas786 commented on #1397
@WanderZ try this.

[code]
It was not enough to override style of `noscript`. I don't know the reason exactly. It would be great if some one could point it out :).
Anyway the above snippet does the trick. I tried it in iceweasel 38.8.0 by changing `javascript.enabled` in `about:config`
![noscript](https://cloud.githubusercontent.com/assets/5337197/17152901/aa92ec7c-5382-11e6-9af1-418b0ecfc642.png)

[2016-07-26 20:33] Wuntenn commented on #1385
I've been considering which direction to move with my app. For a moment Facebook SDK seemed like a clear winner but then I looked into Google API and now... I'm confused. They both look good!

One thing I've noticed is that they look like they are both moving away from OAuth in favour of asynchronously loading the JS into the page. I hardly see a reason to keep passport around. Both offer a simila

[2016-07-26 22:37] hyperreality commented on #1397
@WanderZ I viewed the page in Chrome using the same add-on as you and I got a blank page too. Also got the blank page using the styles in the post above. It appears that different script blockers produce different outputs, and to be honest I'm inclined to believe that that Chrome add-on is behaving weirdly: it has bad reviews in the app store, and all other browsers that I tried with JavaScript di

[2016-07-27 08:11] shanavas786 commented on #1385
@Wuntenn IMO, MEAN or any other application has litte to do with it. A similar scenario is when user logs in using application specific credentials and leaves without logging out. Anyone can access the session !!.

It is not the responsibility of application to keep session in sync with the authorization provider's session. And it shouldn't.

[2016-07-27 12:54] rohitkumarvinay commented on #1411
it also brings up this issue too

2016-07-27T12:47:37.864486+00:00 app[web.1]: npm ERR! spawn ENOENT
2016-07-27T12:47:37.852480+00:00 app[web.1]: sh: 1: gulp: not found
2016-07-27T12:47:37.863607+00:00 app[web.1]: npm ERR! Linux 3.13.0-91-generic
2016-07-27T12:47:37.863904+00:00 app[web.1]: npm ERR! npm  v3.10.5
2016-07-27T12:47:37.864009+00:00 app[web.1]: npm ERR! file sh
2016-07-27T12:47:37.8641

[2016-07-27 13:11] lirantal commented on #1411
You need to have gulp installed, do:
`npm install -g gulp`
and then try to bring up the server

[2016-07-27 13:35] simison commented on #1286
This article recommends Nunjucks: https://medium.com/@andy.neale/nunjucks-a-javascript-template-engine-7731d23eb8cc#.r4pk2ao30

Seems to be good for a boilerplate since it has potential for more complex stuff but it's still fairly simple and in this case quite similar to good ol' Swig.

[2016-07-27 13:36] rohitkumarvinay commented on #1411
@lirantal i did try that, that error comes up

[2016-07-27 14:48] Wuntenn commented on #1385
I see your point if you want to say that developers should do it themselves - they should! However the whole point of using a MEAN Stack or the Frameworks that form it is solve commonly faced problems so that the community adopting the stack or framework gain by leveraging time and skills (best practice).

@shanavas786 You're right it's not a problem specific to MEANJS. Anyone who implements authe

[2016-07-27 16:01] lirantal commented on #1411
I don't know about gulp support in Heroku.
What error are you receiving when trying to install gulp? Maybe you need to configure the container there to support it?

[2016-07-27 16:04] lirantal commented on #1286
Cool I'll take a look. Thanks @simison

[2016-07-27 23:09] mleanos commented on #1411
@rohitkumarvinay Since we're using Gulp to start the application with the npm start setting in the package.json file: `"start": "gulp"`, you'll need to ensure all the necessary npm packages are installed when you deploy your app to Heroku.

By default Heroku uses "Production" as the environment setting when deployed. Due to this, Heroku will *NOT* install any dependencies from the `devDependencies

[2016-07-27 23:16] rohitkumarvinay commented on #1393
@mleanos Please help me solve this issue. thanks

[2016-07-27 23:32] rohitkumarvinay commented on #1411
@mleanos i moved the gulp dependencies and run sequence, now it works. could you help me solve issue [1393](https://github.com/meanjs/mean/issues/1393)

[2016-07-27 23:34] mleanos commented on #1411
@rohitkumarvinay Another option (instead of moving the dependencies from `devDependencies`) would be to use Heroku's "postbuild" script hook in your `scripts` section of the package.json. You could use a script file (e.g. "heroku-build-dep.sh") that installs the necessary node packages that your application needs to run.

https://devcenter.heroku.com/articles/nodejs-support#heroku-specific-build-s

[2016-07-27 23:37] rohitkumarvinay commented on #1411
Thanks @mleanos , i moved the gulp dependencies and run sequence, now it works. Thanks. will try your alternate solution too. could you help me solve issue [1393](https://github.com/meanjs/mean/issues/1393)

[2016-07-27 23:50] mleanos commented on #1393
@rohitkumarvinay What does your client-side listener for the "orderUpdateSuccess" Socket event look like?

If you're using the exact implementation I have provided, then your problem probably lies with this line: https://github.com/mleanos/mean/blob/SocketIO-Config-CRUD/modules/articles/client/controllers/list-articles.client.controller.js#L34

Anytime an article is updated, the controller will fe

[2016-07-27 23:59] rohitkumarvinay commented on #1393
@mleanos  i am using the exact implementation you provided. I tried different solutions, proved in-effective. could you tell me how exactly i can proceed to do so. thanks

[2016-07-28 00:15] mleanos commented on #1393
In your Orders list client controller, you should have `vm.orders` in scope. You should also have a listener registered with the SocketIO client for your "orderUpdateSuccess" event that's emitted from the Socket server config routine.

In your "orderUpdateSuccess" listener (client-side) you need to search `vm.orders` to find the index of the Order that has been updated. If you find the index, then

[2016-07-28 00:17] rohitkumarvinay commented on #1393
@mleanos  i tried the same method you had followed for `orderCreateSuccess`, it works. i used the below inside `orderUpdateSuccess`
[code]

[2016-07-28 00:18] mleanos commented on #1411
@rohitkumarvinay Can you share which dependencies you moved from `devDependencies`? It might help others to know.

[2016-07-28 00:20] mleanos commented on #1393
Does this add a new instance of the Order to your list? Or does it update the existing Order? From my understanding of the `unshift` method, it would add a new instance & now you would have duplicate Orders in your list.

[2016-07-28 00:22] ilanbiala commented on #1286
Nunjucks looks fine to me.

[2016-07-28 00:23] rohitkumarvinay commented on #1393
No there are no duplicates, it updates the existing order.

[2016-07-28 00:28] mleanos commented on #1393
You might want to verify that is the case. I don't see how that's possible with the `unshift` method.

I'm closing this issue since it appears that the cause of your issue has been identified. But feel free to continue the discussion here.

[2016-07-28 00:28] #1393 closed

[2016-07-28 00:30] mleanos commented on #1393
Another point about the `unshift`.. try updating an Order that is on the top of the list your viewing. This should illustrate my point.

[2016-07-28 00:35] rohitkumarvinay commented on #1411
Adding these two from `devDependencies` to `dependencies` helped solve the issue
[code]

[2016-07-28 00:38] rohitkumarvinay commented on #1393
i have been updating the order on top of my list, also i tried creating a new Order and updating that as well, seems to work fine, if i come up with issues, will update it here. Thanks again

[2016-07-28 00:43] mleanos commented on #1411
Thanks @rohitkumarvinay

@lirantal This issue can probably be closed.

[2016-07-28 01:11] mleanos commented on #1411
It appears that with the latest *master* branch, additional dependencies need to be moved.

I'm working on determining which exact packages must be moved. It's a tedious process. However, I have verified that the dependencies is indeed the issue; to verify I moved all `devDependencies` & changed nothing else & the app deployed correctly & started up fine.

[2016-07-28 02:12] mleanos commented on #1411
Here's the list I came up with:

[code]

I'm not sure why Karma & gulp-protractor are needed though.

[2016-07-28 07:19] aanev opened #1415 "Unlink old(previous) profile images"
Currently old profile images are not unlinked upon change and remain on disk. If a user changes his/her profile image frequently that can lead to disk space leakage.

[2016-07-28 16:02] mleanos commented on #1415
This is something that has crossed my mind as well.

I think we have a couple options:
1) Remove previous profile image after successful upload
OR
2) Overwrite existing profile image, using the same file name

The latter may be a less complicated implementation, but could have security implications when we're using the same file name over long periods of time (or for the lifetime of the profile im

[2016-07-28 16:44] aanev commented on #1415
IMHO both options are fine. However, I think the first one will be easier to implement and with less changes to existing code. Something like that:
1. Save reference to the old file.
2. Upload new one.
3. In the upload callback update the db with the new file name and fs.unlink the old one if it's different from the default image.

[2016-07-30 05:45] mleanos commented on #1415
Your proposed solution is fine, and would work. Most likely requiring just 4 lines of code in [this method](https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.profile.server.controller.js#L59). However, I'd like to see this done in a more configurable manner, and the actual deletion abstracted away from the User's profile server controller. Whether or not to de

[2016-07-30 06:06] lirantal commented on #1415
@aanev good catch.

I think we should simplify this, whether we overwrite an existing file name, or create a new one, both are ok. Is anyone getting a PR proposed?

[2016-07-30 23:45] mleanos commented on #1415
@aanev Would you like to submit a PR for this?

If we opted for overwriting the existing file by using the same name, we wouldn't have a need to update the database. I fiddled around with this idea, and wasn't able to change the file name before upload. I'm not sure if this is a limitation of angular-file-upload on the client-side, or with our implementation of it. The solution in [this comment](h

[2016-07-31 10:34] #1411 closed

[2016-08-01 10:55] suzet opened #1416 "mean cmd not working"
**mean init <appName> working and it create mean app but at the end i got error message.**

ENOENT: no such file or directory, open 'd:\mean_stack\myFirstApp\node_modules\n
pm\node_modules\glob\node_modules\minimatch\.snyk-npm:minimatch:20160620.flag'

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "c:\\Program Files\\nodejs\\node.exe" "d:\\mean_stack\\myFirstApp\
\node_modules\\npm\\bin\\npm-cli.js"

[2016-08-01 11:32] Xyroid commented on #1262
I read [this blog](http://zklinger2000.github.io/blog/2016/03/11/customize-user-model-means). It recommends to not add userId in `safeUserObject`, since once anyone has this value, any request authorized to that User would be available, like updating the password and email, thus, taking over their account.

So what could be best strategy to keep userId or token on client side?

[2016-08-01 12:10] marianoqueirel commented on #1416
If you working with Master Branch The version recommended for the project node is 4.x.x
If you working with the Versión 0.4.x of MEAN, recommended for the project node is 0.12.x.

It is correct what I say @lirantal @mleanos  ?

[2016-08-01 12:11] shanavas786 commented on #1416
looks like a [mean.io](http:/mean.io) issue.

[2016-08-01 12:28] suzet commented on #1416
yes it is mean.io problem

[2016-08-01 15:38] #1416 closed

[2016-08-03 20:45] Caoimhin89 commented on #1321
I'm new to Meanjs. Can Angular 2 be safely used with the current version?

[2016-08-04 15:46] codydaig commented on #1321
@Caoimhin89 If you were to strip out all the frontend code and replace it with Angular 2 it will work, but just swapping them will cause things to break.

[2016-08-04 20:52] umairwanclouds commented on #1326
@ilanbiala `TypeError: This library (validator.js) validates strings only
    at assertString (/Users/C_v/Documents/workplace/Personal/blog/node_modules/validator/lib/util/assertString.js:9:11)
    at Object.escape (/Users/C_v/Documents/workplace/Personal/blog/node_modules/validator/lib/escape.js:15:34)
    at exports.renderIndex (/Users/C_v/Documents/workplace/Personal/blog/modules/core/server/co

[2016-08-05 15:54] shanavas786 commented on #1326
@aquadestructor It seems the req.user.username is not a string.
Could you please check the value of `req.user` object or `req.user.username` at modules/core/server/controllers/core.server.controller.js line 11.

[code]

[2016-08-07 17:41] shanavas786 opened #1420 "Secure fields can be updated throgth profile udpate"
Since profile update only filters out `_id` and `roles` fields (see [user.profile.server.controller.js](https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.profile.server.controller.js#L22-L26)), other secure fields like `password, salt ..etc` can be updated by including those fields in request body. It is a security flaw.

[2016-08-07 18:45] praneethkumarpidugu opened #1422 "Unable to create Articles"
Hello World:

I have followed the documentation to install all the requirements. Here are the below steps I have performed:

**Terminal 1: grunt**

**Terminal 2: mongodb/bin/mondod --dbpath /data/db**
2016-08-07T14:21:44.990-0400 I -        [initandlisten] Detected data files in /data/db/ created by the 'wiredTiger' storage engine, so setting the active storage engine to 'wiredTiger'.
2016-08-07T1

[2016-08-07 19:24] hyperreality commented on #1422
You need to add your user as an admin role using the mongo shell. Then you will be authenticated to view the Admin menu and page, which now contains the create article page.

[2016-08-07 23:42] praneethkumarpidugu commented on #1422
@hyperreality could you provide commands in the mongo shell ?

[2016-08-07 23:54] hyperreality commented on #1422
I'm don't have the mongo shell in front of me and am doing this from memory, but I think it should work:
[code]
But in any case I suggest you read the manual :)

[2016-08-08 16:00] annvcit opened #1423 "How client side retrieve user after authenticated with facebook?"
Hi,
When authenticated with **facebook**, in **users.authentication.server.controller.js**,
in **oauthCallback** function, it just redirect to client. How client can retrieve user object and display in navigation bar?

Thanks.

[2016-08-08 16:10] pun4drunk commented on #27
Hi guys! Any progress with i18n?

[2016-08-08 20:22] afucher commented on #27
@pun4drunk I'm not working with MEAN, so I don't have news....

[2016-08-08 22:27] mleanos commented on #1422
@hyperreality's suggestion will work (not sure on the syntax though). However, as an alternative the `MONGO_SEED` option can be set when starting a MEANJS application to create an Admin user, if one doesn't exist. When a new user is created using the [MONGO_SEED options](https://github.com/meanjs/mean/blob/master/config/env/development.js#L72), the password will be output in your console.

See htt

[2016-08-09 08:21] dandart commented on #1159
So how might this work with node 6.3?I thought there were solutions out there for this...

[2016-08-09 11:07] ilanbiala commented on #1159
@dandart please open a new issue as this was not for Node 6.3.

[2016-08-09 11:08] ilanbiala commented on #27
@pun4drunk we probably won't have i18n for 0.5.0, so we'll look into it for the next few versions.

[2016-08-09 11:17] ilanbiala commented on #1262
@mleanos can this issue be closed?

[2016-08-09 11:20] #1321 closed

[2016-08-09 11:21] ilanbiala commented on #1326
@aquadestructor did @shanavas786 comment help?

[2016-08-09 11:22] ilanbiala commented on #1422
@praneethkumarpidugu can this be closed?

[2016-08-09 18:27] github-john-doe opened #1424 "Docker compose failed to build with Hash Sum Mismatch error on Ubuntu"
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/libx/libxmu/libxmuu_1.1.2.2_amd64.deb  Hash Sum Mismatch

[2016-08-09 19:02] Wuntenn commented on #1301
I'm stuck. I've tried this. However I'm actually trying to protect access to a specific resource. At the moment it's just an SVG however I've taken quite a lot of time and want to only allow authorised users to access it.

Although this does redirect the user to the log in pages as you said. I'm still able to type in the url of the asset directly. Do you know of a solution that would work well. I'

[2016-08-09 19:19] mleanos commented on #1326
@aquadestructor Does the version of MEANJS that you're using check for the existence of `req.user`, just as the *master* branch has?

https://github.com/meanjs/mean/blob/master/modules/core/server/controllers/core.server.controller.js#L11-L23