[2015-07-27 17:49] #501 closed

[2015-07-27 23:51] cdriscol opened #717 "Travis CI Improvements"
I've had a few thoughts/suggestions on improving our current (0.4.0 branch) CI and wanted to get community input:

* **jshint should fail the build**
 * This can help catch some simple mistakes.
* **test errors should fail the build**
 * otherwise, what's the point of tests?
* **Can we run Travis CI on all commits?  Or force PRs?**
 * [This commit](https://github.com/meanjs/mean/commit/9fc88e6e5b5

[2015-07-28 00:59] codydaig commented on #717
@cdriscol Agreed!

[2015-07-28 01:50] cdriscol opened #719 "Signed in user without access to state (via role) redirected to signin page"
I was working on test coverage for our [init.js](https://github.com/meanjs/mean/blob/0.4.0/modules/core/client/app/init.js#L13) file and noticed something a little strange (at least to me).

__TL;DR__
A signed in user without access to a state (*user.roles* mismatch *state.data.roles*) will be redirected to the sign in state.. even though they are already signed in..

Steps to repro:
* Change Arti

[2015-07-28 03:49] mleanos commented on #719
@cdriscol Doesn't the Authentication controller check if the user is logged in, and then redirects to 'home'? I reproduced the issue, but it does do that additional redirect back home, after the Login redirect. I mentioned this in the PR that introduced this feature, but wasn't sure if it was addressed. I think it should redirect them 'home', and if they're not logged in then it would be appropria

[2015-07-28 05:06] rhutchison commented on #719
@cdriscol @trainerbill already started work on this https://github.com/trainerbill/mean/tree/UnAuthorized

[2015-07-28 12:36] cdriscol commented on #719
@rhutchison, that branch from @trainerbill does look like a pretty good direction so I'll hold off on any work on that.  Thanks for the heads up!

[2015-07-28 12:36] #719 closed

[2015-07-28 12:45] craigxgibbons opened #721 "EADDRINUSE when running in debug"
When attempting to run a newly generated site with no modifications the grunt task reports the following error:

Running "concurrent:default" (concurrent) task
Error: listen EADDRINUSE

My IDE (WebStorm) generates the following command:
/usr/local/bin/node --debug-brk=50956 /usr/local/lib/node_modules/grunt-cli/bin/grunt --gruntfile /Users/MyName/Documents/Dev/MEANJSSite/gruntfile.js

I know this

[2015-07-28 12:50] bluekrill commented on #672
@lirantal Sorry for the late response. I can definitely do those things. Thanks.

[2015-07-28 12:52] vaucouleur commented on #680
New PR
https://github.com/meanjs/mean/pull/720

[2015-07-28 13:12] simison commented on #721
Do you have this running double or something else running at the background? (e.g. Rails or Node app...)

[2015-07-28 13:25] craigxgibbons commented on #721
Absolutely nothing else is running in the background. I have tried this with a new app after a reboot and it produces the same error.

I have also spent about 2 hours Googling this problem. There is a long thread from about 2 years ago which doesn't seem relevant anymore. Other than that I can't find anything.

[2015-07-28 13:29] simison commented on #721
or firewall blocking some ports perhaps?

[2015-07-28 13:47] craigxgibbons commented on #721
I'm on a standard Mac working locally, the firewall is turned off. If I do: lsof -i | grep LISTEN

I can see nothing is listening on any port which WebStore or node uses. It's just my local MongoDB, my email and the WebStorm IDE. I'm going to bootcamp back to Windows and see if there result is the same but I suspect the grunt task is inadvertently hooking 2 processes to the same port

[2015-07-28 14:12] mleanos opened #722 "angularFileUpload resolving to 1.1.8, when installing bower dependencies"
I wiped out public/lib, and re-installed the Bower dependencies. angular-file-upload has resolved to 1.1.8; even though bower.json has `"angular-file-upload": "~1.1.5"`

In angularFileUpload `1.1.8`, the asset files have moved from `public/lib/angular-file-upload/` to `public/lib/angular-file-upload/dist`; and there's only a `.min.js` file. The project assets config is looking for angularFileUploa

[2015-07-28 15:03] trainerbill commented on #722
@mleanos it should match to version 1.1.8 as there is a ~ in the front with will match any patch version.  I think the issue is with angular file uploads semver.  They pushed a major/minor release to a patch version....

Answer to your question is that yes I am seeing the same issue and this needs to be fixed.  I did a bower update and got 1.1.8 which breaks MEAN.  Looks to me like there is a 1.2

[2015-07-28 15:17] mleanos commented on #722
@trainerbill Thank you for looking into this.

I'm not sure that we need to decide on which version to go with at this exact moment. As each version after 1.1.5 has the `dist` folder. So the same fix can be applied.

I'll submit a PR, for the above fixes. Afterward, I'll look into which version might be best, and go through some tests.

[2015-07-28 15:27] mleanos commented on #722
Created PR #723

[2015-07-28 15:29] simison commented on #721
Nah, Grunt is fine; just pulled fresh and tested both master and 0.4.0 branches. I'm also on also on OSX and node v0.12.7.

How about user rights, no special restrictions with the user your running it with?

Could you try and run express sample app? http://expressjs.com/starter/hello-world.html

[2015-07-28 16:36] craigxgibbons commented on #721
I restarted in Windows, created a brand new meanjs app using the generator, opened it up in WebStorm and tried to debug using grunt again - the same issue occurs. Running with just 'grunt' works fine, but the debug commands cause the issue. I don't have any specific user running, just my default logins.

I did also try the basic barebones express app you mentioned and that works just fine. I'm not

[2015-07-28 16:48] simison commented on #721
Hmm, what debug command you're referring to?

[2015-07-28 16:49] mleanos commented on #722
PR #724 is the accurate fix. Leaving this issue open, for discussion about which version to land on.

[2015-07-28 16:50] craigxgibbons commented on #721
WebStorm executed the following command when running in Debug vs just a 'Run' ('grunt' command:

/usr/local/bin/node --debug-brk=50956 /usr/local/lib/node_modules/grunt-cli/bin/grunt --gruntfile /Users/MyName/Documents/Dev/MEANJSSite/gruntfile.js

The port is arbitrary and changes on each launch

[2015-07-28 16:51] simison commented on #722
I'd just bluntly test if the latest 5.x works with mean and upgrade bower.json accordingly.

[2015-07-28 17:06] simison commented on #721
Ahaa, I see. Grunt file already [launches the app with node](https://github.com/meanjs/mean/blob/master/gruntfile.js#L91-L100) so doing so from the command line you end up running it double.

'grunt' is already debug mode command and you'll have for instance [node-inspector](https://github.com/meanjs/mean/blob/master/gruntfile.js#L101-L113) running there. Perhaps your IDE can hook into that.

[2015-07-28 17:37] ilanbiala commented on #717
@cdriscol I'd love to see these changes. Any idea of what we can do?

[2015-07-28 17:43] craigxgibbons commented on #721
Aah, ok that makes sense - I do believe you've cracked it. It's unfortunate this is the default option in WebStorm. I'll have to have a dig to see if I can find what config works for setting up WebStorm with a generated meanjs site.

Thanks again, much obliged.

[2015-07-28 17:47] #711 closed

[2015-07-28 17:49] simison commented on #721
No prob. I believe this could now be closed?

[2015-07-28 18:26] lirantal commented on #721
thanks @simison

[2015-07-28 18:26] #721 closed

[2015-07-28 18:28] lirantal commented on #717
@cdriscol I've already started working on those changes exactly (apart from your last item on travis-ci configuration), although I was quite busy the last week so if you have anything to submit a PR for go ahead, otherwise I'll just get to it within a couple of days.

[2015-07-29 00:36] cdriscol commented on #717
@lirantal - good enough for me!  thanks!

[2015-07-29 00:36] #717 closed

[2015-07-29 00:38] cdriscol commented on #669
@lirantal, @ilanbiala  - I added those chat tests as part of #728.  That PR also covers the second bullet in __Tests__ above.

[2015-07-29 01:37] ilanbiala commented on #337
Closing in favor of handling everything on the PR.

[2015-07-29 01:37] #337 closed

[2015-07-29 01:38] ilanbiala commented on #443
@codydaig the generator will be put on hold until we can properly establish a simple way of using the mean repo instead of copying over and updating the files manually. Also, there is too much flux right now so we can't really keep updating so quickly.

[2015-07-29 01:41] ilanbiala commented on #390
@miguelcoba since we haven't done much about it, I'm going to close this PR unless people express strong interest in bringing it back or you can get it into 0.4.x once we have released 0.4.0

[2015-07-29 01:41] #390 closed

[2015-07-29 01:42] ilanbiala commented on #443
I'm going to close this issue and we'll move future documentation discussion into more specific, separate issues if necessary.

[2015-07-29 01:42] #443 closed

[2015-07-29 01:57] mleanos commented on #722
Submitted a new PR for this. #729

[2015-07-29 02:03] #722 closed

[2015-07-29 02:14] codydaig commented on #443
@ilanbiala Just to clarify: we're going to keep the generator out of the 0.4.0 documentation and just say clone the repo or download the source code as the installation options for now?

[2015-07-29 02:42] codydaig commented on #674
@Valonix Any more issues or can this issue be closed?

[2015-07-29 02:49] codydaig commented on #697
@benmarten Looking at the 0.4.0 code and the facebook strategy:
https://github.com/meanjs/mean/blob/0.4.0/modules/users/server/config/strategies/facebook.js#L16
it seems that the profileFields already includes 'email' in the array. What specifically needs to be changed?

[2015-07-29 02:54] codydaig commented on #626
@estvmachine Any luck?

[2015-07-29 03:57] #674 closed

[2015-07-29 03:57] ilanbiala commented on #443
Yes

[2015-07-29 04:54] codydaig commented on #443
@ilanbiala Thanks! I will get started on that tomorrow.

[2015-07-29 13:57] #535 closed

[2015-07-29 14:02] codydaig commented on #680
Should this be closed now that #720 has been merged?

[2015-07-29 14:07] lirantal commented on #669
Hi everyone,

We'd like to aggressively push 0.4.0 out before it becomes a monster :-)
We appreciate all the great PRs but with more PRs we delay time because we are all opinionated people (and good that we are), and we're all quite busy and PRs need to be reviewed extensively.

@ilanbiala suggested closing 0.4.0 out by Thursday (tomorrow) so we can do all the release logistics (merging, etc) and

[2015-07-29 14:10] codydaig commented on #669
@lirantal @ilanbiala Sounds good to me!

[2015-07-29 14:11] lirantal commented on #697
@codydaig @benmarten it seems like your find matches the 'emails' profileField while @benmarten was showing success cases referrencing 'email' profileField (notice the plural vs singular use).

I'm unable to test as I don't have a FB account but we should fix this if it's an actual problem on 0.4.0
@benmarten can you look into making this change to 0.4.0 and submit a PR that fixes it? I would just

[2015-07-29 14:13] simison commented on #657
Should this be divided into 0.4.x and 0.5.0 stuff (just subtitles, I don't mean having two separate issues) so that we'll have a better picture of the roadmap?

There's a number of PL's that might not be breaking and they could thus be pre-0.5.0.

[2015-07-29 14:13] simison commented on #669
:+1: absolutely.

[2015-07-29 14:15] lirantal commented on #680
yes, thanks @codydaig

[2015-07-29 14:16] #680 closed

[2015-07-29 14:26] lirantal commented on #657
sure, I updated.

[2015-07-29 14:27] lirantal commented on #672
Great, thanks.

[2015-07-29 14:27] #672 closed

[2015-07-29 14:31] #663 closed

[2015-07-29 15:15] lirantal commented on #443
@codydaig I would leave the generator section there for people whom are targeting for that can find it and simply say there that the generator today works with the 0.3.0 stable version of MEAN.JS release, and not with the current master/0.4.0 branch.

[2015-07-29 15:19] codydaig commented on #443
@lirantal i should have clarified. I'm going to take the generator out of the 0.4.0 section as an installation option. But I will put a note on top of the generator section on the website saying it only works for 0.3.0.

[2015-07-29 15:22] lirantal commented on #443
cool

[2015-07-29 16:32] ilanbiala commented on #669
@lirantal just waiting for server side tests if we want to include that in 0.4.0 instead of releasing incrementally in 0.4.x.

[2015-07-29 16:45] lirantal commented on #669
since it's a change to the core server.js and grunt I want to push that in a couple of hours for your review.

[2015-07-29 19:21] mleanos commented on #669
+1 Sounds great.

[2015-07-29 20:13] taninme commented on #669
any update on release date ? thanks :)

[2015-07-29 20:18] lirantal commented on #669
@taninme tomorrow/upcoming week.

[2015-07-29 20:23] taninme commented on #669
:+1:

[2015-07-29 20:53] puntubabu commented on #372
rweindl I followed your steps, but I'm still redirecting to the same page, without logging out. It's only if I log out twice that I am taken back to the main page.

[2015-07-29 21:00] lirantal commented on #669
before we go ahead with the final 0.4.0 release, if you want to raise a PR for discussion which must be included in 0.4.0 **now is the time**.

[2015-07-29 21:10] lirantal commented on #669
@ilanbiala looks like I'm not going to make it for the refactoring of the core server.js as I hoped so if we might want to continue without it if I won't ping anything different in the morning.

[2015-07-29 21:18] ilanbiala commented on #669
Ok. If that's the case, we'll release tomorrow morning and we can start taking care of 0.4.1.

[2015-07-29 21:20] lirantal commented on #669
Cool, I took the day off tomorrow so we can do it on gitter, I'll probably have my coffee ready by 8:30am (GMT+3)

[2015-07-29 21:24] codydaig commented on #669
So that's 10:30 PST?

[2015-07-29 21:31] lirantal commented on #669
09:30PM

[2015-07-29 21:32] codydaig commented on #669
Whoops. Off by 1 hour.

[2015-07-30 00:18] cdriscol commented on #669
:+1: - awesome!

[2015-07-31 05:54] taninme commented on #669
released ? missed the party ?

[2015-07-31 06:10] lirantal commented on #669
not yet, 2 more PRs to close, mine and @rhutchison and we're done

[2015-07-31 10:23] abhijt-zanak opened #739 "how to run code coverage for this project"
I have mentioned 'coverage' in karma.conf.js , however after running the grunt test , after opening the index.html under coverage folder , it shows nothing ,

[2015-07-31 10:52] joops opened #740 "Server error on profile image upload"
I'm seeing a mongoose error when calling api/users/picture from the client side with the latest version of 0.4.0. This occurs when hitting the upload button from change-profile-picture.client.view upload view.

It looks like the call is passing a value of 'picture' from the url path to the userByID middleware, which is being interpreted as 'id', thereby causing a cast error. I've confirmed this as

[2015-07-31 12:36] mleanos commented on #740
You identified the issue correctly. The issue is with the 'picture' part of the route, getting mistaken for the `:userId` implemented in the Admin route `/api/users/:userId`. You should see this in the in the `admin.server.routes` file.

This was fixed in the 0.4.0 branch, and released just a couple of days ago. Can you verify that the version your running is aligned with PR #713?

[2015-07-31 13:17] vaucouleur opened #741 "Minor issue: ng-binding to article.content in user-list.client.view.html (0.4 branch)"
@rhutchison

Ryan,

There is a ng-binding to article.content in user-list.client.view.html. Probably a leftover from a copy-and-paste. It's a minor issue, it might be too late to fix before the 0.4 release ?

https://github.com/meanjs/mean/blob/0.4.0/modules/users/client/views/admin/user-list.client.view.html#L15

Sebastien

[2015-07-31 15:55] codydaig commented on #739
@abhijt-zanak Currently we don't support test coverage, however, it is in the works, and there's a pull request that get's it prepped for the coverage that's coming soon.

[2015-07-31 16:01] lirantal commented on #739
indeed, I'll push that soon enough, it's already working for the client side here, just need to tied things up, stay tuned!

[2015-07-31 17:06] codydaig commented on #740
@joops @mleanos This has been fixed in the latest branch of 0.4.0 by #713. I just tested this.

[2015-07-31 17:15] rhutchison commented on #741
Thank you @vaucouleur!

[2015-07-31 17:19] codydaig commented on #741
@vaucouleur Good catch! Thanks for submitting a PR for that!

[2015-07-31 17:31] codydaig opened #743 "Documentation ToDo"
Since 0.4.0 is being released very soon, we need to get the documentation on the website up to date for the 0.4.0 branch. If your interested in helping, comment below with which section you would like to tackle! Thanks :-D

Here's a general list of items in the 0.3.x documentation that need to get brought over and modified:
- [ ] Folder Structure
- [ ] Configuration
- [ ] Autoloaded Files
- [ ] NP

[2015-07-31 17:35] lirantal commented on #740
thanks @codydaig

[2015-07-31 17:35] #740 closed

[2015-08-01 00:15] afucher commented on #27
Hi, is there someone working on it?? So I could help??

[2015-08-01 00:42] joops commented on #740
Much appreciated @mleanos @codydaig @lirantal -- ironically I merged to 0.4.0 the day before this fix went in, but didn't see the update when looking yesterday. All good now, thanks a million for the help!

[2015-08-01 01:18] codydaig commented on #27
@afucher I'm assuming since this issue has been stale for over a year that it's all yours in you want to submit a PR.

[2015-08-01 01:21] afucher commented on #27
@codydaig I'm starting to develop my first app, using MEAN stack. But, I need to use i18n.. so, if I do any implementation, I'll submit a PR..  :)

[2015-08-01 01:27] codydaig commented on #740
@joops Glad to hear it was a simple fix!

[2015-08-01 06:44] lirantal commented on #741
@vaucouleur we wanted to move fast with the 0.4.0 release so we appreciate the PR!
Merged https://github.com/meanjs/mean/pull/744 which addresses this issue.

[2015-08-01 06:44] #741 closed

[2015-08-01 10:20] abhijt-zanak commented on #739
thanks for the info, I am looking forward.
@lirantal : as you mentioned it is working for client side, please let me know how to run for client side.

[2015-08-01 15:45] codydaig commented on #527
Can this issue be closed or is this still up for discussion?

[2015-08-01 15:46] codydaig commented on #292
@wesleyfsmith @zaikin-andrew Is this still an issue or can this be closed?

[2015-08-01 17:59] #527 closed

[2015-08-03 06:25] ravitejawedelez commented on #669
any way to know the schedule for release?
waiting for the admin dashboard..

[2015-08-03 08:09] androidfred commented on #325
Thanks for your attention.

As Angular docs say you should use controllers rather than ngInit to initialize values on a scope, and that a controller should contain only the business logic needed for a single view, I hope both these issues are addressed by some other means.

[2015-08-03 10:00] vaucouleur commented on #670
Should there be a space between the keyword 'function' and the parameter list ?
I'm seeing some minor inconsistencies. Not a big deal, but it makes merging slightly more complicated when one use "auto-indentation" with his/her favorite code editor.

**Random code examples without the space:**
* https://github.com/meanjs/mean/blob/a66c3fe5a7bf47acfa7a3748a5ca8fe143b58221/gulpfile.js#L178
* https://

[2015-08-03 10:20] mleanos commented on #743
@codydaig Thanks for compiling this list. I would love to help out here. Below is a list of what I'm interesting in working on. If someone would like to work on anything on *my* list before I get to it, by all means, go for it...

Folder Structure
Configuration
The Chat Example

[2015-08-03 10:35] mleanos commented on #670
@vaucouleur Personally, I like to have the space in these cases. It makes it easier for me to read. I agree that one way or the other must be used to avoid painful merges.

Perhaps, the settings in the editorconfig can be decided upon. Not sure if what is there, was previously decided. This file was recently updated to use spaces for indentation.
https://github.com/meanjs/mean/blob/0.4.0/.editorco

[2015-08-03 10:40] iamnizzam opened #749 "how to configure meanjs app for openshift deploy"

[2015-08-03 11:01] mleanos commented on #325
@androidfred Have you explored implementing a resolve on your ui routes? This could help keep your controllers clean of these types of data initializing. I've seen this approach advocated. Personally, I prefer having an init() function in my controllers. It's easier for me to keep track of what data is being loaded when the controller's initialize; without the need to track it down in my route con

[2015-08-03 12:17] lirantal commented on #749
Hi @iamnizzam

There's this issue https://github.com/meanjs/mean/issues/477 which discusses Openshift integration.
I'm not sure what is the requirement for that, but if you come up with the way to do it you're welcome to submit some PRs to our documentation area and possibly a code PR if it requires something special so we can review.

[2015-08-03 20:51] lirantal commented on #669
0.4.0 released now and merged into master branch.
You can also find the 0.4.0 tag here: https://github.com/meanjs/mean/releases/tag/v0.4.0

[2015-08-03 20:53] lirantal commented on #669
Thanks everyone for your hard work, couldn't do it with you!

[2015-08-03 20:56] igorauad commented on #669
Congrats everyone! Very good work.

[2015-08-03 21:13] lirantal commented on #743
@codydaig bless you for the proactive attitude to get this finished!
@mleanos thanks for helping in buddy!

I'm a server-side guy so I'll take those that are related, starting with:
* server tests
* express & routing
I'll get those nailed first and then we/others can continue to the rest of the list.

[2015-08-03 21:35] codydaig commented on #743
@mleanos @lirantal Thanks for helping out. I've got a big project going on this week before the hiring assessment (to determine if I'm a hirable developer or not) then I'll be cranking some of the documentation out as well.

[2015-08-04 00:49] cdriscol commented on #743
@codydaig - I'll work on the AngularJS documentation.

[2015-08-04 01:25] codydaig commented on #743
@cdriscol Thanks!

[2015-08-04 03:05] mleanos commented on #669
:+1: Everyone here is awesome! Didn't have any merge conflicts from 0.4.0 to master :) Thanks @codydaig for prepping that.

[2015-08-04 09:26] rbecheras commented on #669
Great! congratulations guys ! :clap:

[2015-08-04 09:30] vaucouleur commented on #743
@codydaig I will do my best to proofread the new documentation and give feedback

[2015-08-04 09:32] vaucouleur commented on #669
Congrats. Thanks for the excellent work !

[2015-08-04 10:58] quanganh206 commented on #669
Thansk and Congrats !

[2015-08-04 13:27] taninme commented on #669
Congrats all and quick question ..did you add the admin dashboard to 0.4 ?

[2015-08-04 13:36] lirantal commented on #669
@taninme yes, it's there.

[2015-08-04 13:37] codydaig commented on #743
@vaucouleur Sweet! :-D

[2015-08-04 16:26] codydaig commented on #583
Is this something we want to change int he default boiler plate?

@rhutchison @lirantal @ilanbiala @mleanos @trainerbill @simison

[2015-08-04 19:45] lirantal commented on #583
@codydaig I don't think it's an overall bad idea but I'm wondering if the issue raised by @AlexisTM  here is more than a decision and sounds more like a bug where it isn't easy to just set the menu visibility easily from the code.

[2015-08-04 19:48] lirantal commented on #670
+1 with @mleanos, I too also prefer to have spaces for function arguments.

[2015-08-04 20:08] trainerbill opened #757 "Branching and Release Strategy going forward"
We have been talking about a new branching/release strategy in the chat for a couple days now.  Bringing this to an issue for additional community feedback.

@rhutchison @mleanos @codydaig @lirantal @ilanbiala

Here was my thoughts:

In my mind master is always working to the 0.x.0 release and that development starts the second we release 0.4.0. I don't want to wait on my changes. So when 0.4.0 is

[2015-08-04 20:17] codydaig commented on #757
Perfect.

[2015-08-04 21:08] trainerbill commented on #757
And before @lirantal asks what issues this addresses:

1.  Releases are super simple.  Just git tag.
2.  PR's will not have to be closed and reopened on another branch when we release a new version since everything is going to master.

[2015-08-04 22:06] trainerbill commented on #608
PR for this issue created here:

https://github.com/meanjs/mean/pull/758

up for discussion

[2015-08-05 09:04] simison commented on #669
Excellent! Nice to come back down from the mountains and there's a new release waiting. Thanks everyone who worked on this. It's a massive pile of great commits!

[2015-08-05 09:55] ilanbiala commented on #757
@trainerbill I like the idea, but the only thing I think will be different from the angularjs repo is that I don't think we should deal with the complexity of 2 version branches at once. AngularJS has to do this because it needs to support users for a while until upgrading is actually logical when the features and specs are commonplace.

[2015-08-05 10:56] ilanbiala opened #761 "Grunt issue"
Grunt's --force option seems to make a lot of our builds that shouldn't pass pass. For example, this build https://travis-ci.org/meanjs/mean/jobs/74211973 should have failed since 1 test failed, but --force made it continue. Is there a reason we are using --force @lirantal @rhutchison? Have either of you noticed this issue in any of your builds?

[2015-08-05 11:03] lirantal commented on #761
@ilanbiala glad you're back :)
I'm submitting a PR for that

[2015-08-05 11:07] ilanbiala commented on #761
@lirantal only for a little bit while I'm on vacation so the notifications don't pile up. I ran into it while I'm looking into adding Coveralls to visualize our coverage. @lirantal on that note, did you have coverage set up and did you already start looking into setting up a service such as Coveralls or Codecov?

[2015-08-05 11:11] lirantal commented on #761
Yes I already have a pending PR for the coverage, which I was working on for a while and I actually refactored the app.js / server.js especially to make that work :)

I didn't address the coveralls though and some other items so if you want I can submit my PR and you can add your coveralls and other changes to it.

[2015-08-05 11:19] ilanbiala commented on #761
@lirantal yeah if you submit your PR, I'll work on adding Coveralls to it, which I started doing in #760 just to make it available to anyone who may have had something.

[2015-08-05 11:21] lirantal commented on #761
Cool.

with regards to the job you were referring to (https://travis-ci.org/meanjs/mean/jobs/74211973) and about grunt error handling - so in that case jshint doesn't fail (although if it does it doesn't fail grunt at all), and I do see an error there too which doesn't fail the grunt either.

My PR is a change to grunt's 'force' option to default it to false so it fails on any other task that fail

[2015-08-05 11:26] ilanbiala commented on #761
Yes.

[2015-08-05 16:25] lirantal commented on #757
I'll just add that I'm not really in favor of those bug branches that @trainerbill is describing because this begins again the branch management over-head.

Basically I see it like this:
1. We are merging PRs to `master` branch
2. When we achieve some milestone and wish to release 0.5.0 we tag the `master` branch with `v0.5.0` tag
3. Goto (1)

@trainerbill regarding
[code]
Why do we need to create

[2015-08-05 16:28] codydaig commented on #757
@lirantal I agree. The bug branches only work if we're going to support previous versions, and it doesn't sound like we will, so it's simplest to keep everything in master and just tag as we go! :-D

[2015-08-05 16:38] trainerbill commented on #757
@lirantal @codydaig If you are not planning on supporting previous releases then that is fine but then we cannot increment patch versions, ie 0.4.1, as tagging the master branch at 0.4.1 may include commits that are incompatible with 0.4.0.  I don't think that supporting one previous minor version 0.x.0 would be a huge undertaking.  Thats why I like the idea of a 0.x.x branch that gets fixes outsi

[2015-08-05 17:13] rkoberg commented on #757
Perhaps look into using gitflow: https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

"This workflow doesn’t add any new concepts or commands beyond what’s required for the Feature Branch Workflow. Instead, it assigns very specific roles to different branches and defines how and when they should interact. In addition to feature branches, it uses individual branches for pre

[2015-08-05 20:16] lirantal opened #763 "Request for JSCS"
Hi @rhutchison,

Can you please create a PR for the adding the JSCS (https://github.com/jscs-dev/node-jscs) support? I'd like to push this in along with JSHint that we have today to enforce the code style standards.

I know that you included part of that in another PR that we asked to take out, so there's no point for me to re-do any of the work you already have pending there.
Thanks!

[2015-08-05 20:59] lirantal commented on #669
@simison I'm not going to greet you welcome back until I see some PRs from you :-)
j/k, nice to have you around again!

[2015-08-05 21:00] lirantal commented on #669
closing this issue since we already released 0.4.0, you're welcome to continue commenting on any 0.4.0 matters though.

[2015-08-05 21:00] #669 closed

[2015-08-05 21:00] roshangade commented on #657
+1 - really great features! Gulp, Angular 1.4, John Papa's Angular Styleguide

[2015-08-05 21:07] lirantal commented on #757
Again, as far as I see it, it's binary:
1. We either simplify this process altogether: one `master` branch, and tagging releases
2. We keep the current version-work branches

IMHO If we try to (1) with anymore branch handling this will really make it hard, especially when me and Ilan are the only users whom are able to assign/merge PRs (I pinged Roie about this issue to see if we can have more fre

[2015-08-06 01:33] cdriscol commented on #743
@codydaig @mleanos @lirantal @vaucouleur  - how do you guys feel about an AngularJS _sub-menu_ in the 0.4.0 docs?  Would look like the following..

![image](https://cloud.githubusercontent.com/assets/5116860/9101749/db391e9e-3ba7-11e5-850f-74ba1791899d.png)

I think it's cleaner than prefixing 3 menu items with 'AngularJS'.  We could also group some other similar menu items together (i.e. build sy

[2015-08-06 01:34] jloveland commented on #757
I use git flow in the office and it enables us to manage releases and hotfixes very easily. Everyone develops features off of the develop branch. Master is always deployable to customers and versions are tagged here. We can have multiple customers on different versions. It takes a little getting used to because everyone works off of develop, but the git-flow command line tool automates merging acr

[2015-08-06 01:49] igorauad commented on #583
+1 @lirantal this is useful

[2015-08-06 02:35] cdriscol commented on #583
:+1: I support this change in the boilerplate.  I've had to make this exact change in my projects.

[2015-08-06 05:19] codydaig commented on #743
@cdriscol I'm not opposed

[2015-08-06 06:50] lirantal commented on #583
Ok so whose jumping the PR here? :)

[2015-08-06 06:51] apitts opened #767 "Nodemon and livereload?"
What are the advantages of having both nodemon and livereload (via the watch task) in the gruntfile?

[2015-08-06 06:54] lirantal commented on #757
We're using the git successful model here http://nvie.com/posts/a-successful-git-branching-model/ along with Stash, and Pull-Requests, code reviews, etc.
But what I'm saying is that the nature of office work where you version product and the amount of resources, and schedules you have is simply *not the same* as you have with managing open source projects where things are much more dynamic.

I thi

[2015-08-06 06:58] apitts commented on #767
Aha...livereload for client side, nodemon for restarting the node process. I guess you could use watch with livereload to restart the node process as well but it makes sense.

[2015-08-06 06:58] #767 closed

[2015-08-06 10:52] mleanos commented on #743
@cdriscol That's a really good idea. Thanks.

[2015-08-06 11:57] ilanbiala commented on #757
@trainerbill I'm not really in favor of supporting previous releases, and here's my philosophy:

I'm working on a project that is based on the framework, I'm not going to spend as much time upgrading MEAN every few months, maybe more frequently, as I do coding because then I'm not adding as many features to my project. Rather, I'm moving around files and getting stuff like chat modules when in rea

[2015-08-06 12:00] mleanos commented on #757
I prefer the Feature Branch Flow, and I use `git flow` for my projects. However, if the consensus here is that @trainerbill suggestion is going to be most beneficial then let's roll with it.

My main concern, during the duration of this debate, has been the ease in which other developers can come into the project and start contributing; without having to know what our exact branching/tagging strat

[2015-08-06 12:14] mleanos commented on #757
@ilanbiala I feel you on that. And it's an interesting perspective. I have an ongoing project that is based off this framework. I upgraded to the 0.4.0 branch a few months ago, and have been keeping it in sync as much as possible. Usually, when I'm done with a branch/feature/bug-fix on my own project. I'm trying to be as active as I can in this community, but I think you have a very valid point. M

[2015-08-06 12:47] lirantal commented on #743
yep, no problems

[2015-08-06 13:48] vaucouleur commented on #743
@cdriscol  Good idea.

[2015-08-06 13:55] trainerbill commented on #757
@ilanbiala You are probably right.  And the dev can always just go in and fix the bug on their own.  I am ok with pr'ing to master for now without release branches.  If we need to support previous releases we can revisit this in the future.

@lirantal
1. postpone that PR to a later time until we are finish with the current 0.x.0 version
2. we want that PR in so in order to accept it we jump an 0.x

[2015-08-06 16:06] andreafdaf opened #769 "suggestion: add views in index.html and use templateCache"
Hi, I've already done this in a project based on mean 0.4.0 so I guess I can make a PR if you want. Let me explain:

### config/assets/default.js
[code]

### config/config.js
[code]

### config/lib/express.js
[code]

### modules/core/server/controllers/core.server.controller.js
[code]

### modules/core/server/views/layout.server.view.html
[code]

then just use it like that for a view named app.cli

[2015-08-07 00:22] codydaig commented on #583
@lirantal I'll take this on.

[2015-08-07 00:25] codydaig commented on #606
@ilanbiala I believe this was just merged in #765

[2015-08-07 00:26] codydaig commented on #761
@lirantal Fixed in #762?

[2015-08-07 05:57] codydaig commented on #757
@trainerbill if you can, submit pull request or open an issue and tag me. i wont have time until next week.

@ilanbiala well said

[2015-08-07 06:07] lirantal commented on #761
Yes, thanks @codydaig

[2015-08-07 06:07] #761 closed

[2015-08-07 06:08] lirantal commented on #583
Great!

On Fri, Aug 7, 2015 at 3:22 AM, Cody B. Daig <notifications@github.com>
wrote:

--
--
Sincerely, Liran Tal

Author
<http://www.amazon.com/Agile-Software-Development-HP-Manager/dp/1484210352/>of
Agile Software Development with HP Agile Manager
Founder and Lead Developer of daloRADIUS <http://www.daloradius.com/>
Blogging at http://www.enginx.com, and tweeting at @liran_tal
<https://twitter.

[2015-08-07 06:10] codydaig commented on #597
@afhaque If this is still an issue, go ajead and reopen, otherwise @lirantal i think we can close this.

[2015-08-07 06:10] #606 closed

[2015-08-07 06:13] codydaig commented on #300
@boris-petrov1214 Is this still an issue or can it be closed?

[2015-08-07 06:33] lirantal commented on #757
Ok, so this is concluded.
@ilanbiala's description is another argument for working with a master branch, and no other special releases/bugfix branches.

[2015-08-07 06:38] #597 closed

[2015-08-07 10:45] netusco commented on #486
Same issue on fresh install
timeout of 2000ms exceeded

[2015-08-07 10:59] rmlopes opened #770 "User Model tests"
Hi,

I am trying out the 0.4.0 branch. The user model unit test for the email is failing (should not be able to save different user with the same email address).

[2015-08-07 11:33] lirantal commented on #770
I noticed issues with that too, actually the test for that specific is a false positive, I've got a PR to send later this evening.

In the meanwhile, can you show me the output of the errors you got?

[2015-08-07 11:35] lirantal commented on #486
can you make sure you've got the latest master branch checked out please?
there is some issue there though, I'll submit a PR to fix it later tonight

[2015-08-07 11:44] rmlopes commented on #770
Running "server" task

MEAN.JS - Test Environment
Environment:                    test
Port:                           3001
Database:                               mongodb://localhost/mean-test

Running "mochaTest:src" (mochaTest) task

  Article Model Unit Tests:
    Method Save
      √ should be able to save without problems
      √ should be able to show an error when try to save without title

[2015-08-07 12:39] netusco commented on #486
ok I was a few commits behind and with the latest master branch checked out all tests pass smothly ;)

[2015-08-07 13:20] andreafdaf commented on #369
+1 for material.angularjs.org, I'm using it and it is great! if a hand is needed I'm in :v:

[2015-08-07 15:24] codydaig commented on #757
@lirantal I'll update the contributing document I submitted a pull request for to reflect that.

[2015-08-07 16:07] lirantal commented on #757
Great, thanks Cody
On Aug 7, 2015 6:24 PM, "Cody B. Daig" <notifications@github.com> wrote:

[2015-08-07 20:20] lirantal commented on #770
@rmlopes is this the latest version of master branch? can you pull please?

[2015-08-07 20:20] lirantal commented on #486
great.
there is anyway an issue there with that test that I'll commit a fix in a couple of hours

[2015-08-07 21:57] #757 closed

[2015-08-07 21:59] lirantal commented on #27
@afucher great, I'm closing this issue and looking forward for your i18n PR :)

[2015-08-07 21:59] #27 closed

[2015-08-07 22:27] lirantal commented on #293
@sielay @rhutchison @trainerbill can you look at this?

[2015-08-07 22:30] lirantal commented on #221
well there's still unused CSS, but that's obvious, because we are including for example bootstrap.css and the MEAN.JS project isn't about implementing every piece of that.

So that's not necessarily a defect, but rather we should look into using grunt-uncss, possibly.

[2015-08-07 22:34] lirantal commented on #185
closed, implemented in https://github.com/meanjs/mean/pull/487

[2015-08-07 22:34] #185 closed

[2015-08-07 22:35] lirantal commented on #183
@NeverOddOrEven @Edo78 any chance you guys can confirm if these issues are still relevant in the current master branch? thanks

[2015-08-07 22:38] lirantal commented on #577
@sielay I'm not sure I understand, can you further elaborate on the story here?

[2015-08-07 22:39] lirantal commented on #514
Issue seem to have been resolved, closing.

[2015-08-07 22:39] #514 closed

[2015-08-07 22:42] #620 closed

[2015-08-07 22:43] lirantal commented on #628
I'll leave it open a for a while, and then we can close but I'd suggest a more 'social' ways of doing this like simply asking in twitter :)

[2015-08-07 23:31] mg1075 opened #772 "1. authorization: client side, 2. authentication and authorization: socket calls"
1. There is an angular Authentication service on the client. Is there a reason why the client does not also have an Authorization service? I see the client routes pass data object with an array of roles, but is there an example showing the canonical way to leverage those client side roles?

2. There is a policies folder on the server in a module such as the "articles" module. Then the server route

[2015-08-08 05:43] lirantal commented on #221
So @codydaig are we going for grunt-uncss or puritycss?

[2015-08-08 05:44] lirantal commented on #772
@trainerbill @rhutchison

[2015-08-08 06:19] deepakbhattarai commented on #486
Great. It is working in the master branch.

[2015-08-08 06:19] #486 closed

[2015-08-08 06:20] mleanos commented on #772
@mg1075 I can't really speak too much to your first question, regarding the services. My understanding is the `auth.server.routes` don't necessarily need a client service. These routes will be used from external calls, more often than not. For instance `/api/auth/forgot` will be accessed directly from an email when using the *Password Forgot* feature. That's initial guess.

As for your second ques

[2015-08-08 07:30] mleanos commented on #772
@mg1075 If you're worried about not having Authorization on the server, for your Socket config listeners, then you can implement any sort of logic to check Authorization, at the listener. For instance, if you would like to make sure someone has *permission* to send a message to a particular user, then you can put that check in your `chat.server.socket.config` listener.

I have a few custom Modules

[2015-08-08 08:23] kitz17 opened #775 "Integrate MEAN.JS with RequireJS?"
While using third-party libraries, I need to arrange the order of JS files in config file's `assets.lib.js[]` manually.

For example, I am using jQuery and some jQuery plugins, such as jQuery.linkify.js, I must put jQuery before all jQuery plugins' JS files and double check the order to make sure the dependencies are ready. Not only because of jQuery plugins, I am also using many angular modules t

[2015-08-08 11:18] mleanos commented on #715
@debrouxl I thought I had a similar need. However, turns out mine isn't a need at all :) My little thought experiment reminded me of this issue you opened. When I first read it, I didn't have much perspective. I think you have something here. However, I'd like to understand your need a bit more.

Could you elaborate on the relationship between your proxy & the client applications? I'm a little fuz

[2015-08-08 12:32] kikoseijo commented on #203
Im facing same problem, using:
yo meanjs:angular-service

After i try to use in the controller throws an error:
Error: [$injector:unpr] Unknown provider:

[2015-08-08 13:50] debrouxl commented on #715
The reverse proxy multiplexes access to completely separate applications (different physical servers, different implementation languages, different programmer teams) in the following way:
[code]
etc.

Clients, usually Web browsers, need to make requests below
[code]
for a given application to work. The applications running on the server behind the proxy need to either be able to deal with that "/a

[2015-08-08 16:55] sielay commented on #293
I had no problems with this in 0.4.0 or don't remember them.

[2015-08-08 16:58] cdriscol opened #777 "Menus service bug in removeSubMenuItem and removeMenuItem"
The following methods in the Menus service are currently buggy..

[_removeMenuItem_](https://github.com/meanjs/mean/blob/master/modules/core/client/services/menus.client.service.js#L146)
[_removeSubMenuItem_](https://github.com/meanjs/mean/blob/master/modules/core/client/services/menus.client.service.js#L163)

__Can reproduce with:__
[code]

__Cause:__
Both methods attempt to remove a menu item th

[2015-08-08 17:46] lirantal commented on #293
Cool.

[2015-08-08 17:46] #293 closed

[2015-08-09 01:46] codydaig commented on #583
Fixed in #780!

[2015-08-09 03:04] codydaig commented on #775
@kitz17 From my understanding of Javascript in the browser, you have to define the order that JS files are loaded in. I think even if you use RequireJS, you still have load items in the right order.

[2015-08-09 05:49] kitz17 commented on #775
Yea, it is actually the way I am doing now, there is a right order in my config file's  `assets.lib.js[]`.

But it would be a great idea if I could just specify (or register) the dependencies for each JS libraries without specific order, after all the needed JS libraries are defined, then the application would load the JS files in correct order for me, depends on their dependencies.

Something lik

[2015-08-09 09:49] codydaig commented on #775
@kitz17 That's unfamiliar territory too me. One solution I found is (https://oclazyload.readme.io/). Hope that helps, that's all I got. Hopefully someone else here, who experienced this before has a solution for you!

[2015-08-09 15:57] h3xc0ntr0l opened #782 "Possible initialization issue - model isn't being loaded in time for application"
So, I [posted] in the google groups an issue I was having extending Articles. I discovered that one of my errors was not *really* an error as much as JSHint just using 'Comment' as a reserved word. So, I added the lines

    /* jshint:ignore start */
    var Comment = mongoose.model('Comment');
    /* jshint:ignore end */

and hacked together a way to get my code to keep running even though JSHint

[2015-08-09 16:02] codydaig commented on #782
@h3xc0ntr0l Can you post the code where you define the Comment Schema?

[2015-08-09 20:20] QiyuLi opened #783 "Shoud .jshintrc use space-2 to keep consistency?"
In the
https://github.com/meanjs/mean/blob/master/.jshintrc#L33
it use 4 space as ident.

However, in the
https://github.com/meanjs/mean/blob/master/.editorconfig#L18
it use 2 space as ident.

Is there any conflicts between these?

[2015-08-09 21:43] codydaig commented on #783
@QiyuLi #766 address this and actually removes it from the jshint file. Nice catch though!

[2015-08-09 21:46] QiyuLi commented on #783
Oh, didn't check that. Thanks!

[2015-08-09 21:46] #783 closed

[2015-08-09 21:46] codydaig commented on #783
@QiyuLi Np. Thanks for pointing that out!

[2015-08-10 11:31] aralroca opened #784 ""Grunt build" command not build as expected"
I executed `grunt build` and created `dist` directory with: ***application.js*, *application.min.css* and application.min.js**

The **NODE_ENV** varibale is `development`.

I repeat now the process, and the new  `grunt build` that I did don't generate the files `.js`with the new code that I programmed. Again generates the old code before the new modifications...

*Why?*

*How can I solve this prob

[2015-08-10 16:33] lirantal commented on #784
when did you last update your 'master' repository? it looks like the previous version of mean.js
can you check by cloning mean.js's master branch?

[2015-08-10 17:33] AlexisTM commented on #583
I am glad I contributed to Mean!
On Aug 9, 2015 3:46 AM, "Cody B. Daig" <notifications@github.com> wrote:

[2015-08-10 19:21] sparshy opened #786 "How is authentication working here?"
I am new to MEAN stack, can someone tell how is authentication actually working here?
 When the user logs in,where is the USER json object stored. The code is

    $scope.authentication=Authentication;
    // If successful we assign the response to the global user model
    $scope.authentication.user = response;
 but in console window.user returns null

*Another question, how the app retains the u

[2015-08-10 20:07] lirantal commented on #583
@AlexisTM keep it up  :)

[2015-08-10 20:15] aralroca commented on #784
Yes, it's old version of mean.js sorry. I started the university project in december and I didn't updated yet... my fault...  Is an issue from old version? is it solved?  Thanks. I want to start to update my project but I can't do a "git pull" because I have a lot of new code and the new version of mean have a lot of changes and I don't know how... If I did a clone of master and execute `grunt bui

[2015-08-10 20:59] mleanos commented on #786
@sparshy I'm not super familiar with the authentication logic, but perhaps these are what you're looking for...

https://github.com/meanjs/mean/blob/master/modules/users/server/config/users.server.config.js#L21
https://github.com/meanjs/mean/blob/master/config/lib/express.js#L112
https://github.com/meanjs/mean/blob/master/modules/users/server/config/strategies/local.js#L12

From what I understand,

[2015-08-10 21:06] lirantal commented on #784
do you remember if you cloned back then the 0.4.0 branch or the master branch of mean.js?
maybe you can easily check by peaking in your package.json?

[2015-08-10 21:32] rmlopes commented on #770
I just pulled the master in OS X and all the tests pass.

[2015-08-10 21:56] lirantal commented on #770
Great, thanks.

[2015-08-11 01:20] mleanos commented on #490
+1

[2015-08-11 03:20] rhutchison commented on #488
This was resolved by #666 (https://github.com/Gym/mean/commit/3e378b4a54f7393b0fbe9f522fdd4a329c41b5f4)

Close

[2015-08-11 05:01] sparshy commented on #786
@melons this is the server side implementation, how the server deserializes the userId to get user object. Can you please explain the client side implementation in angularjs, what happens when you first sign in and when the pages is refreshed? Particularly the `Authentication` service.

Also, can you confirm that is the entire user object `id:xyz, displayName:abc .... ` being sent with every respo

[2015-08-11 06:20] aralroca commented on #784
I cloned the day 2014-12-09, the version is 0.3.3, just this: https://github.com/meanjs/mean/tree/daa124a4f3b9ca5e8aaeef3f5a9457298c160ae5

[2015-08-11 06:37] lirantal commented on #784
Sorry but there's not much I can help out here.
With that said, I remember there was an issue opened in the past about the problem that the grunt jobs don't always use css/js files from other (possibly custom/new) locations. So I highly recommend you to vigorously search for that in the issues in hope that you can find the fix there.

[2015-08-11 06:40] lirantal commented on #488
Thanks Ryan, closing.

[2015-08-11 06:40] #488 closed

[2015-08-11 12:33] akkonrad opened #788 "Adding custom route to custom document."
Hi, this is just question about how things should work, it's not an issue.
I'm struggling with this for a while and I'm not sure what I miss and would like to understand what is happening here actually.

In my custom module (let's say it's named document) I want to create custom route that will display only some information about this document. This route will be accessible for all users.

Basic m

[2015-08-11 13:25] aralroca commented on #784
Ok! Thanks for answer it :+1:

[2015-08-12 20:35] lirantal commented on #607
I guess now that 0.4 is out with the vertical modules we can close this

[2015-08-12 20:35] #607 closed

[2015-08-13 13:26] aralroca opened #792 "Best practice to communicate REST API with SocketIO?"
I have a question...

I want to call the methods "*leave*" and "*join*" in **socketIO** from  **REST API**  methods (server controllers) .

* What is the best practice to do that?
* How can I get the current socket in the REST API?

*Thank you a lot!*

[2015-08-13 16:32] scottbcovert commented on #398
FWIW if anyone runs across this while using Docker for development/deployment w/ live reload a good place to start looking is the paths you're using for volume mounting. As per docker/docker#13121 if your local path is invalid Docker will create the path on your host machine rather than throw an error. This means the app and public folders mounted to your container will be empty so your Mongoose m

[2015-08-13 17:22] trainerbill commented on #775
@kitz17 Start a fork/branch and try out requireJS.  If you get it working with MEAN and its a better alternative submit a PR and we will discuss it!

[2015-08-13 17:26] trainerbill commented on #769
@andreafdaf I too would like to use templateCache.  I have a PR to return the /client to the include URL's

https://github.com/meanjs/mean/pull/758

I want to get that merged in and then work on a templating solution as well.  Lets start by +1 that PR to get it in and I would work with you on getting templateCache introduced.  It would increase performance as well.

[2015-08-13 18:15] lirantal commented on #398
thanks @scottbcovert

[2015-08-13 19:39] #784 closed

[2015-08-14 06:58] #788 closed

[2015-08-14 07:52] aralroca opened #802 "How to do that session expiring automatically?"
I want that the session expires after 72 hours. What part of the MEAN.JS code I need to modify to do that? I'm not very familiar with ExpressJS. Thank you so much!

[2015-08-14 08:45] pgrodrigues commented on #802
I believe you are looking to set a maxAge for session cookie, something like this: http://stackoverflow.com/questions/10429557/whats-the-correct-way-to-use-maxage-with-express-js.

In MEAN.JS you just have to add `cookie: {maxAge: 259200}` to the "Configure Express session" block in `config/lib/express.js`.

[2015-08-14 09:46] aralroca commented on #802
Thank you a lot!

[2015-08-14 11:19] lirantal commented on #802
Hi @aralroca,
I created a PR to address this problem: https://github.com/meanjs/mean/pull/803

[2015-08-14 13:32] lirantal commented on #802
Updated PR https://github.com/meanjs/mean/pull/804 has been merged so this is already available to you in `master` branch @aralroca
Thanks for letting us know!

[2015-08-14 13:32] #802 closed

[2015-08-14 14:16] lirantal commented on #372
Guys is this still an issue with the latest `master` branch? can you please confirm?

[2015-08-14 15:11] lirantal commented on #598
Closing due to no update

[2015-08-14 15:11] #598 closed

[2015-08-14 15:13] lirantal commented on #448
Still an issue @wang3g ?

[2015-08-15 01:54] jloveland commented on #389
Any update on token auth? What's the plan now that #559 is stalled out?

[2015-08-15 06:58] lirantal commented on #389
It's on the to-do list.

[2015-08-15 14:14] michalmw opened #808 "Upload image with article"
Hello,

i want to do upload image with save article. I try find somethink in google about 'upload image in angular' but, all script have url adres, fields and speciall callback().

Mayby you know - How do easy upload image in meanjs? I'm learning angular / mean and hard script isn't for me. Someone can help?

[2015-08-15 14:19] lirantal commented on #808
Sounds like a good candidate for a PR. You can see an example of a file
upload by checking how the profile user image was built.
On Aug 15, 2015 5:14 PM, "michalmw" <notifications@github.com> wrote:

[2015-08-15 14:31] michalmw commented on #808
Hmm.. where is this example file? When i build app with yeoman i don't have example upload image in profile.

[2015-08-15 14:53] lirantal commented on #808
The yeoman generator uses the previous 0.3.3 version,and today we already
have 0.4 working  in master branch. Clone it to experience the new version.
On Aug 15, 2015 5:32 PM, "michalmw" <notifications@github.com> wrote:

[2015-08-15 15:05] michalmw commented on #808
Thx for help - Can i update app to 0.4? I have create models and vievs in 0.3.3 and if i clone new version i must create new. Mayby is special command to update?

[2015-08-15 15:15] lirantal commented on #808
There's no easy way to update except to copy to files to their new
locations in the 0.4 directories.
On Aug 15, 2015 6:05 PM, "michalmw" <notifications@github.com> wrote:

[2015-08-16 02:59] spyhole commented on #369
+1 for Material design lite (https://github.com/google/material-design-lite)

[2015-08-16 13:07] ilanbiala commented on #775
@kitz17 RequireJS is just another abstraction (and also complication) when developing. Before even making a PR, please justify why it would be better than simply keeping the order like we do now.

[2015-08-16 13:20] ilanbiala commented on #369
@spyhole I checked out MDL a couple weeks ago, but I didn't notice any way to use it with Angular. Is there a specific page/part I'm missing?

[2015-08-17 00:48] mleanos commented on #792
@aralroca Can you give any more info on what your requirements are?

Is there a need to access these REST API methods externally, from your application? If so, how are you handling User authentication?

If this will be used solely from your application, I would recommend using the Socket service to emit an event to a *core* socket config listener on the server. Similar to the Chat listeners in `ch

[2015-08-17 09:25] vaucouleur opened #817 "File naming conventions: Users (Admin) module versus Article module"
There are two minor (harmless) inconsistencies in the naming of the view files :

- either object-verb ("user-edit") versus verb-object ("edit-article")
- the view page being either object alone ("user") versus view-object ("view-article")

Users (admin) pages:

* user-edit.client.view.html
* user.client.view.html
* user-list.client.view.html

versus Article pages:

* edit-article.client.view.html

[2015-08-17 14:13] bojanbass opened #818 "Modules organization"
Hi guys!

First of all I have to say you are writing awesome stuff!!

I have a small question regarding code organization when using new vertical modules structure in 0.4 version. There's already a User module defined in meanjs which handles user profile, login and other stuff on client and server side. Let's say I have another module inside my application called Configuration, which allows some w

[2015-08-17 20:09] lirantal commented on #739
Code coverage has been addressed as part of MEAN.JS in this PR: https://github.com/meanjs/mean/pull/811

[2015-08-17 20:09] #739 closed

[2015-08-17 20:11] michalmw commented on #808
Hello, im installed this. Profile have upload image and working ;D.

But is very hard to implemend in article. Maybe have you easy tutorial how to add to article or what i must copy to my controller?

[2015-08-17 20:18] lirantal commented on #808
Sorry @michalmw
I don't have anything out of the box except the code-base in your hand... that's the best documentation at this point.

[2015-08-17 21:35] lirantal commented on #817
@vaucouleur right.
you're welcome to suggest a convention and a PR, once we've made a decision to resolve it.

[2015-08-17 22:00] lirantal commented on #818
Hi @bojanbass,

MEAN.JS is somewhere between a boilerplate and a framework, but it's definitely not a fully fledged platform so this means that there is a method you need to adopt for working on top of it once you choose it.

One suggestion is to keep the core users/ directories as they are and maybe treat them carefully with security concerns such as remove some routes if you deem them as somethi

[2015-08-17 22:03] michalmw commented on #808
Ok, then last question.

In version 0.4 can i fast create new modules? or i must copy folder? e.x. 0.3 have yo and nice generator. i 0.4 only copy folder or manualy create?

[2015-08-17 22:05] lirantal commented on #808
@michalmw the generator only supports the previous 0.3.3 version for now.
There's no 0.4 version for it so yeah, there's no automated way of generating module skeletons.

[2015-08-17 22:17] codydaig commented on #817
I personally like the structure of the article page names.

[2015-08-17 22:36] michalmw commented on #808
Thx.

When i copy folder my console error:
[code]
This file see like that:
[code]
Have you any idea?

[2015-08-17 23:15] mleanos commented on #808
@michalmw Could it be possible that you're including this server controller elsewhere as well?

As for your question regarding a generator... You can use the yeoman vertical module generator. I'm using `yo --version` 1.4.7. After you verified that you have yeoman installed, you can execute the following function, and it will walk you through the steps to create the vertical module.

`yo meanjs:ver

[2015-08-18 05:22] #777 closed

[2015-08-18 05:55] codydaig commented on #292
@lirantal Since there's no activity on this, can we close this issue.

@wesleyfsmith @zaikin-andrew If your still having issues with the latest master branch, feel free to open a new issue!

[2015-08-18 06:04] codydaig commented on #221
I'm unfamiliar with grunt-uncss. Personally, I'd pick purifycss. I submitted a new PR against master #819. It's open for discussion.

[2015-08-18 08:28] mleanos commented on #817
Same here. I like prefer the articles view naming convention.

[2015-08-18 09:13] vaucouleur commented on #817
Ok, thanks for the feedback.

There is also a simple, yet important, argument in favor of the Article module naming convention: there is much more generated "Article" (or "Article-like") modules out-there, than the relatively recent "user admin" pages. The changes should have relatively less impact in terms of merging.

@rhutchison Is renaming the files using the Article module convention OK with

[2015-08-18 09:34] michalmw commented on #808
@mleanos thx for you answer ;-). I try do this.

[2015-08-18 09:54] #292 closed

[2015-08-18 12:22] michalmw commented on #808
@mleanos i try another modules in:
[code]
But yo install all application 0.3 (i have this same version yo).

Then i copy folder articles and paste in another name 'Wydarzenia'.
I change all name in controller, config and all file. And i have only one error. When i go on
/wydarzenia

i see page and console log show:
[code]

But when i go on /create
[code]

I think somethink i do wrong. Mayby can yo

[2015-08-18 21:12] trainerbill commented on #817
I like user.list.client.html or article.list.client.html.  I can include the article pieces in my refactor once its concluded:

https://github.com/meanjs/mean/pull/800

[2015-08-19 06:24] lirantal commented on #817
I thought this whole question was about whether the convention is to use 'user' as a first word in the files or the actual action 'list', so basically it's 'user.list' vs 'list.user'

Whether we use dots or dashes doesn't really matter to me, but I tend towards dots as I see it also used in other frameworks.

So I think we're quite in agreement here?
@ilanbiala or @rhutchison ?

[2015-08-19 06:58] codydaig commented on #770
@rmlopes Was your issue resolved? If so, can this issue be closed?

[2015-08-19 07:10] codydaig commented on #749
Can this issue be closed since it's currently up for discussion in #447?
@iamnizzam If you have specific questions or run into snags along the way, we'd be happy to help if you can provide us with more information! :-D

[2015-08-19 07:15] codydaig commented on #477
@karan-kapoor90 Are you still interested in submitting a PR for this?

[2015-08-19 07:19] codydaig commented on #120
There's currently a PR open for this: #795

[2015-08-19 07:23] codydaig commented on #583
@lirantal I think this issue can be closed since it was resolved in #780.

[2015-08-19 07:28] codydaig commented on #550
@amrfaisal We're you able to figure anything out or are you still looking for some suggestions?

[2015-08-19 07:29] codydaig commented on #510
@junit38 Are you still having issues?

[2015-08-19 07:36] junit38 commented on #510
Yes even with the new release (of MeanJs)

[2015-08-19 07:38] amrfaisal commented on #550
I just followed some suggestion, but I badly looking for other suggestions if any.

[2015-08-19 07:40] codydaig commented on #510
@junit38 So, are you suggesting that https://github.com/meanjs/mean/blob/master/modules/users/server/config/strategies/twitter.js#L15 needs to be changed to:
[code]

[2015-08-19 07:40] codydaig commented on #550
@amrfaisal What's your current method that your following?

[2015-08-19 07:46] junit38 commented on #510
Yes it seems to be the right solution.

[2015-08-19 07:49] codydaig commented on #510
@junit38 Can you find something that backs that solution? I can't find anything in the passport-twitter codebase to justify that. Everything says you need to pass in the callback url with the key 'callbackURL'

[2015-08-19 07:59] codydaig commented on #697
@ilanbiala https://developers.facebook.com/docs/graph-api/reference/v2.3/user
There is no 'emails' field, it's only 'email'.

@benmarten Do you want to create the PR against the master branch?

[2015-08-19 08:00] junit38 commented on #510
If you try to connect to twitter with the current passport strategy an error message will be sent:
[code]

[2015-08-19 08:03] codydaig commented on #372
I am unable to reproduce on the latest master branch on 8.0.7 on mac os 10.10.4.

[2015-08-19 08:04] junit38 commented on #510
Maybe if an error due to twitter's app parameters

[2015-08-19 08:06] codydaig commented on #510
From researching it, I think it's something with your app settings on Twitter and that you have to provide the callback url on twitter as well

[2015-08-19 08:09] codydaig commented on #399
@sylvainlap We're you able to figure this out?

[2015-08-19 08:10] codydaig commented on #772
@mg1075 Do you still need help or can this issue be closed?

[2015-08-19 08:11] lirantal commented on #372
Thanks for looking into it @codydaig , can be closed then.

[2015-08-19 08:11] #372 closed

[2015-08-19 08:12] codydaig commented on #577
@sielay So you want to have subdomains that are running their own instance of MEAN.js and databases, but you want them to share sessions, user accounts, and permissions?

[2015-08-19 08:24] junit38 commented on #510
Ok so it's maybe a StackOverflow issue.

[2015-08-19 08:32] codydaig commented on #510
@junit38 Did you check your application settings on Twitter?

I'm going to set-up a test app tomorrow to mess with social authentication (like twitter, facebook, etc...). I'll check back in tomorrow and see if you've found anything or if I was able to make it work.

[2015-08-19 08:37] junit38 commented on #510
Yes I checked them. The problem is I can't set localhost as the application Callback Url.

[2015-08-19 09:49] rmlopes commented on #770
All the user model  tests on the master are passing both in Windows and OS X.

[2015-08-19 10:04] lirantal commented on #510
@junit38 makes sense...
so I think we can close this issue

[2015-08-19 10:04] #510 closed

[2015-08-19 10:07] lirantal commented on #770
Great, thanks @codydaig  and @rmlopes

[2015-08-19 10:07] #770 closed

[2015-08-19 10:09] lirantal commented on #550
@amrfaisal but you're basically just asking about architecture and application development so this is quite off-topic from the actual mean.js framework core. I think a better place would be stackoverflow, reddit, or that kind of medium.

[2015-08-19 10:09] #550 closed

[2015-08-19 10:11] lirantal commented on #577
If that's the case then first thing is to make sure you that sessions are stored in a shared area like mongodb, redis, etc. Which will also make your app stateless (that is a good thing).

[2015-08-19 10:11] lirantal commented on #583
Thanks @codydaig

[2015-08-19 10:11] #583 closed

[2015-08-19 10:14] lirantal commented on #749
yeah I guess so, let's take the discussion to #477 anyway.

[2015-08-19 10:14] #749 closed

[2015-08-19 13:59] trainerbill commented on #817
I personally like list.user.client.html.  Person is going to know they are in the users module so its important to put the action first.  IMO

[2015-08-19 14:43] mleanos commented on #817
:+1: I agree that the *action* should be first in the naming convention... and I prefer dots as well.

[2015-08-19 19:27] lirantal commented on #120
right, we can close this.

[2015-08-19 19:27] #120 closed

[2015-08-19 20:42] codydaig commented on #570
@thanhthang20 Did you get your issue resolved or can this issue be closed?

[2015-08-19 20:45] codydaig commented on #370
@albertboada Is this still an issue on the latest master branch?

[2015-08-19 20:46] codydaig commented on #508
@lirantal Can this issue be closed?

@munikumar604 If you are still having issues, feel free to reopen the issue and provide us with more information. Thanks!

[2015-08-19 20:49] codydaig commented on #715
@debrouxl This seems to be a unique use case. If I were you, I would look into express middleware and see what options there out there. If you come up with a solution you can submit a PR for discussion to see if it's a direction the community would like to take.

[2015-08-19 20:50] codydaig commented on #511
@junit38 Are you still having issues?

[2015-08-19 21:01] codydaig commented on #183
@lirantal From looking at my the current code and the output of the build process, it seems like this has been resolved. Shall we close this issue?

@NeverOddOrEven @Edo78 If your still having issues with this, feel free to open a new issue!

[2015-08-19 23:48] thanhthang20 commented on #570
I use another framework instead of MEAN now, thanks!

[2015-08-19 23:48] #570 closed

[2015-08-20 05:12] mleanos commented on #533
@AliceRossa perhaps this PR is something along the lines of what you need? #807

[2015-08-20 06:24] lirantal commented on #570
Huh?!
![image](https://cloud.githubusercontent.com/assets/316371/9377018/2ca96bf0-471d-11e5-825e-e4899c437b1f.png)

:)

[2015-08-20 06:27] lirantal commented on #183
Yep, it's quite old and no one replies back so let's close otherwise people can re-comment still.

[2015-08-20 06:27] #183 closed

[2015-08-20 07:49] sparshy opened #828 "CSRF protection middleware for the app?"
are there any plans to implement CSRF protection as the app uses cookie based authentication?

[2015-08-20 09:02] bojanbass commented on #818
Ok, I will try to implement it like you said. Tnx.

[2015-08-20 09:02] #818 closed

[2015-08-20 09:33] pgrodrigues commented on #828
This should indeed be addressed. You can follow the guidelines [here](http://charandeepmatta.com/2014/06/04/csrfxsrf-protection-express-angular/), which suggests to use csurf express middleware.

You dont need to do anything in the frontend as long as you keep things within the Angular way, because Angular will deal with it by itself, as meantioned in the docs:

[2015-08-20 15:48] codydaig commented on #828
@sparshy https://github.com/expressjs/csurf would be my recommendation to start. :-D Happy Hacking!

[2015-08-20 16:00] lirantal commented on #828
I would also look into PayPal's Lusca project which as a candidate

[2015-08-20 16:06] lirantal commented on #508
Closing

[2015-08-20 16:06] #508 closed

[2015-08-20 16:07] pgrodrigues commented on #828
Didn't know lusca, it seems like a mix between csurf and helmet.

[2015-08-20 16:08] lirantal commented on #370
Quite old, closing for now.

[2015-08-20 16:08] #370 closed

[2015-08-20 16:13] sparshy opened #829 "Password is being stored in clear text if length is 6"
Password is being stored in clear text if length is 6, just an equal sign is required here, or make sure min length for password is 7

    /**
     * Hook a pre save method to hash the password
     */
    UserSchema.pre('save', function (next) {
      if (this.password && this.isModified('password') && this.password.length >6) {
        this.salt = crypto.randomBytes(16).toString('base64');

[2015-08-20 16:16] codydaig commented on #829
@sparshy I will look into this and verify on my end.

[2015-08-20 19:21] mleanos commented on #808
@michalmw Did the yo generator install the vertical module correctly?

Can you share the wydarzenia controller code?

[2015-08-20 19:33] michalmw commented on #808
Server -> wydarzenia.server.controller.js
[code]
Server=> model -> wydarzenie.server.model.js
[code]
Client->controller -> wydarzenia.client.controller.js
[code]

[2015-08-20 19:51] mleanos commented on #808
@michalmw What is `Wydarzenia` that's being injected into your controller. Looks like it's meant to be a service?

The errors indicate to me, that `Wydarzenia` isn't defined properly; thus, it's being injected as `undefined`.

[2015-08-20 21:23] codydaig opened #831 "Article Refactoring"
This issue is too coordinate the outstanding PR related to the refactoring of the Articles and get them merged in.

My current proposal for the order of priority of the PRs:
#807 - Articles Admin Feature by @mleanos
#800 - Articles refactor by @trainerbill
#823 - Renaming of Files by @vaucouleur

My reasoning:
#800 should wait until after #807 since #800 is changing portions of files that will no

[2015-08-20 21:54] rhutchison opened #833 "0.4.1 Release"
We are tracking towards the release of 0.4.1.  This thread is to discuss what needs to be finalized before we can cut the release.  If there are any PRs or open issues that should be added to the list, please comment below.

### General
 - [x] #759 [Enhancement] client-side validation @ilanbiala
 - [x] #796 [Enhancement] http interceptor to handle unauthorized requests @ilanbiala
 - [x] #843 [Bug]

[2015-08-20 22:21] michalmw commented on #808
@mleanos Wydarzenia is to same as article but have another field. In english is 'event'.

In my app i want create article and event. And when i copy folder 'articles' and change name:
Articles - Wydarzenia [is many]
Article - Wydarzenie [is one]

and paste to folder /modules. For example in my menu i have 'wydarzenia' and when i click 'wydarzenia list'
i have in my console.log... :
[code]
and i ha

[2015-08-20 22:25] ilanbiala commented on #833
I don't think the style guide is making it into 0.4.1. Other than that, I'm fine with the rest of the list.

[2015-08-20 22:26] simison commented on #833
Nice! What do you think about including #639?

[2015-08-20 22:27] simison commented on #833
@ilanbiala do you recon style guide could do pre 0.5.0? I could start helping with it within a week or so (holidays over).

[2015-08-20 22:32] rhutchison commented on #833
@ilanbiala other than it requires work, what is the reasoning for not setting styleguide as a stretch goal?

[2015-08-20 22:38] simison commented on #369
BTW Bootstrap 4.0 [is in alpha now](http://blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha/).

[Angular-Material](https://material.angularjs.org/latest/) is still in flux. I'd stick with 3.0 for a while and see if Angular-Material gets more stable.

[2015-08-20 22:55] mleanos commented on #831
@codydaig I agree with your assessment.

I think #823 should be it's own PR @vaucouleur can rebase & modify once the other two are merged. Seems like the path of least resistance, IMO.

[2015-08-20 23:17] mleanos commented on #833
@rhutchison I think the order which the Articles PR's should be merged is important #831

I think development will go a lot fast once we get the Styling guide implemented. We'd end up having to re-do work if we waited.. If there's good reason to wait, then I say push it till after 0.5.0 or as a requirement for 0.5.0.

[2015-08-21 00:20] mleanos commented on #833
@rhutchison I'm fine with #800 going in before #807 since it requires a bit more discussion.

[2015-08-21 00:21] mleanos commented on #831
@codydaig @rhutchison I relinquish my stance on the order of #800 & #807. I'm fine with #800 going in first. We need to discuss #807 more anyways.

[2015-08-21 01:36] codydaig commented on #808
@michalmw What does your wydarzenia.client.service.js Look like? From looking at the above code and the error message, it's failing inside the service.

[2015-08-21 01:36] codydaig commented on #808
@michalmw Feel free to post the repo too so we can just look at everything instead of forgetting the exact list of files you need to post. :-D

[2015-08-21 01:44] xiaoyang2022 opened #834 "能不能不使用grunt做工程自动化，使用gulp呢？"
能不能不使用grunt做工程自动化，使用gulp呢？

[2015-08-21 01:46] codydaig commented on #834
Translation: Can you use gulp instead of grunt for automation?

[2015-08-21 01:48] codydaig commented on #834
@xiaoyang2022 Yes! 对

[2015-08-21 02:00] xiaoyang2022 commented on #834
yes,i like gulp,grunt not easy!

[2015-08-21 02:03] xiaoyang2022 commented on #834
gulp is better than grunt to use,yours mean-stack will be use it?

[2015-08-21 02:06] codydaig commented on #834
@xiaoyang2022 Currently the project uses both! We have plans to switch over to gulp, but for now, both work.

[2015-08-21 02:11] xiaoyang2022 commented on #834
very good! gulp is very good,grunt don't to use that is more works for develper and it more profile.thanks

[2015-08-21 02:14] codydaig commented on #834
@xiaoyang2022 If you have any more questions, feel free to ask, otherwise go ahead and close the issue and Happy Hacking!

[2015-08-21 02:14] #834 closed

[2015-08-21 11:38] vaucouleur commented on #831
@mleanos @codydaig  :+1:

[2015-08-21 11:51] junit38 commented on #511
Yes, the user provider's data are no refreshed on each signin.
The lines to change is now in the file:
modules/users/server/controllers/users/users.authentication.server.controller.js

at line 175-177:

[code]

[2015-08-21 19:54] lirantal commented on #833
Thanks guys for summing this up.
Can you please add the assigned person (me/Ilan) per issue so we can easily navigate to relevant items?

@ilanbiala you're welcome to add/remove items.
@rhutchison I'm overall in agreement with @ilanbiala about not pushing too big items such as the UX work. As you can see we're already doing *much* better in terms of agile and fast releases so it will be sure to ca

[2015-08-21 19:55] lirantal commented on #369
Honestly I think we have other PRs to resolve before we rush into Bootstrap 4 or Material Design.
This can wait...

[2015-08-21 20:47] rhutchison commented on #833
@lirantal I never had the UX story in this list, I would like to see effort towards ngBestPractices though.  The UX can come in 0.4.3.

BTW, good work keeping the project moving - much improved

Also, I don't think non-contributors can manage/assign issues.

[2015-08-21 21:16] lirantal commented on #833
Thanks, we're all doing a great job here, definitely feels like we should meet for some beer somehow ;)

With regards to the issues assigned, I meant to update them in the bullets list above so it's easier to see whose assigned to one in that list you've put up there.

[2015-08-21 21:40] #829 closed

[2015-08-21 22:46] #831 closed

[2015-08-22 09:32] xiaoyang2022 opened #838 "maybe to use "express-restify-mongoose" in project?"
https://github.com/florianholzapfel/express-restify-mongoose

maybe to use "express-restify-mongoose" in project? it will be easy to modules of angular,i hear your suggests to me!

[2015-08-22 10:21] michalmw commented on #808
@codydaig my wydarzenia.client.service.js

[code]

[2015-08-22 15:47] codydaig commented on #828
@sparshy Did that answer your question?

[2015-08-22 15:53] codydaig commented on #697
#839

[2015-08-22 15:56] codydaig commented on #577
@sielay Did that answer your question?

[2015-08-22 16:33] sparshy commented on #828
Yes @codydaig, thanks I will try to implement CSRF tokens on my branch as soon as I get time. Yo guys do have a future plan to implement it in the main branch?

[2015-08-22 17:29] lirantal commented on #828
@sparshy indeed, security is also something we're investing efforts in (specifically I've been working on this front as well with my previous PRs about session security/cookies, etc).

Would be great to see a PR for that whenever you have time to work on it

[2015-08-23 17:13] codydaig commented on #697
@benmarten @lirantal I have tested this on the latest branch, and it works with 'emails' so I am unable to reproduce this issue.

[2015-08-23 19:58] benmarten commented on #697
Hey, so it seems that in latest master branch strategies/facebook.js is gone... I tested it again, and now i see the following error message:
<img width="960" alt="screen shot 2015-08-23 at 21 58 38" src="https://cloud.githubusercontent.com/assets/5960238/9429946/23a3b598-49e2-11e5-8396-0a0b1664bf20.png">

[2015-08-23 20:21] rhutchison commented on #697
@benmarten are you using the latest master?

https://github.com/meanjs/mean/blob/master/modules/users/server/config/strategies/facebook.js

[2015-08-23 21:08] benmarten commented on #697
Hm, sorry I am confused...

https://github.com/meanjs/mean/tree/master/config/env it's not there?

	Ben@Bens-MacBook-Pro ~/N/mean> git checkout master
	M	config/env/development.js
	Already on 'master'
	Your branch is up-to-date with 'origin/master'.
	Ben@Bens-MacBook-Pro ~/N/mean> ls -l config/env/
	total 56
	-rw-r--r--  1 Ben  staff  2255 Aug 23 23:00 cloud-foundry.js
	-rw-r--r--  1 Ben  staff

[2015-08-23 21:21] benmarten commented on #697
Ah ok found it ;)

So first I see this issue:
    GET /api/auth/facebook?redirect_to=%2F 302 2.370 ms - 0
which seems to lead to the error in the screenshot from above.

Also the fb login is not working for me.

I tested it by putting some console.log() in the code and it seems that config/strategies/facebook.js isn't called anymore at all! Now only user.oauthCall() function is called...

[2015-08-23 21:23] lirantal commented on #697
@rhutchison seems related to the issue I recently merged about the previous page in history bug (https://github.com/meanjs/mean/commit/cfe71bb3de02ab10522b56bf671badab5110e9ff)

[2015-08-24 03:43] ilanbiala commented on #833
Sorry guys, but I have orientation week until Friday, so I'll be slow to get to these issues, though I will try my best. @lirantal if you want to take the lead on anything, I'm fine with that.

[2015-08-24 03:44] ilanbiala commented on #369
Yes, that is agreed. Functionality before a redesign.

[2015-08-24 05:47] lirantal commented on #833
OK then. I'll sync with the guys on each issue to move it further.
On Aug 24, 2015 6:43 AM, "Ilan Biala" <notifications@github.com> wrote:

[2015-08-24 09:30] Koblaid opened #847 "Security issue: Don't read the host of the application from the HTTP header"
mean.js reads the host of the application from the HTTP header and stores it in req.locals (see https://github.com/meanjs/mean/blob/master/config/lib/express.js#L43). This value is then used for example to generate the password reset link: https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.password.server.controller.js#L62

The HTTP host header field can be spo

[2015-08-24 10:28] lirantal commented on #847
@Koblaid the code https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.password.server.controller.js#L62 is simply creating the password reset URL, at that point it's not sent to anyone and it is created per the user who views that link.

Can you explain how would an attacker exploit that then?

[2015-08-24 10:36] lirantal commented on #847
@Koblaid nevermind I think I understand what you were referring to.
In my opinion we can handle this by:
1. introducing a config variable for users to setup their domain/host which will be used across the site
2. If (1) doesn't exist then we fallback to the `req.headers.host` or maybe the request's originating IP is more secure?

WDYT?

[2015-08-24 11:05] Koblaid commented on #847
I would prefer 1 and refuse to start if the config option does not exist.

Falling back to req.headers.host would mean to accept the security risk if the user forgets the option or is too lazy and does not understand the security implications. I think enforcing security is a good thing, especially if its done with a simple config variable.

The requests originating IP would be the IP-address of th

[2015-08-24 11:10] lirantal commented on #847
Well "refuse" is a bit harsh.
Some may choose to use MEAN.JS as an internal application and will not give much weight as to security considerations like that.

Can you offer another option without restricting the domain config?

[2015-08-24 11:22] Koblaid commented on #847
The only way of a fallback is using the HTTP header like it is done at the moment.

I think in the end it's a question of convenience vs security. If you prefer convenience for the users falling back to HTTP header is the best option.

My opinion is that software facing the web should prefer to add too much security in the case of doubt. I think users (me including :-) ) except frameworks such as

[2015-08-24 11:34] Koblaid commented on #847
Well instead of refusing to start maybe a red warning would be sufficient if the config is not set:

```To prevent HTTP Host header attacks please set the domain / ip-address of this app the config.```

[2015-08-24 11:45] jloveland commented on #847
:+1:

[2015-08-24 12:14] jloveland commented on #847
maybe put the following in default.js:
`hostname: process.env.HOST || 'localhost',`

and in production.js:
`hostname: process.env.HOST || 'www.yourdomain.com',`

then, add to options when creating the server:
https://github.com/meanjs/mean/blob/master/config/lib/socket.io.js#L55

WDYT?

[2015-08-24 12:24] Koblaid commented on #847
I think a default for production is dangerous, since there'll be no warning if the user forgets to change it.

How about this:

default.js:
```hostname: process.env.HOST```

developtment.js:
``` hostname: process.env.HOST || 'localhost'```

express.js:
[code]

[2015-08-24 12:26] jloveland opened #848 "Option to require stronger passwords"
We should considering adding an option to allow developers to set the password strength and have the client and server test for this. A good option would be to follow OWASP password length & complexity. This could leverage libs such as:
https://www.npmjs.com/package/owasp-password-strength-test

[2015-08-24 13:17] jloveland commented on #847
good call, the default for productions would be dangerous. I like the idea of a warning.

maybe we also put a comment in the production.js to remind people to set it?
`// hostname: process.env.HOST || '<INSERT YOUR DOMAIN>'`

[2015-08-24 13:28] daskreativ opened #849 "User Password is stored in clear text on 0.4.0"
The username on my installation is stored in the mongodb as clear text under password.
Should that not be hashed out of the box?
I tested with dev and with prod config.

[2015-08-24 14:12] vaucouleur commented on #817
I messed up the initial PR while trying to do some git surgery (conflict resolution). Sorry about that. I will re-submit a new one.

[2015-08-24 14:15] codydaig commented on #849
@daskreativ Are you using the latest master version? We came across this bug recently but it's been fixed.

https://github.com/meanjs/mean/pull/830

[2015-08-24 14:36] daskreativ commented on #849
i use the Branch 0.4.0
i think the latest master is still on 0.3.3 and there it works as far as i know (did not try now but a while ago).
But not in the Branch

[2015-08-24 15:12] pgrodrigues commented on #849
Branch 0.4.0 was merged into master a few weeks ago and the fix was only applied to master.

[2015-08-24 15:16] lirantal commented on #848
I vote for not making this an option but rather part of the framework.
I like it that we're making sure the framework is following secure guidelines and so we should adopt it.

@jloveland care to PR it?

[2015-08-24 15:33] lirantal commented on #847
Sounds good to me

[2015-08-24 15:37] lirantal commented on #817
Sure

[2015-08-24 15:38] lirantal commented on #849
@daskreativ check again with the master branch and let us know, this issue should be fixed.

[2015-08-24 15:38] #849 closed

[2015-08-24 15:41] jloveland commented on #848
sure, I will work it this week.

[2015-08-24 15:50] pgrodrigues commented on #848
:+1:

[2015-08-24 16:03] codydaig commented on #848
:+1:

[2015-08-24 18:56] vaucouleur commented on #817
I hope I did not miss anything.

I only renamed one controller, one route file, and 3 html view pages.

The other files already followed the verb-object.client convention.

[2015-08-25 00:02] benmarten commented on #697
Just a wild guess, but i think that passport seems to be called directly now from here:
https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.authentication.server.controller.js#L97

instead the facebook.js stuff should be called from that line, shouldn't it?

[2015-08-25 05:02] rhutchison commented on #697
@benmarten @lirantal what are the steps to reproduce?

I am unable to reproduce in my environment, but I might be missing something.

@benmarten are you sure your facebook config/callback url are setup correctly in the configuration?  When you see the page not found, what is the URL in the address bar?

[2015-08-25 05:16] rhutchison commented on #697
@benmarten please make sure your environment config is updated to reflect [this change](https://github.com/meanjs/mean/pull/841/files)

[2015-08-25 05:30] mleanos commented on #697
@rhutchison I've tested these changes from #842 , and everything seems to be working fine for me. Although, I experienced the Page Not Found issue before I had updated my local env config to use the correct callback URL... `callbackURL: '/api/auth/facebook/callback'` Perhaps this is the cause of @benmarten issue.

[2015-08-25 07:16] 0xNacho commented on #848
:+1:

[2015-08-25 11:42] benmarten commented on #697
indeed. that fixes the issue also for me. so basically only uncommenting local.js solved it...

[2015-08-25 12:45] lirantal commented on #697
Great, so this is good to merge.
Thanks for testing and feedback guys.

[2015-08-25 13:14] #202 closed

[2015-08-25 13:14] #697 closed

[2015-08-26 03:49] mleanos commented on #847
:+1: I like the conclusion that you three came up with... along with @jloveland last comment.

treating this like any other config seems like a fine idea.

[2015-08-26 19:05] mleanos commented on #473
@karan-kapoor90 Do you still need help with this?

I believe this was fixed with #701

[2015-08-27 01:57] xiaoyang2022 commented on #838
i see your's works! thanks! if you drop the grunt and it's plugins that will be better! i hope!

[2015-08-27 04:26] #817 closed

[2015-08-27 09:29] jolacaleb opened #854 "Using passport without login"
Hello! I'm new to meanjs and developing with this amazing framework. But now I'm stuck with a problem, so I ask question here with hope somebody can answer my problem.

I'm having a hard time to get a information from facebook app. I set passport information, app_id, and app_secret properly for I can properly login to my website as manual.

But what I want to do is that I only want to retrieve the

[2015-08-27 10:26] daskreativ commented on #849
Works on Master, missed the merge of 0.4.0 to master.
Sorry and thanks

[2015-08-27 10:36] bastianwegge commented on #772
Is there any chance to test this on the server-side?

[2015-08-27 10:49] mleanos commented on #772
@bastianwegge Are you referring to server-side test coverage? There is a test file for the Chat socket, however there aren't any tests defined in it.
https://github.com/meanjs/mean/blob/master/modules/chat/tests/server/chat.socket.tests.js

I'm not too familiar with this test framework, so I'm unsure of how to mock the Socket server. It may involve initializing the Socket in the test; similar to h

[2015-08-27 11:12] bastianwegge commented on #772
@mleanos thank you for the immediate answer, but it does not help me at all. I investigated into this the complete morning. I wouldn't ask if I didn't. I'm currently trying to implement `passport.socket.io` which seems to be maintained and testable. Maybe someone has a hint that boosts my progress?

[2015-08-27 12:18] vaucouleur opened #855 "Sign in page header (minor issue)"
The sign in page shows "Or with your account".  "Or" seems to be a typo.

The whole title could simply be "Sign in" or anything similar.

https://github.com/meanjs/mean/blob/3bf07fe4ec54f640e07ad9b656a267e0dc4ef3e8/modules/users/client/views/authentication/signin.client.view.html#L2

[2015-08-27 14:45] codydaig commented on #855
@vaucouluer why does "Or" seem like a typo?
![capture](https://cloud.githubusercontent.com/assets/2314748/9523579/ee85203c-4c97-11e5-9d7c-b4e04567c612.PNG)

[2015-08-27 15:59] vaucouleur commented on #855
@codydaig  My apologies, the social accounts integration was removed a long time ago from working directory, and I simply forgot about this. Using the default view the header makes sense, naturally.

[2015-08-27 15:59] #855 closed

[2015-08-27 16:29] mleanos commented on #772
@bastianwegge What exactly do you need help with? Test coverage? Or implementation of Socket.io?

[2015-08-27 16:37] bastianwegge commented on #772
I want to test the socket.io configuration that's loaded automatically by folder `server/sockets/*`. Since there actually is no implementation of the test right now.

The "problem" is that you cannot pass cookie variables neither to socket.io nor to socket.io-client implementation as of my understanding. We wan't to implement socket.io features using test-driven development like the following:

1.

[2015-08-27 16:48] codydaig commented on #854
@jolacaleb Are you referring to when a user sign's up or logs in?

[2015-08-27 17:14] bastianwegge commented on #772
@mleanos maybe you wanna have a chat about that?

[2015-08-27 17:50] ironheartbj18 opened #856 "grunt wont let running"
I followed the instruction the steps
unfortunately, it wont let running on localhost:3000

it said
$ grunt --force

why? What did I missing?

[2015-08-27 18:11] codydaig commented on #856
@ironheartbj18 Sounds like you need to run `npm install`

[2015-08-28 01:15] jolacaleb commented on #854
@codydaig When user signs up. At this time, when user clicks 'Signup with Facebook', then the user automatically logs in, even though our website needs more additional information to register.

The mechanism I'm trying to implement is, if a user clicks Signup with Facebook button, basic information automatically fills the form, not automatically logging in.

[2015-08-28 01:18] francisdaigle commented on #856
I am also experiencing this very problem when executing ```npm install``` (build error with "grunt-node-inspector"). A problem compiling one of it's dependencies perhaps?

[code]

Using:

[code]

[2015-08-28 04:02] xiaoyang2022 opened #857 "how to use the consolidate package?"
the consolidate package is used to that server and client for swig? or no matter?

[2015-08-28 16:53] francisdaigle commented on #856
Argh.

"grunt-node-inspector" lacks a pre-built binary for OS X so it has to compile one.

Problem was in the copying of the files – "copy" was choking on spaces in the directory names.

[2015-08-29 15:35] bobbyziom opened #859 "ngRoute separate install"
I've had issues with ngRoute when running in production mode.

In angular documentation it says:

"In AngularJS 1.2.0 and later, ngRoute has been moved to its own module. If you are getting this error after upgrading to 1.2.x or later, be sure that you've installed ngRoute."

Installing ngRoute separately using bower fixed it. Thus it might be a good idea to update bower.json and default grunt bui

[2015-08-29 18:52] ilanbiala commented on #859
We aren't using ngRoute, we are using ui-router. https://github.com/meanjs/mean/blob/master/bower.json#L13

[2015-08-29 18:52] #859 closed

[2015-08-29 20:22] codydaig commented on #857
The [colsolidate.js package](https://github.com/tj/consolidate.js) is used to make it easy to select a template engine to use. By default it's using swig, but if you want another engine, you can swap it out in the config (just be sure to also npm install that template engine).

[2015-08-29 20:25] codydaig commented on #856
@francisdaigle To clarify, did you resolve your issue?

@ironheartbj18 Does that help answer your question?

[2015-08-30 01:42] ironheartbj18 commented on #856
Yes I got it work finally , because I did not install "npm install -g yo"  and "npm install -g generator-meanjs", "yo meanjs" and "grunt" from http://meanjs.org/generator.html. obviously...
wondering keeping it said
[code]
I went to https://www.npmjs.com/package/grunt-node-inspector
trying
[code]

the version currently is  "version": "0.2.0",

it seems not working.

[2015-08-30 02:37] xiaoyang2022 commented on #857
i　see  ,thanks!

[2015-08-30 02:37] #857 closed

[2015-08-30 04:46] ironheartbj18 commented on #856
Uncaught ReferenceError: angular is not defined
When I run everything with grunt it seems that the server is running, but angular is not connecting. I cannot figure out what is going on. When I go to the locahost:3000 page the page is blank and the console reads: Uncaught ReferenceError: angular is not defined

I have tried doing a bower install and npm install bower several times, but nothing is

[2015-08-30 04:50] codydaig commented on #856
@ironheartbj18 I just cloned your repo, ran `npm install` then `grunt` and the page loaded just fine with no errors.

[2015-08-30 05:36] ironheartbj18 commented on #856
@codydaig your different than mine hmm? it just showing as blank page.  I dont know which one the file to be back as normal showed as http://meanjs.herokuapp.com/ since I am very new with mean stack to get started.

its just showing like this...
![ashampoo_snap_2015 08 30_00h33m59s_001_](https://cloud.githubusercontent.com/assets/4556609/9565851/01d6819e-4eaf-11e5-8d3d-a2fb211f2c3b.png)

[2015-08-30 06:03] codydaig commented on #856
What node and npm version are you running?

[2015-08-30 06:05] codydaig commented on #856
@ironheartbj18 Also, did you use the generator or clone the master branch from the project?

[2015-08-30 06:27] ironheartbj18 commented on #856
@codydaig  I checked node -v its a 0.12.3 the currently is Current Version: v0.12.7. I m going to fork or clone the master branch from them.

[2015-08-30 16:04] ironheartbj18 commented on #856
I did not clone the master branch from the project. I solved it. When I looked at the '.bowerrc'
[code]
so I created a new folder and type $bower install and $npm install -g bower (upgrade to : "1.5.2") it seem working now. just strange... maybe I did not create the folder as for lib. it was not existed.

[2015-08-30 16:13] #856 closed

[2015-08-30 17:22] TsarS opened #860 "Is generator works fine?"
when i try
yo meanjs: vertical-module main it generates

    state('main.list', {
			url: '',
			templateUrl: 'modules/main/views/list-main.client.view.html'
		}).
without "client" as part of url.

[2015-08-30 17:52] jd-carroll opened #861 "$injector:modulerr when deploying to Pivotal"
The following:

[code]

Produces:
[code]

When I navigate to the link provided by `cf push`

I'm still new to all of this, so am I missing / not changing something that I need to be?

[2015-08-30 17:54] jd-carroll opened #862 "Cloud Foundry deployment artifacts not part of 0.4.0 tag"
The necessary deployment artifacts are not part of the 0.4.0 tag.

It is missing files such as:
- .cfignore
- manifest.yml

[2015-08-30 18:07] codydaig commented on #860
@TsarS The generator only works for 0.3.0. The generator for 0.4 is broken and unmaintained at this time.

[2015-08-30 18:08] codydaig commented on #862
@jd-carroll Cloud Foundry was introduced right after 0.4. It's in the master branch right now and we should be releasing 0.4.1 in the near future.

[2015-08-30 18:29] jd-carroll commented on #862
Cool thanks!

[2015-08-30 18:29] #862 closed

[2015-08-30 19:15] codydaig commented on #861
@ryanjbaxter Do you know what could be going on here? Is it CF related?

[2015-08-30 19:34] #860 closed

[2015-08-30 20:17] jloveland commented on #848
Just and update on this: I got the server side working and accompanying unit tests this weekend. I am now working in the client side.

[2015-08-30 20:21] lirantal commented on #838
Hi @xiaoyang2022,

Unfortunately I don't really follow up on what you're trying to say.
As for express-restify-mongoose it isn't on our agenda.

[2015-08-30 20:21] #838 closed

[2015-08-30 20:27] lirantal commented on #848
Nice!

[2015-08-30 20:47] lirantal commented on #855
Thanks

[2015-08-31 00:08] ryanjbaxter commented on #861
Looks like this was caused by the changes in #759 which added `public/lib/angular-messages/angular-messages.js` to the default and production environments but not the CF environment.  Is there any way to inherit what is done in the production environment file in the CF environment file so this doesn't happen again?

[2015-08-31 05:56] lirantal commented on #861
@rhutchison can you take a look?

[2015-08-31 15:49] ilanbiala commented on #833
Rearranged some issues so the 0.4.1 milestone contains all of the above issues/PRs. Let's try to release this in the next week.

[2015-08-31 22:13] aralroca opened #867 "Optional persistent login"
Perhaps the optional persistent login is an interesting thing to implement in signIn, this is the typical checkbox **"Remember me"** in sign in view.

[2015-08-31 22:15] aralroca commented on #792
Sorry, finally I used `emit` in client to call the server, just that you recommend it :+1:

[2015-09-01 05:55] rhutchison commented on #833
Other than #811 is there anything else left open? @lirantal what is the status on #811?

I would recommend we cut 0.4.1 and move the articles PRs to 0.4.2.

Also starting with 0.4.2, all PRs with angular changes should follow angular-styleguide - if a file is touched, it should be updated.  I will put a larger effort to converting the modules.

[2015-09-01 13:23] lirantal commented on #833
Hey guys,
Just merged #811.

@ilanbiala the rest are yours, are we going to merge them for 0.4.1?

[2015-09-01 13:26] lirantal commented on #867
@aralroca PR please?

[2015-09-01 13:35] #861 closed

[2015-09-01 21:02] rhutchison commented on #833
@ilanbiala @lirantal please ship this as 0.4.1 and create the proper release tag.  We will start working on 0.4.2

[2015-09-01 21:09] codydaig commented on #833
:+1:

[2015-09-01 21:29] rhutchison opened #869 "0.4.2 Release"
We are tracking towards the release of 0.4.2.  This thread is to discuss what needs to be finalized before we can cut the release.  If there are any PRs or open issues that should be added to the list, please comment below.

### Features

### Bug fixes
 - [x] #1039 Switch to using new MongoDB service in Bluemix

### Extras
 - [x] #881 CHANGELOG.md - @ilanbiala, @codydaig
 - [x] #1042 Start testing

[2015-09-01 22:33] ilanbiala commented on #867
@lirantal don't we already have sessions that kind of take care of this?

[2015-09-01 22:36] ilanbiala commented on #833
@lirantal yes 0.4.1 is good to go. The rest are going into 0.4.2.

[2015-09-01 22:51] mikepc opened #870 "How unstable is 0.4"
I am starting a new project this week and I want to use meanjs, but I would like to use the new features only in 0.4, is 0.4 stable enough to start a new project with or is it really a trainwreck like the title says?

The main reason I am questioning it is everywhere I look on the net folks are talking about 0.4 and even the video gives a tutorial using 0.4.

So is it stupid to use 0.4 or should I

[2015-09-01 22:55] mikepc commented on #847
I agree with the setting being required to start, but it would be helpful if defaults were pre-configured to handle localhost for the dev environment

[2015-09-01 22:59] codydaig commented on #870
@mikepc What title gives you the impression that it is a trainwreck?

[2015-09-01 23:25] mikepc commented on #870
when I switch to the 0.4 branch it says "this branch is broken and highly unstable" on top of the readme in a desktop browser

[2015-09-01 23:29] codydaig commented on #870
@mikepc Are you referring to the generator? If so, the generator is currently broken. I am in the process of making a working generator for it.

If you want to use 0.4, clone the master branch of this repo to get started.

[2015-09-01 23:35] mikepc commented on #870
ah yes right on! Cool man!

[2015-09-01 23:59] codydaig commented on #870
@mikepc Let us know if you have any other questions!

If this answers your question, would you mind closing the issue? :-D

[2015-09-02 02:18] #870 closed

[2015-09-02 02:19] mikepc commented on #870
Yepper! Installing the packages now, thank you very very much <3

[2015-09-02 08:06] mleanos commented on #833
:+1: Nice. Great job everyone!

[2015-09-02 13:13] ilanbiala commented on #833
@lirantal do you want to create the release and I'll work on the next PRs?

[2015-09-02 13:15] ilanbiala commented on #833
Added #868 but it is already merged, so it should be good to go.

[2015-09-02 15:50] suryasingh opened #872 "jshint is failing"
hello,
 I run a grunt command and got the following response , although i'm able to run via ```grunt --force``` . Any clue why jshint is shouting for 'user' not defined.

   modules/users/tests/server/user.server.model.tests.js
     89 |      var _user = new User(user);
                                    ^ 'user' is not defined.
    105 |      var _user = new User(user);

[2015-09-02 15:52] codydaig commented on #872
@suryasingh Are you running the latest version from the master branch? I think this just got fixed in a recent PR.

[2015-09-02 15:54] suryasingh commented on #872
@codydaig i pulled it 3 days back. Thanks , i'l pull the latest one.

[2015-09-02 15:55] codydaig commented on #872
@suryasingh #863 Fixed it. You must have cloned right between the breaking commit and the fix.

[2015-09-02 15:57] suryasingh commented on #872
@codydaig Awesome.. thanks.

[2015-09-02 15:58] #872 closed

[2015-09-02 16:29] mikepc opened #873 "gulp mocha/gulp karma hang on execution"
Clone the 0.4 branch,
cd into the directory
npm install
bower install
gulp test -> Mocha succeeds, karma hangs.

gulp mocha -> Hangs
  -- I was able to get gulp to exit by adding a done(err), to the mocha task to capture the error, which was a mongoose User model not being registered error.

gulp karma -> Hangs, don't know how to get around this one.

Switching back to grunt until we can get this

[2015-09-02 16:29] mikepc commented on #873
I should add this is using test:server, test:client respectively.

[2015-09-02 16:53] ilanbiala commented on #873
@mikepc Gulp support isn't finalized yet and Grunt should still be used. If you'd like, feel free to help us reach parity with Grunt so we can release Gulp support sooner.

[2015-09-02 16:56] codydaig commented on #873
There is a known bug with gulp where it hangs for a bit after tests complete. I encountered this recently with another project. There's a hacky wordaround, but I don't really like it. It should stop hanging after a few seconds (<30), if it doesn't then there's something else funky with it.

[2015-09-02 17:31] lirantal commented on #833
@ilanbiala sure thing.

[2015-09-02 18:57] ilanbiala commented on #490
Closing in favor of #636.

[2015-09-02 18:57] #490 closed

[2015-09-02 19:02] ilanbiala commented on #473
@karan-kapoor90 closing, if you still need help please provide more info and we will revisit it.

[2015-09-02 19:02] #473 closed

[2015-09-02 19:02] ilanbiala commented on #448
@wang3g closing, if this is still an issue feel free to post with more info and we will revisit.

[2015-09-02 19:02] #448 closed

[2015-09-02 21:33] lirantal commented on #833
@ilanbiala so basically except from tagging `master` branch as 0.4.1 there isn't anything else to do, right? we don't have an 0.4.1 branch like we had before with 0.4.0 so I don't see any merges required.

Tag created: https://github.com/meanjs/mean/releases/tag/v0.4.1

[2015-09-02 22:48] ilanbiala commented on #833
Yeah I think we are good. @rhutchison what's the integration branch for?

[2015-09-03 06:18] lirantal commented on #833
Merged related PRs https://github.com/meanjs/mean/pull/877 and https://github.com/meanjs/mean/pull/876 to update the version number to 0.4.1

[2015-09-03 06:21] rhutchison commented on #833
@ilanbiala it was to help test a bunch of related PRs.  It's removed now.

[2015-09-03 06:24] rhutchison commented on #833
Thanks @lirantal.  Please recreate the tag, now that #876 is merged and close this issue when you are done.

We should introduce CHANGELOG.md in next release.

[2015-09-03 06:56] lirantal commented on #833
Done.

[2015-09-03 06:58] codydaig commented on #833
@rhutchison Chanelog.html is just in the gh_pages branch.

[2015-09-03 06:58] lirantal commented on #867
So actually the "Remember me" functionality is simply about the session expiration time.
We can decide that a login without the Remember me checkbox yields a session for only until the browser/tab closes, and then it dies. And when Remember me is toggled on then we can create a session with a longer time, say 24 hours.

[2015-09-03 07:19] vrohitk opened #879 "How do i add Comments to an article Module?"
i would like to add a commenting platform in the article module for a new app i am building. could someone suggest how i could proceed to do so.

[2015-09-03 16:15] italiancollectiveco opened #880 "Warning - You need to have Ruby and Sass installed and in your PATH for this task to work."
Hello guys just wanted to let you know that this warning comes up after cloning the repo, npm i, bower i and running grunt.

Has it not been added to the dependencies?

[2015-09-03 16:44] ilanbiala commented on #880
@italiancollectiveco Grunt requires Sass to be installed. Try that and run Grunt again. Closing because that should be the solution, let me know if it doesn't work and we'll reopen.

[2015-09-03 16:44] #880 closed

[2015-09-03 16:46] ilanbiala commented on #833
@rhutchison I'd like to start the CHANGELOG.md from 0.4 as the "initial release" so we don't have to compare it against 0.3.

[2015-09-03 16:47] ilanbiala opened #881 "CHANGELOG.md"
Let's get a CHANGELOG.md added for easy version comparison. Something along the lines of AngularJS's should be good.

[2015-09-03 17:32] sparshy commented on #879
edit the article schema, to create a field comments[this should be array of objects]

Each object inside the array can be like
    {
        commentData:{
             type: String
         }
        user:{
            type : Schema.ObjectId,
            ref: 'User'
         }
    }

[2015-09-03 18:06] vrohitk commented on #879
I want to create like an comments for a blog post, like an array by different users

[2015-09-03 18:11] sparshy commented on #879
Yeah this should work, the array will be something like this
comments:[
{commentData:"abc", user:ObjectId(345),created:Date}.
{commentData:"cdf",user:ObjectId(129),created:Date}
]

[2015-09-03 18:12] vrohitk commented on #879
after setting up on the back-end, how should the update on the angular side?

[2015-09-03 18:18] sparshy commented on #879
the returned article object from the server will contain all the comments, you can simply use
//this should be inside ArticlesController
<div ng-repeat="comment in article.comments">
     <div>{{comment.commentData}} by {{comment.user.displayName}}</div>
</div>

remember to populate displayName on the server side before sending the response.

[2015-09-03 18:32] ilanbiala commented on #879
Please move this to a separate forum such as StackOverflow or email correspondence unless there is a bug or request that requires the team's attention.

[2015-09-03 18:32] #879 closed

[2015-09-03 18:50] andrewsomething opened #882 "jshint task fails when invoking `grunt`"
Checking out the v0.4.1 tag and running `grunt` fails with:

[code]

node version: v0.12.7
gulp-jshint version: 1.11.2
grunt-contrib-jshint version: 1.11.2

Adding `/*jshint -W055 */` to the line above will force jshint to ignore the issue.

[2015-09-03 19:45] mleanos commented on #882
I've confirmed this is happening in the master branch as well. I can't be sure of the cause but this is the behavior that I experienced with this...

I pulled down the most recent *master* branch, and ran `grunt`. The `jshint` succeeded fine. I then pulled down the 0.4.1 tag version, into a separate project, & ran `grunt`. The `jshint` failed with the above errors.

Finally, I cleared my node_modu

[2015-09-03 20:42] italiancollectiveco commented on #880
@ilanbiala :Thank you, could you or someone else update the installation requirements instructions?

[2015-09-03 20:45] italiancollectiveco commented on #882
Same error here. And above solution worked for me also.

[2015-09-03 20:53] hectorleiva commented on #882
^ I did the same and it also worked.

[2015-09-03 20:59] italiancollectiveco opened #884 "Could not connect to MongoDB!"
Does anyone know why this is happening and if I am missing some sort of setup.

[code]

[2015-09-03 21:12] italiancollectiveco commented on #884
Running those in terminal fixed it.

mkdir -p /data/db
chmod ugo+rw- /data/db
mongod

[2015-09-03 21:12] #884 closed

[2015-09-03 21:41] mleanos commented on #882
A more appropriate solution might be to use `/*jshint -W055 */` as @andrewsomething suggested, since technically the `newcap` option is deprecated.

[2015-09-03 21:55] italiancollectiveco commented on #882
@mleanos I am not sure how to implement @andrewsomething solution. Adding /*jshint -W055 */ to which files?

Thank you

[2015-09-03 21:57] mleanos commented on #882
@italiancollectiveco See #883 I just updated the solution in favor of @andrewsomething suggestion.

[2015-09-03 22:01] mleanos commented on #882
@italiancollectiveco @hectorleiva @andrewsomething  Perhaps add a comment to #833 if it fixes the issue for you, so we can get this merged quickly.

[2015-09-03 23:37] ilanbiala commented on #880
@italiancollectiveco feel free to submit a PR.

[2015-09-03 23:56] italiancollectiveco commented on #880
@ilanbiala done.

[2015-09-04 00:59] mleanos commented on #882
A patch has been released by `grunt-contrib-jshint` for this https://github.com/gruntjs/grunt-contrib-jshint/commit/730434875b15d79970b736aadac246cfc400bfe4

[2015-09-04 13:41] lirantal commented on #882
Issue has already been solved by upstream as @mleanos updated

[2015-09-04 13:41] #882 closed

[2015-09-04 19:55] aralroca commented on #867
By default in the last version of MEAN.JS when I close the browser (Chrome or Safari) and open it again, the session is not persistent and I need to sign in again. If I open new browser tabs, is not necessary to sign in again... This is the normal flow? Or maybe is an issue?

[2015-09-05 01:46] mleanos commented on #867
@aralroca I don't experience this behavior with Chrome or Firefox. I'm automatically logged in when I open the app in either browser, after previously closing it.

Are you up to date with the latest upstream?

[2015-09-05 05:43] lirantal commented on #833
I think we can close this can move the discussion to https://github.com/meanjs/mean/issues/881 and the 0.4.2 issue

[2015-09-05 05:43] #833 closed

[2015-09-05 17:31] lirantal commented on #881
@ilanbiala I was thinking we can easily find some tool that will traverse the commit log and create a CHANGELOG out of it, no?

[2015-09-05 23:16] nirber opened #888 "How to auto redirect http to https (while secure mode is enabled)?"

[2015-09-05 23:18] igorauad commented on #888
Perhaps this is useful for you (to include in `express.js`):

[code]

[2015-09-05 23:25] nirber commented on #888
Thanks Igor,

Tried something like that before and your exact code now, but it's not working.

Any ideas?

[2015-09-05 23:27] igorauad commented on #888
Hard to tell. Is that a problem with your certificate?

I use it within `module.exports.initMiddleware = function (app) {`

[2015-09-05 23:28] codydaig commented on #888
@nirber If you're having specific issues with your code, please provide a link to your code or paste the section of code into a code block here to better assist you in your debugging. It's hard to help debug blindly.

[2015-09-05 23:34] nirber commented on #888
You're right!

module.exports.initMiddleware = function (app) {

	app.use (function (req, res, next) {
    	if (req.protocol === 'https') {
			console.log(req.protocol, req.secure);
            next();
        } else {
		  	console.log('redirected');
            res.redirect('https://' + req.headers.host + req.url);
        }
  	});
...

When I use https everything works great. When not, nothing i

[2015-09-05 23:36] igorauad commented on #888
Yes! Good that it worked.

[2015-09-05 23:37] nirber commented on #888
It didn't worked. In secure mode, if I'm using 'http://...' , nothing is getting loaded

[2015-09-05 23:45] codydaig commented on #888
@nirber Is 'redirected' printing in the console at all?

[2015-09-05 23:47] nirber commented on #888
no

[2015-09-06 00:16] codydaig commented on #888
@nirber Is anything getting logged from either of those conditional statements?

[2015-09-06 00:21] nirber commented on #888
If I use https://.. the if statement is being valuated true and there is logging to the console. If I use http, nothing is logged.

I kept investigating and I think it is because the server is not listening on the 80 port, so the 'http://..' request is not going through the middleware(s).

[2015-09-06 10:15] suryasingh opened #889 "Socket io : extract the socket associated with user session"
Hi ,
 I want to extract the socket associated with user session, i'm not getting a way to achieve that. As an example .. inside the create method i want to get an instance of socket associated with the current user session.

exports.create = function (req, res) {
  var article = new Article(req.body);
  article.user = req.user;
  article.save(function (err) {
    if (err) {
      return res.status

[2015-09-06 16:17] ilanbiala commented on #889
@suryasingh please use StackOverflow or another more appropriate forum for how-tos and other questions that don't involve bugs or features before coming here. If you still don't get an answer there, then feel free to come back with whatever progress you have made and we'll try to help.

[2015-09-06 16:17] #889 closed

[2015-09-06 16:18] ilanbiala commented on #881
@lirantal there is git-conventional-changelog, but I think it just is too explicit and we would need to tidy it up quite a bit or standardize our commit messages a lot. Even then, I think it would be too dense and wouldn't be much better than doing GitHub compare.

[2015-09-06 19:18] lirantal commented on #881
@ilanbiala Ok then. What do you suggest? going manually through the commit log to dig up the data for CHANGELOG.MD?

[2015-09-06 19:32] simison commented on #881
I recon it's fine to have this more fuzzy for the past and just keep it in order for the future.

Something along the lines:
* pre 0.3; not so important as it's quite old
* 0.3—0.4; a log would be nice as there are probably quite some people with 0.3
* 0.4.x—future; detailed

[2015-09-06 20:56] ilanbiala commented on #881
@simison I think we all agree on most of that, in fact I would say there's almost too much from 0.3 to 0.4 to actually include it, so I suggest we just start at 0.4. However, we're trying to figure out a way to create a concise changelog without much effort.

[2015-09-06 21:04] codydaig commented on #626
@lirantal @estvmachine Nothing heard in over a month, can we close?

[2015-09-06 21:06] codydaig commented on #300
@ilanbiala Can this issue be closed?

@boris-petrov1214 If your still having issues, feel free to reopen.

[2015-09-06 21:11] simison commented on #881
IC, could changelog be updated with each PL? Mention it at CONTRIBUTE.md. Something like:

___Next up___
- People add a new line here each time they send a PL?

___v0.4.1___
- feature
- feature

thoughts?

[2015-09-06 21:15] codydaig commented on #888
@nirber Have you tried @igorauad's solution using req.headers?

[2015-09-06 21:35] nirber commented on #888
@codydaig Yes, but the middleware isn't getting executed at all if I go to a non 'https' url.

[2015-09-06 21:35] ilanbiala commented on #881
The sections is definitely part of the plan, but the continuous updating isn't my favorite strategy. Maybe we will have to standardize a commit message so we can use git-conventional-changelog and maybe a --skip-changelog or something will keep those out of the changelog?

[2015-09-06 21:35] #300 closed

[2015-09-06 21:35] #626 closed

[2015-09-06 22:07] Solidary opened #892 "user.server.model.js error Discriminator : Schema.apply Cannot read property 'add' of undefined"
HI,
I would like to create two classes Student and Teacher whom are going to inherits from User.
So I modified the User and the new class is :
[code]
But there is an error when launching the application :
**this.add({
	    ^
TypeError: Cannot read property 'add' of undefined**

[2015-09-06 22:15] codydaig commented on #892
@Solidary I'm not familiar with Base Schema's, but it seems that your 'this' isn't in the context you think it is.
http://mongoosejs.com/docs/plugins.html

[2015-09-06 22:19] Solidary commented on #892
The problem is about **this** which is undefined. But I don't why.
I just follow the instructions inheritance on mongoose. Follow this link [Discriminator](http://mongoosejs.com/docs/api.html#model_Model.discriminator) please to see the example.

[2015-09-06 23:59] andreafdaf commented on #769
Hey @trainerbill ! I'm sorry but I cannot see how is this PR related to what I said... once we introduce templateCache the above way there is no need to worry about the path for the views since they get all "stuffed" into the main HTML file and called by their id when used inside angular

If someone says that PR's are welcome I've got it ready already :+1:
@lirantal ? @rhutchison ? @ilanbiala ? an

[2015-09-07 00:03] nirber commented on #888
Just tried to revert back to ssl > 'false' and it is working well with the redirection.
Is it safe this way?

[2015-09-07 00:15] estvmachine commented on #626
Yeah closed it

[2015-09-07 03:45] codydaig commented on #769
@andreafdaf If you've got a PR ready, submit it and we'll all review it! :-D PR's are always welcome, then it's up to the community for reviewing and discussing if it's an addition to the code base that's wanted by the community.

[2015-09-07 03:53] codydaig commented on #715
@debrouxl See #313. You may be able to spark discussion in that issue. It seems like there was a solution with nginx just had to change absolute paths to relative.

[2015-09-07 03:54] codydaig commented on #888
@nirber I personally don't like using < or > operators against booleans. Just do a check and if ssl !== false then do the redirection. I don't see any issues with either way though.

[2015-09-07 04:01] codydaig commented on #854
@jolacaleb Sorry for the delay. Must have accidentally cleared the notification without responding.

Personally, I've never tried too do that. If I had to come up with a solution for that though, I would probably make the signup process a two step process for all users (whether they are a local signup or auth signup like facebook, github, etc...) so the initial signup would just create their accou

[2015-09-07 05:14] lirantal commented on #888
@nirber redirection is usually a function of the SSL terminator, your load balancer, or some other network equipment on the Internet leg.
I wouldn't try to push this kind of logic into your web application. It's just as if you wouldn't want to start putting firewall rules into your nodejs app to decide who can access your app.

[2015-09-07 05:46] lirantal commented on #869
Looks like I'm not doing anything for 0.4.2, yay!
But seriously, how do we want to approach 0.4.2 from planning perspective? should we start adding here all the open PRs that we wish to merge to 0.4.2 or rather should we just use Github's milestone option and simply assign to 0.4.2, wouldn't that be easier to track and handle?

We can keep this issue open to track/discuss 0.4.2 release items in ge

[2015-09-07 05:52] debrouxl commented on #715
Looks like this issue is mostly a duplicate of #313, which I missed when searching in the issues list.
We are both using a reverse proxy, a route prefix, and the client code uses absolute paths which fail to work when there's a route prefix, so we both patch the client code.

As outlined in my first post, the server-side code needs patches as well for server-side routing, _if_ we want to make mean

[2015-09-07 09:14] mmintel opened #894 "livereload for sass files importing lib files not working"
hi there,

sass files that import a file from lib e.g. `@import 'angular-material/angular-material';` sort of disable livereload. if I remove that import and keep the other partial imports livereload works. This problem exists with grunt and gulp.
I also tried to add includePaths to grunt-sass settings but that doesn't change anything.

have any idea?

[2015-09-07 09:23] mleanos commented on #892
@Solidary I use this in my meanjs project. It works quite well, and is really easy to implement into this project. `mongoose-schema-extend` isn't actively maintained, however it's a very small library.

https://github.com/briankircho/mongoose-schema-extend

There are pretty straight forward examples at the above link. If you run into any issues, you can reach out to me here or on Gitter & I'll be

[2015-09-07 10:08] nirber commented on #888
Thanks guys, I will enforce https on the load-balancer.

[2015-09-07 11:10] bobbyziom opened #895 "Restrict user role in ui-router"
Hello

Both in the express api and in the menu service it's possible to validate access via user roles. How can you allow/restrict access to certain pages using the ui-router? I imagine it to be much more convenient than using ng-hide in the view to validate whether a user have access or not?

[2015-09-07 14:05] ilanbiala commented on #894
@mmintel have you tried using it without a compass-dependent sass implementation, such as node-sass? I'm not sure if there will be a difference, but I know there are a few differences between the two implementations.

[2015-09-07 14:09] ilanbiala commented on #869
@lirantal let's track everything in the milestone, and as we approach the end of the milestone based on the progress bar, we'll update the list here and this may act as a changelog of sorts?

[2015-09-07 14:50] mmintel commented on #894
@ilanbiala good idea! I only tested it with the default packages of meanjs 0.4.0.. so it's grunt-contrib-sass which is the ruby version. Which feels a bit strange to me. MEAN is the power of combining JS but then a ruby compiler is loaded instead of a javascript compiler.

I'll try to exchange these today evening if I find time and then i'll see if that works.

[2015-09-07 18:07] mmintel commented on #894
its working with grunt-sass! But I cannot explain :D

[2015-09-07 18:13] lirantal commented on #869
Great

[2015-09-07 19:22] ilanbiala commented on #894
@mmintel then what was the problem?

[2015-09-07 22:02] mleanos commented on #895
@bobbyziom If you look at this file, you can see the implementation of *restricting* certain roles to certain routes. If you notice the *view* & *list* routes don't have any restrictions.
https://github.com/meanjs/mean/blob/master/modules/articles/client/config/articles.client.routes.js#L21

Here is an example of restricting the route to only the *admin* role.
https://github.com/meanjs/mean/blob/m

[2015-09-08 05:02] Meistercoach83 opened #896 "Spam control for logins"
How about a feature to prevent x login retries from the same ip?
For example:
`retries.push({
  ip: clientIP,
  time: currentTime,
  email: email}
);`
and then count the number of retries in a configurable amount of time

[2015-09-08 06:13] jolacaleb commented on #854
@codydaig Oh I solved this by not using passport.js. I looked how it works from the docs, I finally concluded that with using passport.js, I can only login, and only after login I can get the information. I'm not that good in English so I might be wrong.
 Anyway I solved this with using Facebook SDK provided by developer.facebook.com. If the user authorized his/her facebook account to allow our ap

[2015-09-08 06:13] #854 closed

[2015-09-08 07:23] bobbyziom commented on #895
@mleanos Thanks a lot for your answer! So if I understand correctly, I just have to put the data field in the state to limit access to certain roles?

About the Menu service I saw that it was possible to show menu items according to user roles, so it wasn't really a question. But just hiding the menu, it was still accessible via URL - so I'll try the data field out :+1:

[2015-09-08 14:37] codydaig commented on #854
@jolacaleb np!

[2015-09-08 17:30] ilanbiala commented on #896
@Meistercoach83 I think that's outside the scope of the project, but if you can convince others, then maybe we will consider it.

[2015-09-08 19:32] lirantal commented on #896
I don't mind adding it as part of the core user module I think, as long as we keep a simple and straight-forward solution and not start pushing too much features and functionality into it.

[2015-09-08 20:42] mleanos opened #898 "Travis CI webhooks shouldn't be static"
The webhooks defined here are static. This will cause activity notifications, for repo's originating from this codebase, to be sent to the meanjs/mean Gitter room. https://github.com/meanjs/mean/blob/master/.travis.yml#L19

If a user of this project doesn't change the settings in *travis.yml*, their project will use this webhook whenever it runs through the Travis CI build process. I don't think t

[2015-09-08 22:01] andreafdaf commented on #896
if I can :+1:

but I wouldn't push the login retries to the user object, otherwise the user object would get bigger and bigger over time for no reason... what about saving those attempts to Mongo setting a TTL index on the collection? make documents expire after like... 15minutes, and to check just make a count() query on email (lots of retries to the same account) or ip (the same ip is trying to

[2015-09-08 22:34] mleanos commented on #895
@bobbyziom Yes. Just add something like the following to your module's route configurations..
[code]

[2015-09-09 10:03] bobbyziom commented on #895
@mleanos Thanks you very much! Easy and it works :)

[2015-09-09 10:03] #895 closed

[2015-09-09 10:14] bobbyziom opened #900 "UIRoute MenuService value syntax"
Hello

In the article example the menu will remain active if a user is creating an article. It uses
[code]
as the argument for making the menu item active when both in /article and /article/create path.
I'm making a dashboard for different devices, and I want to have my menu item active for either of them. My path is /dash/:deviceId (deviceId is mongoDB reference id).

How can i make the menu item

[2015-09-09 11:17] mleanos commented on #895
@bobbyziom Anytime. Glad it worked out.

[2015-09-09 15:27] ilanbiala commented on #900
@bobbyziom please use StackOverflow or another forum that is more appropriate for questions as GitHub is mainly for bug reports and feature requests.

[2015-09-09 15:27] #900 closed

[2015-09-09 15:48] bobbyziom commented on #900
Could be an idea to enhance the documentation, but okay, I'll try. Thanks anyways.

[2015-09-09 15:53] codydaig commented on #900
@bobbyziom Hit me up on Gitter! I wouldn't mind helping and figuring this out with ya.

[2015-09-09 18:42] lirantal commented on #896
Sounds ok to me

[2015-09-09 18:55] lirantal commented on #898
Good point @mleanos

Yeah @ilanbiala I actually don't think we even need it because it already exists in gitter's integration area, and if not we can add it manually from gitter.

[2015-09-09 19:49] trainerbill commented on #896
Why not just require a captcha after a failed attempt?

[2015-09-09 19:51] trainerbill commented on #867
Isn't this normally done with a browser cookie?  User object is typically encrypted into a browser cookine when remember me is checked and then decoded and server session initiated based off the cookie?

[2015-09-09 19:58] trainerbill commented on #828
If we go with Lusca, I will volunteer to do it.  I am biased here :)

[2015-09-09 20:15] andreafdaf commented on #786
@sparshy you tagged the wrong person in the above comment :) anyway!

The page loads from the server only once, and the user object is embedded in it when you render the index page (the user or null of you are not logged)... the angular service just wraps the user from the window object, if the user is there is like telling to the app "this user is logged in and that's his data"; otherwise when yo

[2015-09-09 20:25] lirantal commented on #896
another good option @trainerbill

[2015-09-09 21:49] sparshy commented on #786
Hi @andreafdaf thanks for the answer man, yeah its clear to me now except one doubt

See any property attached to window object , will be destroyed on page refresh, right? See in console try doing window.mean={name:"mean"}, once your refresh the page window.mean is no longer available, how is window.user available even after page refresh?

[2015-09-09 22:21] andreafdaf commented on #769
after talking with @codydaig it looks that it is already implemented in mean, but works only if you build your project with gulp... I think that things will get more documented over time so it's not a problem

shall we close? :)

[2015-09-09 22:29] andreafdaf commented on #786
@sparshy because when you refresh your page the first thing it ask for is the main HTML and as you can see here (core.server.controller.js):
[code]
the user is passed to the render function (req.user is put there by an express middleware that runs before the route matcher)

and then the user object is injected (layout.server.view.html)
[code]
so that's why it's still there even after you refresh!

[2015-09-10 00:57] mikepc commented on #888
That isn't acceptable, for heroku  dynos they are hosting the traffic directly, with no reverse proxy in front of it. This needs to work.

[2015-09-10 02:07] quanphan opened #902 "node 4.0 update"
I have a error "Segmentation fault: 11" with server.js  when updated node to v4.0.
How to fix it.
thanks

[2015-09-10 02:10] codydaig commented on #902
@quanphan We have not tested this project with 4.0 yet. The project currently supports 0.10 and 0.12.

[2015-09-10 02:25] quanphan commented on #902
Thank @codydaig. So, how to run project currently with Java script ES6

[2015-09-10 02:30] codydaig commented on #902
node version 0.12.x has a lot of ES6 support built into it. I'm not sure how much, but I know that it's covered every ES6 use case that I encountered. I have a feeling it's going to take some time before 4.0 is widely adopted because there are a lot of core dependencies that need to support 4.0 before projects can start supporting it. For example, I tried running a much smaller side project of min

[2015-09-10 06:42] lirantal commented on #769
yep, thanks for confirming @andreafdaf

[2015-09-10 06:42] #769 closed

[2015-09-10 06:54] lirantal commented on #888
Great, closing.

[2015-09-10 06:54] #888 closed

[2015-09-10 06:55] lirantal commented on #902
Node v4.0 was only very recently released, and we didn't yet test that indeed.
We still need to decide on the supported versions.

[2015-09-10 08:31] simison commented on #466
@neilhanekom @ilanbiala close perhaps?

[2015-09-10 08:39] #466 closed

[2015-09-10 14:04] pgrodrigues opened #903 "Angular config variables according to the current env"
I think it could be useful to have some mechanism to inject variables within angularjs logic according to our env. I know that we can pass in some properties from env configs using express and swig and those are indeed dependent in the current env. But today I was reading [this part of the Angular docs](https://docs.angularjs.org/guide/production) and I wanted to set both `$compileProvider.debugIn

[2015-09-10 15:18] codydaig commented on #902
@lirantal I've got Node 4.0 on a docker container for this project. After I finish some core sub modules for the generator I'll investigate what it will take to make it compatible with 4.0.

[2015-09-10 16:07] ilanbiala commented on #902
Let's add 4.0 as a test environment to travis at least. Is there a way to ignore that build's status regarding passing/failing until we get it passing?

[2015-09-10 17:01] codydaig commented on #902
I'm not sure, but if there is a way, then I'm down for it.

[2015-09-10 21:30] ilanbiala commented on #898
@lirantal I'm pretty sure Gitter's integration menu says to add that in, but if you see somewhere in the settings that says otherwise, go for it.

[2015-09-11 00:47] rhutchison commented on #898
I would think this is required, but I am not sure.  Technically the only time this would come in to play is when someone opens a PR.  Yes, it might show events if someone opens a PR to another fork, but I don't think it would happen that often.

I guess the only thing we should be concerned about is if we are ok with this webhook being public?

[2015-09-11 04:59] rainings opened #905 "user profile picture render issue [bug]"
![screenshot_1](https://cloud.githubusercontent.com/assets/7414544/9807324/224a9dd2-5884-11e5-9c3c-cd815c3d9934.png)
the user profile picture didn't show correctly.

 on 78 in article.server.controller.js
remove 'displayName'
Article.find().sort('-created').populate('user', 'displayName').exec(function(err, articles)
Article.find().sort('-created').populate('user').exec(function(err, articles)

![

[2015-09-11 06:03] codydaig commented on #905
@rainings If you add `profileImageURL` to the list, does that also solve your issue instead of passing the entire user object?
`Article.find().sort('-created').populate('user', 'displayName', 'profileImageURL').exec(function(err, articles)`

[2015-09-11 06:04] rhutchison commented on #763
@lirantal I will have a PR this weekend.

Do we want JSCS or ESLint?

[2015-09-11 06:07] rhutchison commented on #900
@bobbyziom have you looked at ui-sref-active?

[2015-09-11 06:10] lirantal commented on #763
Definitely ESLint for me.

[2015-09-11 06:22] rainings commented on #905
@codydaig the app crashed after i added the 'profileImageURL'

[2015-09-11 06:47] codydaig commented on #763
ESLint as well. :-D

[2015-09-11 06:50] codydaig commented on #905
@rainings Sorry, slightly wrong syntax on my part:

`Article.find().sort('-created').populate('user', 'displayName profileImageURL').exec(function(err, articles)`

[2015-09-11 07:04] rainings commented on #905
@codydaig it works as well by adding 'profileImageURL'

[2015-09-11 07:06] mleanos commented on #898
@rhutchison You're right about when this would show up, as a notification in the Gitter room. Whenever someone has that webhook in their travis.yml file, it will trigger the event notifications if their repo is ran through the Travis CI build process.

I'm not sure if the only likely cause would be from PR's from a fork. What happens if someone is running their codebase through Travis CI by other

[2015-09-11 13:30] rhutchison commented on #898
imho, we should leave this as-is.  I value information over any privacy concerns.

RE: security, if someone takes the webhook and we start to see unrelated project activity on this webhook, then the project owners can just delete the webhook.

[2015-09-11 14:04] mikepc commented on #888
Ok Just so we're clear, you're closing a Bug that is unfixed and will potentially have pretty severe blowback. Clone the repo, enable ssl locally and http://localhost:3000, you will have to control-c to restart the server.

Once you enable SSL, when run locally, when you http:// into a local instance the server thread is hung, and must be restarted. There is no error. There is no way to redirect t

[2015-09-11 14:48] simison commented on #888
@mikepc As a hack, can you run another minimum server at port 80 and 301-redirect from there?

[2015-09-11 15:31] mikepc commented on #888
A helpful guy from the meanjs google group sent me some tips, he found that the problem is in socket.io and says that he has it working:

in socket.io

remove

} else {

and provide different names for the servers

var h = http.createServer(options, app);
var hs = https.createServer(app);

Listen only to https on socket.io (if you use or need it)

var io = socketio.listen(hs);

Then at the end ret

[2015-09-11 17:17] lirantal commented on #898
I'll take a look and see if we can somehow integrate it without sharing the webhooks key on the repository

[2015-09-11 17:22] codydaig commented on #905
@rainings So, by removing displayName and not passing in the second argument into populate, it's returning the entire user object with the article. By passing a second argument with a space separated list of fields only returns those fields from the user object.

[2015-09-11 17:46] lirantal commented on #902
Yes, there's a way, I'll set it up.

[2015-09-11 22:08] lirantal commented on #898
Guys, I couldn't find anything specific about the webhooks integration. I've taken a look at other projects and they also specify the webhooks key in their .travis.yml.

I'm fine if you want to research this a bit more, otherwise I'll close it.

[2015-09-11 23:07] mleanos commented on #898
@lirantal What about exploring the use of *env/config*'s for the webhook?

Or what is described here.. http://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings

[2015-09-12 17:21] codydaig commented on #905
@rainings Let us know if you have any other questions or concerns, otherwise can this issue be closed?

[2015-09-13 04:00] rainings commented on #905
@codydaig ya, the problem solved. i hope this issue can solve in the next version

[2015-09-13 04:11] codydaig commented on #905
@rainings What problem is there to solve? The addition of the profile photo is a case by case basis. Since the base application doesn't use it, I don't think that it should be included.

[2015-09-13 06:28] rainings commented on #905
@codydaig  all right, got it. just close it. Thank you

[2015-09-13 15:32] blueflagbj opened #908 "Running with User Seed is Failed"
Warning:  Database seeding is turned on
--
MEAN.JS - Development Environment
Environment:			development
Port:				3000
Database:				mongodb://localhost/jydz-dev
App version:			0.4.1
MEAN.JS version:			0.4.1
--
Failed to add local user
Failed to add local admin

[2015-09-13 17:49] codydaig commented on #905
@lirantal @ilanbiala Go ahead and close.

[2015-09-13 17:56] codydaig commented on #908
@blueflagbj Thanks for the bug report! See PR #909. Could you let me know if that fixes your issue?

[2015-09-13 20:08] #905 closed

[2015-09-13 21:38] #908 closed

[2015-09-14 01:57] jloveland commented on #848
@lirantal assuming you can close this issue.

[2015-09-14 09:32] lirantal commented on #848
Great, thanks, I updated the milestone too.

[2015-09-14 09:51] lirantal commented on #898
I'll try that and we'll see if it works.

[2015-09-14 19:29] rweindl commented on #389
Are there any new news on the progress of that topic?

[2015-09-14 20:35] trainerbill opened #912 "Change jshintrc latedef to exclude function definitions"
Can we change to

"latedef": "nofunc"

to allow us to follow the john papa style guide and allow function definitions to be defined later?

[2015-09-14 20:57] ilanbiala commented on #912
@trainerbill how is that better and not as confusing? The point of us referring to John Papa's style guide isn't just to blindly follow it but to do what we also think makes sense. You have to justify a better reason than it being in someone else's style guide. I'm not opposed to changes, but there needs to be evidence behind why it would be better.

[2015-09-14 21:12] trainerbill commented on #912
@ilanbiala I meant to have this as a discussion.  If we are going to follow that style guide then this jshint rule needs to change.  I had to change it in my project so I figured I would bring it up for discussion here.  That is all.  My only point is that we reference this style guide and so we should probably be able to support writing code that validates against it.  Yes, they can google and fi

[2015-09-14 21:59] ilanbiala commented on #912
@trainerbill isn't it more confusing to have a function defined after it's used when you are reading over someone else's code? Also, as I mentioned in another issue, the style guide isn't strictly our rulebook, it's a guide. If that's unclear, feel free to submit a PR with a style guide doc and we'll publicly provide our own rules.

[2015-09-14 22:16] trainerbill commented on #912
@ilanbiala Well I support using john papas style guide as a rulebook.  It leaves out any gray areas and gives us something to reference when code does not meet requirements.  Obviously you are against it, so as Owner of the project maybe you should put together a style guide that collaborators should stick to.  I am fine with using our own style guide, but it needs to be defined.  Otherwise we end

[2015-09-14 23:20] codydaig commented on #912
@ilanbiala I'm completley in favor on John Papa's style guide. The only rule I don't like in the style guide is IIFEs. But if we need to keep them for ease of understanding and usability, let's just leave them in.

[2015-09-14 23:20] mleanos commented on #912
I think using John Papa's style guide is important. However, we should not strictly adhere to everything he suggests. Rather we should look at the benefit of a specific suggestion, and weigh it against how well it fits into this project. For me, the use of IIFE's is clearly outside the bounds of this project's current implementation. That's one example of something we don't *need* to follow.

As f

[2015-09-14 23:21] codydaig commented on #912
Here's an example of a project that I'm currently working on. We've addapted the John Papa style guide almost to the T, except for IIFEs. https://github.com/nobsjs/nobsjs

[2015-09-14 23:25] mleanos commented on #912
I took Cody's lead & have been converting my server controllers to adhere to this style as well. Working with promises is a lot cleaner & more straightforward; the code is a lot easier to read/manage.

[2015-09-15 00:28] jloveland commented on #389
Is anyone actively working on this? @sielay? If not, is anyone out there wiling to take this on?

[2015-09-15 00:46] jloveland commented on #888
@mikepc are you making a pull request for this? I think it would be valuable.

[2015-09-15 00:58] mleanos commented on #888
:+1: I'd like to see a PR for this as well.

[2015-09-15 01:00] mleanos commented on #389
I've been wanting this as well.. I'll make a run at it this week & submit a PR if I make any progress.

Any additional considerations, since this issue is old & the structure of the application has changed?

[2015-09-15 01:13] britztopher commented on #389
@mleanos - if @sielay finished what he needed to do for user which will affect how authorization is handled then I was planning on getting this in.  I have done some work, mainly got satalizer to work with local token, but i need to know how authorization is going to be handled, (via the token, or by what we are doing now)

[2015-09-15 01:41] mleanos commented on #389
@britztopher I think the PR from @sielay isn't going to be worked on anymore. I think this PR is taking it over... https://github.com/meanjs/mean/pull/752 but I'm not 100% sure.

[2015-09-15 02:17] xiaoyang2022 opened #913 "node 4.0 is publish，will be Influence mean project?"
node 4.0 is publish，will be Influence mean project?

[2015-09-15 05:06] codydaig commented on #913
@xiaoyang2022 Currently the mean project does not support Node 4.0. But we hope to work towards supporting it in the future! If you want to help, feel free!

[2015-09-15 05:08] xiaoyang2022 commented on #913
thanks ,very much!

[2015-09-15 05:08] #913 closed

[2015-09-15 05:11] xiaoyang2022 opened #914 "this file would be input under "mean/config/lib/ " will be better?"
mean/modules/core/client/app/ ,this file would be input under "mean/config/lib/ " will be better?

If you can, how to do?Can you help me!

[2015-09-15 05:13] xiaoyang2022 commented on #914
if the angular project is more modules,will be more clear in the framework

[2015-09-15 06:55] lirantal commented on #912
@trainerbill am I missing something? current jshint is already set to ` "latedef": "nofunc"`:
https://github.com/meanjs/mean/blob/master/.jshintrc#L10

[2015-09-15 07:00] lirantal commented on #913
@xiaoyang2022 you can follow up on the build status for node v4 on travis-ci here: https://travis-ci.org/meanjs/mean

We will add the v4 support to travis in a couple of days and you can see it there on the main page.

[2015-09-15 07:02] mleanos commented on #912
@lirantal That's a good point :)

[2015-09-15 07:08] lirantal commented on #389
It has been on my to do list but I haven't gotten around to continue pursuing this yet except from general POC. How about we begin collaborating on a shared branch to tackle this? it shouldn't be that much work actually.

[2015-09-15 08:34] xiaoyang2022 commented on #913
thanks, in the /mean/modules/core/client/app/ 's files,i tink put it into /config/lib/ 's  will be better  ?

[2015-09-15 10:38] mleanos commented on #389
@lirantal I think working on a shared branch is a good idea. I'm in :)

[2015-09-15 11:54] britztopher commented on #389
Sure thing.  Lets open a new issue ticket to to get new conversation started to which way we should take this issue

[2015-09-15 13:11] trainerbill commented on #912
@lirantal haha.  Yeah it is...  I cloned down right after 0.4.0 when it was not.  Didn't look at recent master.  my bad.

[2015-09-15 13:11] #912 closed

[2015-09-15 15:44] lirantal commented on #888
why PR for this? I thought we were ok with handling this on the network devices level (Firewall / LB / etc)

[2015-09-16 00:50] blueflagbj opened #915 "Docs can improve it?"
Docs can improve it? Difficult for beginners to get started！

[2015-09-16 03:14] jloveland commented on #888
it would be nice to have it as an option to have node redirect without something like nginx in front. I can see how it adds some complexity, but if it's configurable it may be worth it.

[2015-09-16 03:57] ilanbiala commented on #888
@jloveland if something is better done something else I'm not in support of adding it to bloat the framework just for the convenience for small cases.

[2015-09-16 04:22] mleanos commented on #888
I agree with @ilanbiala

I was just more curious than anything, to explore what a seamless, unintrusive, and configurable solution might look like for this.

[2015-09-16 04:55] lirantal commented on #888
exactly as @ilanbiala , because we *can*, it doesn't mean we *should.

[2015-09-16 08:17] vko-online commented on #224
This issue is still open.

server.js file
[code]

`grunt` still throws error
[code]

[2015-09-16 20:51] #902 closed

[2015-09-17 00:08] jloveland commented on #888
sounds good to me then! I was curios as @mleanos was...but having the load balancer or ssl terminator do this makes sense to me in a production env.

[2015-09-17 09:38] AswathyRaju opened #918 "stderr maxBuffer exceeded"
Hi,

When I run 'yo meanjs' in ubuntu , getting

Unhandled rejection Error: stderr maxBuffer exceeded.
    at Socket.<anonymous> (child_process.js:258:12)
    at emitOne (events.js:77:13)
    at Socket.emit (events.js:169:7)
    at readableAddChunk (_stream_readable.js:146:16)
    at Socket.Readable.push (_stream_readable.js:110:10)
    at Pipe.onread (net.js:523:20)

why this happen? how to solve

[2015-09-17 09:49] simison commented on #918
generator isn't up to date with current version (0.4.x). There's probably some way to use it with older version (0.3.x), but I'd recommend to just skip using yo and simply clone the master branch.

[2015-09-17 11:53] AswathyRaju opened #919 "Missing angular js files in lib"
Hi,

I have done a gilt clone , git clone https://github.com/meanjs/mean.git meanjs , ( v : 0.4.1)
but the  sample application is not working. Missing angular js files in lib folder.

Is there any maintenance work is going on ? or I have to do anything else to run the application ?

Please help me.

Thanks

[2015-09-17 11:58] #919 closed

[2015-09-17 12:09] simison commented on #919
Did you run `npm install` and did that then run `bower install` at the end of it?

[2015-09-17 13:05] ilanbiala commented on #918
@simison yes it is. @AswathyRaju not the right repo. Please repost at generator-meanjs.

[2015-09-17 13:05] #918 closed

[2015-09-17 13:13] simison commented on #918
@ilanbiala Ah, good to know! Cheers.

[2015-09-18 07:17] lirantal commented on #888
:+1:

[2015-09-18 07:27] lirantal commented on #224
@vko-online looks like you're using an old version of MEAN.JS

[2015-09-19 02:45] jloveland opened #923 "Reset Password URL not using https"
when `config.secure.ssl` is `true`, the password reset url should be `https:// ` [here](https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.password.server.controller.js#L62)

[2015-09-19 07:45] lirantal commented on #915
@blueflagbj you're right, we should indeed work further on the docs.
any specific sections that seem more important for you than others in terms of priority?

[2015-09-19 08:02] lirantal commented on #923
Thanks @jloveland, there's a PR that fixes this.

[2015-09-19 17:05] lirantal commented on #828
@sparshy I assume no update on this topic?
@trainerbill be my guest - can you quickly research lusca vs csurf / helmet? and let's start working on this PR

[2015-09-20 12:52] zeldar commented on #915
@lirantal I'd be happy to help with the docs for 0.4+ as well.

I've been using mean.js since 0.3 on multiple projects.

1.  I can write an easy guide for replacing grunt with gulp, if that is useful.
2.  I also remove all LESS components for sass-bootstrap.  I remove the LESS watch tasks.  Would this be useful documentation, or does it belong somewhere else?
3.  Feel free to send me suggestions a

[2015-09-20 12:58] zeldar commented on #894
Try this:

In terminal, navigate to your project folder.
1. npm uninstall node-sass
2. npm uninstall gulp-sass
3. npm uninstall node-sass -g
4. npm uninstall gulp-sass -g
5. npm install node-sass -g
6. npm install node-sass --save-dev
7. npm install gulp-sass -g
8. npm install gulp-sass --save-dev

My node-sass and gulp-sass never seem to work without those steps.

IF THAT FAILS, TRY THIS ALSO:

I

[2015-09-20 13:05] zeldar commented on #743
I may be late to the party, but I am willing to write the gulp section.

[2015-09-20 15:59] codydaig commented on #915
@zeldar #743 is where our documentation ToDo List is. Feel free to pick a task and run with it! As for the other suggestions, I like them I'm just not sure where we'd want to put them. My gut instinct says put them in the WiKi, but @lirantal or @ilanbiala should have a better idea about that.

Thanks! :-D

[2015-09-20 18:30] ilanbiala commented on #915
@lirantal any preference between the wiki and gh-pages?

[2015-09-21 00:44] jloveland opened #926 "Allow for session.secret to be read from local env config"
enhancement: put the `sessionSecret` as a `local.js` env config so we can configure it without accidentally committing to code.
`sessionSecret: process.env.SESSION_SECRET || 'MEAN',`
https://github.com/meanjs/mean/blob/master/config/env/default.js#L25

[2015-09-21 21:23] jloveland opened #929 "E2E tests not executing"
after running `gulp protractor`
[code]
from the angular [docs](https://docs.angularjs.org/guide/e2e-testing):

It looks like we manually bootstrap [here](https://github.com/meanjs/mean/blob/master/modules/core/client/app/init.js#L71)
Do we need to add `np-app` somewhere?

[2015-09-21 22:13] ilanbiala commented on #929
@jloveland we should probably have an ng-app on either the HTML or body, though I usually prefer HTML. https://github.com/meanjs/mean/blob/master/modules/core/server/views/layout.server.view.html

[2015-09-21 23:40] naando-araujo opened #930 "Protractor issue (App Already Bootstrapped with this Element 'document')"
I'm trying to integrate protractor in a stack.
Have someone faced this error while testing?

"App Already Bootstrapped with this Element 'document'"

It happens when the ui-router states changes during the tests.
If I test "/" and "#!/a" it's ok, but if then I go to "#!/b" crashes.

So I research and found out ```browser.ignoreSynchronization = true;``` to mask this error in protractor config, but

[2015-09-22 11:21] vko-online commented on #389
TL;DR Does 0.4.1 support Token auth? If not, why

[2015-09-22 12:52] simison commented on #389
@vko-online See above https://github.com/meanjs/mean/issues/389#issuecomment-140300679

[2015-09-22 15:32] jloveland commented on #929
That didn't work. Need someone to take a stab at this who has more Angular experience.

When was the last time someone tries running e2e tests with gulp protractor?

[2015-09-22 19:10] ilanbiala commented on #929
@jloveland have you tried running protractor through Grunt?

[2015-09-23 04:34] jloveland commented on #929
@ilanbiala I found that when running `grunt protractor` or `gulp protractor` you need to have the app running beforehand using `grunt` or `gulp`. Now that I can get the e2e tests running, I see that the following e2e test fails:

I will fix this when I add e2e tests to #910

[2015-09-23 13:10] pgrodrigues commented on #903
Closing this as I'm now using grunt-ng-constant which achieves what I want in a easier way.

[2015-09-23 13:10] #903 closed

[2015-09-23 15:25] vko-online commented on #389
@lirantal sure not much work, i have my app using token auth, and it really works fine, but specific to my app, anyway would be awesome to have it in this repo

[2015-09-23 16:24] simison commented on #389
@vko-online nice. :-) https://github.com/vko-online/meanjs-token-auth

[2015-09-23 18:37] mleanos commented on #389
@vko-online Your token auth implementation looks really good. A PR would be greatly appreciated. It would be nice to get a head start on this, so it will be ready for the 0.5.0.

[2015-09-23 19:37] sielay commented on #577
Yep. Let's close it.

[2015-09-23 19:37] #577 closed

[2015-09-23 21:08] #923 closed

[2015-09-23 21:30] lirantal commented on #389
:+1:

[2015-09-24 04:38] ilanbiala commented on #929
@jloveland is there any way to start the server before we start Karma? I thought there was.

[2015-09-24 05:29] mleanos commented on #929
I guess the grunt configuration is missing the protractor task... we can add it with this...

`grunt.registerTask('test:e2e', ['env:test', 'lint', 'server', 'protractor']);`

One thing I noticed is that the protractor tests are pointing to port `3000`. Is this correct? Shouldn't the tests be looking for the test environment port `3001`?
https://github.com/meanjs/mean/blob/master/modules/articles/t

[2015-09-24 09:39] apitts opened #932 "docker-compose.yaml and livereload"
Should docker-comopse.yaml expose port 35729?

[2015-09-24 12:09] squiles opened #933 "Can't generate meanjs"
I'm sorry if this question has been answered before but I can't seem to find any help. Here is what I get when I try to run ` yo meanjs `

[code]

[2015-09-24 15:02] codydaig commented on #932
In production it shouldn't. But I believe that there are directions in the README to explain how to expose it during development.

[2015-09-24 16:55] bruna94 commented on #515
Hello! Can someone please help me with a  step by step tutorial about setting up an admin user on my meanjs app? Thank you!

[2015-09-24 16:57] trainerbill commented on #515
@bruna94 You can use the seed feature

MONGO_SEED=true grunt

The users and passwords will appear in the console

[2015-09-24 17:01] jloveland commented on #929
@mleanos you are correct, they should point to `3001` I am adding tests to #910 and can resolve this there.

[2015-09-24 17:15] bruna94 commented on #515
im sorry i executed this in GitBash but the console of the page does not show anything... am i doing something wrong?

[2015-09-24 17:17] trainerbill commented on #515
What version of MEAN are you running?  The seed feature was added within
the last 2 months.

On Thu, Sep 24, 2015 at 12:15 PM, bruna94 <notifications@github.com> wrote:

[2015-09-24 17:18] trainerbill commented on #515
@bruna94 Take this to the gitter chat so we don't revive this issue.

[2015-09-24 18:08] mleanos commented on #929
@jloveland Are you adding a grunt task as well?

[2015-09-24 19:41] jloveland commented on #929
yes, I am adding both grunt and gulp

[2015-09-24 20:34] mleanos commented on #929
@jloveland I'm wondering if the intention of the e2e tests is for them to be ran against a production/staging database (environment). Looking at the articles e2e test, it looks like it is expecting the count of *articles* to be zero because when this test was written, we didn't allow non authenticated users to view the articles list. I think the e2e may need/expect actual data. It's a little confu

[2015-09-24 20:42] mleanos commented on #929
This is a pretty good article that explains covers this subject...
http://blog.scottlogic.com/2014/08/06/angular-knockout-e2e-testing.html

What I gather from this article, is that we should be running it against our test environment, and writing our e2e tests with data population; just like we're doing in the server tests.

[2015-09-24 23:10] mleanos commented on #933
@squiles Do you know what version of the generator you have installed? You can check with the following..
`npm info generator-meanjs version` Which should output 0.4.1

If you don't have that version then you can update the generator with `npm install -g generator-meanjs`

And finally, use `yo meanjs` to initiate the project install.

[2015-09-24 23:24] jloveland commented on #929
Yup, I am writing tests that use the test database. I have a function that will drop the test database and then my sign up tests create a user by filling out the sign up form.  Then I can test sign in, etc.

[2015-09-25 00:37] apitts commented on #932
You are quite right I missed that!

[2015-09-25 00:37] #932 closed

[2015-09-25 02:02] squiles commented on #933
@mleanos I do have the 0.4.1 version installed and I did run `yo meanjs` and that was what I got. Any ideas about what you think the problem can be? Thanks a lot

[2015-09-25 02:40] jloveland opened #934 "Email validation"
I am writing some e2e test and found that 123@123 is a valid email according to HTML5 and [RFC 822](https://www.ietf.org/rfc/rfc0822.txt), but we don't support it on the back end.

If we wanted to support this we could set `validator.isEmail('test@test', {require_tld: false})` in `user.server.model`

If we don't want 123@123 to be accepted on the front end, we could check for this on the front end

[2015-09-25 03:41] mleanos commented on #933
What version of node, and npm do you have installed?

[2015-09-25 04:16] ilanbiala commented on #929
@mleanos always test from scratch to avoid false logic in the code.

[2015-09-25 04:19] ilanbiala commented on #933
Please post in the generator repo.

[2015-09-25 04:19] #933 closed

[2015-09-25 05:44] lirantal commented on #934
@ilanbiala why 0.4.x milestone? I thought we are avoiding that and always settings all PRs to the next version, unless we know it "needs more time" and so we can set it to to the one after it (i.e: 0.5)

@jloveland I don't specifically mind whether we force the tld option or not.

[2015-09-25 06:45] mleanos commented on #934
@jloveland I agree with this statement from the 2nd comment on that SO's accepted answer..

And since it is possible to have an email without a "." in it, shouldn't we accept it as well?

[2015-09-25 07:11] lirantal commented on #934
That's why I said I'm ok with it - it is possible for example to utilize meanjs for internal enterprise projects where you may have alias addresses like root@localhost which are valid.

[2015-09-25 07:47] mleanos commented on #929
@ilanbiala Thank you. That sounds about right to me. I just got thrown off because the articles e2e test is a bit confusing.

[2015-09-25 13:16] kbowerma commented on #933
I am getting a similar error with  node":"4.1.1","npm":"3.3.4".   I just updated everything and don't know if my environment is hosed.

Looks like there might be a problem with bufferutils or node-gyp

[code]

[2015-09-25 15:18] ilanbiala commented on #934
@lirantal I figured we should put this up for discussion and it actually is a breaking change, so it should go in 0.5.0.

[2015-09-25 15:19] ilanbiala commented on #933
I don't see any generator output.

[2015-09-25 15:38] simison commented on #933
I've seen these node-gyp errors a bit here and there for the past week-two, but all works fine regardless. [Some installation](http://www.vorlonjs.com/) instructions even had heads-up about this.

[2015-09-25 21:09] lirantal commented on #934
@ilanbiala what do you refer to by a "breaking change"?

[2015-09-25 22:24] codydaig commented on #933
@kbowerma The meanjs project is not yet compatible with node 4.x.

[2015-09-25 22:26] kbowerma commented on #933
thanks @codydaig I just came to the same conclusion and figured out how to go back to 0.12 and everything is good.    Thanks for the quick reply

[2015-09-26 11:57] simsolTech commented on #360
It runs if I use the contents of config/assets/default.js in config/assets/production.js

[2015-09-26 16:45] igorauad commented on #933
Thanks @codydaig same issue here. Problem solved

[2015-09-26 17:39] ilanbiala commented on #934
We are changing the functionality of email validation, so if users updated to this code as 0.4.2, then their code wouldn't function as before and it might break things, hence a breaking change.

[2015-09-26 17:49] #873 closed

[2015-09-26 17:53] ilanbiala opened #938 "Node-pre-gyp package?"
@lirantal Where are we using the node-pre-gyp package?

[2015-09-26 18:47] jloveland commented on #934
@ilanbiala, how is allowing html5 valid emails (i.e. root@localhost) a breaking change? The application will not stop working, it will allow valid emails. If they don't want to allow root@localhost or test@test, they can remove the `{require_tld: false}`.

[2015-09-26 18:49] ilanbiala commented on #934
It's different than before, which breaks the expected functionality. Before we didn't allow emails without a `.` or whatever, and now we do, which changes how things work. That would be a breaking change.

[2015-09-26 22:01] mleanos commented on #934
I can see the "breaking change" issue from both sides. However, I think what @ilanbiala is trying to say is that even though this won't *stop* anything from working, it actually will *allow* more emails through; this could be breaking for some apps that rely on this restriction.

[2015-09-26 22:02] lirantal commented on #934
OK, so Ilan, if we will want to go with this change, you prefer we do it in
a 0.5 release?
9

Regards,
Liran Tal.
On Sep 26, 2015 9:49 PM, "Ilan Biala" <notifications@github.com> wrote:

[2015-09-26 22:06] lirantal commented on #934
BTW I could also argue that not allowing users anymore to create, edit,
delete articles is also a breaking change.  Which is also what I said on
that PR.

Regards,
Liran Tal.
On Sep 27, 2015 1:02 AM, "Liran Tal" <liran.tal@gmail.com> wrote:

[2015-09-26 22:53] mleanos commented on #934
@lirantal I agree.. That's a good reason for that PR to be added to the 0.5.0 milestone as well.

Also, I wasn't taking a particularly strong stance on either side of this issue. I really don't know how likely it is for a user of this project to be **relying** on this restriction.

[2015-09-27 10:38] lirantal commented on #938
@ilanbiala maybe you should ask Cody:
[code]

[2015-09-27 14:21] ilanbiala commented on #934
@lirantal in both cases you are correct. These changes should only be published in 0.5.0 because they alter the functionality.

[2015-09-27 14:24] ilanbiala commented on #938
@codydaig do you know what the node-pre-gyp package is doing? I don't see it being required anywhere.

[2015-09-27 17:42] simison commented on #938
Running `npm ls` shows it being required in a couple of places, notably:

[code]

[2015-09-27 18:27] ilanbiala commented on #938
@simison that's fine that it is depended on, but there is no reason to have it as a top level dependency of our app.

[2015-09-28 20:48] lirantal commented on #808
@codydaig is this relevant anymore?

[2015-09-29 09:04] lirantal opened #943 "Coding Styles and Code Formatting"
# Topic
Coding Styles and Code Formatting across the MEAN.JS project code base.

# Conventions
* Named functions (no anonymous functions allowed)

# Tool
We chose ESLint as the upcoming tool to perform the job, if you would like to propose anything else please comment with the pros/cons (see reference for PR request: https://github.com/meanjs/mean/issues/763)

[2015-09-29 09:05] lirantal commented on #943
@ilanbiala @mleanos @codydaig @trainerbill @rhutchison we've got this place to discuss items now related to coding conventions. You're welcome to raise all the formatting and code style that were raised in other PRs here and we'll add them to the main issue description as this grows.

[2015-09-29 15:17] sparshy commented on #786
Thanks to you man @andreafdaf , finally I understand it :+1:

[2015-09-29 15:41] codydaig commented on #943
No nested functions! It should be a closure instead: ie.

Incorrect:
[code]

Correct:
[code]

[2015-09-29 15:42] codydaig commented on #786
@sparshy Is this issue resolved then?

[2015-09-29 15:49] sparshy commented on #786
Yeah @codydaig

[2015-09-29 16:56] ilanbiala commented on #943
It should actually just be `.then(bar)` to keep it simplest.

[2015-09-29 16:56] #786 closed

[2015-09-29 18:52] codydaig commented on #943
@ilanbiala so you prefer nested functions?

[2015-09-29 20:03] trainerbill commented on #943
This is bound to ruffle some feathers, but for the client side / angular, can we just put conform to john papa style guide?  Or are we creating a whole new style guide for this project?  I personally like the john papa style guide, and they already have it documented to the T.  No need to reinvent the wheel IMO.

[2015-09-29 20:06] ilanbiala commented on #943
@codydaig not nested functions. I'm not sure how you get that. Look at this example with bluebird (the concept holds for promise as well):

[code]

I've removed some of the code for brevity, but look at the final promise chain. All I'm doing is returning the promise from each function and resolving/rejecting with something, and the following then/catch has access to it.

[2015-09-29 20:07] ilanbiala commented on #943
@trainerbill I think we've already justified why certain things don't apply regarding John Papa's style guide.

[2015-09-29 20:28] trainerbill commented on #943
@ilanbiala Then can we please link to the pieces we are using?  A couple that I would put in there to start:

https://github.com/johnpapa/angular-styleguide#iife
https://github.com/johnpapa/angular-styleguide#modules
https://github.com/johnpapa/angular-styleguide#controllers
https://github.com/johnpapa/angular-styleguide#factories
https://github.com/johnpapa/angular-styleguide#route-resolve-promis

[2015-09-29 21:11] devypt opened #945 "Documentation mistake"
in the documentation http://meanjs.org/docs/0.4.x/#troubleshooting it's saying

`git checkout 0.4.0`

which should be

`git checkout v0.4.0`

[2015-09-29 21:39] cdnadmin opened #946 "Build Error at `npm install`. Issue with node installed via nvm (node version manager)?"
Does meanjs not work when node is installed via NVM (Node Version Manager)?

Tried w/node versions 0.12.0 and 4.1.1 via (NPM) and respective npm versions 2.5.1 and 3.3.4.

I cloned meanjs v0.3.3 (`git clone --depth 1 --origin meanorigin  --branch v0.3.3 https://github.com/meanjs/mean.git .`) and and did an `npm install`, failed with this:

gyp ERR! build error
gyp ERR! stack Error: `make` failed w

[2015-09-29 21:51] mleanos commented on #943
@ilanbiala In your example the `emailCSV` function is expecting the parameter *csvContents* to be the resolved data from the previous promise in the chain (createDay which resolves the `today` data).

Closures can be useful for when you need to pass additional parameters to your functions that are being called in a chain of promises.

To keep with your example, you may actually need to pass *csvCo

[2015-09-29 22:39] ilanbiala commented on #943
@mleanos while slightly less efficient, it's better in my opinion to pass around more data in case you ever need it and end up with clearer code. Closures in my opinion are nowhere near as clear as having an object `result = {csvContents: "", today: ""}` with a little extra info.

[2015-09-29 23:04] mleanos commented on #943
@ilanbiala The problem with that strategy is that you end up having to pass around this extra info into each of your functions that are returning promises. They become too dependent upon data that it shouldn't even be concerned with. The only data that the promisified functions should be concerned with, is the data that it is calculating & resolving. This way they can act autonomously. Any extra d

[2015-09-29 23:42] codydaig commented on #945
@devypt Do you want to submit a PR for this?

[2015-09-29 23:43] mleanos commented on #943
@trainerbill I'm fine with your proposed list of styles from John Papa. However, I'm still not convinced of the IIFE's; but I won't fight it. It would be nice to know the exact benefits of using them; with examples.

I'm not sure if this was implied by your list but I would add this as well...
https://github.com/johnpapa/angular-styleguide#bindable-members-up-top

[2015-09-29 23:45] codydaig commented on #946
I use Node via nvm, so I know it's not an issue with that. and we don't have a 0.3.3 branch.

[2015-09-30 00:58] codydaig commented on #943
@ilanbiala That object idea only works if your making each of the functions that return a promise, but if you throw in a function from a node module that returns a promise, you can't pass it or expect it to return the object that contains everything.

[2015-09-30 02:35] gustavodemari opened #947 "Update multer middleware in config/lib/express.js"
Hi guys,

The multer library has changed, and also they've changed the way of using multer as a middleware in express.

[Old way](https://github.com/expressjs/multer/blob/c36cf0c33656ef3e2ba76a6118de14e7b61e3c6d/README.md#usage):
[code]

[New way](https://github.com/expressjs/multer#usage):
[code]

As you can see below, we are using the old way of usage in the [config/lib/express.js#L92-L97](https

[2015-09-30 02:43] codydaig commented on #947
@gustavodemari Submit a PR!

[2015-09-30 04:07] trainerbill commented on #943
@mleanos IIFE's are pretty much the most important part of the style guide and without them I am fairly certain we could not implement the rest of the style guide.  For example if you are doing controller definitions without them, then if anyone made a function called ArticleController, which is probably rare but could happen, then the entire module would blow up as ArticleController would be glob

[2015-09-30 05:22] ilanbiala commented on #943
@mleanos the functions aren't dependent on that data existing, they unaware of it even being there, just that their necessary data is 1 level deeper in the argument. I've had no issues with it yet and my code has been much cleaner due to no closures and a simple promise chain.

[2015-09-30 07:45] devypt commented on #945
@codydaig  yes

[2015-09-30 07:48] devypt commented on #945
@codydaig where is the docs repo?

[2015-09-30 09:09] mleanos commented on #943
@trainerbill Yes. I understand that. You don't have to convince me. I'm not resisting IIFE's anymore.

[2015-09-30 10:08] mleanos commented on #943
@ilanbiala I just don't see how that follows any sort of pattern of separation of concerns. I can see problems arising when the requirements of the functions, or the implementations around them, start to change. You would end up having to make modifications to the promisified functions that merely pass this data around. That doesn't seem very DRY to me.

For me, the closures are easy to read & mak

[2015-09-30 10:18] cdnadmin commented on #946
Thx, @codydaig.  Incidentally, also tried it with latest out there --> v0.4.1.

[2015-09-30 10:30] cdnadmin commented on #946
File for above comment...and for thoroughness of issue description.

[Terminal Saved Output.txt | uploaded via ZenHub](https://files.zenhub.io/560bb9b2d7a4f68e2d4f0b0a)

[2015-09-30 10:38] cdnadmin commented on #946
Tried by nvm installing v0.12.7 (latest of v0.12.x), per these lines in the error output:

`gyp ERR! node -v v0.12.0`
`gyp ERR! node-gyp -v v1.0.2`
`gyp ERR! not ok`

...to no avail...same error.

[2015-09-30 11:04] cdnadmin commented on #946
Got past above error by referencing this [npm issue](https://github.com/npm/npm/issues/3932).  Basically, it's an issue with current (Sept 2015) updates to xcode.  Have to `sudo xcodebuild -license` then 'agree' to it at the command line, per @inexplicable 's instructions.

Buuut, now we get a `Error: 'make' failed with exit code: 2`  See attached file.

[TerminalOutput.MakeErrorCode2.txt | upload

[2015-09-30 11:14] #946 closed

[2015-09-30 15:41] codydaig commented on #945
@devypt It's the gh-pages branch of this repo.

[2015-09-30 15:43] codydaig commented on #946
@cdnadmin Glad you got it working!

[2015-09-30 15:44] ilanbiala commented on #943
@mleanos it also depends on global functions, and ideally we don't do have any except for modules. I'm not a fan of the approach, and you would still have to refactor your closures and the corresponding code for your approach.

[2015-09-30 15:47] codydaig commented on #943
@ilanbiala How would you have handeled these situations then?
https://github.com/lirantal/meanjs/blob/6f8b5bfd58bf1e378a5245d5114c23e44317b728/config/lib/seed.js#L51
https://github.com/meanjs/mean/pull/937/files#diff-7dfe67f86c4c0773b98c0422a0cb606aR19

[2015-09-30 16:03] ilanbiala commented on #943
@codydaig like I said, pass around a little bit more data and just keep passing it down the chain.

[2015-09-30 16:20] codydaig commented on #943
@ilanbiala but then your forcing the database functions to handle data from multiple area of the site.
https://github.com/lirantal/meanjs/blob/6f8b5bfd58bf1e378a5245d5114c23e44317b728/config/lib/seed.js#L139
Which introduces an issue of name conflict across different portions of the site. Also, if the generate function wasn't our own promise function, but instead it was a built in mongoose functio

[2015-09-30 16:22] ilanbiala commented on #943
@codydaig you can always create your own promise and return it. I'm not sure what you mean by name conflict.

[2015-09-30 18:05] dfdumaresq opened #952 "404 error on Generator Repo link"
On http://meanjs.org/docs.html#getting-started the link to Generator Repo is wrong. The issue is also on the 0.4.1 documentation page: http://meanjs.org/docs/0.4.x/#getting-started

<p>The generator is still in development. See the <a href="https://github.com/meanjs/generator-meanjs/tree/0.4-dev">Generator Repo</a> for information on how to use the development version.
  </p>

Thanks,
Dave

[2015-09-30 21:17] #945 closed

[2015-09-30 21:25] devypt opened #953 "Documentation mistake"
version number is wrong in the download link which cause 404

this

`$ wget https://github.com/meanjs/mean/archive/0.4.0.zip -O meanjs.zip; unzip meanjs.zip; rm meanjs.zip`

should be

`$ wget https://github.com/meanjs/mean/archive/v0.4.0.zip -O meanjs.zip; unzip meanjs.zip; rm meanjs.zip`

I will submit pull request for it.

[2015-09-30 21:45] mleanos commented on #943
@ilanbiala If you create your own promise to accommodate this, then you can't just simply return the other promise (the one you're really interested in). You end up having to handle the resolve, and catch, inside this new promise to add this extra info to your data object. This will end up making things more complicated and less DRY. Think of how complicated things will get if you implement this t

[2015-10-01 02:07] ilanbiala commented on #943
@mleanos I've had no issues with this system and I've used it quite a bit and I've had no problems.

[2015-10-01 02:42] mleanos opened #955 "Mocha intermittent timeouts"
We seem to be having intermittent issues with the Mocha tests timing out; including the Travis CI builds failing due to these timeouts. This has been disrupting the flow of contributions with our PR's builds failing. Personally, when I've committed changes to a PR, I have been crossing my fingers that no tests timeout.

I suggest to implement suite level timeout increases; described here http://mo

[2015-10-01 05:04] codydaig commented on #955
SGTM

[2015-10-01 05:47] lirantal commented on #955
Hi @mleanos,
As you can see, I've already used this timeout mechanism to address this issue here: https://github.com/meanjs/mean/blob/master/modules/users/tests/server/user.server.model.tests.js#L174

I'm ok with having a global one per the entire test suite as well.
I believe this is ok, and is just to address issues with CI building on environments where performance might not be the best like Tr

[2015-10-01 05:56] lirantal commented on #953
Correct, thanks please do.

[2015-10-01 06:07] mleanos commented on #955
@lirantal Ok great. Because I'm currently getting frustrated since I'm testing the tests atm :)

[2015-10-01 06:47] Meistercoach83 opened #958 "[solved] remove Article Error"
Hi,
I´m using a not modified version (current stable). When I click on the delete button for one article, all my articles are deleted. The request sent to the server is looking ok:
DELETE /api/articles/560cd6624a69c22833f25918 200

where can i search for occuring errors?

[2015-10-01 07:14] mleanos commented on #958
@Meistercoach83 I can't reproduce this issue on the master branch. Can you check to see what version of the project you're running?

Does your package.json file have this setting?
https://github.com/meanjs/mean/blob/master/package.json#L5

If not, then is this the "current stable" version that you're referring to?
https://github.com/meanjs/mean/releases/tag/v0.3.3

[2015-10-01 07:46] Meistercoach83 commented on #958
Hi,

yes - there´s a line with "meanjs-version": "0.4.1" in package.json

[2015-10-01 07:51] mleanos commented on #958
I'm not experiencing that behavior. Could there be other contributing factors?

And the articles code hasn't been modified at all? What browser are you using?

Also, could you provide screen shots, and/or the contents of your articles server/client controller?

[2015-10-01 08:01] Meistercoach83 commented on #958
It´s the current Firefox in version 41.0.1.
I downloaded the zip from master branch again manually => same problem

[2015-10-01 08:19] mleanos commented on #958
I just updated my Firefox to 41.0.1. And still I can't reproduce. There has to be some other factor involved.

Are you experiencing any other database issues? Any problems with Chat, or user profile updates?

[2015-10-01 08:37] Meistercoach83 commented on #958
Could there be sth. wrong with my versions of node / mongodb?

By the way. A grunt:test gets me an error with logout:

    User CRUD tests should be able to login successfully and logout successfully:

      Uncaught AssertionError: expected 'Found. Redirecting to /' to be 'Moved Temporarily. Redirecting to /'
      + expected - actual
      +"Moved Temporarily. Redirecting to /"
      -"Found. Re

[2015-10-01 09:00] mleanos commented on #958
I can't think of anything that could cause that type of behavior. Everything else seems to be behaving correctly?

Out of curiosity, what versions of node, npm, and mongodb do you have installed?

[2015-10-01 09:12] simison commented on #958
Old Mongo could indeed cause such errors. A friend had issues with MeanJS and Mongo 2.2 (rather old).

[2015-10-01 09:17] Meistercoach83 commented on #958
my versions:
mongodb: 3.0.6
node: 0.12.7
npm : 2.11.3

[2015-10-01 09:33] simison commented on #958
Did anyone test this with new Mongo before? @ilanbiala @mleanos @rhutchison @lirantal @codydaig

It _should_ be just a drop in replacement...

[2015-10-01 10:13] Meistercoach83 commented on #958
I dropped my complete vm and reinstalled everything. now it seems to work. I don´t know why. but issue can be closed

[2015-10-01 10:45] mleanos commented on #958
I'm using mongodb 3.0.6 as well.

[2015-10-01 12:36] bastianwegge commented on #955
Shouldn't this be about creating a sandbox for every test and making sure no requests or timeouts are running after every single test-suite finished rather than just increasing the timeout?

[2015-10-01 14:44] codydaig commented on #958
@Meistercoach83 Glad you got it figured out!

@ilanbiala Can we close?

[2015-10-01 18:26] mleanos commented on #955
@bastianwegge Can provide an example, or proposed alternative solution?

I realize that my proposal may be just a temp solution. Right now, these timeouts are reaking havoc on the Travis builds, so it would be nice to get something out quickly.

[2015-10-01 21:16] #958 closed

[2015-10-01 21:17] lirantal commented on #958
@Meistercoach83 keep a close eye and let us know if this happens again.

[2015-10-01 21:19] codydaig commented on #958
@simison I'm using mongo version 3.0.5

[2015-10-01 22:32] lirantal commented on #955
"testing the tests" - that's nice :)

[2015-10-02 00:49] mikepc opened #960 "Forcing a build on heroku"
When I get push heroku master, everything is successful, but unless I add the build output and run the build command locally and push those files, they don't get built post install.

Could someone who has deployed to heroku help me out getting the build to work?

[2015-10-02 01:15] mleanos commented on #943
@ilanbiala I would expect it works fine for your use case. You probably just haven't needed to extend it much outside of the scope for how you need it to behave. Even though it may be working out for you in your specific use case, doesn't mean that it is DRY and follows proper SOC.

I would be worried that you may paint yourself into a corner, using that strategy. It's fine, until you need to get

[2015-10-02 02:05] mleanos commented on #960
There's a not so elegant way that I've deployed a staging app to Heroku...

I've modified my package postinstall script to be this:
`"postinstall": "bower install --config.interactive=false && gulp build"`
I'm using Gulp because I remember having some issues with Grunt, but I think it may have been related to something else. So you should be able to use Grunt instead here.

The build script, will

[2015-10-02 16:43] lirantal commented on #915
Let's stick with gh-pages for project documentation, it's what we've done so far and is easier to
collaborate on rather than the wiki.

@zeldar I second @codydaig with regards to viewing our task list for documentation areas in that issue

[2015-10-03 11:01] #955 closed

[2015-10-04 13:29] lirantal commented on #943
Guys, @trainerbill has a point. We've not going to re-invent the wheel with regards to coding styles. Let's pick an existing coding style that best matches our desires and if we can't find a 100% perfect match for such code style then we can reference the 90% of it, and for the 10% that we don't want to follow we can state our own.

What do you say?

[2015-10-04 13:52] lirantal commented on #869
Quite a few issues still for v0.4.2 to resolve: https://github.com/meanjs/mean/pulls?q=is%3Aopen+milestone%3A0.4.2+is%3Apr

[2015-10-04 14:40] ilanbiala commented on #943
@lirantal yep we can just state what conventions we will ignore.

[2015-10-04 14:53] lirantal commented on #943
Cool. So is it John Papa style that is the only relevant convention to discuss or does anyone would like to raise another one?

[2015-10-04 15:00] ilanbiala commented on #943
I think the JP has most of what we want.

[2015-10-04 15:01] ilanbiala commented on #869
@rhutchison can you update the list? @lirantal I think we can say that this is the cutoff for 0.4.2?

[2015-10-04 15:12] lirantal commented on #869
Yep

[2015-10-04 15:37] codydaig commented on #943
I'm cool with just sticking with that style guide.

[2015-10-04 16:49] #929 closed

[2015-10-04 21:02] mleanos commented on #943
John Papa's guide seems sufficient to me as well.

[2015-10-04 21:19] lirantal commented on #943
Ok, but John Papa's style is just for angular, right?
Can we re-use the same style guide for the server-side? For example regardless if we want to adopt IIFE or not, it doesn't make much sense for nodejs.

[2015-10-04 21:35] mleanos commented on #943
@lirantal I think we can take some of John Papa's styles to the server-side. Along with our strategy of handling promises.

@codydaig Has a great example of how this would look. Care to share @codydaig ?

I like the modular structure of the code using John Papa's guide. The server-side components would end up looking, and acting, more like services; which I think we should strive for.

[2015-10-04 22:57] codydaig commented on #943
https://github.com/nobsjs/nobsjs/blob/master/modules/core/server/controllers/core.controller.server.js

That is a general sense of what I would like to strive for. My only objection to that example is closures. We didn't use closures in that project, we used nested functions. We're in the process of refactoring, but the changes have not been pushed yet.

[2015-10-05 00:24] ilanbiala commented on #943
I'm not a fan of functions in functions, and I also think closures in Node don't really offer much benefit.

[2015-10-05 07:26] lirantal opened #961 "E2E Tests error out but don't fail the build"
[code]

See error in full build log at: https://s3.amazonaws.com/archive.travis-ci.org/jobs/83643870/log.txt

[2015-10-05 07:27] lirantal commented on #961
@jloveland can you please take a look? since you've recently worked on the E2E tests in grunt/gulp

[2015-10-05 11:47] TsarS opened #962 "admin roles"
I want to register different roles, except the admin. Can i use in

     users.authentication.server.controller.js
  like

            // For security measurement we remove the roles from the req.body object
     if (req.body.roles === 'admin') {
      console.log('NO Chances')
      var roles = req.body.roles;
     };
 ?

[2015-10-05 11:49] TsarS commented on #962
Ooops. Sorry. I prepared it for meanjs group. It's not a issue.

[2015-10-05 11:49] #962 closed

[2015-10-05 14:16] karan-kapoor90 opened #963 "Using socket from controllers in mean 3.0"
We've been working on quite a big project using mean 3.0 as the base now and I picked up the socket functionality from an intermediate 4.0 code and brought it into our 3.0 with the entire globbing mechanism.
Is there a way I can use socket to send out notifications from my controllers? Something that maybe includes configuring socket with app such that I can just require it in any controller and j

[2015-10-05 15:02] ilanbiala commented on #963
@karan-kapoor90 this question is better suited on another forum. GitHub is appropriate for feature requests, bug fixes, etc. but not help as we cannot help the whole community. If you still haven't had any luck after asking around, come back with whatever progress you have made and we'll try to help.

[2015-10-05 15:02] #963 closed

[2015-10-05 16:30] vaucouleur opened #964 "mochaTest timeout parameter"
@mleanos  @lirantal

Hi,

Worth considering: the timeout parameter can be set directly on the options of the mochaTest task. It avoids duplicating the this.timeout(10000) statements everywhere in the mocha tests.

Something like:

    mochaTest: {
      src: testAssets.tests.server,
      options: {
        reporter: 'dot',
        timeout: 10000
      }

See the Option paragraph  of https://githu

[2015-10-05 19:47] mleanos commented on #964
My original idea was that it would be better to have the *timeouts* set per suite/test. That way when things stabilize with Travis, we can start customizing the timeouts; increasing/decreasing based on the observed performance for each test (or suite). Perhaps, that isn't the best strategy.

In our current situation everything is set to `10000` anyway, so it might make more sense to add this as a

[2015-10-05 23:32] mleanos opened #966 "User CRUD Tests saving hashed password"
While running the server tests, I'm periodically running into an issue with some of the User CRUD tests. I would get a model validation error on the `password` field. Each time, the validation was complaining about the "may not contain sequences of three or more..". I would re-run the tests and may, or may not, run into this issue again.

Today, I decided to dig a bit deeper into this. What it loo

[2015-10-06 03:41] mleanos commented on #966
Screen shot of the error

![meanjs-issue-966](https://cloud.githubusercontent.com/assets/5613734/10299644/51ccb1b4-6ba1-11e5-81b6-00384d27640f.png)

[2015-10-06 05:13] karan-kapoor90 commented on #963
I understand that @ilanbiala but this is really urgent for me which is why I posted it here directly. I understand thats not how questions are taken up here, but if you do have any clue on how it can be done, it'll be much appreciated.

[2015-10-06 06:16] mleanos commented on #963
@karan-kapoor90 I've worked quite a bit with socket.io in my own app based off the 0.4.0 version. I'm on Gitter if you'd like to talk about it there.

[2015-10-06 07:03] karan-kapoor90 commented on #963
Found a solution at https://vexxhost.com/resources/tutorials/mean-socket-io-integration-tutorial/ :)

[2015-10-06 07:03] karan-kapoor90 commented on #963
Thanks for offering @mleanos

[2015-10-06 08:15] vaucouleur commented on #964
@mleanos  Obviously, we can have both. Instead of mochajs default (2000), we can have a default value that fits better MEANJS needs, and if needed we can adjust the timeout for a specific test.

[2015-10-06 10:21] mleanos commented on #964
@vaucouleur I agree. I've tested this for Grunt & Gulp & they seem to work as expected. I'm fine with having this option added.

[2015-10-06 11:11] lirantal commented on #964
I think @vaucouleur has a valid point, let's add it as a global parameter for now instead of fiddling with each specific test scenario.

[2015-10-06 11:43] jloveland commented on #961
I was having trouble with #965, so I closed and I submitted #968 as a separate PR

[2015-10-07 21:16] ClaasM opened #970 "Sub-generators not working, always trying to scaffold a new app"
Using Windows 8.1. Its the same with other sub-generators. Why could that be?

![image](https://cloud.githubusercontent.com/assets/9898462/10351295/176992cc-6d49-11e5-924c-7fafe1ab99c2.png)

[2015-10-07 21:41] mleanos commented on #970
@ClaasM Currently, the sub-generators do not work for the newest meanjs version. The sub-generators are being worked on at the moment. The easiest way to add a new module, is by adding the files & folders manually.

https://github.com/meanjs/generator-meanjs/blob/master/README.md#application-generator
Read the bottom of that section.

[2015-10-07 21:56] ClaasM commented on #970
Thanks for the info, you may want to add that in the docs on meanjs.org.

[2015-10-07 21:56] #970 closed

[2015-10-07 23:18] mleanos commented on #943
I think this discussion got a little derailed. I think we should stick to the client-side implementation of John Papa's style guide. We can have a separate discussion if we want to take some of this to the server-side.

With that said, where do we stand with @trainerbill suggested styles?

@codydaig @ilanbiala @jloveland @lirantal @rhutchison @trainerbill

[2015-10-07 23:50] codydaig commented on #943
I agree.

[2015-10-08 11:23] lirantal commented on #966
@mleanos I can definitely confirm this bug is right.
I'm wondering if just checking for the modified password is a patch or do we have a bigger problem with the password generating again due to the owasp requirements?

[2015-10-08 14:09] lirantal commented on #881
Guys, why not just use some tool like:
1. https://github.com/dylang/changelog
2. https://github.com/dylang/changelog

And manually generate/add to the CHANGELOG everytime we tag a new release?
I don't think we need to be very anal on the CHANGELOG. This is an open source project and anyone who wishes to find more about the history of the project can easily review the commits log, the issues queue,

[2015-10-08 20:39] mleanos commented on #966
@lirantal If you see where the tests are originating from, it's not interacting with the  password generator at all. I'm pretty sure the issue is that in the case of the User Crud tests, the `user` is saved in the `beforeEach` hook. Then again, with the tests that modify the user object & then save it again. This will cause the User model validate pre hook to fire, and the password is now in the h

[2015-10-09 00:29] gustavodemari commented on #943
For server-side, I like @felixge [Node.js style guide](https://github.com/felixge/node-style-guide)

[2015-10-09 01:17] codydaig commented on #943
@gustavodemari I like that style guide as well. But for sanity right now, let's keep this discussion to client side. We've got outstanding PRs waiting on this decision.

[2015-10-09 01:33] gustavodemari commented on #943
@codydaig No problem, it is just a suggestion for, maybe, use this guide as a starting point for server-side discussion.

[2015-10-09 06:02] lirantal commented on #966
Ahh ok, got it.
The `isModified` is the exact same way we handled it in the .pre save hook so we should stick with that for consistency. It means we test the password field only if it's really changed, meaning a new password is there. Last question on this - in general, are we sure we're actually running the validation test on the pre-hashed password field and not on the hashed password field ?

[2015-10-09 07:25] mleanos commented on #964
@vaucouleur I can submit a PR for this, unless you're planning to.

Should we remove the individual test suite timeouts when we add this?

[2015-10-09 10:30] lirantal commented on #964
@mleanos @vaucouleur I think it's worth another PR change to move this to the grunt configuration.

[2015-10-09 15:01] vaucouleur commented on #964
@mleanos Hi Michael, please go ahead with the PR. If it turns out that you're busy with other things, just let me know and I'll do it.

[2015-10-09 15:34] ilanbiala commented on #943
@gustavodemari @codydaig @lirantal I think we should just have 2 sections at the top for client and server side. Also, Felix's is pretty good, except for these in my opinion:
https://github.com/felixge/node-style-guide#use-multi-line-ternary-operator
https://github.com/felixge/node-style-guide#no-nested-closures

In my opinion those should be handled case by case, because that ternary operator is

[2015-10-09 20:34] mleanos commented on #966
@lirantal What do you mean "in general"? Can you provide an example, or reference?

From what I see, we're testing the strength of the password after user input. In respect to mongoose, the `pre('validate')` method runs before the `pre('save')`; whatever state the password is in at that time, will be what the `pre('validate')` uses.

Adding the `isModified` check to the validation method, does see

[2015-10-10 08:19] lirantal commented on #966
So it's somewhat related to the discussion we had back then about whether to use the `isModified` check or not and I don't think it's a patch, it's part of the model.

[2015-10-10 15:45] jloveland commented on #966
I agree that we should have the model take care of making sure the password has been changed before sending to the password validation. I do think we need to evaluate how we test. Do we have a test that explicitly looks for this issue? If not, we should.

I also think that when our individual tests should start with a clean state (i.e. not leverage previous test's user information). Some of the te

[2015-10-10 18:40] lirantal commented on #966
Yes one of the user tests in the model has a test for changing a password and confirming that a new hash is generated. Maybe we can enhance it with another test for pre-validations? maybe there's already one, I'm not sure. We need to take another look at the tests in the user model.

The tests do start with a clean slate (although some are dependent on the other so they don't clean) Take a look at

[2015-10-10 18:40] #966 closed

[2015-10-11 09:06] jimf2342 opened #974 "Compilation errors when execute 'yo meanjs'"
OS X Yosemite
node v4.1.2
npm  v2.14.4

When attempting to install meanjs with the yo generator the following errors were encountered:

  CXX(target) Release/obj.target/debug/src/debug.o
In file included from ../src/debug.cc:2:
../node_modules/nan/nan.h:261:25: error: redefinition of '_NanEnsureLocal'
NAN_INLINE v8::Local<T> _NanEnsureLocal(v8::Local<T> val) {
                        ^
../node_mod