[2015-10-11 19:55] ilanbiala commented on #974
Post this on the generator repo.

[2015-10-11 19:55] #974 closed

[2015-10-11 20:00] HarishAtGitHub commented on #974
I too got the same error while doing with yeoman generator .....
it seems something like https://github.com/strongloop/strong-pm/issues/278#issuecomment-141845213 .
.....

time being workaround :
==================
I then cloned the meanjs repo master branch and the same errors occured but was able to bypass the errors and the build successfully completed ....

[2015-10-11 20:02] HarishAtGitHub commented on #974
@ilanbiala ,
Just my opinion : I cloned the https://github.com/meanjs/mean repo and checked out tag 0.4.1 and did npm install and the same error occurred .... so even without the generator that error occurred ... so it seems like it has nothing to do with the generator ...

Sorry, if it is wrong .... trying out meanjs only today ..

[2015-10-11 21:10] codydaig commented on #943
I don't like the multi line ternary operator either, but I do like the no nested closures.

[2015-10-11 21:41] ilanbiala commented on #943
@codydaig nested closures in general are probably bad, but his example seems to simple to not do that in my opinion. I think if it's simple enough, then it's fine.

[2015-10-11 21:56] mleanos commented on #943
By writing your code without nested closures, you'll end up with cleaner & more reusable code; making things much more modular. For instance, two separate resolved promises could use the same closure function to satisfy a need. Even in simple examples, it makes sense for the purpose of extending the use case in the future.

I don't like the multi-line ternary either; although I'm tempted if one be

[2015-10-11 23:00] ilanbiala commented on #943
@mleanos the indentation makes sense just like it's a function.

[2015-10-11 23:58] codydaig commented on #943
@mleanos I have to agree with @ilanbiala on that one. Indentation makes more sense too me as well.

[2015-10-12 00:08] mleanos commented on #943
@codydaig @ilanbiala I know. I think it's just a weird preference of mine. The rest of the world is wrong, I'm right :) j/k

[2015-10-12 09:36] aviadhahami opened #976 "forgot-password | Server hits error "ECONNREFUSED" (500)"
Hey,
For some reason I can not use the "forgot password" functionality.

In order to test it I've generated couple of MEAN projects via `yo` and in all of them (and doesn't matter where they run) one can not use the "Forgot Password" section.
From my debug I've realized it has to do with the `nodemailer` usage at line *68* on `users.password.server.controller.js` .

The server returns the followin

[2015-10-12 14:07] vrohitk opened #977 "XMLHttpRequest cannot load error on accessing MEAN.js API through IONIC app"
I am developing an ionic application, trying to access API of MEAN.JS application which is as below which is a link to encoded JSON

https://damp-dawn-2579.herokuapp.com/api/foods
The factory service of my application accesses the above link but gets an error

XMLHttpRequest cannot load http://localhost:3000/api/foods. No 'Access-Control-Allow-Origin' header is present on the requested resource. O

[2015-10-12 16:09] codydaig commented on #976
@aviadhahami My initial thoughts are telling me that you don't have a mail transporter set-up properly.

[2015-10-12 16:13] codydaig commented on #977
You need to enable cors.
https://www.npmjs.com/package/cors

[2015-10-12 16:37] #977 closed

[2015-10-12 17:09] rahil051 commented on #974
@ilanbiala @HarishAtGitHub Almost same error stack for me while trying to install the 0.4.1, 0.4.0 and 0.3.3 (stable) version of MEAN.js. As Harish said, it has nothing to do with the yo generator. Either if I try to clone the repo && npm install or download the zip && extract && npm install or even use the yo meanjs command, the same error happens.

npm ERR! registry error parsing json
npm WARN o

[2015-10-12 18:23] ilanbiala commented on #974
Are you behind a proxy at a company? Read the whole stack trace.

[2015-10-12 21:54] bohdanafanasyev opened #978 "Installation problem"
Greetings while trying to install using generator I got following message on version 0.4.1:
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? 0.4.1
0.4.1
? In which folder would you like the project to be generated? This can be changed later. mean
Cloning the MEAN repo.......
? What would you like to call your application? MEAN
? How would you describe

[2015-10-12 21:57] ilanbiala commented on #978
This should be posted on the generator repo.

[2015-10-12 21:57] #978 closed

[2015-10-13 03:35] mleanos commented on #976
@aviadhahami I'm not having any issues with this feature on the *master* branch. My guess is the same as Cody's. Do you have the `mailer` settings set for the environment the app is running in?

[2015-10-13 03:55] codydaig commented on #978
@bohdanafanasyev The mean.js project didn't introduce Node 4 support until recently so you have to select the master branch to generate.

[2015-10-13 06:01] mleanos opened #979 "Favicon incorrect path"
I've experienced an issue with the favicon resolving to an incorrect path. It happens intermittently, and I'm not able to reproduce regularly. However, I have seen others reporting the same issue.

When the issue occurs, the favicon URL resolves to `http://localhost:3000/articlesmodules/core/client/img/brand/favicon.ico` or similar; this will depend on what route I navigate to. So in this example,

[2015-10-13 06:39] mleanos commented on #964
This can be closed. I did a few rounds of testing after #972 was merged, and both Grunt & Gulp are working with this change.

[2015-10-13 06:40] #964 closed

[2015-10-13 08:11] rahil051 commented on #974
@ilanbiala yes I had read the stack trace and I  on my personal computer with windows environment. I normally install npm packages without any errors and have also tried different npm registries for example the Chinese one, but this proxy issue only occurred while installing any build of Mean.js

[2015-10-13 08:12] rahil051 commented on #974
Sorry Ubuntu environment

[2015-10-13 12:32] aviadhahami commented on #976
Hey guys,
Thanks for the quick response.
Will dig into `mailer` later on today and post update

[2015-10-13 12:55] lirantal commented on #953
Thanks @devypt I've created a PR for it.

[2015-10-13 20:25] ervine13 opened #983 "Roles per model"
Is there a way with the current feature set that I can apply roles specifically to a model, not app wide?

Here's what I'd like to do considering 2 models: `Program` and `Article`.

A user creates a `Program` and is the owner or admin of that `program`. User can then create `Articles` that belong to that `program`. He can also give other users of the app "editor", a role, rights to his `Program` t

[2015-10-13 21:33] mleanos commented on #983
It sounds like you're talking about permission based roles. I solved a similar design consideration with a project based off MEANJS.

The way that I would approach it is to have a `permissions` field in your `Program` model. Something like this..
[code]
That's a basic example. But it may be a model that works for your use case. In your `server.policy` file you can check for that role, and set spec

[2015-10-13 22:58] ervine13 commented on #983
Thanks @mleanos. I will try that. If I have any other Qs, I will definitely ask. Thanks again

[2015-10-13 22:58] #983 closed

[2015-10-14 00:36] aviadhahami commented on #976
Ok guys, solved it.

Issue was indeed with the mailer config. thx !

[2015-10-14 00:36] #976 closed

[2015-10-14 01:30] lucianocorreia opened #984 "AzureVm WIndows + IISNODE + deploy error"
I downloaded the new version of MEANJS, run the npm install and bower install cmds.
gulp build and the project workd fine on localhost.

when I tried to deploy on the IIS 8, i got a blank screem. and a 404 error in all css/ js files:

Any tips to deploy on Windows Azure VM with IISNODE?

webconfig for iisnode:
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <

[2015-10-14 02:26] jloveland commented on #984
I have never tried this. Have you considered running a docker container on your windows server instead? this may allow you to run Mean.js side by side with IIS..
https://blog.docker.com/2015/08/tp-docker-engine-windows-server-2016/

[2015-10-14 05:20] ilanbiala commented on #984
@lucianocorreia please only use this issue tracker for feature requests and bug reports. All other questions should first be directed to Stack Overflow or another forum before coming here.

[2015-10-14 05:20] #984 closed

[2015-10-14 05:24] ilanbiala commented on #763
@rhutchison do you have any work so far for ESLint support?

[2015-10-14 06:29] rahil051 commented on #13
@amoshaviv @c-rodrigo  but the issue wasnt fixed for me while using
sudo npm update -g generator-meanjs

I am on a Ubuntu 14.04 machine, and the generator-meanjs version I am using is 0.4.1 (I think this is the latest one)
the meanjs I have installed from yo generator is 0.4.1 (latest mean.js) and my yo version is 1.4.8

But still when trying to create a module inside my meanjs directory, it's gen

[2015-10-14 09:11] aralroca opened #986 "Cookie question"
An issue happened in my code that I don't know how to solve...

In **socket.io**, in **io.use**, exactly in this line:

`var sessionId = socket.request.signedCookies['connect.sid'];`

Is working well in localhost... But in my server (AWS), the sessionId variable is `undefined` only in the case that the user sign in via local. If the user sign in via Facebook, Twitter, Google+ is also working well.

[2015-10-14 14:25] vaucouleur commented on #979
Same here. I can confirm that I also had  intermittent issues with favicon.

@mleanos made a very good description of the issue, I could not isolate the issue further. One more piece of information though: if one look closely at the GET requests, you will see the favicon being requested at some very wrong locations:

GET /authentication/signinmodules/core/client/img/brand/favicon.ico 200 14.889 ms

[2015-10-14 14:42] ilanbiala commented on #986
@aralroca this doesn't involve a feature request or bug, so please post on Stack Overflow or another forum before here, as this is really a forum for development and not troubleshooting.

[2015-10-14 14:42] #986 closed

[2015-10-14 14:45] ilanbiala commented on #979
@mleanos @vaucouleur Quick check of git blame shows that https://github.com/meanjs/mean/commit/ef3a3f954852c7717844fe0c18647ad4290b2945 modified the file when we fixed the formatting, but the `{{url}}` was also there. I think it's a typo that got inserted by mistake. Regarding the META tags, do they not do anything for Facebook/Twitter anymore?

[2015-10-14 15:04] vaucouleur commented on #979
@ilanbiala  Yes, probably typo. The previous commit inserted the {{url}} and the favicon variable:

https://github.com/meanjs/mean/commit/d7f96227ebc24a3e06ec221872b76e7b6f1bc96c#diff-76401fabda693ae2a74744450d655053

Not sure about the other META tags.

[2015-10-14 18:46] mleanos commented on #986
@aralroca My initial suggestion is to check what your sessionKey is set to in your Express middleware. Similar to how this is working.
https://github.com/meanjs/mean/blob/master/config/lib/express.js#L125
https://github.com/meanjs/mean/blob/master/config/env/default.js#L28

We fixed a bug with that particular line of code that you are having issue with. It specifically pertained to the `sessionKey

[2015-10-14 18:51] mleanos commented on #979
@ilanbiala Regarding the META tags, I don't really know what their purpose is & the current implementation adds to the confusion. Why is the *brand logo* being used for the Twitter image?

I suppose I can submit the fix for the favicon, and we can address the META tags as well; however, I'll need more feedback & context with the latter.

[2015-10-14 19:08] bohdanafanasyev commented on #978
Thank you, codydaig! Actually I don't really get what I was supposed to do from what you've suggested due to my beginner knowledge, but I resolved  that by downloading zip from github and simply running npm install.

[2015-10-14 19:56] lirantal commented on #13
@rahil051 this one is quite an old discussion.
Just a clarification, the generator for the latest version (v0.4) doesn't support sub-generators like the older one. We are working on getting those on-board but their not there yet.

[2015-10-14 21:48] aralroca commented on #986
Buah mleanos amazing , is just for the name of the cookie ! Why is this happen ? I only changed the name of the cookie and the issue was solved! I can't believe it! Thank you so much! And sorry @ilanbiala , next time I will ask in stackoverflow!

[2015-10-14 22:09] mleanos commented on #986
@aralroca Anytime :) Gitter is a great place to get feedback, or ask questions, related to the MEANJS project.

https://gitter.im/meanjs/mean

[2015-10-15 08:14] gitLee47 opened #988 "Twitter widget not displaying on any page"
I created a twitter widget using https://twitter.com/settings/widgets and embedded the code provided into the core> home.client.view.html , but the widget does not get rendered. I tried quite a few options like including the script in the layout view, also by removing deep linking '#!' in the urls, but nothing seems to work. I tried creating a completely blank view and putting the code there, that

[2015-10-15 08:47] gitLee47 commented on #988
Fixed it!
We need to add <script src="https://platform.twitter.com/widgets.js"></script> in layout.server.view.html
and call  twttr.widgets.load() in the controller of the respective view where the widget needs to be shown. This is an angularjs specific issue.

[2015-10-15 08:47] #988 closed

[2015-10-15 14:13] lirantal commented on #943
We should indeed create 2 different style guides:
1. AngularJS frontend
2. NodeJS backend

Seems like airbnb's style guide is also quite a popular option on Github: https://github.com/airbnb/javascript though it's quite long and comprehensive compared to Felix's.

For NodeJS I think the choice is easier to make.
I'm not expert at Angular so you guys need to workout the best option for a style guid

[2015-10-15 16:10] lirantal commented on #979
That PR should also fix the logo reference to ``{{logo}}`` (see https://github.com/mleanos/mean/blob/favicon-path-bug/modules/core/server/views/layout.server.view.html#L22) because both favicon and logo are basically static assets, not related to the current URL.

[2015-10-15 18:08] codydaig commented on #763
@ilanbiala He shared this with me a while back:
https://github.com/Gym/mean/blob/eslint/.eslintrc

[2015-10-15 21:48] ilanbiala commented on #943
For everyone on this thread who is interested, #989 is all about style formatting. Feel free to suggest any changes, but the initial PR is just to get it added in.

[2015-10-16 00:26] codydaig commented on #960
@mikepc Did this answer your question?

[2015-10-16 02:39] codydaig opened #992 "Moving gh-pages to own repo"
@lirantal @ilanbiala

Could we move the gh-pages branch to it's own repo `meanjs.github.io` to make it easier to work on and submit PRs? It's pretty hidden where it's at now.

[2015-10-16 02:45] codydaig commented on #961
@jloveland If the E2E tests fail, the build still passes:
https://travis-ci.org/codydaig/mean/jobs/85656775
Intentionally broke a test to demonstrate the issue.

[2015-10-16 03:10] jloveland commented on #961
@lirantal , there were 2 PRs that can resolve this bug:
#968 - MERGED - fixes the issue with selenium not starting
#993 - NEW - fixes configuration for grunt task to fail if e2e test fails which will fail the travis build

[2015-10-16 03:26] codydaig commented on #952
https://github.com/meanjs/mean/blob/gh-pages/_includes/docs/0.4.x/gettingstarted.html#L42

[2015-10-16 03:35] codydaig commented on #961
thanks @jloveland

[2015-10-16 03:39] codydaig commented on #828
https://www.npmjs.com/package/lusca

[2015-10-16 04:12] codydaig commented on #828
A PR has been submitted #995

[2015-10-16 04:39] ilanbiala commented on #992
I like the idea, but I think having docs updates will be harder since it's in a different repo and keeping track of 2 PRs on different repos will be tougher. Any thoughts on that?

[2015-10-16 04:45] codydaig commented on #992
@ilanbiala I think it will be easier for people to submit PRs, but I also see your point keeping track of PRs on two different repos. However, the generator does are buried in the gh-pages repo of the mean project which was my biggest reasoning for suggesting to move it.

I hosted an open source hackathon today and that was the piece of feedback that I received that the docs for the generator are

[2015-10-16 04:47] #952 closed

[2015-10-16 04:52] ilanbiala commented on #992
@codydaig let's get some more feedback on it, because I'm not opposed to it, but I don't want the docs to take a step back because they end up in a separate repo.

[2015-10-16 06:38] lirantal commented on #992
@codydaig what do you mean by the docs are hard to find?
It's quite common that repositories have gh-pages branch for documentation.

Maybe we should make it more obvious in the website docs or in the wiki/README of where to find the docs and how to work with them? That seems like a much easier approach.

[2015-10-16 06:39] #953 closed

[2015-10-16 06:52] codydaig commented on #992
@lirantal The issue they had was they were looking for a gh-pages branch in the generator, which doesn't exist. There's just the gh-pages in the mean repo. I'm fine with either, I just figured I'd bring it up too see what other people's thought were. If stick to the same method, we need to put something about where the docs are located in the generator repo `readme.md`.

[2015-10-16 07:16] lirantal commented on #961
Great thanks, I'll close this issue.

[2015-10-16 07:16] #961 closed

[2015-10-16 16:37] lirantal commented on #992
In this case I think a much quicker and easier approach is simply to make the information more available if it is through the README or on the main sections of the website itself.
Moving around repos and all that just seems some overhead that we don't want to start focusing on.

[2015-10-16 16:39] codydaig commented on #992
Fair. I'll find a way to make that more clear and submit a PR.

@ilanbiala @lirantal Thanks for the feedback! :-D

[2015-10-17 03:39] codydaig commented on #808
@michalmw I'm going to assume this can be closed. If this is still an issue, feel free to reopen. :-D

[2015-10-17 03:39] #808 closed

[2015-10-17 03:57] codydaig commented on #914
@xiaoyang2022 Sorry for the delay, did you figure this out or does this still need to be addressed?

[2015-10-17 04:54] codydaig commented on #938
@ilanbiala Sorry for the delay. That came a PR I did to get rid of the npm warnings for the future upgrade of npm 3. It had something to do with dependency resolution.

[2015-10-17 04:55] codydaig commented on #930
@jloveland Has this been resolved with the latest changes?

[2015-10-17 04:57] codydaig commented on #848
@lirantal Any reason in particular we're keeping this open?

[2015-10-17 05:00] codydaig commented on #775
@kitz17 Im going to close this issue for now. Feel free to reopen if you want to discuss why this should be added to the project. Thanks!

[2015-10-17 05:00] #775 closed

[2015-10-17 05:01] codydaig commented on #898
@mleanos @lirantal Whats the status of this issue?

[2015-10-17 05:02] codydaig commented on #792
@aralroca Sounds like this issue has been resolved. I'm closing this issue, but feel free to reopen if it hasn't been resolved.

[2015-10-17 05:03] #792 closed

[2015-10-17 05:23] mleanos commented on #898
@codydaig I'm resolved to think this isn't really an issue; at least not as much as I thought it was initially.

In order for this to cause issues for a user, they'd have to enable the Travis Web Hooks on their repository. So that seems like a conscious effort on their part.

[2015-10-17 11:58] #914 closed

[2015-10-17 15:55] jloveland commented on #930
@codydaig and @naando-araujo I think we can close this.

[2015-10-17 15:57] jloveland commented on #848
you can close this issue..resolved in #878

[2015-10-17 16:37] ilanbiala commented on #938
It's not used anywhere though, do you remember the PR?

[2015-10-17 16:43] lirantal commented on #938
@ilanbiala just submit a PR to remove it and we'll see if it fails or not in the CI :)

[2015-10-17 16:46] #848 closed

[2015-10-17 16:49] ilanbiala commented on #938
#1001

[2015-10-17 16:52] lirantal commented on #930
@naando-araujo any comments?

[2015-10-17 17:06] #938 closed

[2015-10-17 17:22] lirantal commented on #992
Welcome :)

[2015-10-17 17:37] codydaig commented on #915
Closing in favor of #743.

[2015-10-17 17:37] #915 closed

[2015-10-17 17:48] #763 closed

[2015-10-17 20:34] lirantal commented on #743
@zeldar We'd love it.
Can you begin by adding a gulp section and document the current setup we have there?

[2015-10-17 21:10] zeldar commented on #743
@lirantal Yes, Happy to do that.  I have it mostly written out, just needs a final edit.  Apologies for taking so long.  I had to read the guidelines and get my workflow inline with that for the request.  I'll send the request today/tonight.

[2015-10-17 21:36] codydaig commented on #743
@zeldar No worries! We're looking forward too it.

[2015-10-18 00:29] mikepc opened #1003 "Menus don't acknowledge $stateParams"
I can't pass the $stateParams into the state of the menu.. I tried injecting it all the way up to where the the addMenuItem function is declared but for some reason it just won't accept the stateparams.  Any ideas?

[2015-10-18 15:58] #979 closed

[2015-10-18 18:12] ilanbiala commented on #511
@lirantal @junit38 any idea whether this is still an issue?

[2015-10-18 18:14] ilanbiala commented on #867
Is this still an issue, or is @mleanos correct and remember me works?

[2015-10-18 18:18] ilanbiala commented on #869
@lirantal @codydaig whenever you close an issue in the future, please add it to this list so we don't have to do it all at once.

[2015-10-18 18:18] ilanbiala commented on #898
@lirantal do we want to bother with this or should we just close?

[2015-10-18 19:34] lirantal commented on #511
I didn't eventually get to review that one.
If anyone has any social login configured we can easily test by changing some profile detail after being logged-in once and then logout/login to see if that new value is updated on meanjs.

[2015-10-18 19:36] lirantal commented on #867
remember me works because we have an expiration time on cookies.
I guess we can close this unless someone will re-open

[2015-10-18 19:40] lirantal commented on #869
what do you mean? to which list should we add it?

[2015-10-18 19:44] lirantal commented on #898
PR for it: https://github.com/meanjs/mean/pull/1004 - I noticed that when the build triggers then it sends information to the gitter room. I'm not sure if that's because travis is parsing the `.travis.yml` file from the PR or from the `master` branch.

I created a variable in travis-ci.org for us, and added it to the `.travis.yml` file.
WDYT?

[2015-10-18 20:14] ilanbiala commented on #869
The list in this issue at the top.

[2015-10-18 20:14] #867 closed

[2015-10-18 20:15] ilanbiala commented on #898
@lirantal if it works, sounds good!

[2015-10-18 20:53] jloveland commented on #389
@lirantal, should this be assigned to milestone 0.5.x?

[2015-10-18 23:36] mleanos commented on #898
@lirantal I couldn't quite figure out if Travis parsing the `.yml` file from the PR or `master` branch either. I'll try to test this here in a bit with my fork.

[2015-10-19 02:16] jloveland commented on #943
XO seems to simplify code style checking...https://github.com/sindresorhus/xo
WDYT?

[2015-10-19 02:22] jloveland opened #1005 "Eslint dependency"
I was seeing an error in my editor after installing a linter plugin for eslint referring to the fact that I didn't have eslint installed locally. I resolved by installing eslint globally, but I was curious if we should add this to our devDependencies?

[code]

[2015-10-19 03:38] codydaig commented on #1005
@jloveland Just curious, what editor are you using?

[2015-10-19 05:31] lirantal commented on #943
@jloveland how is it different?

[2015-10-19 05:43] lirantal commented on #898
Ok, so I'll go ahead and merge.
If there will be any issues I'll revert back.

[2015-10-19 05:43] #898 closed

[2015-10-19 14:04] jloveland commented on #943
I haven't used XO yet, but it sounds like something of interest for us to consider...

From the XO readme:

No decision-making. No .eslintrc, .jshintrc, .jscsrc to manage. It just works!

Sounds like it can reduce some configs.

[2015-10-19 15:03] ilanbiala commented on #1005
@jloveland what do you mean by a linter plugin?

[2015-10-19 15:04] ilanbiala commented on #943
@jloveland I looked at xo and it prefers a less strict configuration, which we kind of need when having so many contributors.

[2015-10-19 15:51] jloveland commented on #1005
I am using the Atom editor. I am also using this linter plugin:
https://atom.io/packages/linter-eslint

[2015-10-19 15:59] naando-araujo commented on #930
I discovered an approach, just use ```beforeEach(function() { browser.get(''); });```. Using this I resolved the error, I just don't know if it's the best way.

BTW I asked here:
 - http://stackoverflow.com/q/32722948/2913704

Thanks

[2015-10-19 16:01] codydaig commented on #930
@naando-araujo Have you checkout the latest changes that were made to the protractor tests in the master branch by @jloveland? I'm not quite sure what the issues are getting mean, but that may be a great place to start.

[2015-10-19 16:03] codydaig commented on #892
@Solidary Any update on this issue? I'm closing, but feel free to reopen if it's still an issue.

[2015-10-19 16:03] #892 closed

[2015-10-19 16:04] codydaig commented on #894
@mmintel I'm going to close this issue. Feel free to reopen if this is still an issue. :-D

[2015-10-19 16:04] #894 closed

[2015-10-19 16:06] codydaig commented on #926
@jloveland Seems like this was resolved wth #927. If not, feel free to reopen! :-D

[2015-10-19 16:06] #926 closed

[2015-10-19 16:07] codydaig commented on #782
@h3xc0ntr0l I'm closing this issue. however, feel free to reopen if it's still an issue.

[2015-10-19 16:07] #782 closed

[2015-10-19 16:08] codydaig commented on #399
@sylvainlap I'm closing this issue. Feel free to reopen if it's sill an issue.

[2015-10-19 16:08] #399 closed

[2015-10-19 16:08] codydaig commented on #452
@cliffeby I'm closing this issue, however, feel free to reopen if it's still an issue.

[2015-10-19 16:08] #452 closed

[2015-10-19 16:13] naando-araujo commented on #930
@codydaig and @jloveland I agree, we can close it. I finish my tasks on that project, it was started over 3 months so I guess it was used with the first release and nowadays (probably already resolved) so
I would start at the master branch, as you said.
I'll try to checkout as soon as possible. Thanks!

[2015-10-19 16:15] #930 closed

[2015-10-19 16:18] codydaig commented on #533
@AliceRossa I'm closing this issue for now. If it's still an issue, feel free to reopen.

[2015-10-19 16:18] #533 closed

[2015-10-19 16:47] ilanbiala commented on #1005
I don't think we need to include it as a dependency right now, but we probably should for when npm 3.x comes around (I think it removes peerDependencies).

[2015-10-19 22:53] jloveland commented on #1005
@ilanbiala sounds good, I will close.

[2015-10-19 22:54] #1005 closed

[2015-10-20 03:31] wang3g opened #1010 "MongoDB SCRAM-SHA-1 authentication failed for on mean-dev fro client 127.0.0.1;"
Hi, I just cloned and installed a fresh MEAN.js from Github into my brand new iMac mini. Everything went well until the server starts running, I got the following error message:

Running "concurrent:default" (concurrent) task
    Running "nodemon:dev" (nodemon) task
    Running "watch" task
    Waiting...
    [nodemon] v1.3.8
    [nodemon] to restart at any time, enter `rs`
    [nodemon] watching:

[2015-10-20 03:48] mleanos commented on #1010
@wang3g Could be related to https://github.com/meanjs/mean/pull/1009

Try setting mongoose to version 4.1.11 by updating your *package.json* to use `"mongoose": "4.1.11"`. If that does indeed fix the issue for you, please report it back to the above PR & it will further confirm the fix.

[2015-10-20 04:20] wang3g commented on #1010
Thank you soooo much! The problem is gone after updating mongoose to 4.1.11.

[2015-10-20 05:49] #1010 closed

[2015-10-20 10:00] fellyralph commented on #1010
I have the same problem am using mean.js,how can I update mongoose to 4.1.11?
do we have to only modify package.json? changind 4.0.6 to 4.1.11

[2015-10-20 10:41] wang3g commented on #1010
What I did is
npm install mongoose@4.1.11 --save.
That is it.

[2015-10-20 11:42] fellyralph commented on #1010
@wang3g  thnks a lot ,it worked!!

[2015-10-20 12:40] wang3g commented on #1010
Good to hear.

[2015-10-21 14:30] Dave3of5 opened #1013 "Yo Sub generator tries to create brand new project"
When running yo meanjs:crud-module test I get the prompt for creating a new project.

I'm using the meanjs yo sub generator from http://meanjs.org/generator.html#crud-module

I also used yo to create the project in the first place.

[2015-10-21 15:07] codydaig commented on #1013
This is a generator issue, so post it in that repo. There's already on open issue for this over there.

However, the sub generators arnt fully built for the new generator yet.

[2015-10-21 15:07] #1013 closed

[2015-10-21 15:36] Dave3of5 commented on #1013
Sorry the url I posted sent me back here O-o. Any ideas what the repo is for that generator?

[2015-10-21 16:47] codydaig commented on #1013
https://github.com/meanjs/generator-meanjs

[2015-10-22 02:09] ezekkiel commented on #947
Creating "uploads" folder in "/modules/users/client/img/profile" works for me (multer old way).

[2015-10-22 04:09] withlovee commented on #1010
had the same problem. fixed with "mongoose": "4.1.11" thanks!

[2015-10-22 09:02] IcebergRage commented on #263
I'm agree with @lirantal !
@jaxyeh did you do a PR?

[2015-10-22 21:15] joops commented on #1010
For the benefit of anybody else coming across this I had the same issue running mongoose v4.2.1 after a npm update.

In my case downgrading via npm install mongoose@4.1.11 --save also fixed the problem - many thanks to @wang3g!

[2015-10-22 21:48] ezekkiel opened #1015 "problems on nodejs v4.2.1 LTS."
Have problems with karma on ```npm install``` with nodejs v4.1.2 :

[code]

[2015-10-22 23:00] codydaig commented on #1015
We don't fully support Node 4 yet. The master branch has some initial support for Node 4, but we don't fully support it yet. We're waiting on all dependencies to catch up, and for us to be able to test and bring them in.

[2015-10-23 20:24] ezekkiel commented on #1015
Ok, Thanks!, would be nice to add to that to the main page. Cheers.

[2015-10-24 14:02] ilanbiala commented on #1015
@ezekkiel those are easy fixes and actually, a PR would be very welcome. 1 PR would be to update our dependency of Karma to the latest. Another PR would be to add Istanbul as a devDependency, which will get rid of those warnings.

[2015-10-25 16:02] lvarayut opened #1017 "How to integrate ES6 with this project?"
First of all, thanks for the great generator. It looks very good for me. I would like to use this generator with ES6. Would it be possible to do so? Is there a ES6 option that I could choose when using yeoman?

[2015-10-25 18:00] codydaig commented on #1017
@lvarayut On the server side, there is no official support for ES6, however, the master branch is the only branch that's the closest to working for Node 4. If you use that branch and Node 4, then you can use ES6 features.

[2015-10-25 19:24] lirantal commented on #869
@ilanbiala looks like the Changelog is the only thing holding 0.4.2 back?
Any suggestions what we can do about speeding it up?

[2015-10-25 21:55] codydaig commented on #869
@lirantal @ilanbiala Here are the open PRs marked for 0.4.2. However, I'm not opposed to moving those out to the next release. https://github.com/meanjs/mean/pulls?q=is%3Aopen+is%3Apr+milestone%3A0.4.2

Also, is the next release going to be 0.4.3 or 0.5.0? I'm voting for 0.5.0

[2015-10-25 22:13] codydaig commented on #1015
@ezekkiel If you use the master branch of this repo, it does work on Node 4. I've been using it for several weeks now. There are npm WARN messages, but those are just warnings for when npm v3 is released. a PR is still welcome, but not necessary to get it working on Node 4.

[2015-10-26 02:03] #947 closed

[2015-10-26 02:04] ilanbiala commented on #869
Next release should probably be 0.5.0. I think everything but the Lusca should be taken care of in 0.4.2.

[2015-10-26 02:52] lvarayut commented on #1017
Thanks @codydaig. I'll give it a try!

[2015-10-26 02:52] #1017 closed

[2015-10-26 11:08] mahlu opened #1018 "gyp ERR! during install"
mahlu@ubuntu:~/Desktop/meanjsMaster$ npm install
    npm WARN install Couldn't install optional dependency: Unsupported
    npm WARN install Couldn't install optional dependency: Unsupported

    make: Entering directory `/home/mahlu/Desktop/meanjsMaster/node_modules/bufferutil/build'
      CXX(target) Release/obj.target/bufferutil/src/bufferutil.o
    make: g++: Command not found
    make: *** [R

[2015-10-26 11:36] mahlu commented on #1018
I get the same error also after updating g++

[2015-10-26 14:06] ilanbiala commented on #1018
@mahlu post the package install errors separately on their respective repos. This isn't a MEAN problem as far as I can tell.

[2015-10-26 16:07] codydaig commented on #1018
https://github.com/npm/npm/issues/9204

It has worked for some people to uninstall node gyp and reinstall. What OS are you running?

[2015-10-26 21:48] mahlu commented on #1018
I am on Ubuntu 14.04 LTS 64-bit
Testing against  node v4.2.1 (npm v3.3.10) via nvm.
node-gyp v3.0.3

I have all the correct dependencies installed as instructed by node-gyp: (python, C/C++ compiler, make). I tried uninstalling and reinstalling node gyp but nothing is changing.
The odd thing is this is happening only when I try to npm install meanjs.

I tried to remove the node_modules folder and r

[2015-10-26 22:13] #1018 closed

[2015-10-27 05:03] codydaig commented on #1018
@mahlu Interesting. I'm going to try to duplicate on a Ubuntu 14.04 server myself. Thanks for the report back and glad you got it working.

[2015-10-27 19:59] ilanbiala commented on #352
This seems like extra that most users won't need, I'm going to close for now because there are also better features we should spend more time on.

[2015-10-27 19:59] #352 closed

[2015-10-27 20:01] ilanbiala commented on #362
@codydaig @mleanos any thoughts on this? Not much in our implementation has changed, but loading resources is always something we should try to improve imo. I also want to see if you guys have any thoughts on whether this is really holding anything back or we should just close and come back to it when we do a much larger refactor.

[2015-10-27 20:01] ilanbiala commented on #423
@ravisuhag is this still an issue?

[2015-10-27 20:01] ilanbiala commented on #427
@szchenghuang is this still an issue for you?

[2015-10-27 20:02] ilanbiala commented on #493
@c1moore is this still an issue for you?

[2015-10-27 20:02] ilanbiala commented on #530
Not happening as of now.

[2015-10-27 20:02] #530 closed

[2015-10-27 20:04] ilanbiala commented on #715
Since this is a specific case, I'd rather not keep this open on GitHub and instead refer you to Gitter or Stack Overflow or another Forum.

[2015-10-27 20:04] #715 closed

[2015-10-27 20:04] ilanbiala commented on #743
@codydaig can you update the checklist at the top? I think we covered some of these, no?

[2015-10-27 20:05] codydaig commented on #362
@ilanbiala I honestly hadn't though much about this because I don't actually MEAN in production. However, I do think this may be a little bigger of a priority if it causes issues in the production environment. @mleanos thoughts? You've had experience in production.

[2015-10-27 20:05] ilanbiala commented on #960
Gitter or Stack Overflow are better forums, please discuss this there.

[2015-10-27 20:05] #960 closed

[2015-10-27 20:06] ilanbiala commented on #1003
@mikepc can you provide some code and describe this a little more clearly?

[2015-10-27 22:00] codydaig opened #1021 "PM2"
Anyone opposed to deprecating `forever` in favor of `PM2`?

[2015-10-27 22:19] ilanbiala commented on #1021
Let's do it!

[2015-10-27 22:24] mleanos commented on #1021
:+1:

[2015-10-28 03:43] lovellfelix commented on #1021
+1

[2015-10-28 10:52] kokokenada commented on #389
+1 Token Auth

[2015-10-28 13:05] ilanbiala commented on #1021
Just to give us some idea of where we want it, @codydaig depending on how easy it is we may do it in 0.5.0 or a further release.

[2015-10-28 13:08] ilanbiala commented on #389
For anyone following this issue, this would be a + to have, but we already have a list of things we plan to add for 0.5. If you would like this feature, we'll gladly accept a PR.

[2015-10-28 14:09] dbelieves opened #1024 "Module vs state"
Hi,

i am a beginner at MEAN.JS. I am a bit confused about few of the things.

Case: i want to create a page which can be opened at url [xxxx.com/post-requirement]
the contents of this page will store data to DB on submit

which thing should i follow:
1) create a module by the name 'post-requirement'
or
2) create a state using ui-router

the second case is easy but because i am working in the 'cor

[2015-10-28 14:34] ilanbiala commented on #1024
Please post this on Gitter as this is a question rather than a bug/feature request.

[2015-10-28 14:34] #1024 closed

[2015-10-28 14:48] dbelieves commented on #1024
no room for meanjs on Gitter ?
where do i post ?

[2015-10-28 15:31] manpikingillz commented on #1024
Post on StackOverflow

On 10/28/15, dbelieves <notifications@github.com> wrote:

--
Twesigomwe Gilbert
Software Engineer
Bsc. Computer Engineering

[2015-10-28 15:31] ilanbiala commented on #1024
https://gitter.im/meanjs/mean

[2015-10-29 00:25] mleanos commented on #423
@ilanbiala I just tried to reproduce this behavior, and could not. Just these two fields are being returned.

[code]
We can probably close this.

[2015-10-29 01:39] codydaig commented on #423
@ravisuhag Is this is still an issue, feel free to reopen.

[2015-10-29 01:39] #423 closed

[2015-10-29 04:32] ravisuhag commented on #423
@codydaig  looks fine now. Thanks

[2015-10-29 09:00] ryanjbaxter opened #1029 "Update Bluemix Deployment Instructions To Use Different Mongo Service"
The MongoLab service in Bluemix will be going away at the end of November.  We need to update the deployment instructions as well as the auto deployment button to use a different Mongo service.

[2015-10-29 09:01] ryanjbaxter commented on #1029
This is dependent on #1025 being fixed first

[2015-10-29 09:01] lirantal commented on #1029
@ryanjbaxter  Cool, can you keep an eye out for this and follow with a PR?

[2015-10-29 09:02] ryanjbaxter commented on #1029
@lirantal yes waiting on #1025 and then I will update everything and submit a pull request

[2015-10-29 09:09] lirantal commented on #1021
:+1: definitely

[2015-10-29 10:22] szchenghuang commented on #427
@ilanbiala, Hmmm..., not for now.

[2015-10-29 10:46] lirantal commented on #869
We also have a defect or two to handle IIRC in that queue

[2015-10-29 10:47] lirantal commented on #1015
@codydaig so we can close it for now then. If problems arise with Node v4 on the latest master branch then we can re-open.

[2015-10-29 11:00] Meistercoach83 opened #1030 "Image Upload"
Hi,
I tried to use the new image upload with the config in config/env/local.js:

    'use strict';
    module.exports = {
      uploads: {
        locationCategoryPicture:{
          dest: './modules/locationCategories/client/img/uploads', //  upload destination path
          limits: {
            fileSize: 1 * 1024 * 1024 // Max file size in bytes (1 MB)
          }
        }
      }
    };

my

[2015-10-29 11:50] lirantal commented on #1030
@mleanos @gustavodemari can you look into it?

[2015-10-29 15:12] gustavodemari commented on #1030
@Meistercoach03 have you installed multer?

[2015-10-29 15:33] #427 closed

[2015-10-29 16:20] Meistercoach83 commented on #1030
there was the problem - I had the old multer version installed.. i apologize for wasting your time

[2015-10-29 16:21] gustavodemari commented on #1030
@Meistercoach83 no problem. :)
@lirantal solved

[2015-10-29 16:22] #1030 closed

[2015-10-29 17:43] ilanbiala commented on #869
In which queue?

[2015-10-29 17:44] ilanbiala commented on #1015
@lirantal this should actually be fixed before we start using npm 3, so I'm going to leave it open and mark it as 0.5.0 if @ezekkiel doesn't submit a PR by then.

[2015-10-29 18:32] lirantal commented on #869
This queue: https://github.com/meanjs/mean/milestones/0.4.2

[2015-10-29 18:42] lirantal commented on #1030
Great work @gustavodemari ! :laughing:
Glad everything is ok now @Meistercoach83

[2015-10-29 18:43] lirantal commented on #1015
Ok

[2015-10-29 19:43] ilanbiala commented on #869
Gotcha

[2015-10-29 21:47] ervine13 opened #1032 "Connected Accounts does not account for the initial way you signed up"
When viewing your profile and see what social accounts you  have connected, it only shows you the social accounts you connected *after* you signed up already.

Meaning, if I originally signed up using Facebook, then connect G+, the view displays that I have G+ connected. I think it should also show Facebook.

[code]

[2015-10-29 22:30] lirantal commented on #1032
@ervine13 this is using the latest `master` branch?

[2015-10-29 22:49] ervine13 commented on #1032
@lirantal yes.

[2015-10-29 22:54] lirantal commented on #1032
@ervine13 so it's always showing the last social account?
What happens if you sign-up with FB, then G+, then LI? what will it show?

[2015-10-29 22:57] lirantal commented on #1029
@ryanjbaxter you're good to go, #1025 is merged.

[2015-10-29 23:00] ervine13 commented on #1032
@lirantal I'm sorry I wan't clear. It will only show the subsequent social accounts, not the original.

Scenario 1
1. Sign up with Fb
2. Connect G+
3. Connect Twitter
*I only see G+ and Twitter as my connected accounts*

Scenario 2
1. Sign up with G+
2. Connect GH
3. Connect LinkedIn
*I only see GH and LinkedIn as my connected accounts*

Maybe the question is was this intentional that you only see

[2015-10-30 00:15] codydaig commented on #743
Would anyone be opposed to leaving the npm and bower sections out in the new documentation?
http://meanjs.org/docs/0.3.x/#npm
http://meanjs.org/docs/0.3.x/#bower

[2015-10-30 00:20] mleanos commented on #1032
@ervine13 I'm going to look into this. One quick question, in Senario 1 are you still logged into the FB provider & then in Scenario 2, you're still logged in with G+?

I'm wondering if it's just not listing the provider that you're logged in with. IIRC, the listed providers are there for removal. It might not allow you to remove the one you're logged in with; or the fact that it may be considered

[2015-10-30 00:43] mleanos commented on #743
@codydaig I think leaving NPM out is fine. As for Bower, maybe just a mention that we're using it as the front-end package manager? No need to list all the libraries that are included in the project.

[2015-10-30 04:56] ervine13 commented on #1032
@mleanos  just tested the following

### Test 1
1. Sign up w FB
2. Connect with G+
3. Go to manage social accounts and only see G+
4. Sign out
5. Sign in with G+
6. Go to manage social accounts and only G+ still

### Test 2
1. Sign up local
2. Connect with FB
3. Go to manage social accounts and only see FB
4. Connect G+
5. Now connected accounts show FB & G+

[2015-10-30 05:46] codydaig commented on #1032
@ervine13 Thanks for the very detailed test results!

[2015-10-30 06:26] mleanos commented on #1032
I've confirmed this behavior. Although, I only have tested this with one social account (Facebook).

Whichever provider is used to created the account, even *local*, is set to the user's `provider` field. If the account was created with a provider other than *local*, the `providerData` field is populated with data specific to that provider.

The Manage Social Accounts view is only listing *additio

[2015-10-30 07:47] ryanjbaxter commented on #1029
@lirantal see #1039

[2015-10-30 07:48] ryanjbaxter commented on #1029
I will also need to update the gh-pages instructions in a separate pull request i believe

[2015-10-30 13:12] ilanbiala commented on #743
yep leaving out npm is fine.

[2015-10-30 15:58] ervine13 commented on #1032
I think that should suffice. As the user, I want to see *all* the social accounts that I have connected. When I didn't, I thought that maybe I didn't connect it* after all but it* also didn't show up as an option that I could connect it.

*The original social account.

@mleanos - if that's how you guys want to resolve the issue, if at all, would you like me to attempt to PR?

[2015-10-30 16:22] mleanos commented on #1032
@ervine13 I don't think we'd be resolving the issue, per se. But by at least displaying the primary provider, we'd be making it clear to the user's as to what's going on. Less confusion.

By all means, submit a PR. We may be able to get it merged in for 0.4.2. For the bigger issue of actually managing the primary, and switching the primary, it will be something we'd have to address for 0.5.0.

[2015-10-31 15:18] ilanbiala commented on #477
@karan-kapoor90 haven't heard anything, so I'm going to close. Feel free to comment if you open a PR.

[2015-10-31 15:18] #477 closed

[2015-10-31 15:19] ilanbiala commented on #772
@bastianwegge @mleanos is there anything happening with this, or can it be closed?

[2015-10-31 15:19] ilanbiala commented on #847
@lirantal @Koblaid can we finalize this so we can merge it in for 0.4.2?

[2015-10-31 15:26] Koblaid commented on #847
AFAICS the only thing missing are tests. Unfortunately I don't have time to write tests at the moment. Maybe it's accectable to merge it without tests.

[2015-10-31 15:27] ilanbiala commented on #847
@Koblaid we can't merge without tests, we need to make sure everything we add works.

[2015-10-31 21:22] bastianwegge commented on #772
@ilanbiala in my oppinion we can close this -> https://github.com/meanjs/mean/pull/865

[2015-10-31 21:39] #772 closed

[2015-11-01 18:34] lirantal commented on #1029
Sure. See the comments there from @ilanbiala

[2015-11-01 19:12] codydaig opened #1044 "Live Demo"
We should get another Live Demo up and available for testing.

My proposal:
I've got a cluster of servers that I can throw the demo on that would be in sync with the master branch of the repo. I've got a handful of projects already running in this manner, and adding one more to the cluster would just be a matter of a couple minutes of configuration. I can also create a script to wipe and reseed th

[2015-11-01 19:15] lirantal commented on #1044
To keep up with the open source model and transparency we should rely on a public service just like we do with Travis-CI, Coveralls, etc.

[2015-11-01 19:16] codydaig commented on #1044
@lirantal What kind of public service gives that level of transparency though?

[2015-11-01 19:16] lirantal commented on #1032
Seems like a big fix which we should tackle as part of 0.5.0.
Whose up for it? :)

[2015-11-01 19:21] lirantal commented on #1044
I was referring to the project's transparency level, meaning that both me and Ilan are able to configure Travis or Coveralls as required due to our permissions on the project and the Github integration that enables this.
I'm sure we can find some service that provides integration with Github for this use case.

[2015-11-01 19:26] mleanos commented on #1032
@lirantal I'd be more than happy to take on the providers management aspect of this :)

@ervine13 You still want to handle the displaying of the *primary* as a start to resolving this?

[2015-11-01 19:30] codydaig commented on #1044
@lirantal The closest one that I know of would be heroku, but it doesn't integrate with github permissions, whoever creates it would have to add contributors too it manually. But I',m not sure if mongo labs does the same thing or not. If anyone has any other suggestions that integrates with github even more I'm open to those ideas!

[2015-11-01 19:35] lirantal commented on #1032
Thanks Michael!

[2015-11-02 06:36] mleanos commented on #389
I realize that #1040 exists.. I've expressed my thoughts on this in the discussion in that PR, but I wanted to bring the discussion back over here since a lot has been discussed here.

A lot of good work went into @kokokenada's PR, and it has some good implementations that we can use. However, I think the general consensus is that we need a more focused approach with smaller commits/PR's.

I had a

[2015-11-02 06:55] junit38 commented on #511
Yes there is still and issue on the last version of the framework.
Just sign in using facebook strategy and then logout/login to see that the data did'nt not change.
As @lirantal suggested.

[2015-11-02 07:03] gustavodemari commented on #1021
:+1:

[2015-11-02 08:16] mleanos commented on #511
@junit38 Can you explain what you're experiencing a little more clearly?

How can I reproduce? What data is not getting updated?

This is how I've tried to reproduce, and couldn't:

1) Created a new local provider account
2) Added Facebook as a provider
3) Logged Out
4) Logged back in using the local provider user/pass method
5) Facebook provider was still linked to the account

OR

1) Created a n

[2015-11-02 11:17] kokokenada commented on #389
Great approach and much appreciated.  I will try working with your branch as soon as I am able .

[2015-11-02 12:49] junit38 commented on #511
1) Create a Facebook account using your Facebook signup.
2) See the accessToken
3) Logout
3) Login again

The accesToken is not refreshed. (You can try to change your Facebook name to see but this is a trap because you can change it only every 60 days....)

This is all the ProviderData which are not refresh.

So you can't use the Facebook accessToken to do action on the user Facebook account by ex

[2015-11-02 17:58] mleanos commented on #511
@junit38 Ok, so if you change some data on your social media (Facebook in this case) account, then your meanjs account isn't updated the next tine you log in with that provider?

I'll try to confirm this. But I suspect it is an issue because I don't see anywhere in the code, that updates the provider data; just as you originally pointed out.

Can you submit a PR for the fix?

[2015-11-02 19:38] mleanos commented on #511
@junit38 Well, other than my profile picture, I didn't see anything in my Facebook profile that I could that would reflect in my meanjs account; I didn't want to change my Profile name.

I did verify that when I log in again using the Facebook provider, the meanjs account isn't updated; I think the line that you wanted to change is the correct place to add the update.

Do you want to handle that w

[2015-11-02 20:17] mleanos commented on #389
@kokokenada Great, thank you! I was thinking that you might want to take a shot at the front-end implementation.

Earlier in this discussion, there was some talk of integrating Satellizer on the front-end for the Token management. It looks like a great library, and I think a bit of the struggles that come with this type of implementation are taken care of for you. Do you want to take a look at it?

[2015-11-02 23:09] 0xNacho opened #1045 "CSRF Protection"
are there any plans to implements CSRF protection against features like "Change Password", "Log-in" and so on?

[2015-11-02 23:24] kokokenada commented on #389
Satelizer looks great. How do the leaders/gatekeepers feel about it as a dependency for MEANJS? (Who are the leaders/gatekeepers?) It isn't clear to me how Satelizer relates to the large amounts of strategy providers already in MEANJS. I'd have a lot learning to do if I were to take it on as I don't have experience in the area.  I'm heads down on some other commitments for a couple of weeks at lea

[2015-11-03 03:52] jloveland commented on #511
I also verified that when I change the my profile image in facebook, the photo url changes in `profileImageURL`, but not the `providerData.picture.url`. So, this leads me to believe that if the user accessToken from facebook changes (i.e. after 2 months) then the token won't get updated in the `providerData.accessToken`field.

@junit38 are you able to submit a PR to update the providerData after a

[2015-11-03 04:51] jloveland commented on #1045
#997 does this help @0xNacho ?

[2015-11-03 05:08] mleanos commented on #511
None of the data is updated from the provider data when the user is authenticated again.

@jloveland Brings up a good point about the Token not getting updated. I think we should have this updated at each authentication. However, I don't think any other data should be pulled over from the provider data.

I think it makes more sense to have a "Sync" button, if the user wants to pull over data from

[2015-11-03 07:55] 0xNacho commented on #1045
+1.
Thanks!

[2015-11-03 09:46] junit38 commented on #511
Yes i'm on it.

[2015-11-03 14:32] c1moore commented on #493
I have fixed this in my own project, but, as I stated in the [pull request](https://github.com/meanjs/mean/pull/494), the code where the bug exists in the most recent version of mean is still the same.  I have not been able to run tests with the most recent version yet.  If you wish to close this issue before testing, go ahead, but it may be an overlooked security hole for other users.

[2015-11-03 16:50] codydaig commented on #1045
Thanks @jloveland for answering this!

[2015-11-03 16:50] #1045 closed

[2015-11-03 20:42] ilanbiala commented on #493
@c1moore there was no movement on that PR. @lirantal @codydaig do you still see this as an issue?

[2015-11-04 02:58] jloveland commented on #1044
@codydaig have you tried openshift? I have not tried yet, but ...

1. it looks to be free for up to 3 nodes https://www.openshift.com/pricing/plan-comparison.html
2. you can push from travis http://docs.travis-ci.com/user/deployment/openshift/
3. it has a mean tutorial with the fullstack project https://developers.openshift.com/en/node-js-example-meanstack.html

[2015-11-04 03:17] ilanbiala commented on #1044
@jloveland I have tried openshift, but I ran into deployment issues and had trouble actually getting a live server. If you can get anything working, we'll probably look at that as it's free.

[2015-11-04 03:21] codydaig commented on #1044
@ryanjbaxter Would Bluemix have an option that would fit our needs?

[2015-11-04 03:22] jloveland commented on #493
@c1moore I would like to help reproduce what you are seeing. I can't seem to do this. If I try to access the following url without admin role http://localhost:3000/admin/users, I get a forbidden message in the ui
![screen shot 2015-11-03 at 10 18 37 pm](https://cloud.githubusercontent.com/assets/3456708/10928689/f428c982-8278-11e5-8387-659411d9be86.png)

I get redirectd to http://localhost:3000/fo

[2015-11-04 10:24] mleanos commented on #493
I'm experiencing the same behavior that @jloveland reported.

Doesn't look like this is an issue anymore.

[2015-11-04 14:00] ryanjbaxter commented on #1044
@codydaig potentially.  We have IBM DevOps services which is part of Bluemix and would allow you to setup a build and deploy pipeline so that when a commit is made to the repo, a build is done and deployed to bluemix.  You can choose to use the free tier MongoLabs service or a build in experimental mongodb service for the db.  (You can even setup and configure the other social services if you want

[2015-11-04 14:06] ilanbiala commented on #493
@c1moore can you just double check against current master?

[2015-11-04 16:48] #1029 closed

[2015-11-04 17:50] ilanbiala commented on #869
@lirantal @codydaig do we want to add all the issues to the top or do you think that's unnecessary now that we have the changelog?

[2015-11-04 19:33] codydaig commented on #869
@ilanbiala Just use the changelog. Ryan started this to start discussion on what should be included in 0.4.2 and I personally think this issue can be closed at this point.

[2015-11-04 21:56] codydaig commented on #869
@ilanbiala @lirantal So we're just waiting on final review of the new commit message PR and the domain PR. I'm voting to move the domain PR and get 0.4.2 released this week.

[2015-11-04 22:27] #881 closed

[2015-11-05 02:06] ilanbiala commented on #511
@junit38 can you submit a PR for this against the current master?

[2015-11-05 10:57] junit38 commented on #511
Yes but it appears that I don't have the rights.

[2015-11-05 12:17] sparshy opened #1047 "Inject authentication in rootScope instead of every child scope"
Was there a specific reason that we are doing

    $scope.authentication= Authentication

in every scope, why not just do this once in run with $rootScope??

[2015-11-05 14:29] ilanbiala commented on #511
@junit38 fork and make changes and then click compare and create a pull request.

[2015-11-05 20:49] 0xNacho opened #1048 "Object pagination"
Hi there.

Is there any pagination system implemented when listing entities?

Thanks!

[2015-11-05 22:16] sparshy commented on #1048
Yes when admin is viewing all users.

[2015-11-05 22:35] mleanos commented on #1047
@sparshy I actually ended up injecting the $state service into my project's $rootScope. It made sense for me since my project started to get big.

For the case of the default MEANJS framework, it probably doesn't make sense for it to implement the Authentication service into the $rootScope, since the front-end is rather small.

If you find that your project is growing in size, and that you'd rathe

[2015-11-05 22:36] 0xNacho commented on #1048
Yes, but this pagination is not optimized.
I mean, imagine you have 100.000.00 articles in your MongoDB. By using this pagination, it will request 100.000.000 objects at once.

From my point of view, pagination should load X objects every time you press an index button

[2015-11-05 23:23] mleanos commented on #1048
@0xNacho You're right. If you need to paginate on a large amount of data, you'll have to take it server-side. You need a route that can fetch the data you want, based on the state of your pagination.

This is a good discussion. I agree with the recommendation that you should have some sort of criteria, like a date filter, other than you're pagination parameters.

http://stackoverflow.com/a/2364028

[2015-11-07 08:00] lirantal commented on #1048
Indeed a good topic.
@mleanos  I'd say we should look into refactoring our code for server-side pagination too.

[2015-11-07 09:02] lirantal commented on #869
Totally agree, already updated that PR.
We don't have any out-standing issues left anymore so 0.4.2 is good to go when we're ready.

Let's put up a plan for it?
* PR to merge 0.4.2 to `master`
* Create a release/tag in Github for 0.4.2 after we merged to master
* Updated Changelog file
* Update generator? package.json? anything else?

What else?

[2015-11-07 15:49] codydaig commented on #628
@lirantal How long do you want to keep this open?

[2015-11-07 16:15] lirantal commented on #628
We can close it.
If it weren't updated so far then no need.

[2015-11-07 16:15] #628 closed

[2015-11-07 17:55] ilanbiala commented on #869
@lirantal 0.4.2 is master, so we just create a tag on master.

[2015-11-07 18:06] lirantal commented on #869
Right @ilanbiala !

[2015-11-08 08:13] kitce opened #1050 "How to upgrade my meanjs environment to the latest version?"
I am not sure which version I am using, may be 0.3.x.

I realized that now meanjs provide a grunt task `prod` for running the application in production environment, I hope to enjoy this feature rather than just running `node server.js`.

Actually, my application is not ready for production yet, but test environment. But without this feature, I have to change `NODE_ENV` to `test` or `production` be

[2015-11-08 17:09] lirantal commented on #1050
Depends what you call by "safe" :)
A lot has changed in the MEAN.JS structure of files/folders and also how the application is structured itself from 0.3 to 0.4.

There's no 'path of upgrade' if that's what you're looking for.
What I suggest doing is cloning the latest `master` branch of MEAN.JS and seeing how you can copy&paste old files functionality from your previous MEAN.JS app to the new one

[2015-11-08 17:28] kitce commented on #1050
Copy&paste would be "safe" to upgrade the meanjs environment , I will try it when 0.4.x is stable, thank you for the advice. I am closing this.

Looking forward to see the better ways to do this in future.

[2015-11-08 17:28] #1050 closed

[2015-11-09 06:45] 0x24a537r9 opened #1051 "Add a signout route to aid in testing/privacy"
As far as I can tell, mean.js does not provide a route for signing *out* of an application. While nice for privacy reasons, it's really crucial for testing user-based logic.

[2015-11-09 06:51] lirantal commented on #1051
@0x24a537r9 there is a signout controller in `users.authentication.server.controller.js` along with a signout route at `/api/auth/signout/`

[2015-11-09 07:29] 0x24a537r9 commented on #1051
Ah, cool, thanks.

[2015-11-09 07:29] #1051 closed

[2015-11-09 08:06] 0xNacho commented on #1048
Cool!

[2015-11-09 08:43] mleanos commented on #1048
@lirantal Sounds like a good idea. I'll take a look at it, after 0.4.2 is released.

[2015-11-09 08:47] lirantal commented on #1048
Grea!

On Mon, Nov 9, 2015 at 10:43 AM, Michael Leanos <notifications@github.com>
wrote:

--
--
Sincerely, Liran Tal

Author
<http://www.amazon.com/Agile-Software-Development-HP-Manager/dp/1484210352/>of
Agile Software Development with HP Agile Manager
Founder and Lead Developer of daloRADIUS <http://www.daloradius.com/>
Blogging at http://www.enginx.com, and tweeting at @liran_tal
<https://twitte

[2015-11-09 15:03] lvarayut opened #1053 "Mount a host directory as a data volume in Docker"
Should we mount a host directory as a data volume in `docker-compose.yml`? So, we could develop on our local machine, and keep our codes sync between the local machine and a docker machine? As following:

[code]

[2015-11-09 16:59] codydaig commented on #1053
@lvarayut I would like to refrain from mounting the volume permanently. Isn't there something in the README that describes how to do this?

[2015-11-10 06:11] lvarayut commented on #1053
Do you mean the following command?

[code]

So, if I wanted to mount the volume, I can't do it with `docker-compose up` command but instead I have to manually mount it by using the commands above. In other word, I had to do the following step:

[code]
Did I understand you correctly?  The conclusion is that we couldn't use `docker-compose up` in this case.

[2015-11-10 22:38] zhenchaochen opened #1054 "yo meanjs fail"
I try runing "yo meanjs mean", got error in terminal: (I chose meanjs 0.4.1)

------------------------------------------------------------------------
This may take a couple minutes.
Error: Command failed: /bin/sh -c cd mean && npm install
npm WARN engine karma@0.12.37: wanted: {"node":">=0.8 <=0.12 || >=1 <=2"} (current: {"node":"5.0.0","npm":"3.3.6"})
npm WARN prefer global jshint@2.8.0 should b

[2015-11-11 07:36] maximmai commented on #1054
I am having the same issue. Some Google searching directed me to an older version (<2.0.0) of `nan` is used by `bson-ext`, but I don't see that being used in the meanjs directory.

Environment
==========
OS: UBUNTU 14.04 64bit
Node Version: 5.0

Error Log
=======
[code]

[2015-11-11 09:23] anphu7492 opened #1055 "Paypal oauth is not working"
Hi there,
I tried to add paypal authentication (with both sandbox and live options) but no luck. The application redirects to me the login page. Have anybody encountered this issue?

[2015-11-11 09:38] 0xNacho commented on #1055
could you provide more details about the issue? Did you create your PayPal app correctly?

[2015-11-11 10:11] anphu7492 commented on #1055
Hi @0xNacho , I created the PayPal app from here: https://developer.paypal.com/developer/applications/
I also specified the return Url: http://localhost:3000/api/auth/paypal/callback
Is it the right way to do it?
The app was created by my sandbox account (which is generated by paypal). The country of that sandbox account is US but my server is in EU. Does that matter?

[2015-11-11 10:27] 0xNacho commented on #1055
I don't think so.

After logging in, are you getting a URL like this ?
``http://localhost:3000/?error_uri=http://localhost:3000&error_description=Client Validation Error: Invalid scope.&error=invalid_scope``

[2015-11-11 11:07] anphu7492 commented on #1055
I'm not getting any errors. It doesn't even call the callback function:<code> function (req, accessToken, refreshToken, profile, done) {}</code> in paypal strategy.

[2015-11-11 14:04] ilanbiala commented on #1054
Please post in the generator repo.

[2015-11-11 14:04] #1054 closed

[2015-11-11 14:44] bhavik3184 commented on #476
yo meanjs:vertical-module companies doesn't work on my machine. I have windows 8.1

[2015-11-11 15:08] palpalani commented on #1015
There is new package for checking node 4.2 compatibily -  https://www.npmjs.com/package/upgrade-ready.
Here is the result for master branch - http://upgrade-ready.nodesource.com/summary/adac5b50-8885-11e5-b0d6-136ad07fd6ea

[2015-11-11 18:28] sjamesbennettjr commented on #476
@bhavik3184 Are you getting an error message?

[2015-11-11 18:59] bhavik3184 commented on #476
@sjamesbennettjr noep it simply restarts with the question that it would, when we execute "yo meanjs"

[2015-11-12 03:34] zymplsi opened #1056 ""ReferenceError: Promise is not defined" when database seeding is turned on"
I got this error running the master branch with *MONGO_SEED=true*.
Looks like seed.js or elsewhere is missing `var Promise = require('promise')` but I am not sure where to properly place this code.

[2015-11-12 05:34] codydaig commented on #1056
@zymplsi What version of node are you running? `Promise` is built into most versions of node.

[2015-11-12 06:43] zymplsi commented on #1056
I built using the Dockerfile which is pulling 'FROM node:0.10'. You stated in another thread that node 4 is not fully supported. Should I pull from node:0.12 instead?

[2015-11-12 09:30] anphu7492 commented on #1055
Hi @0xNacho ,
Actually I got that error from the server logs. In the oauthCallback funtion, after passport authenticates the user == false, so the application redirects to the signin page. That why I didn't see the the url. Anyway, what could be the issue?

[2015-11-12 09:33] 0xNacho commented on #1055
Could you [gist](https://gist.github.com) your file?

[2015-11-12 09:45] anphu7492 commented on #1055
https://gist.github.com/anphu7492/b34b28c881006db1585c#file-logs
Here it is

[2015-11-12 09:48] anphu7492 commented on #1055
On line 4, I consoled value of <code>error</code> and <code>user</code> inside <code>passport.authenticate</code> function

[2015-11-12 10:05] 0xNacho commented on #1055
I'm sure your problem is in the callback URL.

Did you change your **paypal.callbackURL** param into your  ``/config/env/development.js`` file?

It should be: **/api/auth/paypal/callback**

Also, you need to specify your callbackURL into your PayPal App.Change your **Return URL** param as follows:
``http://localhost:3000/api/auth/paypal/callback```

Did this solve your problem?

[2015-11-12 10:53] anphu7492 commented on #1055
Unfortunately not, my configuration was exactly like you said, in the config file /config/env/development.js file:
paypal: {
    clientID: process.env.PAYPAL_ID || 'myid',
    clientSecret: process.env.PAYPAL_SECRET || 'mysecret',
    callbackURL: '/api/auth/paypal/callback',
    sandbox: true
  }
callbackURL was specified like that as default. And I also specified the return URL on paypal develop

[2015-11-12 13:40] zymplsi commented on #1056
node 0.12 has built-in Promises, so I edited the Dockerfile to `FROM node:0.12` and the error goes away when **MONGO_SEED** is set to **true**.

[2015-11-12 13:40] #1056 closed

[2015-11-12 14:26] anphu7492 commented on #1055
@0xNacho I got it working by configuring the advanced options of "Log In with PayPal, using Basic authentication doesn't work :) Thank you anyway :smile:

[2015-11-12 14:28] 0xNacho commented on #1055
I wrongly assumed you had this option enabled :)

[2015-11-12 18:43] ilanbiala commented on #1056
@codydaig @zymplsi can we either have a PR fix that or make that change to master for 0.4.2?

[2015-11-12 22:25] codydaig commented on #1056
@ilanbiala @zymplsi  #1058

[2015-11-14 06:31] quanphan opened #1059 "How to get and set session"
Can you help me how to get and set session in mean project

Thanks

[2015-11-14 19:46] lirantal commented on #1059
@quanphan can you be more elaborate?

[2015-11-15 02:32] SharkIng opened #1060 "When run gulp, an error TypeError: plugins.eslint is not a function"
What is that mean?

[2015-11-15 05:14] lirantal commented on #1060
@SharkIng did you run `npm install` before to make sure all module are accounted for?

[2015-11-15 07:30] SharkIng commented on #1060
yeah, npm install without any error, however, when I try to do gulp, it still ask me to install some dependency library again. After I install all the requirement. it give me this error..

BTW, is this not support Node.JS 5? since When i first use 5 and it give me some error so i switch to lower version.

[2015-11-15 07:35] lirantal commented on #1060
We don't support Node 5 officially, no.
Only recently we've made sure our build pass on NodeJS v4.

[2015-11-15 18:31] SharkIng commented on #1060
Thanks Lirantai, I am going to try it again with frash provision vagrant and Node 4

I'll let you know if I fall into another problem.

[2015-11-15 22:12] 0xNacho commented on #1059
I think he is referring to how to get the user session in the back-end.

[2015-11-16 05:02] #1053 closed

[2015-11-16 06:37] lirantal commented on #1059
In that case then it's available in the `req.session` property.
@quanphan you can refer to https://github.com/expressjs/session if you need more info

[2015-11-16 06:37] #1059 closed

[2015-11-16 07:43] #1055 closed

[2015-11-16 09:00] vencivat opened #1061 "Running single karma test fails with mongoose error MissingSchemaError: Schema hasn't been registered for model "User"."
I am using latest development master branch of meanjs with WebStorm for IDE. Last version of WebStorm support running/debugging single karma test from IDE. Unfortunately meanjs breaks with a mongoose error "MissingSchemaError: Schema hasn't been registered for model "User"."
This should be something with js order of parsing file/ missing require() call/ or not providing karma.conf.js.

This is the

[2015-11-16 13:41] AkabaneK commented on #933
I see this issue has been 'Closed' but I am getting the exact same issue using the relevant versions listed in this thread. Versions used can be seen below and I am using '0.4.0' for the mean.js version following the yo meanjs command :

<pre>
$ yo --version
1.5.0
$ node -v
v0.12.7
$ npm -v
2.11.3
</pre>

<pre>
Error: Command failed: /bin/sh -c cd TestMean && npm install
npm WARN package.json test

[2015-11-16 18:14] mleanos commented on #1061
@vencivat I think you may be confusing Mocha & Karma in this instance. The MEANJS project is setup to run Mocha for the server-side tests, and Karma for the client-side.

Additionally, you're seeing this behavior because there are certain resources/assets that are required in order for the Mocha tests to run properly. For one, the *server* must be running; as shown here https://github.com/meanjs/m

[2015-11-17 01:20] codydaig commented on #1060
@SharkIng Did downgrading to Node 4 solve your issues?

[2015-11-17 02:44] SharkIng commented on #1060
@codydaig Thanks for helping. Yes, I install Node v0.12.7 on my new vagrant and it solve the problem. However it still running into some other issues when/after i ran npm install. But none of that are criditcal and I can easlly solve those. So everything is fine now. I am still trying it to see if I can get raid of any issue when Installing MEAN.js, but I think none of those are your problem. It h

[2015-11-17 02:44] #1060 closed

[2015-11-18 08:39] front-thinking commented on #476
@Shrizzy  tkx for your videos.

[2015-11-18 19:46] alexgutterson opened #1065 "MEAN STACK DEVELOPER - AI TECH FIRM - NYC TOP DOLLAR - FULL TIME - AWS & NLP"
A client of mine is looking for exceptional engineers who specialize in the MEAN stack. They are located in midtown NYC and can pay top dollar. The firm is focused on AI/NLP and is looking for a strong foundation with both MEAN and AWS. Python and Java are plus skills.

If anyone is interested in hearing more, or would know someone that could possibly be interested you can reach me directly via em

[2015-11-19 05:51] ubreddy opened #1066 "Grunt Tasks"
Is it possible to have additional grunt tasks for the following ?

* connect, prism : to make front end work even when backed is offline and for mocking/ recording
* wiredep : wire dependency injection
* html2js : for converting html templates to one js file
* concat : concat js, css files including dependencies
* cdnify : for public bower libraries that get served to browser
* autoprefixer : for

[2015-11-20 04:29] YaTaras commented on #1010
updating mongoose to v4.1.11 helped me too. Thanks!

[2015-11-20 13:38] xacaxulu opened #1067 "docker build error"
Linux ip-10-45-214-83 4.1.10-17.31.amzn1.x86_64 #1 SMP Sat Oct 24 01:31:37 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

From master branch on clean ec2 instance with a clean Docker install, a `docker build .` errors out here indefinitely:

Step 8 : RUN npm install
 ---> Running in 069ae3a8b94e
npm WARN package.json meanjs@0.4.2 No README data
npm WARN peerDependencies The peer dependency istanbul@0.x.

[2015-11-20 13:44] ilanbiala commented on #1067
So far I don't see any error, is there more to the stack?

[2015-11-20 13:57] xacaxulu commented on #1067
That's where it hangs. So far I've made it about 50 minutes in and it's stuck there. I'm not sure how long a docker build should take for this project.

[2015-11-20 21:53] mleanos commented on #1010
@wang3g @withlovee @YaTaras @fellyralph FYI, Mongoose version 4.2.3 introduced a fix to this issue. This project was updated to use this version, in this commit https://github.com/meanjs/mean/commit/09bc727fdff3fe098e767bfc421724fd7bd8afe6

I haven't experienced any issues with this the Authentication after this version upgrade. It seems stable to me. I'd recommend bumping to this version, as it i

[2015-11-20 23:07] Agent5 commented on #360
Grunt build never works for me no matter the environment. I get an error stating ">> error: couldn't process source due to parse error

Has anyone else come across this?

[2015-11-21 21:13] codydaig commented on #1067
Currently Investigating this issue.

[2015-11-21 21:17] lirantal commented on #1066
@ubreddy we are trying to move out of  grunt and into gulp, but anyway all of your enhancements are valid and you're welcome to suggest relevant PRs.

[2015-11-21 22:44] xacaxulu commented on #1067
@codydaig Thank you. Just to clarify, it is an Amazon Linux AMI and the stack trace has now increased.

npm WARN package.json meanjs@0.4.2 No README data
npm WARN peerDependencies The peer dependency istanbul@0.x.x included from grunt-mocha-istanbul will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your applicatio

[2015-11-22 01:12] ilanbiala commented on #1067
@xacaxulu have you tried configuring the proxy/other connection settings?

[2015-11-22 01:22] codydaig commented on #1067
@ilanbiala I'm getting the same hang locally as well. Still Investigating further.

[2015-11-23 09:29] 0xNacho opened #1068 "Problem with error redirections (auth.interceptor.client.service.js)"
For some reason, when you get an app error you are unable to get back to the previous page (because of interceptor catch the previous error and redirects again to the error page).

[2015-11-24 02:35] mleanos commented on #1068
@0xNacho Can you provide a step by step on how to reproduce this issue?

Also, what type of app error are you referring to?

[2015-11-25 07:16] lirantal commented on #869
@codydaig @ilanbiala I created a tag for 0.4.2
Hoping we covered everything in the PRs so I am closing this issue and we can continue with the next release.

0.5.0 I assume?

[2015-11-25 07:16] #869 closed

[2015-11-25 10:55] mleanos commented on #869
@lirantal Thank you! I'm pretty sure it was decided to jump to 0.5.0 next.

Quite a few big things on the plate for 0.5.0. Should be a fun one :)

[2015-11-26 02:30] rohitkumarvinay opened #1071 "How to edit mutiple id's in a list of a module"
I have a boolean in one of my modules, how do i edit all in the list to true at one go?

[2015-11-26 09:10] mleanos commented on #1071
These were the first two results when I searched Google with: "angularjs select all checkboxes"

http://jsfiddle.net/deeptechtons/TKVH6/
http://stackoverflow.com/a/27452286/2228227

Either solution should be enough for you to go off of.

[2015-11-27 07:00] dbelieves commented on #933
@AkabaneK , same here....
did you find a solution?

[2015-11-27 07:24] feimosi opened #1072 "Using both ESLint and JSHint"
Is it a good idea to keep both: ESLint and JSHint in the project? It'll print many duplicate linting errors to the console. Also ESLint haven't been attached to the gulp watchers. And lastly, as an enhancement, there's a great eslint-plugin-angular for linting Angular apps.
Referencing #990

[2015-11-27 17:42] kokokenada commented on #657
Support for Cordova (and/or Ionic) clients?  This has been the driving reason (for me) on #389 and configurable REST endpoints.

In the modules I'm developing with MEAN, I use the existing "modules/<module>/client" directory for client code intended for any client, "modules/<module>/client-ionic" for client code intended for ionic only (A watcher automatically updates the ionic app directory). I u

[2015-11-27 19:12] simison commented on #1067
Just tested this and works fine here.

[2015-11-27 21:11] Syferus opened #1073 "Meanjs seems to scaffold out but with a warning about 'eslint'"
Running Node 0.12 and NPM 2.11.3

My app appears to scaffold without errors but when I try to use grunt to actually run it I get this error:

Running "env:dev" (env) task
Warning: Task "eslint" not found. Use --force to continue.

If I force it it works, after adding two missing packages, 'file-stream-rotator' and 'generate-password' haven't a clue what that was about and it may well be unrelated

[2015-11-28 00:57] kokokenada opened #1074 "Errors from oAuth not passed back to UI"
The oauthCallback on the server: (modules\users\server\controllers\users\users.authentication.server.controller.js)

    passport.authenticate(strategy, function (err, user, redirectURL) {
    if (err) {
            return res.redirect('/authentication/signin?err=' + encodeURIComponent(errorHandler.getErrorMessage(err)));

tries to pass on the error message with the query string.

However, in the

[2015-11-28 10:24] lirantal commented on #1072
@feimosi do you want to submit a PR to clean it up and add the angular eslint plugin?

[2015-11-28 12:46] feimosi commented on #1072
@lirantal sure, no problem. Should get rid of JSHint completely?

[2015-11-28 14:09] lirantal commented on #1072
If jshint is redundant then yes obviously remove it in favor of eslint.

[2015-11-28 16:41] codydaig commented on #1072
:+1:

[2015-11-28 18:52] sspohC commented on #1044
I'm pretty new here, but why not use AWS? Its fairly priced and a great platform

[2015-11-28 18:54] codydaig commented on #1044
@sspohC We're looking for free and AWS (at least in my experience) doesn't make permissions easy.

[2015-11-28 19:08] sspohC commented on #1044
Yeah the IAM permissions can be painful. I have associates at AWS that I would be happy to contact to see if free is feasible. I'm just getting into meanjs and I love it. Glad to help anyway I can!

[2015-11-28 23:40] jloveland opened #1075 "Routes with trailing `/` don't resolve properly"
routes for articles with trailing `/` should show articles, but doesn't..
http://localhost:3000/articles/

see below:
![screen shot 2015-11-28 at 6 37 41 pm](https://cloud.githubusercontent.com/assets/3456708/11454599/7fc560ce-95ff-11e5-932a-7d34f813209d.png)

[2015-11-29 04:45] mleanos commented on #1075
This method is being invoke because the UI router is resolving this route as the *articles.view* state, and expecting a `articleId` parameter to be present.
https://github.com/meanjs/mean/blob/master/modules/articles/client/controllers/articles.client.controller.js#L78

The Articles API is resolving correctly to the `articles.list` server controller method, because of how the Angular service is se

[2015-11-29 06:18] codydaig opened #1077 "0.4.x"
Since it seems that 0.5 is going to have some big changes which will require discussion, I created a 0.4.x branch too support bug fixes that come up. @lirantal @ilanbiala @mleanos @jloveland

[2015-11-29 06:56] mleanos commented on #1077
SGTM! THanks!

[2015-11-29 16:35] ilanbiala commented on #1072
I think the specific duplicates are just some rules we have in both places. I'm not sure if JSHint is has all the features JSHint has and more though, so that will need to be checked if we want to remove JSHint.

[2015-11-29 16:45] ilanbiala commented on #1077
@codydaig @lirantal did we plan on supporting previous releases? I remember having a discussion about this, and IIRC I thought we would just fix bugs as they come along and release them with the next release. Obviously it's not ideal to push bugs to 0.5.0 so people may experience other changes, but I'm not sure we want to mess with the added complexity of that, because then we have to start resolv

[2015-11-29 16:49] lirantal commented on #1077
Sure though I'm not sure we can easily support back-porting bug fixes (from developer's capacity/resource I mean)

[2015-11-29 16:52] codydaig commented on #1077
What does it hurt too have the branch there? I'm not saying too dedicate resources too it, but if a bug fix comes up and someone submits a PR for it to the 0.4.x branch, what does it hurt?

[2015-11-29 16:59] feimosi commented on #1072
That's the point, ESLint offers the same functionality and even more, so there's no point in using two linting tools. AFAIK it's closely compatible with JSHint, so most of the rules should be there. We just need to do the migration from `.jshintrc` to `.eslintrc`. Preferably also add new rules, including code style, but that may need an additional discussion.
Also I think it wouldn't be a bad idea

[2015-11-29 19:20] mleanos commented on #1077
I think it will be useful for debugging, and rolling out bug fixes.

With 0.5.0 having a bit more complex development, I'd rather verify/troubleshoot issues on a separate 0.4.x branch.

[2015-11-29 20:04] MangeshPimpalkar opened #1078 "main-bower-files"
main-bower-files seems to be very good package to automatically include dependencies.

https://github.com/ck86/main-bower-files

[2015-11-29 20:15] codydaig commented on #1078
@MangeshPimpalkar How would this not include files such as angular-mocks?

[2015-11-29 23:20] ilanbiala commented on #1072
@feimosi If it doesn't throw errors, that sounds good to me. Otherwise, we'll need to just discuss any changes extending an existing config.

[2015-11-29 23:24] ilanbiala commented on #1077
@mleanos and @codydaig I don't disagree with you, but we also have to think about how we handle having those bug fixes in 0.4.x and in master, and what happens with the 0.4.x branch once we decide to stop releasing fixes. Also, how do we decide when? Based on a timeframe, or when the next major release comes out, or something else. I'm open to it, but what I'm looking for is a clear plan of how we

[2015-11-29 23:27] codydaig commented on #1077
As soon as 0.5 releases, we stop supporting 0.4. As for bug fixes, the 0.4 branch will just accept PRs. If it's something that needs too go into 0.4 and master, then I think there should be 2 PRs.

[2015-11-30 00:21] kokokenada opened #1079 "Ordering of processing menus can cause menu to not be constructed"
If the sub menus are processed prior to parent, you get a silent failure (or reported failure if//when PR #1076 is merged) .The ordered appeared of processing to be alphabetic - need to confirm. Possible work around is to the change the order of the files in config/assets.

Steps to reproduce are to add to the admin menu defined by the users module  in a module that is alphabetically before "users

[2015-11-30 01:10] ilanbiala commented on #1077
We can try it out. @lirantal any suggestions, or do you want to try what @codydaig mentioned?

[2015-11-30 02:09] mleanos commented on #1079
@kokokenada I can't reproduce using the method you described. Although, I'm not 100% sure I am understanding the steps...

I added a new menu item to the *users-admin.client.menus* client config here:
https://github.com/meanjs/mean/blob/master/modules/users/client/config/users-admin.client.menus.js

my updated Menus config looks like this, after my change:
[code]
Does this produce the issue for yo

[2015-11-30 02:18] kokokenada commented on #1079
The one that caused my trouble was:

// Configuring the debug module
angular.module('core-ext').run(['Menus',
  function (Menus) {
    Menus.addSubMenuItem('topbar', 'admin', {
      title: 'Debug',
      state: 'admin.debug'
    });
  }
]);

It was in a module named "core-ext".  I double checked my work around, and it was to process core first by separating it in config/assets/defaults, so my ori

[2015-11-30 02:27] mleanos commented on #1079
@kokokenada Can you provide a screen shot of the error?

I'll try reproducing again..

[2015-11-30 03:16] #1015 closed

[2015-11-30 14:43] javo01 commented on #1079
I just had the same error, i've applied #1076 and throws this errors:

<img width="575" alt="captura" src="https://cloud.githubusercontent.com/assets/4388505/11474506/19acb5a4-973e-11e5-8c76-90b74958d58d.PNG">

[2015-11-30 18:34] lirantal commented on #1072
@feimosi we're waiting on that PR from you... :-)

[2015-11-30 18:41] lirantal commented on #1077
we can give it a go. I'm not against, just saying what you did - we are essentially with limited time.

[2015-11-30 19:26] kokokenada commented on #1079
#1076 only changes the to be reported.  (The behavior I observed was for menu item to be displayed.) A workaround is to edit the config/assets/default.js so that the modules are processed in the correct order.  A permanent fix would be to change menus.client.service.js to store the orphans and assemble the menu at the end of processing or to devise an approach to automatically process in the corre

[2015-11-30 21:26] ilanbiala commented on #1021
Is anyone willing to take this up in a PR for 0.5.0?

[2015-11-30 21:28] ilanbiala commented on #670
Didn't we take care of the tabs -> spaces? The JSHint stuff is currently being discussed in another issue. @lirantal @codydaig @mleanos I think what we should look at is moving the gh-pages branch to a separate repo and setting up a good system for every documentation with PR.

[2015-11-30 21:40] mleanos commented on #670
@ilanbiala I'm all for moving the gh-pages to a new repo. It's difficult for me to manage switching back & forth between those branches; part of the reason why I've steered clear of the documentation contributions thus far (and that I'm on Windows). I think we can coordinate documentation syncing with PR's with this repo

I think we did figure out the spaces/tabs issue. If not, then we should defi

[2015-11-30 22:12] lirantal commented on #1021
Isn't that more of a deployment config rather than part of the framework?
It's not like we have something runner Forever (the only reference to it is Heruku's Procfile).

What did you have in mind with regards to the PM2 as part of 0.5.0?

[2015-11-30 22:46] mleanos opened #1081 "Move from Should to Chai (Expect) in Test suites"
How do you all feel about moving from Should, to using Chai & Expect?

I've recently made this move on the server-side of an existing MEANJS application to use Chai, and I'm really liking the framework much better. The Expect assertions are much more robust & easier to read.

If it's decided on that we make this move, then I propose we take one Test suite at a time & update to use Chai; starting w

[2015-11-30 22:54] lirantal commented on #1081
Hi Michael,

If there is no considerable gain of value then I don't see why we should invest in that at this point.

[2015-11-30 23:11] mleanos commented on #1081
Hello there Liran :)

I completely understand your concern. I think it may be worth a minor discussion.

The benefits that I've found are that it's easier to deal with complex objects, *null* & *undefined* values. And it's much easier to read, as your skimming through the Test code.

Other than that, it's I don't have much else to offer for why Chai is better :)

[2015-11-30 23:35] codydaig commented on #670
@ilanbiala That's what I've advocated before!!

Spaces have been addressed. We moved from 4 spaces too 2.

[2015-12-01 00:29] ilanbiala commented on #1021
@lirantal we have a forever task in grunt and gulp for development/production.

[2015-12-01 00:30] ilanbiala commented on #1081
I don't see how should can't deal with those values and changing the tests one by one would be really bad. I'm -1 on this, mostly because we can invest our time into new features and better stuff, when the tests aren't unreadable in any way and the documentation for should is pretty good.

[2015-12-01 00:31] ilanbiala commented on #670
@lirantal if you're not opposed, I think @codydaig might want (?) to take up creating a new repo for the docs and moving them there.

[2015-12-01 00:56] codydaig commented on #1081
I prefer expect, however, I have to agree that it's not worth the effort to switch.

[2015-12-01 00:57] codydaig commented on #670
@ilanbiala I'm down!

[2015-12-01 02:39] mleanos commented on #1081
Alright.. SGTM. Thanks guys.

I'm closing this now.

[2015-12-01 02:39] #1081 closed

[2015-12-01 03:26] jloveland opened #1082 "Articles created by deleted users cause server errors"
I create an article with user1, then I delete user1 from the system. I log in as user2 and try to view the article created by user1. This causes a server error:
![screen shot 2015-11-30 at 10 19 18 pm](https://cloud.githubusercontent.com/assets/3456708/11491555/f21c43e2-97b0-11e5-970a-0a4fbb4f2cbb.png)

We could solve this by checking to make sure `article.user` exists in `articles.server.controll

[2015-12-01 04:27] ilanbiala commented on #1082
Ideally articles created by users are still accessible, and we just change the user field to something like "Deleted user".

[2015-12-01 08:45] mleanos commented on #1082
There's either an issue that discusses this, or it was asked in the Gitter room. Can't find it now..

I agree with @ilanbiala that they should still be accessible, and displaying something like "Deleted User" on the front-end.

However, I think we could come up with a way to handle it on the back-end as well. Perhaps, we'd have a task that performs an update on articles or other artifacts that bel

[2015-12-01 13:32] GPnow commented on #963
@mleanos @karan-kapoor90   I am porting my app from 3.0 to 4.0 ,where i used it in my controllers,like
        var socketio = req.app.get('socketio');
and then  in the CRUD functions like socketio.sockets.emit(id,message);
If you offer a similar solutions,it will save a lot of time for me,thanks in advance.

[2015-12-01 18:00] ilanbiala commented on #1082
@mleanos privacy/security issue for that user, and it's deceiving because they technically weren't deleted.

[2015-12-02 06:45] mleanos commented on #1082
@ilanbiala You're right. If the developer wanted to have a "soft" delete feature, that would be their call. And probably would need to be a good reason for it.

Any thoughts on solving the problem of the orphan User reference in a case like this?

[2015-12-02 10:09] vencivat commented on #1061
Hello,

Thanks @mleanos for the help,
I was able to find solution to this, I had to add "--require server.js" parameter to mocha config.
![image](https://cloud.githubusercontent.com/assets/11574215/11528057/14118cae-98ed-11e5-889d-2047ca24bd19.png)

Everything is running

[2015-12-02 15:33] ilanbiala commented on #1082
Create a placeholder user with name "Deleted user" and assign articles to be owned by that user?

[2015-12-02 15:33] #1061 closed

[2015-12-02 17:58] ilanbiala commented on #657
@lirantal since we had some issues with #559, do you want to try to start a PR for the user refactor? I think that is a good thing to revise, because @sielay had some worthwhile suggestions, but they needed tweaking.

On another note, Gulp has still not reached its 4.0 release, but once it does I'll start rewriting the gulpfile and start making gulp == grunt.

[2015-12-02 20:26] codydaig commented on #992
@lirantal @ilanbiala Can one of you guys create a repo meanjs.github.io for me too move the documentation over too?

[2015-12-02 21:12] lirantal commented on #992
@codydaig do we want to call the repo meanjs? or be more specific?
currently these are the existing repositories under meanjs organization: https://github.com/meanjs

[2015-12-02 21:15] lirantal commented on #657
Not sure I have the time to take that on but once I do I'll review this list again

[2015-12-02 21:22] mleanos commented on #1082
@ilanbiala Yea, that's along the line of what I was trying to describe above.

We'd need a post delete hook (if we don't already) on the User model. We would use that as a *cleanup* of sorts on the User data & any related data.

[2015-12-02 21:29] codydaig commented on #992
the repo should be called `meanjs.github.io` That's the common practice and preferred method of creating a github pages website for an organization.

[2015-12-02 21:34] lirantal commented on #992
Got it.
Have fun: https://github.com/meanjs/meanjs.github.io

[2015-12-02 21:41] codydaig commented on #992
@lirantal Thanks!

[2015-12-02 21:41] #992 closed

[2015-12-02 21:48] ilanbiala commented on #1082
@lirantal @codydaig any other suggestions? If not, @mleanos do you want to create a PR for this?

[2015-12-03 01:58] codydaig commented on #1082
@ilanbiala @mleanos I think the placeholder user seems like the best idea.

[2015-12-03 06:33] lirantal commented on #1082
I'm +1 for handling a post delete hook.

[2015-12-03 06:45] mleanos commented on #1082
@ilanbiala Sounds like we have a consensus. I'll submit a PR, unless @jloveland has already done some work on this and wants to handle it; Jason, I wanted to throw that out there since you were the one that created this issue.

[2015-12-03 07:09] mikepc opened #1084 "Cluster Help"
Trying to get the cluster module to work with MEANJS, and I keep getting EADDRINUSE.

Has anyone gotten cluster to work with this repo, and if so where do I need to make my isMaster check and then have the forked process listen? It wants to start the whole server up on each fork I'm sure.

This is a really big deal for me, if anyone could help I'd greatly appreciate it.

[2015-12-03 07:22] mikepc commented on #1084
This is my starting point (server.js)

'use strict';

/**
 * Module dependencies.
 */

var cluster = require('cluster');

// Code to run if we're in the master process
if (cluster.isMaster) {

    // Count the machine's CPUs
    var cpuCount = require('os').cpus().length;

    // Create a worker for each CPU
    for (var i = 0; i < cpuCount; i += 1) {
        cluster.fork();
    }

// Code to run

[2015-12-03 07:32] mikepc commented on #1084
Actually for now I'm just going to spin up multiple docker containers and use a redis server, I really don't want to muck around in the guts of the app too much at this stage.

[2015-12-03 13:05] jloveland commented on #1082
@mleanos go for it! I haven't had a lot of time lately.

[2015-12-03 18:55] wansco opened #1086 "User logged out, but still appears to be logged in"
I'm not sure if I'm doing something wrong, so please bear with me.

I'm running in dev mode and every so often, I get sent to the /forbidden page on what should have been a valid request. On further investigation, I am actually logged out on the server, but the client UI shows the menu bar and user as if I am still logged in.

I've tracked it down to this:
The server session expires somehow (altho

[2015-12-03 19:06] wansco commented on #1068
I just created an issue (#1086) that is loosely related to this. I think the problem is that auth.interceptor caught some sort of a login issue on the previous page, so going back only re-triggers that 401/403 error which then dumps you back through the rejection to either the signin page, or forbidden.

The signin page makes sense (I haven't checked the latest versions, as I know there was some c

[2015-12-03 19:23] codydaig commented on #1084
@mikepc Try running it with PM2's native cluster feature. It's supposed to be able to handle apps like this in cluster mode (I think).

[2015-12-03 20:03] simison opened #1087 "Use NPM+Browserify/Webpack and remove Bower?"
(Topic was: "Move Bower modules out from /public/")

It's a slight security issue.

Now Bower libs end up to `/public/lib/**/*` and thus are open to public from the server.

I'd like to be in full control what my server is publishing. This way we might accidentally publish malicious JS _at the same domain_, so we aren't protected from XSS attacks via this.

Related to #1078

[2015-12-03 20:46] codydaig commented on #1087
@simison What's your proposed fix while still using bower?

[2015-12-03 21:33] simison commented on #1087
I don't have anything I can suggest as a best practise, but I guess it boils down into:
- symlinking (very error prone)
- bundling needed files into one js also at development (already done at production)
- keeping them under public only for dev and cleaning the folder out for prod
- using `npm main-bower-files`

[2015-12-03 22:00] simison commented on #1087
...or another way is to push non-Bower way such as NPM+Browserify, but that's another discussion.

[2015-12-04 01:22] emmansun opened #1088 "Invalid url once refresh from module but not home page"
[code]
The value of res.locals.url will be module related once you refresh it.
And below url related will be impacted.
[code]
![invalid_url](https://cloud.githubusercontent.com/assets/7235232/11579376/858055c4-9a68-11e5-8fc6-8feb98051aa0.png)

[2015-12-04 01:36] mleanos commented on #1088
@emmansun I believe this was fixed with this commit https://github.com/meanjs/mean/commit/e6a5732698815411ec328b8708fb00c7b3fe42d9 which was a part of the 0.4.2 release.

Have you encountered this behavior with some other module/reference in the application? If not, does this solve the problem for you?

[2015-12-04 01:51] emmansun commented on #1088
Yes, this should solve the problem, thx @mleanos !

[2015-12-04 01:51] #1088 closed

[2015-12-04 07:05] lirantal commented on #1021
@ilanbiala I searched there but I couldn't find it. Where you possibly referring to the generator repo and not the main codebase? Otherwise give me a link.

[2015-12-04 14:30] codydaig commented on #1021
@ilanbiala I thought we used nodemon for grunt and gulp tasks.

[2015-12-04 15:55] ilanbiala commented on #1021
Sorry yeah nodemon, but anyway it's some kind of server reloading task. We're using forever in the Procfile.

[2015-12-04 16:20] ilanbiala commented on #992
@codydaig @lirantal has everything been moved? If so, can we make whatever else changes regarding Heroku that are necessary so we can delete gh-pages from this repo?

[2015-12-04 16:22] ilanbiala commented on #743
So we don't have one monster issue, can we create separate issues for each task and then people working on a specific task don't get all the chatter?

[2015-12-04 16:35] codydaig commented on #992
@ilanbiala Everything has been moved. The new repo is live on github pages. I believe that it is safe to delete the gh-pages branch from this (meanjs/mean) repo. I made a small change to the docs (the updated date) only in the other meanjs.github.io repo and that change is displayed on the website.

[2015-12-04 16:36] codydaig commented on #992
We're using github pages, not heroku.

[2015-12-04 16:37] codydaig commented on #743
I will break these into individual issues. We want to keep the issues in this repo, or move them to the other repo?

[2015-12-04 16:43] ilanbiala commented on #743
Probably the other, just to declutter this repo from the documentation-specific stuff.

[2015-12-04 16:43] ilanbiala commented on #992
Yeah I noticed the gh-pages is up, so we should be good. @lirantal any reason not to?

[2015-12-04 17:45] lirantal commented on #992
yep, @codydaig go for it.

[2015-12-04 21:04] pursual opened #1089 "Serve static files without doing a full session lookup"
The session is inited via mongo for ever single static route. This is very inefficient.

[2015-12-04 21:44] pursual commented on #318
This is broken again.

[2015-12-04 21:58] mleanos commented on #318
@pursual Can you provide more details on what you're experiencing, and how this is broken?

[2015-12-04 22:01] pursual commented on #318
The session is now initiated before the static routes, and every request for a static file pings mongo. Bottom of config/lib/express.js

[2015-12-04 22:22] mleanos commented on #318
@pursual Yes.The session is initiated before the static routes. https://github.com/meanjs/mean/blob/master/config/lib/express.js#L232-L242

I can confirm that there is a significant performance increase when moving the Helmet & Static routes middleware before the Session.

Thanks @pursual for pointing this out. I think was re-introduced during the move from the older structure of 0.3 to 0.4.

@lir

[2015-12-04 22:22] pursual commented on #1089
#318

[2015-12-04 22:23] pursual commented on #1089
Apparently this was fixed, and then regressed again. Unfortunately I never used the fixed version for a project.

[2015-12-04 22:36] pursual commented on #318
Pull request submitted, worked fine in my project.

[2015-12-05 00:43] mleanos commented on #1082
I'm having a bit back & forth with myself, on the implementation for this.

I like the idea of handling this in a `post('remove')` hook. It makes sense that we would want to perform the cleanup here, since it's something that should be done regardless of where the delete is coming from.

The issue with this is that we would need to reference other models from the User model definition file. For in

[2015-12-05 18:56] wansco commented on #1086
I think the best approach would be to check if the user is set in isAllowed() (on the server policy), and return 403 if the user is set (which then would mean they are both logged in and forbidden), or 401 if the user is not set (which only says they are not logged in, we cant know know if they are forbidden).

The idea there would be a logged in user is forbidden (403), an un-logged in user would

[2015-12-05 19:05] lirantal commented on #318
right, that PR is good, we should merge it.

[2015-12-06 07:54] lirantal commented on #1086
@wansco the problem is well understood, and probably this happens because the user is AFK for quite some time so the session indeed expires. One quick way around it is to increase the session expiration time in the relevant environment config file.

@ilanbiala looks like a valid bug, although a bit of an edge case. How about we have some kind of ping to the server every now and then, or if an acti

[2015-12-06 08:03] lirantal commented on #1082
Referencing other models from the User model sounds like a bad idea to me too.
Is there another option?

If not, then in the Articles module we can show a [deleted] entry instead.

By the way, another approach is to also re-think the user deletion in general, where we don't actually remove user entries from the system, but instead have an `isDeleted` flag. This is usually a common practice so that

[2015-12-06 15:09] ilanbiala commented on #1082
@lirantal security/privacy issue. End users think delete means "gone", not just marked as deleted and kept.

[2015-12-06 15:11] ilanbiala commented on #1086
@lirantal I'd rather just redirect them to the login page because that exists and we don't need to implement new handlers and such.

[2015-12-06 16:48] jloveland commented on #1082
I agree with @ilanbiala that user privacy is an issue here if we don't actually remove the user's account completely. However, I believe the "policy" would be up to the developer of the app and corresponding to their EULA. I would like to see the default behavior of Mean.js delete the user's data and update the articles they published to be owned by **deleted user**.

@mleanos given @lirantal's fe

[2015-12-06 20:25] wansco commented on #1086
Redirecting to the login page, with a return url to the previous page, would be ideal. I'm not quite sure how to handle that return url since the offending request, in this case, is the API call, not the page load (or state) itself. Either way, this looks to be an issue that will need to be addressed with both server-side and client-side coordination (i.e. consistent use of http error codes 400, 4

[2015-12-06 20:51] mleanos commented on #1082
@ilanbiala @jarace87 @lirantal

I still like the idea of a "soft" delete feature, for User's. I know there are concerns over privacy. However, what exactly are those concerns (negative consequences)? It seems standard to have a "soft" delete with a `isDeleted` field; especially when it comes to User profiles.

Currently, we don't have a feature that allows the User to delete their own account. The

[2015-12-06 21:03] mleanos commented on #1082
One thing I have to point out is that the database would need a User that we would use to set these articles to be owned by. That might add additional complexity.

[2015-12-06 21:58] mleanos commented on #1082
On the issue of the User model references..

I feel like the current implementation of the User models could use some work, or at least discussion. It seems that the current model definition file (e.g. `user.server.model.js`) is doing too much. By including all the other configurations for the model (pre/post hooks, statics, and methods), we end up coupling the behavior of the models too closely w

[2015-12-07 06:23] mikepc commented on #1067
This is definitely a network problem, I believe you've set up the Amazon image behind a VPC that has outbound firewall rules configured.

[2015-12-07 07:16] lirantal commented on #1082
I'll quickly sum up my points here:
* I don't think we should go to length of privacy/EULA/etc. Remember that MEAN.JS is a framework, it's not a website, not a service, and not a product you buy and sell to someone else. If we had cared so much about privacy then what about when deleting a user we should also begin cleaning the logs that MEAN.JS keep? it will never end. With that said, we should d

[2015-12-07 09:48] skatch opened #1092 "mongolab+meanjs"
Hi, I just cloned and installed a fresh MEAN.js .Everything went well until I wanted to connect to mongolab, I got the following error message:
Could not connect to MongoDB!
    { [MongoError: Authentication failed.]
      name: 'MongoError',
      message: 'Authentication failed.',
      ok: 0,
      code: 18,
      errmsg: 'Authentication failed.' }

I am connected with the shell to my mongolab

[2015-12-07 10:07] lirantal commented on #1092
@skatch  It's not a good idea to share your credentials online on the web so you might want to change these details (even if it's open for localhost only, etc).

Secondly, obviously there's an authentication problem - can you check the hostname, port, username and password you provided are indeed ok? also, please style your code paste so it is readable properly.

[2015-12-07 11:02] mleanos commented on #1092
@skatch It looks like your concatenating your MongoLab URI with `localhost` & `/mean-dev`.. so your URI would end up in this format...

`mongodb://user:pass@ds0000.mongolab.com:10000/basenamelocalhost/mean-dev`

Try setting a environment variable for your mongolab URI. You can set it at the command line, like this.. `SET MONGOLAB_URI=yourmongolaburi` and then running the application with Gulp/Grun

[2015-12-07 11:25] mleanos commented on #1082
I agree with your points @lirantal I got a little carried away with all that model craziness that I was experimenting with :)

I think these are our main options..

1) Let's not worry about the orphaned User references. On the client-side we'll just display "DELETED USER" when we don't have a populated User field in the Article (because it couldn't be found with the `populate` method). And **most

[2015-12-07 20:44] ilanbiala commented on #670
@lirantal @codydaig I think this issue has been taken care of as far as we can right now, and we'll open new issues as we think of new stuff? Close?

[2015-12-07 20:51] mleanos commented on #1082
I should clarify in the 2nd option above, I meant that we should **remove the reference to the deleted user from the article**.

[2015-12-08 03:18] #1089 closed

[2015-12-08 03:19] codydaig commented on #670
Close

[2015-12-08 16:40] GiankOtarola opened #1094 "Subdomain"
I try to search in the web the possible of create two different projects with the mean js stack, one of them it will be the like www.mysite.com and the second project I want to be a subdomain, like subdomain.mystie.com. But I dont know how I can configure the projects to work like that.

Any idea for help me?

[2015-12-08 17:24] #670 closed

[2015-12-08 22:42] soupman99 opened #1095 "Why roles array rather than string"
Why in the user modules are roles stored as an array rather than just a straight up "admin" or "user"?

[2015-12-08 22:43] #1095 closed

[2015-12-09 00:50] mleanos commented on #1095
A user can have multiple roles assigned to them. This can become more apparent, and relevant, when additional roles are added to the application.

[2015-12-09 07:53] lirantal commented on #670
indeed, thanks guys.

[2015-12-09 07:55] lirantal commented on #1082
IMO it's either option (1) or (3).
I'm good with either, because basically this is only related to the Articles module which only serves as an example module.

[2015-12-09 18:30] codydaig commented on #1094
Assuming you want these too be two different apps, you need to clone the repo twice into two different directories, and run these on different ports, and have a load balancer like Nginx to distinguish the two incoming hosts and direct the traffic accordingly.

[2015-12-10 17:11] pgrodrigues opened #1096 "Angular interceptor possible dup"
Hey, is there any particular reason to have two similar interceptors in [core/services](https://github.com/meanjs/mean/blob/master/modules/core/client/services/interceptors/auth.interceptor.client.service.js) and in [users/config](https://github.com/meanjs/mean/blob/master/modules/users/client/config/users.client.config.js).

IIRC the first one is the most recent and maybe people forgot to delete

[2015-12-10 18:18] GiankOtarola commented on #1094
@codydaig Thanks for the answer, it helps me a lot !

[2015-12-11 00:03] mleanos commented on #1096
I think you're absolutely right. We don't need both, and the older one was probably overlooked when the authInterceptor service was implemented. I don't see anything that would prevent us from removing the `$http` provider config from the User's module; the `authInterceptor` service is a much better implementation.

We do need to add `Authentication.user = null;` to the service before this line, [

[2015-12-11 10:50] mleanos commented on #1086
@wansco Looking at this issue, and testing the removal of the user.client.config interceptor, has lead me to similar thoughts that you've shared here.
https://github.com/meanjs/mean/issues/1096

Which actually happens to be why you were experiencing issues with changing the server policy to return 401. See the [user.client.config interceptor](https://github.com/meanjs/mean/blob/master/modules/user

[2015-12-11 11:20] mleanos opened #1098 "Guest role added to State doesn't allow guest access"
When adding the `guest` role to any client route's `data.roles` array, it doesn't have any effect on the resolving of that route; the route is inaccessible to the unauthenticated user.

To reproduce, just add the following to this route config [articles.client.routes](https://github.com/meanjs/mean/blob/master/modules/articles/client/config/articles.client.routes.js#L13)
[code]

Currently, this ro

[2015-12-11 14:31] estvmachine opened #1099 "Deep subfolders are not included automatically in the index for public/modules/**/**/**/*.js"
Hi how i can do for make the routine can detect more deep for javascript files in public?.

I got something like this  and its not recognizing:
[code]
but recongnize :
[code]

[2015-12-12 00:37] mleanos commented on #1099
It looks like you're using an older version of MEANJS; pre 0.4.0.

Try changing this line
https://github.com/meanjs/mean/blob/v0.3.3/config/env/all.js#L64 to `'public/modules/**/*.js',`

[2015-12-12 16:06] codydaig commented on #1094
@GiankOtarola Glad I could help!

[2015-12-12 16:06] #1094 closed

[2015-12-14 02:11] mleanos commented on #1082
@codydaig @jloveland @ilanbiala Any feedback?

[2015-12-14 13:33] estvmachine commented on #1099
Thanks!

[2015-12-14 13:33] #1099 closed

[2015-12-14 21:47] codydaig commented on #1082
So I am a fan of #3, however, I agree with @lirantal either (1) or (3).
If we do #3, I think that we should be handling the missing user reference on the back-end.

[2015-12-15 04:02] jloveland commented on #1082
I like option 3. When soft-deleting the user, I think we should remove sensitive data where possible. Additionally, since, we are not completely deleting the user, maybe we should update the display name to DISABLED_USER? Rationale about making the user's display name *disabled* is that the user can no longer register themselves again with that email address and suggesting it was deleted implies t

[2015-12-15 04:22] jloveland commented on #1082
Per my last comment, maybe we delete the users email address too?

[2015-12-15 14:50] mg1075 commented on #369
ngMaterial should be optional via a generator rather than part of the default boilerplate. It is good, but an extremely opinionated way to go about building your application.

[2015-12-15 15:01] mg1075 opened #1105 "Menus documentation is insufficient"
The menu documentation leaves me with more questions than answers and feels like it needs to be considerably expanded upon. I asked a question about menus in gitter with no feedback given.

http://meanjs.org/docs/0.4.x/

What is a menu object?

What is the difference between a "type" of 'dropdown' and of 'item'?

What is the significance of the topbar menu? Does declaring "topbar" magically put th

[2015-12-15 15:02] max-mog commented on #369
Please correct me if wrong, but ngMaterial has already been separated into
a different package called 'material' which you can find on mean.io
packages section.
That said bootstrap to a great extend has lost popularity and web is moving
towards adopting material design in many projects. And that's mainly
because the MD designs and NG directives are very well thought out...
On Dec 15, 2015 6:51 AM,

[2015-12-15 15:50] mg1075 commented on #369
@max-mog ?
This project is mean.js, not mean.io.
http://stackoverflow.com/questions/23199392/difference-between-mean-js-and-mean-io

If you go with angular-material, it has its advantages and disadvantages; it looks to me that you are locked in with angular-material in a sort of "all or nothing" way if you choose it.

Yes, angular-material is up-and-coming and looks awesome. However, not everyone

[2015-12-16 00:15] apitts opened #1106 "Potential stored xss issue?"
Here:
https://github.com/meanjs/mean/blob/3a4c51aaeebb492afccf70c6049fcae69a37c84e/modules/core/server/views/layout.server.view.html#L48

I am thinking about stored xss in the user object (e.g. signup with a script as a user name).

Let me know if I've missed where this would be filtered out elsewhere please.

[2015-12-16 01:21] mg1075 commented on #1106
I am curious as to why that was left that in there because it looks like code testing rather than production code.

Also worth noting that all these properties of the user object will be exposed by angular if the user pries:
[code]

Earlier I raised this issue in gitter, and @mleanos replied:

[2015-12-16 01:32] apitts commented on #1106
Thanks @mg1075. I am not up to speed on v0.4 I'm afraid but I know in previous versions the embedded user object was referenced directly client-side.

To the extent that people are using mean.js to build very simple apps then I don't think it is a serious security issue....but the moment you create a view that exposes another users' username (i.e. pretty much any social or platform-type app) I bel

[2015-12-16 01:35] apitts commented on #1106
I think perhaps here:
https://github.com/meanjs/mean/blob/master/modules/users/client/services/authentication.client.service.js#L7

Which is then referenced in the header at a minimum.

[2015-12-16 02:10] mg1075 commented on #1106
Yep...

![image](https://cloud.githubusercontent.com/assets/2031435/11830140/d3df6ba8-a367-11e5-95d2-b716e98c14a2.png)

[2015-12-16 04:13] apitts commented on #1106
Correction: views with other usernames will of course be sanitized by angular...so, yeah, probably not a major security issue.

[2015-12-16 12:35] lirantal commented on #1106
I don't see a problem with these fields. It shows your username or e-mail to you, so what?
On the stored XSS that's another story - were you actually able to introduce this kind of vulnerability?

[2015-12-16 12:45] denzelwamburu commented on #369
I back @mg1075 , material design should be optional during installation, hence it should be injected in the generator. But it's true functionality first before redesign. The debate for whats hot or not shouldn't be here. I think it should be given to the user to decide during installation.

[2015-12-16 12:49] #934 closed

[2015-12-16 12:51] lirantal commented on #1082
Having a soft delete complicates things a bit like that because we need to "manage" the deleted users.
if we don't delete the user's e-mail address then they won't be able to sign-up again, and will basically be blocked.

To avoid over-complicating it I suggest we take the simpler approach out of the possible options. Looks to me like it's option (1) ?

[2015-12-16 13:03] mleanos commented on #1082
Agreed. I'll start working on option 1.

Thanks guys!

[2015-12-16 13:13] mleanos commented on #369
I agree with @mg1075 & @denzelwamburu

Angular Material is nice, but it doesn't really have a place in a framework like MEANJS. This project isn't trying to solve UI/UX problems; it's strength lies in the back-end, and architecture.

I vote for leaving it out. Bootstrap is very flexible, and users can decide what type of front-end library they want to include.

[2015-12-16 13:22] mleanos commented on #369
As for a toaster implementation @denzelwamburu, I've been using https://github.com/jirikavi/AngularJS-Toaster.git

The project seems actively maintained, and it's a rather simple implementation.

I didn't have any problems integrating this into the default MEANJS framework.
1) installed using bower
2) Added `'public/lib/angularjs-toaster/toaster.css'` to my default assets `client.lib.css` config
3

[2015-12-16 13:25] apitts commented on #1106
@lirantal I have sent you an email on the XSS topic.

[2015-12-16 13:30] lirantal commented on #1106
thanks, so where should this be fixed?
1. on the backend to sanitize certain strings? usernames are usually more "open" in the sense of allowing all kinds of utf8 chars
2. on the frontend to always sanitize strings before outputing?

so (2) is an obvious fix no matter what and we can already provide a PR for. I believe Angular has it's own built in filters for that.

as for (1) that's a more open

[2015-12-16 13:35] apitts commented on #1106
I believe if we can do 2 that should be enough. Issue is I believe we have escaped swig's sanitization. I for one am not certain how you would apply angular sanitization to a swig object...no doubt it's possible though.

[2015-12-16 19:56] simison commented on #1106
I feel like it should be stated clearly at this point — if someone manages to produce an actual XSS vulnerability — how should they disclose that information. Openly here or via emails directly to @lirantal?

@apitts that swig object is visible only to authenticate user him/herself. For others everything is visible only via Angular, which has its own escaping methods as mentioned.

[2015-12-16 21:15] ilanbiala commented on #1106
@simison emails to anyone/everyone on the team is best.

[2015-12-16 21:19] lirantal commented on #1106
e-mails are best for now, yes.

[2015-12-16 21:58] apitts commented on #1106
@simison Yes - I agree. That is what I was trying to get at with my correction above but you have stated it more clearly. I can envision a situation where some other user-generated content is stored across users...though that would be pretty rare.

[2015-12-17 09:51] sparshy opened #1109 "Initialize Static Routes before session initalization"
There is a very good explanation for this [here](https://www.airpair.com/express/posts/expressjs-and-passportjs-sessions-deep-dive)

Avoid Sessions for Static Resources
I learned that if you add the session middleware before your static directory, Express will generate     sessions for requests on static files like stylesheets, images, and JavaScript.
If a new visitor without a session loads a pag

[2015-12-17 10:28] pgrodrigues commented on #1109
I believe this was already addressed by #1093.

[2015-12-17 11:06] sparshy commented on #1109
My bad I had older version of meanjs

[2015-12-17 11:06] #1109 closed

[2015-12-19 06:54] 5un opened #1110 "Live Reload Development and deployment With Docker"
Hello, I'm not sure if the current docker run command with live reload inside README.md reflects the current structure and configurations of the project.

The current:
[code]

- Does mean/app needs to be mean/modules ?
- I'm not sure why but I cannot get the container running properly by mounting both the /public and the /modules folder. On OSX (El Capitan), The container can start and go through

[2015-12-19 12:25] surendrakumar1992 opened #1111 "How to run on https ?"
Hello Everyone,
I want to try run server js on secure port. I want that every request come on http redirect it https.
Thanks in advance

[2015-12-19 12:26] lirantal commented on #1111
Hi @surendrakumar1992,

The README clearly explains this: https://github.com/meanjs/mean#running-with-tls-ssl

[2015-12-19 12:34] surendrakumar1992 commented on #1111
hii @lirantal  Thanks for quick response.
I follow this stop but when i trying to access domain.com with http or https, but it's not working. What i have to set environment variable development or  production.

[2015-12-19 12:39] lirantal commented on #1111
Following READMEs and instructions is a vital part, so please do so. If you find the README lacking then let us know, but all the information is there.

* How are you running your node app? did you go into the relevant `config/env/*` file and toggled the `secure` flag on?
* Did you access the actual port for SSL per the app configuration?
* Can you show us the app startup logs?

[2015-12-19 13:00] surendrakumar1992 commented on #1111
Yes I am updating env like

secure: {
    ssl: true,
    privateKey: './config/sslcerts/key.pem',
    certificate: './config/sslcerts/cert.pem'
  },

I am sharing command window

![image](https://cloud.githubusercontent.com/assets/12594740/11913084/1a2c9fb8-a67e-11e5-946c-889509df8ad9.png)

[2015-12-19 13:09] lirantal commented on #1111
which version of MEAN.JS project are you running?
how are you trying to access the app? because you set port 80, then you
should try https://server-host:80 to force SSL connection on port 80 rather
then 443 by default.

On Sat, Dec 19, 2015 at 3:00 PM, surendrakumar1992 <notifications@github.com

--
--
Sincerely, Liran Tal

Author
<http://www.amazon.com/Agile-Software-Development-HP-Manager/dp/148

[2015-12-19 13:15] surendrakumar1992 commented on #1111
Okay Now 443 working. If some one access domain.com then what will happen?

[2015-12-19 19:40] lirantal commented on #1111
you tell me... the app is deployed on your network, I've no idea how you set it up.
did you put a load balancer before the app? if you don't have http forwarding to https then no server will respond on port 80.

[2015-12-19 19:40] #1111 closed

[2015-12-19 23:52] lirantal commented on #1021
So is this kind of enhancement even valid? `nodemon` is used when you do development so it can monitor if the server needs to be reloaded and such, it's not really used in production.

And we don't use forever, again that's on the procfile which relates to heroku - again not really project standard for mean.js users.

Usually production users setup pm2 and such as part of their servers setup/build

[2015-12-20 18:08] ilanbiala commented on #1021
@lirantal nodemon, forever, and pm2 should all be usable in production. Setting that up for users would probably be helpful.

[2015-12-21 09:03] vaucouleur commented on #1075
@mleanos @jloveland

There is a FAQ entry with respect to trailing slashes, would it be appropriate to use the method that ui-router recommends ?

https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-make-a-trailing-slash-optional-for-all-routes

[2015-12-21 09:37] vaucouleur opened #1112 "Meanjs modules (discussion)"
It's a discussion entry. I could have missed it, but to the best of my knowledge, this was not addressed explicitly elsewhere, or at least not recently.

Like many, I think that it is a *good* thing to keep meanjs relatively small, and focused on infrastructure aspects ("framework aspects", so to say). I'm very happy with the existing framework (with the exception of the permissions system: IMHO,

[2015-12-21 19:08] mleanos commented on #389
Anybody want to start working on this together?

I have a preliminary attempt at this on the server-side here, https://github.com/mleanos/mean/commits/token-auth-simplified

@lirantal Any thoughts on organizing the effort here?

[2015-12-21 23:52] iamvanja opened #1113 "Using controllerAs syntax"
This syntax is recommended as best practices and it actually makes it much easier when it comes to scopes within multiple parent/child directives.
I understand directives with such complexity are beyond the scope of this project, but it might be worth considering using it since the changes are somewhat minimal and it helps developers new to ng to get faster up to speed with the framework.

[2015-12-22 03:18] mg1075 commented on #1113
@iamvanja - f.y.i. - see discussion here:
https://github.com/meanjs/mean/pull/874

[2015-12-22 04:11] iamvanja commented on #1113
Ah, sorry I missed that. Thanks

[2015-12-22 04:11] #1113 closed

[2015-12-23 09:18] jolacaleb opened #1114 "How to get socket.io variable from server-side page?"
Hello.

I'm trying to use socket.io to send a message to specific client when there's update to database.

so I tried to write code after user.save, like below..

[code]
But I can't get socket.io object to emit.
How can I get socket.io object to emit or broadcast message there?
Any help would be appreciated, thank you!

[2015-12-23 11:26] itleo31 opened #1115 "Deploy MEANJS application to Ubuntu using Nginx as a reverse proxy with SSL"
Hi,

First of all, I want to say thank you all for incredible works. I'm using your meanjs and happy with it. I just has a little confuse when trying to deploy application in my Ubuntu server.

I'm using mean 0.4.1, and start it with production mode in port 8443. And I set up Nginx on port 80, and pass request to 0.0.0.0:8443 (MEAN application). Now I want to use SSL, I see MEANJS has option to co

[2015-12-23 13:22] rohitkumarvinay opened #1116 "Error: [$rootScope:inprog] $apply already in progress"
I am having two checkboxes, on clicking one checkbox executes function on another. while doing so it throws `Error: [$rootScope:inprog] $apply already in progress` error. doing the same on a plunkr works fine though. the [plunk](http://plnkr.co/edit/xjpcDDBK08Sjcvj9Xclv?p=preview).

[2015-12-23 16:00] panospost opened #1117 "Deploy to heroku"
Hello i deploy to heroku as all the guides say, and i have used grunt build but still the landing page and basically all my pages are blank and i dont know why can anyone help

[2015-12-23 16:11] rohitkumarvinay commented on #1117
Did u use yo generator to create your application?

[2015-12-23 16:32] pgrodrigues commented on #1116
Use [StackOverflow](http://stackoverflow.com/) for those kind of questions, since your problem is purely AngularJS. Eitherway the answer for your problem is related to [this](http://stackoverflow.com/questions/29008322/apply-already-in-progress-when-sending-a-click-event-to-a-button). Hope that helps :)

[2015-12-23 16:37] mg1075 commented on #1116
The reply and suggestion from @pgrodrigues is right.
It would be good if this issue is closed.

Also, the plunk you linked to produces the same error.

![image](https://cloud.githubusercontent.com/assets/2031435/11980486/ccf79136-a960-11e5-9ae8-64f651565a7b.png)

[2015-12-23 17:13] rohitkumarvinay commented on #1116
sorry, just noticed. ignored since the function worked. closing

[2015-12-23 17:13] #1116 closed

[2015-12-23 17:57] #1082 closed

[2015-12-23 19:01] lirantal commented on #1115
Hi @itleo31

Thanks for the kind words! Happy you're having fun with it.

Generally speaking, you don't need to work with SSL enabled on both your public facing proxy and the internal application (even though technically you can do that). You don't want to do it due to the fact that you're adding more work on both layers which is un-necessary and only adds complexity and performance issues.

You s

[2015-12-23 19:03] lirantal commented on #1114
@jolacaleb you can take a look at the chat example which is implemented in the project.

[2015-12-23 22:19] lirantal commented on #389
anyone who has time could just get onboard, I don't think any formal organization is required.
unfortunately I don't have much time to invest in this at the moment, but goodluck! :)

[2015-12-23 22:32] mleanos commented on #1114
@jolacaleb The current implementation of the Chat feature in this project, provides a great example of using socket.io to communicate between the server & client; just as Liran suggested. However, it is a little limiting for certain use cases (or project requirements). The server socket configuration in this project assumes that the *emit* is being initiated from the client-side. It sounds like yo

[2015-12-23 22:33] mleanos commented on #1114
Also, https://github.com/meanjs/mean/issues/792

[2015-12-23 22:36] lirantal commented on #1112
Hi @vaucouleur,

I appreciate the discussion, thanks for jumping in.

The reason behind the modules system being so "light" is that MEAN.js really aims at being a framework, and just that. Adding more modules out of the box is ok, but I believe it misses the point where the project itself aims for minimalist and high quality project and not as-many-as-you-can-get modules offering.

This is one of

[2015-12-24 01:53] mattbodman commented on #1115
Hi @lirantal, I'm coming over to MeanJS from the Python Pyramid world and I will be dealing with this SSL question myself before too long.  In Pyramid, even though Nginx would handle the SSL, I still had to stipulate that the url scheme was HTTPS in the Pyramid config.  Is there a similar config requirement in Node or Express?  If so, where?

[2015-12-24 02:02] itleo31 commented on #1115
Hi @lirantal,

Thank you very much for your kind support. Now I can continue with myself? About this issue, do I need to Close this?

[2015-12-24 02:02] #1115 closed

[2015-12-24 04:34] brokyo opened #1118 "Allow configurable owasp passwords requirements"
I'm not even sure I have an incredibly strong opinion on this but creating an issue and asking for opinions was [suggested here] (https://groups.google.com/forum/#!topic/meanjs/FxdWbkVb0B4) so I'm going for it :)

I've really enjoyed building stuff out in mean.js but while developing I've found dealing with the password requirements to be a pain. I'm curious about how the community would feel abou

[2015-12-24 06:36] mleanos commented on #1118
You can configure the owasp test library, as described here https://github.com/nowsecure/owasp-password-strength-test#configuring

You would need to configure these settings on any instance of the owasp test library; both client-side & server-side. As for making them configurable, it's doable. However, I'm not sure if the framework should be concerned with that over the security of the default app

[2015-12-24 06:40] mleanos commented on #1117
see this discussion.. https://github.com/meanjs/mean/issues/960

[2015-12-24 10:45] panospost commented on #1117
yes i use yo generator also i use git clone but still nothings shows up
everything is blank, and i did use grunt build i am trying to figure this
out but no solution anywhere

2015-12-24 8:40 GMT+02:00 Michael Leanos <notifications@github.com>:

[2015-12-24 12:05] mleanos commented on #1117
Are you getting a browser error? I'd expect an Angular injection error.

If you're getting an injection error, its most likely due to a dependency that's missing. Make sure your *production* asset file contains any custom libraries that you've added. Essentially, your prod assets need to look like your dev assets.

If that still.doesn't help, then make sure you've followed that steps in the #960.

[2015-12-24 12:25] panospost commented on #1117
no i am not, i told you i push the official code repo after git clone stuff
how is it possible to have an angular injection error? but i ll try this
steps and i will tell you what happens.

2015-12-24 14:05 GMT+02:00 Michael Leanos <notifications@github.com>:

[2015-12-24 12:29] panospost commented on #1117
2015-12-24T12:28:17.909016+00:00 heroku[router]: at=info method=GET
path="/lib/angular-ui-router/release/angular-ui-router.min.js"
host=epratirio.herokuapp.com
request_id=6775e725-885a-47de-8e20-54a52a475d1a fwd="79.103.68.87"
dyno=web.1 connect=1ms service=2ms status=304 bytes=402

2015-12-24T12:28:18.026261+00:00 heroku[router]: at=info method=GET
path="/lib/angular-file-upload/angular-file-uplo

[2015-12-24 12:56] mleanos commented on #1117
Can you share the log from the Heroku build?

[2015-12-24 13:16] mleanos commented on #1117
It looks like you're missing your minified app.js. Are you sure you've added the Grunt (or Gulp) build task to your *postinstall* config in your package.json?

When viewing the source of your application, you should see this in the *Application Javascript Files* section, along with your other library dependencies..
[code]

[2015-12-24 13:23] lirantal commented on #1115
+1

[2015-12-24 14:35] jolacaleb commented on #1114
Thanks for the comments!

I solved this problem with @mleanos number 2 option,

First, I set socket.io as global app in express,
[code]
Second, I load this variable as 'app.get' which is like snipplet below:
[code]
Works as I expected! Thank you for all comments!

[2015-12-25 00:09] Larraby commented on #173
Why have you closed it? Maybe someone in the community experienced with vagrant & ubuntu & mean would make one.
Both are closed by now, and a quick search gives you no quick straight-to-the-code options unfortunately. Have tried about 4 diffrent MEAN vagrant configs already haven't managed to run them without tweaks

[2015-12-25 03:49] jloveland commented on #173
Why not just use the docker image. What's the use case for vagrant now that we have docker? Is Vagrant better for development purposes?

[2015-12-25 06:32] lirantal commented on #173
@Larraby also a quick search yields quite a few MEAN based vagrants:
https://github.com/cmoudy/mean-vagrant
https://coderwall.com/p/iv-rfg/instalation-mean-stack-mongodb-express-angular-node-js-on-vagrant

and even a specific MEAN.js one:
https://atlas.hashicorp.com/arvindr21/boxes/mean-box

[2015-12-25 23:32] Larraby commented on #173
Thanks for answer!

In case someone googles this thread and goes with this box:
https://atlas.hashicorp.com/arvindr21/boxes/mean-box
If you have problems with permissions you have to dig to comments in an article and recreate a .npm folder. I had problems with localhost:3000, but that's probably because of my local machine.

Wish MEAN stack would be as easy and accessible on Windows as PHP with XA

[2015-12-26 12:25] panospost commented on #1117
hello i am sorry but i am no native english speaker the truth is that i
dont see my application.min,js but i dont know how to add these in the
package.json.
"postinstall": "bower install --config.interactive=false"
i see this in my package.json file but i dont know what to change.
can you tell me?

2015-12-24 15:16 GMT+02:00 Michael Leanos <notifications@github.com>:

[2015-12-26 13:30] surendrakumar1992 commented on #1111
Hii @lirantal ..
I not used any load balancer . I am new with this. I put my code on server and start server on 443 so right now it's working fine with https but not respond with http. Can you please help me?

Thanks in advance @lirantal  :)

[2015-12-27 08:12] lirantal commented on #1087
a lot of frameworks make `grunt build` create a really production-ready snapshot of the project, such as uglyfing, minifying, etc, but most importantly it creates a `dist/` directory such as:
[code]

which makes this `dist/` directory deployable: you can just copy that to a remote server, run npm install for the modules, and start the server.

what do you think?

[2015-12-27 08:13] lirantal commented on #1087
@simison if that sounds like a good idea, how about taking this for a PR?

[2015-12-27 10:39] lirantal commented on #1106
Hi @apitts

Getting back to this - I did see that the script tags are breaking the HTML and messing it up but I don't see any popups, though I bet it's easier to still attack it via XSS with a proper query.

Were there any specific areas in the view that you noticed suffering from the XSS?

[2015-12-27 13:28] lirantal commented on #1021
IMO the current gruntfile with nodemon starting there with debug mode too is quite  bizarre as normally production nodejs apps won't be running like that.

I do agree that we want to enable users to run nodejs in production mode, and I'm supporting pm2 but there's more to it than just configuring a gruntfile - for example installing pm2.

[2015-12-27 13:51] mleanos commented on #1117
@panospost

1) Change this line, https://github.com/meanjs/mean/blob/master/package.json#L20 to:
`"postinstall": "bower install --config.interactive=false && grunt build"`

This will be executed when you deploy your application to Heroku; thus the necessary files, including *application.min.js*, will be created in a folder named *dist/* (**in your Heroku app's root folder**).

2) Change these two

[2015-12-27 15:09] mleanos commented on #1021
We can't really account for the many scenarios that exist for deployments. Some users may want to use pm2, and others may want to use something else that suits their needs.

I think the general philosophy with this project has been to create a robust framework, that users can build upon. We shouldn't get too opinionated when things fall outside the scope of the workings of the application itself;

[2015-12-27 15:13] mleanos commented on #1114
@jolacaleb I'm glad that worked out for you. Thanks for reporting back!

[2015-12-28 06:45] lirantal commented on #1021
I agree with you, it's what I've been trying to explain. But, I do think there's a place to adopt the good tools, just like we are attempting to slowly replace grunt for gulp, then moving to pm2 is the same movement going on.

And I think it doesn't end in adding pm2 as part of the gruntfile or whatever, it also means some documentation about how to run the app with pm2.

[2015-12-28 13:20] mleanos commented on #1021
I agree that adding documentation on using pm2 with meanjs would be enough. I don't think it needs to be added as a core feature/tool. Especially, since the only place *forever* is being used is in the *Procfile*, which is used in some deployment environments; for instance Heroku (not sure if any others use it).

[2015-12-28 13:56] surendrakumar1992 commented on #1111
@lirantal  please reply

[2015-12-28 22:35] lirantal commented on #1111
@surendrakumar1992 you can't expect that if you bind a service to just port 443 it will also bind to port 80, right? if you want to enable port 80 then you need some kind of load balancer device/software that will "proxy" the traffic from port 443 to port 80 and not require SSL.

[2015-12-29 00:42] brokyo commented on #1118
Thanks for the feedback. I'm afraid I'm a little confused as jloveland [says here] (https://groups.google.com/d/msg/meanjs/FxdWbkVb0B4/Juf1-Vu4BgAJ) that it's not configurable. Am I just being stupid?

Either way totally understand the value of defaulting to security

[2015-12-29 01:09] mleanos commented on #389
Added https://github.com/meanjs/mean/pull/1121 to get feedback & track

Anyone that wants to help out, feel free to submit changes to my fork's branch.

[2015-12-29 01:18] mleanos commented on #1118
@brokyo Jason's comment is correct. However, he's referring to the fact that we didn't provide any out of the box implementation for configuring the owasp-password-strength library within the meanjs framework. You may implement your own custom configuration though, using the library's `config` feature.

[2015-12-29 02:01] jloveland commented on #1118
Thanks for clarifying @mleanos. I think making the password strength configurable in mean.js is outside the scope of the framework, but the developer can choose the config they want an modify the mean.js tests to reflect the new config.

[2015-12-29 03:41] #1096 closed

[2015-12-29 08:21] vaucouleur commented on #1112
@lirantal Thanks for the frank reply.

To me, modules are actually a way to keep the framework minimalist. For example, the "Users Admin" code could be an external module: code that is maintained in an external repository. Hence, it becomes someone else responsibility, and you can focus on the core kernel. There is already quite a lot of support for modules in meanjs, but to the best of my knowled

[2015-12-29 15:09] codydaig commented on #1087
@lirantal @simison :+1:

[2015-12-30 02:17] mleanos commented on #1032
@lirantal @codydaig @rhutchison @ervine13

How do we want to handle allowing *switching/removing* a user's primary provider? I see a few different aspects of this requirement..

1) When the user wants to change their *primary* provider, and their provider is set to **local**
  a) I guess we just overwrite this to whatever provider their *switching* to? Thus, "forgetting" about the **local** provid

[2015-12-30 04:33] rhutchison commented on #1032
I started working on a solution for this, but it was closed in favor of "CleanMean"

https://github.com/meanjs/mean/pull/752

What ever happened to that?  Personally, I was not a fan of the design of cleanmean's user module, which is why I was working on something different.

[2015-12-30 08:11] xiaoyang2022 opened #1123 "angular2.X will be out,the project will be no easy!"
angular2.X will be out,the project will be no easy!

[2015-12-30 10:26] sparshy commented on #1123
agree with you i @xiaoyang2022

[2015-12-30 17:20] lirantal commented on #1123
what is there to agree with?
@xiaoyang2022  I don't understand what you were trying to say.
Do you know when will Angular2 be officially released?
What will be "no easy"?

It would help if you could actually engage in a valuable discussion and not just comment half a sentence.

[2015-12-30 19:58] sparshy commented on #1123
@lirantal angular2 beta is out. if u go out n try it they redesigned from base. For starters i dont think it has controllers. Syntax for everything is changed ng-repeat etc.. Say goodbye to $'s there are no $ in angular2. No doubt switching to angular2 will be tough. saw a talk , a guy from angular team mentions if you want to make transition easy, start using directives much.

[2015-12-30 21:50] mleanos commented on #1123
@sparshy It will be a huge upgrade to move to Angular 2. It's not something that we'll be able to get to anytime soon. I think we're a few major releases away.

With that said, we're putting a lot of effort into making the framework more modular, and in accordance with best practices; including our use of Angular. As we work toward that goal, we will get closer to having a framework that will be e

[2015-12-30 21:53] mleanos commented on #1123
Edit: a few **minor** releases away ;)

[2015-12-31 07:57] lirantal commented on #1123
@sparshy I don't need an explanation about Angular2, but thanks.
Are you interested in actually helping our here with moving to Angular2 or you only care about commenting? :)

[2015-12-31 16:17] #1098 closed

[2015-12-31 21:32] JulianLaval opened #1124 "CRUD unit test not passing"
Hi there,

I just yesterday cloned the MEANJS repo and installed the latest version of MongoDB on my Windows 10 machine.

Running the `grunt test:server` task throws an AssertionError when it gets to `User CRUD tests should not be able to update own user details with existing username` as well as for an existing email.

In particular:

`Username already exists` was expected
`11000 duplicate key er

[2016-01-01 16:50] JulianLaval opened #1125 "Gruntfile not being linted"
Hi there,

As it stands, the Gruntfile makes use of the Lodash `union` method to specify the ESLint `target`:

`_.union(defaultAssets.server.gruntConfig, defaultAssets.server.allJS, defaultAssets.client.js, testAssets.tests.server, testAssets.tests.client, testAssets.tests.e2e)`

This method only operates on arrays, however, and so the `gruntConfig` property in the default assets  (a string) isn't

[2016-01-01 16:57] codydaig commented on #1125
@JulianLaval Go ahead and submit a PR and we'll review!

[2016-01-02 02:01] mleanos commented on #1125
The proposed fix looks right to me. Thanks.

[2016-01-02 08:45] #1106 closed

[2016-01-02 11:42] lirantal commented on #1124
Is that reproducible only on your Windows machine?
Our linux-based builds are passing just fine with latest PRs.

Can you specify the installed mongodb version you have?

[2016-01-02 13:15] JulianLaval commented on #1124
MongoDB version is the latest stable release, 3.2.0.

I am indeed unsure whether this is a Windows issue (I don't have access to a Linux distro on which to reproduce it), or a change introduced in the latest Mongo release? The latter would make more sense, as I don't see why they would change the error syntax based on the OS...

[2016-01-02 17:23] trainerbill commented on #1087
I use wiredep in one of my projects and love it.

https://github.com/taptapship/wiredep

Automatically reads the bower file and inserts into the layout page.  So you would just have to move the bower directory and put 2 pieces of code onto the layout.html page.

[2016-01-02 18:30] trainerbill commented on #1087
@lirantal @codydaig @simison I think this would be pretty easy.  Move the Bower directory out of public, wiredep(), move the files to pubilc/lib, use gulp-inject to layout.html.  I wouldn't want to do this for grunt as well so when is the official move to Gulp?  Doing this would bring breaking changes to using grunt as we would be removing all of the bower packages out of the assets files as well.

[2016-01-03 02:39] rhutchison commented on #1124
I am having the same issue on Windows 10 with mongodb 3.2.0

[2016-01-03 18:38] mleanos opened #1127 "Profile Image encoding with Validator.escape"
With the new security enhancement for thwarting xss attacks implemented with https://github.com/meanjs/mean/commit/b9e3fd1625b0e766331b9a673bf2c800f3fed1c1, the Profile Image stored in the browsers User object is now *encoded* with the escaping characters. When loading the image from the browser's User object, the image cannot be found; due to image path containing the escape characters.

To repro

[2016-01-03 22:13] lirantal commented on #1032
@rhutchison can you sync with @melanos about this to come up with a PR that solves this problem?

[2016-01-03 23:18] mleanos commented on #1127
I've been working on a solution to this.. So far I've come up with using Angular Sanitize, in which case I modified the [Authentication service](https://github.com/meanjs/mean/blob/master/modules/users/client/services/authentication.client.service.js) with this:

[code]
Does this seem redundant, since we're using Validator on the back-end? I'm leaning toward just sanitizing the `profileImageURL` f

[2016-01-04 02:48] JulianLaval commented on #1124
Right, have gotten around to testing it on Ubuntu 14.04, also 3.2.0, and the errors are as expected:

`'E11000 duplicate key error index: mydb.users.$email_1 dup key: { : "test@test.com" }'`

Definitely a Windows issue!

[2016-01-04 03:33] mleanos commented on #1124
It's not a Windows issue, nor a Windows 10 issue. I've been using this project on Windows 7, for quite some time, and haven't ran into this issue.

I just got a Windows 10 environment setup, and it's working for me there as well..
MongoDB: `3.0.8`
Node: `4.2.4`
NPM: `2.14.12`

My guess is that it's the MongoDB version that is causing the issue. It could also be a mongoose issue. Can you share what

[2016-01-04 13:36] JulianLaval commented on #1124
Downgrading to MongoDB 3.0.8 solved the issue, cheers!

Does anything need to be done wrt. 3.2.0 support on Windows? The same version works correctly on Ubuntu 14.04...

[2016-01-04 19:07] mleanos commented on #1124
It's hard to tell what the issue might be with that version of MongoDB & Windows 10; without extensive investigation.

We'd probably want to test with Windows 7 as well. There might be some useful info/discussions in [Mongo's repo](https://github.com/mongodb/mongo). That's probably the best place to start.

[2016-01-04 20:53] trainerbill opened #1129 "(discussion) Authentication Service"
I think we need an update to the authentication service.

https://github.com/meanjs/mean/blob/master/modules/users/client/services/authentication.client.service.js

Not sure why we would want to read out of window.user.  In one of my apps I made an authentication service with a promise:

[code]

Then I just hit the /users/me endpoint to get the user information.  I am thinking this is probably a b

[2016-01-06 01:04] xiaoyang2022 commented on #1123
angular2.X will be easy than 1.x.   because of angular2.x is sported OPP with processed that has a class and more!

[2016-01-06 05:31] mleanos commented on #1129
This looks like a good change. However, with some changes. I'd like to see a PR for this.

[2016-01-06 05:49] mleanos commented on #1129
A couple things that jump out at me..

1) The constructor should be returning the service, and not just the promise
2) I'd like to see `signin` & `signout` implemented with their own function for custom logic & handling of the resolved promise from the api call.
3) The `refresh` method should handle the resolving of the api call, so we can catch errors there & we don't need to set the services `us

[2016-01-06 17:13] trainerbill commented on #1129
Angular Service?  I thought we were always using factories?

1)  It returns the service object when the promise resolves....  You have to return the promise first.
2)  Fair enough, but I would return the promise.
3)  I would agree that there needs to be a catch() initially and a reject if refresh fails.  Also only set service.user in then and have a catch there as well.
4)  init would do the same

[2016-01-06 22:22] lirantal commented on #1123
Great. Thank you.

[2016-01-06 22:22] #1123 closed

[2016-01-09 17:32] GiankOtarola commented on #358
@joeyvmason perfect solution, fixed for me!

[2016-01-09 21:26] lirantal commented on #1127
@mleanos yeah it seems redundant.
I think what we should do is maybe not sanitize the profile image?

[2016-01-09 22:04] mleanos commented on #1127
@lirantal You mean don't sanitize it on the back-end with Validator? I think that's a good idea. I think we're just having an issue with this particular field because it's a path.

I can change the PR to just remove the `validator.escape` being applied to the profile image on the server.

[2016-01-09 22:06] lirantal commented on #1127
yeah that's what I mean, can you try it and see if there are any issues still? if not then go ahead and modify this PR to accommodate the backend validation.

we should check though where in the code the image is being set to make sure no one can falsely set it to some malicious data like xss.

[2016-01-09 22:07] mleanos commented on #1032
@rhutchison You want to work on this together? What in particular have you done so far?

[2016-01-10 18:07] panospost commented on #1117
ok just i dont know what else to do still does not work here check it out
https://epratirio.herokuapp.com/

2015-12-27 15:51 GMT+02:00 Michael Leanos <notifications@github.com>:

[2016-01-10 18:47] ilanbiala commented on #1117
@panospost please take this to Gitter, Stack Overflow, or another forum that is more appropriate. GitHub is for framework-wide bugs and feature requests, and we cannot handle everyone's individual bugs. If you realize that your bug was a result of something in the framework, please let us know, but try to resolve this issue on another forum to allow us to focus on development of the framework.

[2016-01-10 18:47] #1117 closed

[2016-01-11 14:13] #1112 closed

[2016-01-11 16:10] 0xNacho commented on #1048
How is it going? some progress with this?

what is the release this feature will be added in?

[2016-01-11 16:21] sparshy commented on #1048
You can use the mongoose-paginate plugin for mongoose, its very simple to integrate, I have done the same. Here is a link to it [mongoose-paginate](https://github.com/edwardhotchkiss/mongoose-paginate)

[2016-01-12 02:27] clayboyd opened #1131 "bootstrap accordion is not working"
<uib-accordion heading="hello">  does not work.

In bower.json, the version of angular-bootstrap is "0.13"... it should be "0.14" because the version 13 has issues.  version 0.14 is the latest.

[2016-01-12 02:33] ilanbiala commented on #1131
@clayboyd feel free to open a PR, but make sure 0.14 has no regressions.

[2016-01-12 06:09] mleanos commented on #1127
@lirantal I didn't notice any issues after removing the escape method from the `profileImageUrl` field. We should look at sanitizing the actual contents of the uploaded image file though; meaning the binary data. WDYT?

I'm thinking we could remove the escape method from the backend in this PR to get the bug handled, and then look at implementing something more robust for sanitizing the file.

I'm

[2016-01-12 08:35] keithics opened #1132 "outdated node-inspector version error -- Failed at the v8-debug@0.4.6 install script 'node-pre-gyp"
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
	npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.6
	npm WARN iskwelahan@0.0.1 No repository field.
	npm WARN iskwelahan@0.0.1 No license field.
	npm ERR! Linux 3.19.0-41-generic
	npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
	npm ERR! node v5.4.0
	npm ERR! npm  v3.5.3
	npm E

[2016-01-12 08:46] 0xNacho commented on #1127
Hi There.
As an independent security researcher, I think sanitizing the actual contents of the uploaded image file is not necessary (obviously, if you only show the image with <img> tag). Just validate that the uploaded file is a real image.

[2016-01-12 18:05] ilanbiala commented on #1132
@keithics officially we don't support Node v5 yet, so YMMV when using that version.

[2016-01-13 06:55] mleanos commented on #1127
@0xNacho Thank you for the feedback. I was thinking it could be over-kill to sanitize the binary data. However, this is a little out of the realm of my expertise.

So it appears that there isn't really much of a risk here with the `profileImageUrl`.

@lirantal WDYT? If you agree, then I can revert my changes in the PR & then just remove the `validator.escape` for the `profileImageUrl` here https:/

[2016-01-13 17:49] LadwaAditya opened #1133 "Alternate MongoDB service for bluemix"
Is there any alternate way to use mongodb service to deploy the app on bluemix ?

[2016-01-14 01:30] codydaig commented on #1133
@ryanjbaxter

[2016-01-14 14:38] ryanjbaxter commented on #1133
@LadwaAditya There are a couple of other options for MongoDB on Bluemix. You can look into using the MongoDB service by Compose.io.  The other option is to go off to MongoLabs and create and account and DB there.  Then create what is called a [user provided service](https://docs.cloudfoundry.org/devguide/services/user-provided.html) containing the URL and credentials to the DB.  I guess technicall

[2016-01-14 15:36] codydaig commented on #1132
@keithics The tests fail on v5. There are some things that need to be done to the framework to be v5 compatible. Not sure exactly what that is yet, but it's on our radar. Your welcome to submit a PR to make those changes!

[2016-01-14 15:36] #1132 closed

[2016-01-14 18:28] JulianLaval opened #1136 "Typo in Contribution guidelines"
Fairly straightforward:

"The subject line should be clear and consice..." under "Commit Message Guidelines" in `CONTRIBUTING.md` should be "The subject line should be clear and concise..."

[2016-01-14 20:41] #1136 closed

[2016-01-14 20:41] #1125 closed

[2016-01-14 21:37] mleanos commented on #1129
@trainerbill Angular services are more suited for implementing ES6 classes. This is described a bit in the article I shared in my last comment.

I don't think the Authentication service should ever return a promise.. It should merely be a service with methods/members that may, or may not, return promises. I can't ever see an instance where an actual class (or service) constructor should return any

[2016-01-15 13:23] LadwaAditya commented on #1133
@ryanjbaxter Thank you. Will look into it

[2016-01-15 15:52] #1133 closed

[2016-01-15 18:13] LadwaAditya opened #1138 "Error during build stage while deploying to Bluemix"
![untitled](https://cloud.githubusercontent.com/assets/4971240/12360990/57651202-bbe1-11e5-8370-36ce72f11549.png)

**Here is the complete log**

Cloning the 'master' branch from repo 'https://P90MSG01:3041/git/ladwa/MeanJSladwa'
gpg: directory `/home/pipeline/.gnupg' created
gpg: new configuration file `/home/pipeline/.gnupg/gpg.conf' created
gpg: WARNING: options in `/home/pipeline/.gnupg/gpg.con

[2016-01-15 18:15] codydaig commented on #1138
@ryanjbaxter

[2016-01-15 19:38] brokyo commented on #1118
I apologize for missing your responses entirely. That all sounds good to me and what I was looking for. Seeing as this didn't get any other notice I'll just close it. Appreciate the help

[2016-01-15 19:38] #1118 closed

[2016-01-15 20:44] mleanos commented on #1127
@lirantal I've updated the PR to just remove the escaping of the `profileImageUrl` field, based on this conversation.

[2016-01-15 22:19] mleanos opened #1140 "Nodemon watching 73k+ files - might cause high cpu usage"
When I start the application using Grunt, I receive a message that nodemon is watching over 73k files..

![nodemon-watching-large-amount-of-files](https://cloud.githubusercontent.com/assets/5613734/12366685/8250edba-bb91-11e5-9109-b4d7cf8cf3f1.PNG)

I couldn't find any reason why the watch task should be watching so many files. I double checked all the asset paths in *config/assets/default*. The o

[2016-01-15 22:28] codydaig opened #1141 "Eslint not erroring out."
As discussed in #1139. Eslint is not throwing errors on the build even though there was errors.

[2016-01-15 23:53] trendzetter opened #1142 "update to angular-bootstrap 1.0"
Angular-bootstrap 1.0 is out. Would it be desirable for you to update? I created a patch:
https://gist.github.com/trendzetter/c1e7be8bd3e41404fd49

[2016-01-16 02:06] codydaig commented on #1142
@trendzetter Submit a PR for discussion!

[2016-01-16 16:46] trendzetter commented on #657
why would you deprecate grunt? can't we keep it? It's not that it is not maintained

[2016-01-16 16:59] lirantal commented on #1127
Thanks, I'll review later and merge.

[2016-01-16 17:02] lirantal commented on #657
@trendzetter we can't maintain 2 build systems, which is what we are doing now with more focus on grunt and less on gulp but it seems that the tide has changed and gulp is definitely winning.

What is your concern about keeping with grunt over switching to gulp?

[2016-01-16 17:45] trainerbill commented on #1129
@mleanos Does using ES6 on the client side present browser compatibility issues?

[2016-01-16 19:11] ilanbiala commented on #657
The generator currently only has Gulp (it's used for development), so it would be best if we could do the same here. Supporting one build system with more effort will result in a better boilerplate.

[2016-01-16 19:11] ilanbiala commented on #1129
@trainerbill I think we should focus on other things rather than ES6 support for 0.5.0. Maybe for 0.6.0 it's worth looking into?

[2016-01-16 19:14] trainerbill commented on #1129
@ilanbiala I would agree for the client side, because I think we will reduce browser compatibility significantly.  But I think the Authentication structure as it currently is implemented needs to change.  Which was the purpose for this Issue.  I think we need to redo the AuthService using ES5 and worry about ES6 later.

[2016-01-16 19:42] mleanos commented on #1129
Don't get me wrong. I'm not advocating to implement ES6 features right now. I was merely making a point that Angular Services are better suited for the migration, once we make it.

Since there isn't really a difference between Factories & Services, we should use the latter. There are benefits (other than ES6 related) for using Services. The article points some of the benefits out.

[2016-01-16 19:47] mleanos commented on #657
I don't know if this has been addressed..

Can we keep Grunt in the project, and just not do any new development with it? If soneone wants to come along and do some work on it, they could submit PR's. However, we don't need to put it as a high priority.

[2016-01-16 22:20] ilanbiala commented on #657
I have mixed feelings about that, because it's good that people can just use it if they want, but that means we segment the community and will eventually get a PR that requires us to focus on that at some point, which means we'll never put 0 work into it. Also, it might give users the idea that we support Grunt, when Gulp will pull ahead in terms of features and support and then we'll receive issu

[2016-01-16 22:26] mleanos commented on #657
@ilanbiala That makes sense to me, and I think your instincts are spot on. It's probably not work the effort, and we may end up having to support it.

If users really want to use Grunt, they can "re-implement" it, or use previous releases as a guide on adding it.

[2016-01-16 22:48] trendzetter commented on #657
@lirantal On closer inspection Gulp seems ok. I was afraid it would be a problem porting over my project and I would have to relearn stuff but it appears the impact is nihil. I was a bit suspicious in the zealous fanaticism that seems to surround gulp. I say, live and let live.

[2016-01-17 15:37] zeldar commented on #892
@codydaig I opened this issue because I have been trying different solutions to mongoose schema inheritance, but I have a GIST with working discriminators from mongoose for the Articles Module.  There seems to be little working documentation out there for that feature.  There are a few good use cases I believe.

I'm still working on getting discriminators working on Users.  @codydaig Do you see en

[2016-01-17 17:16] #1127 closed

[2016-01-17 21:11] mleanos opened #1146 "[bug] Article edit/remove buttons ng-show logic uses user._id"
This line, in the [Article edit view](https://github.com/meanjs/mean/blob/master/modules/articles/client/views/view-article.client.view.html#L5), is attempting to validate if the current User is the *owner* of the Article being edited. Since we're not storing the User's `_id` field on the [client-side User object](https://github.com/meanjs/mean/blob/master/modules/core/server/controllers/core.serv

[2016-01-18 01:17] ryanjbaxter commented on #1138
@LadwaAditya can you try again?  It is working for me.

[2016-01-18 07:26] rohitkumarvinay opened #1147 "how do i store ng-repeat array form data?"
trying to store ng-repeat array data but unable to do so.
i have setup addFields for the ng-repeat input tag, but it does not store the data. here is my code.

**food.server.model.js**

     var FoodSchema = new Schema({
     created: {
       type: Date,
       default: Date.now
     },
    name: {
      type: String,
      default: '',
      required: 'Please fill Food name',
      trim: true

[2016-01-18 08:50] mleanos commented on #1147
Your models don't match between the controller & view..

In your view you have `de.dealprice` & in the controller, `dealprice`. If you remove `de.` from your view, it should work.

[2016-01-18 09:48] rohitkumarvinay commented on #1147
@mleanos i tried that, its stores a single array with id with emplty data
   `"deal": [
    {
    "_id": "569cb42d368f9c8a027686e7",
    "dealprice": "",
    "dealtype": ""
    }
    ],`

[2016-01-18 10:31] farajfarook opened #1148 "Define controller mappings in anguar state machine to reduce coupling"
To reduce the dependency coupling in between the views and controllers, I believe the better design would be to use the angular state machine to have the mapping of controller towards the view.

*example*
rather than this `<section ng-controller="SettingsController">`
we should use

      .state('settings', {
            url: '/settings',
            templateUrl: 'modules/users/client/views/settin

[2016-01-18 13:24] mleanos commented on #1148
We're already doing this..
https://github.com/meanjs/mean/blob/master/modules/articles/client/config/articles.client.routes.js

Also..
https://github.com/meanjs/mean/blob/master/modules/articles/client/controllers/articles.client.controller.js
https://github.com/meanjs/mean/blob/master/modules/articles/client/views/view-article.client.view.html

I believe the plan is to migrate the Users module, o

[2016-01-18 15:04] ilanbiala commented on #1147
@rohitkumarvinay please discuss this on Gitter on Stack Overflow, as GitHub is focused on framework issues, bugs, and features. If you still cannot figure it, feel free to come back with whatever progress you have made and we'll try to help.

[2016-01-18 15:04] #1147 closed

[2016-01-18 19:13] farajfarook commented on #1148
Great :+1: . I will create some pull requests when the time permits.

[2016-01-18 19:35] dpranav007 opened #1150 "SSL certificate inclusion"
i have obtained ssl certificates for my domain , which include key.pem , cert.pem , chain.pem , fullchain.pem

i found where to replace key and cert link
how do i add the additional parameters of chain.pem and fullchain.pem

kindly help.thank you

[2016-01-18 21:21] dpranav007 commented on #1150
got the solution - how to include chain and fullchain files

http://stackoverflow.com/questions/19104215/node-js-express-js-chain-certificate-not-working

[2016-01-18 21:21] #1150 closed

[2016-01-18 21:48] finid opened #1151 "Warning - You need to have Ruby and Sass installed and in your PATH for this task to work"
I recognize that there's a similar issue that appears to have been resolved. But that was [issue 880 on Ubuntu](https://github.com/meanjs/mean/issues/880). This time it's on CentOS 7 and happens when I run `grunt` or `sudo grunt` from a project.

I have Ruby and Sass installed, and in my path, because `echo $PATH` gives:

[code]
And `which ruby` says:

[code]

While `which sass` gives:

[code]
Wha

[2016-01-18 22:08] codydaig commented on #1151
What's the error message?

[2016-01-18 22:21] finid commented on #1151
Here's the full output:

[code]

[2016-01-18 22:43] mleanos commented on #1140
Can anyone reproduce this?

BTW, I don't have any such issues with Gulp. I know that we're not looking to *support* Grunt any longer, but this issue should still garner some attention. If it's truly an issue (not just my environment), then it could be a bigger issue at play somewhere.

I don't remember this happening until recently, and the key packages involved haven't been updated for quite some

[2016-01-19 00:11] ilanbiala commented on #1151
Are you able to run `ruby` and `sass` from the command line?

[2016-01-19 02:20] finid commented on #1151
Unfortunately, no, which is strange, because `which ruby` returns the expected result. Same for Sass. For both, I only get a blinking cursor.

Any clues why?

[2016-01-19 02:46] ilanbiala commented on #1151
Try adding --help after to just get output and not input.

[2016-01-19 02:54] finid commented on #1151
Ok, I got it now. I got the usage output, so I know I can run both `ruby` and `sass` from the command line.
But the original issue still remains.

[2016-01-19 04:09] ilanbiala commented on #1151
What's the error itself?

[2016-01-19 04:13] finid commented on #1151
Well, adding **--help** just prints the usage instructions. Where you expecting an error?

[2016-01-19 13:49] LadwaAditya commented on #1138
@ryanjbaxter Will see it in 25 hours and respont

[2016-01-19 16:04] rishabh1403 opened #1152 "Sign in not working"
every time i click the button login , my console shows unknown strategy  local error

[2016-01-19 17:04] Joe312341 opened #1153 "Minifying third party files"
Hello,

I was wondering what the best approach to minifying all the third party js and css files is.

I tried this approach: https://blog.dylants.com/2014/11/19/bundling-production-assets-for-mean-js/
but Heroku threw an error on the third party minified js file.

Any help is appreciated
Thank you

[2016-01-19 19:30] ilanbiala commented on #1151
Sorry, I meant the actual issue that you're posting about. It seems like this was just a dependency issue.

[2016-01-20 02:00] trainerbill commented on #1129
@mleanos fair enough.  So the point of the issue is discussing the Authentication service.  I would like some direction on where to go, because the current method is not ideal at all.

1.  Ignore all ES6 stuff :)
2.  Don't return a promise.  I am ok with not returning a promise.  easy fix would be to do user: refresh() to invoke the refresh function on instatiation.  Then you would have to do a Au

[2016-01-20 03:07] mleanos commented on #1129
@trainerbill That sounds like a good plan. However, we should add the `me()` method to the existing Users service. I think that's where it belongs.

Couple of questions..
1. What is the intended purpose of the `refresh()` method? How does it differ from `me()`?
2. In general, what do we want to do with the Authentication service?
&nbsp; &nbsp; a. Signout, Signin are obvious methods
&nbsp; &nbsp; b

[2016-01-20 03:09] mleanos commented on #1152
What version of meanjs are you using?

[2016-01-20 03:28] trainerbill commented on #1129
https://github.com/meanjs/mean/pull/1155

[2016-01-20 06:32] rishabh1403 commented on #1152
i am using meanjs 0.4.2 , my os ubuntu 15.10 , node v0.12.7 , mongodb 2.6.9

[2016-01-20 07:40] mleanos commented on #1152
can you share a screenshot of the console error?

[2016-01-20 09:41] rishabh1403 commented on #1152
![screenshot_2016-01-19_16-29-47](https://cloud.githubusercontent.com/assets/10906358/12445024/029b9ffc-bf88-11e5-9e44-2d30427ab4c1.png)

[2016-01-20 10:20] mleanos commented on #1152
Can you make sure you have all the necessary NPM modules installed?
[code]
Do you have the *local.js* file in this directory?

[2016-01-20 11:08] rishabh1403 commented on #1152
yes i did npm install many times , i even downloaded it again and did npm install , but still same error

[2016-01-20 22:43] ilanbiala commented on #1152
Do you have this on GitHub so we can see the project and what it looks like?

[2016-01-21 00:18] sparshy commented on #1153
concat: {
			js:{
				options: {
					  separator: ';\n',
					  stripBanners: true
				},
				src: [src files],
				dest: 'public/dist/vendor.js'
			}

		}

try this.... seprator : ';\n' is important

[2016-01-21 01:43] codydaig commented on #1140
@mleanos I am unable to duplicate this.

[2016-01-21 08:03] rishabh1403 commented on #1152
fixed it , thanks for all your help , somehow my local.js was renamed to locl.js
Thanks for your help :)

[2016-01-21 08:03] #1152 closed

[2016-01-21 15:43] #1140 closed

[2016-01-22 06:29] marxav commented on #657
@lirantal Have you considered relying only "npm" rather than "gulp" and/or "grunt" as described in https://medium.com/@housecor/why-i-left-gulp-and-grunt-for-npm-scripts-3d6853dd22b8 ?

[2016-01-22 11:35] Eswan opened #1157 "Can't access authentication.user._id"
Hello, (and sorry for bad english)

I can access to authentication.user._id when i log in, but if i refresh the page, the _id become undefined.
For example, if i log in and go to the article example module, i can edit / remove the article. If i refresh the page, i can't anymore.
Is it normal ?

Should i use an older meanjs version ?

Thank you

[2016-01-22 15:19] LadwaAditya commented on #1138
@ryanjbaxter Successfully built. Thank you. Can close this issue now
![untitled](https://cloud.githubusercontent.com/assets/4971240/12514294/ad2213b8-c148-11e5-962c-6845c28fc6a4.png)

[2016-01-22 15:47] ilanbiala commented on #657
@marxav have you looked into our Gulp setup to see if there's anything we can't do in a node+npm script?

[2016-01-23 09:56] mleanos commented on #1157
We recently removed the `_id` field from the client-side object that's stored in $window. This was done in an effort to make the framework more secure, and the thwart xss attacks.

If you need to retrieve the user data, and access it from the client-side, there's an route `/api/users/me` that you can query to get the currently logged in user. I would be cautious as to where/how you use the User da

[2016-01-23 13:23] markstock7 opened #1158 "build admin panel"
if i want to build a admin panel, where should i put this files, /modules/admin  ?

[2016-01-23 15:22] MSaifAsif opened #1159 "Error running npm install"
Hello,
I am facing an error when trying to run `npm install`. My environment is as below
`node v5.5.0`
`npm 3.5.3`

I installed node and npm using https://gist.github.com/isaacs/579814

 Attaching error below

[code]

Any help would be appreciated !

[2016-01-23 15:30] ilanbiala commented on #1159
We don't support Node 5 yet, please try with Node 4.

[2016-01-23 15:48] MSaifAsif commented on #1159
Thanks for the reply, let me try it out

[2016-01-23 16:13] MSaifAsif commented on #1159
No luck, still getting an error, but with a different dependency now

[code]

[2016-01-23 17:09] mg1075 commented on #1159
@MSaifAsif - Are you running on a Windows machine?

Perhaps your problem is the one detailed in this epic open issue on the node-gyp repo appropriately entitled:
**Windows users are not happy**.
https://github.com/nodejs/node-gyp/issues/629

Read the instructions here:
https://github.com/nodejs/node-gyp/issues/629#issuecomment-153196245

Note: my own experience here is the node-gyp issue did not r

[2016-01-23 18:10] MSaifAsif commented on #1159
@mg1075 Yeah I happened to come across that issue when google searching for this. But am actually on a linux machine (Ubuntu 14.04 to be exact).
Would this issue have anything to do with the g++ compiler ? Just guessing, since all the issues are C related errors

[code]

My system shows the following configs for g++
[code]

[2016-01-25 11:21] Eswan commented on #1157
Ok thank you for your answer, closing the issue.

[2016-01-25 11:21] #1157 closed

[2016-01-25 14:11] mg1075 opened #1161 "sql support"
Much of the goodness in MEAN.JS exists in the way it brings structure to node applications and how it tries to bring in various node pieces to address common concerns for building web applications. The 0.5.0 roadmap appears to address even more of those concerns: e.g., using JWTs.

The M in MEAN.JS is troublesome, though. MongoDB is **not** the database of choice in many a corporation, nor is it t

[2016-01-25 15:41] ilanbiala commented on #1161
@codydaig @lirantal @mleanos I'd like to hear your suggestions to see if I might not be considering something, but I think this is too much of a shift and we won't be able to support both platforms.

[2016-01-26 03:46] rohitkumarvinay opened #1162 "multiple articles at the same time."
How do i create multiple articles at the same time?anyway i can create two or three articles in a single form.?

[2016-01-26 20:54] mcalhoun commented on #1124
Just to add to this...I'm seeing the same behavior on MacOS 10.11.2 with mongo 3.2.1 installed via Hombrew...

$ mongod --version
db version v3.2.1
git version: a14d55980c2cdc565d4704a7e3ad37e4e535c1b2
allocator: system
modules: none
build environment:
    distarch: x86_64
    target_arch: x86_64

[2016-01-26 22:09] mg1075 commented on #1161
Seriously...just found out about this project this afternoon on Reddit after scouring the interwebs. The project seems to do pretty much exactly what I hoped for (except not using Knex):

PEAN.JS
https://github.com/StetSolutions/pean

- same as MEAN 0.4.2
- in place of Mongoose, the ORM is Sequelize
- possibly more traction than the other abandoned projects out there

**Maybe you all should collab

[2016-01-27 05:13] codydaig commented on #1161
I'm open to collaboration. However, I'd agree that it's a huge shift and not the purpose of this project. Glancing at PEAN, I like how it is using this code base, and since it maintains the same history, it should allow for changes to be pulled in if someone wants to put the effort in.

[2016-01-27 06:09] mleanos commented on #1161
IMO, the simplicity of MongoDB (& mongoose) is great for a framework like this. If someone **must** use a relational database, then they can implement one into their project. If we start off with having support for other ORM's (Relational db's) then the project will suffer because it would then become more opinionated.

With that said, I think we can find ways to make it easier to switch to a new

[2016-01-27 15:51] codydaig opened #1164 "Tests Failing because of Coverage"
On recent PRs, coverage is staying the same (0% change), and yet it's still being marked as failing. Do we know what's going on? Did a setting get changed?

@lirantal @ilanbiala ?

[2016-01-27 17:27] trainerbill commented on #1159
@MSaifAsif I build fine on 4.2.6.  I am also on Ubuntu 14.04.  do you have build_essentials installed via apt-get?  Also do rm -rf node_modules, npm cache clean, and try npm install again.

[2016-01-27 19:40] weilah commented on #1159
I'm experimenting exactly the same error. I also have
`node v5.5.0`
`npm 3.5.3`

and installed node following this instructions  http://www.johnpapa.net/how-to-use-npm-global-without-sudo-on-osx/
I think they are pretty the same. The one and only difference is that I'm on OS X.

I'm going to try what @trainerbill says and report back

[2016-01-27 19:55] ilanbiala commented on #1164
@codydaig nothing changed that I am aware of, but I made it so instead of blank for "COVERAGE DECREASE THRESHOLD FOR FAILURE", it is now 0.1%, which may avoid the errors we are seeing.

[2016-01-27 20:30] weilah commented on #1159
I ended downgrading the node to 0.12.9 and it worked.

I did it following this steps:

http://apple.stackexchange.com/questions/171530/how-do-i-downgrade-node-or-install-a-specific-previous-version-using-homebrew

[2016-01-27 21:10] trainerbill commented on #1159
@weilah You should look into using nvm.  Its a lifesafer

[2016-01-27 21:53] codydaig opened #1166 "Dependency Audit"
Per the conversation in #1165. We should do a dependency audit and ensure that all dependencies are `~` to help keep dependencies from bringing in breaking changes.

[2016-01-27 22:25] #1159 closed

[2016-01-27 22:26] ilanbiala commented on #1166
@codydaig do you want to make a PR that switches all dependencies to `~` and I'll take a quick look at it before merging?

[2016-01-27 23:14] codydaig commented on #1164
@ilanbiala That seems to be working. Thanks!

[2016-01-27 23:14] #1164 closed

[2016-01-27 23:15] codydaig commented on #1166
@ilanbiala I will tonight when I'm on my personal computer. I don't have my work laptop set-up for mean.js development. I created this as a reminder.

[2016-01-27 23:31] ilanbiala commented on #1166
:+1:

[2016-01-28 16:24] #1129 closed

[2016-01-28 17:01] Wuntenn commented on #1124
I had this issue a few times on ubuntu virtualised servers. Where there are no dependency issues I didn't see this, however where I installed and had issues with kerberos and ignored them running grunt server etc I saw this error repeatedly.

[2016-01-28 20:15] vaucouleur commented on #1162
@rohitkumarvinay  This question might be a bit out of the scope of the MEAN.JS project, since it's more of a "general question" about angular etc.   There is many different ways to achieve this by modifying the existing code. Feel free to stop by Gitter to chat about this.

[2016-01-28 20:27] vaucouleur commented on #1158
@markstock7 I guess it depends on whether you want to create an admin panel for "all things" or just for a single "kind of objects". For example, in the current trunk version the "users admin" code is inside the "users" module -- which a perfectly reasonable choice since it's just there to edit/delete/etc users, and only users. Now, if I were to create an "admin panel" for "all things" (users, art

[2016-01-29 01:29] markstock7 commented on #1158
so，i can creat a module admin，and include folder admin/user，admin/articles，admin/user/client，admin/user/server？

发自我的 iPad

[2016-01-29 07:57] vaucouleur commented on #1158
@markstock7 You can use the generator to get started with your own module. Alternatively, you can copy the structure of the existing Article module (and adapt the code, obviously).  You could start with a simple module, make sure it's working, and then modify it little-by-little, add tests, etc.

[2016-01-29 10:11] mleanos commented on #1158
Personally, I prefer to keep my admin features in the modules that I want to administer. For instance, if I wanted to have admin views for Articles, I'd put the admin module there; just like the Users module is setup.

If you want an admin panel, you could create a module that acts as a Admin dashboard. However, any features that interact with my data beyond mere reporting, I would put them in the

[2016-01-29 17:11] trainerbill opened #1168 "(discussion) Move from Bootstrap to Angular Material design"
Anyone worked with this project?

https://material.angularjs.org/latest/

Looks pretty sweet and is supported by Google with native angular directives.  We could drop bootstrap and angular ui bootstrap.

[2016-01-29 17:12] trainerbill commented on #1142
https://github.com/meanjs/mean/issues/1168

Thoughts?

[2016-01-29 17:14] trainerbill commented on #1168
Forgot to tag some peeps.

@ilanbiala @codydaig @mleanos @lirantal @rhutchison

[2016-01-29 18:12] ilanbiala commented on #1168
Yep, I've worked with it. Moving UI frameworks isn't really something we are prioritizing now, as most people use MEAN for its backend setup, config, and authentication over its UI.

[2016-01-29 18:49] #1131 closed

[2016-01-29 18:49] #1142 closed

[2016-01-29 18:49] trainerbill commented on #1168
@ilanbiala Fair enough.  However I would like to use it in my project so would a PR to update core to use material design be welcome?  It is waaayy more visually appealing than Bootstrap and has native angular directives.  We can leave bootstrap in until the submodules are updated as well which will take more time.  That way we can have smaller PR's and different milestones.  If we want to move to

[2016-01-29 19:08] siteshackinc commented on #1168
I'd be interesting in helping out. Perhaps I could create a branch for this to happen and help maintain it?

[2016-01-29 19:13] trainerbill commented on #1168
@siteshackinc Awesome!  Lets do it and see what happens.  I will start a branch and you can pull it and PR to it.

[2016-01-29 19:19] siteshackinc commented on #1168
@trainerbill I have created the repository already https://github.com/siteshackinc/material-meanjs I will begin uploading a material base locally to it today. Will need to have someone start with a readme, giving credit to current meanjs to keep everyone happy as well as contributors

[2016-01-29 19:21] trainerbill commented on #1168
@siteshackinc I would rather not fork the project.  From the sounds of it @ilanbiala may be on board, so why don't we just work to get it merged here before making a fork?

[2016-01-29 19:26] siteshackinc commented on #1168
@trainerbill sounds good. Whatever works best for all of us. My current base of meanjs is way ahead of current meanjs master with enhancements and features as well as dependencies that are up2date and current.

[2016-01-29 19:35] trainerbill commented on #1168
@siteshackinc Understood.  I took a peek at your fork.  You should submit issues and PR's when you do things like this to enhance the project.  Forking is kind of a last resort.  We could sure use more people contributing with ideas like these.

[2016-01-29 19:40] siteshackinc commented on #1168
@trainerbill I hear ya :) I've been updating mean with my private app I am building (can find the weblink in my profile) and updating some my enhancement/features with my forked copy

[2016-01-29 19:48] trainerbill commented on #1168
@siteshackinc Yeah I went down that route too, but its a pain...  So when I have things that I want in my app, like JWT authentication/Material Design/etc, I like to post a discussion topic to see if it would be welcome in the main app.  If so then I PR it to Mean.  I am actually working towards getting all my updates in my private application into Mean as I think it will benefit it as a whole.  M

[2016-01-29 19:53] trainerbill commented on #1168
@siteshackinc Can you join the gitter chat so we can discuss?

https://gitter.im/meanjs/mean

[2016-01-29 19:58] siteshackinc commented on #1168
@trainerbill ok I am there :)

[2016-01-29 21:03] #1166 closed

[2016-01-30 00:08] ilanbiala commented on #1168
For clarification, I'm not in favor of putting effort into switching UI frameworks at this time. I think our effort is better prioritized to more functionality and a better framework overall than one that looks nicer but does the same thing.

[2016-01-30 04:10] mg1075 commented on #1168
There was already a lengthy discussion on this issue here:
https://github.com/meanjs/mean/issues/369

[2016-01-30 10:38] 0x24a537r9 opened #1172 "Auth broken in view-article view, preventing edit/remove"
I know nothing about the innards of MEAN.js's auth scheme, but on a fresh git clone, if I create a new Article with a standard sign-up (i.e. non-oauth test user), I get redirected to the view page but it has no edit/remove buttons. I inserted {{vm.authentication.user._id}} == {{vm.article.user._id}} into the DOM to debug, and despite being logged in (as evidenced by the upper-right menu item and m

[2016-01-30 10:40] mleanos commented on #1172
#1149

[2016-01-30 11:09] MSaifAsif commented on #1159
Ended up downgrading and then followed what @trainerbill suggested. Builds fine now.

[2016-01-30 15:19] trainerbill commented on #1168
@ilanbiala Understood, but I am going to use Material Design in my project and it is easier for me to put it into MEAN first if it is welcomed.  I just don't want to do the work and have it blocked for some reason.  In the trhead @mg1075 linked you seemed to favor Material Design, but put it on the back burner.  I am saying I will do the work, if you would approve it.

[2016-01-30 16:02] mg1075 commented on #1168
@trainerbill - If you read the last set of comments after the discussion was closed, the sentiment was more yes, ngMaterial is a super cool piece of work, but it is an extremely opinionated way to go about building - or rather, _designing_ - your application.

To quote @mleanos:

It probably would be cool if the MEAN.JS generator was such that you could opt-in or opt-out of using ngMaterial. _Forc

[2016-01-30 16:06] trainerbill commented on #1168
@mg1075 understood.  But we currently force bootstrap so its basically the same thing.  I really don't care either way.  I can run with a fork using material design, I just wanted to see if the community wanted to move in that direction, and if so then I would start moving the UX in MEAN.

[2016-01-30 16:12] mg1075 commented on #1168
@trainerbill Indeed, bootstrap is forced on users. From the perspective of styling an app, though, bootstrap allows a lot of freedom in the approaches you can take, while material design is a little more, "there are your options - like it or leave it". That is why I do not see them being equivalent.

[2016-01-30 20:13] codydaig commented on #1084
@mikepc Closing this issue. Feel free to reopen if your still stuck.

[2016-01-30 20:13] #1084 closed

[2016-01-30 20:17] codydaig commented on #1087
@trainerbill I just submitted a PR for the removal of grunt to start discussion around what all needs to be done to officially remove grunt. I think the plan is to complete the migration before 0.5.0.

I'm indifferent on how we go about this. @simison Are you interested in submitting the PR as discussed earlier?

[2016-01-30 20:19] codydaig commented on #1073
@Syferus Is this still an issue?

[2016-01-30 20:19] #1077 closed

[2016-01-31 00:02] lirantal commented on #1161
@ilanbiala I think it's not such a bad idea to try and add some MySQL or PostgreSQL connectors in the schema/project. We don't need to actually enforce and use it in the project but it could be a good start for anyone whose thinking of using MEAN.JS to also just connect with a "regular" database server as an API component and such.

[2016-01-31 08:19] 0x24a537r9 commented on #1172
Ah! Thank you very much! Feel free to mark this as a duplicate of issue #1146 .

[2016-01-31 08:19] #1172 closed

[2016-01-31 17:48] marianoqueirel commented on #1168
@ilanbiala 's Right!

[2016-01-31 18:50] 1nfinite opened #1177 "MeanJS menu translation?"
I am using MeanJS v0.3.3. How can i have i18n on the menu. I can't seem to be able to implement it with angular translate.

[code]

[2016-01-31 18:54] mleanos commented on #1168
+1 on what Ilan has been saying. There's no reason to add Material Design to this framework. The idea sounded good to me at first, but I don't see the value.

@trainerbill It sounds like you're main concern is keeping your project in line with upstream. If so, this is my experience.. I have a project based off this framework, that I've added Material Design to. I keep my project pretty closely syn

[2016-01-31 19:24] ilanbiala commented on #1177
@1nfinite please post on another forum that is open to implementation questions such as our Gitter, Stack Overflow, or another forum as we only handle bugs, features, and other issues that are relevant to all of MEAN. If you still have an issue, feel free to come back with whatever progress you have made and we'll try to help.

[2016-01-31 19:24] #1177 closed

[2016-01-31 21:17] trendzetter commented on #1168
me too, I admit I am heavily invested in bootstrap but its too early to drop it in favor of the next thing. It's still uncertain if material design will reach the same level of popularity as bootstrap soon.

[2016-01-31 23:56] ChrisMaher opened #1178 "Redirecting back to root"
There seems to be a redirect back to root at the top of the Authentication.Client.Controller

[code]

Seems to cause a lot of problems when i try implement a comment system on a module such as articles for example. When someone posts a comment on the article it redirects them away from the page and back to root. If i refresh the article.view page it also redirects the user back to root.

What is t

[2016-02-01 03:00] Joe312341 commented on #1153
Thanks, after testing some more I was able to get it working

[2016-02-01 03:00] #1153 closed

[2016-02-01 16:41] trainerbill opened #1179 "(discussion) UI-Router nested states/views"
https://github.com/angular-ui/ui-router/wiki/Nested-States-&-Nested-Views

Any thoughts on moving to nested views?  I use it in my application and it works wonders.I have a couple ui-views in the server layout

ui-view="header"
ui-view="hero"
ui-view="main"
ui-view="footer"

Then my submodules target the views and inject different layouts.  I think it makes the application more modular and you don

[2016-02-01 18:59] ilanbiala commented on #1179
I'm fine with this (I think), but can you give an example gist of one of the views and how it would look?

[2016-02-01 20:12] mleanos commented on #1179
This sounds like a good idea to me too. However, I'd like to see an example as well, and know the impact to the rest of application.

[2016-02-01 21:44] trendzetter commented on #1178
probably something wrong with the url of your button you use to submit. Are you using the ui-router properly?

[2016-02-01 21:51] trendzetter commented on #1179
I would also be interested to use that. I have been wrangling and duplicating to work with 1 serverlayout which could be more elegantly done by using several nested views.

[2016-02-01 23:53] ChrisMaher commented on #1178
It happens when i refresh the page with no submit button involved.

What it seems to do is as soon as it calls the Authentication controller, check if the user is logged in. if they are then it redirects back to root.

Just happened to notice it when making this comments system.

I suppose the question is in on a fresh install of MEANJS does it redirect back to root if you refresh the article modu

[2016-02-02 09:28] mleanos commented on #1178
@ChrisMaher Refreshing the Article view does not redirect baxk to root, on the latest master branch. I can confirm that.

The Authentication controller shouldn't be involved when interacting with the Articles modules. The Auth controller should only be accessed if the User isn't logged in. Gotta be sonething that was mistakingly put in place in your app.

[2016-02-02 09:41] abhinavdalal opened #1180 "0.4.2 yo generator in Windows gives error when selecting NO for articles and chat modules"
The 0.4.2 generator  in Windows is returning an error saying 'rm is not a function' when choosing NO for article & chat modules

[2016-02-02 11:20] waqasmughal opened #1181 "So lazy in finalize framework"
hi, please do some effort to finalize version. it's seem to be very lazy as most major parts are still pending yo generator for example

[2016-02-02 13:21] giovapanasiti opened #1182 "Is "app" folder gone?"
Hi, I cloned the repo for a project i'm studying but I cant find the "app" folder anymore so I follow install instructions and run localhost:3000 but instead that have a demo page I just have a white page with nothing inside. How can I recreate the app folder?

I'm following this course but I'm stucked without this information!

[2016-02-02 14:24] lirantal commented on #1182
That's right, it has been deprecated when we released v0.4

[2016-02-02 14:34] giovapanasiti commented on #1182
Thank you for the answer! So at the moment I cannot have any demo front end when I install it. Is there any way to obtain the same result?

[2016-02-02 14:36] lirantal commented on #1182
Of course there is a demo frontend, only the directory structure has been updated.
Go ahead and clone the repo, follow the README for instructions.

[2016-02-02 15:05] giovapanasiti commented on #1182
So I finished the readme but still the page it's only white without any frontend. Am i doing some mistake?

[2016-02-02 15:11] lirantal commented on #1182
Yes, you're missing a step, or you're not really running the server.
Can you show us some debug output?

[2016-02-02 15:26] giovapanasiti commented on #1182
this is the terminal output:
`$ grunt
Running "env:dev" (env) task

Running "sass:dist" (sass) task

Running "less:dist" (less) task

Running "jshint:all" (jshint) task

Running "eslint:target" (eslint) task

Running "csslint:all" (csslint) task

Running "mkdir:upload" task

Running "copy:localConfig" (copy) task

Running "concurrent:default" (concurrent) task
    Running "nodemon:dev" (nodemon) t

[2016-02-02 15:28] lirantal commented on #1182
and what do you get when you open the browser for port 3000?
did you also run bower install?

[2016-02-02 15:28] trainerbill commented on #1182
bet he did not bower install

[2016-02-02 15:42] giovapanasiti commented on #1182
right guys, sorry I can see only now how stupid I am. Sorry again about this :(

[2016-02-02 15:43] trainerbill commented on #1182
@giovapanasiti can you close out the issue if it is resolved then?

[2016-02-02 15:44] #1182 closed

[2016-02-02 16:32] trainerbill commented on #1179
https://github.com/meanjs/mean/pull/1183

[2016-02-02 16:32] #1179 closed

[2016-02-02 18:38] ilanbiala commented on #1181
@waqasmughal each version is complete and packaged to be used, and we continue to make updates with each release. Please file a specific issue or create a PR if you would like to help further push our efforts forward.

[2016-02-02 18:38] #1181 closed

[2016-02-02 18:38] ilanbiala commented on #1180
@abhinavdalal try using the latest verrsion, which is 0.4.3. If you have further questions, please file an issue on the generator repo.

[2016-02-02 18:38] #1180 closed

[2016-02-02 21:40] trendzetter commented on #1178
Same here. Refreshing causes no issues with me.

[2016-02-03 08:24] codydaig commented on #657
@ilanbiala @mleanos @trainerbill @lirantal @rhutchison @simison and anybody else that I'm forgetting:

I'm going to go through and triage issues and PRs right now. There are a lot of big and awesome PRs on their way and I want to prioritize them. Let's discuss what everyone things is a priority and why. Include specific PRs and issues as well. We'll evaluate and come up with a go forward plan for

[2016-02-03 14:13] trainerbill commented on #657
@codydaig I want the JWT PR in asap.

1.  It's Awesome
2.  It touches many files across the whole app, making conflicts likely
3.  It's basically ready.  Just waiting on a test and socketIO
4.  It will grow in size when we merge other PRs with new functionality
5.  It increases coverage.
6.  It's Awesome

[2016-02-03 16:20] ejeremias commented on #476
Hi Shrizzy
Thanks for you videos. I´m at Day 9, until here every things it's ok, but now I'm beached to generate the crud-module. Can you help? I used the two forms but a get the same error below:

You don't seem to have a generator with the name meanjs:vertical-module installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To see

[2016-02-03 22:00] etiennetatur opened #1185 "Changing the page title and description"
Hello,

It seems that the title and description of the pages are set within the Express configuration. How would you recommend to update it from the client for History, tab name and SEO purpose ?

Any insight will be greatly appreciated !