[2016-08-10 10:26] annvcit commented on #1423
Please help me answer this question :smile:

[2016-08-10 12:47] Wuntenn commented on #1423
Hi @annvcit, This functionality is inside MEANJS already, however if you are asking how it works, it is doing this using [PassportJS](http://passportjs.org/docs).

There is a strategy for each provider When signing in with Facebook the facebook strategy is use: https://github.com/meanjs/mean/tree/master/modules/users/server/config/strategies

The correct strategy is used based on the provider link

[2016-08-10 15:03] wrodr032 commented on #1359
Hi all, thank you for all of your help with this generator. Has this issue been resolved?

[2016-08-10 16:21] annvcit commented on #1423
Thanks @Wuntenn. But your answer doesn't satisfy me.
Please take a look at: [users.authentication.server.controller.js line 119](https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.authentication.server.controller.js#L119)

When the user logged in successfully via Facebook, then in line 119, the response object will redirect to **sessionRedirectURL** or "**/**"

[2016-08-10 16:24] NguyenManh94 commented on #1423
The same to solve problems !

[2016-08-10 23:46] nidhalmesselmani commented on #1114
thank you so much

[2016-08-11 13:10] Wuntenn commented on #1423
Ohh! I understand. I missed a lot of steps above. The short answer is that line 107 is the passport method that signs you in. The part with the redirect is just the callback that you are looking at. By this point we're actually getting info from our database

--- The longer answer (that I tried to avoid):

Best place to start is with the Strategies - Say Facebook:
https://github.com/meanjs/mean/bl

[2016-08-11 14:57] Wuntenn commented on #1423
Sorry I noticed some mistakes and removed them.

[2016-08-13 07:27] annvcit commented on #1423
What an amazing answer. Thank you so much Mr. Wuntenn

[2016-08-13 07:27] #1423 closed

[2016-08-13 16:23] Wuntenn commented on #1423
NP! 💃 💃 💃

[2016-08-15 08:10] pun4drunk commented on #27
can I make a PR? :)

[2016-08-16 13:02] marianoqueirel commented on #1380
@codydaig
I would start my project today.
I wonder if I should start with the 0.4 or the 0.5-Beta.

Obviously I want to start with the 0.5-Beta, with the current branch master, and my question is: Do you recommend I start a project with the current master branch? I prefer that.

Thank you!!

[2016-08-16 13:28] Usman-Asghar opened #1430 "Mobile Rest Full API"
Hello,

I want to use your MEAN Stack for my Mobile as a REST Full API, So can you please guide me how i can call different URL's from my Mobile end. I try to call but i get this error at Mobile end "User is not authorized". Please let me know as soon as possible.

[2016-08-16 14:12] hyperreality commented on #1430
Please post the contents of your module's /server/policies/*.server.policy.js and /server/routes/*.server.routes.js, it is most likely that they are not set up correctly.

[2016-08-16 14:16] Usman-Asghar commented on #1430
Here are my contents of "/*.server.policy.js"
'use strict';

/**
 * Module dependencies
 */
var acl = require('acl');

// Using the memory backend
acl = new acl(new acl.memoryBackend());

/**
 * Invoke Articles Permissions
 */
exports.invokeRolesPolicies = function() {
  acl.allow([{
    roles: ['admin'],
    allows: [{
      resources: '/api/articles',
      permissions: '*'
    }, {
      resour

[2016-08-16 16:41] hyperreality commented on #1430
Please use code tags to format your code.

It all looks good to me, apart from that you're missing the line which binds the articleId parameter to a function: `app.param('articleId', articles.articleByID);
`
What exactly are you trying to do? Are you logged into your app on your mobile device?

[2016-08-16 20:20] Valm1980 opened #1431 "MEAN.JS can't set to run in 'PRODUCTION' mode inside Docker"
Changed the ENV NODE_ENV to production in the Docker file, before building the image.

Also tried running container with docker run -e "NODE_ENV=production"-i -t --name www1

Nothing seems to make the MEAN.JS app run in production mode except for grunt prod, which I am not exactly sure how it can be configured to run in the docker container.

Verified that the NODE_ENV is in fact set to production

[2016-08-16 21:04] Usman-Asghar commented on #1430
Hello hyperreality,

I am just trying to implement API for my Android application. So i just hit URL from REST Client and it returns me the error.

In web pages its working fine.

[2016-08-16 21:14] mleanos commented on #1430
@Usman-Asghar From your policy configuration, it appears that you should be able to access the articles/ & articles/{articleId} routes without any authentication. Are these routes causing the issue for you?

Are you able to verify that you don't have a user in the request (`req.user` should be null or undefined). If you have `req.user`, and an empty array for `req.user.roles`, then you will see th

[2016-08-16 21:18] Usman-Asghar commented on #1430
When i send a request from REST client then did not have any req.user defined. So what i can do in that case. in other words how i can MEAN Stack for my android API

[2016-08-16 21:35] simison commented on #1430
@Usman-Asghar you'll have to pass your session cookie with each http request. You get it first once you send user credentials to login. Then, if you get `403: User is not authorized` when doing API requests, just ask user to login again, get new session id, and continue from where you left.

[2016-08-17 01:42] ckapop commented on #515
The issue I think I am running into is when editing other users profiles the password gets changed due to the 'pre' hook on user save whenever you try and save the changed profile:

UserSchema.pre('save', function(next) {
	if (this.password && this.password.length > 6) {
		this.salt = new Buffer(crypto.randomBytes(16).toString('base64'), 'base64');
		this.password = this.hashPassword(this.password

[2016-08-17 01:54] mleanos commented on #515
@ckapop What version of MEANJS are you seeing this behavior?

The *password* field should never be present in either the request, or response. If the password is updated, in a request other than the create profile, then this would indeed be a bug. However, I think we took care of any issues with this already.

[2016-08-17 02:05] ckapop commented on #515
@mleanos How can I check to be sure? It is probably not as current as it should be.

I have this method that was generated for me which looks like the new password is in the request, correct?

/**
 * Change Password
 */
exports.changePassword = function(req, res) {
	// Init Variables
	var passwordDetails = req.body;

	if (req.user) {
		if (passwordDetails.newPassword) {
			User.findById(req.user.i

[2016-08-17 07:46] Usman-Asghar commented on #1430
@simison Thank You so much. Can you also please let me know how i can add default users during setup like. Defined in in development.js file.

[2016-08-17 07:58] simison commented on #1430
@Usman-Asghar See https://github.com/meanjs/mean#running-with-user-seed

[2016-08-17 08:08] Usman-Asghar commented on #1430
Trying with that but not working :(

Got this error at cmd

'MONGO_SEED' is not recognized as an internal or external command,
operable program or batch file.

[2016-08-17 08:11] simison commented on #1430
You might need to add `SET MONGO_SEED....` if you're on Windows. http://superuser.com/questions/212150/how-to-set-env-variable-in-windows-cmd-line

[2016-08-17 12:40] Usman-Asghar commented on #1430
@simison Can you please also let me know how can i achieve email verification for new users sign up?

[2016-08-17 21:56] amyloula commented on #1356
My bad, it was an issue with the .gitignore file, not including my /public/dist folder. All working soundly now. Thanks again!

[2016-08-17 21:56] #1356 closed

[2016-08-18 03:44] rohitkumarvinay opened #1433 "DynamoDB instead of MongoDB"
I am planning on using AWS lambda to run MEANJS platform, will i be able to integrate dynamoDB instead of MongoDB to run my application

[2016-08-18 05:20] codydaig commented on #1433
You will have to go through and convert everything from MongoDB ro DynamoDB but it should be relatively easily to convert.

[2016-08-18 20:34] freemind- commented on #94
Hey guys, who's in charge for this one? Any proof of concept has been committed or what? If not, let me know.

[2016-08-19 19:05] FedeG opened #1434 "Add data container for docker-compose and update to docker compose version 2"
- [x] Add data container for mongodb
- [x] Update to compose version 2
- [x] Use networking of compose version 2 (remove links)
- [x] Use depends_on for containers

[2016-08-19 19:15] FedeG opened #1435 "Add dockerfile and compose for production"
- [x] Add Dockerfile for production (#1431)
- [x] Add docker-compose.yml for production
- [x] Update documentation for deployment

[2016-08-19 20:41] ChrisHuntCal opened #1436 "Clustering"
Hi Guys,

Quick question (hopefully) around clustering.  Looking at the Heroku documentation, they recommend that all apps implement clustering:
https://devcenter.heroku.com/articles/node-concurrency

Creating a WEB_CONCURRENCY variable to use  process.env.WEB_CONCURRENCY or a local value is easy enough.  We then need to provide throng with the start function.

I am assuming that the start functio

[2016-08-19 20:51] ChrisHuntCal commented on #1436
Or, should throng be wrapping the app.listen() function inside module.exports.start.  So something like:

[code]

[2016-08-20 05:01] Ankur-Marwaha opened #1439 "Fatal error: spawn cmd ENOENT"
After successfully generating app, I am trying to run grunt and here is the error that I am getting.

No idea what should i do, Already tried the following :
* Verify the npm folder exists at the following location C:\Users\My-UserName\AppData\Roaming\npm
* Try to run npm cache clean
* Add C:\Windows\System32\ to the PATH Environment variable

[code]

[2016-08-20 05:03] Ankur-Marwaha commented on #1439
changing the way question was visible. adding code to properly formatted.

[2016-08-20 05:19] mleanos commented on #1439
Have you tried starting the application with Gulp (`gulp default`), instead of Grunt?

If Gulp works, then we can look at why Grunt might be doing this.

[2016-08-20 05:22] Ankur-Marwaha commented on #1439
No,Now I tried but it is not installed with meanjs.

[code]

[2016-08-20 05:46] Ankur-Marwaha commented on #1439
Sorry for wasting your time,
Its resolved, there was an error in the env path at my end.

[2016-08-20 05:46] #1439 closed

[2016-08-21 13:26] Ankur-Marwaha opened #1440 "Why does meanjs still use swig as https://github.com/paularmstrong/swig not suggest using it ?"
Why does meanjs still use swig as https://github.com/paularmstrong/swig not suggest using it ?

Is there any alternative that i can use so that files that have use swig works fine as well ?

[2016-08-21 13:53] hyperreality commented on #1440
Good point, it hasn't received an update in 2 years.

Could EJS be a possible alternative? https://github.com/mde/ejs . As far as I can see making the switch shouldn't be too painful.

[2016-08-21 13:54] hyperreality commented on #1440
Also has at least one serious issue which Lirantal tried to chase down: https://github.com/paularmstrong/swig/pull/649

[2016-08-21 13:55] lirantal commented on #1440
Indeed.
We're considering to replace it with either nunjacks or handlebars.

[2016-08-21 13:56] lirantal commented on #1440
@hyperreality I think ejs doesn't support nested templates, does it?

[2016-08-21 14:04] hyperreality commented on #1440
Yeah, as far as I'm aware out of the box EJS  doesn't support blocks (reusing parts of templates across different files). I've been looking at handlebars and think it's a much better choice for MEAN.js in any case.

[2016-08-21 14:11] lirantal commented on #1440
Do you have a pro/con for handlebars vs nunjucks?

[2016-08-21 14:11] lirantal commented on #1440
My bad, accidentally closed it :)

[2016-08-21 14:19] hyperreality commented on #1440
It's hard to make the call. As far as features go they're both fantastic. Nunjucks is more actively maintained but Handlebars is getting about 20 times the amount of downloads according to NPM, and I've seen Handlebars used way more in the wild. If nothing else, there is probably more info about Handlebars out there and users are more likely to be comfortable using it.

This may be a [Buridan's as

[2016-08-21 17:08] Ankur-Marwaha commented on #1440
I wish the templating engine is changed very soon (may be handlebars), as I am new to meanjs and changing the template engine will be a pain in the ass.
Wishes do come true, right ?

[2016-08-21 19:53] lirantal commented on #1440
Wishes do come true :)

[2016-08-22 20:40] simison commented on #1440
I would be safe to close this and continue at #1286 ?

[2016-08-23 08:12] cloudzombie commented on #1018
Don't close this, it still helps people.

[2016-08-23 17:23] Brian1111 opened #1441 "Deployment to IBM Bluemix fails"
I can upload the code from Git terminal, but after "Uploading droplet" message, no instance is running.  I can manually run the instance from Bluemix website, but after clicking the URL, it states:  "Requested route does not exist."

I was able to deploy my code to Heroku after looking at the closed issue, which suggested to add gulp dependencies from devDependencies to Dependencies.  However, the

[2016-08-23 18:14] Ankur-Marwaha commented on #1440
i prefer to keep it open, if you don't mind until the issue is resolved. As i am receiving email notifications from this.

[2016-08-23 18:14] Ankur-Marwaha commented on #1440
i prefer to keep it open, if you don't mind until the issue is resolved. As i am receiving email notifications from this.

[2016-08-23 18:30] hyperreality commented on #1440
@Ankur-Marwaha you can go to issue #1286 and press Subscribe on the right to receive notifications there. It helps because we don't need several Github issues for the same problem.

[2016-08-23 19:24] #1440 closed

[2016-08-23 20:56] simison commented on #1286
@hyperreality wrote https://github.com/meanjs/mean/issues/1440#issuecomment-241260324:

[2016-08-24 02:19] amedice opened #1442 "Error: EACCES: permission denied in yo"
root@fdd55a49772b:/opt/mean.js# yo
/usr/lib/node_modules/yo/node_modules/configstore/index.js:53
                                throw err;
                                ^

Error: EACCES: permission denied, open '/root/.config/configstore/insight-yo.json'
You don't have access to this file.

    at Error (native)
    at Object.fs.openSync (fs.js:549:18)
    at Object.fs.readFileSync (fs.js:397:1

[2016-08-24 02:41] hyperreality commented on #1442
Try running Yeoman as an ordinary user rather than root.

[2016-08-24 04:55] danoz-direct opened #1444 "why specify core and !core in config.server.routes"
Hi there,

Just a question to help clarify my understanding if you will.

Inside ./config/assets/default.js there the following property

`routes: ['modules/!(core)/server/routes/**/*.js', 'modules/core/server/routes/**/*.js'],`

Q: why specify two values for this, i.e. `core` and `!core` when they look like they essentially resolve to the same path pattern, i.e. `modules/*/server/routes/**/*.js`

[2016-08-24 05:17] hyperreality commented on #1444
The key lies in a function in the `config/lib/express.js` file:

`module.exports.initModulesServerRoutes = function (app) {
  // Globbing routing files
  config.files.server.routes.forEach(function (routePath) {
    require(path.resolve(routePath))(app);
  });
};`

The idea with having the core routes occupy the final place in the array is that they are added to the routing table last. Error handl

[2016-08-24 06:46] Ankur-Marwaha commented on #1286
See if we can go with handlebars ( easy to learn, widely used ) and still if in the future we had to switch to some other templating engine it would not be that hard of a job. Lets get the solution ASAP.

[2016-08-24 07:30] abaka82 commented on #1290
thanks @thodinh. Your solution is perfect for this social account issue

[2016-08-24 16:11] Ankur-Marwaha opened #1445 "Why meanjs uses grunt and gulp both, as both does the same task ?"
Both does the same task with a difference in the way they achieve it, one uses streams and other doesn't.
Its kind of an question, I don't know if i should ask it here or somewhere else ?

[2016-08-24 16:14] lirantal commented on #1445
We are deprecating Grunt in favor of Gulp. Currently both are left there to make sure that users who relied on Grunt can still use it at this point.

[2016-08-24 16:14] #1445 closed

[2016-08-24 16:15] lirantal commented on #1286
Indeed, working on it.

[2016-08-24 16:16] lirantal commented on #1441
@Brian1111 can you help us with more debug information about what would be the problem? logs or something?

[2016-08-24 19:26] Brian1111 commented on #1441
I deleted everything.  I am using mean-0.4.2, which is now on Bluemix.  Have you been able to deploy mean-0.5.0-beta to Bluemix?  In addition to this, mean-0.5.0-beta Article does not have Create and Edit functions.

Also, I haven't been able to deploy mean-0.4.2 to Heroku; I could only deploy it to Bluemix.

[2016-08-24 21:02] lirantal commented on #1441
I don't have a way to reproduce the issue with Bluemix, so no I can't test it and need your help.
Is it something you can try again and report back with more actual evidence of what's going wrong?

[2016-08-24 23:29] codydaig commented on #1441
@ryanjbaxter

[2016-08-24 23:30] ryanjbaxter commented on #1441
Sorry guys, I no longer work for IBM, so my focus is elsewhere

[2016-08-24 23:32] codydaig commented on #1441
@lirantal I would like to make a proposal to remove Bluemix then since we can't practically support it and it seems to break frequently.

[2016-08-25 00:36] ilanbiala commented on #1380
I would use the latest tagged release, which is 0.4.2, if you want fully reliable code for a large project. However, 0.5 will bring quite a few big changes, so definitely use that for your next project if it's ready.

[2016-08-25 04:45] danoz-direct commented on #1444
Makes perfect sense, thanks for pointing that out.

[2016-08-25 04:45] #1444 closed

[2016-08-25 07:34] Brian1111 commented on #1441
I can easily connect mean-0.4.2 to Bluemix.  Bluemix is much faster than Heroku, so I prefer it to Heroku.

[2016-08-25 12:07] simison opened #1446 "Add mean-seo to core"
Should `mean-seo` be merged with the core? It's not terribly a lot of code and seems like a core feature anyway.

Currently it's not getting much [attention][1] and has some very outdated [dependencies][2].

[1]: https://github.com/meanjs/mean-seo/pulls
[2]: https://snyk.io/test/github/meanjs/mean-seo/

[2016-08-25 13:49] hyperreality commented on #1446
Is it even necessary any more? As Google state in [their docs](https://developers.google.com/webmasters/ajax-crawling/docs/specification), AJAX crawling was deprecated in October 2015. As far as I'm aware `mean-seo`'s functionality is now completely outmoded.

[2016-08-25 13:59] simison commented on #1446
Seems so, thanks!

More reading; https://webmasters.googleblog.com/2015/10/deprecating-our-ajax-crawling-scheme.html

[2016-08-25 13:59] #1446 closed

[2016-08-25 14:36] #1434 closed

[2016-08-25 14:54] lirantal commented on #1441
@codydaig understood but I do wonder if this is something we can test somehow or have a community member help with testing it.
@Brian1111 can you test the master branch of MEAN.JS with bluemix and provide us more details and logs on whats going wrong?

[2016-08-25 16:16] Brian1111 commented on #1441
@lirantal I just deployed mean-0.5.0-beta to bluemix.  I enclosed the last error messages in the png file.

![mean-0 5 0-beta_error_messages](https://cloud.githubusercontent.com/assets/12651236/17976806/d8d0619a-6aa3-11e6-80ad-e2ede194fcb8.png)

[2016-08-25 18:49] lirantal commented on #1441
@Brian1111 Thanks.
It seems that the bluemix environment doesn't have gulp installed. Can you install it and run the application again to test it?

[2016-08-25 19:44] Brian1111 commented on #1441
I did move gulp and its dependencies from devDependencies to Dependencies to make it run on Heroku, as I stated in my original statement.    It runs on Heroku, but not on Bluemix.  Here are the modules that I added, and the errors I am getting after deployment to Bluemix:

![mean-0 5 0-beta_error_messages-2](https://cloud.githubusercontent.com/assets/12651236/17983320/d68584d4-6ac0-11e6-9fbd-07fe6

[2016-08-25 21:02] simison commented on #1441
FYI: If you try to start the app using `gulp` command directly, it expects to find global Gulp installed. If you use `npm start` instead, it would use gulp installed locally to node_modules (and thus moving it to dependencies is required).

[2016-08-25 22:19] #1431 closed

[2016-08-25 22:19] #1435 closed

[2016-08-26 01:41] danoz-direct opened #1447 "Purpose and use of showStackError in module /config/lib/express.js"
Hi folks,

A query regarding a setting in module [config/lib/express.js](https://github.com/meanjs/mean/blob/master/config/lib/express.js)...

Inside the function `initMiddleware` there is the following call:

`app.set('showStackError', true);`

What is the intent behind this? I suspect it is related to whether or not to show full stack traces in the client response on error, however I am puzzled

[2016-08-26 02:07] danoz-direct opened #1448 "Purpose and use of 'jsonp callback' setting in module /config/lib/express.js"
Hi everyone,

This is a similar question to #1447

A query regarding a setting in module [config/lib/express.js](https://github.com/meanjs/mean/blob/master/config/lib/express.js)...

Inside the function `initMiddleware` there is the following call:

` app.enable('jsonp callback');`

What is the intent behind this? By the looks of it, it is related to whether or not the app enables jsonp callback s

[2016-08-26 06:41] lirantal commented on #1441
@Brian1111 can you pull the branch of my PR in https://github.com/meanjs/mean/pull/1449 and try to use that to push to bluemix and build there?

[2016-08-26 07:05] lirantal commented on #1415
Tested and it looks good.
Thanks @aanev  and @mleanos

[2016-08-26 07:10] #1415 closed

[2016-08-26 23:22] Brian1111 commented on #1441
@lirantal  What do you mean by "pull the branch of my PR in #1449"? I replaced .bluemix/pipeline.yml file with the one that you posted; is it what you mean?  Still the deployment fails.

[2016-08-27 02:14] genru opened #1451 "multiple server layout supported?"
I am trying to apply different layout for certain pages like login page, but after many attempt, I realized it's not easy to do.

I had tried route login url to new render function, but because some other routing issues stop it work.

[code]

are there any way can do that?

[2016-08-27 06:45] #1420 closed

[2016-08-27 07:13] lirantal commented on #1441
Sure it's ok if you also replace it with your local one for testing.
I'll need you to always post back the logs and errors you get after you try so I can figure out what is failing there.

[2016-08-27 07:34] lirantal commented on #1451
It's possible with swig but you need to create a new base layout and then render it properly.
In any way we're switching out of Swig and into `handlebars` probably, so look it up in their documentation and a fix will be coming soon to MEAN.JS to implement `handlebars`.

[2016-08-27 07:40] lirantal commented on #1448
@danoz-direct thanks for bringing this up.
I don't think it's required anymore but the option does exist, if you look at the settings table you pointed (http://expressjs.com/en/4x/api.html#app.settings.table) then it's there with a default 'callback' handler if the `name` is not specified.

[2016-08-27 07:54] lirantal commented on #1447
@danoz-direct it's an old one indeed that doesn't exist anymore.
Can you submit a PR to remove both this one and the other jsonp option that you noted in the other issue?

[2016-08-27 07:56] lirantal commented on #1442
@amedice you'll get better responses also when asking in the generator repository: https://github.com/meanjs/generator-meanjs

[2016-08-27 07:57] #1442 closed

[2016-08-27 07:59] #1433 closed

[2016-08-27 08:01] lirantal commented on #1436
No idea here. I haven't used clustering like that and not with Heroku either so I can't comment.
Maybe one of the @meanjs/contributors knows better to answer you.

Small tip: I do use pm2 for app clustering and load balancing, not sure if that's available on heroku but it greatly helps and eases it.

[2016-08-27 08:01] #1436 closed

[2016-08-27 08:02] lirantal commented on #1424
@github-john-doe I just recently built and I don't have this issue. @FedeG also built the project using Docker in his proposed PRs and this issue wasn't brought up.

@github-john-doe can you please look it up again and see if it was possibly a local problem on your network end? Otherwise would be good if you can share more details/logs on the problem.

[2016-08-27 08:03] #1424 closed

[2016-08-27 08:20] frkwhiteangel opened #1452 "Authentication fails 80% of time."
I downloaded the fully working example of mean stack, but in 80% of the cases the login wont work, authentication/signin returns me server error.

in the grunt command lines, i do get:

[code]
but for some reason, it wont show?

result:

[code]
EDIT1:

it seems like the view only shows when i drop my database for some reason?
and when i create a account, and wait abit, it wont work again?

[2016-08-27 15:06] genru commented on #1451
Thanks for your quick response.
I don't think it's a layout problem, it's a routing issue. New server layout has no chance to be triggered. Current mean app is a sort of one-page app, multiple layout is hard to implement, there are a lot of routing  need to modify.

Handlebars would not help.

[2016-08-27 15:10] genru commented on #1451
Thanks for your quick response.
I don't think it's a layout problem, it's a routing issue. New server layout has no chance to be triggered. Current mean app is a sort of one-page app, multiple layout is hard to implement, there are a lot of routing  need to modify.

Handlebars would not help.

[2016-08-27 15:11] lirantal commented on #1451
@genru could you please explain why and suggest an example code to fix it?

[2016-08-27 15:12] lirantal commented on #1452
@frkwhiteangel no idea what you are referring to.
Where did you download the MEAN app from? which version? can you show a complete debug log of the application startup and the error you are getting?

[2016-08-27 15:18] lirantal commented on #1430
@Usman-Asghar please take it in StackOverflow or the gitter channel. I'm closing this comment but regardless if @simison or @mleanos would like they can keep up the discussion here.

[2016-08-27 15:18] #1430 closed

[2016-08-27 15:20] #1422 closed

[2016-08-27 15:23] lirantal commented on #1406
Thanks @hyperreality
Goodluck @TylerL-uxai

[2016-08-27 15:23] #1406 closed

[2016-08-27 15:26] lirantal commented on #1397
I assume we're safe to close this one. Good discussion going on guys! :+1:

[2016-08-27 15:26] #1397 closed

[2016-08-27 15:27] lirantal commented on #1391
@costasT if you're up for proposing a fix/enhancement to enable this for other users we will welcome it gladly.

[2016-08-27 15:27] #1391 closed

[2016-08-27 15:29] lirantal commented on #1385
@Wuntenn can you please sum up in a nutshell the issue and your proposed solution? (also you can submit a PR with the fix so we can review what it entails)

[2016-08-27 15:29] #1380 closed

[2016-08-27 15:30] lirantal commented on #1378
@water42 if you're still up for helping the project we can start with some PRs :)

[2016-08-27 15:30] #1378 closed

[2016-08-27 15:31] lirantal commented on #1375
@avatarr I'm closing for now due to no response.
If you are still having issues/want to propose a fix please re-open with more details.

[2016-08-27 15:31] #1375 closed

[2016-08-27 15:32] lirantal commented on #1371
Guess this can be closed now that we have pending work on #1382

[2016-08-27 15:32] #1371 closed

[2016-08-27 15:37] lirantal commented on #1367
@batosai85 please let us know how it ended up. whether you found a fix/solution or noticed a really problem with the framework.

For now I'm closing but you're welcome to re-open if you see fit.

[2016-08-27 15:37] #1367 closed

[2016-08-27 16:27] lirantal commented on #1359
@codydaig @fauria is this issue resolved in the meanjs/generator-meanjs repo?

[2016-08-27 16:29] lirantal commented on #1350
@zoonoo seems to be build issues related to your OS/environment.
Hope you got it sorted out by now.

[2016-08-27 16:29] #1350 closed

[2016-08-27 16:31] lirantal commented on #1344
Thanks @Wuntenn and @mleanos :+1:
Closing.

[2016-08-27 16:31] #1344 closed

[2016-08-27 16:32] lirantal commented on #1326
@aquadestructor if the issue persists you're welcome to re-open for discussion and help.

[2016-08-27 16:32] #1326 closed

[2016-08-27 16:33] lirantal commented on #1325
Thanks @ilanbiala

[2016-08-27 16:33] #1325 closed

[2016-08-27 16:35] Brian1111 commented on #1441
I replaced pipeline.yml with the one that you posted.  Here are the last errors:

![mean-w-pipeline yml errors](https://cloud.githubusercontent.com/assets/12651236/18028635/15b2d674-6c39-11e6-8ba0-6a43a192d46f.png)

[2016-08-27 16:37] lirantal commented on #1441
@Brian1111 ok, got it.
I just made another commit on that branch, can you use again my updated file and test?

[2016-08-27 17:03] Brian1111 commented on #1441
I added the new pipeline.yml file at the directory meanjs/.bluemix/pipeline.yml.  Here are the errors:

![mean-w-pipeline yml_errors2](https://cloud.githubusercontent.com/assets/12651236/18028868/72f7d8ee-6c3d-11e6-8045-dce10aa566df.png)

[2016-08-27 17:06] lirantal commented on #1441
Are you sure you stepped through the build process which does an npm install from the start? That dev dependency is still missing according to the log you show me.

[2016-08-27 17:10] lirantal commented on #1320
@mleanos doesn't seem like we've got any action item so I'm closing.

[2016-08-27 17:10] #1320 closed

[2016-08-27 17:12] lirantal commented on #1319
Seems fixed as well, closing.
@sparshy let me know if you think there's a fix that should go in order.

[2016-08-27 17:12] #1319 closed

[2016-08-27 17:13] Brian1111 commented on #1441
Isn't npm get installed on Bluemix?  Why should I install it on localhost?  All I did was I typed "cf push".  Regarding devDependencies, aren't they supposed to run only on localhost?

[2016-08-27 17:13] lirantal commented on #1313
@nikitpatel24 you're welcome to open a PR enhancement.

[2016-08-27 17:13] #1313 closed

[2016-08-27 17:15] lirantal commented on #1311
@ilanbiala I think we actually need a better production build maybe?

[2016-08-27 17:15] #1311 closed

[2016-08-27 17:16] #1307 closed

[2016-08-27 17:17] #1292 closed

[2016-08-27 17:29] Brian1111 commented on #1441
Regarding Dependencies, my gulp dependencies version in Dependencies are different from the ones in devDependencies.   The ones in devDependencies are the ones that are already there, but the ones in Dependencies are the ones that I copied from you when you solved the issue for deployment to Heroku.   I did run npm install and then typed cf push.   Here are the last errors:

![mean-w-pipeline yml_

[2016-08-27 17:34] Brian1111 commented on #1441
I double checked gulp dependencies in both Dependencies & devDependencies; they are the same.  Sorry for the mistake.   Here are the dependencies:

![gulp_dependencies](https://cloud.githubusercontent.com/assets/12651236/18029030/b38a9b40-6c41-11e6-94d0-2ffc037aa36d.png)

[2016-08-27 19:27] soupman99 opened #1453 "docker in production mode fails"
Getting this error.  Running on a clean machine.  Any ideas on what could be causing it?

[code]

[code]

[2016-08-27 21:04] lirantal commented on #1453
@soupman99 are you using the newly added Dockerfile-production you mean?
Can you also show previous error log? it seem to be missing here. How are you running this docker container?

@FedeG can you take a look?

[2016-08-27 21:05] lirantal commented on #1441
what does `cf-push` ends up doing? can you explain?

[2016-08-27 21:23] lirantal commented on #1290
closed via #1284
@ChrisMaher can you confirm that this issue is fixed in the `master` branch?

[2016-08-27 21:23] #1290 closed

[2016-08-27 21:25] lirantal commented on #1277
No clarity as to the issue on this thread, closing.

[2016-08-27 21:25] #1277 closed

[2016-08-27 21:26] lirantal commented on #1274
@ilanbiala @xiandalisay @marianoqueirel one of you would like to open a PR for this fix?
@hyperreality or you? :)

[2016-08-27 21:29] lirantal commented on #1270
@simison kudos on that lovely invite for contributing on GitHub!
@trendzetter let's talk on your open PR for status

[2016-08-27 21:35] lirantal commented on #1269
@codydaig @trendzetter @simison care to update the docs in this regard?

[2016-08-27 21:35] #1267 closed

[2016-08-27 21:44] hyperreality commented on #1274
@lirantal Sure, I'll take a look at it sometime in the next few days.

[2016-08-27 21:44] lirantal commented on #1262
@jagadeeshthegeek @mleanos I don't see anything broken with the functionality of articles even when the _id field is missing. Do open up the thread if there's an issue we miss.

[2016-08-27 21:44] #1262 closed

[2016-08-27 21:45] lirantal commented on #1260
One issue we tackled and merged.
Remaining issues?

[2016-08-27 21:47] lirantal commented on #1234
I'll close for now as I'm unable to reproduce.

[2016-08-27 21:47] #1234 closed

[2016-08-27 21:50] lirantal commented on #1224
@meanjs/contributors anybody wishes to take a look here?

[2016-08-27 21:52] lirantal commented on #1204
Since no traction on this thread I'll close it up.
@sparshy you're welcome to update us with your progress on this one.

[2016-08-27 21:53] lirantal commented on #1195
@vaucouleur if you're still hunger for this then any chance for a PR?

[2016-08-27 21:54] soupman99 commented on #1453
@lirantal @FedeG updated my original with full dump.

[2016-08-27 21:56] lirantal commented on #1161
Thanks for the discussion everyone.

[2016-08-27 21:56] #1161 closed

[2016-08-27 21:57] lirantal commented on #1141
@codydaig this can be closed, right? That #1139 is merged now.

[2016-08-27 21:57] #1141 closed

[2016-08-27 22:31] Brian1111 commented on #1441
Here is the summary: (1) Using manifest file manifest.yml, (2) Updating app mean, (3) Creating route mean-leakless-preinspector.mybluemix.net (result OK), (5) Binding mean-leakless-preinspector.myblumix.net to mean (result OK), (6) Uploading mean from mean-master (Done uploading OK), (7) Binding service mean-mongo to app mean (result OK), (8) Stopping app mean (result OK), (8) Starting app mean: D

[2016-08-27 22:53] hyperreality opened #1455 "Gulp test silently fails if mocha encounters fatal error"
Accidentally ran `gulp test` using Node 6.2, an unsupported version, and stumbled across a little error. Here is the offending code: https://github.com/meanjs/mean/blob/730cca7/gulpfile.js#L310

If Mocha encounters a fatal error, `end` is never returned, no error is logged to the terminal and Gulp just hangs. Grunt encounters no such problem: the unsupported version error is correctly reported. Pe

[2016-08-27 23:25] simison commented on #1455
Yup, just experienced this myself.

Error was: `Unsupported Node version: 6.3.1`

Added `console.error(err);` to Gulp's [mocha task][1] to see this.

Time to upgrade to [Mocha v3][2]?

[1]: https://github.com/meanjs/mean/blob/master/gulpfile.js#L310-L313
[2]: https://github.com/mochajs/mocha/blob/master/CHANGELOG.md#300--2016-07-31

[2016-08-27 23:56] simison commented on #1455
Aight, fixed by running `npm install mock-fs@~3.11.0 --save-dev`

I'll make a PR with this + mocha v3. Someone else can tackle this original issue with `.on('error'...` causing problems. It was last time modified at #453

[2016-08-27 23:58] simison commented on #1455
BTW last time this happened: https://github.com/mochajs/mocha/issues/2102

[2016-08-28 00:08] hyperreality commented on #1455
@simison Great stuff. Pretty surprised that this bug has been around for so long.

As it happens pretty much everything else seemed to work under Node 6.2.2, I wonder if we can move to supporting it soon.

[2016-08-28 01:11] genru commented on #1451
@lirantal I could not, I am not a nodejs or angular expert. what I found is this is a routing issue, as a said this framework perfect for a one-page app, because there is only one server layout.

I tried added new url route for login in core.server.route.js
[code]

and new render function in core.server.controller.js
[code]
created new layout named `auth.server.view.html` in views folder.
this new

[2016-08-28 10:03] Ankur-Marwaha opened #1459 "How can i break the code at the first line for debugging ?"
Trying to achieve something like this
`node-debug index.js --debug-brk `             // beaks the code at the first line in the code and index.js is some basic app
`grunt debug`                                             // breaks the code where ever i apply breakpoints
`grunt debug --debug-brk `                       // doesn't work similar to `node-debug index.js --debug-brk`

[2016-08-28 10:27] Ankur-Marwaha opened #1460 "Unable to put the debugger statement inside the gruntfile.js and socket.io.js."
using grunt debug

this is the error that i am getting

[code]

Is there any other way that i can use breakpoints in these files ?

[2016-08-28 11:15] ryanjbaxter commented on #1441
Perform a 'cf logs' command while doing a 'cf push'

[2016-08-28 11:31] #1455 closed

[2016-08-28 11:44] vaucouleur commented on #1195
@lirantal @codydaig I don't think it was perceived as a real issue by the community; no consensus. So I'll simply close it.

[2016-08-28 11:44] #1195 closed

[2016-08-28 11:53] lirantal commented on #1294
@simison you handled in the recent PR #1457  the debug data. What about the ng-strict-di? how do we handle that?

[2016-08-28 11:53] #1294 closed

[2016-08-28 13:39] simison commented on #1195
We're actually facing this issue and having real trouble not having a white listing as a service.

We'll implement this eventually anyway at our site, thanks for food for thought everyone here.

Feel free to follow https://github.com/Trustroots/trustroots/issues/402

[2016-08-28 15:23] lirantal commented on #1286
Hey guys,
Check out the new handlebars template system in PR #1461

cc @simison @Ankur-Marwaha @hyperreality @ilanbiala

[2016-08-28 15:28] Brian1111 commented on #1441
I have already performed  'cf logs mean --recent', which I posted above.  If you mean that I have to type both commands at once, then how should I type it?  Have you been able to deploy mean-0.5.0-beta to Bluemix successfully yourself?

[2016-08-28 15:38] lirantal commented on #1141
@codydaig when there are eslint errors the livereload just reload the web again, right? I think it's a nodemon/gulp sequence setup because the eslint process does seem to stop there when the an error is found.

Would you like to still tackle this one?

[2016-08-28 16:23] ryanjbaxter commented on #1441
I mean that you run both command simultaneously in two different terminal
Windows so you can see the logs as the deployment happens. I have not tried
deploying it to bluemix since I have left IBM and my role has changed. If j
have some time I might be able to give it a go
On Sun, Aug 28, 2016 at 11:29 AM Brian1111 <notifications@github.com> wrote:

[2016-08-28 16:40] lirantal commented on #221
Quite old of a thread, closing it and anyone is welcome to try and introduce postcss + uncss for this feature.

[2016-08-28 16:40] #221 closed

[2016-08-28 16:40] lirantal commented on #105
Old issue, closing.

[2016-08-28 16:40] #105 closed

[2016-08-28 16:42] lirantal commented on #94
I'm closing this infavor of the work being done on the related PR https://github.com/meanjs/mean/pull/1382
cc @freemind-

[2016-08-28 16:42] #94 closed

[2016-08-28 16:42] lirantal commented on #49
Unlikely happening, closing an old thread.

[2016-08-28 16:42] #49 closed

[2016-08-28 16:43] lirantal commented on #38
Closing an old thread.

[2016-08-28 16:43] #38 closed

[2016-08-28 16:47] lirantal commented on #273
Closing an old thread.
@ilanbiala @androidfred @sielay you're welcome to propose a PR if this issue is still relevant.

[2016-08-28 16:47] #273 closed

[2016-08-28 16:49] lirantal commented on #369
Closing this thread unless someone ( @PierreBrisorgueil @mleanos @denzelwamburu ) would actually like to propose a PR.

[2016-08-28 16:49] #369 closed

[2016-08-28 17:14] lirantal commented on #366
would anyone like to re-visit this one?
cc @ilanbiala @HappyTreesDev @darko-mijic

[2016-08-28 17:16] lirantal commented on #362
This topic is definitely an important issue to handle.
Would anyone like to review how we can approach a similar production build (dist directory) for this?

cc @codydaig @mleanos @ilanbiala @FREEZX

[2016-08-28 17:19] lirantal commented on #344
Not sure what we meant by Gulp 4 when this thread started but seems like we're there now :)
Closing.

cc @ilanbiala

[2016-08-28 17:19] #344 closed

[2016-08-28 17:21] lirantal commented on #336
Seems we've already done some refactoring there on the articles module.
Closing.

@ramusus @JuanCaicedo welcome to comment and add anything else if you'd like.

[2016-08-28 17:21] #336 closed

[2016-08-28 17:21] Brian1111 commented on #1441
I ran them side  by side.  Here are the errors in cf logs:

![cf_logs_errors_run_w_cf_push1](https://cloud.githubusercontent.com/assets/12651236/18035329/0b0567b6-6d09-11e6-8275-1de70a32534e.png)

![cf_logs_errors_ran_w_cf_push2](https://cloud.githubusercontent.com/assets/12651236/18035332/1285659a-6d09-11e6-9b7c-4eb368a2792b.png)

![cf_logs_errors_ran_w_cf_push3](https://cloud.githubusercontent.c

[2016-08-28 17:22] lirantal commented on #313
Closing old thread.

[2016-08-28 17:22] #313 closed

[2016-08-28 17:23] lirantal commented on #302
Closing old thread.

[2016-08-28 17:59] lirantal commented on #1087
@trainerbill @simison would you guys like to push further on the wiredep/dist directory build for production environments?

[2016-08-28 19:06] lirantal commented on #1074
@kokokenada , @mleanos unless you wish to propose a PR I'll close this issue.

[2016-08-28 19:06] lirantal commented on #1073
Closing this old issue down.

[2016-08-28 19:06] #1073 closed

[2016-08-28 19:07] #1071 closed

[2016-08-28 19:08] lirantal commented on #1068
Closing this issue.

[2016-08-28 19:08] #1068 closed

[2016-08-28 19:10] lirantal commented on #1066
Closing issue.

[2016-08-28 19:10] #1066 closed

[2016-08-28 19:11] lirantal commented on #1048
Closing issue.

[2016-08-28 19:11] #1048 closed

[2016-08-28 19:12] lirantal commented on #1047
Closing issue.

[2016-08-28 19:12] #1047 closed

[2016-08-28 19:34] #1074 closed

[2016-08-28 20:08] lirantal commented on #943
Closing this one.

[2016-08-28 20:08] #943 closed

[2016-08-28 20:09] lirantal commented on #896
Closing this one due to no action followed upon.

[2016-08-29 03:54] ebastidas commented on #1430
@Usman-Asghar check out this post http://stackoverflow.com/questions/30630862/angular-authentication-using-passport-for-ionic-app

[2016-08-29 05:32] #1286 closed

[2016-08-29 14:17] trainerbill commented on #1087
I think it would be good for ng1, but worthless if you are going to move to ng2 anytime soon.

[2016-08-29 14:40] FREEZX commented on #362
On the project i had worked on, what i said i did in my last comment is still in place and works well enough.

[2016-08-29 21:36] hyperreality commented on #1204
I'd like to chime in here and say that I was caught out by the default behaviour of the username field.

I have become accustomed to usernames not containing spaces nor symbol characters because that is the default on 99% of websites out there. My assumption was reinforced by the fact that my usernames were automatically converted to lowercase per #866 .

I built a route using a :username paramete

[2016-08-29 22:57] jrodenbostel opened #1464 "Problem with documentation"
I just wanted to mention the docs on your home page say that the AngularJS Test Sub-Generator should be called with

[code]
but the installed generator says it should be:
[code]

Same seems to be true for the Express equivalent.  I did not see a way to help update this.

Thanks!

[2016-08-30 12:26] lirantal commented on #657
@meanjs/contributors, @simison @hyperreality @luebken @vaucouleur
I suggest we close down as many more PRs/issues as we can in the next couple of weeks and ship out 0.5.0 - it has major fixes, including security issues that should go in.

* We obviously won't be addressing the JWT and 0.4.0 user refactor from the TODO list above in the scope of this 0.5.0
* We should however deprecate and remove G

[2016-08-30 12:40] lirantal commented on #493
Closing old issue.

[2016-08-30 12:40] #493 closed

[2016-08-30 12:41] lirantal commented on #1464
@codydaig care to take a look?

[2016-08-30 12:43] lirantal commented on #1460
@Ankur-Marwaha can you please test Gulp instead of Grunt?
We intend to deprecate Grunt pretty soon and it will no longer be part of the project anymore.

[2016-08-30 17:07] lirantal commented on #1204
In retrospective I agree with restricting the username so either:
1. we restrict the username field per @sparshy's advices or others
2. remove it altogether

I think (1) is safer considering that other users may have used the username field in their project before and would want to maintain the same functionality.

So I'm generally open for new PRs on this topic.

[2016-08-30 18:06] lirantal commented on #1451
@genru please check out the new handlebars implementation - you can specify what is the parent layout for a view to render from. This way, in specific routes you can render a view that implements another layout than the default.

Let me know if this helps or still misses the point.

[2016-08-30 19:34] ilanbiala commented on #1286
LGTM.

[2016-08-30 23:11] lirantal commented on #1464
Thanks @jrodenbostel
Fixed in PR: https://github.com/meanjs/meanjs.github.io/pull/13

[2016-08-30 23:11] #1464 closed

[2016-08-31 04:53] wangmeng commented on #1441
Hi Brian,
You also need to check the package.json file, and since during the runtime of latest version, by default, it require "gulp, run-sequence, imagemin-pngquant", which are not listed in dependencies. You may need to add them.

Here are mine version, fyr

  "dependencies": {
    "acl": "~0.4.9",
    "async": "~1.5.2",
    "body-parser": "~1.15.0",
    "bower": "~1.7.7",
    "cfenv": "~1.0.3",

[2016-08-31 13:50] Wuntenn commented on #1385
Passport does the authentication step which is all Jared intended it to do. However it is up to us to do things like:

- Making sure that the user who requests access to a resource is the same as the one who authenticated. It's often the case that a person doesn't sign out and another comes after to the same provider. Our service doesn't check that the user is the same. There are calls in Google's

[2016-08-31 18:32] lirantal commented on #1441
@Brian1111 Sorry it seems to be very hard to help without using this service and understanding what's going on.

I think that what's happening is that you may not have all the `devDependencies` installed. Is it somehow possible to list the `node_modules/` directory before running the app? Maybe it can point us in to some direction.

[2016-08-31 18:33] lirantal commented on #1441
@wangmeng what do you mean? `run-sequence` is part of the devDependencies.

[2016-08-31 18:36] lirantal commented on #362
@FREEZX is it open source? can you show us an example of such implementation?
are you able to offer a PR?

[2016-08-31 18:38] lirantal commented on #362
@FREEZX also see my suggestion for the `dist/` directory here: https://github.com/meanjs/mean/issues/1087#issuecomment-243136976

[2016-08-31 19:21] lirantal commented on #1323
We can discuss it later when Express actually supports this. As long as it doesn't and we don't intend to move out of Express this isn't relevant.
Thanks anyway for enlightning us @aralroca!

[2016-08-31 19:22] #1323 closed

[2016-08-31 21:14] FREEZX commented on #362
@lirantal No, it's not open source unfortunately.
I also have this on my own framework which might prove useful:
https://github.com/FREEZX/nuke.js/blob/master/build.js
What it does is it goes through all the CSS files, finds all resources they use and copies them together with the minified css files.

[2016-09-01 00:24] wangmeng commented on #1441
@lirantal I tried to deploy a mean project to Bluemix, the section is what I used to make it work.
If you check @Brian1111 last comment, the cf log mentioned "Cannot find module run-sequence".

I can follow up from Bluemix side, if anything. Thanks.

[2016-09-01 02:01] danoz-direct opened #1470 "Considering move of view cache setting"
Hi there,

Have just been looking at the following block inside [mean/config/lib/express.js](https://github.com/meanjs/mean/blob/master/config/lib/express.js)

[code]
Presently, that block is sitting inside the function `initMiddleware`.

Given that block is not technically middleware but rather more related to express system settings, I was considering submitting a PR to move that block out into

[2016-09-01 02:04] danoz-direct commented on #1470
Oh, and also, was wondering about the line...

`app.locals.cache = 'memory';`

This might need to be updated based on the [Express API doc](http://expressjs.com/en/4x/api.html#app.render) where they say...

[2016-09-01 19:58] lirantal commented on #1470
@danoz-direct hi! :)
sounds like a good idea, although the only other question is whether it was put where it is now due to priority. As you know, the order in which middleware is called in ExpressJS has a significance.

I think that else expression can be removed indeed.

Thanks for helping out

[2016-09-01 20:11] lirantal commented on #1441
@wangmeng so you moved the `run-sequence` and possibly other packages from the `devDependencies' section to the `dependencies`? Even if so, this isn't something we can do in the project and we need to find the right configuration for it in the bluemix file.

[2016-09-01 20:26] lirantal commented on #362
Ok, saw it.
I think there's probably a better and more intuitive way of doing it with existing tools in gulp so if we don't have a PR for this I'll close it.

[2016-09-01 22:20] danoz-direct commented on #1470
Hi @lirantal  :v:

Understood. Hmm, so even though the call to `app.set('view cache', false);` isn't technically middleware but rather a configuration of one of the [express application settings](http://expressjs.com/en/api.html#app.set), perhaps it is being set at that point for a reason? That is what you are asking?

I'll keep researching and will try to find out a few things first before procee

[2016-09-01 22:22] simison commented on #1470
BTW in ExpressJS view cache is enabled by default in production and off in development mode.

http://expressjs.com/en/api.html

[2016-09-02 06:57] danoz-direct commented on #1470
http://expressjs.com/en/api.html#app.set

[2016-09-02 07:16] simison commented on #1470
Also:

Anyway, seems like the whole thing can be removed and it wouldn't change anything.

[2016-09-02 07:38] danoz-direct commented on #1470
https://github.com/expressjs/express/issues/542

Cool, thanks @simison :+1:

That answers Q2.

I've got an open question over on the Express repo, will let you know what I hear back.

[2016-09-02 13:26] frkwhiteangel opened #1473 "ui view and render variable"
How can i change and update the valuables in the rendered view, with updates i do in the ui-view?

[2016-09-02 13:30] frkwhiteangel opened #1474 "bower update angular fail"
when i do bower update:

[code]

[2016-09-02 15:45] simison commented on #1474
The MEAN.js core doesn't include `angular-slick`;

if you want to add that package, you should do as Bower is asking you to do. Just pick version (I'd use `!3`) and consider sending a pull request to [update Angular version of  `angular-slick`](https://github.com/vasyabigi/angular-slick/blob/master/bower.json#L22).

[2016-09-02 15:49] frkwhiteangel opened #1475 "Redirect if not logged in"
Is there a way to redirect a user if not logged in into the login view?

[2016-09-02 15:54] simison commented on #1087
I've been looking into this today after I run into some hassle _again_ because of Bower. I really feel like getting finally rid of Bower completely and using something more modern such as [Browserify](http://browserify.org/).

- Use only one package management
- Things don't break so easily when requiring outdated versions
- Safer, no more exposing all the lib files publicly

Just it seems that it

[2016-09-02 17:29] lirantal commented on #1475
@simison , @mleanos ?

[2016-09-02 17:29] #1474 closed

[2016-09-02 17:30] lirantal commented on #1087
@simison I'm wondering if it's better to work on webpack instead because that seems to be the de-facto for frontend packing these days. I'm concerned we'll just pick browserify which isn't that 2016 and need to refactor all the work again.

[2016-09-02 17:38] simison commented on #1087
Oh yea totally, I'm not that invested to Browserify-idea. :-) I'll check out Webpack, thanks for pointing that out. Hard to keep up with all these tools!

[2016-09-02 17:45] simison commented on #1475
Suppose you should modify this somehow:

https://github.com/meanjs/mean/blob/8da372519a4f7894966835904ab7bd28368922ea/modules/core/client/config/core.client.route-filter.js#L18

...tho it looks like it's already doing something like that using `roles` from route configs (e.g. https://github.com/meanjs/mean/blob/master/modules/chat/client/config/chat.client.routes.js#L18)

[2016-09-02 17:51] lirantal commented on #1470
Great, keep it moving :)

[2016-09-02 17:51] lirantal commented on #1087
Javascript Fatigue :)

[2016-09-02 18:47] wangmeng commented on #1441
@lirantal I agree your point, it is just a way to get the deployment work, but not a solution.

I spent some time, and tried with the updated pipeline.yml file. The steps I did are as blow:

1. Use the hub.jazz.net to clone the mean repo, in this way, the build & deploy task will be created
https://bluemix.net/deploy?repository=https%3A%2F%2Fgithub.com%2Fmeanjs%2Fmean
2. Update pipeline.yml in the

[2016-09-02 20:24] lirantal commented on #1441
Maybe we can find some references in other, *working* pipeline configs?

[2016-09-02 22:25] simison commented on #1087
I like this a lot: http://angular-tips.com/blog/2015/06/using-angular-1-dot-x-with-es6-and-webpack/

@lirantal This should probably not be for 0.5.0 milestone...

[2016-09-02 23:15] lirantal commented on #1087
Indeed.

[2016-09-03 22:29] #1349 closed

[2016-09-03 22:37] lirantal commented on #1441
@Brian1111 @wangmeng I am going to close and remove any Bluemix related integration we have as it is simply not working and there's no one to test/confirm it.

If you end up figuring it out I welcome your PRs to support it.

[2016-09-03 22:37] #1441 closed

[2016-09-04 07:40] wangmeng commented on #1441
@lirantal @Brian1111 I will look into if any solution, and come back. Thx.

[2016-09-04 08:41] frkwhiteangel opened #1477 "connect with cron job"
if i have a function in /modules/modulename/server/factory/factory_test called create

is it possible to call that every 1-5 sec? how?

[2016-09-04 14:17] simison commented on #1477
I use Agenda jobs for these at https://github.com/trustroots/trustroots — you caan check from there how I did it.

[2016-09-04 15:06] lirantal commented on #1477
Thanks

[2016-09-04 15:06] #1477 closed

[2016-09-05 00:06] danoz-direct commented on #1470
@lirantal

Apologies, I'm getting all sorts of errors when trying to get MeanJS set up on a clean [Vagrant ](https://www.vagrantup.com/)([Scotch Box](https://box.scotch.io/)) machine and running `npm install`.

I've tried a quick investigation myself to see what is happening to no avail yet...

Hence, there might be a bit of delay with me being able to make the changes I've mentioned here and subm

[2016-09-05 09:33] simison opened #1479 "Fix deprecated `$http.error()` and `$http.success()`"
https://docs.angularjs.org/api/ng/service/$http

Used at least here:
- https://github.com/meanjs/mean/blob/59e6daa63d65798886e446fc7696b6331c9e3aba/modules/users/client/controllers/settings/change-password.client.controller.js
- https://github.com/meanjs/mean/blob/c95bd7d1cb0c6e651f82b2b4cfa4e937d4dcf154/modules/users/client/controllers/settings/manage-social-accounts.client.controller.js
- https:

[2016-09-05 09:34] simison commented on #1479
Happy if someone else would have the time to do a PR. :P

[2016-09-05 10:37] mleanos commented on #1479
I'm on it! This has been in the back of my mind for a while. Thanks Mikael.

[2016-09-05 12:12] simison commented on #1479
@mleanos you might wanna have a look at this:
* https://github.com/Trustroots/trustroots/blob/master/gulpfile.js#L198-L208
* https://github.com/Trustroots/trustroots/blob/master/.eslintrc-angular.js#L22
 — it's a eslint gulp task for Angular stuff only.

[2016-09-05 18:03] lirantal commented on #1470
@danoz-direct no problems.
what about spinning up the docker instance?

[2016-09-05 18:34] amejiarosario opened #1481 "Angular 2?"

[2016-09-05 18:36] lirantal commented on #1481
Stay tuned! :)

@amanmavai what's your experience level with that and would you want to work on getting it to happen?

[2016-09-05 20:20] Brian1111 commented on #1441
@lirantal Can you ask Bluemix engineers to fix this?  I use mean-0.4.2 only on Bluemix as it is much faster than Heroku.  Is it possible that the problem is caused because mean-0.5.0 uses gulp instead of grunt?

[2016-09-05 20:28] simison commented on #1441
@Brian1111 could you? ;-)

[2016-09-05 20:45] simison commented on #1470
@danoz-direct `NPM install` tends to fail on Vagrant due symlink issues. Add `-–no-bin-link` or use [sympm).](https://github.com/ezekg/sympm).

[2016-09-06 02:00] danoz-direct commented on #1470
Thanks @lirantal & @simison,

The errors more relate to protractor/selenium and the E2E tests. The first thing I want to do is ensure that I can get meanjs installed and running on a clean machine with all tests passing.

Minor oversight on my behalf, I spun up a VM that didn't have the necessary dependencies for protractor/selenium (i.e. openJDK, chrome, etc.)

@lirantal, I'll have a go at spinni

[2016-09-06 04:16] danoz-direct opened #1482 "Remove unused parameter from function logger.setupFileLogger"
Hi there,

Suggesting removal of an unused paramater in [mean/config/lib/logger.js](https://github.com/meanjs/mean/blob/c8cbcd326f4ab4253a090fbafc2d0af336471258/config/lib/logger.js)

Down in the function `logger.setupFileLogger = function setupFileLogger(options) {`

Notice the function parameter `options`?

- It isn't used anywhere within that function.
- At [the one place where logger.setupFile

[2016-09-06 09:20] frkwhiteangel opened #1483 "new version"
any idea when the new release is comming? since its 90% done.

[2016-09-06 10:33] lirantal commented on #1483
Yep, a few more PRs to merge and we're good.

[2016-09-06 10:34] frkwhiteangel commented on #1483
So 1 month?

Im really wanting for update to update the rendered view

Den tirsdag 6. september 2016 skrev Liran Tal <notifications@github.com>
følgende:

[2016-09-06 10:39] lirantal commented on #1483
I think we can release within a few weeks already in September.

[2016-09-06 10:40] frkwhiteangel commented on #1483
Great!

Could you already spoon feed how it's supposed to work regarding update
variables in the rendered view from results in a modules controller ?

Den tirsdag 6. september 2016 skrev Liran Tal <notifications@github.com>
følgende:

[2016-09-06 10:57] lirantal commented on #1483
You mean with regards to the handlebars update?
Exactly the same. Take a look at the main layout file in the core module's server views directory.

[2016-09-06 12:44] frkwhiteangel commented on #1483
I mean the update where you can change variables that loaded in the render,
outside the U.K.-view with info loaded in a ui-view controller if you know
what I mean

Den tirsdag 6. september 2016 skrev Liran Tal <notifications@github.com>
følgende:

[2016-09-06 12:44] frkwhiteangel commented on #1483
Ment ui-view *

Den tirsdag 6. september 2016 skrev Malin Pedersen <
frk.malin.pedersen@gmail.com> følgende:

[2016-09-06 13:30] simison commented on #1483
This was the same questions as #1473 I suppose. I still don't understand what are you exactly asking, though. :-/ Mind elaborating a bit more?

[2016-09-06 15:25] hyperreality commented on #1482
I think it's customary to leave such parameters in, just to make clear to future readers of the code that options can be passed to the function.

[2016-09-06 15:52] frkwhiteangel commented on #1483
Why did you add it to the milestone then ?

Anyway, you remember that the view is rendered one time in the core, right
with the view?
And then the view is creating the U.i-view where all the info comes on
router change, right ?

I'm in need for a way, to update variables I'm using in the rendered view,
with info from one of the modules controller.

Let's say I'm in the rendered view that the core

[2016-09-06 15:56] simison commented on #1483
I see. You can access those variables from template (e.g. `var user = ...`) using `$window`, e.g. `$window.user`.

[2016-09-06 15:58] frkwhiteangel commented on #1483
May I update the variable using window too?

Any other ways?

How could I for example make a query that would run to update it no matter
of what module I'm visiting?

Den tirsdag 6. september 2016 skrev Mikael Korpela <notifications@github.com>
følgende:

[2016-09-06 16:44] mleanos commented on #1482
There was some work done with this functionality recently, to clean up the implementation.

https://github.com/meanjs/mean/commit/c8cbcd326f4ab4253a090fbafc2d0af336471258

The support for passing options was left in place, so perhaps this was just missed. We could pass in the options here: https://github.com/meanjs/mean/blob/c8cbcd326f4ab4253a090fbafc2d0af336471258/config/lib/logger.js#L44

@liran

[2016-09-06 16:47] frkwhiteangel commented on #1483
i tried to update $window.user.cash to 20, but the site wont relfect the
changes.

2016-09-06 17:58 GMT+02:00 Malin Pedersen <frk.malin.pedersen@gmail.com>:

[2016-09-06 17:40] simison commented on #1483
Yeah sorry, forgot to mention that `$window.user` is already accessible trough a service called `Authentication`. So require it for your controller [like this](https://github.com/meanjs/mean/blob/master/modules/users/client/controllers/password.client.controller.js#L8-L10) and then set `Authentication.user.cash = 20;`. If you want to reflect that at the current controller's scope, you need to expo

[2016-09-06 17:43] frkwhiteangel commented on #1483
So If i set audentication.user.cash IT Would be reflected in The rendered
view where i USE {{ user.cash }} ?

Den tirsdag 6. september 2016 skrev Mikael Korpela <notifications@github.com>
følgende:

[2016-09-06 17:54] simison commented on #1483
Just play around and check how it's done at controllers here: https://github.com/meanjs/mean/tree/master/modules/users/client/controllers ;-)

[2016-09-06 18:39] frkwhiteangel commented on #1483
hi again. tried audentication.user.cash = 20, but that wont be reflected
right away on the rendered view. any idea how to make it work?

2016-09-06 19:43 GMT+02:00 Malin Pedersen <frk.malin.pedersen@gmail.com>:

[2016-09-06 18:46] lirantal commented on #1483
The template variable that gets rendered in the view comes from express. Whatever you may set it to from the client side later on will obviously get re-written and back to whatever it was set to in a new page load.

I'm also a bit confused as to what you're trying to ask exactly.

[2016-09-06 18:49] lirantal commented on #1482
Looked at it but I can't remember why I left it there. If it's unused then we can move it out.

[2016-09-06 18:55] frkwhiteangel commented on #1483
my core / server file:

[code]

http://prntscr.com/cex7l1 is how my site looks.
everything in white there, is the different ui-view, while the black areas, is the rendered one.

inside the ui-view,  i want to update where the layout says " Penger : 100000465 kr ", so i would like it to change the amount of penger, in this case:

<p class="header-item"><span style="cursor: pointer;"><b>Penger
		:</

[2016-09-06 18:55] lirantal commented on #1470
@danoz-direct I personally use the project's Docker file/compose setup to develop locally, it's a breeze because you don't have to install anything as dependency.

1. Clone the project
2. Make sure you have the basic tools like docker, git, etc installed on your OS (hopefully Linux based)
3. cd into the project and run `docker-compose up -d` which will take some time to build the image for you

th

[2016-09-06 20:21] simison commented on #1483
You need to first tell the backend that the new user model should be saved to the database, like this: https://github.com/meanjs/mean/blob/master/modules/users/client/controllers/settings/edit-profile.client.controller.js

[2016-09-06 20:25] frkwhiteangel commented on #1483
Im intrested to know how I can reflect it right away in the site because
it's triggered from client .

I could take a longer discussion with you if you want .

Another question : is it easy to broadcast server sided to the client ? To
be more specific , to broadcast with socket within a function ( from a
server sides factory )?

Den tirsdag 6. september 2016 skrev Mikael Korpela <notifications@git

[2016-09-06 20:34] frkwhiteangel commented on #1483
I'm in no need to update server sides regarding my first question , only to
reflect it client sided with results from a module controller , without the
need to actually reload the page.

Den tirsdag 6. september 2016 skrev Malin Pedersen <
frk.malin.pedersen@gmail.com> følgende:

[2016-09-06 20:36] simison commented on #1483
Then this:

Or just `vm.user.cash = 20;` — if you don't have to save that to the DB, then that's enough.

...and some studying how Angular's scopes work: https://docs.angularjs.org/guide/scope ;-)

[2016-09-06 20:40] frkwhiteangel commented on #1483
I want to reflect it wise versa . I want to reflect it FROM the controller
to the rendered view, that for now have to be forced with a reload .

Isn't it possible to make a core controller to run on the rendered view to
the changes would be reflected in the rendered view right away? Or some
solution ?

Den tirsdag 6. september 2016 skrev Mikael Korpela <notifications@github.com>
følgende:

[2016-09-06 20:43] wangmeng commented on #1441
@Brian1111 I have reopened the issue you raised for Bluemix, will follow up that one.
@lirantal @simison I will update the progress later, if any proper solution.
Thanks

[2016-09-06 21:57] #1481 closed

[2016-09-06 21:58] #1475 closed

[2016-09-06 21:58] #1473 closed

[2016-09-06 22:00] lirantal commented on #1459
`--debug-brk` for grunt will not work as it's not passing this by to anything else so it won't work.
What are you trying to do exactly? why `grunt debug` isn't working for you?
Also can you look at `gulp` and its set of tasks instead of grunt which will be deprecated very very soon.

[2016-09-06 22:01] lirantal commented on #1453
@soupman99 yep it's clear, there's no gulp file there.
Let me investigate the dockerfile for production again.

[2016-09-06 22:09] lirantal commented on #1453
Even though `gulp` itself isn't being installed as a library in the project due to the `--production` npm mode, the `dockerfile-production` still shows that gulp is installed globally and should be found: https://github.com/meanjs/mean/blob/master/Dockerfile-production#L25

Can you open a shell in the container to test if gulp is indeed available as a global command?
You can do it by running: `doc

[2016-09-07 01:28] Brian1111 commented on #1441
I just got an email from Bluemix in which they said they will investigate the issue.

[2016-09-07 02:02] Brian1111 commented on #1441
@lirantal @simison Wang Meng is an engineer from Bluemix who was in contact with me through email.

[2016-09-07 07:10] simison commented on #1482
btw shouldn't eslint catch un-used parameters?

[2016-09-07 08:41] shanavas786 opened #1484 "Writing tests for socket server"
How to write socket io server test cases.

this is what I tried and failed.

[code]

in before hook
[code]
and test
[code]

Test just times out with no console output. Am I missing something ?

EDIT
----------
added
[code]
in before hook. no effect.

[2016-09-07 11:48] shanavas786 commented on #1484
Fixed it.
with `app.listen` and moving `socket.disconnect` to callback of connect event, it worked.

[2016-09-07 11:48] #1484 closed

[2016-09-07 15:36] FedeG commented on #1453
@soupman99. If you want use gulp in a npm command, you will be install gulp local (and gulp tasks) or install dev-dependencies.
@lirantal. We ran successfully this compose because we have a node_modules installed in local machine and the repo hasn't a .dockerignore.

@lirantal. Can we switch gulp and gulp tasks to dependencies? (if you want, I do today and i add the .dockerignore.  Also i update t

[2016-09-07 17:07] mleanos commented on #1484
Can you share your overall solution for testing SocketIO? This is a server test right?

[2016-09-07 18:57] lirantal commented on #1453
@soupman99 can you please test my PR (linked to this open issue) with the modified dockerfile-production and let me know how that goes?

[2016-09-07 18:57] lirantal commented on #1453
@FedeG I don't want to move gulp and gulp-tasks to dependencies because some installs may not use gulp at all for their production environments.

[2016-09-07 19:31] lirantal commented on #1482
No, because it's disabled.

[2016-09-07 20:21] simison commented on #1482
I'd say error. Others?

[2016-09-07 20:22] simison commented on #1453
@lirantal wait, isn't gulp needed for building production assets, too?

[2016-09-07 20:43] lirantal commented on #1453
right, which is why I'm saying that it isn't needed to add it in the dependencies section

[2016-09-07 20:48] lirantal commented on #1441
Cool, so let's figure it out and we can re-open this issue when it becomes more clear as to resolving the problem.

[2016-09-07 21:04] mleanos commented on #1482
We should add the options to this call: https://github.com/meanjs/mean/blob/c8cbcd326f4ab4253a090fbafc2d0af336471258/config/lib/logger.js#L44

We need to provide the option for our users to pass in their own configuration for Winston to `logger.setupFileLogger`. For this to work as expected, we'd need to update this portion to "extend" (merge) the settings passed in as the `options` param & then e

[2016-09-07 21:27] mleanos commented on #1484
@shanavas786 See the work done here, that wasn't merged in. We were waiting for a version of the socketio package to be released/added-to-npm.

https://github.com/meanjs/mean/pull/865

Do you think you could help out with this effort? I completely lost track of that PR, so I haven't done any more work on it.

[2016-09-08 05:21] jcgertig opened #1488 "Chat does not work without a user logged in"
I looked through and I cant find where the sockets get turned off if there is no user. It will not even connect with out a user.

[2016-09-08 05:22] jcgertig commented on #1488
I have a use case where I need sockets on even with out a user.

[2016-09-08 05:42] jcgertig commented on #1488
Found it  :|

[2016-09-08 05:42] #1488 closed

[2016-09-08 06:38] shanavas786 commented on #1484
@mleanos
Here is a basic test case [gist](https://gist.github.com/shanavas786/c8243b150ec742dbd8b75f660ae6a355) written for our project which doesn't use express session (RESTful).

Sure :). I thought about it when I saw empty [chat.socket.tests.js](https://github.com/meanjs/mean/blob/master/modules/chat/tests/server/chat.socket.tests.js).
But I am afraid if I get enough spare time for next two we

[2016-09-08 10:01] lirantal commented on #1482
Good points @mleanos, I'll take a look.

[2016-09-08 10:10] lirantal commented on #1482
Setting no-unused-vars will hiccup quite a bit on issues so that's probably not the time to enable it:
[code]

[2016-09-08 10:15] mleanos commented on #1482
Ok. Definitely not the time to enable. We'll have to look at these later. Probably after 0.5.0 is released.

[2016-09-08 14:54] FedeG commented on #1453
@lirantal, I tests your PR: build successfully and image run successfully.

[2016-09-08 14:59] FedeG commented on #1453
In my fork, i'm testing a new dockerfile for #1468.

[2016-09-08 16:12] lirantal commented on #1453
Great, I'll go ahead and merge it then.

[2016-09-08 16:12] #1453 closed

[2016-09-08 18:34] Valm1980 opened #1492 "Haven't debug yet, however social login buttons don't work on mobile browers."
They render fine, however attempting to click on them in Firefox/Chrome on mobile devices don't seem to redirect. Work fine in regular desktop browsers.

On Android Kitkat / No Adblockers which sometimes interferes with img/buttons which contains social names.

[2016-09-08 18:52] lirantal commented on #1492
cc @hyperreality

[2016-09-09 10:52] frkwhiteangel commented on #1483
If You GOT What i mean

[2016-09-09 21:53] hyperreality commented on #1492
Hi @Valm1980, this is something which I think got fixed recently, I can't reproduce it on either Android or iPhone using the latest build.

However in the meantime I did discover that the social buttons don't display nicely on the tiny screen of the iPhone, @lirantal do you have any objection to cutting them down to 80% size? I think they are too large on desktop also.

[2016-09-09 22:28] Valm1980 commented on #1492
I can confirm it is working with latest git clone from source.

[2016-09-09 22:59] hyperreality commented on #1475
Fixed #1496

Gotta hate Javascript sometimes ;)

[2016-09-10 01:49] richjava opened #1497 "Save method not adding user"
I recently added a new CRUD module (called "projects") to my app using Yeoman and needed to add a line (see below) in the projects.client.controller save method to get CRUD functionality to work as expected. Is there something I'm missing?

[code]

[2016-09-10 02:04] mleanos commented on #1497
You should be setting `project.user` in your server controller. I'm surprised that your `project` didn't save without the referenced User. Perhaps it's a required field?

[2016-09-10 02:23] richjava commented on #1497
My mistake. I had commented out the setting of the user in the server controller because I was getting a "Cast to ObjectId failed for value "[object Object]" at path "_id"" error for some reason, but it seems fine now. Thanks!

[2016-09-10 02:23] #1497 closed

[2016-09-10 02:40] mleanos commented on #1492
@hyperreality Feel free to submit a PR. It sounds like a small cosmetic change, and just as long as it looks good, and works, I'm sure we'll merge it right in :)

[2016-09-10 14:58] lirantal commented on #1492
@hyperreality https://github.com/meanjs/mean/pull/1499 fixes this, right?

[2016-09-10 15:20] hyperreality commented on #1492
@lirantal The issue was already fixed, #1499 just adds further improvements

[2016-09-10 16:50] lirantal commented on #1492
Thanks :+1:

[2016-09-11 19:15] mleanos commented on #1492
@lirantal I think this can be closed.

[2016-09-11 19:23] mleanos commented on #1482
@lirantal We won't add the eslint option right now, but I think we should add `options` to the call here: https://github.com/meanjs/mean/blob/c8cbcd326f4ab4253a090fbafc2d0af336471258/config/lib/logger.js#L44

I consider this a bug, since our "interface" of the logger service allows for the passing of the options but is never applied.

[2016-09-12 17:03] hyperreality opened #1502 "Header controller doesn't update params after sign-in"
This may be related to this super old issue #187.

The issue concerns adding parameters to the dropdown account menu. In my case I wanted a dynamic link to a user's profile.

The problem: after sign-in, params placed in `header.client.view.html` will point to the correct places, but param properties in the account menu object created from `core.client.menus.js` will not be updated. This is because

[2016-09-12 19:07] frkwhiteangel opened #1503 "socket emit"
why wont this work?

` module.exports = function (app, io, socket) {
        io.emit('bankmessage', {test : 22});

  app.get("api/bank", function(req,res) {
        var object = ['test'];
        res.json(object);
    });
});`

is it any other way to support emits within all exports?

[2016-09-12 20:17] #1492 closed

[2016-09-13 15:03] o1lab commented on #1290
Thank you @thodinh

[2016-09-13 15:17] hyperreality commented on #1204
If anyone finds this it should be simple to implement, look something like this:

Add this to the signup username form (along with a relevant ng-message):
`ng-pattern="/^[a-zA-Z0-9_]*$/"`

And on the mongoose model add a custom validator:

`var validateUsername = function (username) {
  return validator.matches(username, /^[a-z0-9_]*$/);
};`

[2016-09-13 16:29] hyperreality opened #1504 "Error handling for articles"
Invalid articles currently go to a blank page, rather than the correct error page. The 400 or 404 errors are sent from the server, they're just not dealt with on the client-side. I don't have the time to fix it up and test it now but I think the below is a start, in `articles.client.routes.js` (or perhaps it should go into the controller although I don't think the controller is ever reached if the

[2016-09-13 17:32] frkwhiteangel opened #1505 "new login page"
Is it possible to make a totally new login page, not rendered with the orginal one?

[2016-09-14 01:27] 19r3ka opened #1506 "config.domain Vs. config.app.domain"
Hi all,

Going through the code, these lines kinda bugged me:

`var validateDomainIsSet = function (config) {
  if (!config.app.domain) {
    console.log(chalk.red('+ Important warning: config.domain is empty. It should be set to the fully qualified domain of the app.'));
  }
};`

is `domain` a key on the nested app object? Because judging by the following **important warning**, it is a key on the

[2016-09-14 11:43] hyperreality commented on #1506
Looks like a bug, submit a PR :)

[2016-09-14 22:42] et-taousy opened #1507 "Failed at the meanjs@0.5.0-beta start script"
hi there i followed all steps but i get some errors when i come to start npm:
`npm ERR! Linux 3.10.0-327.18.2.el7.x86_64
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v6.4.0
npm ERR! npm  v3.10.3
npm ERR! code ELIFECYCLE
npm ERR! meanjs@0.5.0-beta start: `gulp`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the meanjs@0.5.0-beta start script 'gulp'.
npm ERR! Ma

[2016-09-14 23:46] hyperreality commented on #1507
Try running Gulp directly `gulp` in the project and look at the error message.

It could be caused by the fact that you're using a super up-to-date node version and one of the gulp dependencies doesn't support it yet.

[2016-09-15 02:17] mleanos commented on #1505
I'm not sure what you mean by "not rendered with the original one", but you can just create a new view and reference it in the route config.

[2016-09-15 02:34] mleanos commented on #1504
We're already returning a 404 from the server when an [Article isn't found](https://github.com/meanjs/mean/blob/master/modules/articles/server/controllers/articles.server.controller.js#L110). So we just need to add a 404 handler [here](https://github.com/meanjs/mean/blob/master/modules/core/client/services/interceptors/auth-interceptor.client.service.js) to send the user to a 404 view. So this sho

[2016-09-15 08:31] frkwhiteangel commented on #1505
i try to do:

[code]

my load_login:

[code]

my login:

[code]

when i visit the page url//authentication/signin

the site is empty. anyone know why?

[2016-09-15 09:38] frkwhiteangel commented on #1505
view-source:http://178.62.5.64:3000/authentication/signin

for some reason it wont work / or show any views.

[2016-09-15 10:03] et-taousy commented on #1507
Node version : 6.4.0
Npm vercion : 3.10.3

when i'm running gulp i got this issue :

`[06:02:50] Using gulpfile /usr/share/nginx/html/www.vipco.fr/gulpfile.js
[06:02:50] Starting 'default'...
[06:02:50] Starting 'env:dev'...
[06:02:50] Finished 'env:dev' after 135 μs
[06:02:50] Starting 'copyLocalEnvConfig'...
[06:02:50] Starting 'makeUploadsDir'...
[06:02:50] Finished 'makeUploadsDir' after 303 μ

[2016-09-15 12:18] hyperreality commented on #1507
It might be that your UNIX permissions aren't set up correctly because you are running things straight out of /usr/

Try running the project out of your home directory instead.

[2016-09-15 12:27] hyperreality commented on #1504
Indeed, that appears to do the trick. However, that approach does have a couple of issues.

1. The error message is generic, as opposed to preserving the "Article not found" error message sent from the server.
2. The back button breaks - the previous page just sends you directly back to the error state.

[2016-09-15 12:31] Xyroid opened #1509 "Include asset versioning"
Since MEAN app depend heavily on Javascript files, it would be better if assets like CSS, JS and image files are versioned if they are changed. It helps it busting cache issues. In ASP.NET bundling provide minification and versioning. I was searching the same for MEAN and reached to [gulp-rev](https://github.com/sindresorhus/gulp-rev) npm module. But I am new to MEAN and I find it hard to integrat

[2016-09-15 15:44] frkwhiteangel opened #1511 "Body ng controller"
Could anyone spoonfeed me to how to Get a <Body ng-controller=Homecontroller"> to work ?

[2016-09-15 19:09] mleanos commented on #1511
What have you tried? And what context do you need this applied?

We're using nested views, so you should be adding `<section>`'s to your views & adding the `ng-controller` attribute to that.

Why not just follow the examples that exist in the current MEANJS framework? We don't add the `ng-controller` attribute to the views. These are specified in the angular UI-router configurations; e.g. [Home vi

[2016-09-15 20:15] frkwhiteangel commented on #1511
Im trying to connect a controller to the body, to allow elements to be used on the whole site, and not be controlled by each invidivual page.

I am using the :
[code]

for the individual pages, but i need one other to control all the other elements outside of the section(s). if you got what i mean?

[2016-09-15 20:28] mleanos commented on #1511
You can do something similar to this: https://github.com/meanjs/mean/blob/master/modules/core/server/views/layout.server.view.html#L39

Or you could add a directive to the the server layout view, that encompasses your functionality. I ended up doing this for client-side Notifications in my own project.

[2016-09-15 20:36] frkwhiteangel commented on #1511
Could You share some more?

Btw, with the linked example, I could do something like that in the body too?

[2016-09-15 20:56] mleanos commented on #1511
You could include a client-side template just like what we're doing with the header. Although, I would recommend using a directive over that approach. Does your functionality have persistent UI elements? Meaning you would have a html view.

[2016-09-16 04:03] frkwhiteangel commented on #1511
Yes IT do.

How Would The direktive be ?

[2016-09-16 04:35] frkwhiteangel commented on #1511
I do have 3 html sections befare The normal section snd 2 after in The view i Would need to manipulate

[2016-09-16 07:30] frkwhiteangel opened #1514 "cannot find module bl"
[code]

any reason? im getting that no matter what :P

[2016-09-16 08:09] frkwhiteangel commented on #1511
https://github.com/meanjs/mean/blob/master/modules/core/server/views/layout.server.view.html#L39

but that wouldnt be dynamically updated if i updated some settings in the Home controller?

[2016-09-16 13:55] Eswan opened #1515 ""Gulp build" removes assets from production.js"
(Sorry for my english)

I just finished my Mean.JS application and i try to pull it in production mode on my web server.

When i try to run "grunt prod" or "gulp prod", it removes some assets from my production.js and default.js files like jquery.js or bootstrap.js before build, so my website doesn't work properly.

Thanks for help

[2016-09-16 19:33] lirantal commented on #1515
@Eswan we're deprecating Grunt for Gulp so can you please describe the problem better with sharing the code you've added that gets removed?

[2016-09-16 22:40] lirantal commented on #1514
That doesn't make a lot of sense.
Does it still happen? can you share more background?

[2016-09-16 22:55] lirantal commented on #1509
Hi @Xyroid

That's a great idea and that plugin should be exactly what we need.
If you're able to figure out how to write this in our `gulpfile.js` configuration then I'd be happy to see a PR opened.

[2016-09-16 22:59] lirantal commented on #1507
Are you sure you have cloned the repository properly? make sure you run `npm install` again and indeed check your permissions correctly.

[2016-09-17 05:50] mleanos commented on #1511
What exactly are you trying to accomplish?

My guess is that a directive is exactly what you need. There are plenty of examples on the web for implementing directives, and we have some in this framework. It shouldn't be difficult.

[2016-09-17 05:54] frkwhiteangel commented on #1511
Im trying to acconplish to frequently update a lot of the HTML elements
outside of the section up view .

In the normal case with body ng controller I would use it as a regular
controller to update elements in the body, that is not controlled by any of
the young views .

Made that any sense or do you want me to take a picture and explain in
details ?

Den lørdag 17. september 2016 skrev Michael Le

[2016-09-17 06:43] frkwhiteangel commented on #1511
example with what you said.

layout:
`
`<div ng-include="'/modules/core/client/views/header.client.view.html'"></div>`
`

controller:

[code]

view:

[code]

on site: http://prntscr.com/ciyzlm

[2016-09-17 09:34] Eswan commented on #1515
Here is my production.js asset file before i run "gulp prod" command : http://hpics.li/f8feeaf

Then after i run this command : http://hpics.li/07f8dec

As you can see, theses two lines has been removed from js assets :
'public/lib/jquery/dist/jquery.min.js',
'public/lib/bootstrap/dist/js/bootstrap.min.js',

jQuery and Bootstrap aren't include in application.min.js so i have multiples error like "

[2016-09-17 15:34] Wuntenn commented on #1511
@frkwhiteangel if you do `var aux = this` within your controller, aux will be the scope. So when you do:
[code]
Read this: https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y031

To make things a little easier you should use `controllerAs` and use `var vm = <somevar>` so that when you're using the controller the connection is more visible. Only inject scope where you ne

[2016-09-17 15:39] lirantal commented on #1482
@mleanos I know what you're talking about but to be honest fixing that `options` argument to be passed wouldn't matter that much because the logger anyway gets called as `logger.setupFileLogger({});` internally in the logger library.

[2016-09-17 15:40] lirantal commented on #1482
I'll clean that part up but because anyway the log options are taken from the config object it doesn't seem to make sense to pass more options to it.

[2016-09-17 16:04] Eswan commented on #1515
I just resolved my problem by adding bootstrap and jquery in "overrides" attribute in bower.json

[2016-09-17 16:04] #1515 closed

[2016-09-17 18:43] lirantal commented on #1515
Thanks for the update @Eswan

[2016-09-17 19:05] #1479 closed

[2016-09-17 21:39] mleanos commented on #1482
@lirantal I was more referring to how the `getLogOptions(configOptions)` method accepts a `config` parameter, and since we're passing `options` into `setupFileLogger(options)`, then we should "merge" the environment config & the provided `configOptions` here: https://github.com/meanjs/mean/blob/c8cbcd326f4ab4253a090fbafc2d0af336471258/config/lib/logger.js#L79

This way if any of our users want to

[2016-09-18 06:24] shanavas786 commented on #1503
In which file is this code ?

[2016-09-18 08:26] frkwhiteangel commented on #1503
In sone of the controller server sided.

Or the route server sided in a module

[2016-09-18 11:58] #1514 closed

[2016-09-18 12:23] frkwhiteangel opened #1517 "console logging"
` POST /api/bank?amount=1&type=ut 200 34.415 ms - 626`

how can i remove all post and get that appears in the console?

[2016-09-18 12:41] frkwhiteangel commented on #1511
i did do include https://github.com/meanjs/mean/blob/master/modules/core/server/views/layout.server.view.html#L39

and made my own with a differnt name, so using two.
but one of them always fails

`angular.js:13920 Error: [ng:areq] Argument 'dataController' is not a function, got undefined`

[code]

`<div ng-include="'/modules/core/client/views/infobar.client.view.html'" class=""></div>
`
[code]

[2016-09-18 12:48] frkwhiteangel opened #1518 "core.client.route-filter"
im trying to remove the guest state.

`   for (var i = 0, roles = toState.data.roles; i < roles.length; i++) {
          if ((Authentication.user && Authentication.user.roles !== undefined && Authentication.user.roles.indexOf(roles[i]) !== -1)) {
            allowed = false;
            console.log("------------------- truee --------------------------");
            break;
          }
        }`

[2016-09-18 17:17] hyperreality opened #1520 "Multiple Coveralls notifications"
Could it be caused by the fact that we are not doing this? https://coveralls.zendesk.com/hc/en-us/articles/203484329-Parallel-Build-Webhook And multiple builds are sending their results to Coveralls.

We'd also need to update node-coveralls to a newer version, current version is 2.11.13, we have 2.11.6 which was before support for parallel builds was added.

[2016-09-18 17:22] lirantal commented on #1520
@hyperreality can you open a PR for the coveralls version?

[2016-09-18 17:24] lirantal commented on #1520
Can you also include the travis setup as they provide? seems like we need to put a token there and I remember there's a way to build with secret parameters

[2016-09-18 17:29] lirantal commented on #1482
@mleanos I get what you mean but externally calling `logger.setupFileLogger({myOptions})` isn't going to setup a different and custom file logger because that function is not a singleton, it will just try to add another custom logger, in addition to whatever was instantiated already (which might seem like a feature but I don't think this is what we intended).

See what I mean? Do you think it's st

[2016-09-18 18:38] mleanos commented on #1482
I didn't mean that it would be called externally. Someone could pass options directly on this exact line in the logger file, instead of passing an empty object: https://github.com/meanjs/mean/blob/c8cbcd326f4ab4253a090fbafc2d0af336471258/config/lib/logger.js#L144

I'm ok with just having you clean it up. As it's not a critical issue to me.

[2016-09-19 08:56] #1505 closed

[2016-09-19 18:13] lirantal commented on #1482
@mleanos I'm not trying to run around the tree, I value your feedback, but my thinking is that this kind of change that someone will make will cause them conflicts in future syncs with the project so it's probably one of the framework setups that people usually tend not to change.

Let's clean it up first and can further refactor after 0.5.0, you're most welcome to also offer the change :)

[2016-09-19 19:09] mleanos commented on #1482
I agree.

This isn't a big deal to me, just thought it would be a convenience. However, any persistent settings can just be added to the *default* env config. So in the end, I don't see this very useful either. I guess I just figured that since the `options` parameter was there, it should do something. Let's just clean that up.

[2016-09-19 21:15] lirantal commented on #1482
Cool, thanks for futher confirming :+1:

[2016-09-19 21:15] #1482 closed

[2016-09-22 17:12] hyperreality commented on #1520
@lirantal Apologies, I anticipate being very busy for the next few weeks, can't look at this right now.

[2016-09-23 00:19] codydaig commented on #1520
Just throwing this out there: Can we disable comments all together? I find them very annoying since it's already displayed in the CI portion.

[2016-09-23 02:20] hyperreality commented on #1520
Good call, it's just a quick fix in the Coveralls settings.

[2016-09-23 04:42] Valm1980 opened #1522 "Running MeanJs on production in both SSL & non SSL mode."
I am having issues making meanjs app respond to both ssl & non ssl connections. I want to be able to force all incoming connections on port 80 to ssl, so, I've added the following logic to "express.js":

`module.exports.forceSecureConnection = function (app) {
  var redirectToSecuredConnection = function(req, res) {
    res.redirect('https://' + req.headers.host.replace(/^www\./, '') + req.url);

[2016-09-24 03:29] sanathpathiraja opened #1524 "layout.server.view.html in not loading angular controller"
I used angular directive ng-if in layout.server.view.html but it not working.
because controller not loading.

added ng-controller="HeaderController" in body tag.

help me.
thanks

[2016-09-24 22:54] arulananth opened #1525 "New Modules File Upload any one help me"
Hi
![github1](https://cloud.githubusercontent.com/assets/2954403/18811743/f4024104-82c2-11e6-80db-6efaa7658c3b.png)
![github2](https://cloud.githubusercontent.com/assets/2954403/18811744/f4053e04-82c2-11e6-9013-a8e42b01c779.png)

I created new modules is properties.

When i try to upload files  response error Property is invalid (404 bad request).

my  server controller

  exports.newaddPicture =

[2016-09-24 23:15] sujeethk commented on #1518
Why not simply update the policies for the routes? For server side API set data.roles in the server policies file articles.server.policy.js to have only user and/or admin. And for client side update articles.client.routes.js and core.client.routes.js to set data.roles with only user and/or admin. This should prevent guest access on the API and the client routes and redirect the user to signin page

[2016-09-24 23:26] sujeethk commented on #1517
they wont appear on the console when you run in production env. For dev you can uncomment the stream options in the env config file and that will log to file instead. If you were looking to not log at all, then comment the morgan middleware. But it is recommended to always have logs in case you need to debug an issue or know when something's not working right.

[2016-09-25 00:03] sujeethk opened #1526 "start failed with node v0.12.0"
Fails with the below error:
`\mean\node_modules\imagemin-pngquant\index.js:2
const execBuffer = require('exec-buffer');
^^^^^
SyntaxError: Use of const in strict mode.`

const is an ES2015 feature and failed on 0.12.0.
Why not update package file for node version to use LTS 4.5.0 or even to v6.x since it will be LTS starting october.

[2016-09-25 00:05] sujeethk commented on #1526
Upgrading to >=v4.5 will also help remove the mongoose mpromise deprecation message by overriding mpromise to use ES2015 promise. thoughts?

[2016-09-25 00:55] arulananth commented on #1525
I have do  change any other files?

[2016-09-25 03:53] richjava commented on #1359
I'm getting the same errors, so it doesn't look like it's resolved yet.

[2016-09-25 15:11] Wats0ns opened #1527 "ENOENT: .csslintrc"
Getting the `Error: ENOENT: no such file or directory, open '.csslintrc'` when doing an `npm install`

[2016-09-25 16:58] frkwhiteangel commented on #1518
Because i dont USE the policies cause i couldnt make Them work with post requests

[2016-09-26 16:08] Eswan opened #1528 "SEO issue - Dynamic titles"
Hello everyone,

I have problem concerning SEO on my website : https://www.google.fr/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=site:goldnord.fr&filter=0

Google doesn't care about the title mark, it takes description meta for results titles.

Here is a page : https://goldnord.fr/vendre-mon-or/treflaouenan

As you can see, my title is generated by angularjs with page-title directive fro

[2016-09-26 20:48] dieguito151 opened #1530 "Controller from angular-ui-mention library not working"
I'm using Angular 1.5.5 and I'm trying to implement a mentions feature. I've installed `angular-ui-mention` (https://github.com/angular-ui/ui-mention) with Bower, added the library path to `/config/env/all.js`. I'm using the following directive:

[code]
`angular-ui-mention` has the `uiMention` controller defined in the library, but my directive can't seem to find it, and Angular is throwing this e

[2016-09-26 22:26] sujeethk commented on #1526
#1414 would resolve this issue. Marking as closed.

[2016-09-26 22:26] #1526 closed

[2016-09-27 18:41] hyperreality commented on #1528
It would be nice if you gave some information about why you closed this issue... did you find a solution to your problem?

[2016-09-27 20:47] dieguito151 commented on #1530
I did notice that the app server needs to be restarted for new libraries to be included in the source code. But yes, I did restart my server and it still doesn't work. Do I have to register the module, or include the path somewhere else?

[2016-09-27 23:02] hyperreality commented on #1530
I tried adding the directive to a base MEAN project, I had no problems. Let's go through a few things:
1. Why did you add the library path to `/config/env/all.js`? Are you using a super old version of MEAN.js or something? For about a year now the library path goes in `/config/assets/default.js`
2. It looks like you've got the syntax for writing the directive very wrong.

Take a look at the correc

[2016-09-28 06:25] Eswan commented on #1528
Unfortunately i didn't solve m'y problem but i did some changes on my website and i dont use page-title anymore, i use rootscope with a simple title variable. Still doesn't work i dont know why...
Google refuses to take the generated title.

[2016-09-28 11:56] Xyroid commented on #1509
Hi @lirantal I am not able to figure out regarding integrating gulp-rev npm module because I am still learning MEAN. I also don't use gulp too much. If MEANJS team can do something, that'll be awesome.

[2016-09-28 13:16] dansundy commented on #1528
I have found the same thing.

According to issue #1446 Google should be able to crawl the JS but I haven't found that to be true.

I think using [prerender.io](https://prerender.io/) or [mean-seo](https://www.npmjs.com/package/mean-seo) is still the way to go.

I would be curious if others had a definitive answer on how SEO should be handled for MEAN.js post October 2015 (which is when Google rele

[2016-09-28 13:22] simison commented on #1528
See also https://github.com/meanjs/mean-seo/issues/20

`mean-seo` isn't really maintained anymore and it [has some security issues](https://snyk.io/test/github/meanjs/mean-seo/)

[2016-09-28 14:52] dieguito151 commented on #1530
1. Indeed, I'm using an old version of MEAN.js. I'm working on a project that started almost 3 years ago (I have no idea what version this MEAN.js is), and migrating to a new version would prove to be time-consuming.

2. I just tried it that way as well and it's still not working. The problem seems to be that angular doesn't recognize the `angular-ui-mention` script, and not recognizing the `uiMen

[2016-09-28 17:28] simison commented on #1530
Did you add uiMention here:
https://github.com/meanjs/mean/blob/master/modules/core/client/app/config.js#L9 ?

[2016-09-28 19:53] dieguito151 commented on #1530
@simison Ah! That did it. Thank you very much! It makes sense now, but I didn't know where to add those dependencies.

@hyperreality Thank you so much for the help!

[2016-09-28 19:53] #1530 closed

[2016-09-28 21:52] mleanos commented on #1518
@frkwhiteangel @sujeethk There's a difference in the access granted, for users, between the server-side (ACL policy), and the client-side (route based). The latter is merely used to restrict specific client-side routes based on the User's roles.

@frkwhiteangel In your case, you would need to update your client-side route configurations to include the `{ data: roles: ['user', 'admin'] }` if you wa

[2016-09-29 10:09] Eswan commented on #1528
I solved my problem by using prerender.io, it seems Google isn't able to fully understand angular apps.

[2016-09-29 10:09] #1528 closed

[2016-09-30 04:38] sujeethk opened #1531 "Admin user able to delete self"
Admin user is able to delete self

[2016-09-30 17:09] frkwhiteangel opened #1533 "Socket emir inside functions"
Im using MEAN stack, with angularjs frontend, node backend.

Is it possible to make a socket emit call within some functions? im only intrested to emit data to the client side.

Or how pusher server sided is working, could that be done with socket too?

the client request is as follows server sided

    var bankfactory = require(path.resolve('./modules/articles/server/factory/user_factory.js'));

[2016-09-30 21:41] mleanos commented on #1233
@mg1075 @Wuntenn @sujeethk

[2016-09-30 21:55] #1274 closed

[2016-09-30 22:17] mleanos commented on #847
Fixed with #1469

[2016-09-30 22:17] #847 closed

[2016-09-30 22:18] mleanos commented on #1447
Resolved with #1463

[2016-09-30 22:18] #1447 closed

[2016-09-30 22:19] mleanos commented on #1448
Resolved with #1463

[2016-09-30 22:19] #1448 closed

[2016-10-01 06:23] sujeethk opened #1537 "bad request for non-existent image file"
Manage social accounts settings page currently does one bad request for a non-existent file.

![image](https://cloud.githubusercontent.com/assets/19917701/19012237/a89cd07a-877d-11e6-987e-8a62b1fbca59.png)

This needs to change on L6 of manage-social-accounts.client.view.html:
`<img ng-src="/modules/users/client/img/buttons/{{vm.user.provider}}.png">`
to:
`<img ng-src="{{vm.user.provider === 'loca

[2016-10-01 19:17] #1531 closed

[2016-10-01 21:13] mleanos commented on #1537
I've seen this before. Definitely a bug.

The real issue is the DOM is trying to load this non-existent image because the container is only hidden but still loaded into the DOM.

We should change the condition on [that DIV](https://github.com/meanjs/mean/blob/master/modules/users/client/views/settings/manage-social-accounts.client.view.html#L5) to use `ng-if`:
[code]

[2016-10-01 21:27] sujeethk commented on #1537
For some reason when i tried ng-if last night it wasn't working. I retried on a fresh copy of master and ng-if now and it works fine. Maybe i was doing something stupid

[2016-10-02 00:18] #1537 closed

[2016-10-02 00:28] mleanos commented on #1533
@frkwhiteangel See this discussion for insight, and options: https://github.com/meanjs/mean/issues/1114

[2016-10-02 09:17] frkwhiteangel opened #1539 "On route change"
Is Ir possible to detect route changes server sided ? I'm in need to do some database queries when the user is navigating to a new page / route.

[2016-10-02 11:10] #1533 closed

[2016-10-02 20:01] trendzetter commented on #657
So turns out jwt is not the way to go.
I have been away from the keyboard for months because of back pains. Seems the release is taking too long and it is starting to have stagnating effect. I think we shouldn't wait much longer so we can set new targets that can motivate contributors.

[2016-10-02 22:06] mleanos opened #1540 "Lingering Bluemix/Cloud-Foundry references"
We [removed Bluemix](https://github.com/meanjs/mean/pull/1476), but we still have [the assets file](https://github.com/meanjs/mean/blob/master/config/assets/cloud-foundry.js), and [cfenv dependency](https://github.com/meanjs/mean/blob/master/package.json#L38).

I believe both can be removed. @codydaig Can you clarify that these weren't purposely left in place?

[2016-10-03 01:22] sujeethk opened #1541 "console.log in controllers"
Are these console.log in code necessary?

[users.password.server.controller.js#L65](https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.password.server.controller.js#L65)
[users.password.server.controller.js#L71](https://github.com/meanjs/mean/blob/master/modules/users/server/controllers/users/users.password.server.controller.js#L71)
[articles.client.service.js]

[2016-10-03 02:42] mleanos commented on #1541
I think the one in the Articles client-service can stay. Of course **I would** think that since I'm the one that added that code :) Since we're not handling that error internally to the service, we can output it to the console; it should make debugging/support easier. Ideally, we should handle it in some way but that would most likely vary on the project.

The other console logs you listed can be

[2016-10-03 09:11] simison commented on #1541
Tho it really should be using Angular's ['$log'](https://docs.angularjs.org/api/ng/service/$log) instead of console:
1. `$log` can be set silent from Angular configuration.
2. `console` doesn't work on some weird browsers (it's not part of standard anyway)

First two should definetely be removed, just adds garbage to logs.

[2016-10-03 18:54] codydaig commented on #1540
They are good to remove! I just accidentally missed them.

[2016-10-03 19:14] trendzetter commented on #657
A lot of bugfixing going on still. Getting it right is also important!

[2016-10-03 20:18] mleanos commented on #1541
@simison Agreed. I know you mentioned the use of `$log` before too. We should make this a standard.

[2016-10-04 23:48] mleanos commented on #657
@lirantal I've updated the task list in this issue. And as soon #1175 is merged, we just have some minor-ish PR's to wrap up; some bug fixes, and other front-end enhancements.

[2016-10-05 03:26] #1540 closed

[2016-10-06 01:10] codydaig commented on #1520
@lirantal Is this something that you can do or give @mleanos and/or I access to do?

[2016-10-06 15:48] #1509 closed

[2016-10-06 16:03] lirantal commented on #1539
Depends. If the route changes is happening on client-side routes then you can use Angular's built in route mechanism to detect it. If it's a server-side route then there are multiple ways to approach them problem such as cookie storing information about current route, or checking the HTTP referer header, just to name a few quick ones.

[2016-10-06 16:03] #1539 closed

[2016-10-06 16:07] #1518 closed

[2016-10-06 17:50] frkwhiteangel commented on #1539
How Would i do IT client sided?

[2016-10-06 17:53] frkwhiteangel commented on #1518
So by just specifying data there would grant them ? According to the articles config

[2016-10-06 18:32] frkwhiteangel commented on #1539
@lirantal another question, How Would IT be to fall a function server sided on all post requests to the server ? Im looking for a way to log everything a user do

[2016-10-06 18:43] mleanos commented on #1539
@frkwhiteangel For the client-side you can add logic to one of these events: https://github.com/meanjs/mean/blob/master/modules/core/client/config/core.client.route-filter.js#L11-L12

For the server-side, you could add a middleware to your Express server.

I caution you to be careful to not put blocking, or resource heavy, operations that would be executed on every client-side route change, and/or

[2016-10-06 18:47] frkwhiteangel commented on #1539
@mleanos Would a request to the server that logs the page visited and time into db, and for server sided to log all variables and buttons clicked be a wrong idea ? Or would it be heavy ?

[2016-10-06 19:18] mleanos commented on #1539
That's really hard for me to answer. It could depend on a lot of things. It might be more helpful for you to post this on StackOverflow.

[2016-10-07 15:21] lazzyCoderr opened #1546 "Affix functionality not working"
Has anyone been able to get the bootstrap **affix** effect to work? Or a module/add-on that gives the same functionality? I'm am in the process of converting a pure Bootstrap theme to work with angular and this has me stumped.

I've tried angular-stap but it is producing some css conflicts (overriding my css). Has anyone found something that works or have a proven custom directive etc???

[2016-10-07 19:56] lirantal commented on #1520
I disabled the comments.
I think coveralls allows only project admins to configure these settings. I didn't drill in but this is what it looks like.

[2016-10-07 19:56] #1520 closed

[2016-10-08 01:20] jpca999 opened #1550 "how do i stop these error messages on terminal ?"
![image](https://cloud.githubusercontent.com/assets/1026325/19209222/d21a6970-8cd3-11e6-8993-f00064b0c030.png)

[2016-10-08 05:03] #1504 closed

[2016-10-08 06:56] lirantal commented on #1550
That's the linting, it's purpose is to help you have a standard coding convention across the project. The point is to help you so I'm not sure why would you want to turn it off.

[2016-10-08 08:45] hyperreality commented on #1550
If you want to ignore particular rules, then edit the .eslintrc.js file.

If you really want to ignore linting altogether (but you probably shouldn't), then remove eslint from the gulp task that runs the app in gulpfile.js.

[2016-10-08 12:53] jpca999 commented on #1550
lol - I know its linking - sometimes I just wanna get shit done and then wanna come back and correct the linting errors.   I was looking for on and off for this feature.

[2016-10-08 12:53] #1550 closed

[2016-10-09 04:43] #1541 closed

[2016-10-10 11:16] trendzetter commented on #1550
It's kind of oversensitive eslint. It's marking style "errors" as syntax errors with continues to be annoying. It should be capable of differentiating but it doesn't.

[2016-10-10 18:26] jpca999 opened #1555 "when generating yo meanjs:crud-module name"
It always gives this error
 Unknown provider: menuServiceProvider <- menuService

which is easy to fix but can you make this as known issue and fix it in next version ?

[2016-10-10 23:44] isbouzidi commented on #1555
Hi, I have the same problem, after generating a crud module I got a blank page, any suggestion ? thanks

[2016-10-11 01:30] mleanos commented on #1555
See [this PR](https://github.com/meanjs/generator-meanjs/issues/250) for a solution to this issue.

Since this issue is related to the [MEANJS Yo Generator](https://github.com/meanjs/generator-meanjs), if the above fix doesn't work open a new issue in that repo.

[2016-10-11 21:10] sujeethk opened #1556 "Error handling for failed requests"
Currently if the user lost his connection or the request timed-out or the server goes down the client controllers do not handle this error as there is no response. Even if error handling is invoked res.data.message is not available, and there would be an angular error posted to the console(which the end user isn't watching). **So end user experience is that he clicks a button and waits but nothing

[2016-10-11 22:01] mleanos commented on #1556
SGTM. Can we watch for this error response in our $http Interceptor's implementation? That would be ideal.

[2016-10-11 22:40] sujeethk commented on #1556
@mleanos Ill make a PR shortly with an implementation I am testing now. It uses the Auth Interceptor.

[2016-10-12 03:27] mleanos commented on #1204
@meanjs/contributors Should we try to get this in for 0.5.0?

[2016-10-12 03:38] mleanos commented on #1260
@lirantal This [TODO](https://github.com/meanjs/mean/blob/master/modules/users/client/services/users.client.service.js#L73) can wait until after we release 0.5.0. This change will be a bit involved, and I'm still not sure how we want to go about it.

[2016-10-12 03:45] #1233 closed

[2016-10-12 03:47] #1556 closed

[2016-10-12 08:23] shanavas786 opened #1559 "Mongoose 'default promise library deprecated' warning"
Mongoose throws a warning on running tests.
[code]

[2016-10-12 11:20] #1224 closed

[2016-10-12 14:51] codydaig commented on #1559
#1560 Fixes this.

[2016-10-12 18:55] smokeyblues opened #1561 "Set up email with SendGrid on Heroku"
I am trying to wire together the nodemailer variables in production.js to work with sendgrid on heroku and can't get it to work. I am not really sure what to set MAILER_SERVICE_PROVIDER, MAILER_EMAIL_ID and MAILER_PASSWORD to so that the reset-password email sends.

[2016-10-13 01:45] mleanos commented on #1561
Perhaps this will help: https://sendgrid.com/blog/sending-email-nodemailer-sendgrid/

Also see: https://devcenter.heroku.com/articles/sendgrid#node-js

[2016-10-13 08:25] frkwhiteangel opened #1562 "Placement of middleware"
Lets say im going to use a middleware to all post requests to the server.

is there a core place i could place / put this middleware function so i dont need to Call a New file for it on every modules?

[2016-10-13 15:30] dalelotts opened #1563 "Signout should not use GET"
Browsers will pre-fetch pages they "think" you will visit next, having logout be a GET can have quite unexpected side effects. It's not a huge problem for the end user, because you wouldn't lose any information, but it could get annoying.

Consider using POST or DELETE verbs.

Duplicate of https://github.com/meanjs/generator-meanjs/issues/256

[2016-10-14 16:48] lirantal commented on #1260
Sure

[2016-10-14 19:52] lirantal commented on #1087
@simison I've been playing around with angular-cli, building a very simple app with it. I think it can make a good resource for our next mean.js revamp with angular2.

Have you had a chance to experiment with ng2 yet?
cc @codydaig @mleanos

[2016-10-14 19:54] lirantal commented on #1204
it could be breaking some apps but I think we've done quite a bit of "breaking" anyway in 0.5.0 already so I'm not opposed.

[2016-10-14 20:05] simison commented on #1204
+1 for strict usernames

Here's what we're using:
[code]
https://github.com/Trustroots/trustroots/blob/master/modules/users/server/models/user.server.model.js#L37-L55

And tests for this: https://github.com/Trustroots/trustroots/blob/master/modules/users/tests/server/user.server.model.tests.js#L189-L270

[2016-10-14 20:16] mleanos commented on #1204
@simison Those restrictions look fine to me. What are examples of illegal strings?

If agreed upon, we can get this in real quick for 0.5.0.

@codydaig @ilanbiala

[2016-10-14 20:19] simison commented on #1204
https://github.com/Trustroots/trustroots/blob/master/config/env/default.js#L30-L34

[2016-10-14 20:20] mleanos commented on #1204
Thanks. I guess I could have tracked that down myself :)

[2016-10-14 21:19] lirantal commented on #1204
Ok with me @mleanos, @simison if you wish to cook a PR for this, tests, etc.

[2016-10-14 21:52] simison commented on #1204
I'm gonna be on holiday coming week but feel free to copy stuff from @Trustroots

[2016-10-15 10:42] worp1900 opened #1568 "ENOENT while npm install"
I ran into ENOENT while running npm install in the cloned project.

First time I ran npm install resulted in:
[code]

Then, just out of curiosity because I couldn't find a solution, I kept running it.

Second time:
[code]

Third time:
[code]

It seems correctly installed or am I mistaken? What is my problem here?

**edit:**
there is no Gruntfile, so running
$ grunt
obviously doesn't work.

So some

[2016-10-15 14:11] #1559 closed

[2016-10-15 17:00] codydaig commented on #1087
I've played around with Angular 2 a little bit, but need to dive deeper. The big question for me is ES6 or typescript? Most angular docs are in Typescript but not plain Javascript.

[2016-10-15 20:15] mleanos commented on #1507
Closing this for now, since we haven't heard feedback. This is most likely an environment issue & not an issue with the project itself.

[2016-10-15 20:15] #1507 closed

[2016-10-15 20:36] sujeethk opened #1569 "Discussion - package.json cleanup"
**Discussion:**
The below dependencies are listed but not used

[code]

The below dev-dependencies are listed but not used

[code]

Also `connect-flash (0)` is being used in the express.js file but what is using this flash? I do not see it being used anywhere other than the middleware initialized.

The numbers in brackets are a node count of the total recursive dependencies for those modules.

Am

[2016-10-15 20:40] sujeethk commented on #1569
Also is Imagemin a necessary task? I see the task listed in gulpfile but the task is never called. But for this minification two dependencies are used-
[code]

Is it worth having an unused imagemin task that is using these massive dependencies? Look at their dependency count, wow :)

[2016-10-15 20:42] sujeethk commented on #1569
reason i mentioned the dependency count is so we know how polluted the node_modules get while having unused dependencies. Also reducing those would speed up npm install time and reduce any errors/warns from unwanted dependencies. Like the eslint-config-airbnb which is currently causing npm ERR on the install step

[2016-10-15 20:45] mleanos commented on #1569
I don't have much insight into these particular dependencies. I'll take a look at them, and see if I can help.

Some tasks aren't used directly from within the framework. They're ran by developers using the framework. So for the `image-min` task, it's just there for someone to use during development/deployment.

[2016-10-15 20:51] sujeethk commented on #1527
@Wats0ns do you see a .csslintrc file in your project folder?

[2016-10-15 20:52] sujeethk commented on #1562
AFAIK, [express.js](https://github.com/meanjs/mean/blob/master/config/lib/express.js) file has most of the common middleware for the app in order. Maybe you could add your necessary middleware somewhere down there?

[2016-10-15 20:53] mleanos commented on #1483
@frkwhiteangel Have you solved this issue yet?

It's hard to tell exactly what you're trying to accomplish. However, from what I gather, you can do what @simison suggested:

Also, from your example using `{{ parseInt(user.cash) }} kr` you don't need to parse your value. If you need to do that, then just do it in the controller or add a filter to do it. Using the `parseInt()` function will disable

[2016-10-15 20:54] mleanos commented on #1483
Closing since this doesn't seem to be an issue, and the answers are sufficient to address the question.

[2016-10-15 20:54] #1483 closed

[2016-10-15 20:55] mleanos commented on #1459
@Ankur-Marwaha Have you been able to resolve this issue?

[2016-10-15 20:56] sujeethk commented on #1546
I haven't worked with affix, but seeing no responses to your question, I would suggest looking at stackoverflow or [this package](https://github.com/maxisam/angular-bootstrap-affix) since this question isnt specifically to mean.js

[2016-10-15 20:56] frkwhiteangel commented on #1562
Would that support database query's?

Im going to save to db

Den lørdag 15. oktober 2016 skrev Sujeeth <notifications@github.com>
følgende:

[2016-10-15 20:59] mleanos commented on #1470
Closing this since it appears the original question has been answered.

@danoz-direct Feel free to re-open if this is still an outstanding issue. Otherwise, you can open a new issue for your Docker problems.

[2016-10-15 20:59] #1470 closed

[2016-10-15 21:00] sujeethk commented on #1503
I believe this is a duplicate of #1533. you can check out #1114 for how to implement this.

[2016-10-15 21:04] sujeethk commented on #1568
I dont see any error on the 2nd and 3rd attempt, just WARNs. They should be ok. Have you tried installing on your home folder? Installing in the /var folder probably causing permissions issue.

[2016-10-15 21:05] sujeethk commented on #1562
I am not sure of what you are trying to accomplish, but that file is already connected to mongostore for saving sessions, so you shouldn't have trouble including your own middle-ware writing to db.

[2016-10-15 21:11] mleanos commented on #1385
@Wuntenn Is this still an issue? I'm moving this to the back-log since there hasn't been any PR's open to address this.

[2016-10-15 21:12] mleanos commented on #1451
Closing since the provided answer should help solve the problem.

@genru Feel free to re-open if needed.

[2016-10-15 21:12] #1451 closed

[2016-10-15 21:14] mleanos commented on #1269
@codydaig @lirantal Can this issue be closed?

[2016-10-15 21:16] sujeethk commented on #1524
take a look at #1511, looks similar to what you are trying to accomplish

[2016-10-15 21:17] frkwhiteangel commented on #1562
Im trying to accomplish to get all parameters in req.query and get
req.user. Id and save it to the db :)

Will look into it

Den lørdag 15. oktober 2016 skrev Sujeeth <notifications@github.com>
følgende:

[2016-10-15 21:17] mleanos commented on #1270
#1465

[2016-10-15 21:19] mleanos commented on #1452
Closing for now since there hasn't been any response for some time. Also, this doesn't seem like an issue with the project itself.

[2016-10-15 21:19] #1452 closed

[2016-10-15 21:20] mleanos commented on #1360
@shanavas786 @lirantal Moving to backlog since there hasn't been a successful PR that solves this issue.

[2016-10-15 21:23] mleanos commented on #1206
Moving this to the backlog since we didn't make any progress on addressing this for 0.5.0

[2016-10-15 21:49] sujeethk commented on #1506
This is a quickfix. @19r3ka are you opening a PR?

[2016-10-15 22:13] mleanos commented on #1506
@sujeethk Feel free to open a PR to fix this, since this should be pretty quick.

[2016-10-15 22:40] sujeethk commented on #1568
I just did a fresh install using the master and got a clean install with no ERRs. are you still seeing issue, if so what is your node, npm and meanjs version? If not this issue can be closed.

[2016-10-15 22:40] sujeethk commented on #1527
I just did a fresh install using the master and got a clean install with no ERRs. are you still seeing issue, if so what is your node, npm and meanjs version? If not this issue can be closed.

[2016-10-15 23:34] sujeethk commented on #1204
@mleanos per your request added a PR for this. Used the same code from trustroots(suggested by @simison ) as it is robust and included tests :)

I removed a few illegal strings like `user`, `admin `that were on trustroots config since it will obviously fail existing tests. I could have renamed all tests using those usernames but it would pollute the commit with unwanted diff.

[2016-10-16 00:01] sujeethk commented on #1569
lcov-result-merger is used in travis CI in the last step:
`$ node_modules/.bin/lcov-result-merger 'coverage/**/lcov.info' | node_modules/coveralls/bin/coveralls.js`

`eslint` and `eslint-config-airbnb` are required for `.eslintrc.js` but the extension `airbnb/legacy` is deprecated. Also, Airbnb seems to be focused on React, it would be better if we could find a different eslint config that focus o

[2016-10-16 00:33] Wuntenn commented on #1385
Thanks @mleanos. This should buy me some time. I have it currently logging users out after users switch devices or after being inactive for a while but not 100% happy with it.

[2016-10-16 00:36] sujeethk commented on #1459
@Ankur-Marwaha The args for nodemon is passed here [gulpfile.js#L52](https://github.com/meanjs/mean/blob/master/gulpfile.js#L52). You can change that to `--debug-brk` for the code to break at first line.

Also make sure you are running node-inspector seperately and then open `http://127.0.0.1:8080/?port=5858` to start debugging

[2016-10-16 01:50] #1506 closed

[2016-10-16 04:06] mleanos commented on #1204
@sujeethk The real issue with the "user" & "admin" usernames is due to our MONGO_SEED feature. We could re-introduce "user" & "admin" in the blacklist of usernames, and just rename the seeded usernames to something more descriptive like "seeded-mean-user" & "seeded-mean-admin", or something of the like.

After a brief overview, it looks like we're using "username" in our unit tests. We should be o

[2016-10-16 04:15] sujeethk commented on #1204
I agree. I'll be adding those user and admin keywords, fixing the tests and adding client validation to the PR tomorrow

[2016-10-16 23:02] brianpgerson commented on #1290
FYI, this is still `return res.redirect(redirectURL || sessionRedirectURL || '/');` on 0.4.2. Updated local code with the fix here and it worked.

[2016-10-17 06:11] worp1900 commented on #1568
Must have been a permission issue. Deploying and installing to the home folder works just fine. As this is a new project, I will simply adapt my environment to live in the home folder instead of my usual node folder. On the prod server it won't make a difference.

Thank you for the assistance and your time. Greatly appreciated!

[2016-10-17 06:11] #1568 closed

[2016-10-17 09:32] Wats0ns commented on #1527
No, I don't see the .csslinrc in my project folder :/

[2016-10-17 15:44] smokeyblues commented on #1561
Hey @mleanos Sorry it took so long to get back to you. I think you are right. This isn't a meanjs issue. I had consulted those links before asking my question. I was actually hoping that you would point me to some meanjs specific documentation on how to configure the baked-in nodemailer functionality.  I must have SendGrid configured wrong. I guess I'll reach out to them and see if they can help.

[2016-10-17 16:37] dbelieves opened #1578 "Regarding provider pic"
Hi all,
I have a very curious case which i am not able to comprehend.

When I login using facebook I see my profile picture in the header.
[https://github.com/meanjs/mean/blob/master/modules/core/client/views/header.client.view.html#L35
](url)

user.profileImageURL does not store an image path. The link, when opened in browser, redirects to the actual image path.
How is angular able to do so using

[2016-10-17 17:44] sujeethk commented on #1527
@Wats0ns well there lies the issue :). You could probably try a fresh clone from the master. Or simply download the .csslintrc file and put it on your project folder and see if it works

[2016-10-17 19:57] jpca999 opened #1579 "docker isn't picking up the changes."
after getting the fresh copy from yo meanjs
I ran the command -  docker-compose up

it does everythign fine, but when i change the content anywhere , it could be in view or anywhere else, it doesnt seem to pickup the changes.

2) Also it doesnt seem to my local mongo.. what to do ?

[2016-10-17 22:10] PManager1 opened #1580 "how do i change the email name : so that it looks professional ?"
when i send the automated email :

I Want the email to say the name i.e

but currently it is sayign this :  doesnt look professional.. How do i change it ?

[code]

[2016-10-17 22:17] mleanos commented on #1561
I use AWS SES in my MEANJS application.

All I have to do is set [these environment settings](https://github.com/meanjs/mean/blob/master/config/env/development.js#L61-L67) in my various env configs & also on my Heroku app's config variables.

Since I'm using AWS SES my settings look like this
[code]

You would just have to provide similar credentials & provider info for SendGrid.

[2016-10-17 22:23] mleanos commented on #1580
@jpca999 I don't have an answer to your question right now, but just wanted point out that if that's your actual password, in the code snippet you shared, then you should remove it from the post.

[2016-10-17 22:26] sujeethk commented on #1580
Have you tried looking at this?
[Nodemailer doc](https://github.com/nodemailer/nodemailer/blob/master/README.md#address-formatting)

[2016-10-18 16:17] PierreBrisorgueil commented on #369
@lirantal @mleanos Hello again :)

Not a PR but I worked on a vesion (for me) with angular-material, it also integrates JWT token with our little fix @mleanos. Nothing is finished because of sidenav / headernav, it's just a test for the moment.

But you can have a look, it's not far behind the master.  We could imagine a PR if you're interested.

http://romeanet.weareopensource.me/
https://github.

[2016-10-19 03:02] mleanos commented on #369
@PierreBrisorgueil Thanks for sharing the repo. How is the JWT stuff working out? Were you able to fix all the issues raised in #1300?

[2016-10-19 06:44] PierreBrisorgueil commented on #369
@mleanos Only this https://github.com/meanjs/mean/pull/1300#issuecomment-225118728

- i didn't used social logins for the moment, so didn't tcheck this https://github.com/meanjs/mean/pull/1300#issuecomment-245665111

- i should probably have a look on this too https://github.com/meanjs/mean/pull/1300#issuecomment-225830471

[2016-10-19 08:31] lirantal commented on #369
I would say that the only interest for the current MEAN.JS state is any updates for JWT support. Any major refactoring to change to material, es6, etc will wait for a much bigger MEAN.JS release.

[2016-10-19 09:05] PierreBrisorgueil commented on #369
@lirantal Okok, I understand! I will still continue to angular material on my side, for personal needs. I would integrate your changes in my version as often as possible to keep it updated.

I'll let you know, and if one day you want to go in this direction, I should be able to make a PR if I have time, we can start it now if you're interested.

I think that might be a good thing for the customiza

[2016-10-19 15:43] idan666 commented on #1441
Hey,
Is there an update on the matter?
Been struggling with the same "gulp: not found" issue during pushing to Bluemix.
I really enjoy their service, so i would hate to replace them.
Cheers.

[2016-10-19 15:52] lirantal commented on #1441
Unless someone can provide a PR with the relevant fixes for making the deployment work, and actually test it we can't "fix it on our own".

You're welcome to help.

[2016-10-20 03:40] #1204 closed

[2016-10-21 02:28] mleanos commented on #657
@meanjs/contributors I think we're ready to release 0.5.0. Is there anything else that we want merged in?

Anyone else have any thoughts/comments on releasing 0.5.0?

[2016-10-21 04:27] dalelotts commented on #657
Nice work! I love this project!  Just one thing, please update to the _very latest_ node and bower dependencies for 0.5.0 (i.e. npm-check-updates -u and bower list) - every time I clone I spend an hour updating the dependencies, fixing code, and running the tests.

[2016-10-21 07:56] lirantal commented on #657
@mleanos definitely, I'll push it today.
@dalelotts exactly the reason why I am going to create a shrinkwrap file so we don't have to deal with drifting dependencies.

[2016-10-21 13:15] jpca999 opened #1585 "seeking your advise on SEO with mean js"
Getting nice SEO  for JS / Single page application have been a pain for long time.  I'll be starting working on new project that relies heavily on SEO.  I would like to know from you guys if MEANjs is the way to go for heavy seo projects ?

I've read the blog but have others used it and whats the results they're getting ?
http://blog.meanjs.org/post/78474995741/mean-seo

[2016-10-21 13:34] dalelotts commented on #657
@lirantal Great, I think. I'm not sure how I feel about that. I would like to see smaller, more frequent releases - in a small, frequent release model (i.e. continuous delivery) shrink wrapping may not be entirely necessary.

[2016-10-21 15:33] lirantal commented on #657
0.5.0 released, thanks everyone!
Let's open a new 0.6.0 thread to discuss there the next step for MEAN.JS

[2016-10-21 15:34] #657 closed

[2016-10-21 16:00] lirantal commented on #1087
@codydaig Typescript without a doubt. All the generators are geared towards TS.

[2016-10-21 20:37] abumere opened #1588 "Grunt Build Deleting Assets"
I am working on trying to deploy my mean app to production. I understand that before doing that I need to run the 'grunt build' command to compile and minify the needed files.

When running that command I noticed my app wouldn't run after. It turns out that the 'grunt build' command is actually modifying my /config/default.js and taking things out.

Specifically it's removing any css references in

[2016-10-21 20:40] hyperreality commented on #1588
We have stopped working on Grunt and have switched over to Gulp instead, please try using that.

[2016-10-22 00:02] #1588 closed

[2016-10-22 00:54] abumere opened #1590 "Asset Importing No Longer Identifies URL's"
Remove the <base> tag (continues #1230) #1544 removed the base=/ from the mean project. Looks like an affect of that is the assets > production.js and default.js files no longer properly add css references that are urls. They now append 'sitename.com'/http://url-of-css

[2016-10-22 08:33] lirantal commented on #1590
@abumere can you provide an example for us to reproduce? we'd appreciate a PR fix
@mleanos can you review?

[2016-10-22 08:52] helxsz opened #1591 "any ideas on supporting the Angular 2 ?"
Just wondering there is any plans to work on the angular 2 ?

[2016-10-22 09:30] lirantal commented on #1591
Yes. I was thinking about building on top of the angular-cli.
Do you have any experience with that?

[2016-10-22 13:41] PierreBrisorgueil commented on #1591
Hello, interesting on this too, if you go on this way, i probably could help :), and probably one or two people of my team. No experience on this, some tutorials.

But we are at the beginning of angular 2, we will require maintaining two versions MeanJs Angular 1 and 2. And for Angular 2 we should probably go on angular-material 2.

@farhatmo

[2016-10-22 14:13] lirantal commented on #1591
Cool.
Why do you think material over bootstrap?

[2016-10-22 16:45] mleanos commented on #1591
I'm all for Angular 2, and using the cli. However, I think we should continue to use bootstrap over Angular Material. It's not difficult to integrate material into the existing MEANJS application, and the implementation is going to greatly depend on our user's specific needs. There are so many different paths that can be taken on the front-end that I don't think it wise to default to such an opini

[2016-10-22 18:48] sujeethk commented on #1591
+1 for Angular2

[2016-10-22 20:55] patouche7519 commented on #1591
+1 Angular 2
+1 Material Angular 2 only because i like this framwork 😉

[2016-10-23 02:40] laumair commented on #1591
+1

[2016-10-23 05:27] aralroca commented on #1591
I like Angular-cli, but in a project like MEAN maybe server rendering is a good idea to take advantage of SEO...Why not Angular Universal? And I also prefer bootstrap than material...

[2016-10-23 08:41] helxsz commented on #1591
+1 Angular 2

[2016-10-24 02:39] helxsz opened #1594 "Service 'web-data' failed to build in using the docker-compose up"
trying to setup docker and MEANJS in ubuntu 16.04. I installed docker and docker-compose  in latest version and have the latest MEANJS commit.

[code]

How can I solve this issue ?

[2016-10-24 08:44] amanmavai commented on #1591
+1 Angular2. I also think we should continue to use bootstrap.

[2016-10-24 09:17] PierreBrisorgueil commented on #1591
I will try to do my best in english :D

@mleanos

Bootstrap is a opinionated design. It was the first and the first choice, but it's a choice.

@mleanos @itelo

First of all, if i talk about Angular Material 2, it's really not for me, i try to think for the stack. I'm not the biggest fan of angular material. For me, all project need his specific design, home made.

### The concept

I like MeanJs f

[2016-10-24 15:26] jpca999 opened #1595 "how to add custom html layout for the pages but only for one page."
How can i add a wider layout especially for mobile view without affecting rest of the pages ?

![image](https://cloud.githubusercontent.com/assets/1026325/19651844/81474ae8-99dc-11e6-8d89-22a8aa9191c8.jpg)

[2016-10-25 00:21] hyperreality commented on #1595
Try overriding the bootstrap `container` class in your CSS, something like this:

[code]

[2016-10-25 02:13] mleanos commented on #1591
It's really difficult to argue with the amazing points made by @PierreBrisorgueil. I'm fairly convinced of the benefits after reading Pierre's experiences with the various options for design. Especially coming from a decent sized team, it's a good testament to the usefulness of using Angular Material.

Also, I agree with the idea that the front-end design should be an after-thought to the MEANJS f

[2016-10-25 23:28] dajk commented on #1591
I could help with this step as well. Any starter could be good in this situation, some of more complex could save us some time if we follow their way. However, it's easier to control if the core is smaller..still expandable though.

[2016-10-26 00:47] mleanos opened #1597 "Gulp test:server:watch task bug"
As [discussed here](https://github.com/Trustroots/trustroots/issues/429), the Gulp task `test:server:watch` throws an error: `TypeError: Path must be a string. Received undefined` on subsequent runs after the initial run of `test:server`.

It appears that something may have changed in the Gulp plugin `refresh` library that can't handle an undefined/missing parameter of the `refresh.changed()` meth

[2016-10-26 17:10] jpca999 opened #1598 "unable to run using docker on ec2. Got issues."
npm ERR! Please include the following file with any support request:
npm ERR!     /home/mean/npm-debug.log
The command '/bin/sh -c npm install' returned a non-zero code: 228

![image](https://cloud.githubusercontent.com/assets/1026325/19736496/8452404c-9b7d-11e6-9178-548fcbd7a001.png)

Steps that I'm doing :
I just sssh into the terminal and pull docker conatiner and i try to run it.
please help.

[2016-10-26 17:20] dalelotts commented on #1598
Why such an old version of node? Perhaps that't part of the problem.

[2016-10-26 17:22] jpca999 commented on #1598
lol  - i just run sudo - apt-get install.    should i run any specific node version ? which one ?

[2016-10-26 17:26] jpca999 commented on #1598
what node version is recommended by mean js ?  Also how can i add it to my docker file so that it automatically install that version of node - can i do that ?

[2016-10-26 17:32] smokeyblues commented on #1561
Thanks @mleanos I decided to try out SES in order to get on the same page as you and the resources you listed earlier. I had some questions about how meanjs understands what to do with SES. My SES service has been assigned to us-west-2.amazonaws.com so would I have to set MAILER_SERVICE_PROVIDER to SES-US-WEST-2 so that it would route to the correct location listed in services.json in the nodemail

[2016-10-26 18:26] dalelotts commented on #1598
I _always_ use the latest LTS version of node - I think that's 6.9.1 at the moment.

Try running `apt-get update` before installing anything -  `apt-get update` downloads the package lists from the repositories and "updates" them to get information on the newest versions of packages and their dependencies.

[2016-10-27 08:19] farhatmo commented on #1591
I can help also with ng2.

[2016-10-27 08:55] shanavas786 opened #1599 "Question: why uglify mangle option is disabled ?"
Enabling mangle reduces javascript file size by 10kb.

[2016-10-27 11:03] simison commented on #1599
It usually doesn't work well with Angular. Did you test if it worked?

[2016-10-27 21:44] lirantal commented on #1594
@helxsz is it possible that you don't have enough memory or something killed the docker-compose process? what happens if you try to issue another 'docker-compose up', does it continue to built it ok or which error do you get?

[2016-10-27 21:59] lirantal commented on #1598
Maybe you have no space left to get the container working?
After all, npm install reports an error: `npm ERR! code ENOSPC`

[2016-10-27 21:59] #1598 closed

[2016-10-28 01:54] jpca999 commented on #1598
low space -  may be true since im using ec2 free versoin, but is there a way to optmize the space ?

[2016-10-28 02:56] helxsz commented on #1591
can help with angular-cli. for the argument about using the bootstrap and material, really appreciate the viewpoint from @PierreBrisorgueil , it is perhaps a point to try it. If some people like to try bootstrap, some people like to try material, we can start two branches. For me, material or bootstrap is just the choice on the looks, we can easily change the style we want.

[2016-10-28 04:12] cdc-js opened #1600 "Add git version info"
Hi all,

Is it a good idea to put git information to footer or not? The goal is to assist us to know the exact version of our application easily. We can put for example git short commit id and latest git change date (e.g. xxxxxxx - dd mmm yyyy).

Example of my code for getting this information are below:

[code]

Thanks all

[2016-10-28 04:13] #1600 closed

[2016-10-28 04:15] abaka82 opened #1601 "Add git information to frontend"
Hi all,

Is it a good idea to put git information to frontend (i.e. footer) or not? The goal is to assist us to know the exact version of our application easily. We can put for example git short commit id and latest git change date (e.g. xxxxxxx - dd mmm yyyy).

Example of my code for getting this information are below:

[code]
Thanks all

[2016-10-28 04:18] abaka82 commented on #1600
Sorry, it is better if I am using my active github account. I am closing this and write a new one. Please see #1601

[2016-10-28 05:05] lirantal commented on #1598
yeah I'll look into the space issue

[2016-10-28 05:15] lirantal commented on #1601
From security perspective you wouldn't want to run system commands from the web

[2016-10-28 05:15] #1601 closed

[2016-10-28 07:06] Shruthi-Bharadwaj opened #1602 "upon refreshing of the browser, the URLs containing 'hypen' is not going through angular $routeProvider .when(), but directly requesting the server"
I am using MEAN Stack, and jade for html templating for developing a project. Since I am using jade all the .when() of the $routeProvider goes through the server and then rendered. Things were absolutely fine until recently I added $httpProvider.interceptor for authenticating each request. Basically, I started using JWT token based authentication and before requesting anything to the server, in my

[2016-10-28 11:58] shanavas786 commented on #1599
Haven't tested comprehensively. But I think it should work properly as `ng-annotate` handles dependency resolution problems arise due to mangling.

[2016-10-28 13:36] dalelotts commented on #1601
You have a version in your package.json - if your build/deploy process correctly increments the version and also tags the git repository with the version you will always know what is in production.

Consider fully automating the process similar to the way [semantic-release](https://github.com/semantic-release/semantic-release) does it for npm packages.

[2016-10-28 21:50] helxsz commented on #1594
@lirantal I think you might be right, the online server with 2G memory doesn't seem to enough to work with the docker-compose process, it works while I changed to 4G memory.

[2016-10-28 22:21] lirantal commented on #1594
@helxsz check out my new PR for improving the docker image: https://github.com/meanjs/mean/pull/1603

[2016-10-28 22:22] #1594 closed

[2016-10-29 22:15] mleanos opened #1605 "Inconsistent spacing before function parentheses"
There are some places in the code-base that have spaces before function parentheses, and some that don't. I'm seeing changes to these in multiple PR's, that go either way (some are creating unnecessary diffs). We should enforce a linting rule in these cases for reasons of consistency.

One example: https://github.com/meanjs/mean/blob/master/modules/users/tests/e2e/users.e2e.tests.js#L411-L424

My

[2016-10-31 07:37] frkwhiteangel commented on #1114
[code]

any idea ?

[2016-10-31 12:44] o1lab opened #1606 "Controller is not getting loaded/called"
Im using meanjs for a webapp and have below issue.

When transitioning from state parents.view to parents.view.childs - I do not see the controller associated with parents.view.childs being called/loaded. But prints within getChilds() is seen for which I see server responding with childs data.

But I cannot understand why childs controllers is not getting called. There are no errors on console.

I

[2016-10-31 19:25] mleanos commented on #1606
@o1lab Nothing is jumping out at me..

a) Does your list-childs view load?
b) What's the behavior if you remove the resolve from the childs route?
c) Can you verify the `$promise` is getting resolved? Try adding a `.then()` callback on your `return _childsService.query().$promise;` call -->

[code]

I don't recommend setting your service calls up this way. This is just a simple way to test your pr

[2016-10-31 20:39] o1lab commented on #1606
a) No it does not.
b) No change to behaviour - no errors in console.
c) It gets resolved fine and it has the childs data as response.

How do you recommend - get rid of resolves entirely ?

**state                      -->  route**
parents                  --> /api/parents
parents.view           --> /api/parents/:parentId
parents.view.childs --> /api/parents/:parentId/childs

---

Additional infor

[2016-10-31 21:00] mleanos commented on #1606
When you removed the resolve from your "childs" route, did you also remove the injection from your controller? If so, and the controller still doesn't load then most likely your angular app is not bootstrapping your controller correctly. What does your childs module configuration look like? Do you have something similar to https://github.com/meanjs/mean/blob/master/modules/articles/client/articles

[2016-11-01 00:53] JMon8 opened #1607 "Issues with angular functions"
I've followed the tutorial to getting the files on my server as well as having mongodb up an running. I'm just trying to test that the server is running by visiting the address. I'm seeing the requests, but when I open up developer tools to see whats going on, I get the following error a whole bunch:

I'm also seeing this error later, but I'm not sure if its related to the first set of errors

I h

[2016-11-01 05:44] shanavas786 commented on #1607
Have you run `npm install` ?

[2016-11-01 07:43] shanavas786 commented on #1606
Is there a `<ui-view></ui-view>` in `modules/parents/client/views/view-parent.client.view.html` ?

[2016-11-01 09:52] o1lab commented on #1606
@mleanos : unfortunately I didn't see your message before I closed my day yesterday. I appreciate your offer for help. I've got it working now (see below). Thank you.
@shanavas786 : thank you very much explicitly typing modules/parents/client/views/view-parent.client.view.html :) . It was the problem. I had ui-view tag inside child view and I had **believed it was in parent view!**

[code]

[2016-11-01 09:52] #1606 closed

[2016-11-01 13:22] TheBlackPowerRanger commented on #1607
Yea, I ran it in the project folder. If it helps, I'm running it on an Ubuntu 16.04 instance.

[2016-11-02 13:52] JMon8 commented on #1607
I think I figured it out. Looks like I didn't update some files. Guess I just didnt understand how to connect angular to the backend set up.

Thanks!

[2016-11-02 13:52] #1607 closed

[2016-11-02 15:15] leodonny opened #1608 "Could we manage our admin and user routes in another way ?"
Hi guys,

I'm currently working on a project which requires to create user profile pages. I took a look on routing system on server side about users and I noted something annoying.
Today, /api/users/:userId route returns one specific user from an admin request.
Getting a user for another one is currently "impossible" : according to the fact the admin route /api/users/:userId is, as its name says,

[2016-11-03 04:45] mleanos commented on #1608
This PR has a very long (and grueling at times) discussion on this matter:
https://github.com/meanjs/mean/pull/713

I agree with [this comment](https://github.com/meanjs/mean/pull/713#issuecomment-125081378). So I would prefer to have something pretty close to what is described here: https://github.com/meanjs/mean/pull/713#issuecomment-231674007

We should be using the same normalized RESTful rout

[2016-11-03 08:18] approgramer commented on #1591
i am using angular material with meanjs for many of my projects. and i would greatly appreciate if you guys decided to use it. the components in material are easier to use and integrate with the controllers.there is so much functionality out of the box .with flexbox and sidenavs i think the project will become much more reactive .

[2016-11-03 23:04] rifrayugo commented on #1555
Page doesn't load after i choose from menu. there is error found like view can't be loaded and error 404.i use mean 4.0. anyone have met with this problem?

[2016-11-03 23:37] mleanos commented on #1555
@rifrayugo Can you provide more details on your issue? Code references, console errors, etc.

[2016-11-03 23:57] mleanos commented on #1591
@lirantal Would you like to share your thoughts on how you envision building on top of angular-cli? I've been playing around with it a little bit. It seems pretty good, but I'm wondering how it will suit our needs for full customization. Also, would you propose that we include the cli as a development dependency and provide our users the ability to utilize the various generators included with angu

[2016-11-04 00:55] aralroca commented on #1591
@mleanos In my opinion a great implementation with **Node** and **Angular** is using **Angular Universal** and not Angular-CLI:

_Universal starter: https://github.com/angular/universal-starter_

With Angular Universal we can take the advantages of server side rendering. Server-side rendering presents a large advantage for building mobile-friendly, search engine friendly applications that have hig

[2016-11-04 08:05] farhatmo commented on #1591
Hello,
@aralroca I'm not sure that Angular Universal is good to uses for rendering all pages. The goal of Universal is to load the first page off the apps quickly and user can start using it before that all assets finish to load. When the assets and templates finish to load those replace the first page and with the lazy router after we will download only what we need.

We know all that jsf apps do

[2016-11-04 18:02] helxsz opened #1609 "how to temporally disable the cors ?"
currently I am using the angular- cli to build a web app, which uses the meanjs api, so they are using the local ip address but the two servers are based on two different ports. Because of this, the angular web app receives  _Origin 'http://localhost:4200' is therefore not allowed access._

how would I be able to shortly disable the cors so I can easily test the angular app?

best rgds

[2016-11-04 18:36] mleanos commented on #1609
You can enable CORS on your destination API. I use this in a couple of my projects: https://github.com/expressjs/cors. Their documentation is really good, and the library's api is easy to use.

You will have to add a `cors` configuration for your express route(s) with a origin of `http://localhost:4200`

[2016-11-05 02:12] rifrayugo commented on #1555
I create new module use yo meanjs:crud-modue. But i got blank page and i change menuConfig.$inject = ['menuService']; with
menuConfig.$inject = ['Menus'];
And page already appears with menus, when i click the menu page doesn't load form. And when i check on console i found this error
![image](https://cloud.githubusercontent.com/assets/17063809/20026929/e0f3af36-a337-11e6-9079-52bfc199e634.png)

[2016-11-05 02:20] jp-ca commented on #1555
+1 @mleanos

[2016-11-05 03:09] jpca999 commented on #1555
+ 1 @mleanos

[2016-11-05 10:00] helxsz commented on #1609
[code]

which works!!

[2016-11-05 10:06] #1609 closed

[2016-11-07 03:18] jpca999 opened #1611 "Bower spiting error, when using docker-compose up on the ubuntu / ec2 i get this error."
![image](https://cloud.githubusercontent.com/assets/1026325/20045424/d568022e-a46e-11e6-904c-544dadeb285f.png)

so when i tried to add bower files on my local ( mac ) it asked me which version and stuff to install for the dependency stuff, but when running docker-compose it didnt ask me any of that thing..

[2016-11-07 21:27] jpca999 opened #1612 "after installing it with "yo meanjs" why do i get the .git file already in there ?"
![image](https://cloud.githubusercontent.com/assets/1026325/20076633/341b661a-a507-11e6-8e0c-cab038ac49e9.png)

[2016-11-07 21:43] jpca999 opened #1613 "how to build code like gulp using docker ?"
Heres' the thing I've already build my app on local using gulp so i can change code and see the changes on the local. but whever i run the app using docker-compse up   it ghrows me errors =  bower versions of libraries those work fine on mac ( using gulp) dont work fine on ubuntu.

So I'm   kinda writing / selectively pickign files to make it run on Docker-compse up. Can you suggest me a bettter w

[2016-11-07 21:49] jpca999 opened #1614 "why dont i get the option for 0.5.0 when running "yo meanjs" ?"

[2016-11-07 21:55] jpca999 opened #1615 "while using docker-compose up why does it throws error on mac when i runs smoothly on ubuntu ( ec2 ) ?"
![image](https://cloud.githubusercontent.com/assets/1026325/20077551/dda13d1a-a50a-11e6-9ff0-23c94081c465.png)

[2016-11-07 22:12] jpca999 opened #1616 "docker-compse up only works if I git clone , but it doesnt run property if i initiate the app from yo meanjs.. How to fix it ?"

[2016-11-07 22:46] mleanos commented on #1555
@rifrayugo It looks as either the configuration is referencing a non-existent view. Does *list-patients.client.view.html* exist at that location inside your new module? Perhaps the generator created the file by a different name?

[2016-11-07 22:53] mleanos commented on #1612
IIRC, this is due to the meanjs generator doing a `git clone` to build the framework.

This question is probably better suited for the issues at https://github.com/meanjs/generator-meanjs

[2016-11-07 22:56] mleanos commented on #1614
The generator hasn't been updated since we released 0.5.0.

Feel free to open a new issue, and/or a PR to resolve this at https://github.com/meanjs/generator-meanjs

[2016-11-07 22:57] jpca999 commented on #1614
done

[2016-11-07 22:57] #1614 closed

[2016-11-07 22:59] #1612 closed

[2016-11-08 00:04] jpca999 opened #1617 "Error in resource configuration for action `query`. Expected response to contain an array but got an object (Request: GET api/properties)"
yo meanjs
then,  I created a module by :   yo meanjs:crud-module properties

How to reproduce....
so after i login ,  If I do the following :  click the list properties, then click create properties and then list properties links.
I'll get this error in console....

![image](https://cloud.githubusercontent.com/assets/1026325/20081328/ff329f3e-a51c-11e6-8d8d-38121706e18f.png)

![image](https://clou

[2016-11-08 00:49] jpca999 opened #1618 "whenver i try to create a module crud operation i get the error"
http://localhost:3000/properties/create

![image](https://cloud.githubusercontent.com/assets/1026325/20082349/3d73fa8a-a523-11e6-84d0-432568784e21.png)

ALSO  I CAN'T CREATE A NEW ARTICLE

![image](https://cloud.githubusercontent.com/assets/1026325/20082391/83b5dd06-a523-11e6-84e4-62d136582a4b.png)

[2016-11-08 22:14] simison commented on #1569
@sujeethk I'm using this exact same setup but for Angular files I have additional `eslint:angular` task:
- https://github.com/Trustroots/trustroots/blob/master/.eslintrc-angular.js
- https://github.com/Trustroots/trustroots/blob/master/gulpfile.js#L201-L211

I think it would make sense to
1) update to eslint 3.x,
2) get rid of `eslint-config-airbnb`,
3) set CI builds fail on linting errors

[2016-11-09 04:09] jpca999 opened #1620 "ERROR: for db Cannot start service db: driver failed programming external connectivity on endpoint"
Whenver I try to run dokcer-compose up  on mac i get this error. Any help will be appreciated.

ERROR: for db  Cannot start service db: driver failed programming external connectivity on endpoint ltg_db_1 (741d901077cb076b48f016479e8adbeb7a062273cc0eaf930f3ccb37ddb0f3e0): Error starting userland proxy: Bind for 0.0.0.0:27017 failed: port is already allocated
ERROR: Encountered errors while bringin

[2016-11-09 20:17] jpca999 opened #1621 "when running docker-compose up it doesnt pick up th echnages in the files."
I also get following error in the console.

![image](https://cloud.githubusercontent.com/assets/1026325/20153204/9fabf564-a68f-11e6-8de4-884eb6959acb.png)

[2016-11-09 20:20] jpca999 commented on #1620
i resolved it by killing the process via the Application/ Utilities /  processes.  KILL TH EMONGO PROCESS

[2016-11-09 20:20] #1620 closed

[2016-11-09 21:27] jpca999 commented on #1621
its wroking on the latest git clone..

[2016-11-09 21:28] jpca999 opened #1622 "how to seed user/ admin while using docker compose ?"

[2016-11-09 22:35] jpca999 opened #1623 "unable to access the js files. like underscore.js not loading on browser..."
![image](https://cloud.githubusercontent.com/assets/1026325/20159323/f1307e96-a6ad-11e6-9b50-683a77c743a8.png)

![image](https://cloud.githubusercontent.com/assets/1026325/20159243/6a1765e6-a6ad-11e6-9cd7-df783046bb9b.png)

![image](https://cloud.githubusercontent.com/assets/1026325/20159366/2b63bef2-a6ae-11e6-8370-a96b1b8be559.png)

![image](https://cloud.githubusercontent.com/assets/1026325/2015

[2016-11-09 23:24] mleanos commented on #1623
@jpca999 I'm having a hard time following your issue. In the screen shot of the browser window, the error you're getting is a 404 for angular-moment. I see the folder in the other screen shot, but are you sure that `angular-moment.min.js` exists in that folder?

If you can't get your application to load `underscore`, please make sure you're including it in your angular applications [module depende

[2016-11-09 23:35] jpca999 commented on #1623
@mleanos   none of the additional js files that i add, doesn't load on the browser.

[2016-11-10 01:20] mleanos commented on #1623
I tested with Underscore and didn't experience what you reported.

I still don't quite follow what the issue is. Like I said before, your screenshots are a little confusing since they don't match up with your description of the error.

![underscore-browser-gh1623](https://cloud.githubusercontent.com/assets/5613734/20161027/af7d13cc-a6a0-11e6-83e3-0cd5b3393821.PNG)

![underscore-default-assetts-gh1

[2016-11-10 02:06] jpca999 commented on #1623
wow - i dont understand how its not letting me see the js files.
btw did you use docker-compose up   to serve ?

[2016-11-10 03:25] jpca999 commented on #1623
got it, fu@#in issue was with the trailing spaces.

[2016-11-10 04:17] jpca999 opened #1624 "the debug info shown on the terminal shows up so fast that i can't figure out where the error was. Whats the alternative to this ? where can find the saved logs ?"
![image](https://cloud.githubusercontent.com/assets/1026325/20164388/8b688278-a6d2-11e6-97f2-0c7f7e163c89.png)

[2016-11-10 11:50] hyperreality commented on #1624
A file called app.log in the mean directory contains this.

Alternatively, if you want to log to a different file, use `gulp | tee -a out.txt`. Tee is a Linux command that allows you to simultaneously show output on the console and redirect it to a file.

[2016-11-10 11:56] hyperreality commented on #1618
First of all, the create articles page was moved into the admin menu a few months back.

Secondly, if you want to set up a new CRUD module, like you have done with 'Properties', you need to also edit the controller and make a server-side route for it. At the moment it looks like you are trying to GET /articles/create when creating Properties, which is why you are getting a 'Bad Request' error. In

[2016-11-10 13:05] jpca999 opened #1625 "docker-compose up doesnt pick the changes in new meanjs that i downloaded from git"
it keeps on referring to another code in another directory and will reflect changes from that directory..  Can someone pls help me resolve this ?

Here's my docker-compose.yaml

version: '2'
services:
  web:
    restart: always
    build: .
    container_name: meanjs
    ports:
     - "3000:3000"
     - "5858:5858"
     - "8080:8080"
     - "35729:35729"
    environment:
     - NODE_ENV=developmen

[2016-11-10 14:49] jpca999 commented on #1624
thx

[2016-11-10 14:50] jpca999 commented on #1618
agree...

[2016-11-10 14:51] #1618 closed

[2016-11-11 04:31] jpca999 opened #1626 "where in the docker files does it calls for install node & its versions for its containers ?"

[2016-11-11 12:51] hyperreality commented on #1626
https://github.com/meanjs/mean/blob/master/Dockerfile#L35

[2016-11-11 13:02] hyperreality opened #1627 "Remove gulp-sass dependency?"
Sass is a pretty heavyweight dependency (seeing as it depends on node-sass) and MEAN has not has any .scss files for a long time. This seems like the kind of thing that should be removed from the core framework and only added if users feel it's necessary.

[2016-11-11 13:31] hyperreality commented on #1627
Also, following on from @sujeethk's recommendations [here](https://github.com/meanjs/mean/issues/1569), I believe the following packages are not needed:

file-stream-rotator (1)
jasmine-core (0)

mocha (33)

The below dev-dependencies are listed but not used

eslint (127)
eslint-config-airbnb (1)
gulp-node-inspector (282)
gulp-util (94)
lcov-result-merger (93)
node-inspector (235)

// Run the proj

[2016-11-11 13:57] jp-ca commented on #1626
Thank @hyperreality.  Can you pls also suggest where it loads the Mean Js at /home/meanjs ?

I wanna configure it so that it will load the results from my local folder compared to meanjs from github.

[2016-11-11 13:58] jpca999 commented on #1626
Thank @hyperreality. Can you pls also suggest where it loads the Mean Js at /home/meanjs ?

I wanna configure it so that it will load the results from my local folder compared to meanjs from github.

[2016-11-11 14:27] hyperreality commented on #1626
I'm not sure what you're trying to do.

[2016-11-11 14:59] jp-ca commented on #1626
@hyperreality this is what I'm trying

http://stackoverflow.com/questions/40529553/my-docker-compose-is-picking-up-files-from-another-folder-not-from-where-im-ru

[2016-11-11 22:10] mleanos commented on #1623
Why did you reopen this issue? It appeared yhat you resolved your problem.

[2016-11-11 22:11] jpca999 commented on #1623
@mleanos   yes, sorry about that,,    Can you please suggest a solution for this one ?https://github.com/meanjs/mean/issues/1626

[2016-11-11 22:11] #1623 closed

[2016-11-11 23:47] jpca999 opened #1628 "when running docker-compose up I get : bower ECONFLICT Unable to find suitable version for angular-animate ERROR: Service 'web-data' failed to build:"
![image](https://cloud.githubusercontent.com/assets/1026325/20233594/4370eee2-a83f-11e6-924f-14493fd40b50.png)

[2016-11-12 16:19] jpca999 opened #1629 "This ain't really an issue, I wanna know any/ all commerce or sites that need heavy seo using mean js."
Can somebody point me to that list ?

[2016-11-12 21:04] jpca999 opened #1630 "docker-compose isn't installnng bower components inside the docker container..."
I'm using all the Docker files used in the master code of mean js.. nothing changed at all.

I use the command docker-compose up
Do i need to do anything before this ?

I wonder since the change if I make in one file instantaneously gets reflected on the  docker container, then why dont the bower components / files aren't replicated or found on the docker container  ?

Heres the list of packages f

[2016-11-12 22:29] jpca999 commented on #1630
for some reason it wasn't updating the contents, so i removed all the docker containers and images too. Now it works.   Can you guys please change the docker file in such a way that it makes sure this error dont happen for others ?

[2016-11-12 22:29] #1630 closed

[2016-11-12 22:30] jpca999 opened #1631 "how can i seed the mongo db in docker container with my json data ?"

[2016-11-13 16:17] jpca999 opened #1632 "Is there a build in provision for keeping the application running forever using forever/ supervisor ?"

[2016-11-13 16:49] shanavas786 commented on #1632
I use [pm2](http://pm2.keymetrics.io/) and suggest it. Build has nothing to do with it. You can simply run `pm2 start server.js`
I think something similar applies for `forever/supervisor` also.

[2016-11-13 18:49] jpca999 opened #1633 "how to improve page loading speed for mean js ?"
other than doing docker-compose up for production file, is there anything else that i should do ?

[2016-11-13 19:17] jpca999 commented on #1632
@shanavas786  quick question:  So I'm using docker so that i can mimic the linux / ubuntu platform while developing on mac.   Do you recommend running docker on ec2   (ubuntu ) again and run the app via that  or i can just get the app files from git and run it there ?

[2016-11-14 10:25] shanavas786 commented on #1632
I haven't used docker.
It seems adding
[code]
to dockerfile would be enough.

https://hub.docker.com/r/meanjs/mean/ may help you

[2016-11-14 11:11] jpca999 commented on #1632
I appreciate that

[2016-11-14 15:10] jpca999 opened #1634 "how to speed up the first page load, then load the whole app later on asynchronously ?"
Any ideas would be welcomed.

[2016-11-14 23:18] jpca999 opened #1635 "how to do ionic on top of meanjs ? any greatly reference will help."
I've the app working on mean.js  whats the easiest way to sugar top it with ionic for mobile ?

[2016-11-15 00:49] jpca999 commented on #1635
question2.  Should I develop ionic framework inside meanjs or I develop meanjs inside ionic ?

[2016-11-15 02:38] abumere opened #1636 "Implementing Nested Menu Dropdowns"
Is there currently a way to implement a nested menu dropdown?

As in:

Menu Title (dropdown)
-- Sub Menu Item (Dropdown)
----Menu item (link)

[2016-11-15 04:41] jpca999 opened #1637 "how can I create a hook in the meanjs so that i can render different view ( ionic ) if the requesting device is a mobile ?"
your suggestions will be greatly appreciated.

[2016-11-15 07:18] yinix opened #1638 "Fatal error: Unable to find Gruntfile."
Hi All,

I install the latest(master) meanjs by "yo meanjs" and then choose "master" version.
when I perform "grunte", I got the message "Fatal error: Unable to find Gruntfile.".
It seems that there missed gruntfile.js" under the root folder of master, or is there any change point about this?

Thanks

ZhangHui

[2016-11-15 10:56] nirgn975 commented on #1591
Hi all,
I have an experience with Angular2 and ng-cli, and really want to be part of this amazing work you guys do. What can I do to help move this forward?

[2016-11-15 11:11] shanavas786 commented on #1638
grunt has been removed in favor of gulp.

[2016-11-15 16:37] nikitpatel24 opened #1640 "how to run a single test file?"
Is there any way where i could run a only a single test file for TDD development.
I can only run here `npm tun test:client` or `npm run test:server` ,These runs all the test cases. Is there a similar way to run a single test file.?

[2016-11-15 16:50] simison commented on #1640
Nope, but you can first run all server tests and then leave it watching for changes — and when you edit a test file, it'll run only modified tests. If you then edit a regular app file, it'll run all the tests again.

[code]

If you need the same for client side tests, you can copy the task from our project: https://github.com/Trustroots/trustroots/blob/master/gulpfile.js#L393-L400

[2016-11-15 20:52] hyperreality commented on #1636
Sorry to give an unhelpful answer... but I really wouldn't be a fan of using this, design-wise.

Anyway, you should probably ask this question on Bootstrap forums, it's a question about their navbar, not about the MEAN project.

[2016-11-15 20:54] hyperreality commented on #1640
Actually, there is. Go to `config/assets/test.js` and edit the object value so it contains only the test file you want to run.

[2016-11-15 20:56] hyperreality commented on #1634
As far as I know, Angular doesn't support this. It's not the point of a SPA. I did hear Angular 2 may have made steps towards this, but I'm no Angular 2 expert so not sure where to point you.

[2016-11-15 21:34] jpca999 commented on #1634
I understand that,  here's an idea load the first page via nginx or some server and only when other pages are called for load the rest of the app, this is how big Corp e commence sites do stuff but I was thinking if there's a simple way to do that.  Coz almost 90% of the customers don't even go past the first page load...

[2016-11-15 22:14] lirantal commented on #1591
Thanks @nirgn975 and everyone else too for wanting to jump on this.
It's still obvious that we need to align what is the direction, and then we can plan it, as  @mleanos  suggested: https://github.com/meanjs/mean/issues/1591#issuecomment-258309342

[2016-11-16 00:28] mleanos commented on #1636
@abumere @hyperreality The [menuService](https://github.com/meanjs/mean/blob/master/modules/core/client/services/menu.client.service.js#L75) supports nested items.

@abumere Take a look at that to see if it would suit your needs. If not, then can you describe your requirement a bit more?

[2016-11-16 00:35] mleanos commented on #1638
@yinix We have indeed removed Grunt from the project, and the `Gruntfile` no longer exists. However, this is a bug in the [MEANJS Generator project](https://github.com/meanjs/generator-meanjs). You're experiencing this because the generator is out of sync with the up-stream project.

[2016-11-16 01:04] hyperreality commented on #1636
@mleanos The way I interpreted it, he wants a second level of nesting.

[2016-11-16 01:24] yinix commented on #1638
@mleanos thanks a lot for your strong support, understood.

[2016-11-16 01:24] #1638 closed

[2016-11-16 01:30] mleanos commented on #1636
@hyperreality I think that's possible with the `addSubMenuItem` method of the *menuService*.

[2016-11-16 02:17] hyperreality commented on #1636
@mleanos Unless I'm being stupid, `addSubMenuItem` is one level of nesting less than he wants. For instance, the articles menu has the "List Articles" submenuitem, but I believe he would want a second dropdown coming out of that.

`addSubMenuItem` takes the `parentItemState` parameter, and if you set this to a submenu state rather than the navbar menu state, it doesn't work:

`menuService.addSubMe

[2016-11-16 10:34] shanavas786 commented on #1634
A simple solution would be to use a non-angular (or angular with only required dependencies) index page and provide a link to application page from it which loads the complete app.

[2016-11-16 10:43] shanavas786 commented on #1640
You can use `describe.only` or `it.only` in test files to run a single/set of tests.

[2016-11-16 14:29] hyperreality commented on #1634
@shanavas786 Good idea. You could even use an identical static bootstrap navbar to keep the same look and feel.

[2016-11-16 22:15] mrtinkz opened #1642 "how to seed sample data into the mongo db ?"
I tried to seed the sample data but looks like if the below command does anything.

` MONGO_SEED=true npm start`
[code]

[2016-11-16 23:31] mycodeself opened #1643 ""yo meanjs" could not create work tree dir"
Hi, im using this docker node container (https://github.com/nodejs/docker-node/issues) and im just creating my first meanjs project. When i run the command "yo meanjs" i get this error when the generator tried to clone the github repository:
`
? In which folder would you like the project to be generated? This can be changed later. mean
Cloning the MEAN repo.......
Error: Command failed: git clone

[2016-11-17 01:04] sanathpathiraja commented on #1642
In production.js
set
seedDB: {
    seed: process.env.MONGO_SEED === 'true',

then
MONGO_SEED=true npm start:prod

if got problem
use npm install gulp-sass --save-dev

[2016-11-17 01:10] mrtinkz commented on #1642
It's already configured that way, so should it work ?

[code]

[2016-11-17 01:13] mrtinkz commented on #1642
Also, how does the gulp-sass relate to mongo seed ?

[2016-11-17 01:26] sanathpathiraja commented on #1642
What is the you got error.
if you run MONGO_SEED=true npm start:prod
follow the [https://github.com/meanjs/mean/blob/master/README.md#running-with-user-seed]

[2016-11-17 01:33] mrtinkz commented on #1642
I am running it in a command prompt and i get the below error.

[code]

[2016-11-17 02:04] sanathpathiraja commented on #1642
try to,
clone master repo.
and run it.

[2016-11-17 02:12] mrtinkz commented on #1642
So it doesn't work on the code generated by yo generator ? It should all be same correct ? how would it be any difference ?

[2016-11-17 03:24] sanathpathiraja commented on #1642
I used clone master repo.
it's work for me.

[2016-11-17 11:58] hyperreality commented on #1642
Probably a problem with environment variables in windows

[2016-11-17 13:49] mrtinkz commented on #1642
Thanks, I figured it was a problem with the command prompt I am using, tried the same in cygwin and it worked.

[2016-11-17 13:49] #1642 closed

[2016-11-17 23:15] #1643 closed

[2016-11-17 23:18] mycodeself commented on #1643
Was problem about git configuration on my docker container.. running
`git config --system user.name user && git config --system user.email user@localhost`
solve my problem.

[2016-11-17 23:22] mycodeself opened #1644 "What version of node/npm?"
Hi, im trying to get rid of my first meanjs application. Im using the yo generator and when the generator starts to build the application it always fail. I tried with node 7.1 and npm 3.9. What should i use for get successful start configuration ?

[2016-11-17 23:35] mleanos commented on #1636
@hyperreality You're right. The data structure for the Menus can support this, but the functionality within the Menus service, and header template doesn't. Updating the `addSubMenuItem` method to find a nested Menu item based on the parent state, would work to add the menu item as a child to the desired menu item. However, then we would have to update the header template to accommodate the possibi

[2016-11-17 23:55] mleanos commented on #1636
@abumere Something to consider: https://github.com/twbs/bootstrap/pull/6342#issuecomment-11594010

You can probably figure out a way to achieve this, but it would most likely be something that you had to hack together, as it's not generally supported/recommended.

[2016-11-18 01:49] codydaig commented on #1644
Depends on the version of the generator. If your using the latest generator, I recommend using Node 4. I don't think Node 7 is officially supported by this project yet.

[2016-11-18 16:30] mycodeself commented on #1644
Thank for your reply @codydaig, if i dont use the generator what version of Node its supported?

[2016-11-18 17:28] jpca999 opened #1645 "How can I run my mean app so that another application can call the backend api (of mean) to perform CRUD operations (on mean app) ?"
Any help/ suggestions would be very helpful.

I dont care abou the password authentication at this time..

Both can be running on same machine  just different ports.

[2016-11-18 22:10] mleanos commented on #1644
@mycodeself I'm running Node v6.6.0 and haven't encountered any issues with this project. Node 7 isn't fully supported yet, so you might run into issues. If you manage to get this project working with Node 7, would you report back on what issues you encountered, and how you solved them?

[2016-11-19 21:27] codydaig commented on #1644
@mycodeself Feel free to reopen if there's additional questions around this, otherwise i'm closing for now and considering it resolved.

[2016-11-19 21:27] #1644 closed

[2016-11-20 07:18] shanavas786 commented on #1645
`request` module would be enough. If you want multiple services to function as a single application (microservices), you can use reverse proxy server like `nginx`

[2016-11-20 18:51] GeorgeW opened #1646 "Question: How do I reset the image urls after I update the docker image?"
How do I update the image urls from mongo db? When I update my meanjs image the urls are no longer valid. The mongo image never gets killed so the data is the same.

[2016-11-20 20:21] panospost commented on #241
guys i dont know about you, but heroku apps do not deploy fine
https://epratirio2.herokuapp.com/ my app does not work any advise could be help full

[2016-11-20 21:30] mleanos commented on #1646
@GeorgeW Can you provide specific examples? I'm not quite following what your issue is.

1. What does "update my meanjs image" mean?
2. What is "no longer valid"?
3. What do you mean by "mongo image never gets killed"?

[2016-11-20 21:37] mleanos commented on #241
@panospost See this issue for more info on deploying to Heroku:
https://github.com/meanjs/mean/issues/1411

[2016-11-20 22:52] mleanos commented on #241
@panospost The easiest solution I've found is to use the following steps..

1. Update the [Procfile](https://github.com/meanjs/mean/blob/master/Procfile) to `node server.js` instead of using `npm start`; the latter uses Gulp which won't be installed on Heroku (unless you've configured your app to do so).
2. Remove *public/dist* from your [.gitignore](https://github.com/meanjs/mean/blob/master/.git

[2016-11-20 23:10] panospost commented on #241
thanks even though i use  grunt, i ill try it tommorrow :)

2016-11-20 23:52 GMT+01:00 Michael Leanos <notifications@github.com>:

[2016-11-20 23:14] panospost commented on #241
i have been troubleshooting my issue it is like i dont have a public/dist
folder and i have to find cdn for every library

2016-11-21 0:10 GMT+01:00 Panos tost <panospost1@gmail.com>:

[2016-11-21 07:09] panospost commented on #241
So if i pull the code from your repository the code will work just fine? :)

2016-11-21 0:14 GMT+01:00 Panos tost <panospost1@gmail.com>:

[2016-11-21 07:16] mleanos commented on #241
@panospost Theoretically, yes. However, I just pushed that branch up for reference. You can see the two latest commits, to see what changes you would need to make to a project cloned from the latest *master* branch of MEANJS. You still would need to update your Heroku application settings though.

[2016-11-21 07:20] panospost commented on #241
yeah no worries i would try to do with your directions and change my
project stuff first

2016-11-21 8:16 GMT+01:00 Michael Leanos <notifications@github.com>:

[2016-11-21 07:22] panospost commented on #241
and also i use a remote mongoDb instance and it works withoug putting the
mongodb uri as a variable, the only problem is the angular libraries..

2016-11-21 8:20 GMT+01:00 Panos tost <panospost1@gmail.com>:

[2016-11-21 08:37] panospost commented on #241
Hey michael i would really appreciate if you could take a look at my
repository
https://github.com/panospost/newtry2
here is the app as well, i did all your steps but it still cannot solve the
public/dist issue libraries
Appreciate your advice

2016-11-21 8:22 GMT+01:00 Panos tost <panospost1@gmail.com>:

[2016-11-21 10:04] panospost commented on #241
scrath that i thing i forgot to upload my application min and min css -.-

2016-11-21 9:37 GMT+01:00 Panos tost <panospost1@gmail.com>:

[2016-11-21 15:31] ennaimyassine opened #1648 "Return a json Postman"
I want to use mean.js in a mobile app, when I send a request to /authentication/signin in postman the response was "Cannot POST /authentication/signin"

[2016-11-21 16:46] codydaig commented on #1648
@ennaimyassine Because that route does not exist. The correct route is `/api/auth/signin`.

https://github.com/meanjs/mean/blob/master/modules/users/server/routes/auth.server.routes.js#L19

[2016-11-21 16:49] codydaig commented on #1645
What are you currently trying? Are you experiencing issues? The only thing I see stopping you is CORS, which is a simple fix.

[2016-11-21 16:57] ennaimyassine commented on #1648
@codydaig thank you so much I understand now that's so helpful

[2016-11-21 17:49] codydaig commented on #1648
No Problem! Let us know if there's anything else!

[2016-11-21 17:49] #1648 closed

[2016-11-21 18:53] panospost commented on #241
michael i found a work around for my angular libraries but now i dont get
any errors but my front end does not work still
look at my heroku application
https://trytryepratiriopanospost.herokuapp.com/

2016-11-21 11:04 GMT+01:00 Panos tost <panospost1@gmail.com>:

[2016-11-21 19:10] jpca999 commented on #1645
Haven't started on this yet, but soon.
 hmmm I'm trying to figure out if ghost would be great for this new website It's not much just a simple webpage like  jaybuyhousesinmiami.com.  But eventually(soon)  i want to explode it to every city nationwide.   Trying to figure out what cms or whatever is good for this kind of website.

Mostly it will contain blog, about us,  comments with facebook integr

[2016-11-21 20:26] codydaig commented on #1645
So this framework is a framework set-up to be a boiler plate project. It is not set-up to be a CMS. For a CMS that you want to be able to expand on later, I'd recommend a PHP based one like Wordpress of Drupal. There really isn't a CMS in the node world that's proven to be expandable.

[2016-11-21 23:07] mleanos commented on #241
@panospost Do you see any errors? Either console, or server related?

Did you do use the build task locally, before pushing your local app to Heroku?

[2016-11-22 03:37] AreWeThereYet opened #1649 "overview page & mongolab"
http://meanjs.org/docs.html
This no longer works
If you are using Pivotal Web Services run
$ cf create-service mongolab sandbox mean-mongo

This works
cf create-service mlab sandbox mean-mongo

[2016-11-22 07:03] abumere opened #1650 "Installing angular-ui-grid through bower gives an ECONFLICT error"
By bower.json file as it stands:

`{
  "name": "meanjs",
  "description": "Fullstack JavaScript with MongoDB, Express, AngularJS, and Node.js.",
  "homepage": "http://meanjs.org/",
  "license": "MIT",
  "dependencies": {
    "angular": "~1.5.0",
    "angular-animate": "~1.5.0",
    "angular-bootstrap": "~1.2.1",
    "angular-messages": "~1.5.0",
    "angular-mocks": "~1.5.0",
    "angular-resource

[2016-11-22 13:12] shanavas786 commented on #1650
angualar-ui-grid supports angular 1.2 - 1.4 [see](https://github.com/angular-ui/bower-ui-grid/blob/master/bower.json#L17)

https://github.com/angular-ui/ui-grid/issues/5070 my be helpful for you

[2016-11-22 15:17] codydaig commented on #1649
Thanks for pointing this out. We've actually removed cloud foundry from the framework because we couldn't keep up with it. I will get this removed ASAP so there's no confusion.

[2016-11-22 15:45] codydaig commented on #1650
You may have to downgrade the angular version, but I'm not sure the implications of this and the backwards compatibility with the project.

[2016-11-22 15:55] panospost commented on #241
i found a peculiar work around, but now for some reason even though it is
on bower.json and stuff , it does not recognize the angular-simple-logger
package..i think the best thing to do is upload the libraires and etc from
my pc to github, because heroku does not create the public/lib folder so i
changed the express folder tfor the bower_components folder, but i
encounter the error i told you

201

[2016-11-22 19:46] mleanos commented on #241
@panospost Did you include the angular-simple-logger library in */config/assets/production.js*?

IIRC, the bower libraries will get installed during the Heroku deployment build. This sounds most likely an issue with the additional libraries your application is using, not getting added to the production assets configurations.

[2016-11-22 21:08] panospost commented on #241
Listen to me when the deploymrn runs ,heroku does not create the public/lib
directory so i try to call the from the bower_componentd folder but it
gives me the mime type error, i changed the express file but still the
same, it is a dead end either way -.-

Στις 22 Νοε 2016 20:46, ο χρήστης "Michael Leanos" <notifications@github.com>
έγραψε:

[2016-11-23 00:45] jpca999 opened #1651 "CORS issue : AngularJS POST Fails: Response for preflight has invalid HTTP status code 404"
Hello guys,  so I've 2 applications running on ec2.

First one is mainly used for calling services upon.
Second one has the whole UI and it calls the other one for the data.  It runs okay for http READ operation but when i try to run UPDATE on the server  it gives me this error.

Can someone please help me how to resolve this CORS issue in mean app ?

[2016-11-23 00:57] codydaig commented on #1651
@jpca999 This question has been answered here. https://github.com/meanjs/mean/issues/1609

[2016-11-23 00:57] #1651 closed

[2016-11-23 10:41] panospost commented on #241
i changed my express.static(path.resolve(./)); even now that the whole
structure is exposed it still doest recognise the bower_components, any
ideas ?

2016-11-22 22:08 GMT+01:00 Panos tost <panospost1@gmail.com>:

[2016-11-23 12:48] #1645 closed

[2016-11-23 16:24] jpca999 commented on #1651
@codydaig  the Caller application is only Angular has no express/ node.   Is there any other way to resolve the CORS ?

[2016-11-23 18:18] jpca999 commented on #1609
@helxsz   where in meanjs  app should I add this configuration for cors ?

[2016-11-23 19:20] codydaig commented on #1609
https://github.com/meanjs/mean/blob/master/config/lib/express.js#L57

[2016-11-23 19:39] codydaig commented on #1651
CORS has to be handled on the server side.

[2016-11-23 19:48] jpca999 commented on #1651
got it working   http://stackoverflow.com/questions/40772050/how-do-i-setup-reverse-proxy-on-nginx-to-avoid-the-cors-issue-for-my-ionic-and-m

[2016-11-23 20:08] mleanos commented on #241
Why isn't Heroku building your *public/lib* folder? Bower should install the libraries in the projects postinstall script. What does your package.json look like, and what are the settings on your Heroku app?

When I deploy my app to Heroku, the bower libraries are installed. Is there any other reason, other than this not working for you, that you have changed to use the "bower_components" folder f

[2016-11-23 20:30] dalner commented on #1617
I also found this. Seems like the yo generator is out of date with the latest 0.5.0 refactoring of the client service request and client controller.

[2016-11-23 20:30] jpca999 commented on #1617
@dalner dalner +1

[2016-11-23 20:56] panospost commented on #241
check my github https://github.com/panospost/trytry
my package json the "scripts" section i have copied from your github

2016-11-23 21:08 GMT+01:00 Michael Leanos <notifications@github.com>:

[2016-11-23 22:26] codydaig commented on #1651
Glad to hear it!

[2016-11-24 17:15] kimbaudi opened #1652 "`npm install` error for Node v6.3+ due to "node-inspector" dev dependency in package.json"
After cloning this repo, I executed `npm install` and got error. I am using node v7.2.0 and npm v4.0.2. I believe `npm install` error affects people using Node v6.3 or greater.

Here is the relevant snippet of `npm-debug.log`:
[code]

The issue is "node-inspector" dev dependency in `package.json` (https://github.com/node-inspector/v8-debug/issues/7).

I resolved this issue by simply removing `"nod

[2016-11-24 18:16] helxsz opened #1653 "using mongodb for the acl policy"
In every module, there is a policy file to be called

`acl = new acl(new acl.memoryBackend());
`
I wonder if there are many modules then would it generates more than one instances. Currently I am working on the mongodb for the acl, which needs the mongodb database object directly.

So I am thinking there is a better to do it by

[code]

[2016-11-24 18:44] simison commented on #1653
It sounds like you should do some tests first to see if this really helps performance before spending too much time on this. WDYT?

[2016-11-24 18:54] helxsz commented on #1609
@jpca999 as codydaig shows above, in the module.exports.initMiddleware = function (app)

[2016-11-24 19:41] jpca999 commented on #1609
Resolved thx guys! :-)

[2016-11-25 03:52] avatarr opened #1654 "Is there use multiple view layout for different user role?"
Hi, I really want to know about server render view (swig) is possible to use multiple layout? , Example
I have 2 user role (Admin, student) in case:
1. 2 user not login I will render login page, So I can use same layout
2. if Admin login I will render admin page (management page)
3. if user login I will render a page to separate layout from admin layout , I don't want to use css display:none , ng-

[2016-11-25 05:15] genru commented on #1451
@mleanos @lirantal thank you for your discuss. after tons of google work, i found this is an actual "how to navigate to outside of angular app" question, not a routing matter.

finally i get a resolution here, http://stackoverflow.com/questions/16144619/how-do-i-navigate-away-from-an-angular-app

it perfectly resolved my problem. if you want to trigger server routing to render another server layou

[2016-11-25 06:36] vencivat commented on #448
The problem is with IE caching. Somehow IE wont request json from /articles, and still display the old/cached articles array. Any ideas of how to fix in IE ? IE version 11

[2016-11-26 15:45] codydaig commented on #1654
@avatarr at that point, your better off creating another client side application for the admin users along side the existing application. Unless your truly worried about people seeing the html, having it display none isn't too big of a deal since they still have to be authenticated to see the data returned from the API request.

[2016-11-26 15:49] codydaig commented on #1652
Howdy! We don't currently support node v7.

For future, you can always checkout our Travis.CI build page for what versions of node are currently working. Anything under allowed failures is versions we plan to support but are currently breaking the build. https://travis-ci.org/meanjs/mean

[2016-11-26 15:49] #1652 closed

[2016-11-26 21:22] mleanos commented on #1654
Generally, I prefer to use ng-if since it would prevent the html element (and it's children) to be added to the DOM; just a preference of mine really.

But what Cody said is absolutely right. The user would have to be authenticated with the Admin role for any data to be retrieved from the back-end in that case.

Also I agree that having two separate client-side apps would be best in this case.

[2016-11-26 21:42] mleanos commented on #1653
@helxsz Remember you will need the ACL for the `isAllowed` method. With this approach that could be tricky. I haven't looked at the MongoDB back-end option for the ACL library in detail.

For this configuration approach to work, you'd probably be better off refactoring the ACL policies to export a class-like object that retrieves the MongoDB backend end ACL object in it's constructor.

IMO, it wou

[2016-11-26 21:51] mleanos commented on #1617
@jpca999 This error is indicating that the `query` method of the Angular resource service for your Properties, is returning an object rather than Array. Check your back-end controller method to ensure it's actually returning an array of json objects. Can you provide code examples of what your Properties Angular service & server controller methods look like?

@dalner Can you explain what changes yo

[2016-11-26 22:29] dalner commented on #1617
@mleanos The yo generator is generating the service and controller logic from v0.4.2 but in the latest v0.5.0 the save logic is in the service and not in the controller (using the createOrUpdate call). I haven't chased down exactly where this error occurs and I believe there is an injection issue along the way but essentially the default articles module differ from the yo generator.

[2016-11-27 02:49] leopeng1995 opened #1656 "RESTful API Usage and Security"
One year ago, I tried to use the signin restful api of meanjs, *localhost:3000/api/auth/signin*, using the following command:

[code]

and then, in signin.json:

[code]

However, when I retried the same command at present, I got the following issue about HTTP Status 411:

[code]

It seems that I should include the Content-Length in the request? How can I fix it?

Another question is, the password

[2016-11-27 04:47] leopeng1995 commented on #1656
Update: I trited to add the header about Content-Length and got the following error:

[code]

[code]

[2016-11-27 06:57] leopeng1995 commented on #1656
**Update 2**: I found a similar problem in the Stack Overflow, http://stackoverflow.com/questions/17074375/passport-authentication-failed-in-basic-example. It proposed the reason why. Because the body-parser. But I found meanjs already uses bodyParser in config/lib/express.js. As a result, I am confused.

[2016-11-27 07:10] leopeng1995 commented on #1656
Thanks by God, I found the solution of the first problem:

[code]

The key point is the lastest version has changed the "username" to "usernameOrEmail".

[2016-11-27 07:38] lirantal commented on #1656
That's right, I was just thinking about that recently. I think that deserves a fix to also support username keyword, what do you think @codydaig @mleanos ?

[2016-11-27 08:53] helxsz commented on #1653
@mleanos of course, ACL logic should be in the configuration but inside each module. However, Initializing the ACL middleware should do in the server configuration since db object is easily found in the configuration. Otherwise as you said, passing the `'db'` object to the module

[2016-11-28 04:58] codydaig commented on #1656
I thought we already had support for username and email. I guess I'm confused where this got changed (or if I was dreaming things).

[2016-11-28 19:30] jpca999 commented on #1021
so what command do i have to give to run the app via pm2  ( in prod version i.e it should minify the stuff before it run )  ?

[2016-11-29 19:28] hyperreality commented on #1656
It was a fairly recent change: https://github.com/meanjs/mean/commit/6a6b630292cb2e05d1d79c9bf233d23955e2ae17

If you modify line 13 of `config/strategies/local.js` back from usernameOrEmail to username, and also change the field name in the login form, you would be able to make curl requests in the same manner with the username parameter instead.

I think this also involves questions of whether t

[2016-11-29 23:07] mleanos commented on #1656
For my own apps, I use email for logins. However, I don't necessarily see the need to enforce that here.

I think we should do this. Even though we're checking both username & email in the logic, by having a consistent name of "username" that the API & client-side forms use, we would be hiding a bit of the logic from parties that need not know how we're actually performing logins.

[2016-11-30 22:49] jrodenbostel opened #1658 "Simple Test Enhancement"
I'd like to propose a simple enhancement to the test cases for the example Article module.  The enhancement would cover cases where test cases fail without sharing useable debugging data when Articles can't be saved (which can happen for a variety of reasons).

The change would happen on line 309, and contain a simple conditional checking for an error and printing it out if one exists.  I'm submit

[2016-12-01 02:02] Aleyasen opened #1660 "crud module generator - page not found error"
I created a crud using yo:
[code]
it generated all the files, when I want to create a new product (`http://localhost:3000/product/create`), after filling the name and clicking on create, it will go to the page not found page `http://localhost:3000/not-found`, I think something is wrong with the routing generation.

p.s: I used this version `meanjs-mean-0.5.0-7-gd37b603.zip`

[2016-12-01 02:15] Aleyasen commented on #1660
Note that I got 404 (Not Found) error for this page when I submit the form `http://localhost:3000/products/api/products`, it should be this page?

[2016-12-01 20:09] jpca999 opened #1661 "Error: listen EADDRINUSE :::5858 is there a way to skip this port and start listinng on next avaialbe port ?"
![image](https://cloud.githubusercontent.com/assets/1026325/20810538/177e5bb4-b7d8-11e6-87dd-690c7c1a2ceb.png)

[2016-12-02 04:52] jiffify opened #1662 "reason for not using resolve for list articles"
Hi,

Just wondering, is there a reason for not using resolve for list articles inside the route configurations. I see list service is being called in the controller.

Thanks..

[2016-12-02 08:43] afkir01 commented on #1660
Hi There,

I am having the same issue! I created a module jobs using yo meanjs and when i try to make a new job, it goes to: http://localhost:3000/not-found

I am using version 0.5.0

[2016-12-02 09:18] huishuai commented on #1660
my too..
I got the same situation, 404 ...

[2016-12-02 13:49] hyperreality commented on #1662
`  function getArticle($stateParams, ArticlesService) {
    return ArticlesService.get({
      articleId: $stateParams.articleId
    }).$promise;
  }`

Resolve gets an article according to its ID in the route parameter and provides it to the controller. It keeps the controller clean by not involving $stateParams and promised-based code there.

But for the articles list page we want an array of art

[2016-12-02 17:27] mskinho opened #1663 "Show article from category mean.js"
**Link Menu**

[code]
**Route Client:**

[code]
**List Article Category:**

`<a class="md-12-line" ng-repeat="article in getArticles(category.id) ">`
**Controller Client:**

[code]
**I tried the other way:**

**Controller Client:**

` $scope.subCat = $stateParams.subcategoria;`
**List Article Category:**

`<a class="md-12-line" ng-repeat="article in article | Filter: {(category: category.id)} ">`

[2016-12-02 19:45] mleanos commented on #1662
To further @hyperreality's point. Adding the service call to the Article's list route configuration, would also be acceptable.

[2016-12-02 19:49] mleanos commented on #1662
@jiffify I'm going to close this, but feel free to add feedback here. Thanks.

[2016-12-02 19:49] #1662 closed

[2016-12-02 20:04] mleanos commented on #1663
@mskinho I don't understand what last two examples you provided in your description.

However, the one thing that jumps out at me is the referencing of `category` in your view/template. Where are you setting this value in your Angular controller? You must retrieve it from the router using `$stateParams.category` and set it to a scope variable (e.g. `$scope.category = $stateParams.category;`.

In a

[2016-12-02 20:15] mleanos commented on #1661
It's possible, but I don't see a huge advantage of doing this. This seems like it would only be useful in development environment. In my experience, most staging/production environments will expect a specific port to run the application in, or the environment itself (**not the application**) will assign a port when the app starts.

If you wanted to achieve this, you could abstract the assignment o

[2016-12-03 01:25] mskinho commented on #1663
mleanos thanks for your help.
I'm using $scope.category = $stateParams.category;.
I not expained in the right way.
I need show article for each categoryID.
Ex:
menu IT: all article from IT
menu marketing: All article from Marketing

Thanks for help.

[2016-12-03 04:01] jpca999 opened #1665 "How to display result of updating a resource on the UI."
This isn't an issue but seeking info on. I can use the toaster to display the result but hwo to get the success/ error for the request ?

I call the following factory whnever i've to update the data,

example code to send update resource :
server_PropertiesService.update({ propertyId: property._id }, property);

But when i send this request, I also want to know on the UI that request was good and

[2016-12-03 12:03] vaucouleur commented on #1660
@Aleyasen As a workaround, until the problem is fixed, simply try to "copy and paste" the article module, and call this new folder "product". Use your favorite text editor, or any other tool that your might prefer, and recursively replace (in this new product folder) all "article" text with "product", and all "Article" text with "Product". It should work, hope it helps.

[2016-12-03 12:42] vaucouleur commented on #1633
@jpca999 It's a broad question, and not necessarily meanjs specific. Many options, for example to move your static assets (images etc.) to a fast CDN (content delivery network). If you're truly stateless, and if you have a high number of parallel client Service requests, you could also take the multi-nodejs server route (careful about Socket..).

I don't use docker, so I cannot help with a docker

[2016-12-03 13:14] vaucouleur commented on #1665
@jpca999 It's not clear why the  current article example does not answer your question.. what is missing exactly ? See the following link/code for a notification example:
 https://github.com/meanjs/mean/blob/master/modules/articles/client/controllers/admin/article.client.controller.js#L47